etc/schemas/1.6.0/CancelPrescriptionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="CancelPrescription.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="PrescriptionIdentifier.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>

	<element name="CancelPrescriptionRequest" type="mc160:CancelPrescriptionRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Cancel one or more prescriptions</documentation>
			<documentation xml:lang="da-DK">Annuller en eller flere recepter</documentation>
		</annotation>
	</element>
	<complexType name="CancelPrescriptionRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
			<element name="ModifiedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="Prescription" type="mc160:CancelPrescriptionType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
