etc/schemas/1.6.0/CloseDoseDispensingCard.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <include schemaLocation="DoseDispensingCardIdentifier.xsd"/>
    <include schemaLocation="ModificationMetadata.xsd"/>

    <complexType name="CloseDoseDispensingCardType">
        <annotation>
            <documentation xml:lang="en-GB">Element for closing a Dose dispensing card for a specific person</documentation>
            <documentation xml:lang="da-DK">Lukning af et Dosisdispenseringskort for en given person</documentation>
        </annotation>
        <sequence>
        	<element name="Identifier" type="mc160:DoseDispensingCardIdentifierType" />
        	<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
