etc/schemas/1.6.0/CreatePrescriptionForUseInPracticeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="UnattachedPrescription.xsd"/>

	<element name="CreatePrescriptionForUseInPracticeRequest" type="mc160:CreatePrescriptionForUseInPracticeRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document containing one or more documents for creating prescriptions from drug medications</documentation>
			<documentation xml:lang="da-DK">Request-dokument der indeholder en eller flere dokumenter til at oprette recepter fra lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="CreatePrescriptionForUseInPracticeRequestType">
		<sequence>
			<element name="CreatedBy" type="mc160:ModificatorType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="Prescription" type="mc160:UnattachedPrescriptionType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
