etc/schemas/1.6.0/DosageAnyDay.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="DoseForAnyDay.xsd"/>
	
	<element name="AnyDosageDay" type="mc160:DosageAnyDayType">
		<annotation>
			<documentation xml:lang="en-GB">Group of dosage times for the same day</documentation>
			<documentation xml:lang="da-DK">Gruppering af doseringstidspunkter på samme dag</documentation>
		</annotation>
	</element>
	<complexType name="DosageAnyDayType">
		<sequence>
			<sequence>
				<element name="Dose" type="mc160:DoseForAnyDayType" maxOccurs="unbounded"/>
			</sequence>
		</sequence>
	</complexType>
</schema>
