etc/schemas/1.6.0/DosageStructuresForRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="DosageQuantityUnitText.xsd"/>
	<include schemaLocation="DosageQuantityUnitTexts.xsd"/>
	<include schemaLocation="DosageStructureForRequest.xsd"/>
	<include schemaLocation="EmptyDosageStructure.xsd"/>
	<include schemaLocation="AsSoonAsPossible.xsd"/>

	<element name="DosageStructuresForRequest" type="mc160:DosageStructuresForRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Description of the dosage times of a treatment</documentation>
			<documentation xml:lang="da-DK">Beskrivelse af doseringstidspunkter for en behandling</documentation>
		</annotation>
	</element>
	<complexType name="DosageStructuresForRequestType">
		<sequence>
			<choice>
				<element name="UnitText" type="mc160:DosageQuantityUnitTextType"/>
				<element name="UnitTexts" type="mc160:DosageQuantityUnitTextsType"/>
			</choice>
			<choice minOccurs="1" maxOccurs="10">
				<element name="Structure" type="mc160:DosageStructureForRequestType"/>
				<element name="EmptyStructure" type="mc160:EmptyDosageStructureType"/>
			</choice>
			<element name="AsSoonAsPossible" type="mc160:AsSoonAsPossibleType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
