etc/schemas/1.6.0/DoseDispensingSummary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="DoseDispensingCardSummary.xsd"/>
    <include schemaLocation="LatestDosageDispensingEffectuation.xsd"/>
    <include schemaLocation="HasOpenDosageDispensingPrescriptions.xsd"/>
    <include schemaLocation="IsDoseDispensingOnHold.xsd"/>

    <element name="DoseDispensingSummary" type="mc160:DoseDispensingSummaryType"/>
        <annotation>
            <documentation xml:lang="en-GB">Summary of a patients dose dispensing</documentation>
            <documentation xml:lang="da-DK">Oversigt over en patients dosisdispensering</documentation>
        </annotation>
        <complexType name="DoseDispensingSummaryType">
            <sequence>
                <element name="DoseDispensingCard" type="mc160:DoseDispensingCardSummaryType" minOccurs="0" maxOccurs="unbounded"/>
                <element name="LatestDosageDispensingEffectuation" type="mc160:LatestDosageDispensingEffectuationType" minOccurs="0"/>
                <element name="HasOpenDosageDispensingPrescriptions" type="mc160:HasOpenDosageDispensingPrescriptionsType"/>
                <element name="DoseDispensingOnHold" type="mc160:IsDoseDispensingOnHoldType" minOccurs="0"/>
            </sequence>
        </complexType>
</schema>
