etc/schemas/1.6.0/DoseForAnyDay.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="DoseTime.xsd"/>
	<include schemaLocation="DoseQuantity.xsd"/>

	<element name="DoseForAnyDay" type="medicinecard20150601:DoseForAnyDayType">
		<annotation>
			<documentation xml:lang="en-GB">Description of a dose element, when and how much</documentation>
			<documentation xml:lang="da-DK">Beskrivelse af en dosis på et givet stidspunkt, hvornår og hvor meget</documentation>
		</annotation>
	</element>
	<complexType name="DoseForAnyDayType">
		<sequence>
			<element name="Time" type="medicinecard20150601:DoseTimeType" minOccurs="0"/>
			<choice>
				<element name="Quantity" type="medicinecard20150601:DoseQuantityType"/>
				<sequence>
					<element name="MinimalQuantity" type="medicinecard20150601:DoseQuantityType"/>
					<element name="MaximalQuantity" type="medicinecard20150601:DoseQuantityType"/>
				</sequence>
			</choice>
		</sequence>
	</complexType>
</schema>
