etc/schemas/1.6.0/DrugMedicationVersionInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">
    
    <include schemaLocation="DrugMedicationVersion.xsd"/>
    <include schemaLocation="CreatedDateTime.xsd"/>
    
    <element name="DrugMedicationVersionInfo" type="mc160:DrugMedicationVersionInfoType">
        <annotation>
            <documentation xml:lang="en-GB">Versionnumber and created datetime for a specific drug medication version</documentation>
            <documentation xml:lang="da-DK">Versionsnummer og oprettet dato og tid for en specifik lægemiddelordination version</documentation>
        </annotation>
    </element>
    <complexType name="DrugMedicationVersionInfoType">
        <sequence>
            <element name="DrugMedicationVersion" type="mc160:DrugMedicationVersionType"/>
            <element name="VersionCreatedDateTime" type="mc160:CreatedDateTimeType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
