etc/schemas/1.6.0/DrugForm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="DrugFormText.xsd"/>
	<include schemaLocation="DrugFormCode.xsd"/>
	
	<element name="DrugForm" type="mc160:DrugFormType">
		<annotation>
			<documentation xml:lang="en-GB">Drug form, code and text</documentation>
			<documentation xml:lang="da-DK">Lægemiddelform, kode og tekst</documentation>
		</annotation>
	</element>
	<complexType name="DrugFormType">
		<sequence>
			<element name="Code" type="mc160:DrugFormCodeType"/>
			<?filter nsf="ignore"?>
			<element name="Text" type="mc160:DrugFormTextType"/>
		</sequence>
	</complexType>
</schema>
