etc/schemas/1.6.0/DrugMedicationHistory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="DrugMedicationHistoryPeriod.xsd"/>

    <element name="DrugMedicationHistory" type="mc160:DrugMedicationHistoryType">
        <annotation>
            <documentation xml:lang="en-GB">The history of a drugmedication</documentation>
            <documentation xml:lang="da-DK">Historikken for en lægemiddelordination</documentation>
        </annotation>
    </element>
    <complexType name="DrugMedicationHistoryType">
        <sequence>
                <element name="Period" type="mc160:DrugMedicationHistoryPeriodType" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
