etc/schemas/1.6.0/EmptyDosageStructure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="DosageTimesDosageEndingUndetermined.xsd"/>
	<include schemaLocation="DosageTimesEndDate.xsd"/>
	<include schemaLocation="DosageTimesStartDate.xsd"/>
	
	<element name="EmptyDosageStructure" type="mc160:EmptyDosageStructureType">
		<annotation>
			<documentation xml:lang="en-GB">Description of an interval in the treatment where the drug is not given</documentation>
			<documentation xml:lang="da-DK">Beskrivelse af en periode i behandlingen hvor lægemidlet ikke gives</documentation>
		</annotation>
	</element>
	<complexType name="EmptyDosageStructureType">
		<sequence>
			<choice>
				<element name="StartDate" type="mc160:DosageTimesStartDateType"/>
			</choice>
			<choice>
				<element name="EndDate" type="mc160:DosageTimesEndDateType"/>
				<element name="DosageEndingUndetermined" type="mc160:DosageTimesDosageEndingUndeterminedType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
