etc/schemas/1.6.0/ForwardPrescriptionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="PrescriptionRequestIdentifier.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="Organisation.xsd"/>

	<complexType name="ForwardPrescriptionRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element which forwards a prescriptionrequest to another organisation</documentation>
			<documentation xml:lang="da-DK">Element der viderestiller en receptanmodning til en anden udsteder</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="mc160:PrescriptionRequestIdentifierType" />
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="PrescribingOrganisation" type="mc160:OrganisationType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
