etc/schemas/1.6.0/GetAuthorisationDateForNewestOpenPrescriptionResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="AuthorisationDate.xsd"/>

	<element name="GetAuthorisationDateForNewestOpenPrescriptionResponse" type="mc160:GetAuthorisationDateForNewestOpenPrescriptionResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response for getting the authorisation date of the newest open prescription</documentation>
			<documentation xml:lang="da-DK">Svar til at hente udstedelsesdato for nyeste åbne recept</documentation>
		</annotation>
	</element>
	<complexType name="GetAuthorisationDateForNewestOpenPrescriptionResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="AuthorisationDate" type="mc160:AuthorisationDateType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
