etc/schemas/1.6.0/GetDetailedPlannedDispensingRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="PlannedDispensingIdentifier.xsd"/>

	<element name="GetDetailedPlannedDispensingRequest" type="mc160:GetDetailedPlannedDispensingRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request element for detailed planned dispensing</documentation>
			<documentation xml:lang="da-DK">Element til forespørgsel for detaljer om planlagt dispensering</documentation>
		</annotation>
	</element>
	<complexType name="GetDetailedPlannedDispensingRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="PlannedDispensingIdentifier" type="mc160:PlannedDispensingIdentifierType"/>
		</sequence>
	</complexType>
</schema>
