etc/schemas/1.6.0/GetDoseDispensingCardHistoryResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="DoseDispensingCardHistory.xsd"/>

	<element name="GetDoseDispensingCardHistoryResponse" type="mc160:GetDoseDispensingCardHistoryResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response with the history for a dose dispensing card</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar med historik for et dosisdispenseringskort</documentation>
		</annotation>
	</element>
	<complexType name="GetDoseDispensingCardHistoryResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="DoseDispensingCardHistory" type="mc160:DoseDispensingCardHistoryType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
