etc/schemas/1.6.0/GetExplicitDoseDispensingCardResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="Patient.xsd"/>
    <include schemaLocation="RequestDateTime.xsd"/>
    <include schemaLocation="DoseDispensingOnHold.xsd"/>
    <include schemaLocation="ExplicitDoseDispensingCard.xsd"/>

    <element name="GetExplicitDoseDispensingCardResponse" type="mc160:GetExplicitDoseDispensingCardResponseType">
        <annotation>
            <documentation xml:lang="en-GB">Response type with one or more explicit dose dispensing cards for a specific person</documentation>
            <documentation xml:lang="da-DK">Type for et svar med en eller flere eksplisitte dosisdispenseringskort for en given person</documentation>
        </annotation>
    </element>
    <complexType name="GetExplicitDoseDispensingCardResponseType">
        <sequence>
            <element name="Patient" type="mc160:PatientType"/>
            <element name="RequestDateTime" type="mc160:RequestDateTimeType"/>
            <element name="DoseDispensingOnHold" type="mc160:DoseDispensingOnHoldType" minOccurs="0"/>
            <element name="DoseDispensingCard" type="mc160:ExplicitDoseDispensingCardType" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
