etc/schemas/1.6.0/GetMedicineCardAsPDFRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="PrintType.xsd"/>
	<include schemaLocation="ModifiedDateTime.xsd"/>
	<include schemaLocation="ShowDosagePeriod.xsd"/>

	<element name="GetMedicineCardAsPDFRequest" type="mc160:GetMedicineCardAsPDFRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a request for a medicinecard returned as PDF</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel efter et medicinkort der returneres som PDF</documentation>
		</annotation>
	</element>
	<complexType name="GetMedicineCardAsPDFRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
			<element name="Version" type="mc160:MedicineCardVersionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="PrintType" type="mc160:PrintTypeType"/>
			<element name="DateTime" type="mc160:ModifiedDateTimeType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ShowDosageLimitations" type="mc160:ShowDosagePeriodType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
