etc/schemas/1.6.0/GetPackingOverviewResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="PackagedPeriodOverview.xsd"/>

	<element name="GetPackingOverviewResponse" type="mc160:GetPackingOverviewResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response to a request for a overview of packaged dose dispensing periods</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar på en søgning efter et overblik over pakkede dosisdispenserings perioder</documentation>
		</annotation>
	</element>
	<complexType name="GetPackingOverviewResponseType">
		<sequence>
				<element name="PackagedPeriodOverview" type="mc160:PackagedPeriodOverviewType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
