etc/schemas/1.6.0/GetPrescriptionRequestVersionsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="PrescriptionRequestIdentifier.xsd"/>

	<element name="GetPrescriptionRequestVersionsRequest" type="mc160:GetPrescriptionRequestVersionsRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request to retrieve versions of a prescription request</documentation>
			<documentation xml:lang="da-DK">Forespørgsel, der henter alle versioner af en receptanmodning</documentation>
		</annotation>
	</element>
	<complexType name="GetPrescriptionRequestVersionsRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="PrescriptionRequestIdentifier" type="mc160:PrescriptionRequestIdentifierType" />
		</sequence>
	</complexType>
</schema>
