etc/schemas/1.6.0/Hospitalized.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">
    
	<include schemaLocation="Organisation.xsd"/>
    <element name="Hospitalized" type="mc160:HospitalizedType">
        <annotation>
            <documentation xml:lang="en-GB">Information about the hospital</documentation>
            <documentation xml:lang="da-DK">Information om hospitalet</documentation>
        </annotation>
    </element>
	<complexType name="HospitalizedType">
		<sequence>
            <element name="Organisation" type="mc160:OrganisationType"/>
		</sequence>
	</complexType>
</schema>
