etc/schemas/1.6.0/InvalidatePrescriptionResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="PrescriptionIdentifier.xsd"/>

	<element name="InvalidatePrescriptionResponse" type="mc160:InvalidatePrescriptionResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Service response on successfully invalidating a Prescription </documentation>
			<documentation xml:lang="da-DK">Service svar ved en gennemført ugyldiggørelse af en Recept</documentation>
		</annotation>
	</element>
	<complexType name="InvalidatePrescriptionResponseType">
		<sequence>
			<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
				<element name="PrescriptionIdentifier" type="mc160:PrescriptionIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</sequence>
	</complexType>
</schema>
