etc/schemas/1.6.0/InvalidEffectuation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="EffectuationIdentifier.xsd"/>
	<element name="InvalidEffectuation" type="mc160:InvalidEffectuationType">
		<annotation>
			<documentation xml:lang="en-GB">An invalid effectuation</documentation>
			<documentation xml:lang="da-DK">En ugyldig effektuering</documentation>
		</annotation>
	</element>
	<complexType name="InvalidEffectuationType">
		<sequence>
			<element name="Identifier" type="mc160:EffectuationIdentifierType"/>
		</sequence>
	</complexType>
</schema>
