etc/schemas/1.6.0/NotReviewed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="ReviewedDateTime.xsd"/>

	<element name="NotReviewed" type="mc160:NotReviewedType">
		<annotation>
			<documentation xml:lang="en-GB">Information about who marked the medicine card not reviewed, at admission to hospital, including a timestamp when this occurred</documentation>
			<documentation xml:lang="da-DK">Information hvem der markerede medicinkortet manglede medicinkort-gennemgang, typisk ved indlæggelse på sygehus, inklusiv tidspunktet</documentation>
		</annotation>
	</element>
	<complexType name="NotReviewedType">
		<sequence>
			<element name="By" type="mc160:ModificatorType"/>
			<element name="DateTime" type="mc160:ReviewedDateTimeType"/>
		</sequence>
	</complexType>
</schema>
