etc/schemas/1.6.0/OrganisationIdentifier.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="Source.xsd"/>
	<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType">
		<annotation>
			<documentation xml:lang="en-GB">Number or code identifying an organisation</documentation>
			<documentation xml:lang="da-DK">Nummer eller kode der identificerer en organisation</documentation>
		</annotation>
	</element>
	<complexType name="OrganisationIdentifierType">
		<simpleContent>
			<extension base="mc160:OrganisationIdentifierValueType">
				<attribute name="source" type="mc160:OrganisationIdentifierSourceType" use="required"/>
							</extension>
		</simpleContent>
	</complexType>
	<simpleType name="OrganisationIdentifierValueType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="200"/>
		</restriction>
	</simpleType>
	<simpleType name="OrganisationIdentifierSourceType">
		<union memberTypes="mc160:OrganisationIdentifierPredefinedSourceType mc160:UndefinedSourceType"/>
	</simpleType>
	<simpleType name="OrganisationIdentifierPredefinedSourceType">
		<restriction base="mc160:UndefinedSourceType">
			<enumeration value="SKS"/>
			<enumeration value="Yder"/>
			<enumeration value="EAN-Lokationsnummer"/>
			<enumeration value="CVR"/>
			<enumeration value="CVR-P"/>
			<enumeration value="Kommunekode"/>
			<enumeration value="SOR"/>
			<enumeration value="Udenlandsk"/>
		</restriction>
	</simpleType>
</schema>
