etc/schemas/1.6.0/PackageNumber.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="Source.xsd"/>
	<include schemaLocation="SourceDate.xsd"/>
	<include schemaLocation="SourceYearAndWeek.xsd"/>
	
	<element name="PackageNumber" type="mc160:PackageNumberType">
		<annotation>
			<documentation xml:lang="en-GB">The package number (DMA02 field 2)</documentation>
			<documentation xml:lang="da-DK">Lægemiddelpakningens varenummer (LMS02 felt 2)</documentation>
		</annotation>
	</element>
	<complexType name="PackageNumberType">
		<simpleContent>
			<extension base="mc160:PackageNumberValueType">
				<attribute name="source" type="mc160:PackageNumberSourceType" use="required"/>
				<attribute name="date" type="mc160:SourceDateType" use="optional"/>
				<attribute name="yearAndWeek" type="mc160:SourceYearAndWeekType" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="PackageNumberValueType">
		<restriction base="int">
			<minInclusive value="1"/>
			<maxInclusive value="999999"/>
		</restriction>
	</simpleType>
	<simpleType name="PackageNumberSourceType">
		<union memberTypes="mc160:PackageNumberPredefinedSourceType mc160:UndefinedSourceType"/>
	</simpleType>
	<simpleType name="PackageNumberPredefinedSourceType">
		<restriction base="mc160:UndefinedSourceType">
			<enumeration value="Medicinpriser"/>
			<enumeration value="Frihandelsvare"/>
			<enumeration value="Local"/>
			<enumeration value="Magistrel"/>
		</restriction>
	</simpleType>
</schema>
