etc/schemas/1.6.0/PlannedDoseTime.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">



	<simpleType name="PlannedDoseTimeType">
		<annotation>
			<documentation xml:lang="en-GB">The actual time of a planned dosage time</documentation>
			<documentation xml:lang="da-DK">Tidspunkt for en planlagt dosering</documentation>
		</annotation>
		<union memberTypes="mc160:MorningNoonEveningNightDoseTimeType mc160:TimeDoseTimeType mc160:UndefinedPlannedDoseTimeType">
		</union>
	</simpleType>
	<simpleType name="MorningNoonEveningNightDoseTimeType">
		<restriction base="string">
			<enumeration value="morning"/>
			<enumeration value="noon"/>
			<enumeration value="evening"/>
			<enumeration value="night"/>
		</restriction>
	</simpleType>
	<simpleType name="TimeDoseTimeType">
		<restriction base="time"/>
	</simpleType>
	<simpleType name="UndefinedPlannedDoseTimeType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="20"/>
		</restriction>
	</simpleType>
	
</schema>
