etc/schemas/1.6.0/PrescriptionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="PrescriptionRequestIdentifier.xsd"/>
	<include schemaLocation="PrescriptionRequestVersion.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="Created.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="Modified.xsd"/>
	<include schemaLocation="PackageRestriction.xsd"/>
	<include schemaLocation="CreateOrder.xsd"/>
	<include schemaLocation="PrescriptionRequestStatus.xsd"/>
	<include schemaLocation="PrescriptionIdentifier.xsd"/>
	<include schemaLocation="PrescriptionRequestCancellationReason.xsd"/>

	<complexType name="PrescriptionRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element which describes a prescriptionrequest</documentation>
			<documentation xml:lang="da-DK">Element der beskriver en receptanmodning</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="mc160:PrescriptionRequestIdentifierType" />
			<element name="Version" type="mc160:PrescriptionRequestVersionType" minOccurs="0"/>
			<element name="DrugMedicationIdentifier" type="mc160:DrugMedicationIdentifierType" />
			<element name="Created" type="mc160:CreatedType" />
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="Modified" type="mc160:ModifiedType" minOccurs="0"/>
			<element name="PrescribingOrganisation" type="mc160:OrganisationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="PackageRestriction" type="mc160:PackageRestrictionType" minOccurs="0" />
			<element name="Order" type="mc160:CreateOrderType" minOccurs="0"/>
			<element name="Status" type="mc160:PrescriptionRequestStatusType" />
			<element name="PrescriptionIdentifier" type="mc160:PrescriptionIdentifierType" minOccurs="0"/>
			<element name="CancelledBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="CancellationReason" type="mc160:PrescriptionRequestCancellationReasonType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
