etc/schemas/1.6.0/ReplacePrescriptionResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="PrescriptionIdentifier.xsd"/>

	<element name="ReplacePrescriptionResponse" type="mc160:ReplacePrescriptionResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response from replacing prescriptions</documentation>
			<documentation xml:lang="da-DK">Svar på erstatning af recept</documentation>
		</annotation>
	</element>
	<complexType name="ReplacePrescriptionResponseType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="Prescription" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="NewPrescriptionIdentifier" type="mc160:PrescriptionIdentifierType"/>
						<element name="ReplacedPrescriptionIdentifier" type="mc160:PrescriptionIdentifierType"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
</schema>
