etc/schemas/1.6.0/ReplacePrescription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

	<include schemaLocation="PrescriptionIdentifier.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="AuthorisationDateTime.xsd"/>
	<include schemaLocation="ReimbursementClause.xsd"/>
	<include schemaLocation="SystemName.xsd"/>
	<include schemaLocation="ValidFromDate.xsd"/>
	<include schemaLocation="ValidToDate.xsd"/>
	<include schemaLocation="PackageRestriction.xsd"/>
	<include schemaLocation="CreateDoseDispensedRestriction.xsd"/>
	<include schemaLocation="Indication.xsd"/>
	<include schemaLocation="DosageText.xsd"/>
	<include schemaLocation="SubstitutionAllowed.xsd"/>
	<include schemaLocation="SupplementaryInformation.xsd"/>
	<include schemaLocation="CreateOrder.xsd"/>
	<include schemaLocation="InvalidateReplacedPrescription.xsd"/>
	<include schemaLocation="CloseReplacedPrescription.xsd"/>

	<complexType name="ReplacePrescriptionType">
		<annotation>
			<documentation xml:lang="en-GB">Element for replacing a Prescription with a new one</documentation>
			<documentation xml:lang="da-DK">Element til at angive at en recept skal erstattes af en ny</documentation>
		</annotation>
		<sequence>
			<element name="ReplacePrescriptionIdentifier" type="mc160:PrescriptionIdentifierType"/>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="AuthorisationDateTime" type="mc160:AuthorisationDateTimeType"/>
			<element name="SystemName" type="mc160:SystemNameType"/>
            <element name="ReimbursementClause" type="mc160:ReimbursementClauseType" minOccurs="0"/>
            <element name="ValidFromDate" type="mc160:ValidFromDateType" minOccurs="0"/>
            <element name="ValidToDate" type="mc160:ValidToDateType"/>
            <choice>
                <element name="PackageRestriction" type="mc160:PackageRestrictionType"/>
                <element name="DoseDispensedRestriction" type="mc160:CreateDoseDispensedRestrictionType"/>
			</choice>
			<element name="Indication" type="mc160:IndicationType" minOccurs="0"/>
			<element name="DosageText" type="mc160:DosageTextType" minOccurs="0"/>
			<element name="SubstitutionAllowed" type="mc160:SubstitutionAllowedType"/>
			<element name="SupplementaryInformation" type="mc160:SupplementaryInformationType" minOccurs="0"/>
            <element name="Order" type="mc160:CreateOrderType" minOccurs="0"/>
            <choice>
				<element name="InvalidateReplacedPrescription" type="mc160:InvalidateReplacedPrescriptionType"/>
				<element name="CloseReplacedPrescription" type="mc160:CloseReplacedPrescriptionType"/>
            </choice>
		</sequence>
	</complexType>
</schema>
