etc/schemas/1.6.0/SearchPlannedDispensingResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonWithPl.xsd"/>

	<element name="SearchPlannedDispensingResponse" type="medicinecard20150601E3:SearchPlannedDispensingResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response with a list of Planned dispensing</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar med en liste af planlagte dispenseringer</documentation>
		</annotation>
	</element>
	<complexType name="SearchPlannedDispensingResponseType">
		<sequence>
            <element name="PersonWithPlannedDispensing" type="medicinecard20150601E3:PersonWithPlannedDispensingType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
