etc/schemas/1.6.0/SearchPrescriptionRequestsOrganisation.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <include schemaLocation="OrganisationName.xsd"/>
    <include schemaLocation="OrganisationType.xsd"/>
    <include schemaLocation="OrganisationIdentifier.xsd"/>

    <complexType name="SearchPrescriptionRequestsOrganisationType">
        <sequence>
            <element name="Type" type="mc160:OrganisationTypeType"/>
            <element name="Identifier" type="mc160:OrganisationIdentifierType"/>
        </sequence>
    </complexType>
</schema>
