etc/schemas/1.6.0/SetMedicineCardReviewed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="ReviewedDateTime.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>
	
	<element name="SetMedicineCardReviewed" type="mc160:SetMedicineCardReviewedType">
		<annotation>
			<documentation xml:lang="en-GB">Element for setting a date and time for a review of the medicine card</documentation>
			<documentation xml:lang="da-DK">Element til at sætte dato og tid for en medicinkort-gennemgang</documentation>
		</annotation>
	</element>
	<complexType name="SetMedicineCardReviewedType">
		<sequence>
			<element name="ReviewedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="ReviewedDateTime" type="mc160:ReviewedDateTimeType"/>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
