etc/schemas/1.6.0/Timing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="SystemName.xsd"/>
	<include schemaLocation="ServiceName.xsd"/>
	
	<element name="Timing" type="mc160:TimingType">
		<annotation>
			<documentation xml:lang="en-GB">Structure to keep track of the time consumed between request and response for a web service call</documentation>
			<documentation xml:lang="da-DK">En structur til at spore tidsforbruget mellem request og response på et webservice-kald</documentation>
		</annotation>
	</element>
	<complexType name="TimingType">
		<sequence>
			<element name="SystemName" type="mc160:SystemNameType"/>
			<element name="ServiceName" type="mc160:ServiceNameType"/>
			<element name="TimeInMilliseconds" type="int"/>
		</sequence>
	</complexType>
</schema>
