etc/schemas/1.6.0/UndoEffectuationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="EffectuationIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="PrescriptionIdentifier.xsd"/>
	<include schemaLocation="OrderIdentifier.xsd"/>

	<element name="UndoEffectuationResponse" type="mc160:UndoEffectuationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Service response for undoing an effectuation</documentation>
			<documentation xml:lang="da-DK">Service svar på en tilbageførsel</documentation>
		</annotation>
	</element>
	<complexType name="UndoEffectuationResponseType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="Prescription" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="Identifier" type="mc160:PrescriptionIdentifierType"/>
						<element name="Order" maxOccurs="unbounded">
							<complexType>
								<sequence>
									<element name="Identifier" type="mc160:OrderIdentifierType"/>
									<element name="Effectuation" maxOccurs="unbounded">
										<complexType>
											<sequence>
												<element name="Identifier" type="mc160:EffectuationIdentifierType"/>
											</sequence>
										</complexType>
									</element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
</schema>
