etc/schemas/1.6.0/UndoReplacePrescriptionResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="UndoReplacementEntry.xsd"/>

	<element name="UndoReplacePrescriptionResponse" type="mc160:UndoReplacePrescriptionResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response document containing one or more result elements from marking reversion of a prescription replacement</documentation>
			<documentation xml:lang="da-DK">Response-dokument der indeholder en eller flere elementer som markere fortrydelsen af en recept erstatning</documentation>
		</annotation>
	</element>
	<complexType name="UndoReplacePrescriptionResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="Prescription" type="mc160:UndoReplacementEntryType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
