etc/schemas/1.6.0/UpdatePackingGroupRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="UpdatePackingGroup.xsd"/>

	<element name="UpdatePackingGroupRequest" type="mc160:UpdatePackingGroupRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request to update a DD packing group</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel der opdaterer en DD pakkegruppe</documentation>
		</annotation>
	</element>
	<complexType name="UpdatePackingGroupRequestType">
		<sequence>
			<element name="ModifiedBy" type="mc160:ModificatorType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="PackingGroup" type="mc160:UpdatePackingGroupType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
