etc/schemas/1.6.0/WithdrawDrugMedicationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<include schemaLocation="WithdrawnDrugMedication.xsd"/>

	<element name="WithdrawDrugMedicationResponse" type="mc160:WithdrawDrugMedicationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response from a for a request which updated an existing drug medication</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar på en forespørgsel der opdaterer en eksisterende lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="WithdrawDrugMedicationResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
			<element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
			<element name="VersionMismatchWarning" type="mc160:VersionMismatchWarningType" minOccurs="0"/>
			<element name="DrugMedication" type="mc160:WithdrawnDrugMedicationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
