etc/schemas/1.6.0/WithdrawDrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>	
	
	<element name="WithdrawDrugMedication" type="mc160:WithdrawDrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">A request which withdraws the drug prescription</documentation>
			<documentation xml:lang="da-DK">En forespørgsel der seponerer en lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="WithdrawDrugMedicationType">
		<sequence>
			<element name="Identifier" type="mc160:DrugMedicationIdentifierType"/>
			<element name="WithdrawnBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
