etc/schemas/2022/02/01/BatchDataService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01" xmlns:tns="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01" elementFormDefault="qualified">

	<!--Shared elements and types -->

	<complexType name="PersonIdentifierType">
		<simpleContent>
			<extension base="tns:PersonIdentifierValueType">
				<attribute name="source" type="tns:PersonIdentifierSourceType" use="required"/>
			</extension>
		</simpleContent>
	</complexType>

	<simpleType name="PersonIdentifierValueType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="50"/>
		</restriction>
	</simpleType>

	<simpleType name="PersonIdentifierSourceType">
		<union memberTypes="tns:PersonIdentifierPredefinedSourceType tns:UndefinedSourceType"/>
	</simpleType>

	<simpleType name="PersonIdentifierPredefinedSourceType">
		<restriction base="tns:UndefinedSourceType">
			<enumeration value="CPR"/>
			<enumeration value="X-eCPR"/>
			<enumeration value="SORPERSON"/>
		</restriction>
	</simpleType>

	<simpleType name="UndefinedSourceType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="200"/>
		</restriction>
	</simpleType>

	<!--GetMedicineCardDataForDeceasedPersonsRequest -->

	<complexType name="GetMedicineCardDataForDeceasedPersonsRequestType">
		<sequence>
			<element name="DeceasedBefore" type="dateTime"/>
			<element name="MaxResults" type="integer"/>
		</sequence>
	</complexType>
	
	<complexType name="MedicineCardDataForDeceasedPersons">
		<sequence>
			<element name="PersonIdentifier" type="tns:PersonIdentifierType"/>
			<element name="DeceasedAt" type="dateTime"/>
			<element name="NoOfDrugMedicationsForPerson" type="int"/>
		</sequence>
	</complexType>
	
	<complexType name="GetMedicineCardDataForDeceasedPersonsReponseType">
		<sequence>
			<element name="MedicineCardData" type="tns:MedicineCardDataForDeceasedPersons" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>
	
	<element name="GetMedicineCardDataForDeceasedPersonsRequest" type="tns:GetMedicineCardDataForDeceasedPersonsRequestType" />
	<element name="GetMedicineCardDataForDeceasedPersonsResponse" type="tns:GetMedicineCardDataForDeceasedPersonsReponseType" />

	<!-- GetCitizensForCitizenLetterRequest -->
	 
	<complexType name="GetCitizensForCitizenLetterRequestType">
		<sequence>
		</sequence>
	</complexType>

	<simpleType name="ChannelType">
		<restriction base="string">
			<enumeration value="EBOKS"/>
			<enumeration value="STRAALFORS"/>
		</restriction>
	</simpleType>

	<complexType name="Person">
		<sequence>
			<element name="PersonIdentifier" type="tns:PersonIdentifierType"/>
			<element name="FirstName" type="string"/>
			<element name="MiddleName" type="string"/>
			<element name="LastName" type="string"/>
			<element name="UnstructuredName" type="string"/>
			<element name="StreetName" type="string"/>
			<element name="StreetBuildingIdentifier" type="string"/>
			<element name="Floor" type="string"/>
			<element name="Side" type="string"/>
			<element name="PostCodeIdentifier" type="string"/>
			<element name="DistrictName" type="string"/>
			<element name="NameProtectionStart" type="dateTime"/>
			<element name="NameProtectionEnd" type="dateTime"/>
			<element name="DateOfBirth" type="date"/>
			<element name="Gender" type="string"/>
			<element name="LastModified" type="dateTime"/>
			<element name="Status" type="string"/>
			<element name="UnstructuredAddressLines" type="string" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<complexType name="Citizen">
		<sequence>
			<element name="PersonIdentifier" type="tns:PersonIdentifierValueType"/>
			<element name="Channel" type="tns:ChannelType"/>
			<element name="Person" type="tns:Person" minOccurs="0"/>
		</sequence>
	</complexType>
	
	<complexType name="GetCitizensForCitizenLetterResponseType">
		<sequence>
			<element name="Citizen" type="tns:Citizen" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<element name="GetCitizensForCitizenLetterRequest" type="tns:GetCitizensForCitizenLetterRequestType" />
	<element name="GetCitizensForCitizenLetterResponse" type="tns:GetCitizensForCitizenLetterResponseType" />

	<!--GetDrugMedicationToDeleteRequest -->

	<simpleType name="TableNameType">
		<restriction base="tns:UndefinedTableNameType">
			<enumeration value="Dosages"/>
			<enumeration value="DosageTimes"/>
			<enumeration value="DoseDispensingCards"/>
			<enumeration value="DoseDispensingPeriodEffectuations"/>
			<enumeration value="DoseDispensingPeriods"/>
			<enumeration value="DrugMedications"/>
			<enumeration value="DrugMedPrescriptions"/>
			<enumeration value="Drugs"/>
			<enumeration value="Effectuations"/>
			<enumeration value="FollowUp"/>
			<enumeration value="PackagedDrugs"/>
			<enumeration value="Packages"/>
			<enumeration value="PausedPeriods"/>
			<enumeration value="PlannedAdministrationPeriods"/>
			<enumeration value="PlannedAdministrationTimes"/>
			<enumeration value="PlannedAdministrations"/>
			<enumeration value="PlannedDispensings"/>
			<enumeration value="Substances"/>
			<enumeration value="StruturedDosages"/>
		</restriction>
	</simpleType>

	<simpleType name="UndefinedTableNameType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="200"/>
		</restriction>
	</simpleType>

	<simpleType name="TableKeyType">
		<restriction base="tns:UndefinedTableKeyType">
			<enumeration value="DrugMedicationIdentifier"/>
			<enumeration value="PlannedDispensingIdentifier"/>
			<enumeration value="PlannedAdministrationPID"/>
			<enumeration value="PlannedAdministrationPeriodPID"/>
			<enumeration value="PackagedDrugPID"/>
			<enumeration value="DrugPID"/>
			<enumeration value="SubstancePID"/>
			<enumeration value="PackagePID"/>
			<enumeration value="DrugMedicationPID"/>
			<enumeration value="EffectuationPID"/>
			<enumeration value="DrugMedicationPID"/>
			<enumeration value="StructuredDosagePID"/>
			<enumeration value="DosagePID"/>
			<enumeration value="DoseDispensingCardIdentifier"/>
			<enumeration value="DoseDispensingPeriodIdentifier"/>
			<enumeration value="PlannedDispensingIdentifier"/>
			<enumeration value="PackagedDrugPID"/>
			<enumeration value="DrugmedPrescriptionPID"/>
		</restriction>
	</simpleType>

	<simpleType name="UndefinedTableKeyType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="200"/>
		</restriction>
	</simpleType>

	<complexType name="DeletionEntry">
		<sequence>
			<element name="Identifier" type="int"/>
			<element name="DeletionElements" type="tns:DataForDeletion" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<complexType name="DataForDeletion">
		<sequence>
			<element name="Identifier" type="int" maxOccurs="unbounded"/>
			<element name="TableName" type="string"/>
			<element name="TableKey" type="string"/>
			<element name="Priority" type="int"/>
		</sequence>
	</complexType>

	<element name="GetDrugMedicationToDeleteRequest" type="tns:GetDrugMedicationToDeleteRequestType" />
	<element name="GetDrugMedicationToDeleteResponse" type="tns:GetDrugMedicationToDeleteResponseType" />

	<complexType name="GetDrugMedicationToDeleteRequestType">
		<sequence>
			<element name="ExpiredBefore" type="dateTime"/>
			<element name="MaxResults" type="integer"/>
		</sequence>
	</complexType>

	<complexType name="GetDrugMedicationToDeleteResponseType">
		<sequence>
			<element name="ResultsSize" type="int"/>
			<element name="DeletionData" type="tns:DeletionEntry" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<!--XXXXXXXXXXXX -->

</schema>
