etc/schemas/2022/02/01/BatchDataService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01"
		xmlns:tns="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01" elementFormDefault="qualified">

	<!--Shared elements and types -->

	<element name="BatchDataServiceResponse" type="tns:BatchDataServiceResponseType" />

	<complexType name="BatchDataServiceResponseType">
		<sequence>
			<element name="Status" type="string"/>
		</sequence>
	</complexType>

	<!--GetMedicineCardDataForDeceasedPersonsRequest -->

	<complexType name="GetMedicineCardDataForDeceasedPersonsRequestType">
		<sequence>
			<element name="DeceasedBefore" type="dateTime"/>
			<element name="MaxResults" type="integer"/>
		</sequence>
	</complexType>

	<element name="GetMedicineCardDataForDeceasedPersonsRequest" type="tns:GetMedicineCardDataForDeceasedPersonsRequestType" />

	<!-- GetDoctorsWithExpiringDDPatientsRequest -->
	 
	<complexType name="GetDoctorsWithExpiringDDPatientsRequestType">
		<sequence>
			<element name="SearchDays" type="int"/>
			<element name="Cvr" type="string" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<element name="GetDoctorsWithExpiringDDPatientsRequest" type="tns:GetDoctorsWithExpiringDDPatientsRequestType" />

	<complexType name="YderToCvrMappingType">
		<sequence>
			<element name="Yder" type="string"/>
			<element name="Cvr" type="string"/>
		</sequence>
	</complexType>

	<complexType name="GetDoctorsWithMixedDailyDosagePatientsRequestType">
		<sequence>
			<element name="SearchDays" type="int"/>
			<element name="Cvr" type="string" minOccurs="0" maxOccurs="unbounded"/>
			<element name="YderToCvrMapping" type="tns:YderToCvrMappingType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<element name="GetDoctorsWithMixedDailyDosagePatientsRequest" type="tns:GetDoctorsWithMixedDailyDosagePatientsRequestType" />


	<!--GetDrugMedicationToDeleteRequest -->

	<element name="GetDrugMedicationToDeleteRequest" type="tns:GetDrugMedicationToDeleteRequestType" />

	<complexType name="GetDrugMedicationToDeleteRequestType">
		<sequence>
			<element name="ExpiredBefore" type="dateTime"/>
			<element name="MaxResults" type="integer"/>
		</sequence>
	</complexType>

	<!--GetDrugMedicationOnDeceasedRequest -->

	<element name="GetDrugMedicationOnDeceasedRequest" type="tns:GetDrugMedicationOnDeceasedRequestType" />

	<complexType name="GetDrugMedicationOnDeceasedRequestType">
		<sequence>
			<element name="DeceasedBefore" type="dateTime"/>
			<element name="MaxResults" type="integer"/>
		</sequence>
	</complexType>

	<!--GetDrugMedPrescriptionsToDeleteRequest -->

	<element name="GetDrugMedPrescriptionsToDeleteRequest" type="tns:GetDrugMedPrescriptionsToDeleteRequestType" />

	<complexType name="GetDrugMedPrescriptionsToDeleteRequestType">
		<sequence>
			<element name="ExpiredBefore" type="dateTime"/>
			<element name="MaxResults" type="integer"/>
		</sequence>
	</complexType>

	<!--GetDrugMedicationsForDeletionRequest -->

	<element name="GetDrugMedicationsMarkedForDeletionRequest" type="tns:GetDrugMedicationsMarkedForDeletionRequestType" />

	<complexType name="GetDrugMedicationsMarkedForDeletionRequestType">
		<sequence>
			<element name="MaxResults" type="integer"/>
		</sequence>
	</complexType>

	<!--GetDoseDispensingCardsToDeleteRequest -->

	<element name="GetDoseDispensingCardsToDeleteRequest" type="tns:GetDoseDispensingCardsToDeleteRequestType" />

	<complexType name="GetDoseDispensingCardsToDeleteRequestType">
		<sequence>
			<element name="RemovedBefore" type="dateTime"/>
			<element name="DeceasedAt" type="dateTime"/>
			<element name="MaxResults" type="integer"/>
		</sequence>
	</complexType>

	<!--GetDoseDispensingPeriodsToDeleteRequest -->

	<element name="GetDoseDispensingPeriodsToDeleteRequest" type="tns:GetDoseDispensingPeriodsToDeleteRequestType" />

	<complexType name="GetDoseDispensingPeriodsToDeleteRequestType">
		<sequence>
			<element name="ExpiredBefore" type="dateTime"/>
			<element name="MaxResults" type="integer"/>
		</sequence>
	</complexType>

	<!--GetPatientRelationsAndRegistrationsToDeleteRequest -->

	<element name="GetPatientRelationsAndRegistrationsToDeleteRequest" type="tns:GetPatientRelationsAndRegistrationsToDeleteRequestType" />

	<complexType name="GetPatientRelationsAndRegistrationsToDeleteRequestType">
		<sequence>
			<element name="DeceasedBefore" type="dateTime"/>
			<element name="RemovedBefore" type="dateTime"/>
			<element name="MaxResults" type="integer"/>
		</sequence>
	</complexType>

	<!--GetEffectuationOrderingToDeleteRequest -->

	<element name="GetEffectuationOrderingToDeleteRequest" type="tns:GetEffectuationOrderingToDeleteRequestType" />

	<complexType name="GetEffectuationOrderingToDeleteRequestType">
		<sequence>
			<element name="ExpiredBefore" type="dateTime"/>
			<element name="MaxResults" type="integer"/>
		</sequence>
	</complexType>

	<!--GetEmptyMedicineCardsToDeleteRequest -->

	<element name="GetEmptyMedicineCardsToDeleteRequest" type="tns:GetEmptyMedicineCardsToDeleteRequestType" />

	<complexType name="GetEmptyMedicineCardsToDeleteRequestType">
		<sequence>
			<element name="ExpiredBefore" type="dateTime"/>
			<element name="MaxResults" type="integer"/>
		</sequence>
	</complexType>

	<!--GetPrescriptionsToDeleteRequest -->

	<element name="GetPrescriptionsToDeleteRequest" type="tns:GetPrescriptionsToDeleteRequestType" />

	<complexType name="GetPrescriptionsToDeleteRequestType">
		<sequence>
			<element name="ExpiredBefore" type="dateTime"/>
			<element name="ActiveButExpiredBefore" type="dateTime"/>
			<element name="MaxResults" type="integer"/>
			<element name="UpdatePrescriptionVersionDates" type="boolean" minOccurs="0"/>
		</sequence>
	</complexType>

	<!--GetPrescriptionEffectuationsToDeleteRequest -->

	<element name="GetPrescriptionEffectuationsToDeleteRequest" type="tns:GetPrescriptionEffectuationsToDeleteRequestType" />

	<complexType name="GetPrescriptionEffectuationsToDeleteRequestType">
		<sequence>
			<element name="EffectuatedBefore" type="dateTime"/>
			<element name="MaxResults" type="integer"/>
			<element name="UpdatePrescriptionVersionDates" type="boolean" minOccurs="0"/>
		</sequence>
	</complexType>

	<!--XXXXXXXXXXXX -->

</schema>
