etc/schemas/2022/02/01/BatchDataService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01" xmlns:tns="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01" elementFormDefault="qualified">

	<complexType name="PersonIdentifierType">
		<simpleContent>
			<extension base="tns:PersonIdentifierValueType">
				<attribute name="source" type="tns:PersonIdentifierSourceType" use="required"/>
			</extension>
		</simpleContent>
	</complexType>

	<simpleType name="PersonIdentifierValueType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="50"/>
		</restriction>
	</simpleType>

	<simpleType name="PersonIdentifierSourceType">
		<union memberTypes="tns:PersonIdentifierPredefinedSourceType tns:UndefinedSourceType"/>
	</simpleType>

	<simpleType name="PersonIdentifierPredefinedSourceType">
		<restriction base="tns:UndefinedSourceType">
			<enumeration value="CPR"/>
			<enumeration value="X-eCPR"/>
			<enumeration value="SORPERSON"/>
		</restriction>
	</simpleType>

	<simpleType name="UndefinedSourceType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="200"/>
		</restriction>
	</simpleType>
	 
	<complexType name="GetMedicineCardDataForDeceasedPersonsRequestType">
		<sequence>
			<element name="DeceasedBefore" type="dateTime"/>
			<element name="MaxResults" type="integer"/>
		</sequence>
	</complexType>
	
	<complexType name="MedicineCardDataForDeceasedPersons">
		<sequence>
			<element name="PersonIdentifier" type="tns:PersonIdentifierType"/>
			<element name="DeceasedAt" type="dateTime"/>
			<element name="NoOfDrugMedicationsForPerson" type="int"/>
		</sequence>
	</complexType>
	
	<complexType name="GetMedicineCardDataForDeceasedPersonsReponseType">
		<sequence>
			<element name="MedicineCardData" type="tns:MedicineCardDataForDeceasedPersons" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>
	
	<element name="GetMedicineCardDataForDeceasedPersonsRequest" type="tns:GetMedicineCardDataForDeceasedPersonsRequestType" />
	<element name="GetMedicineCardDataForDeceasedPersonsResponse" type="tns:GetMedicineCardDataForDeceasedPersonsReponseType" />

	 
	<complexType name="GetCitizensForCitizenLetterRequestType">
		<sequence>
		</sequence>
	</complexType>

	<simpleType name="ChannelType">
		<restriction base="string">
			<enumeration value="EBOKS"/>
			<enumeration value="STRAALFORS"/>
		</restriction>
	</simpleType>

	<complexType name="Person">
		<sequence>
			<element name="PersonIdentifier" type="tns:PersonIdentifierValueType"/>
			<element name="FirstName" type="string"/>
			<element name="MiddleName" type="string"/>
			<element name="LastName" type="string"/>
			<element name="UnstructuredName" type="string"/>
			<element name="StreetName" type="string"/>
			<element name="StreetBuildingIdentifier" type="string"/>
			<element name="Floor" type="string"/>
			<element name="Side" type="string"/>
			<element name="PostCodeIdentifier" type="string"/>
			<element name="DistrictName" type="string"/>
			<element name="NameProtectionStart" type="dateTime"/>
			<element name="NameProtectionEnd" type="dateTime"/>
			<element name="DateOfBirth" type="date"/>
			<element name="Gender" type="string"/>
			<element name="LastModified" type="dateTime"/>
			<element name="Status" type="string"/>
			<element name="UnstructuredAddressLines" type="string" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<complexType name="Citizen">
		<sequence>
			<element name="PersonIdentifier" type="tns:PersonIdentifierType"/>
			<element name="Channel" type="tns:ChannelType"/>
			<element name="Person" type="tns:Person" minOccurs="0"/>
		</sequence>
	</complexType>
	
	<complexType name="GetCitizensForCitizenLetterResponseType">
		<sequence>
			<element name="Citizen" type="tns:Citizen" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<element name="GetCitizensForCitizenLetterRequest" type="tns:GetCitizensForCitizenLetterRequestType" />
	<element name="GetCitizensForCitizenLetterResponse" type="tns:GetCitizensForCitizenLetterResponseType" />

</schema>
