etc/schemas/2013/06/01/AdministrationAccordingToSchemaInLocalSystemForResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20130601="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DosageStartedPreviously.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/DosageTimesDosageEndingUndetermined.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/DosageTimesEndDate.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/DosageTimesEndDateTime.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/DosageTimesStartDate.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/DosageTimesStartDateTime.xsd"/>
	<element name="AdministrationAccordingToSchemaInLocalSystemForResponse" type="medicinecard20130601:AdministrationAccordingToSchemaInLocalSystemForResponseType">
		<annotation>
			<documentation xml:lang="en-GB">If the element exists it indicates that the medication is according to schema in a local system</documentation>
			<documentation xml:lang="da-DK">Hvis elementet findes angives at medicinfordeling er skemalagt i eget system</documentation>
		</annotation>
	</element>
	<complexType name="AdministrationAccordingToSchemaInLocalSystemForResponseType">
		<sequence>
			<choice>
				<element name="StartDate" type="medicinecard20120601:DosageTimesStartDateType"/>
				<element name="StartDateTime" type="medicinecard20120601:DosageTimesStartDateTimeType"/>
				<element name="DosageStartedPreviously" type="medicinecard20130601:DosageStartedPreviouslyType"/>
			</choice>
			<choice>
				<element name="EndDate" type="medicinecard20120601:DosageTimesEndDateType"/>
				<element name="EndDateTime" type="medicinecard20120601:DosageTimesEndDateTimeType"/>
				<element name="DosageEndingUndetermined" type="medicinecard20120601:DosageTimesDosageEndingUndeterminedType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
