etc/schemas/2013/06/01/CreateDrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20130601="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="CreateEffectuation.xsd"/>
    <include schemaLocation="CreatePrescriptionMedication.xsd"/>
	<include schemaLocation="DosageForRequest.xsd"/>
	<include schemaLocation="Drug.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/CreateOrUpdateDrugMedicationBeginEndDate.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/HasNegativeConsent.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/Indication.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/ModificationMetadata.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/Pause.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/PrescriptionMedicationIdentifier.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/RouteOfAdministration.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/SubstitutionAllowed.xsd"/>
    <import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/ReimbursementClause.xsd"/>
	<element name="CreateDrugMedication" type="medicinecard20130601:CreateDrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Instructions of which drug to use, how much to give (drug dosage), for how long (startdate and enddate), how to administrate it and motivation (indication)</documentation>
			<documentation xml:lang="da-DK">Anvisning af hvilken medicin der skal anvendes (lægemiddel) hvor meget der skal gives (lægemiddeldosering), hvor længe (startdato og slutdato), hvordan den skal tilføres (administrationsvej) og hvorfor (indikation)</documentation>
		</annotation>
	</element>
	<complexType name="CreateDrugMedicationType">
		<sequence>
			<element name="ParentIdentifier" type="medicinecard20120601:DrugMedicationIdentifierType" minOccurs="0"/>
			<element name="CreatedBy" type="medicinecard20130601:ModificatorType" minOccurs="0"/>
			<element name="ModificationMetadata" type="medicinecard20120601:ModificationMetadataType" minOccurs="0"/>
			<element name="Pause" type="medicinecard20120601:PauseType" minOccurs="0"/>
			<element name="HasNegativeConsent" type="medicinecard20120601:HasNegativeConsentType" minOccurs="0"/>
			<element name="BeginEndDate" type="medicinecard20120601:CreateOrUpdateDrugMedicationBeginEndDateType"/>
			<element name="Indication" type="medicinecard20120601:IndicationType"/>
			<element name="RouteOfAdministration" type="medicinecard20120601:RouteOfAdministrationType"/>
			<element name="Drug" type="medicinecard20130601:DrugType"/>
			<element name="Dosage" type="medicinecard20130601:DosageForRequestType"/>
			<element name="SubstitutionAllowed" type="medicinecard20120601:SubstitutionAllowedType"/>
			<element name="Effectuation" type="medicinecard20130601:CreateEffectuationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="CreatePrescriptionMedication" type="medicinecard20130601:CreatePrescriptionMedicationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="AttachPrescriptionMedication" type="medicinecard20120601:PrescriptionMedicationIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="ReimbursementClause" type="medicinecard20120601:ReimbursementClauseType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
