etc/schemas/2013/06/01/CreateEffectuationOnDrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20130601="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="CreateEffectuation.xsd"/>
	<element name="CreateEffectuationOnDrugMedication" type="medicinecard20130601:CreateEffectuationOnDrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Elemenet for adding an effecutation on a drug prescription</documentation>
			<documentation xml:lang="da-DK">Element for en tilføjelse af en effektuering på en lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="CreateEffectuationOnDrugMedicationType">
		<sequence>
			<element name="Identifier" type="medicinecard20120601:DrugMedicationIdentifierType"/>
			<element name="Effectuation" type="medicinecard20130601:CreateEffectuationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
