etc/schemas/2013/06/01/DosageForRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20130601="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DosageFreeTextForRequest.xsd"/>
	<include schemaLocation="DosageStructuresForRequest.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/DosageType.xsd"/>
	<include schemaLocation="AdministrationAccordingToSchemaInLocalSystemForRequest.xsd"/>
	<element name="DosageForRequest" type="medicinecard20130601:DosageForRequestType">
		<annotation>
			<documentation xml:lang="en-GB">How often and when the drug should be given</documentation>
			<documentation xml:lang="da-DK">Angivelse af hvor ofte og hvornår et lægemiddel skal gives</documentation>
		</annotation>
	</element>
	<complexType name="DosageForRequestType">
		<sequence>
			<choice>
				<element name="Structures" type="medicinecard20130601:DosageStructuresForRequestType"/>
				<element name="FreeText" type="medicinecard20130601:DosageFreeTextForRequestType"/>
				<element name="AdministrationAccordingToSchemaInLocalSystem" type="medicinecard20130601:AdministrationAccordingToSchemaInLocalSystemForRequestType"/>
			</choice>
			<element name="Type" type="medicinecard20120601:DosageTypeType"/>
		</sequence>
	</complexType>
</schema>
