etc/schemas/2013/06/01/GetPatientOrganisationRelationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:cpr="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" xmlns:medicinecard20130601="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PatientOrganisationRelation.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/PersonIdentifier.xsd"/>
	<element name="GetPatientOrganisationRelationResponse" type="medicinecard20130601:GetPatientOrganisationRelationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">A set of relations between a patient and an organisation</documentation>
			<documentation xml:lang="da-DK">Et antal relationer mellem en patient og en organisation</documentation>
		</annotation>
	</element>
	<complexType name="GetPatientOrganisationRelationResponseType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20120601:PersonIdentifierType"/>
			<element name="Relation" type="medicinecard20130601:PatientOrganisationRelationType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
