etc/schemas/2013/06/01/GetPatientOrganisationRelationWithDatesRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:cpr="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" xmlns:medicinecard20130601="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PatientOrganisationRelationType.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/OrganisationIdentifier.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/PatientOrganisationRelationIdentifier.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/PersonIdentifier.xsd"/>
    <import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/IncludeRemovedRelations.xsd"/>
	<element name="GetPatientOrganisationRelationWithDatesRequest" type="medicinecard20130601:GetPatientOrganisationRelationWithDatesRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document to get relations between a patient and an organisation</documentation>
			<documentation xml:lang="da-DK">Request-dokument for at hente relationer mellem en patient og en organisation</documentation>
		</annotation>
	</element>
	<complexType name="GetPatientOrganisationRelationWithDatesRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20120601:PersonIdentifierType"/>
			<element name="OrganisationIdentifier" type="medicinecard20120601:OrganisationIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Type" type="medicinecard20130601:PatientOrganisationRelationTypeType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Identifier" type="medicinecard20120601:PatientOrganisationRelationIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="IncludeRemovedRelations" type="medicinecard20120601:IncludeRemovedRelationsType"/>
		</sequence>
	</complexType>
</schema>
