etc/schemas/2013/06/01/InvalidPrescriptionMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20130601="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/PrescriptionMedicationIdentifier.xsd"/>
	<element name="InvalidPrescriptionMedication" type="medicinecard20130601:InvalidPrescriptionMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">An invalid prescription medication</documentation>
			<documentation xml:lang="da-DK">En ugyldig receptordination</documentation>
		</annotation>
	</element>
	<complexType name="InvalidPrescriptionMedicationType">
		<sequence>
			<element name="Identifier" type="medicinecard20120601:PrescriptionMedicationIdentifierType"/>
		</sequence>
	</complexType>
</schema>
