etc/schemas/2013/06/01/InvalidEffectuation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20130601="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/EffectuationIdentifier.xsd"/>
	<element name="InvalidEffectuation" type="medicinecard20130601:InvalidEffectuationType">
		<annotation>
			<documentation xml:lang="en-GB">An invalid effectuation</documentation>
			<documentation xml:lang="da-DK">En ugyldig effektuering</documentation>
		</annotation>
	</element>
	<complexType name="InvalidEffectuationType">
		<sequence>
			<element name="Identifier" type="medicinecard20120601:EffectuationIdentifierType"/>
		</sequence>
	</complexType>
</schema>
