etc/schemas/2013/06/01/PauseDrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20130601="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Modificator.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/DrugMedicationIdentifier.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/ModificationMetadata.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/PausedFromDate.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/PausedFromDateTime.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/PausedToDate.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/PausedToDateTime.xsd"/>
	<element name="PauseDrugMedication" type="medicinecard20130601:PauseDrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a request to pause a drugmedication</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel der pauserer en lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="PauseDrugMedicationType">
		<sequence>
			<element name="Identifier" type="medicinecard20120601:DrugMedicationIdentifierType"/>
			<choice minOccurs="0">
				<element name="FromDate" type="medicinecard20120601:PausedFromDateType"/>
				<element name="FromDateTime" type="medicinecard20120601:PausedFromDateTimeType"/>
			</choice>
			<choice minOccurs="0">
				<element name="ToDate" type="medicinecard20120601:PausedToDateType"/>
				<element name="ToDateTime" type="medicinecard20120601:PausedToDateTimeType"/>
			</choice>
			<element name="PausedBy" type="medicinecard20130601:ModificatorType" minOccurs="0"/>
			<element name="ModificationMetadata" type="medicinecard20120601:ModificationMetadataType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
