etc/schemas/2013/06/01/RegisterPatientOrganisationRelationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20130601="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="RegisterPatientOrganisationRelation.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/PersonIdentifier.xsd"/>
	<element name="RegisterPatientOrganisationRelationRequest" type="medicinecard20130601:RegisterPatientOrganisationRelationRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document to register a relation between a patient and an organisation</documentation>
			<documentation xml:lang="da-DK">Request-dokument for at registrere en relation mellem en patient og en organisation</documentation>
		</annotation>
	</element>
	<complexType name="RegisterPatientOrganisationRelationRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20120601:PersonIdentifierType"/>
			<element name="CreatedBy" type="medicinecard20130601:ModificatorType" minOccurs="0"/>
			<element name="ReportedBy" type="medicinecard20130601:ModificatorType" minOccurs="0"/>
			<element name="Relation" type="medicinecard20130601:RegisterPatientOrganisationRelationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
