etc/schemas/2013/06/01/ResuspendMedicineCard.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20130601="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Modificator.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/ModificationMetadata.xsd"/>
	<element name="ResuspendMedicineCard" type="medicinecard20130601:ResuspendMedicineCardType">
		<annotation>
			<documentation xml:lang="en-GB">Information about change of admission to hospital</documentation>
			<documentation xml:lang="da-DK">Information omkring ændring af indlæggelse på sygehus</documentation>
		</annotation>
	</element>
	<complexType name="ResuspendMedicineCardType">
		<sequence>
			<element name="SuspendedBy" type="medicinecard20130601:ModificatorType" minOccurs="0"/>
			<element name="ModificationMetadata" type="medicinecard20120601:ModificationMetadataType" minOccurs="0"/>			
		</sequence>
	</complexType>
</schema>
