etc/schemas/2013/06/01/SetMedicineCardNotReviewedResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01"  xmlns:medicinecard20130601="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/MedicineCardVersion.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/PersonIdentifier.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/VersionMismatchWarning.xsd"/>
	<element name="SetMedicineCardNotReviewedResponse" type="medicinecard20130601:SetMedicineCardNotReviewedResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Element for response from a request to set a date and time for marking the medicine card not reviewed</documentation>
			<documentation xml:lang="da-DK">Element for et svar fra en forespørgsel til at sætte dato og tid for markering af at manglende medicinkort-gennemgang</documentation>
		</annotation>
	</element>
	<complexType name="SetMedicineCardNotReviewedResponseType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20120601:PersonIdentifierType"/>
			<element name="MedicineCardVersion" type="medicinecard20120601:MedicineCardVersionType"/>
			<element name="VersionMismatchWarning" type="medicinecard20120601:VersionMismatchWarningType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
