etc/wsdl/AssistantAuthorisation_2010_06_01.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:medicinecard20080601="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" 
    xmlns:medicinecard20090101="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" 
    xmlns:medicinecard20100601="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" 
	xmlns:tns="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01"
	xmlns:dglws="http://www.medcom.dk/dglws/1.0/xsd"
	xmlns:medcom="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd"
	xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
	targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2010/06/01">
	
		
	<wsdl:types>
		<xs:schema targetNamespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
			<xs:include schemaLocation="../schemas/2008/06/01/medcom.xsd" />
		</xs:schema>
		
		<xs:schema targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2010/06/01" elementFormDefault="qualified">
			<xs:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" schemaLocation="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"/>		

            <xs:include schemaLocation="../schemas/2010/06/01/DKMA_GetDoctorAssistantsRequestStructure.xsd"/>
            <xs:include schemaLocation="../schemas/2010/06/01/DKMA_GetDoctorAssistantsResponseStructure.xsd"/>

            <xs:include schemaLocation="../schemas/2010/06/01/DKMA_AddDoctorAssistantRequestStructure.xsd"/>
            <xs:include schemaLocation="../schemas/2010/06/01/DKMA_AddDoctorAssistantResponseStructure.xsd"/>

            <xs:include schemaLocation="../schemas/2010/06/01/DKMA_RemoveDoctorAssistantRequestStructure.xsd"/>
            <xs:include schemaLocation="../schemas/2010/06/01/DKMA_RemoveDoctorAssistantResponseStructure.xsd"/>

		</xs:schema>
	</wsdl:types>
	
    <wsdl:message name="GetDoctorAssistantsRequest">
        <wsdl:part name="GetDoctorAssistantsRequest" element="medicinecard20100601:GetDoctorAssistantsRequestStructure"/>
    </wsdl:message>
    <wsdl:message name="GetDoctorAssistantsResponse">
        <wsdl:part name="GetDoctorAssistantsResponse" element="medicinecard20100601:GetDoctorAssistantsResponseStructure"/>
    </wsdl:message>
    <wsdl:message name="AddDoctorAssistantRequest">
        <wsdl:part name="AddDoctorAssistantRequest" element="medicinecard20100601:AddDoctorAssistantRequestStructure"/>
    </wsdl:message>
    <wsdl:message name="AddDoctorAssistantResponse">
        <wsdl:part name="AddDoctorAssistantResponse" element="medicinecard20100601:AddDoctorAssistantResponseStructure"/>
    </wsdl:message>
    <wsdl:message name="RemoveDoctorAssistantRequest">
        <wsdl:part name="RemoveDoctorAssistantRequest" element="medicinecard20100601:RemoveDoctorAssistantRequestStructure"/>
    </wsdl:message>
    <wsdl:message name="RemoveDoctorAssistantResponse">
        <wsdl:part name="RemoveDoctorAssistantResponse" element="medicinecard20100601:RemoveDoctorAssistantResponseStructure"/>
    </wsdl:message>
	
	<wsdl:message name="DGWSFault">
		<wsdl:part name="fault" element="medcom:FaultCode" />
	</wsdl:message>
	
	<wsdl:portType name="AssistantAuthorisationPortType">

        <wsdl:operation name="GetDoctorAssistants">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2010/06/01#GetDoctorAssistants" style="document"/>
            <wsdl:input name="GetDoctorAssistantsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetDoctorAssistantsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="AddDoctorAssistant">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2010/06/01#AddDoctorAssistant" style="document"/>
            <wsdl:input name="AddDoctorAssistantRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="AddDoctorAssistantResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="RemoveDoctorAssistant">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2010/06/01#RemoveDoctorAssistant" style="document"/>
            <wsdl:input name="RemoveDoctorAssistantRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="RemoveDoctorAssistantResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>


	</wsdl:portType>
	<wsdl:binding name="AssistantAuthorisationBinding" type="tns:AssistantAuthorisationPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetDoctorAssistants">
            <wsdl:input name="GetDoctorAssistantsRequest" message="tns:GetDoctorAssistantsRequest"/>
            <wsdl:output name="GetDoctorAssistantsResponse" message="tns:GetDoctorAssistantsResponse"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>
        <wsdl:operation name="AddDoctorAssistant">
            <wsdl:input name="AddDoctorAssistantRequest" message="tns:AddDoctorAssistantRequest"/>
            <wsdl:output name="AddDoctorAssistantResponse" message="tns:AddDoctorAssistantResponse"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>
        <wsdl:operation name="RemoveDoctorAssistant">
            <wsdl:input name="RemoveDoctorAssistantRequest" message="tns:RemoveDoctorAssistantRequest"/>
            <wsdl:output name="RemoveDoctorAssistantResponse" message="tns:RemoveDoctorAssistantResponse"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

    </wsdl:binding>
	<wsdl:service name="AssistantAuthorisation">
		<wsdl:port name="AssistantAuthorisationPort" binding="tns:AssistantAuthorisationBinding">
			<soap:address location="http://trifork.lms.trifork.com/ws/AssistantAuthorisation"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
