etc/wsdl/BatchData_2022_02_01.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:medcom="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd"
	xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
	xmlns:tns="http://www.ssi.dk/nsi/xml.schema/2022/02/01"
	targetNamespace="http://www.ssi.dk/nsi/xml.schema/2022/02/01">
	
		
	<wsdl:types>
		<xs:schema targetNamespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
            <xs:include schemaLocation="../schemas/medcom/dgws/2006/04/medcom.xsd"/>
		</xs:schema>
		
		<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ssi.dk/nsi/xml.schema/2022/02/01" elementFormDefault="qualified">
			<include schemaLocation="../schemas/2022/02/01/BatchDataService.xsd"/>
		
            <import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                    schemaLocation="../schemas/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd/oasis-200401_orig-wss-wssecurity-secext-1.0.xsd"/>
		</schema>
	</wsdl:types>
	
   <wsdl:message name="SecurityHeader">
        <wsdl:part name="SecurityHeader" element="wsse:Security"/>
    </wsdl:message>

    <wsdl:message name="MedComHeader">
        <wsdl:part name="MedcomHeader" element="medcom:Header"/>
    </wsdl:message>

    <wsdl:message name="GetMedicineCardDataForDeceasedPatientsRequest">
        <wsdl:part name="GetMedicineCardDataForDeceasedPatientsRequest" element="tns:GetMedicineCardDataForDeceasedPatientsRequest"/>
    </wsdl:message>
    <wsdl:message name="GetMedicineCardDataForDeceasedPatientsResponse">
        <wsdl:part name="GetMedicineCardDataForDeceasedPatientsResponse" element="tns:GetMedicineCardDataForDeceasedPatientsResponse"/>
    </wsdl:message>
	
	<wsdl:message name="DGWSFault">
		<wsdl:part name="fault" element="medcom:FaultCode" />
	</wsdl:message>
	
	<wsdl:portType name="BatchDataPortType">
        <wsdl:operation name="GetMedicineCardDataForDeceasedPatients">
            <soap:operation soapAction="http://www.dkma.dk/nsi/xml.schema/2022/02/01#GetMedicineCardDataForDeceasedPatients" style="document"/>
            <wsdl:input name="GetMedicineCardDataForDeceasedPatientsRequest" message="tns:GetMedicineCardDataForDeceasedPatientsRequest"/>
            <wsdl:output name="GetMedicineCardDataForDeceasedPatientsResponse" message="tns:GetMedicineCardDataForDeceasedPatientsResponse"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>
        

	</wsdl:portType>

	<wsdl:binding name="BatchDataBinding" type="tns:BatchDataPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="GetMedicineCardDataForDeceasedPatients">
        	<soap:operation soapAction="http://www.ssi.dk/nsi/xml.schema/2022/02/01#GetMedicineCardDataForDeceasedPatients" style="document"/>
            <wsdl:input name="GetMedicineCardDataForDeceasedPatientsRequest">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
            	<soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetMedicineCardDataForDeceasedPatientsResponse"><soap:body use="literal"/></wsdl:output>
            <wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>
    
	<wsdl:service name="BatchData">
		<wsdl:port name="BatchDataPort" binding="tns:BatchDataBinding">
			<soap:address location="http://nsi.dk/ws/BatchData"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
