etc/wsdl/BatchData_2022_02_01.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:medcom="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd"
	xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
	xmlns:tns="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01"
	targetNamespace="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01">
	
		
	<wsdl:types>
		<xs:schema targetNamespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
            <xs:include schemaLocation="../schemas/medcom/dgws/2006/04/medcom.xsd"/>
		</xs:schema>
		
		<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01" elementFormDefault="qualified">
			<include schemaLocation="../schemas/2022/02/01/BatchDataService.xsd"/>
		
            <import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                    schemaLocation="../schemas/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd/oasis-200401_orig-wss-wssecurity-secext-1.0.xsd"/>
		</schema>
	</wsdl:types>
	
   <wsdl:message name="SecurityHeader">
        <wsdl:part name="SecurityHeader" element="wsse:Security"/>
    </wsdl:message>

    <wsdl:message name="MedComHeader">
        <wsdl:part name="MedcomHeader" element="medcom:Header"/>
    </wsdl:message>

    <wsdl:message name="BatchDataServiceResponse">
        <wsdl:part name="BatchDataServiceResponse" element="tns:BatchDataServiceResponse"/>
    </wsdl:message>

    <wsdl:message name="GetMedicineCardDataForDeceasedPersonsRequest">
        <wsdl:part name="GetMedicineCardDataForDeceasedPersonsRequest" element="tns:GetMedicineCardDataForDeceasedPersonsRequest"/>
    </wsdl:message>

    <wsdl:message name="GetDoctorsWithExpiringDDPatientsRequest">
        <wsdl:part name="GetDoctorsWithExpiringDDPatientsRequest" element="tns:GetDoctorsWithExpiringDDPatientsRequest"/>
    </wsdl:message>

    <wsdl:message name="GetDoctorsWithMixedDailyDosagePatientsRequest">
        <wsdl:part name="GetDoctorsWithMixedDailyDosagePatientsRequest" element="tns:GetDoctorsWithMixedDailyDosagePatientsRequest"/>
    </wsdl:message>

    <wsdl:message name="GetDrugMedicationToDeleteRequest">
        <wsdl:part name="GetDrugMedicationToDeleteRequest" element="tns:GetDrugMedicationToDeleteRequest"/>
    </wsdl:message>

    <wsdl:message name="GetDrugMedicationOnDeceasedRequest">
        <wsdl:part name="GetDrugMedicationOnDeceasedRequest" element="tns:GetDrugMedicationOnDeceasedRequest"/>
    </wsdl:message>

    <wsdl:message name="GetDrugMedPrescriptionsToDeleteRequest">
        <wsdl:part name="GetDrugMedPrescriptionsToDeleteRequest" element="tns:GetDrugMedPrescriptionsToDeleteRequest"/>
    </wsdl:message>

    <wsdl:message name="GetDrugMedicationsMarkedForDeletionRequest">
        <wsdl:part name="GetDrugMedicationsMarkedForDeletionRequest" element="tns:GetDrugMedicationsMarkedForDeletionRequest"/>
    </wsdl:message>

    <wsdl:message name="GetDoseDispensingCardsToDeleteRequest">
        <wsdl:part name="GetDoseDispensingCardsToDeleteRequest" element="tns:GetDoseDispensingCardsToDeleteRequest"/>
    </wsdl:message>

    <wsdl:message name="GetDoseDispensingPeriodsToDeleteRequest">
        <wsdl:part name="GetDoseDispensingPeriodsToDeleteRequest" element="tns:GetDoseDispensingPeriodsToDeleteRequest"/>
    </wsdl:message>

    <wsdl:message name="GetPatientRelationsAndRegistrationsToDeleteRequest">
        <wsdl:part name="GetPatientRelationsAndRegistrationsToDeleteRequest" element="tns:GetPatientRelationsAndRegistrationsToDeleteRequest"/>
    </wsdl:message>

    <wsdl:message name="GetEffectuationOrderingToDeleteRequest">
        <wsdl:part name="GetEffectuationOrderingToDeleteRequest" element="tns:GetEffectuationOrderingToDeleteRequest"/>
    </wsdl:message>

    <wsdl:message name="GetEmptyMedicineCardsToDeleteRequest">
        <wsdl:part name="GetEmptyMedicineCardsToDeleteRequest" element="tns:GetEmptyMedicineCardsToDeleteRequest"/>
    </wsdl:message>

    <wsdl:message name="GetPrescriptionsToDeleteRequest">
        <wsdl:part name="GetPrescriptionsToDeleteRequest" element="tns:GetPrescriptionsToDeleteRequest"/>
    </wsdl:message>

    <wsdl:message name="GetPrescriptionEffectuationsToDeleteRequest">
        <wsdl:part name="GetPrescriptionEffectuationsToDeleteRequest" element="tns:GetPrescriptionEffectuationsToDeleteRequest"/>
    </wsdl:message>

	<wsdl:message name="DGWSFault">
		<wsdl:part name="fault" element="medcom:FaultCode" />
	</wsdl:message>
	
	<wsdl:portType name="BatchDataPortType">
        <wsdl:operation name="GetMedicineCardDataForDeceasedPersons">
            <soap:operation soapAction="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01#GetMedicineCardDataForDeceasedPersons" style="document"/>
            <wsdl:input name="GetMedicineCardDataForDeceasedPersonsRequest" message="tns:GetMedicineCardDataForDeceasedPersonsRequest"/>
			<wsdl:output name="BatchDataServiceResponse" message="tns:BatchDataServiceResponse"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>
        
        <wsdl:operation name="GetDoctorsWithExpiringDDPatients">
            <soap:operation soapAction="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01#GetDoctorsWithExpiringDDPatients" style="document"/>
            <wsdl:input name="GetDoctorsWithExpiringDDPatientsRequest" message="tns:GetDoctorsWithExpiringDDPatientsRequest"/>
            <wsdl:output name="BatchDataServiceResponse" message="tns:BatchDataServiceResponse"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>
        
        <wsdl:operation name="GetDoctorsWithMixedDailyDosagePatients">
            <soap:operation soapAction="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01#GetDoctorsWithMixedDailyDosagePatients" style="document"/>
            <wsdl:input name="GetDoctorsWithMixedDailyDosagePatientsRequest" message="tns:GetDoctorsWithMixedDailyDosagePatientsRequest"/>
            <wsdl:output name="BatchDataServiceResponse" message="tns:BatchDataServiceResponse"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>
        

        <wsdl:operation name="GetDrugMedicationToDelete">
            <soap:operation soapAction="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01#GetDrugMedicationToDelete" style="document"/>
            <wsdl:input name="GetDrugMedicationToDeleteRequest" message="tns:GetDrugMedicationToDeleteRequest"/>
            <wsdl:output name="BatchDataServiceResponse" message="tns:BatchDataServiceResponse"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="GetDrugMedicationOnDeceased">
            <soap:operation soapAction="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01#GetDrugMedicationOnDeceased" style="document"/>
            <wsdl:input name="GetDrugMedicationOnDeceasedRequest" message="tns:GetDrugMedicationOnDeceasedRequest"/>
            <wsdl:output name="BatchDataServiceResponse" message="tns:BatchDataServiceResponse"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="GetDrugMedPrescriptionsToDelete">
            <soap:operation soapAction="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01#GetDrugMedPrescriptionsToDelete" style="document"/>
            <wsdl:input name="GetDrugMedPrescriptionsToDeleteRequest" message="tns:GetDrugMedPrescriptionsToDeleteRequest"/>
            <wsdl:output name="BatchDataServiceResponse" message="tns:BatchDataServiceResponse"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="GetDrugMedicationsMarkedForDeletion">
            <soap:operation soapAction="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01#GetDrugMedicationsMarkedForDeletion" style="document"/>
            <wsdl:input name="GetDrugMedicationsMarkedForDeletionRequest" message="tns:GetDrugMedicationsMarkedForDeletionRequest"/>
            <wsdl:output name="BatchDataServiceResponse" message="tns:BatchDataServiceResponse"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="GetDoseDispensingCardsToDelete">
            <soap:operation soapAction="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01#GetDoseDispensingCardsToDelete" style="document"/>
            <wsdl:input name="GetDoseDispensingCardsToDeleteRequest" message="tns:GetDoseDispensingCardsToDeleteRequest"/>
            <wsdl:output name="BatchDataServiceResponse" message="tns:BatchDataServiceResponse"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="GetDoseDispensingPeriodsToDelete">
            <soap:operation soapAction="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01#GetDoseDispensingPeriodsToDelete" style="document"/>
            <wsdl:input name="GetDoseDispensingPeriodsToDeleteRequest" message="tns:GetDoseDispensingPeriodsToDeleteRequest"/>
            <wsdl:output name="BatchDataServiceResponse" message="tns:BatchDataServiceResponse"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="GetPatientRelationsAndRegistrationsToDelete">
            <soap:operation soapAction="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01#GetPatientRelationsAndRegistrationsToDelete" style="document"/>
            <wsdl:input name="GetPatientRelationsAndRegistrationsToDeleteRequest" message="tns:GetPatientRelationsAndRegistrationsToDeleteRequest"/>
            <wsdl:output name="BatchDataServiceResponse" message="tns:BatchDataServiceResponse"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="GetEffectuationOrderingToDelete">
            <soap:operation soapAction="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01#GetEffectuationOrderingToDelete" style="document"/>
            <wsdl:input name="GetEffectuationOrderingToDeleteRequest" message="tns:GetEffectuationOrderingToDeleteRequest"/>
            <wsdl:output name="BatchDataServiceResponse" message="tns:BatchDataServiceResponse"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="GetEmptyMedicineCardsToDelete">
            <soap:operation soapAction="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01#GetEmptyMedicineCardsToDelete" style="document"/>
            <wsdl:input name="GetEmptyMedicineCardsToDeleteRequest" message="tns:GetEmptyMedicineCardsToDeleteRequest"/>
            <wsdl:output name="BatchDataServiceResponse" message="tns:BatchDataServiceResponse"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="GetPrescriptionsToDelete">
            <soap:operation soapAction="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01#GetPrescriptionsToDelete" style="document"/>
            <wsdl:input name="GetPrescriptionsToDeleteRequest" message="tns:GetPrescriptionsToDeleteRequest"/>
            <wsdl:output name="BatchDataServiceResponse" message="tns:BatchDataServiceResponse"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="GetPrescriptionEffectuationsToDelete">
            <soap:operation soapAction="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01#GetPrescriptionEffectuationsToDelete" style="document"/>
            <wsdl:input name="GetPrescriptionEffectuationsToDeleteRequest" message="tns:GetPrescriptionEffectuationsToDeleteRequest"/>
            <wsdl:output name="BatchDataServiceResponse" message="tns:BatchDataServiceResponse"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="BatchDataBinding" type="tns:BatchDataPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>

		<wsdl:operation name="GetMedicineCardDataForDeceasedPersons">
        	<soap:operation soapAction="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01#GetMedicineCardDataForDeceasedPersons" style="document"/>
            <wsdl:input name="GetMedicineCardDataForDeceasedPersonsRequest">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
            	<soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="BatchDataServiceResponse"><soap:body use="literal"/></wsdl:output>
            <wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
        </wsdl:operation>

		<wsdl:operation name="GetDoctorsWithExpiringDDPatients">
        	<soap:operation soapAction="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01#GetDoctorsWithExpiringDDPatients" style="document"/>
            <wsdl:input name="GetDoctorsWithExpiringDDPatientsRequest">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
            	<soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="BatchDataServiceResponse"><soap:body use="literal"/></wsdl:output>
            <wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
        </wsdl:operation>

		<wsdl:operation name="GetDoctorsWithMixedDailyDosagePatients">
        	<soap:operation soapAction="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01#GetDoctorsWithMixedDailyDosagePatients" style="document"/>
            <wsdl:input name="GetDoctorsWithMixedDailyDosagePatientsRequest">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
            	<soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="BatchDataServiceResponse"><soap:body use="literal"/></wsdl:output>
            <wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
        </wsdl:operation>


        <wsdl:operation name="GetDrugMedicationToDelete">
            <soap:operation soapAction="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01#GetDrugMedicationToDelete" style="document"/>
            <wsdl:input name="GetDrugMedicationToDeleteRequest">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="BatchDataServiceResponse"><soap:body use="literal"/></wsdl:output>
            <wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetDrugMedicationOnDeceased">
            <soap:operation soapAction="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01#GetDrugMedicationOnDeceased" style="document"/>
            <wsdl:input name="GetDrugMedicationOnDeceasedRequest">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="BatchDataServiceResponse"><soap:body use="literal"/></wsdl:output>
            <wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetDrugMedPrescriptionsToDelete">
            <soap:operation soapAction="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01#GetDrugMedPrescriptionsToDelete" style="document"/>
            <wsdl:input name="GetDrugMedPrescriptionsToDeleteRequest">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="BatchDataServiceResponse"><soap:body use="literal"/></wsdl:output>
            <wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetDrugMedicationsMarkedForDeletion">
            <soap:operation soapAction="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01#GetDrugMedicationsMarkedForDeletion" style="document"/>
            <wsdl:input name="GetDrugMedicationsMarkedForDeletionRequest">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="BatchDataServiceResponse"><soap:body use="literal"/></wsdl:output>
            <wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetDoseDispensingCardsToDelete">
            <soap:operation soapAction="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01#GetDoseDispensingCardsToDelete" style="document"/>
            <wsdl:input name="GetDoseDispensingCardsToDeleteRequest">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="BatchDataServiceResponse"><soap:body use="literal"/></wsdl:output>
            <wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetDoseDispensingPeriodsToDelete">
            <soap:operation soapAction="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01#GetDoseDispensingPeriodsToDelete" style="document"/>
            <wsdl:input name="GetDoseDispensingPeriodsToDeleteRequest">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="BatchDataServiceResponse"><soap:body use="literal"/></wsdl:output>
            <wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetPatientRelationsAndRegistrationsToDelete">
            <soap:operation soapAction="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01#GetPatientRelationsAndRegistrationsToDelete" style="document"/>
            <wsdl:input name="GetPatientRelationsAndRegistrationsToDeleteRequest">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="BatchDataServiceResponse"><soap:body use="literal"/></wsdl:output>
            <wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetEffectuationOrderingToDelete">
            <soap:operation soapAction="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01#GetEffectuationOrderingToDelete" style="document"/>
            <wsdl:input name="GetEffectuationOrderingToDeleteRequest">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="BatchDataServiceResponse"><soap:body use="literal"/></wsdl:output>
            <wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetEmptyMedicineCardsToDelete">
            <soap:operation soapAction="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01#GetEmptyMedicineCardsToDelete" style="document"/>
            <wsdl:input name="GetEmptyMedicineCardsToDeleteRequest">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="BatchDataServiceResponse"><soap:body use="literal"/></wsdl:output>
            <wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetPrescriptionsToDelete">
            <soap:operation soapAction="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01#GetPrescriptionsToDelete" style="document"/>
            <wsdl:input name="GetPrescriptionsToDeleteRequest">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="BatchDataServiceResponse"><soap:body use="literal"/></wsdl:output>
            <wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetPrescriptionEffectuationsToDelete">
            <soap:operation soapAction="http://fmk-teknik.dk/batchservice/xml.schema/2022/02/01#GetPrescriptionEffectuationsToDelete" style="document"/>
            <wsdl:input name="GetPrescriptionEffectuationsToDeleteRequest">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="BatchDataServiceResponse"><soap:body use="literal"/></wsdl:output>
            <wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>
    
	<wsdl:service name="BatchData">
		<wsdl:port name="BatchDataPort" binding="tns:BatchDataBinding">
			<soap:address location="http://nsi.dk/ws/BatchData"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
