etc/wsdl/DosageAI_2022_03_01.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE definitions [
]>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:medcom="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:dosageAI20220301="http://fmk-teknik.dk/dosageAI/xml.schema/2022/03/01"
                  xmlns:tns="http://fmk-teknik.dk/dosageAI/xml.schema/2022/03/01"
                  targetNamespace="http://fmk-teknik.dk/dosageAI/xml.schema/2022/03/01">

    <wsdl:types>
        <xs:schema targetNamespace="http://fmk-teknik.dk/dosageAI/xml.schema/2022/03/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/03/01/ParseDrugMedicationTextRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2022/03/01/ParseDrugMedicationTextResponse.xsd"/>
            <xs:include schemaLocation="../schemas/2022/03/01/SendDrugMedicationResultRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2022/03/01/SendDrugMedicationResultResponse.xsd"/>
        </xs:schema>

        <xs:schema targetNamespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
            <xs:include schemaLocation="../schemas/medcom/dgws/2006/04/medcom.xsd" />
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="ParseDrugMedicationRequest_2022_03_01">
        <wsdl:part name="ParseDrugMedicationRequest" element="dosageAI20220301:ParseDrugMedicationRequest"/>
    </wsdl:message>
    <wsdl:message name="ParseDrugMedicationResponse_2022_03_01">
        <wsdl:part name="ParseDrugMedicationResponse" element="dosageAI20220301:ParseDrugMedicationResponse"/>
    </wsdl:message>

    <wsdl:message name="SendDrugMedicationResultRequest_2022_03_01">
        <wsdl:part name="SendDrugMedicationResultRequest" element="dosageAI20220301:SendDrugMedicationResultRequest"/>
    </wsdl:message>
    <wsdl:message name="SendDrugMedicationResultResponse_2022_03_01">
        <wsdl:part name="SendDrugMedicationResultResponse" element="dosageAI20220301:SendDrugMedicationResultResponse"/>
    </wsdl:message>

    <wsdl:message name="DGWSFault">
        <wsdl:part name="faultCode" element="medcom:FaultCode"/>
        <wsdl:part name="faultText" element="medcom:FaultText"/>
    </wsdl:message>

    <wsdl:portType name="DosageAIPortType">

        <wsdl:operation name="ParseDrugMedication_2022_03_01">
            <wsdl:input name="ParseDrugMedicationRequest_2022_03_01" message="tns:ParseDrugMedicationRequest_2022_03_01"/>
            <wsdl:output name="ParseDrugMedicationResponse_2022_03_01"
                         message="tns:ParseDrugMedicationResponse_2022_03_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="SendDrugMedicationResult_2022_03_01">
            <wsdl:input name="SendDrugMedicationResultRequest_2022_03_01"
                        message="tns:SendDrugMedicationResultRequest_2022_03_01"/>
            <wsdl:output name="SendDrugMedicationResultResponse_2022_03_01"
                         message="tns:SendDrugMedicationResultResponse_2022_03_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="DosageAIBinding" type="tns:DosageAIPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="ParseDrugMedication_2022_03_01">
            <soap:operation soapAction="http://fmk-teknik.dk/dosageAI/xml.schema/2022/03/01#ParseDrugMedication"
                            style="document"/>
            <wsdl:input name="ParseDrugMedicationRequest_2022_03_01">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ParseDrugMedicationResponse_2022_03_01">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="SendDrugMedicationResult_2022_03_01">
            <soap:operation soapAction="http://fmk-teknik.dk/dosageAI/xml.schema/2022/03/01#SendDrugMedicationResult"
                            style="document"/>
            <wsdl:input name="SendDrugMedicationResultRequest_2022_03_01">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SendDrugMedicationResultResponse_2022_03_01">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="DosageAI">
        <wsdl:port name="DosageAIPort" binding="tns:DosageAIBinding">
            <soap:address location="https://test1.fmk.netic.dk/fmk12/ws/DosageAI"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
