etc/wsdl/EffectuationOrdering_Idws_2012_06_01.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01"
                  xmlns:tns="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01"
                  xmlns:sdsd201206="http://www.sdsd.dk/dgws/2012/06"
                  xmlns:wsseorig="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                  xmlns:wsuorig="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsa="http://www.w3.org/2005/08/addressing"
                  xmlns:sbf="urn:liberty:sb"

                  targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01">

    <wsdl:types>

        <xs:schema targetNamespace="urn:liberty:sb">
            <xs:include schemaLocation="../schemas/liberty/liberty-idwsf-soap-binding.xsd" />
            <xs:include schemaLocation="../schemas/liberty/idws-fault.xsd" />
        </xs:schema>

        <xs:schema targetNamespace="http://www.w3.org/2005/08/addressing">
            <xs:include schemaLocation="../schemas/w3/2005/08/ws-addr.xsd" />
        </xs:schema>

        <xs:schema targetNamespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
            <xs:include schemaLocation="../schemas/medcom/dgws/2006/04/medcom.xsd"/>
        </xs:schema>

        <xs:schema targetNamespace="http://www.sdsd.dk/dgws/2012/06">
            <xs:include schemaLocation="../schemas/sdsd/2012/06/WhitelistingHeader.xsd"/>
        </xs:schema>

        <xs:schema targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <xs:include schemaLocation="../schemas/oasis/2004/01/oasis-200401_orig-wss-wssecurity-secext-1.0.xsd" />
        </xs:schema>
        <xs:schema targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
            <xs:include schemaLocation="../schemas/oasis/2004/01/oasis-200401_orig-wss-wssecurity-utility-1.0.xsd" />
        </xs:schema>

        <xs:schema targetNamespace="http://www.w3.org/2001/10/xml-exc-c14n#">
            <xs:include schemaLocation="../schemas/w3/2001/10/xml-exc-c14n.xsd"/>
        </xs:schema>

        <xs:schema targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01"
                   elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2012/06/01/TimingList.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/GetOrderedEffectuationsRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2012/06/01/GetOrderedEffectuationsResponse.xsd"/>

			<xs:include schemaLocation="../schemas/2012/06/01/GetOrderedEffectuationSummaryRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2012/06/01/GetOrderedEffectuationSummaryResponse.xsd"/>
			
			<xs:include schemaLocation="../schemas/2012/06/01/OrderEffectuationRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2012/06/01/OrderEffectuationResponse.xsd"/>
			
			<xs:include schemaLocation="../schemas/2012/06/01/CancelOrderedEffectuationRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2012/06/01/CancelOrderedEffectuationResponse.xsd"/>

			<xs:include schemaLocation="../schemas/2012/06/01/OnBehalfOf.xsd"/>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="MessageIDHeader">
        <wsdl:part name="MessageIDHeader" element="wsa:MessageID" />
    </wsdl:message>
    <wsdl:message name="ActionHeader">
        <wsdl:part name="ActionHeader" element="wsa:Action" />
    </wsdl:message>
    <wsdl:message name="ToHeader">
        <wsdl:part name="ToHeader" element="wsa:To" />
    </wsdl:message>
    <wsdl:message name="RelatesToHeader">
        <wsdl:part name="RelatesToHeader" element="wsa:RelatesTo" />
    </wsdl:message>
    <wsdl:message name="FrameworkHeader">
        <wsdl:part name="FrameworkHeader" element="sbf:Framework"/>
    </wsdl:message>
    <wsdl:message name="SecurityHeader">
        <wsdl:part name="SecurityHeader" element="wsseorig:Security"/>
    </wsdl:message>
    <wsdl:message name="WhitelistingHeader">
        <wsdl:part name="WhitelistingHeader" element="sdsd201206:WhitelistingHeader"/>
    </wsdl:message>

    <wsdl:message name="TimingHeader">
        <wsdl:part name="TimingHeader" element="medicinecard20120601:TimingList"/>
    </wsdl:message>
    
    <wsdl:message name="GetOrderedEffectuationsIdwsRequest_2012_06_01">
        <wsdl:part name="GetOrderedEffectuationsIdwsRequest" element="medicinecard20120601:GetOrderedEffectuationsRequest"/>
    </wsdl:message>
    <wsdl:message name="GetOrderedEffectuationsIdwsResponse_2012_06_01">
        <wsdl:part name="GetOrderedEffectuationsResponse" element="medicinecard20120601:GetOrderedEffectuationsResponse"/>
    </wsdl:message>
    
    <wsdl:message name="GetOrderedEffectuationSummaryIdwsRequest2012_06_01">
        <wsdl:part name="GetOrderedEffectuationSummaryRequest" element="medicinecard20120601:GetOrderedEffectuationSummaryRequest"/>
    </wsdl:message>
    <wsdl:message name="GetOrderedEffectuationSummaryIdwsResponse_2012_06_01">
        <wsdl:part name="GetOrderedEffectuationSummaryResponse" element="medicinecard20120601:GetOrderedEffectuationSummaryResponse"/>
    </wsdl:message>
    
    <wsdl:message name="OrderEffectuationIdwsRequest_2012_06_01">
        <wsdl:part name="OrderEffectuationRequest" element="medicinecard20120601:OrderEffectuationRequest"/>
    </wsdl:message>
    <wsdl:message name="OrderEffectuationIdwsResponse_2012_06_01">
        <wsdl:part name="OrderEffectuationResponse" element="medicinecard20120601:OrderEffectuationResponse"/>
    </wsdl:message>
    
    <wsdl:message name="CancelOrderedEffectuationIdwsRequest_2012_06_01">
        <wsdl:part name="CancelOrderedEffectuationRequest" element="medicinecard20120601:CancelOrderedEffectuationRequest"/>
    </wsdl:message>
    <wsdl:message name="CancelOrderedEffectuationIdwsResponse_2012_06_01">
        <wsdl:part name="CancelOrderedEffectuationResponse" element="medicinecard20120601:CancelOrderedEffectuationResponse"/>
    </wsdl:message>

    <wsdl:message name="IDWSFault">
        <wsdl:part name="fault" element="sbf:IDWSFault" />
    </wsdl:message>

    <wsdl:portType name="EffectuationOrderingPortType">

        <wsdl:operation name="GetOrderedEffectuations_2012_06_01">
            <wsdl:input name="GetOrderedEffectuationsRequest_2012_06_01" 
            			message="tns:GetOrderedEffectuationsIdwsRequest_2012_06_01"/>
            
            <wsdl:output name="GetOrderedEffectuationsIdwsResponse_2012_06_01" 
            			 message="tns:GetOrderedEffectuationsIdwsResponse_2012_06_01"/>
            <wsdl:fault name="DGWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="GetOrderedEffectuationSummary_2012_06_01">
            <wsdl:input name="GetOrderedEffectuationSummaryIdwsRequest_2012_06_01" 
            			message="tns:GetOrderedEffectuationSummaryIdwsRequest2012_06_01"/>
            
            <wsdl:output name="GetOrderedEffectuationSummaryIdwsResponse_2012_06_01" 
            			 message="tns:GetOrderedEffectuationSummaryIdwsResponse_2012_06_01"/>
            <wsdl:fault name="DGWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        
        <wsdl:operation name="OrderEffectuation_2012_06_01">
            <wsdl:input name="OrderEffectuationIdwsRequest_2012_06_01" 
            			message="tns:OrderEffectuationIdwsRequest_2012_06_01"/>
            
            <wsdl:output name="OrderEffectuationIdwsResponse_2012_06_01" 
            			 message="tns:OrderEffectuationIdwsResponse_2012_06_01"/>
            <wsdl:fault name="DGWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>
        
        <wsdl:operation name="CancelOrderedEffectuation_2012_06_01">
            <wsdl:input name="CancelOrderedEffectuationIdwsRequest_2012_06_01" 
            			message="tns:CancelOrderedEffectuationIdwsRequest_2012_06_01"/>
            
            <wsdl:output name="CancelOrderedEffectuationIdwsResponse_2012_06_01" 
            			 message="tns:CancelOrderedEffectuationIdwsResponse_2012_06_01"/>
            <wsdl:fault name="DGWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>
        
    </wsdl:portType>


    <wsdl:binding name="EffectuationOrderingBinding" type="tns:EffectuationOrderingPortType">

        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="GetOrderedEffectuations_2012_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#GetOrderedEffectuations"
                            style="document"/>
            <wsdl:input
                    name="GetOrderedEffectuationsRequest_2012_06_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetOrderedEffectuationsResponse_2012_06_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        
         <wsdl:operation name="GetOrderedEffectuationSummary_2012_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#GetOrderedEffectuationSummary"
                            style="document"/>
            <wsdl:input
                    name="GetOrderedEffectuationSummaryRequest_2012_06_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetOrderedEffectuationSummaryResponse_2012_06_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
         
        
        <wsdl:operation name="OrderEffectuation_2012_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#OrderEffectuation"
                            style="document"/>
            <wsdl:input
                    name="OrderEffectuationRequest_2012_06_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="OrderEffectuationResponse_2012_06_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="CancelOrderedEffectuation_2012_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#CancelOrderedEffectuation"
                            style="document"/>
            <wsdl:input
                    name="CancelOrderedEffectuationRequest_2012_06_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CancelOrderedEffectuationResponse_2012_06_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="EffectuationOrdering">
        <wsdl:port name="EffectuationOrderingPort" binding="tns:EffectuationOrderingBinding">
            <soap:address location="http://trifork.lms.trifork.com/fmk12/ws/EffectuationOrdering"/>
        </wsdl:port>

    </wsdl:service>

</wsdl:definitions>
