etc/wsdl/EffectuationOrdering_2013_pem.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01"
                  xmlns:medicinecard20130601="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01"
                  xmlns:tns="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01"
                  xmlns:medcom="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd"
                  xmlns:dglws="http://www.medcom.dk/dglws/1.0/xsd"
                  xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                  xmlns:sdsd201206="http://www.sdsd.dk/dgws/2012/06"
                  targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2013/pem">

    <wsdl:types>

        <xs:schema targetNamespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
            <xs:include schemaLocation="../schemas/2008/06/01/medcom.xsd"/>
        </xs:schema>

        <xs:schema targetNamespace="http://www.sdsd.dk/dgws/2012/06">
            <xs:include schemaLocation="../schemas/sdsd/2012/06/WhitelistingHeader.xsd"/>
        </xs:schema>

<!--
        <xs:schema targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01">
            <xs:include schemaLocation="../schemas/2012/06/01/TimingList.xsd"/>
        </xs:schema>
-->

        <xs:schema targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01"
                   elementFormDefault="qualified">

            <xs:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                       schemaLocation="../schemas/2008/06/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"/>

			<!--<xs:include schemaLocation="../schemas/2012/06/01/OrderEffectuationResponse.xsd"/>-->
			
			<xs:include schemaLocation="../schemas/2012/06/01/OnBehalfOf.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/TimingList.xsd"/>
        </xs:schema>

        <xs:schema targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2013/pem"
                   elementFormDefault="qualified">

			<xs:include schemaLocation="../schemas/2013/pem/OrderEffectuationRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2013/pem/OrderEffectuationResponse.xsd"/>

        </xs:schema>

    </wsdl:types>

    <wsdl:message name="SecurityHeader">
        <wsdl:part name="SecurityHeader" element="wsse:Security"/>
    </wsdl:message>

    <wsdl:message name="MedComHeader">
        <wsdl:part name="MedcomHeader" element="medcom:Header"/>
    </wsdl:message>

    <wsdl:message name="WhitelistingHeader">
        <wsdl:part name="WhitelistingHeader" element="sdsd201206:WhitelistingHeader"/>
    </wsdl:message>

    <wsdl:message name="TimingHeader">
        <wsdl:part name="TimingHeader" element="medicinecard20120601:TimingList"/>
    </wsdl:message>
    
   <wsdl:message name="OnBehalfOfHeader">
        <wsdl:part name="OnBehalfOfHeader" element="medicinecard20120601:OnBehalfOf"/>
    </wsdl:message>

    
    <wsdl:message name="OrderEffectuationRequest_2013_pem">
        <wsdl:part name="OrderEffectuationRequest" element="medicinecard2013pem:OrderEffectuationRequest"/>
    </wsdl:message>
    <wsdl:message name="OrderEffectuationResponse_2013_pem">
        <wsdl:part name="OrderEffectuationResponse" element="medicinecard2013pem:OrderEffectuationResponse"/>
    </wsdl:message>
    
    <wsdl:message name="DGWSFault">
        <wsdl:part name="fault" element="medcom:FaultCode"/>
    </wsdl:message>


    <wsdl:portType name="EffectuationOrderingPortType">

        <wsdl:operation name="OrderEffectuation_2013_pem">
            <wsdl:input name="OrderEffectuationRequest_2013_pem"
            			message="tns:OrderEffectuationRequest_2013_pem"/>
            
            <wsdl:output name="OrderEffectuationResponse_2013_pem"
            			 message="tns:OrderEffectuationResponse_2013_pem"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>
        
    </wsdl:portType>


    <wsdl:binding name="EffectuationOrderingBinding" type="tns:EffectuationOrderingPortType">

        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="OrderEffectuation_2013_pem">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2013/pem#OrderEffectuation"
                            style="document"/>
            <wsdl:input
                    name="OrderEffectuationRequest_2013_pem">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="OrderEffectuationResponse_2013_pem">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        
    </wsdl:binding>

    <wsdl:service name="EffectuationOrdering">
        <wsdl:port name="EffectuationOrderingPort" binding="tns:EffectuationOrderingBinding">
            <soap:address location="http://trifork.lms.trifork.com/fmk12/ws/EffectuationOrdering"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
