etc/wsdl/EffectuationOrdering_Idws_2015_01_01.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
                  xmlns:tns="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
                  xmlns:sdsd201206="http://www.sdsd.dk/dgws/2012/06"
                  xmlns:wsseorig="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                  xmlns:wsuorig="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsa="http://www.w3.org/2005/08/addressing"
                  xmlns:sbf="urn:liberty:sb"

                  targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01">
    <wsdl:types>

        <xs:schema targetNamespace="urn:liberty:sb">
            <xs:include schemaLocation="../schemas/liberty/liberty-idwsf-soap-binding.xsd" />
            <xs:include schemaLocation="../schemas/liberty/idws-fault.xsd" />
        </xs:schema>

        <xs:schema targetNamespace="http://www.w3.org/2005/08/addressing">
            <xs:include schemaLocation="../schemas/2005/08/addressing/ws-addr.xsd" />
        </xs:schema>

        <xs:schema targetNamespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
            <xs:include schemaLocation="../schemas/medcom/dgws/2006/04/medcom.xsd"/>
        </xs:schema>

        <xs:schema targetNamespace="http://www.sdsd.dk/dgws/2012/06">
            <xs:include schemaLocation="../schemas/sdsd/2012/06/WhitelistingHeader.xsd"/>
        </xs:schema>

        <xs:schema targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <xs:include schemaLocation="../schemas/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd/oasis-200401_orig-wss-wssecurity-secext-1.0.xsd" />
        </xs:schema>
        <xs:schema targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
            <xs:include schemaLocation="../schemas/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd/oasis-200401_orig-wss-wssecurity-utility-1.0.xsd" />
        </xs:schema>

        <xs:schema targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
                   elementFormDefault="qualified">

            <xs:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                       schemaLocation="../schemas/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd/oasis-200401_orig-wss-wssecurity-secext-1.0.xsd"/>
            
			<xs:include schemaLocation="../schemas/2015/01/01/GetOrderedEffectuationsRequest.xsd"/>

			<xs:include schemaLocation="../schemas/2015/01/01/GetOrderedEffectuationsResponse.xsd"/>
			
			<xs:include schemaLocation="../schemas/2015/01/01/OrderEffectuationRequest.xsd"/>

			<xs:include schemaLocation="../schemas/2015/01/01/OrderEffectuationResponse.xsd"/>

			<xs:include schemaLocation="../schemas/2015/01/01/GetOrderedEffectuationSummaryRequest.xsd"/>

			<xs:include schemaLocation="../schemas/2015/01/01/GetOrderedEffectuationSummaryResponse.xsd"/>
			
			<xs:include schemaLocation="../schemas/2015/01/01/CancelOrderedEffectuationRequest.xsd"/>

			<xs:include schemaLocation="../schemas/2015/01/01/CancelOrderedEffectuationResponse.xsd"/>

			<xs:include schemaLocation="../schemas/2015/01/01/OnBehalfOf.xsd"/>

            <xs:include schemaLocation="../schemas/2015/01/01/TimingList.xsd"/>

        </xs:schema>

    </wsdl:types>

    <wsdl:message name="MessageIDHeader">
        <wsdl:part name="MessageIDHeader" element="wsa:MessageID" />
    </wsdl:message>
    <wsdl:message name="ActionHeader">
        <wsdl:part name="ActionHeader" element="wsa:Action" />
    </wsdl:message>
    <wsdl:message name="ToHeader">
        <wsdl:part name="ToHeader" element="wsa:To" />
    </wsdl:message>
    <wsdl:message name="RelatesToHeader">
        <wsdl:part name="RelatesToHeader" element="wsa:RelatesTo" />
    </wsdl:message>
    <wsdl:message name="FrameworkHeader">
        <wsdl:part name="FrameworkHeader" element="sbf:Framework"/>
    </wsdl:message>
    <wsdl:message name="SecurityHeader">
        <wsdl:part name="SecurityHeader" element="wsseorig:Security"/>
    </wsdl:message>
    <wsdl:message name="OnBehalfOfHeader">
       <wsdl:part name="OnBehalfOfHeader" element="medicinecard20150101:OnBehalfOf"/>
    </wsdl:message>
    <wsdl:message name="WhitelistingHeader">
        <wsdl:part name="WhitelistingHeader" element="sdsd201206:WhitelistingHeader"/>
    </wsdl:message>

    <wsdl:message name="TimingHeader">
        <wsdl:part name="TimingHeader" element="medicinecard20150101:TimingList"/>
    </wsdl:message>

    
    <wsdl:message name="GetOrderedEffectuationsIdwsRequest_2015_01_01">
        <wsdl:part name="GetOrderedEffectuationsRequest" element="medicinecard20150101:GetOrderedEffectuationsRequest"/>
    </wsdl:message>
    <wsdl:message name="GetOrderedEffectuationsIdwsResponse_2015_01_01">
        <wsdl:part name="GetOrderedEffectuationsResponse" element="medicinecard20150101:GetOrderedEffectuationsResponse"/>
    </wsdl:message>
    
    <wsdl:message name="GetOrderedEffectuationSummaryIdwsRequest_2015_01_01">
        <wsdl:part name="GetOrderedEffectuationSummaryRequest" element="medicinecard20150101:GetOrderedEffectuationSummaryRequest"/>
    </wsdl:message>
    <wsdl:message name="GetOrderedEffectuationSummaryIdwsResponse_2015_01_01">
        <wsdl:part name="GetOrderedEffectuationSummaryResponse" element="medicinecard20150101:GetOrderedEffectuationSummaryResponse"/>
    </wsdl:message>
        
    <wsdl:message name="OrderEffectuationIdwsRequest_2015_01_01">
        <wsdl:part name="OrderEffectuationRequest" element="medicinecard20150101:OrderEffectuationRequest"/>
    </wsdl:message>
    <wsdl:message name="OrderEffectuationIdwsResponse_2015_01_01">
        <wsdl:part name="OrderEffectuationResponse" element="medicinecard20150101:OrderEffectuationResponse"/>
    </wsdl:message>
    
    <wsdl:message name="CancelOrderedEffectuationIdwsRequest_2015_01_01">
        <wsdl:part name="CancelOrderedEffectuationRequest" element="medicinecard20150101:CancelOrderedEffectuationRequest"/>
    </wsdl:message>
    <wsdl:message name="CancelOrderedEffectuationIdwsResponse_2015_01_01">
        <wsdl:part name="CancelOrderedEffectuationResponse" element="medicinecard20150101:CancelOrderedEffectuationResponse"/>
    </wsdl:message>

    <wsdl:message name="IDWSFault">
        <wsdl:part name="fault" element="sbf:IDWSFault" />
    </wsdl:message>


    <wsdl:portType name="EffectuationOrderingPortType">

        <wsdl:operation name="GetOrderedEffectuationsIdws_2015_01_01">
            <wsdl:input name="GetOrderedEffectuationsIdwsRequest_2015_01_01" 
            			message="tns:GetOrderedEffectuationsIdwsRequest_2015_01_01"/>
            
            <wsdl:output name="GetOrderedEffectuationsIdwsResponse_2015_01_01"
            			 message="tns:GetOrderedEffectuationsIdwsResponse_2015_01_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>
        
          <wsdl:operation name="GetOrderedEffectuationSummaryIdws_2015_01_01">
            <wsdl:input name="GetOrderedEffectuationSummaryIdwsRequest_2015_01_01"
            			message="tns:GetOrderedEffectuationSummaryIdwsRequest_2015_01_01"/>
            
            <wsdl:output name="GetOrderedEffectuationSummaryIdwsResponse_2015_01_01"
            			 message="tns:GetOrderedEffectuationSummaryIdwsResponse_2015_01_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>
        
        <wsdl:operation name="OrderEffectuationIdws_2015_01_01">
            <wsdl:input name="OrderEffectuationIdwsRequest_2015_01_01"
            			message="tns:OrderEffectuationIdwsRequest_2015_01_01"/>
            
            <wsdl:output name="OrderEffectuationIdwsResponse_2015_01_01"
            			 message="tns:OrderEffectuationIdwsResponse_2015_01_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>
        
        <wsdl:operation name="CancelOrderedEffectuationIdws_2015_01_01">
            <wsdl:input name="CancelOrderedEffectuationIdwsRequest_2015_01_01"
            			message="tns:CancelOrderedEffectuationIdwsRequest_2015_01_01"/>
            
            <wsdl:output name="CancelOrderedEffectuationIdwsResponse_2015_01_01"
            			 message="tns:CancelOrderedEffectuationIdwsResponse_2015_01_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>
        
    </wsdl:portType>


    <wsdl:binding name="EffectuationOrderingBinding" type="tns:EffectuationOrderingPortType">

        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="GetOrderedEffectuationsIdws_2015_01_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01#GetOrderedEffectuations"
                            style="document"/>
            <wsdl:input
                    name="GetOrderedEffectuationsIdwsRequest_2015_01_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
            </wsdl:input>
            <wsdl:output name="GetOrderedEffectuationsIdwsResponse_2015_01_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        
         <wsdl:operation name="GetOrderedEffectuationSummaryIdws_2015_01_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01#GetOrderedEffectuationSummary"
                            style="document"/>
            <wsdl:input
                    name="GetOrderedEffectuationSummaryIdwsRequest_2015_01_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetOrderedEffectuationSummaryIdwsResponse_2015_01_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="OrderEffectuationIdws_2015_01_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01#OrderEffectuation"
                            style="document"/>
            <wsdl:input
                    name="OrderEffectuationIdwsRequest_2015_01_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="OrderEffectuationIdwsResponse_2015_01_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="CancelOrderedEffectuationIdws_2015_01_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01#CancelOrderedEffectuation"
                            style="document"/>
            <wsdl:input
                    name="CancelOrderedEffectuationIdwsRequest_2015_01_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CancelOrderedEffectuationIdwsResponse_2015_01_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="EffectuationOrdering">
        <wsdl:port name="EffectuationOrderingPort" binding="tns:EffectuationOrderingBinding">
            <soap:address location="http://trifork.lms.trifork.com/fmk12/ws/EffectuationOrdering"/>
        </wsdl:port>

    </wsdl:service>

</wsdl:definitions>
