etc/wsdl/EffectuationOrdering_Idws_2015_01_01_E2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE definitions [
<!ENTITY fmkStandardSOAPRequestHeaders "
                <soap:header use='literal' part='MessageIDHeader' message='tns:MessageIDHeader' wsdl:required='true' />
                <soap:header use='literal' part='ActionHeader' message='tns:ActionHeader' wsdl:required='true' />
                <soap:header use='literal' part='ToHeader' message='tns:ToHeader' />
                <soap:header use='literal' part='SecurityHeader' message='tns:SecurityHeader' wsdl:required='true' />
                <soap:header use='literal' part='FrameworkHeader' message='tns:FrameworkHeader' wsdl:required='true' />
                <soap:header use='literal' part='OnBehalfOfHeader' message='tns:OnBehalfOfHeader'/>
                <soap:header use='literal' part='WhitelistingHeader' message='tns:WhitelistingHeader' wsdl:required='true'/>
                <soap:header use='literal' part='ConsentHeader' message='tns:ConsentHeader' />
">
<!ENTITY fmkStandardSOAPResponseHeaders "
                <soap:header use='literal' part='MessageIDHeader' message='tns:MessageIDHeader' />
                <soap:header use='literal' part='ActionHeader' message='tns:ActionHeader' />
                <soap:header use='literal' part='RelatesToHeader' message='tns:RelatesToHeader' />
                <soap:header use='literal' part='SecurityHeader' message='tns:SecurityHeader' />
                <soap:header use='literal' part='FrameworkHeader' message='tns:FrameworkHeader' />
                <soap:header use='literal' part='TimingHeader' message='tns:TimingHeader' />
">
<!ENTITY operationFaultDeclaration "
            <wsdl:fault name='IDWSFault' message='tns:IDWSFault'/>
">
<!ENTITY bindingFaultDeclaration "
            <wsdl:fault name='IDWSFault'>
                <soap:fault name='IDWSFault' use='literal'/>
            </wsdl:fault>
">
]>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
                  xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
                  xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
                  xmlns:tns="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
                  xmlns:sdsd201206="http://www.sdsd.dk/dgws/2012/06"
                  xmlns:wsseorig="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                  xmlns:wsuorig="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsa="http://www.w3.org/2005/08/addressing"
                  xmlns:sbf="urn:liberty:sb"
                  targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2">
    <wsdl:types>

        <xs:schema targetNamespace="urn:liberty:sb">
            <xs:include schemaLocation="../schemas/liberty/liberty-idwsf-soap-binding.xsd" />
            <xs:include schemaLocation="../schemas/liberty/idws-fault.xsd" />
        </xs:schema>

        <xs:schema targetNamespace="http://www.w3.org/2005/08/addressing">
            <xs:include schemaLocation="../schemas/2005/08/addressing/ws-addr.xsd" />
        </xs:schema>

        <xs:schema targetNamespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
            <xs:include schemaLocation="../schemas/medcom/dgws/2006/04/medcom.xsd"/>
        </xs:schema>

        <xs:schema targetNamespace="http://www.sdsd.dk/dgws/2012/06">
            <xs:include schemaLocation="../schemas/sdsd/2012/06/WhitelistingHeader.xsd"/>
        </xs:schema>

        <xs:schema targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <xs:include schemaLocation="../schemas/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd/oasis-200401_orig-wss-wssecurity-secext-1.0.xsd" />
        </xs:schema>
        <xs:schema targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
            <xs:include schemaLocation="../schemas/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd/oasis-200401_orig-wss-wssecurity-utility-1.0.xsd" />
        </xs:schema>

        <xs:schema targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01">
			<!-- The ConsentHeader element was introduced in FMK 1.4.6 schema and is reused down through the older FMK interfaces -->
            <xs:include schemaLocation="../schemas/2015/06/01/ConsentHeader.xsd"/>
        </xs:schema>
        
        <xs:schema targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
                   elementFormDefault="qualified">

            <xs:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                       schemaLocation="../schemas/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd/oasis-200401_orig-wss-wssecurity-secext-1.0.xsd"/>
            
            <xs:include schemaLocation="../schemas/2015/01/01/TimingList.xsd"/>

        </xs:schema>

        <xs:schema targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
                   elementFormDefault="qualified">

            <xs:include schemaLocation="../schemas/2015/01/01/E2/OnBehalfOf.xsd"/>

            <xs:include schemaLocation="../schemas/2015/01/01/E2/CancelOrderRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2015/01/01/E2/CancelOrderResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2015/01/01/E2/CancelPrescriptionRequestRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2015/01/01/E2/CancelPrescriptionRequestResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2015/01/01/E2/CreateOrderRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2015/01/01/E2/CreateOrderResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2015/01/01/E2/CreatePrescriptionRequestRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2015/01/01/E2/CreatePrescriptionRequestResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2015/01/01/E2/ForwardPrescriptionRequestRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2015/01/01/E2/ForwardPrescriptionRequestResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2015/01/01/E2/GetPrescriptionRequestVersionsRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2015/01/01/E2/GetPrescriptionRequestVersionsResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2015/01/01/E2/GetPrescriptionRequestsRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2015/01/01/E2/GetPrescriptionRequestsResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2015/01/01/E2/SearchPrescriptionRequestsRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2015/01/01/E2/SearchPrescriptionRequestsResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2015/01/01/E2/GetOrdersRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2015/01/01/E2/GetOrdersResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2015/01/01/E2/SearchOrdersRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2015/01/01/E2/SearchOrdersResponse.xsd"/>

        </xs:schema>

    </wsdl:types>

    <wsdl:message name="MessageIDHeader">
        <wsdl:part name="MessageIDHeader" element="wsa:MessageID" />
    </wsdl:message>
    <wsdl:message name="ActionHeader">
        <wsdl:part name="ActionHeader" element="wsa:Action" />
    </wsdl:message>
    <wsdl:message name="ToHeader">
        <wsdl:part name="ToHeader" element="wsa:To" />
    </wsdl:message>
    <wsdl:message name="RelatesToHeader">
        <wsdl:part name="RelatesToHeader" element="wsa:RelatesTo" />
    </wsdl:message>
    <wsdl:message name="FrameworkHeader">
        <wsdl:part name="FrameworkHeader" element="sbf:Framework"/>
    </wsdl:message>
    <wsdl:message name="SecurityHeader">
        <wsdl:part name="SecurityHeader" element="wsseorig:Security"/>
    </wsdl:message>
    <wsdl:message name="OnBehalfOfHeader">
       <wsdl:part name="OnBehalfOfHeader" element="medicinecard20150101E2:OnBehalfOf"/>
    </wsdl:message>
    <wsdl:message name="ConsentHeader">
        <wsdl:part name="ConsentHeader" element="medicinecard20150601:ConsentHeader"/>
    </wsdl:message>
    <wsdl:message name="WhitelistingHeader">
        <wsdl:part name="WhitelistingHeader" element="sdsd201206:WhitelistingHeader"/>
    </wsdl:message>

    <wsdl:message name="TimingHeader">
        <wsdl:part name="TimingHeader" element="medicinecard20150101:TimingList"/>
    </wsdl:message>

    <wsdl:message name="IDWSFault">
        <wsdl:part name="fault" element="sbf:IDWSFault" />
    </wsdl:message>

    <wsdl:message name="CancelOrderRequest_2015_01_01_E2">
        <wsdl:part name="CancelOrderRequest" element="medicinecard20150101E2:CancelOrderRequest"/>
    </wsdl:message>

    <wsdl:message name="CancelOrderResponse_2015_01_01_E2">
        <wsdl:part name="CancelOrderResponse" element="medicinecard20150101E2:CancelOrderResponse"/>
    </wsdl:message>
    
    <wsdl:message name="CancelPrescriptionRequestRequest_2015_01_01_E2">
        <wsdl:part name="CancelPrescriptionRequestRequest" element="medicinecard20150101E2:CancelPrescriptionRequestRequest"/>
    </wsdl:message>
    
    <wsdl:message name="CancelPrescriptionRequestResponse_2015_01_01_E2">
        <wsdl:part name="CancelPrescriptionRequestResponse" element="medicinecard20150101E2:CancelPrescriptionRequestResponse"/>
    </wsdl:message>

    <wsdl:message name="CreateOrderRequest_2015_01_01_E2">
        <wsdl:part name="CreateOrderRequest" element="medicinecard20150101E2:CreateOrderRequest"/>
    </wsdl:message>
    
    <wsdl:message name="CreateOrderResponse_2015_01_01_E2">
        <wsdl:part name="CreateOrderResponse" element="medicinecard20150101E2:CreateOrderResponse"/>
    </wsdl:message>

    <wsdl:message name="CreatePrescriptionRequestRequest_2015_01_01_E2">
        <wsdl:part name="CreatePrescriptionRequestRequest" element="medicinecard20150101E2:CreatePrescriptionRequestRequest"/>
    </wsdl:message>

    <wsdl:message name="CreatePrescriptionRequestResponse_2015_01_01_E2">
        <wsdl:part name="CreatePrescriptionRequestResponse" element="medicinecard20150101E2:CreatePrescriptionRequestResponse"/>
    </wsdl:message>

    <wsdl:message name="ForwardPrescriptionRequestRequest_2015_01_01_E2">
        <wsdl:part name="ForwardPrescriptionRequestRequest" element="medicinecard20150101E2:ForwardPrescriptionRequestRequest"/>
    </wsdl:message>

    <wsdl:message name="ForwardPrescriptionRequestResponse_2015_01_01_E2">
        <wsdl:part name="ForwardPrescriptionRequestResponse" element="medicinecard20150101E2:ForwardPrescriptionRequestResponse"/>
    </wsdl:message>

    <wsdl:message name="GetPrescriptionRequestVersionsRequest_2015_01_01_E2">
        <wsdl:part name="GetPrescriptionRequestVersionsRequest" element="medicinecard20150101E2:GetPrescriptionRequestVersionsRequest"/>
    </wsdl:message>
    
    <wsdl:message name="GetPrescriptionRequestVersionsResponse_2015_01_01_E2">
        <wsdl:part name="GetPrescriptionRequestVersionsResponse" element="medicinecard20150101E2:GetPrescriptionRequestVersionsResponse"/>
    </wsdl:message>
   
    <wsdl:message name="GetPrescriptionRequestsRequest_2015_01_01_E2">
        <wsdl:part name="GetPrescriptionRequestsRequest" element="medicinecard20150101E2:GetPrescriptionRequestsRequest"/>
    </wsdl:message>
    
    <wsdl:message name="GetPrescriptionRequestsResponse_2015_01_01_E2">
        <wsdl:part name="GetPrescriptionRequestsResponse" element="medicinecard20150101E2:GetPrescriptionRequestsResponse"/>
    </wsdl:message>
   
    <wsdl:message name="SearchPrescriptionRequestsRequest_2015_01_01_E2">
        <wsdl:part name="SearchPrescriptionRequestsRequest" element="medicinecard20150101E2:SearchPrescriptionRequestsRequest"/>
    </wsdl:message>

    <wsdl:message name="SearchPrescriptionRequestsResponse_2015_01_01_E2">
        <wsdl:part name="SearchPrescriptionRequestsResponse" element="medicinecard20150101E2:SearchPrescriptionRequestsResponse"/>
    </wsdl:message>

    <wsdl:message name="GetOrdersRequest_2015_01_01_E2">
        <wsdl:part name="GetOrdersRequest" element="medicinecard20150101E2:GetOrdersRequest"/>
    </wsdl:message>

    <wsdl:message name="GetOrdersResponse_2015_01_01_E2">
        <wsdl:part name="GetOrdersResponse" element="medicinecard20150101E2:GetOrdersResponse"/>
    </wsdl:message>

    <wsdl:message name="SearchOrdersRequest_2015_01_01_E2">
        <wsdl:part name="SearchOrdersRequest" element="medicinecard20150101E2:SearchOrdersRequest"/>
    </wsdl:message>

    <wsdl:message name="SearchOrdersResponse_2015_01_01_E2">
        <wsdl:part name="SearchOrdersResponse" element="medicinecard20150101E2:SearchOrdersResponse"/>
    </wsdl:message>
    
    <wsdl:portType name="EffectuationOrderingPortType">

        <wsdl:operation name="CancelOrder_2015_01_01_E2">
            <wsdl:input name="CancelOrderRequest_2015_01_01_E2" message="tns:CancelOrderRequest_2015_01_01_E2"/>
            <wsdl:output name="CancelOrderResponse_2015_01_01_E2" message="tns:CancelOrderResponse_2015_01_01_E2"/>
&operationFaultDeclaration;
        </wsdl:operation>

        <wsdl:operation name="CancelPrescriptionRequest_2015_01_01_E2">
            <wsdl:input name="CancelPrescriptionRequestRequest_2015_01_01_E2" message="tns:CancelPrescriptionRequestRequest_2015_01_01_E2"/>
            <wsdl:output name="CancelPrescriptionRequestResponse_2015_01_01_E2" message="tns:CancelPrescriptionRequestResponse_2015_01_01_E2"/>
&operationFaultDeclaration;
        </wsdl:operation>

        <wsdl:operation name="CreateOrder_2015_01_01_E2">
            <wsdl:input name="CreateOrderRequest_2015_01_01_E2" message="tns:CreateOrderRequest_2015_01_01_E2"/>
            <wsdl:output name="CreateOrderResponse_2015_01_01_E2" message="tns:CreateOrderResponse_2015_01_01_E2"/>
&operationFaultDeclaration;
        </wsdl:operation>

        <wsdl:operation name="CreatePrescriptionRequest_2015_01_01_E2">
            <wsdl:input name="CreatePrescriptionRequestRequest_2015_01_01_E2" message="tns:CreatePrescriptionRequestRequest_2015_01_01_E2"/>
            <wsdl:output name="CreatePrescriptionRequestResponse_2015_01_01_E2" message="tns:CreatePrescriptionRequestResponse_2015_01_01_E2"/>
&operationFaultDeclaration;
        </wsdl:operation>

        <wsdl:operation name="ForwardPrescriptionRequest_2015_01_01_E2">
            <wsdl:input name="ForwardPrescriptionRequestRequest_2015_01_01_E2" message="tns:ForwardPrescriptionRequestRequest_2015_01_01_E2"/>
            <wsdl:output name="ForwardPrescriptionRequestResponse_2015_01_01_E2" message="tns:ForwardPrescriptionRequestResponse_2015_01_01_E2"/>
&operationFaultDeclaration;
        </wsdl:operation>

        <wsdl:operation name="GetPrescriptionRequestVersions_2015_01_01_E2">
            <wsdl:input name="GetPrescriptionRequestVersionsRequest_2015_01_01_E2" message="tns:GetPrescriptionRequestVersionsRequest_2015_01_01_E2"/>
            <wsdl:output name="GetPrescriptionRequestVersionsResponse_2015_01_01_E2" message="tns:GetPrescriptionRequestVersionsResponse_2015_01_01_E2"/>
&operationFaultDeclaration;
        </wsdl:operation>

        <wsdl:operation name="GetPrescriptionRequests_2015_01_01_E2">
            <wsdl:input name="GetPrescriptionRequestsRequest_2015_01_01_E2" message="tns:GetPrescriptionRequestsRequest_2015_01_01_E2"/>
            <wsdl:output name="GetPrescriptionRequestsResponse_2015_01_01_E2" message="tns:GetPrescriptionRequestsResponse_2015_01_01_E2"/>
&operationFaultDeclaration;
        </wsdl:operation>

        <wsdl:operation name="SearchPrescriptionRequests_2015_01_01_E2">
            <wsdl:input name="SearchPrescriptionRequestsRequest_2015_01_01_E2" message="tns:SearchPrescriptionRequestsRequest_2015_01_01_E2"/>
            <wsdl:output name="SearchPrescriptionRequestsResponse_2015_01_01_E2" message="tns:SearchPrescriptionRequestsResponse_2015_01_01_E2"/>
&operationFaultDeclaration;
        </wsdl:operation>

        <wsdl:operation name="GetOrders_2015_01_01_E2">
            <wsdl:input name="GetOrdersRequest_2015_01_01_E2" message="tns:GetOrdersRequest_2015_01_01_E2"/>
            <wsdl:output name="GetOrdersResponse_2015_01_01_E2" message="tns:GetOrdersResponse_2015_01_01_E2"/>
            &operationFaultDeclaration;
        </wsdl:operation>

        <wsdl:operation name="SearchOrders_2015_01_01_E2">
            <wsdl:input name="SearchOrdersRequest_2015_01_01_E2" message="tns:SearchOrdersRequest_2015_01_01_E2"/>
            <wsdl:output name="SearchOrdersResponse_2015_01_01_E2" message="tns:SearchOrdersResponse_2015_01_01_E2"/>
            &operationFaultDeclaration;
        </wsdl:operation>

    </wsdl:portType>


    <wsdl:binding name="EffectuationOrderingBinding" type="tns:EffectuationOrderingPortType">

        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="CancelOrder_2015_01_01_E2">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2#CancelOrder"
                            style="document"/>
            <wsdl:input name="CancelOrderRequest_2015_01_01_E2">
&fmkStandardSOAPRequestHeaders;
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CancelOrderResponse_2015_01_01_E2">
&fmkStandardSOAPResponseHeaders;
                <soap:body use="literal"/>
            </wsdl:output>
&bindingFaultDeclaration;
        </wsdl:operation>

        <wsdl:operation name="CancelPrescriptionRequest_2015_01_01_E2">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2#CancelPrescriptionRequest"
                            style="document"/>
            <wsdl:input name="CancelPrescriptionRequestRequest_2015_01_01_E2">
&fmkStandardSOAPRequestHeaders;
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CancelPrescriptionRequestResponse_2015_01_01_E2">
&fmkStandardSOAPResponseHeaders;
                <soap:body use="literal"/>
            </wsdl:output>
&bindingFaultDeclaration;
        </wsdl:operation>

        <wsdl:operation name="CreateOrder_2015_01_01_E2">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2#CreateOrder"
                            style="document"/>
            <wsdl:input name="CreateOrderRequest_2015_01_01_E2">
&fmkStandardSOAPRequestHeaders;
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreateOrderResponse_2015_01_01_E2">
&fmkStandardSOAPResponseHeaders;
                <soap:body use="literal"/>
            </wsdl:output>
&bindingFaultDeclaration;
        </wsdl:operation>

        <wsdl:operation name="CreatePrescriptionRequest_2015_01_01_E2">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2#CreatePrescriptionRequest"
                            style="document"/>
            <wsdl:input name="CreatePrescriptionRequestRequest_2015_01_01_E2">
&fmkStandardSOAPRequestHeaders;
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreatePrescriptionRequestResponse_2015_01_01_E2">
&fmkStandardSOAPResponseHeaders;
                <soap:body use="literal"/>
            </wsdl:output>
&bindingFaultDeclaration;
        </wsdl:operation>

        <wsdl:operation name="ForwardPrescriptionRequest_2015_01_01_E2">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2#ForwardPrescriptionRequest"
                            style="document"/>
            <wsdl:input name="ForwardPrescriptionRequestRequest_2015_01_01_E2">
&fmkStandardSOAPRequestHeaders;
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ForwardPrescriptionRequestResponse_2015_01_01_E2">
&fmkStandardSOAPResponseHeaders;
                <soap:body use="literal"/>
            </wsdl:output>
&bindingFaultDeclaration;
        </wsdl:operation>

        <wsdl:operation name="GetPrescriptionRequestVersions_2015_01_01_E2">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2#GetPrescriptionRequestVersions"
                            style="document"/>
            <wsdl:input name="GetPrescriptionRequestVersionsRequest_2015_01_01_E2">
&fmkStandardSOAPRequestHeaders;
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPrescriptionRequestVersionsResponse_2015_01_01_E2">
&fmkStandardSOAPResponseHeaders;
                <soap:body use="literal"/>
            </wsdl:output>
&bindingFaultDeclaration;
        </wsdl:operation>

        <wsdl:operation name="GetPrescriptionRequests_2015_01_01_E2">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2#GetPrescriptionRequests"
                            style="document"/>
            <wsdl:input name="GetPrescriptionRequestsRequest_2015_01_01_E2">
&fmkStandardSOAPRequestHeaders;
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPrescriptionRequestsResponse_2015_01_01_E2">
&fmkStandardSOAPResponseHeaders;
                <soap:body use="literal"/>
            </wsdl:output>
&bindingFaultDeclaration;
        </wsdl:operation>

        <wsdl:operation name="SearchPrescriptionRequests_2015_01_01_E2">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2#SearchPrescriptionRequests"
                            style="document"/>
            <wsdl:input name="SearchPrescriptionRequestsRequest_2015_01_01_E2">
&fmkStandardSOAPRequestHeaders;
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SearchPrescriptionRequestsResponse_2015_01_01_E2">
&fmkStandardSOAPResponseHeaders;
                <soap:body use="literal"/>
            </wsdl:output>
&bindingFaultDeclaration;
        </wsdl:operation>

        <wsdl:operation name="GetOrders_2015_01_01_E2">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2#GetOrders"
                            style="document"/>
            <wsdl:input name="GetOrdersRequest_2015_01_01_E2">
                &fmkStandardSOAPRequestHeaders;
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetOrdersResponse_2015_01_01_E2">
                &fmkStandardSOAPResponseHeaders;
                <soap:body use="literal"/>
            </wsdl:output>
            &bindingFaultDeclaration;
        </wsdl:operation>

        <wsdl:operation name="SearchOrders_2015_01_01_E2">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2#SearchOrders"
                            style="document"/>
            <wsdl:input name="SearchOrdersRequest_2015_01_01_E2">
                &fmkStandardSOAPRequestHeaders;
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SearchOrdersResponse_2015_01_01_E2">
                &fmkStandardSOAPResponseHeaders;
                <soap:body use="literal"/>
            </wsdl:output>
            &bindingFaultDeclaration;
        </wsdl:operation>
        
    </wsdl:binding>

    <wsdl:service name="EffectuationOrdering">
        <wsdl:port name="EffectuationOrderingPort" binding="tns:EffectuationOrderingBinding">
            <soap:address location="http://trifork.lms.trifork.com/fmk12/ws/EffectuationOrdering"/>
        </wsdl:port>

    </wsdl:service>

</wsdl:definitions>
