etc/wsdl/EffectuationOrdering_2015_01_01.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
                  xmlns:tns="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
                  xmlns:medcom="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd"
                  xmlns:dglws="http://www.medcom.dk/dglws/1.0/xsd"
                  xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                  xmlns:sdsd201206="http://www.sdsd.dk/dgws/2012/06"
                  targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01">

    <wsdl:types>

        <xs:schema targetNamespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
            <xs:include schemaLocation="../schemas/medcom/dgws/2006/04/medcom.xsd"/>
        </xs:schema>

        <xs:schema targetNamespace="http://www.sdsd.dk/dgws/2012/06">
            <xs:include schemaLocation="../schemas/sdsd/2012/06/WhitelistingHeader.xsd"/>
        </xs:schema>

        <xs:schema targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01">
            <xs:include schemaLocation="../schemas/2012/06/01/TimingList.xsd"/>
        </xs:schema>

        <xs:schema targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
                   elementFormDefault="qualified">

            <xs:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                       schemaLocation="../schemas/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd/oasis-200401_orig-wss-wssecurity-secext-1.0.xsd"/>
            
            <xs:import namespace="urn:oasis:names:tc:SAML:2.0:assertion"
                       schemaLocation="../schemas/urn_oasis_names_tc_SAML_2.0_assertion/saml-schema-assertion-2.0.xsd"/>
            
			<xs:include schemaLocation="../schemas/2015/01/01/GetOrderedEffectuationsRequest.xsd"/>

			<xs:include schemaLocation="../schemas/2015/01/01/GetOrderedEffectuationsResponse.xsd"/>
			
			<xs:include schemaLocation="../schemas/2015/01/01/OrderEffectuationRequest.xsd"/>

			<xs:include schemaLocation="../schemas/2015/01/01/OrderEffectuationResponse.xsd"/>

			<xs:include schemaLocation="../schemas/2015/01/01/GetOrderedEffectuationSummaryRequest.xsd"/>

			<xs:include schemaLocation="../schemas/2015/01/01/GetOrderedEffectuationSummaryResponse.xsd"/>
			
			<xs:include schemaLocation="../schemas/2015/01/01/CancelOrderedEffectuationRequest.xsd"/>

			<xs:include schemaLocation="../schemas/2015/01/01/CancelOrderedEffectuationResponse.xsd"/>

			<xs:include schemaLocation="../schemas/2015/01/01/OnBehalfOf.xsd"/>

            <xs:include schemaLocation="../schemas/2015/01/01/TimingList.xsd"/>

        </xs:schema>

    </wsdl:types>

    <wsdl:message name="SecurityHeader">
        <wsdl:part name="SecurityHeader" element="wsse:Security"/>
    </wsdl:message>

    <wsdl:message name="MedComHeader">
        <wsdl:part name="MedcomHeader" element="medcom:Header"/>
    </wsdl:message>

    <wsdl:message name="WhitelistingHeader">
        <wsdl:part name="WhitelistingHeader" element="sdsd201206:WhitelistingHeader"/>
    </wsdl:message>

    <wsdl:message name="TimingHeader">
        <wsdl:part name="TimingHeader" element="medicinecard20150101:TimingList"/>
    </wsdl:message>
    
   <wsdl:message name="OnBehalfOfHeader">
        <wsdl:part name="OnBehalfOfHeader" element="medicinecard20150101:OnBehalfOf"/>
    </wsdl:message>

    
    <wsdl:message name="GetOrderedEffectuationsRequest_2015_01_01">
        <wsdl:part name="GetOrderedEffectuationsRequest" element="medicinecard20150101:GetOrderedEffectuationsRequest"/>
    </wsdl:message>
    <wsdl:message name="GetOrderedEffectuationsResponse_2015_01_01">
        <wsdl:part name="GetOrderedEffectuationsResponse" element="medicinecard20150101:GetOrderedEffectuationsResponse"/>
    </wsdl:message>
    
    <wsdl:message name="GetOrderedEffectuationSummaryRequest_2015_01_01">
        <wsdl:part name="GetOrderedEffectuationSummaryRequest" element="medicinecard20150101:GetOrderedEffectuationSummaryRequest"/>
    </wsdl:message>
    <wsdl:message name="GetOrderedEffectuationSummaryResponse_2015_01_01">
        <wsdl:part name="GetOrderedEffectuationSummaryResponse" element="medicinecard20150101:GetOrderedEffectuationSummaryResponse"/>
    </wsdl:message>
        
    <wsdl:message name="OrderEffectuationRequest_2015_01_01">
        <wsdl:part name="OrderEffectuationRequest" element="medicinecard20150101:OrderEffectuationRequest"/>
    </wsdl:message>
    <wsdl:message name="OrderEffectuationResponse_2015_01_01">
        <wsdl:part name="OrderEffectuationResponse" element="medicinecard20150101:OrderEffectuationResponse"/>
    </wsdl:message>
    
    <wsdl:message name="CancelOrderedEffectuationRequest_2015_01_01">
        <wsdl:part name="CancelOrderedEffectuationRequest" element="medicinecard20150101:CancelOrderedEffectuationRequest"/>
    </wsdl:message>
    <wsdl:message name="CancelOrderedEffectuationResponse_2015_01_01">
        <wsdl:part name="CancelOrderedEffectuationResponse" element="medicinecard20150101:CancelOrderedEffectuationResponse"/>
    </wsdl:message>

    <wsdl:message name="DGWSFault">
        <wsdl:part name="fault" element="medcom:FaultCode"/>
    </wsdl:message>


    <wsdl:portType name="EffectuationOrderingPortType">

        <wsdl:operation name="GetOrderedEffectuations_2015_01_01">
            <wsdl:input name="GetOrderedEffectuationsRequest_2015_01_01" 
            			message="tns:GetOrderedEffectuationsRequest_2015_01_01"/>
            
            <wsdl:output name="GetOrderedEffectuationsResponse_2015_01_01" 
            			 message="tns:GetOrderedEffectuationsResponse_2015_01_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>
        
          <wsdl:operation name="GetOrderedEffectuationSummary_2015_01_01">
            <wsdl:input name="GetOrderedEffectuationSummaryRequest_2015_01_01" 
            			message="tns:GetOrderedEffectuationSummaryRequest_2015_01_01"/>
            
            <wsdl:output name="GetOrderedEffectuationSummaryResponse_2015_01_01" 
            			 message="tns:GetOrderedEffectuationSummaryResponse_2015_01_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>
        
        <wsdl:operation name="OrderEffectuation_2015_01_01">
            <wsdl:input name="OrderEffectuationRequest_2015_01_01" 
            			message="tns:OrderEffectuationRequest_2015_01_01"/>
            
            <wsdl:output name="OrderEffectuationResponse_2015_01_01" 
            			 message="tns:OrderEffectuationResponse_2015_01_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>
        
        <wsdl:operation name="CancelOrderedEffectuation_2015_01_01">
            <wsdl:input name="CancelOrderedEffectuationRequest_2015_01_01" 
            			message="tns:CancelOrderedEffectuationRequest_2015_01_01"/>
            
            <wsdl:output name="CancelOrderedEffectuationResponse_2015_01_01" 
            			 message="tns:CancelOrderedEffectuationResponse_2015_01_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>
        
    </wsdl:portType>


    <wsdl:binding name="EffectuationOrderingBinding" type="tns:EffectuationOrderingPortType">

        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="GetOrderedEffectuations_2015_01_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01#GetOrderedEffectuations"
                            style="document"/>
            <wsdl:input
                    name="GetOrderedEffectuationsRequest_2015_01_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetOrderedEffectuationsResponse_2015_01_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        
         <wsdl:operation name="GetOrderedEffectuationSummary_2015_01_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01#GetOrderedEffectuationSummary"
                            style="document"/>
            <wsdl:input
                    name="GetOrderedEffectuationSummaryRequest_2015_01_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetOrderedEffectuationSummaryResponse_2015_01_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="OrderEffectuation_2015_01_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01#OrderEffectuation"
                            style="document"/>
            <wsdl:input
                    name="OrderEffectuationRequest_2015_01_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="OrderEffectuationResponse_2015_01_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="CancelOrderedEffectuation_2015_01_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01#CancelOrderedEffectuation"
                            style="document"/>
            <wsdl:input
                    name="CancelOrderedEffectuationRequest_2015_01_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CancelOrderedEffectuationResponse_2015_01_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="EffectuationOrdering">
        <wsdl:port name="EffectuationOrderingPort" binding="tns:EffectuationOrderingBinding">
            <soap:address location="http://trifork.lms.trifork.com/fmk12/ws/EffectuationOrdering"/>
        </wsdl:port>

    </wsdl:service>

</wsdl:definitions>
