etc/wsdl/MedicineCard_2012_01_01_126Only.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:medicinecard20080601="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" 
	xmlns:medicinecard20090101="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" 
	xmlns:medicinecard20110101="http://www.dkma.dk/medicinecard/xml.schema/2011/01/01" 
	xmlns:medicinecard20120101="http://www.dkma.dk/medicinecard/xml.schema/2012/01/01" 
	xmlns:tns="http://www.dkma.dk/medicinecard/xml.schema/2012/01/01"
	xmlns:dglws="http://www.medcom.dk/dglws/1.0/xsd"
	xmlns:medcom="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd"
	xmlns:sdsd201008="http://www.sdsd.dk/dgws/2010/08"
	xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
	targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/01/01">

	<wsdl:types>

		<xs:schema targetNamespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
			<xs:include schemaLocation="../schemas/medcom/dgws/2006/04/medcom.xsd" />
		</xs:schema>
		
		<xs:schema targetNamespace="http://www.sdsd.dk/dgws/2010/08">
			<xs:include schemaLocation="../schemas/sdsd/2010/08/SystemOwnerName.xsd" />
			<xs:include schemaLocation="../schemas/sdsd/2010/08/SystemName.xsd" />
			<xs:include schemaLocation="../schemas/sdsd/2010/08/SystemVersion.xsd" />
			<xs:include schemaLocation="../schemas/sdsd/2010/08/OrgResponsibleName.xsd" />
			<xs:include schemaLocation="../schemas/sdsd/2010/08/OrgUsingName.xsd" />
			<xs:include schemaLocation="../schemas/sdsd/2010/08/OrgUsingID.xsd" />
			<xs:include schemaLocation="../schemas/sdsd/2010/08/RequestedRole.xsd" />
		</xs:schema>

		<xs:schema targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/01/01" elementFormDefault="qualified">
		  <xs:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                       schemaLocation="../schemas/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd/oasis-200401_orig-wss-wssecurity-secext-1.0.xsd"/>
		
			<!-- FMK 1.2.2 webservices, namespace 2009/01/01 -->
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" schemaLocation="../schemas/2009/01/01/DKMA_MedicineCardRequestStructure.xsd"/>
			
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" schemaLocation="../schemas/2009/01/01/DKMA_MedicineCardAsPDFRequestStructure.xsd"/>
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../schemas/2008/06/01/DKMA_MedicineCardAsPDFResponseStructure.xsd"/>
			
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../schemas/2008/06/01/DKMA_MedicineCardVersionRequestStructure.xsd"/>
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" schemaLocation="../schemas/2009/01/01/DKMA_MedicineCardVersionResponseStructure.xsd"/>
			
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" schemaLocation="../schemas/2009/01/01/DKMA_DrugMedicationRequestStructure.xsd"/>
 			
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" schemaLocation="../schemas/2009/01/01/DKMA_PauseDrugMedicationRequestStructure.xsd"/>
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../schemas/2008/06/01/DKMA_PauseDrugMedicationResponseStructure.xsd"/>
			
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" schemaLocation="../schemas/2009/01/01/DKMA_CreateDrugMedicationResponseStructure.xsd"/>

			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../schemas/2008/06/01/DKMA_PrescriptionMedicationRequestStructure.xsd"/>
			
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../schemas/2008/06/01/DKMA_AttachOrDetachPrescriptionMedicationRequestStructure.xsd"/>
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../schemas/2008/06/01/DKMA_AttachOrDetachPrescriptionMedicationResponseStructure.xsd"/>

			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" schemaLocation="../schemas/2009/01/01/DKMA_CreateEffectuationRequestStructure.xsd"/>
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../schemas/2008/06/01/DKMA_CreateEffectuationResponseStructure.xsd"/>

			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../schemas/2008/06/01/DKMA_CreatePrescriptionMedicationResponseStructure.xsd"/>

			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" schemaLocation="../schemas/2009/01/01/DKMA_SearchWithdrawnDrugMedicationsRequestStructure.xsd"/>

			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" schemaLocation="../schemas/2009/01/01/DKMA_SuspendMedicineCardRequestStructure.xsd"/>
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../schemas/2008/06/01/DKMA_SuspendMedicineCardResponseStructure.xsd"/>

			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" schemaLocation="../schemas/2009/01/01/DKMA_ResuspendMedicineCardRequestStructure.xsd"/>
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" schemaLocation="../schemas/2009/01/01/DKMA_ResuspendMedicineCardResponseStructure.xsd"/>

			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" schemaLocation="../schemas/2009/01/01/DKMA_UnpauseDrugMedicationRequestStructure.xsd"/>
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../schemas/2008/06/01/DKMA_UnpauseDrugMedicationResponseStructure.xsd"/>

			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" schemaLocation="../schemas/2009/01/01/DKMA_UnsuspendMedicineCardRequestStructure.xsd"/>
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../schemas/2008/06/01/DKMA_UnsuspendMedicineCardResponseStructure.xsd"/>

			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../schemas/2008/06/01/DKMA_UpdateDrugMedicationResponseStructure.xsd"/>

			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" schemaLocation="../schemas/2009/01/01/DKMA_WithdrawDrugMedicationRequestStructure.xsd"/>
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../schemas/2008/06/01/DKMA_WithdrawDrugMedicationResponseStructure.xsd"/>

			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" schemaLocation="../schemas/2009/01/01/DKMA_SearchEffectuationsRequestStructure.xsd"/>
			
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../schemas/2008/06/01/DKMA_TimingListStructure.xsd"/>
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" schemaLocation="../schemas/2009/01/01/DKMA_PrescriptionReplicationStatusStructure.xsd"/>
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" schemaLocation="../schemas/2009/01/01/DKMA_OnBehalfOfStructure.xsd"/>

			<!-- FMK 1.2.x webservices, namespace 2011/01/01 -->
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2011/01/01" schemaLocation="../schemas/2011/01/01/DKMA_SearchWithdrawnDrugMedicationsResponseStructure.xsd"/>
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2011/01/01" schemaLocation="../schemas/2011/01/01/DKMA_CreateDrugMedicationRequestStructure.xsd"/>
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2011/01/01" schemaLocation="../schemas/2011/01/01/DKMA_CreatePrescriptionMedicationRequestStructure.xsd"/>
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2011/01/01" schemaLocation="../schemas/2011/01/01/DKMA_SearchEffectuationsResponseStructure.xsd"/>
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2011/01/01" schemaLocation="../schemas/2011/01/01/CreatePrescriptionMedicationForUseInPracticeRequest.xsd"/>
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2011/01/01" schemaLocation="../schemas/2011/01/01/CreatePrescriptionMedicationForUseInPracticeResponse.xsd"/>
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2011/01/01" schemaLocation="../schemas/2011/01/01/CreatePrescriptionMedicationWithoutCPRRequest.xsd"/>
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2011/01/01" schemaLocation="../schemas/2011/01/01/CreatePrescriptionMedicationWithoutCPRResponse.xsd"/>
			
			<!-- FMK 1.2.x webservices, namespace 2012/01/01 -->
			<xs:include schemaLocation="../schemas/2012/01/01/DeleteEffectuationRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2012/01/01/DeleteEffectuationResponse.xsd"/>
			<xs:include schemaLocation="../schemas/2012/01/01/DKMA_UpdateDrugMedicationRequestStructure.xsd"/>
			<xs:include schemaLocation="../schemas/2012/01/01/DKMA_UpdateMedicineCardRequestStructure.xsd"/>
			<xs:include schemaLocation="../schemas/2012/01/01/DKMA_UpdateMedicineCardResponseStructure.xsd"/>
			<xs:include schemaLocation="../schemas/2012/01/01/UnWithdrawDrugMedicationRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2012/01/01/UnWithdrawDrugMedicationResponse.xsd"/>
			<xs:include schemaLocation="../schemas/2012/01/01/GetPermissionsRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2012/01/01/GetPermissionsResponse.xsd"/>

			<xs:include schemaLocation="../schemas/2012/01/01/DKMA_MedicineCardResponseStructure.xsd"/>
			<xs:include schemaLocation="../schemas/2012/01/01/DKMA_DrugMedicationResponseStructure.xsd"/>
			<xs:include schemaLocation="../schemas/2012/01/01/DKMA_PrescriptionMedicationResponseStructure.xsd"/>
			<xs:include schemaLocation="../schemas/2012/01/01/DKMA_DrugMedicationOverviewStructure.xsd"/>
			<xs:include schemaLocation="../schemas/2012/01/01/DKMA_DrugMedicationStructure.xsd"/>
			<xs:include schemaLocation="../schemas/2012/01/01/DKMA_MedicineCardOverviewStructure.xsd"/>
			<xs:include schemaLocation="../schemas/2012/01/01/CancelPrescriptionMedicationResponse.xsd"/>
			<xs:include schemaLocation="../schemas/2012/01/01/MarkPrescriptionMedicationDeprecatedRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2012/01/01/CancelPrescriptionMedicationRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2012/01/01/MarkPrescriptionMedicationDeprecatedResponse.xsd"/>
			<xs:include schemaLocation="../schemas/2012/01/01/DKMA_SetMedicineCardReviewedRequestStructure.xsd"/>
			<xs:include schemaLocation="../schemas/2012/01/01/DKMA_SetMedicineCardReviewedResponseStructure.xsd"/>
			<xs:include schemaLocation="../schemas/2012/01/01/UnmarkPrescriptionMedicationDeprecatedResponse.xsd"/>
			<xs:include schemaLocation="../schemas/2012/01/01/UnmarkPrescriptionMedicationDeprecatedRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2012/01/01/DKMA_PrescriptionMedicationOverviewStructure.xsd"/>
			<xs:include schemaLocation="../schemas/2012/01/01/DKMA_PrescriptionMedicationStructure.xsd"/>
			<xs:include schemaLocation="../schemas/2012/01/01/PrescriptionMedicationStatus.xsd"/>
		</xs:schema>
	</wsdl:types>
	
	<wsdl:message name="SecurityHeader">
		<wsdl:part name="SecurityHeader" element="wsse:Security"/>
	</wsdl:message>

	<wsdl:message name="MedComHeader">
		<wsdl:part name="MedcomHeader" element="medcom:Header"/>
	</wsdl:message> 

	<wsdl:message name="SDSDSystemHeader">
		<wsdl:part name="SDSDSystemOwnerName" element="sdsd201008:SystemOwnerName"/>
		<wsdl:part name="SDSDSystemName" element="sdsd201008:SystemName"/>
		<wsdl:part name="SDSDSystemVersion" element="sdsd201008:SystemVersion"/>
		<wsdl:part name="SDSDOrgResponsibleName" element="sdsd201008:OrgResponsibleName"/>
		<wsdl:part name="SDSDOrgUsingName" element="sdsd201008:OrgUsingName"/>
		<wsdl:part name="SDSDOrgUsingID" element="sdsd201008:OrgUsingID"/>
	</wsdl:message> 

	<wsdl:message name="SDSDRequestedRole">
		<wsdl:part name="SDSDRequestedRole" element="sdsd201008:RequestedRole"/>
	</wsdl:message> 

	<wsdl:message name="TimingHeader">
		<wsdl:part name="TimingHeader" element="medicinecard20080601:TimingListStructure"/>
	</wsdl:message> 
    
	<wsdl:message name="ReplicationStatusHeader">
		<wsdl:part name="ReplicationStatusHeader" element="medicinecard20090101:PrescriptionReplicationStatusStructure"/>
	</wsdl:message> 
    
	<wsdl:message name="OnBehalfOfHeader">
		<wsdl:part name="OnBehalfOfHeader" element="medicinecard20090101:OnBehalfOfStructure"/>
	</wsdl:message> 
    
	<!-- FMK 1.2.2 webservices, namespace 2009/01/01 -->

	<wsdl:message name="MedicineCardRequest">
		<wsdl:part name="MedicineCardRequest" element="medicinecard20090101:MedicineCardRequestStructure"/>
	</wsdl:message>

	<wsdl:message name="MedicineCardAsPDFRequest">
		<wsdl:part name="MedicineCardAsPDFRequest" element="medicinecard20090101:MedicineCardAsPDFRequestStructure"/>
	</wsdl:message>
	<wsdl:message name="MedicineCardAsPDFResponse">
		<wsdl:part name="MedicineCardAsPDFResponse" element="medicinecard20080601:MedicineCardAsPDFResponseStructure"/>
	</wsdl:message>

	<wsdl:message name="MedicineCardVersionRequest">
		<wsdl:part name="MedicineCardVersionRequest" element="medicinecard20080601:MedicineCardVersionRequestStructure"/>
	</wsdl:message>
	<wsdl:message name="MedicineCardVersionResponse">
		<wsdl:part name="MedicineCardVersionResponse" element="medicinecard20090101:MedicineCardVersionResponseStructure"/>
	</wsdl:message>

	<wsdl:message name="DrugMedicationRequest">
		<wsdl:part name="DrugMedicationRequest" element="medicinecard20090101:DrugMedicationRequestStructure"/>
	</wsdl:message>

	<wsdl:message name="PauseDrugMedicationRequest">
		<wsdl:part name="PauseDrugMedicationRequest" element="medicinecard20090101:PauseDrugMedicationRequestStructure"/>
	</wsdl:message>
	<wsdl:message name="PauseDrugMedicationResponse">
		<wsdl:part name="PauseDrugMedicationResponse" element="medicinecard20080601:PauseDrugMedicationResponseStructure"/>
	</wsdl:message>

	<wsdl:message name="CreateDrugMedicationResponse">
		<wsdl:part name="CreateDrugMedicationResponse" element="medicinecard20090101:CreateDrugMedicationResponseStructure"/>
	</wsdl:message>

	<wsdl:message name="AttachOrDetachPrescriptionMedicationRequest">
		<wsdl:part name="AttachOrDetachPrescriptionMedicationRequest" element="medicinecard20080601:AttachOrDetachPrescriptionMedicationRequestStructure"/>
	</wsdl:message>
	<wsdl:message name="AttachOrDetachPrescriptionMedicationResponse">
		<wsdl:part name="AttachOrDetachPrescriptionMedicationResponse" element="medicinecard20080601:AttachOrDetachPrescriptionMedicationResponseStructure"/>
	</wsdl:message>

	<wsdl:message name="CreateEffectuationRequest">
		<wsdl:part name="CreateEffectuationRequest" element="medicinecard20090101:CreateEffectuationRequestStructure"/>
	</wsdl:message>
	<wsdl:message name="CreateEffectuationResponse">
		<wsdl:part name="CreateEffectuationResponse" element="medicinecard20080601:CreateEffectuationResponseStructure"/>
	</wsdl:message>

	<wsdl:message name="CreatePrescriptionMedicationResponse">
		<wsdl:part name="CreatePrescriptionMedicationResponse" element="medicinecard20080601:CreatePrescriptionMedicationResponseStructure"/>
	</wsdl:message>

	<wsdl:message name="PrescriptionMedicationRequest">
		<wsdl:part name="PrescriptionMedicationRequest" element="medicinecard20080601:PrescriptionMedicationRequestStructure"/>
	</wsdl:message>

	<wsdl:message name="SearchWithdrawnDrugMedicationsRequest">
		<wsdl:part name="SearchWithdrawnDrugMedicationsRequest" element="medicinecard20090101:SearchWithdrawnDrugMedicationsRequestStructure"/>
	</wsdl:message>

	<wsdl:message name="SuspendMedicineCardRequest">
		<wsdl:part name="SuspendMedicineCardRequest" element="medicinecard20090101:SuspendMedicineCardRequestStructure"/>
	</wsdl:message>
	<wsdl:message name="SuspendMedicineCardResponse">
		<wsdl:part name="SuspendMedicineCardResponse" element="medicinecard20080601:SuspendMedicineCardResponseStructure"/>
	</wsdl:message>

	<wsdl:message name="ResuspendMedicineCardRequest">
		<wsdl:part name="ResuspendMedicineCardRequest" element="medicinecard20090101:ResuspendMedicineCardRequestStructure"/>
	</wsdl:message>
	<wsdl:message name="ResuspendMedicineCardResponse">
		<wsdl:part name="ResuspendMedicineCardResponse" element="medicinecard20090101:ResuspendMedicineCardResponseStructure"/>
	</wsdl:message>

	<wsdl:message name="UnpauseDrugMedicationRequest">
		<wsdl:part name="UnpauseDrugMedicationRequest" element="medicinecard20090101:UnpauseDrugMedicationRequestStructure"/>
	</wsdl:message>
	<wsdl:message name="UnpauseDrugMedicationResponse">
		<wsdl:part name="UnpauseDrugMedicationResponse" element="medicinecard20080601:UnpauseDrugMedicationResponseStructure"/>
	</wsdl:message>

	<wsdl:message name="UnsuspendMedicineCardRequest">
		<wsdl:part name="UnsuspendMedicineCardRequest" element="medicinecard20090101:UnsuspendMedicineCardRequestStructure"/>
	</wsdl:message>
	<wsdl:message name="UnsuspendMedicineCardResponse">
		<wsdl:part name="UnsuspendMedicineCardResponse" element="medicinecard20080601:UnsuspendMedicineCardResponseStructure"/>
	</wsdl:message>

	<wsdl:message name="UpdateDrugMedicationResponse">
		<wsdl:part name="UpdateDrugMedicationResponse" element="medicinecard20080601:UpdateDrugMedicationResponseStructure"/>
	</wsdl:message>

	<wsdl:message name="WithdrawDrugMedicationRequest">
		<wsdl:part name="WithdrawDrugMedicationRequest" element="medicinecard20090101:WithdrawDrugMedicationRequestStructure"/>
	</wsdl:message>
	<wsdl:message name="WithdrawDrugMedicationResponse">
		<wsdl:part name="WithdrawDrugMedicationResponse" element="medicinecard20080601:WithdrawDrugMedicationResponseStructure"/>
	</wsdl:message>

	<wsdl:message name="SearchEffectuationsRequest">
		<wsdl:part name="SearchEffectuationsRequest" element="medicinecard20090101:SearchEffectuationsRequestStructure"/>
	</wsdl:message>
	
	<!-- FMK 1.2.4 webservices, namespace 2011/01/01 -->

	<wsdl:message name="CreateDrugMedicationRequest_20110101">
		<wsdl:part name="CreateDrugMedicationRequest" element="medicinecard20110101:CreateDrugMedicationRequestStructure"/>
	</wsdl:message>

	<wsdl:message name="CreatePrescriptionMedicationRequest_20110101">
		<wsdl:part name="CreatePrescriptionMedicationRequest" element="medicinecard20110101:CreatePrescriptionMedicationRequestStructure"/>
	</wsdl:message>
	
	<wsdl:message name="SearchWithdrawnDrugMedicationsResponse_20110101">
		<wsdl:part name="SearchWithdrawnDrugMedicationsResponse" element="medicinecard20110101:SearchWithdrawnDrugMedicationsResponseStructure"/>
	</wsdl:message>

	<wsdl:message name="SearchEffectuationsRequest_20110101">
		<wsdl:part name="SearchEffectuationsRequest" element="medicinecard20090101:SearchEffectuationsRequestStructure"/>
	</wsdl:message>
	<wsdl:message name="SearchEffectuationsResponse_20110101">
		<wsdl:part name="SearchEffectuationsResponse" element="medicinecard20110101:SearchEffectuationsResponseStructure"/>
	</wsdl:message>

	<wsdl:message name="CreatePrescriptionMedicationForUseInPracticeRequest_20110101">
		<wsdl:part name="CreatePrescriptionMedicationForUseInPracticeRequest" element="medicinecard20110101:CreatePrescriptionMedicationForUseInPracticeRequest"/>
	</wsdl:message>
	<wsdl:message name="CreatePrescriptionMedicationForUseInPracticeResponse_20110101">
		<wsdl:part name="CreatePrescriptionMedicationForUseInPracticeResponse" element="medicinecard20110101:CreatePrescriptionMedicationForUseInPracticeResponse"/>
	</wsdl:message>

	<wsdl:message name="CreatePrescriptionMedicationWithoutCPRRequest_20110101">
		<wsdl:part name="CreatePrescriptionMedicationWithoutCPRRequest" element="medicinecard20110101:CreatePrescriptionMedicationWithoutCPRRequest"/>
	</wsdl:message>
	<wsdl:message name="CreatePrescriptionMedicationWithoutCPRResponse_20110101">
		<wsdl:part name="CreatePrescriptionMedicationWithoutCPRResponse" element="medicinecard20110101:CreatePrescriptionMedicationWithoutCPRResponse"/>
	</wsdl:message>

	<!-- FMK 1.2.6 webservices, namespace 2012/01/01 -->

	<wsdl:message name="DeleteEffectuationRequest_20120101">
		<wsdl:part name="DeleteEffectuationRequest" element="medicinecard20120101:DeleteEffectuationRequest"/>
	</wsdl:message>
	<wsdl:message name="DeleteEffectuationResponse_20120101">
		<wsdl:part name="DeleteEffectuationResponse" element="medicinecard20120101:DeleteEffectuationResponse"/>
	</wsdl:message>

	<wsdl:message name="UpdateDrugMedicationRequest_20120101">
		<wsdl:part name="UpdateDrugMedicationRequest" element="medicinecard20120101:UpdateDrugMedicationRequestStructure"/>
	</wsdl:message>

	<wsdl:message name="UpdateMedicineCardRequest_20120101">
		<wsdl:part name="UpdateMedicineCardRequest" element="medicinecard20120101:UpdateMedicineCardRequestStructure"/>
	</wsdl:message>
	<wsdl:message name="UpdateMedicineCardResponse_20120101">
		<wsdl:part name="UpdateMedicineCardResponse" element="medicinecard20120101:UpdateMedicineCardResponseStructure"/>
	</wsdl:message>

	<wsdl:message name="UnWithdrawDrugMedicationRequest_20120101">
		<wsdl:part name="UnWithdrawDrugMedicationRequest" element="medicinecard20120101:UnWithdrawDrugMedicationRequest"/>
	</wsdl:message>
	<wsdl:message name="UnWithdrawDrugMedicationResponse_20120101">
		<wsdl:part name="UnWithdrawDrugMedicationResponse" element="medicinecard20120101:UnWithdrawDrugMedicationResponse"/>
	</wsdl:message>

	<wsdl:message name="GetPermissionsRequest_20120101">
		<wsdl:part name="GetPermissionsRequest" element="medicinecard20120101:GetPermissionsRequest"/>
	</wsdl:message>
	<wsdl:message name="GetPermissionsResponse_20120101">
		<wsdl:part name="GetPermissionsResponse" element="medicinecard20120101:GetPermissionsResponse"/>
	</wsdl:message>

	<wsdl:message name="MarkPrescriptionMedicationDeprecatedRequest_20120101">
		<wsdl:part name="MarkPrescriptionMedicationDeprecatedRequest" element="medicinecard20120101:MarkPrescriptionMedicationDeprecatedRequest"/>
	</wsdl:message>
	<wsdl:message name="MarkPrescriptionMedicationDeprecatedResponse_20120101">
		<wsdl:part name="MarkPrescriptionMedicationDeprecatedResponse" element="medicinecard20120101:MarkPrescriptionMedicationDeprecatedResponse"/>
	</wsdl:message>

	<wsdl:message name="UnmarkPrescriptionMedicationDeprecatedRequest_20120101">
		<wsdl:part name="UnmarkPrescriptionMedicationDeprecatedRequest" element="medicinecard20120101:UnmarkPrescriptionMedicationDeprecatedRequest"/>
	</wsdl:message>
	<wsdl:message name="UnmarkPrescriptionMedicationDeprecatedResponse_20120101">
		<wsdl:part name="UnmarkPrescriptionMedicationDeprecatedResponse" element="medicinecard20120101:UnmarkPrescriptionMedicationDeprecatedResponse"/>
	</wsdl:message>

	<wsdl:message name="CancelPrescriptionMedicationRequest_20120101">
		<wsdl:part name="CancelPrescriptionMedicationRequest" element="medicinecard20120101:CancelPrescriptionMedicationRequest"/>
	</wsdl:message>
	<wsdl:message name="CancelPrescriptionMedicationResponse_20120101">
		<wsdl:part name="CancelPrescriptionMedicationResponse" element="medicinecard20120101:CancelPrescriptionMedicationResponse"/>
	</wsdl:message>

	<wsdl:message name="SetMedicineCardReviewedRequest_20120101">
		<wsdl:part name="SetMedicineCardReviewedRequest" element="medicinecard20120101:SetMedicineCardReviewedRequestStructure"/>
	</wsdl:message>
	<wsdl:message name="SetMedicineCardReviewedResponse_20120101">
		<wsdl:part name="SetMedicineCardReviewedResponse" element="medicinecard20120101:SetMedicineCardReviewedResponseStructure"/>
	</wsdl:message>

	<wsdl:message name="MedicineCardResponse_20120101">
		<wsdl:part name="MedicineCardResponse" element="medicinecard20120101:MedicineCardResponseStructure"/>
	</wsdl:message>

	<wsdl:message name="DrugMedicationResponse_20120101">
		<wsdl:part name="DrugMedicationResponse" element="medicinecard20120101:DrugMedicationResponseStructure"/>
	</wsdl:message>
	
	<wsdl:message name="PrescriptionMedicationResponse_20120101">
		<wsdl:part name="PrescriptionMedicationResponse" element="medicinecard20120101:PrescriptionMedicationResponseStructure"/>
	</wsdl:message>


	<wsdl:message name="DGWSFault">
		<wsdl:part name="fault" element="medcom:FaultCode" />
	</wsdl:message>
	
	
	
	<wsdl:portType name="MedicineCardPortType">

		<!-- FMK 1.2.2 webservices, namespace 2009/01/01 -->

		<wsdl:operation name="GetMedicineCardAsPDF">
			<wsdl:input name="MedicineCardAsPDFRequest" message="tns:MedicineCardAsPDFRequest"/>
			<wsdl:output name="MedicineCardAsPDFResponse" message="tns:MedicineCardAsPDFResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="GetMedicineCardVersion">
			<wsdl:input name="MedicineCardVersionRequest" message="tns:MedicineCardVersionRequest"/>
			<wsdl:output name="MedicineCardVersionResponse" message="tns:MedicineCardVersionResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="AttachOrDetachPrescriptionMedication">
			<wsdl:input name="AttachOrDetachPrescriptionMedicationRequest" message="tns:AttachOrDetachPrescriptionMedicationRequest"/>
			<wsdl:output name="AttachOrDetachPrescriptionMedicationResponse" message="tns:AttachOrDetachPrescriptionMedicationResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="CreateEffectuation">
			<wsdl:input name="CreateEffectuationRequest" message="tns:CreateEffectuationRequest"/>
			<wsdl:output name="CreateEffectuationResponse" message="tns:CreateEffectuationResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="PauseDrugMedication">
			<wsdl:input name="PauseDrugMedicationRequest" message="tns:PauseDrugMedicationRequest"/>
			<wsdl:output name="PauseDrugMedicationResponse" message="tns:PauseDrugMedicationResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="SuspendMedicineCard">
			<wsdl:input name="SuspendMedicineCardRequest" message="tns:SuspendMedicineCardRequest"/>
			<wsdl:output name="SuspendMedicineCardResponse" message="tns:SuspendMedicineCardResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="ResuspendMedicineCard">
			<wsdl:input name="ResuspendMedicineCardRequest" message="tns:ResuspendMedicineCardRequest"/>
			<wsdl:output name="ResuspendMedicineCardResponse" message="tns:ResuspendMedicineCardResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="UnpauseDrugMedication">
			<wsdl:input name="UnpauseDrugMedicationRequest" message="tns:UnpauseDrugMedicationRequest"/>
			<wsdl:output name="UnpauseDrugMedicationResponse" message="tns:UnpauseDrugMedicationResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="UnsuspendMedicineCard">
			<wsdl:input name="UnsuspendMedicineCardRequest" message="tns:UnsuspendMedicineCardRequest"/>
			<wsdl:output name="UnsuspendMedicineCardResponse" message="tns:UnsuspendMedicineCardResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>
	
		<wsdl:operation name="WithdrawDrugMedication">
			<wsdl:input name="WithdrawDrugMedicationRequest" message="tns:WithdrawDrugMedicationRequest"/>
			<wsdl:output name="WithdrawDrugMedicationResponse" message="tns:WithdrawDrugMedicationResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<!-- FMK 1.2.4 webservices, namespace 2011/01/01 -->

		<wsdl:operation name="CreateDrugMedication_20110101">
			<wsdl:input name="CreateDrugMedicationRequest_20110101" message="tns:CreateDrugMedicationRequest_20110101"/>
			<wsdl:output name="CreateDrugMedicationResponse_20110101" message="tns:CreateDrugMedicationResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="CreatePrescriptionMedication_20110101">
			<wsdl:input name="CreatePrescriptionMedicationRequest_20110101" message="tns:CreatePrescriptionMedicationRequest_20110101"/>
			<wsdl:output name="CreatePrescriptionMedicationResponse_20110101" message="tns:CreatePrescriptionMedicationResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="SearchWithdrawnDrugMedications_20110101">
			<wsdl:input name="SearchWithdrawnDrugMedicationsRequest_20110101" message="tns:SearchWithdrawnDrugMedicationsRequest"/>
			<wsdl:output name="SearchWithdrawnDrugMedicationsResponse_20110101" message="tns:SearchWithdrawnDrugMedicationsResponse_20110101"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="SearchEffectuations_20110101">
			<wsdl:input name="SearchEffectuationsRequest_20110101" message="tns:SearchEffectuationsRequest_20110101"/>
			<wsdl:output name="SearchEffectuationsResponse_20110101" message="tns:SearchEffectuationsResponse_20110101"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="CreatePrescriptionMedicationForUseInPractice_20110101">
			<wsdl:input name="CreatePrescriptionMedicationForUseInPracticeRequest_20110101" message="tns:CreatePrescriptionMedicationForUseInPracticeRequest_20110101"/>
			<wsdl:output name="CreatePrescriptionMedicationForUseInPracticeResponse_20110101" message="tns:CreatePrescriptionMedicationForUseInPracticeResponse_20110101"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="CreatePrescriptionMedicationWithoutCPR_20110101">
			<wsdl:input name="CreatePrescriptionMedicationWithoutCPRRequest_20110101" message="tns:CreatePrescriptionMedicationWithoutCPRRequest_20110101"/>
			<wsdl:output name="CreatePrescriptionMedicationWithoutCPRResponse_20110101" message="tns:CreatePrescriptionMedicationWithoutCPRResponse_20110101"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<!-- FMK 1.2.6 webservices, namespace 2012/01/01 -->

		<wsdl:operation name="DeleteEffectuation_20120101">
			<wsdl:input name="DeleteEffectuationRequest_20120101" message="tns:DeleteEffectuationRequest_20120101"/>
			<wsdl:output name="DeleteEffectuationResponse_20120101" message="tns:DeleteEffectuationResponse_20120101"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="UpdateDrugMedication_20120101">
			<wsdl:input name="UpdateDrugMedicationRequest_20120101" message="tns:UpdateDrugMedicationRequest_20120101"/>
			<wsdl:output name="UpdateDrugMedicationResponse_20120101" message="tns:UpdateDrugMedicationResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="UpdateMedicineCard_20120101">
			<wsdl:input name="UpdateMedicineCardRequest_20120101" message="tns:UpdateMedicineCardRequest_20120101"/>
			<wsdl:output name="UpdateMedicineCardResponse_20120101" message="tns:UpdateMedicineCardResponse_20120101"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="UnWithdrawDrugMedication_20120101">
			<wsdl:input name="UnWithdrawDrugMedicationRequest_20120101" message="tns:UnWithdrawDrugMedicationRequest_20120101"/>
			<wsdl:output name="UnWithdrawDrugMedicationResponse_20120101" message="tns:UnWithdrawDrugMedicationResponse_20120101"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="GetPermissions_20120101">
			<wsdl:input name="GetPermissionsRequest_20120101" message="tns:GetPermissionsRequest_20120101"/>
			<wsdl:output name="GetPermissionsResponse_20120101" message="tns:GetPermissionsResponse_20120101"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="SetMedicineCardReviewed_20120101">
			<wsdl:input name="SetMedicineCardReviewedRequest_20120101" message="tns:SetMedicineCardReviewedRequest_20120101"/>
			<wsdl:output name="SetMedicineCardReviewedResponse_20120101" message="tns:SetMedicineCardReviewedResponse_20120101"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="GetMedicineCard_20120101">
			<wsdl:input name="MedicineCardRequest_20120101" message="tns:MedicineCardRequest"/>
			<wsdl:output name="MedicineCardResponse_20120101" message="tns:MedicineCardResponse_20120101"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="GetDrugMedication_20120101">
			<wsdl:input name="DrugMedicationRequest_20120101" message="tns:DrugMedicationRequest"/>
			<wsdl:output name="DrugMedicationResponse_20120101" message="tns:DrugMedicationResponse_20120101"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="GetPrescriptionMedication_20120101">
			<wsdl:input name="PrescriptionMedicationRequest_20120101" message="tns:PrescriptionMedicationRequest"/>
			<wsdl:output name="PrescriptionMedicationResponse_20120101" message="tns:PrescriptionMedicationResponse_20120101"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="MarkPrescriptionMedicationDeprecated_20120101">
			<wsdl:input name="MarkPrescriptionMedicationDeprecatedRequest_20120101" message="tns:MarkPrescriptionMedicationDeprecatedRequest_20120101"/>
			<wsdl:output name="MarkPrescriptionMedicationDeprecatedResponse_20120101" message="tns:MarkPrescriptionMedicationDeprecatedResponse_20120101"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="UnmarkPrescriptionMedicationDeprecated_20120101">
			<wsdl:input name="UnmarkPrescriptionMedicationDeprecatedRequest_20120101" message="tns:UnmarkPrescriptionMedicationDeprecatedRequest_20120101"/>
			<wsdl:output name="UnmarkPrescriptionMedicationDeprecatedResponse_20120101" message="tns:UnmarkPrescriptionMedicationDeprecatedResponse_20120101"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="CancelPrescriptionMedication_20120101">
			<wsdl:input name="CancelPrescriptionMedicationRequest_20120101" message="tns:CancelPrescriptionMedicationRequest_20120101"/>
			<wsdl:output name="CancelPrescriptionMedicationResponse_20120101" message="tns:CancelPrescriptionMedicationResponse_20120101"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

	</wsdl:portType>



	<wsdl:binding name="MedicineCardBinding" type="tns:MedicineCardPortType">

		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		
		<!-- FMK 1.2.2 webservices, namespace 2009/01/01 -->

		<wsdl:operation name="GetMedicineCardAsPDF">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#GetMedicineCardAsPDF" style="document"/>
			<wsdl:input name="MedicineCardAsPDFRequest">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/>

				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="MedicineCardAsPDFResponse">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>

				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="GetMedicineCardVersion">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#GetMedicineCardVersion" style="document"/>
			<wsdl:input name="MedicineCardVersionRequest">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/>

				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="MedicineCardVersionResponse">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>

                <soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="PauseDrugMedication">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#PauseDrugMedication" style="document"/>
			<wsdl:input name="PauseDrugMedicationRequest">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/>

				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="PauseDrugMedicationResponse">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>

                <soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="AttachOrDetachPrescriptionMedication">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#AttachOrDetachPrescriptionMedication" style="document"/>
			<wsdl:input name="AttachOrDetachPrescriptionMedicationRequest">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/>

				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="AttachOrDetachPrescriptionMedicationResponse">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>

                <soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="CreateEffectuation">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#CreateEffectuation" style="document"/>
			<wsdl:input name="CreateEffectuationRequest">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/>

                <soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreateEffectuationResponse">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>

                <soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="SuspendMedicineCard">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#SuspendMedicineCard" style="document"/>
			<wsdl:input name="SuspendMedicineCardRequest">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/>

				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="SuspendMedicineCardResponse">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>

                <soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="ResuspendMedicineCard">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#ResuspendMedicineCard" style="document"/>
			<wsdl:input name="ResuspendMedicineCardRequest">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/>

				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ResuspendMedicineCardResponse">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>

                <soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="UnsuspendMedicineCard">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#UnsuspendMedicineCard" style="document"/>
			<wsdl:input name="UnsuspendMedicineCardRequest">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/>

				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="UnsuspendMedicineCardResponse">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>

                <soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="UnpauseDrugMedication">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#UnpauseDrugMedication" style="document"/>
			<wsdl:input name="UnpauseDrugMedicationRequest">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/>

				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="UnpauseDrugMedicationResponse">
		    	<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>

                <soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="WithdrawDrugMedication">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#WithdrawDrugMedication" style="document"/>
			<wsdl:input name="WithdrawDrugMedicationRequest">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/>

				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="WithdrawDrugMedicationResponse">
		    	<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>

                <soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
		</wsdl:operation>

		<!-- FMK 1.2.4 webservices, namespace 2011/01/01 -->

		<wsdl:operation name="CreateDrugMedication_20110101">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2011/01/01#CreateDrugMedication" style="document"/>
			<wsdl:input name="CreateDrugMedicationRequest_20110101">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/> 

                <soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreateDrugMedicationResponse_20110101">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>

                <soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="CreatePrescriptionMedication_20110101">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2011/01/01#CreatePrescriptionMedication" style="document"/>
			<wsdl:input name="CreatePrescriptionMedicationRequest_20110101">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/> 

                <soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreatePrescriptionMedicationResponse_20110101">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>

				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="SearchWithdrawnDrugMedications_20110101">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2011/01/01#SearchWithdrawnDrugMedications" style="document"/>
			<wsdl:input name="SearchWithdrawnDrugMedicationsRequest_20110101">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/> 

                <soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="SearchWithdrawnDrugMedicationsResponse_20110101">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>

                <soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
		</wsdl:operation>
		

		<wsdl:operation name="SearchEffectuations_20110101">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2011/01/01#SearchEffectuations" style="document"/>
			<wsdl:input name="SearchEffectuationsRequest_20110101">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/> 

                <soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="SearchEffectuationsResponse_20110101">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>

                <soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="CreatePrescriptionMedicationForUseInPractice_20110101">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2011/01/01#CreatePrescriptionMedicationForUseInPractice" style="document"/>
			<wsdl:input name="CreatePrescriptionMedicationForUseInPracticeRequest_20110101">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/> 

                <soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreatePrescriptionMedicationForUseInPracticeResponse_20110101">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>

                <soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="CreatePrescriptionMedicationWithoutCPR_20110101">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2011/01/01#CreatePrescriptionMedicationWithoutCPR" style="document"/>
			<wsdl:input name="CreatePrescriptionMedicationWithoutCPRRequest_20110101">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/> 

                <soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreatePrescriptionMedicationWithoutCPRResponse_20110101">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>

                <soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
		</wsdl:operation>

		<!-- FMK 1.2.6 webservices, namespace 2012/01/01 -->

		<wsdl:operation name="DeleteEffectuation_20120101">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/01/01#DeleteEffectuation" style="document"/>
			<wsdl:input name="DeleteEffectuationRequest_20120101">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/> 

                <soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="DeleteEffectuationResponse_20120101">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>

				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="UpdateDrugMedication_20120101">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/01/01#UpdateDrugMedication" style="document"/>
			<wsdl:input name="UpdateDrugMedicationRequest_20120101">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/> 

                <soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="UpdateDrugMedicationResponse_20120101">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>

				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
		</wsdl:operation>
		

		<wsdl:operation name="UpdateMedicineCard_20120101">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/01/01#UpdateMedicineCard" style="document"/>
			<wsdl:input name="UpdateMedicineCardRequest_20120101">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/>

				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="UpdateMedicineCardResponse_20120101">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>

				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="UnWithdrawDrugMedication_20120101">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/01/01#UnWithdrawDrugMedication" style="document"/>
			<wsdl:input name="UnWithdrawDrugMedicationRequest_20120101">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/>

			    <soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="UnWithdrawDrugMedicationResponse_20120101">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>

				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="GetPermissions_20120101">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/01/01#GetPermissions" style="document"/>
			<wsdl:input name="GetPermissionsRequest_20120101">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/>

			    <soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetPermissionsResponse_20120101">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>

				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="SetMedicineCardReviewed_20120101">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/01/01#SetMedicineCardReviewed" style="document"/>
			<wsdl:input name="SetMedicineCardReviewedRequest_20120101">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/>
                <soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/>

				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="SetMedicineCardReviewedResponse_20120101">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>

				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="GetMedicineCard_20120101">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/01/01#GetMedicineCard" style="document"/>
			<wsdl:input name="MedicineCardRequest_20120101">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/> 

                <soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="MedicineCardResponse_20120101">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>

				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="GetDrugMedication_20120101">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/01/01#GetDrugMedication" style="document"/>
			<wsdl:input name="DrugMedicationRequest_20120101">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/> 

                <soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="DrugMedicationResponse_20120101">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>

				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="GetPrescriptionMedication_20120101">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/01/01#GetPrescriptionMedication" style="document"/>
			<wsdl:input name="PrescriptionMedicationRequest_20120101">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/> 

                <soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="PrescriptionMedicationResponse_20120101">
		    	<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>

                <soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="MarkPrescriptionMedicationDeprecated_20120101">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/01/01#MarkPrescriptionMedicationDeprecated" style="document"/>
			<wsdl:input name="MarkPrescriptionMedicationDeprecatedRequest_20120101">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
		    	<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/> 

                <soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="MarkPrescriptionMedicationDeprecatedResponse_20120101">
		    	<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>

                <soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="UnmarkPrescriptionMedicationDeprecated_20120101">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/01/01#UnmarkPrescriptionMedicationDeprecated" style="document"/>
			<wsdl:input name="UnmarkPrescriptionMedicationDeprecatedRequest_20120101">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
		    	<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/> 

                <soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="UnmarkPrescriptionMedicationDeprecatedResponse_20120101">
		    	<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>

                <soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="CancelPrescriptionMedication_20120101">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/01/01#CancelPrescriptionMedication" style="document"/>
			<wsdl:input name="CancelPrescriptionMedicationRequest_20120101">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
		    	<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/> 

                <soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CancelPrescriptionMedicationResponse_20120101">
		    	<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>

                <soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/></wsdl:fault>
		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="MedicineCard">
		<wsdl:port name="MedicineCardPort" binding="tns:MedicineCardBinding">
		<soap:address location="http://trifork.lms.trifork.com/fmk12/ws/MedicineCard"/>
	</wsdl:port>

	</wsdl:service>
</wsdl:definitions>
