etc/wsdl/MedicineCard_2009_01_01.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:medicinecard20080601="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" 
    xmlns:medicinecard20090101="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" 
	xmlns:tns="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01"
	xmlns:dglws="http://www.medcom.dk/dglws/1.0/xsd"
	xmlns:medcom="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd"
	xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
	targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01"
	>
	
		
	<wsdl:types>
		<xs:schema targetNamespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
			<xs:include schemaLocation="../schemas/2008/06/01/medcom.xsd" />
		</xs:schema>
		
		<xs:schema targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" elementFormDefault="qualified">
			<xs:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" schemaLocation="../schemas/2008/06/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"/>		
		
			<xs:include schemaLocation="../schemas/2009/01/01/DKMA_MedicineCardRequestStructure.xsd"/>
			<xs:include schemaLocation="../schemas/2009/01/01/DKMA_MedicineCardResponseStructure.xsd"/>
            <xs:include schemaLocation="../schemas/2009/01/01/DKMA_NewMedicineCardResponseStructure.xsd"/>
			
			<xs:include schemaLocation="../schemas/2009/01/01/DKMA_MedicineCardAsPDFRequestStructure.xsd"/>
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../schemas/2008/06/01/DKMA_MedicineCardAsPDFResponseStructure.xsd"/>
			
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../schemas/2008/06/01/DKMA_MedicineCardVersionRequestStructure.xsd"/>
			<xs:include schemaLocation="../schemas/2009/01/01/DKMA_MedicineCardVersionResponseStructure.xsd"/>
			
			<xs:include schemaLocation="../schemas/2009/01/01/DKMA_SetMedicineCardReviewedRequestStructure.xsd"/>
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../schemas/2008/06/01/DKMA_SetMedicineCardReviewedResponseStructure.xsd"/>
			
			<xs:include schemaLocation="../schemas/2009/01/01/DKMA_DrugMedicationRequestStructure.xsd"/>
			<xs:include schemaLocation="../schemas/2009/01/01/DKMA_DrugMedicationResponseStructure.xsd"/>
            <xs:include schemaLocation="../schemas/2009/01/01/DKMA_NewDrugMedicationResponseStructure.xsd"/>

			<xs:include schemaLocation="../schemas/2009/01/01/DKMA_PauseDrugMedicationRequestStructure.xsd"/>
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../schemas/2008/06/01/DKMA_PauseDrugMedicationResponseStructure.xsd"/>
			
			<xs:include schemaLocation="../schemas/2009/01/01/DKMA_CreateDrugMedicationRequestStructure.xsd"/>
			<xs:include schemaLocation="../schemas/2009/01/01/DKMA_CreateDrugMedicationResponseStructure.xsd"/>

			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../schemas/2008/06/01/DKMA_AttachOrDetachPrescriptionMedicationRequestStructure.xsd"/>
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../schemas/2008/06/01/DKMA_AttachOrDetachPrescriptionMedicationResponseStructure.xsd"/>

			<xs:include schemaLocation="../schemas/2009/01/01/DKMA_CreateEffectuationRequestStructure.xsd"/>
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../schemas/2008/06/01/DKMA_CreateEffectuationResponseStructure.xsd"/>

			<xs:include schemaLocation="../schemas/2009/01/01/DKMA_CreatePrescriptionMedicationRequestStructure.xsd"/>
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../schemas/2008/06/01/DKMA_CreatePrescriptionMedicationResponseStructure.xsd"/>

			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../schemas/2008/06/01/DKMA_PrescriptionMedicationRequestStructure.xsd"/>
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../schemas/2008/06/01/DKMA_PrescriptionMedicationResponseStructure.xsd"/>
            <xs:include schemaLocation="../schemas/2009/01/01/DKMA_NewPrescriptionMedicationResponseStructure.xsd"/>

			<xs:include schemaLocation="../schemas/2009/01/01/DKMA_SearchWithdrawnDrugMedicationsRequestStructure.xsd"/>
            <xs:include schemaLocation="../schemas/2009/01/01/DKMA_SearchWithdrawnDrugMedicationsResponseStructure.xsd"/>

			<xs:include schemaLocation="../schemas/2009/01/01/DKMA_SuspendMedicineCardRequestStructure.xsd"/>
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../schemas/2008/06/01/DKMA_SuspendMedicineCardResponseStructure.xsd"/>

            <xs:include schemaLocation="../schemas/2009/01/01/DKMA_ResuspendMedicineCardRequestStructure.xsd"/>
            <xs:include schemaLocation="../schemas/2009/01/01/DKMA_ResuspendMedicineCardResponseStructure.xsd"/>

			<xs:include schemaLocation="../schemas/2009/01/01/DKMA_UnpauseDrugMedicationRequestStructure.xsd"/>
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../schemas/2008/06/01/DKMA_UnpauseDrugMedicationResponseStructure.xsd"/>

			<xs:include schemaLocation="../schemas/2009/01/01/DKMA_UnsuspendMedicineCardRequestStructure.xsd"/>
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../schemas/2008/06/01/DKMA_UnsuspendMedicineCardResponseStructure.xsd"/>

			<xs:include schemaLocation="../schemas/2009/01/01/DKMA_UpdateDrugMedicationRequestStructure.xsd"/>
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../schemas/2008/06/01/DKMA_UpdateDrugMedicationResponseStructure.xsd"/>

			<xs:include schemaLocation="../schemas/2009/01/01/DKMA_UpdateMedicineCardRequestStructure.xsd"/>
			<xs:include schemaLocation="../schemas/2009/01/01/DKMA_UpdateMedicineCardResponseStructure.xsd"/>

			<xs:include schemaLocation="../schemas/2009/01/01/DKMA_WithdrawDrugMedicationRequestStructure.xsd"/>
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../schemas/2008/06/01/DKMA_WithdrawDrugMedicationResponseStructure.xsd"/>

            <xs:include schemaLocation="../schemas/2009/01/01/DKMA_SearchEffectuationsRequestStructure.xsd"/>
            <xs:include schemaLocation="../schemas/2009/01/01/DKMA_SearchEffectuationsResponseStructure.xsd"/>

			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../schemas/2008/06/01/DKMA_TimingListStructure.xsd"/>
            <xs:include schemaLocation="../schemas/2009/01/01/DKMA_PrescriptionReplicationStatusStructure.xsd"/>
            <xs:include schemaLocation="../schemas/2009/01/01/DKMA_OnBehalfOfStructure.xsd"/>
		</xs:schema>
	</wsdl:types>
	
	<wsdl:message name="SecurityHeader">
        <wsdl:part name="SecurityHeader" element="wsse:Security"/>
    </wsdl:message>
    <wsdl:message name="MedComHeader">
        <wsdl:part name="MedcomHeader" element="medcom:Header"/>
    </wsdl:message> 

    <wsdl:message name="TimingHeader">
    	<wsdl:part name="TimingHeader" element="medicinecard20080601:TimingListStructure"/>
    </wsdl:message> 
    
    <wsdl:message name="ReplicationStatusHeader">
        <wsdl:part name="ReplicationStatusHeader" element="medicinecard20090101:PrescriptionReplicationStatusStructure"/>
    </wsdl:message> 
    
    <wsdl:message name="OnBehalfOfHeader">
        <wsdl:part name="OnBehalfOfHeader" element="medicinecard20090101:OnBehalfOfStructure"/>
    </wsdl:message> 
    
	<wsdl:message name="MedicineCardRequest">
		<wsdl:part name="MedicineCardRequest" element="medicinecard20090101:MedicineCardRequestStructure"/>
	</wsdl:message>
	<wsdl:message name="MedicineCardResponse">
		<wsdl:part name="MedicineCardResponse" element="medicinecard20090101:MedicineCardResponseStructure"/>
	</wsdl:message>
    <wsdl:message name="NewMedicineCardRequest">
        <wsdl:part name="NewMedicineCardRequest" element="medicinecard20090101:MedicineCardRequestStructure"/>
    </wsdl:message>
    <wsdl:message name="NewMedicineCardResponse">
        <wsdl:part name="NewMedicineCardResponse" element="medicinecard20090101:NewMedicineCardResponseStructure"/>
    </wsdl:message>
	<wsdl:message name="MedicineCardAsPDFRequest">
		<wsdl:part name="MedicineCardAsPDFRequest" element="medicinecard20090101:MedicineCardAsPDFRequestStructure"/>
	</wsdl:message>
	<wsdl:message name="MedicineCardAsPDFResponse">
		<wsdl:part name="MedicineCardAsPDFResponse" element="medicinecard20080601:MedicineCardAsPDFResponseStructure"/>
	</wsdl:message>
	<wsdl:message name="MedicineCardVersionRequest">
		<wsdl:part name="MedicineCardVersionRequest" element="medicinecard20080601:MedicineCardVersionRequestStructure"/>
	</wsdl:message>
	<wsdl:message name="MedicineCardVersionResponse">
		<wsdl:part name="MedicineCardVersionResponse" element="medicinecard20090101:MedicineCardVersionResponseStructure"/>
	</wsdl:message>
	<wsdl:message name="SetMedicineCardReviewedRequest">
		<wsdl:part name="SetMedicineCardReviewedRequest" element="medicinecard20090101:SetMedicineCardReviewedRequestStructure"/>
	</wsdl:message>
	<wsdl:message name="SetMedicineCardReviewedResponse">
		<wsdl:part name="SetMedicineCardReviewedResponse" element="medicinecard20080601:SetMedicineCardReviewedResponseStructure"/>
	</wsdl:message>
	<wsdl:message name="DrugMedicationRequest">
		<wsdl:part name="DrugMedicationRequest" element="medicinecard20090101:DrugMedicationRequestStructure"/>
	</wsdl:message>
	<wsdl:message name="DrugMedicationResponse">
		<wsdl:part name="DrugMedicationResponse" element="medicinecard20090101:DrugMedicationResponseStructure"/>
	</wsdl:message>
    <wsdl:message name="NewDrugMedicationRequest">
        <wsdl:part name="NewDrugMedicationRequest" element="medicinecard20090101:DrugMedicationRequestStructure"/>
    </wsdl:message>
    <wsdl:message name="NewDrugMedicationResponse">
        <wsdl:part name="NewDrugMedicationResponse" element="medicinecard20090101:NewDrugMedicationResponseStructure"/>
    </wsdl:message>
	<wsdl:message name="PauseDrugMedicationRequest">
		<wsdl:part name="PauseDrugMedicationRequest" element="medicinecard20090101:PauseDrugMedicationRequestStructure"/>
	</wsdl:message>
	<wsdl:message name="PauseDrugMedicationResponse">
		<wsdl:part name="PauseDrugMedicationResponse" element="medicinecard20080601:PauseDrugMedicationResponseStructure"/>
	</wsdl:message>
	<wsdl:message name="CreateDrugMedicationRequest">
		<wsdl:part name="CreateDrugMedicationRequest" element="medicinecard20090101:CreateDrugMedicationRequestStructure"/>
	</wsdl:message>
	<wsdl:message name="CreateDrugMedicationResponse">
		<wsdl:part name="CreateDrugMedicationResponse" element="medicinecard20090101:CreateDrugMedicationResponseStructure"/>
	</wsdl:message>
	<wsdl:message name="AttachOrDetachPrescriptionMedicationRequest">
		<wsdl:part name="AttachOrDetachPrescriptionMedicationRequest" element="medicinecard20080601:AttachOrDetachPrescriptionMedicationRequestStructure"/>
	</wsdl:message>
	<wsdl:message name="AttachOrDetachPrescriptionMedicationResponse">
		<wsdl:part name="AttachOrDetachPrescriptionMedicationResponse" element="medicinecard20080601:AttachOrDetachPrescriptionMedicationResponseStructure"/>
	</wsdl:message>
	<wsdl:message name="CreateEffectuationRequest">
		<wsdl:part name="CreateEffectuationRequest" element="medicinecard20090101:CreateEffectuationRequestStructure"/>
	</wsdl:message>
	<wsdl:message name="CreateEffectuationResponse">
		<wsdl:part name="CreateEffectuationResponse" element="medicinecard20080601:CreateEffectuationResponseStructure"/>
	</wsdl:message>
	<wsdl:message name="CreatePrescriptionMedicationRequest">
		<wsdl:part name="CreatePrescriptionMedicationRequest" element="medicinecard20090101:CreatePrescriptionMedicationRequestStructure"/>
	</wsdl:message>
	<wsdl:message name="CreatePrescriptionMedicationResponse">
		<wsdl:part name="CreatePrescriptionMedicationResponse" element="medicinecard20080601:CreatePrescriptionMedicationResponseStructure"/>
	</wsdl:message>
	<wsdl:message name="PrescriptionMedicationRequest">
		<wsdl:part name="PrescriptionMedicationRequest" element="medicinecard20080601:PrescriptionMedicationRequestStructure"/>
	</wsdl:message>
	<wsdl:message name="PrescriptionMedicationResponse">
		<wsdl:part name="PrescriptionMedicationResponse" element="medicinecard20080601:PrescriptionMedicationResponseStructure"/>
	</wsdl:message>
    <wsdl:message name="NewPrescriptionMedicationRequest">
        <wsdl:part name="NewPrescriptionMedicationRequest" element="medicinecard20080601:PrescriptionMedicationRequestStructure"/>
    </wsdl:message>
    <wsdl:message name="NewPrescriptionMedicationResponse">
        <wsdl:part name="NewPrescriptionMedicationResponse" element="medicinecard20090101:NewPrescriptionMedicationResponseStructure"/>
    </wsdl:message>
	<wsdl:message name="SearchWithdrawnDrugMedicationsRequest">
		<wsdl:part name="SearchWithdrawnDrugMedicationsRequest" element="medicinecard20090101:SearchWithdrawnDrugMedicationsRequestStructure"/>
	</wsdl:message>
	<wsdl:message name="SearchWithdrawnDrugMedicationsResponse">
		<wsdl:part name="SearchWithdrawnDrugMedicationsResponse" element="medicinecard20090101:SearchWithdrawnDrugMedicationsResponseStructure"/>
	</wsdl:message>
	<wsdl:message name="SuspendMedicineCardRequest">
		<wsdl:part name="SuspendMedicineCardRequest" element="medicinecard20090101:SuspendMedicineCardRequestStructure"/>
	</wsdl:message>
	<wsdl:message name="SuspendMedicineCardResponse">
		<wsdl:part name="SuspendMedicineCardResponse" element="medicinecard20080601:SuspendMedicineCardResponseStructure"/>
	</wsdl:message>
    <wsdl:message name="ResuspendMedicineCardRequest">
        <wsdl:part name="ResuspendMedicineCardRequest" element="medicinecard20090101:ResuspendMedicineCardRequestStructure"/>
    </wsdl:message>
    <wsdl:message name="ResuspendMedicineCardResponse">
        <wsdl:part name="ResuspendMedicineCardResponse" element="medicinecard20090101:ResuspendMedicineCardResponseStructure"/>
    </wsdl:message>
	<wsdl:message name="UnpauseDrugMedicationRequest">
		<wsdl:part name="UnpauseDrugMedicationRequest" element="medicinecard20090101:UnpauseDrugMedicationRequestStructure"/>
	</wsdl:message>
	<wsdl:message name="UnpauseDrugMedicationResponse">
		<wsdl:part name="UnpauseDrugMedicationResponse" element="medicinecard20080601:UnpauseDrugMedicationResponseStructure"/>
	</wsdl:message>
	<wsdl:message name="UnsuspendMedicineCardRequest">
		<wsdl:part name="UnsuspendMedicineCardRequest" element="medicinecard20090101:UnsuspendMedicineCardRequestStructure"/>
	</wsdl:message>
	<wsdl:message name="UnsuspendMedicineCardResponse">
		<wsdl:part name="UnsuspendMedicineCardResponse" element="medicinecard20080601:UnsuspendMedicineCardResponseStructure"/>
	</wsdl:message>
	<wsdl:message name="UpdateDrugMedicationRequest">
		<wsdl:part name="UpdateDrugMedicationRequest" element="medicinecard20090101:UpdateDrugMedicationRequestStructure"/>
	</wsdl:message>
	<wsdl:message name="UpdateDrugMedicationResponse">
		<wsdl:part name="UpdateDrugMedicationResponse" element="medicinecard20080601:UpdateDrugMedicationResponseStructure"/>
	</wsdl:message>
	<wsdl:message name="UpdateMedicineCardRequest">
		<wsdl:part name="UpdateMedicineCardRequest" element="medicinecard20090101:UpdateMedicineCardRequestStructure"/>
	</wsdl:message>
	<wsdl:message name="UpdateMedicineCardResponse">
		<wsdl:part name="UpdateMedicineCardResponse" element="medicinecard20090101:UpdateMedicineCardResponseStructure"/>
	</wsdl:message>
	<wsdl:message name="WithdrawDrugMedicationRequest">
		<wsdl:part name="WithdrawDrugMedicationRequest" element="medicinecard20090101:WithdrawDrugMedicationRequestStructure"/>
	</wsdl:message>
	<wsdl:message name="WithdrawDrugMedicationResponse">
		<wsdl:part name="WithdrawDrugMedicationResponse" element="medicinecard20080601:WithdrawDrugMedicationResponseStructure"/>
	</wsdl:message>
    <wsdl:message name="SearchEffectuationsRequest">
        <wsdl:part name="SearchEffectuationsRequest" element="medicinecard20090101:SearchEffectuationsRequestStructure"/>
    </wsdl:message>
    <wsdl:message name="SearchEffectuationsResponse">
        <wsdl:part name="SearchEffectuationsResponse" element="medicinecard20090101:SearchEffectuationsResponseStructure"/>
    </wsdl:message>
	
	
	<wsdl:message name="DGWSFault">
		<wsdl:part name="fault" element="medcom:FaultCode" />
	</wsdl:message>
	
	<wsdl:portType name="MedicineCardPortType">
		<wsdl:operation name="GetMedicineCard">
			<wsdl:input name="MedicineCardRequest" message="tns:MedicineCardRequest"/>
			<wsdl:output name="MedicineCardResponse" message="tns:MedicineCardResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>
        <wsdl:operation name="NewGetMedicineCard">
            <wsdl:input name="NewMedicineCardRequest" message="tns:NewMedicineCardRequest"/>
            <wsdl:output name="NewMedicineCardResponse" message="tns:NewMedicineCardResponse"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>
		<wsdl:operation name="GetMedicineCardAsPDF">
			<wsdl:input name="MedicineCardAsPDFRequest" message="tns:MedicineCardAsPDFRequest"/>
			<wsdl:output name="MedicineCardAsPDFResponse" message="tns:MedicineCardAsPDFResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>
		<wsdl:operation name="GetMedicineCardVersion">
			<wsdl:input name="MedicineCardVersionRequest" message="tns:MedicineCardVersionRequest"/>
			<wsdl:output name="MedicineCardVersionResponse" message="tns:MedicineCardVersionResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>
		<wsdl:operation name="SetMedicineCardReviewed">
			<wsdl:input name="SetMedicineCardReviewedRequest" message="tns:SetMedicineCardReviewedRequest"/>
			<wsdl:output name="SetMedicineCardReviewedResponse" message="tns:SetMedicineCardReviewedResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>
		<wsdl:operation name="GetDrugMedication">
			<wsdl:input name="DrugMedicationRequest" message="tns:DrugMedicationRequest"/>
			<wsdl:output name="DrugMedicationResponse" message="tns:DrugMedicationResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>
        <wsdl:operation name="NewGetDrugMedication">
            <wsdl:input name="NewDrugMedicationRequest" message="tns:NewDrugMedicationRequest"/>
            <wsdl:output name="NewDrugMedicationResponse" message="tns:NewDrugMedicationResponse"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>
		<wsdl:operation name="AttachOrDetachPrescriptionMedication">
			<wsdl:input name="AttachOrDetachPrescriptionMedicationRequest" message="tns:AttachOrDetachPrescriptionMedicationRequest"/>
			<wsdl:output name="AttachOrDetachPrescriptionMedicationResponse" message="tns:AttachOrDetachPrescriptionMedicationResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>
		<wsdl:operation name="CreateDrugMedication">
			<wsdl:input name="CreateDrugMedicationRequest" message="tns:CreateDrugMedicationRequest"/>
			<wsdl:output name="CreateDrugMedicationResponse" message="tns:CreateDrugMedicationResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>
		<wsdl:operation name="CreateEffectuation">
			<wsdl:input name="CreateEffectuationRequest" message="tns:CreateEffectuationRequest"/>
			<wsdl:output name="CreateEffectuationResponse" message="tns:CreateEffectuationResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>
		<wsdl:operation name="CreatePrescriptionMedication">
			<wsdl:input name="CreatePrescriptionMedicationRequest" message="tns:CreatePrescriptionMedicationRequest"/>
			<wsdl:output name="CreatePrescriptionMedicationResponse" message="tns:CreatePrescriptionMedicationResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>
		<wsdl:operation name="PauseDrugMedication">
			<wsdl:input name="PauseDrugMedicationRequest" message="tns:PauseDrugMedicationRequest"/>
			<wsdl:output name="PauseDrugMedicationResponse" message="tns:PauseDrugMedicationResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>
		<wsdl:operation name="GetPrescriptionMedication">
			<wsdl:input name="PrescriptionMedicationRequest" message="tns:PrescriptionMedicationRequest"/>
			<wsdl:output name="PrescriptionMedicationResponse" message="tns:PrescriptionMedicationResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>
        <wsdl:operation name="NewGetPrescriptionMedication">
            <wsdl:input name="NewPrescriptionMedicationRequest" message="tns:NewPrescriptionMedicationRequest"/>
            <wsdl:output name="NewPrescriptionMedicationResponse" message="tns:NewPrescriptionMedicationResponse"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>
		<wsdl:operation name="SearchWithdrawnDrugMedications">
			<wsdl:input name="SearchWithdrawnDrugMedicationsRequest" message="tns:SearchWithdrawnDrugMedicationsRequest"/>
			<wsdl:output name="SearchWithdrawnDrugMedicationsResponse" message="tns:SearchWithdrawnDrugMedicationsResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>
		<wsdl:operation name="SuspendMedicineCard">
			<wsdl:input name="SuspendMedicineCardRequest" message="tns:SuspendMedicineCardRequest"/>
			<wsdl:output name="SuspendMedicineCardResponse" message="tns:SuspendMedicineCardResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>
        <wsdl:operation name="ResuspendMedicineCard">
            <wsdl:input name="ResuspendMedicineCardRequest" message="tns:ResuspendMedicineCardRequest"/>
            <wsdl:output name="ResuspendMedicineCardResponse" message="tns:ResuspendMedicineCardResponse"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>
		<wsdl:operation name="UnpauseDrugMedication">
			<wsdl:input name="UnpauseDrugMedicationRequest" message="tns:UnpauseDrugMedicationRequest"/>
			<wsdl:output name="UnpauseDrugMedicationResponse" message="tns:UnpauseDrugMedicationResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>
		<wsdl:operation name="UnsuspendMedicineCard">
			<wsdl:input name="UnsuspendMedicineCardRequest" message="tns:UnsuspendMedicineCardRequest"/>
			<wsdl:output name="UnsuspendMedicineCardResponse" message="tns:UnsuspendMedicineCardResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>
		<wsdl:operation name="UpdateDrugMedication">
			<wsdl:input name="UpdateDrugMedicationRequest" message="tns:UpdateDrugMedicationRequest"/>
			<wsdl:output name="UpdateDrugMedicationResponse" message="tns:UpdateDrugMedicationResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>
		<wsdl:operation name="UpdateMedicineCard">
			<wsdl:input name="UpdateMedicineCardRequest" message="tns:UpdateMedicineCardRequest"/>
			<wsdl:output name="UpdateMedicineCardResponse" message="tns:UpdateMedicineCardResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>
		<wsdl:operation name="WithdrawDrugMedication">
			<wsdl:input name="WithdrawDrugMedicationRequest" message="tns:WithdrawDrugMedicationRequest"/>
			<wsdl:output name="WithdrawDrugMedicationResponse" message="tns:WithdrawDrugMedicationResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>
        <wsdl:operation name="SearchEffectuations">
            <wsdl:input name="SearchEffectuationsRequest" message="tns:SearchEffectuationsRequest"/>
            <wsdl:output name="SearchEffectuationsResponse" message="tns:SearchEffectuationsResponse"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MedicineCardBinding" type="tns:MedicineCardPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetMedicineCard">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#GetMedicineCard" style="document"/>
			<wsdl:input name="MedicineCardRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
    	        <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="MedicineCardResponse">
    	        <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>
        <wsdl:operation name="NewGetMedicineCard">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#NewGetMedicineCard" style="document"/>
            <wsdl:input name="NewMedicineCardRequest">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="NewMedicineCardResponse">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="GetMedicineCardAsPDF">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#GetMedicineCardAsPDF" style="document"/>
			<wsdl:input name="MedicineCardAsPDFRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
    	        <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="MedicineCardAsPDFResponse">
    	        <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetMedicineCardVersion">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#GetMedicineCardVersion" style="document"/>
			<wsdl:input name="MedicineCardVersionRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
    	        <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="MedicineCardVersionResponse">
    	        <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="SetMedicineCardReviewed">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#SetMedicineCardReviewed" style="document"/>
			<wsdl:input name="SetMedicineCardReviewedRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
    	        <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="SetMedicineCardReviewedResponse">
    	        <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetDrugMedication">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#GetDrugMedication" style="document"/>
			<wsdl:input name="DrugMedicationRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
    	        <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="DrugMedicationResponse">
    	        <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>
        <wsdl:operation name="NewGetDrugMedication">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#NewGetDrugMedication" style="document"/>
            <wsdl:input name="NewDrugMedicationRequest">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="NewDrugMedicationResponse">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="PauseDrugMedication">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#PauseDrugMedication" style="document"/>
			<wsdl:input name="PauseDrugMedicationRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
    	        <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="PauseDrugMedicationResponse">
    	        <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CreateDrugMedication">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#CreateDrugMedication" style="document"/>
			<wsdl:input name="CreateDrugMedicationRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
    	        <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreateDrugMedicationResponse">
    	        <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="AttachOrDetachPrescriptionMedication">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#AttachOrDetachPrescriptionMedication" style="document"/>
			<wsdl:input name="AttachOrDetachPrescriptionMedicationRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
    	        <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="AttachOrDetachPrescriptionMedicationResponse">
    	        <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CreateEffectuation">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#CreateEffectuation" style="document"/>
			<wsdl:input name="CreateEffectuationRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
    	        <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreateEffectuationResponse">
    	        <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CreatePrescriptionMedication">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#CreatePrescriptionMedication" style="document"/>
			<wsdl:input name="CreatePrescriptionMedicationRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
    	        <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreatePrescriptionMedicationResponse">
    	        <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetPrescriptionMedication">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#GetPrescriptionMedication" style="document"/>
			<wsdl:input name="PrescriptionMedicationRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
    	        <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="PrescriptionMedicationResponse">
    	        <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>
        <wsdl:operation name="NewGetPrescriptionMedication">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#NewGetPrescriptionMedication" style="document"/>
            <wsdl:input name="NewPrescriptionMedicationRequest">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="NewPrescriptionMedicationResponse">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="SearchWithdrawnDrugMedications">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#SearchWithdrawnDrugMedications" style="document"/>
			<wsdl:input name="SearchWithdrawnDrugMedicationsRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
    	        <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="SearchWithdrawnDrugMedicationsResponse">
    	        <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="SuspendMedicineCard">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#SuspendMedicineCard" style="document"/>
			<wsdl:input name="SuspendMedicineCardRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
    	        <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="SuspendMedicineCardResponse">
    	        <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>
        <wsdl:operation name="ResuspendMedicineCard">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#ResuspendMedicineCard" style="document"/>
            <wsdl:input name="ResuspendMedicineCardRequest">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ResuspendMedicineCardResponse">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="UnsuspendMedicineCard">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#UnsuspendMedicineCard" style="document"/>
			<wsdl:input name="UnsuspendMedicineCardRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
    	        <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="UnsuspendMedicineCardResponse">
    	        <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="UnpauseDrugMedication">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#UnpauseDrugMedication" style="document"/>
			<wsdl:input name="UnpauseDrugMedicationRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
    	        <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="UnpauseDrugMedicationResponse">
    	        <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="UpdateDrugMedication">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#UpdateDrugMedication" style="document"/>
			<wsdl:input name="UpdateDrugMedicationRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
    	        <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="UpdateDrugMedicationResponse">
    	        <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="UpdateMedicineCard">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#UpdateMedicineCard" style="document"/>
			<wsdl:input name="UpdateMedicineCardRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
    	        <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="UpdateMedicineCardResponse">
    	        <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="WithdrawDrugMedication">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#WithdrawDrugMedication" style="document"/>
			<wsdl:input name="WithdrawDrugMedicationRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
    	        <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="WithdrawDrugMedicationResponse">
    	        <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>
        <wsdl:operation name="SearchEffectuations">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#SearchEffectuations" style="document"/>
            <wsdl:input name="SearchEffectuationsRequest">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SearchEffectuationsResponse">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
	<wsdl:service name="MedicineCard">
		<wsdl:port name="MedicineCardPort" binding="tns:MedicineCardBinding">
			<soap:address location="http://trifork.lms.trifork.com/fmk12/ws/MedicineCard"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
