etc/wsdl/MedicineCard_Idws_2012_06_01.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:medicinecardidws20120601="http://www.dkma.dk/medicinecard/xml.schema/Idws2012/06/01"
                  xmlns:tns="http://www.dkma.dk/medicinecard/xml.schema/Idws2012/06/01"
                  xmlns:sdsd201206="http://www.sdsd.dk/dgws/2012/06"
                  xmlns:wsseorig="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0-orig.xsd"
                  xmlns:wsuorig="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0-orig.xsd"
                  xmlns:wsa="http://www.w3.org/2005/08/addressing"
                  xmlns:sbf="urn:liberty:sb"

                  targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/Idws2012/06/01">

    <wsdl:types>

        <xs:schema targetNamespace="urn:liberty:sb">
            <xs:include schemaLocation="../schemas/idws/v2.0/liberty-idwsf-soap-binding.xsd" />
            <xs:include schemaLocation="../schemas/idws/v2.0/idws-fault.xsd" />
        </xs:schema>

        <xs:schema targetNamespace="http://www.w3.org/2005/08/addressing">
            <xs:include schemaLocation="../schemas/2005/08/addressing/ws-addr.xsd" />
        </xs:schema>

        <xs:schema targetNamespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
            <xs:include schemaLocation="../schemas/2008/06/01/medcom.xsd"/>
        </xs:schema>

        <xs:schema targetNamespace="http://www.sdsd.dk/dgws/2012/06">
            <xs:include schemaLocation="../schemas/sdsd/2012/06/WhitelistingHeader.xsd"/>
        </xs:schema>


        <xs:schema targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0-orig.xsd">
            <xs:include schemaLocation="../schemas/idws/wss/oasis-200401_orig-wss-wssecurity-secext-1.0.xsd" />
        </xs:schema>
        <xs:schema targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0-orig.xsd">
            <xs:include schemaLocation="../schemas/idws/wss/oasis-200401_orig-wss-wssecurity-utility-1.0.xsd" />
        </xs:schema>


        <xs:schema targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/Idws2012/06/01"
                   elementFormDefault="qualified">

<!--            <xs:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                       schemaLocation="../schemas/2008/06/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"/>-->
<!--
            <xs:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                       schemaLocation="../schemas/idws/wss/oasis-200401_orig-wss-wssecurity-secext-1.0.xsd" />

            <xs:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                       schemaLocation="../schemas/idws/wss/oasis-200401_orig-wss-wssecurity-utility-1.0.xsd" />
-->


            <xs:include schemaLocation="../schemas/2012/06/01/GetMedicineCardRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2012/06/01/GetMedicineCardResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/TimingList.xsd"/>

            <!--<xs:include schemaLocation="../schemas/2012/06/01/PrescriptionReplicationStatus.xsd"/>-->

            <!--<xs:include schemaLocation="../schemas/2012/06/01/OnBehalfOf.xsd"/>-->

        </xs:schema>
    </wsdl:types>

    <wsdl:message name="MessageIDHeader">
        <wsdl:part name="MessageIDHeader" element="wsa:MessageID" />
    </wsdl:message>
    <wsdl:message name="ActionHeader">
        <wsdl:part name="ActionHeader" element="wsa:Action" />
    </wsdl:message>
    <wsdl:message name="ToHeader">
        <wsdl:part name="ToHeader" element="wsa:To" />
    </wsdl:message>
    <wsdl:message name="RelatesToHeader">
        <wsdl:part name="RelatesToHeader" element="wsa:RelatesTo" />
    </wsdl:message>
    <wsdl:message name="FrameworkHeader">
        <wsdl:part name="FrameworkHeader" element="sbf:Framework"/>
    </wsdl:message>

    <wsdl:message name="SecurityHeader">
        <wsdl:part name="SecurityHeader" element="wsseorig:Security"/>
    </wsdl:message>

    <wsdl:message name="WhitelistingHeader">
        <wsdl:part name="WhitelistingHeader" element="sdsd201206:WhitelistingHeader"/>
    </wsdl:message>

    <wsdl:message name="TimingHeader">
        <wsdl:part name="TimingHeader" element="medicinecardidws20120601:TimingList"/>
    </wsdl:message>

    <wsdl:message name="GetMedicineCardRequest_2012_06_01">
        <wsdl:part name="GetMedicineCardRequest" element="medicinecardidws20120601:GetMedicineCardRequest"/>
    </wsdl:message>
    <wsdl:message name="GetMedicineCardResponse_2012_06_01">
        <wsdl:part name="GetMedicineCardResponse" element="medicinecardidws20120601:GetMedicineCardResponse"/>
    </wsdl:message>

    <wsdl:message name="IDWSFault">
        <wsdl:part name="fault" element="sbf:IDWSFault" />
    </wsdl:message>

<!--
    <wsdl:message name="DGWSFault">
        <wsdl:part name="fault" element="medcom:FaultCode"/>
    </wsdl:message>
-->


    <wsdl:portType name="MedicineCardIdwsPortType">

        <wsdl:operation name="GetMedicineCardIdws_2012_06_01">
            <wsdl:input name="GetMedicineCardIdwsRequest_2012_06_01" message="tns:GetMedicineCardRequest_2012_06_01"/>
            <wsdl:output name="GetMedicineCardIdwsResponse_2012_06_01" message="tns:GetMedicineCardResponse_2012_06_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

    </wsdl:portType>


    <wsdl:binding name="MedicineCardIdwsBinding" type="tns:MedicineCardIdwsPortType">

        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="GetMedicineCardIdws_2012_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/Idws2012/06/01#GetMedicineCardIdws"
                            style="document"/>
            <wsdl:input
                    name="GetMedicineCardIdwsRequest_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetMedicineCardIdwsResponse_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <!--<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>-->
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="MedicineCardIdws">
        <wsdl:port name="MedicineCardIdwsPort" binding="tns:MedicineCardIdwsBinding">
            <soap:address location="https://trifork.lms.trifork.com/fmk12/ws/medicinecard"/>
        </wsdl:port>

    </wsdl:service>

</wsdl:definitions>
