etc/wsdl/MedicineCard_Idws_2012_06_01.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01"
                  xmlns:tns="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01"
                  xmlns:sdsd201206="http://www.sdsd.dk/dgws/2012/06"
                  xmlns:wsseorig="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                  xmlns:wsuorig="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsa="http://www.w3.org/2005/08/addressing"
                  xmlns:sbf="urn:liberty:sb"

                  targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01">

    <wsdl:types>

        <xs:schema targetNamespace="urn:liberty:sb">
            <xs:include schemaLocation="../schemas/liberty/liberty-idwsf-soap-binding.xsd" />
            <xs:include schemaLocation="../schemas/liberty/idws-fault.xsd" />
        </xs:schema>

        <xs:schema targetNamespace="http://www.w3.org/2005/08/addressing">
            <xs:include schemaLocation="../schemas/w3/2005/08/ws-addr.xsd" />
        </xs:schema>

        <xs:schema targetNamespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
            <xs:include schemaLocation="../schemas/medcom/dgws/2006/04/medcom.xsd"/>
        </xs:schema>

        <xs:schema targetNamespace="http://www.sdsd.dk/dgws/2012/06">
            <xs:include schemaLocation="../schemas/sdsd/2012/06/WhitelistingHeader.xsd"/>
        </xs:schema>

        <xs:schema targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <xs:include schemaLocation="../schemas/oasis/2004/01/oasis-200401_orig-wss-wssecurity-secext-1.0.xsd" />
        </xs:schema>
        <xs:schema targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
            <xs:include schemaLocation="../schemas/oasis/2004/01/oasis-200401_orig-wss-wssecurity-utility-1.0.xsd" />
        </xs:schema>

        <xs:schema targetNamespace="http://www.w3.org/2001/10/xml-exc-c14n#">
			<xs:include schemaLocation="../schemas/w3/2001/10/xml-exc-c14n.xsd"/>
		</xs:schema>

        <xs:schema targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01"
                   elementFormDefault="qualified">

            <xs:include schemaLocation="../schemas/2012/06/01/GetMedicineCardRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2012/06/01/GetMedicineCardResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/TimingList.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/GetMedicineCardAsPDFRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2012/06/01/GetMedicineCardAsPDFResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/GetMedicineCardVersionRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2012/06/01/GetMedicineCardVersionResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/UpdateMedicineCardRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2012/06/01/UpdateMedicineCardResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/SetMedicineCardReviewedRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2012/06/01/SetMedicineCardReviewedResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/GetDrugMedicationRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2012/06/01/GetDrugMedicationResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/PauseDrugMedicationRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2012/06/01/PauseDrugMedicationResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/CreateDrugMedicationRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2012/06/01/CreateDrugMedicationResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/AttachOrDetachPrescriptionMedicationRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2012/06/01/AttachOrDetachPrescriptionMedicationResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/CreateEffectuationRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2012/06/01/CreateEffectuationResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/CreatePrescriptionMedicationRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2012/06/01/CreatePrescriptionMedicationResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/SuspendMedicineCardRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2012/06/01/SuspendMedicineCardResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/ResuspendMedicineCardRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2012/06/01/ResuspendMedicineCardResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/UnsuspendMedicineCardRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2012/06/01/UnsuspendMedicineCardResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/GetPrescriptionMedicationRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2012/06/01/GetPrescriptionMedicationResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/SearchWithdrawnDrugMedicationsRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2012/06/01/SearchWithdrawnDrugMedicationsResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/UnpauseDrugMedicationRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2012/06/01/UnpauseDrugMedicationResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/UpdateDrugMedicationRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2012/06/01/UpdateDrugMedicationResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/WithdrawDrugMedicationRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2012/06/01/WithdrawDrugMedicationResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/UnwithdrawDrugMedicationRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2012/06/01/UnwithdrawDrugMedicationResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/SearchEffectuationsRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2012/06/01/SearchEffectuationsResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/CreatePrescriptionMedicationForUseInPracticeRequest.xsd"/>
            <xs:include
                    schemaLocation="../schemas/2012/06/01/CreatePrescriptionMedicationForUseInPracticeResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/CreatePrescriptionMedicationWithoutCPRRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2012/06/01/CreatePrescriptionMedicationWithoutCPRResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/DeleteEffectuationRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2012/06/01/DeleteEffectuationResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/GetPermissionsRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2012/06/01/GetPermissionsResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/MarkPrescriptionMedicationDeprecatedRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2012/06/01/MarkPrescriptionMedicationDeprecatedResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/UnmarkPrescriptionMedicationDeprecatedResponse.xsd"/>
            <xs:include schemaLocation="../schemas/2012/06/01/UnmarkPrescriptionMedicationDeprecatedRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/CancelPrescriptionMedicationRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2012/06/01/CancelPrescriptionMedicationResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/TimingList.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/PrescriptionReplicationStatus.xsd"/>

        </xs:schema>
    </wsdl:types>

    <wsdl:message name="MessageIDHeader">
        <wsdl:part name="MessageIDHeader" element="wsa:MessageID" />
    </wsdl:message>
    <wsdl:message name="ActionHeader">
        <wsdl:part name="ActionHeader" element="wsa:Action" />
    </wsdl:message>
    <wsdl:message name="ToHeader">
        <wsdl:part name="ToHeader" element="wsa:To" />
    </wsdl:message>
    <wsdl:message name="RelatesToHeader">
        <wsdl:part name="RelatesToHeader" element="wsa:RelatesTo" />
    </wsdl:message>
    <wsdl:message name="FrameworkHeader">
        <wsdl:part name="FrameworkHeader" element="sbf:Framework"/>
    </wsdl:message>
    <wsdl:message name="SecurityHeader">
        <wsdl:part name="SecurityHeader" element="wsseorig:Security"/>
    </wsdl:message>
    <wsdl:message name="WhitelistingHeader">
        <wsdl:part name="WhitelistingHeader" element="sdsd201206:WhitelistingHeader"/>
    </wsdl:message>

    <wsdl:message name="TimingHeader">
        <wsdl:part name="TimingHeader" element="medicinecard20120601:TimingList"/>
    </wsdl:message>

    <wsdl:message name="ReplicationStatusHeader">
        <wsdl:part name="ReplicationStatusHeader" element="medicinecard20120601:PrescriptionReplicationStatus"/>
    </wsdl:message>

    <wsdl:message name="GetMedicineCardIdwsRequest_2012_06_01">
        <wsdl:part name="GetMedicineCardRequest" element="medicinecard20120601:GetMedicineCardRequest"/>
    </wsdl:message>
    <wsdl:message name="GetMedicineCardIdwsResponse_2012_06_01">
        <wsdl:part name="GetMedicineCardResponse" element="medicinecard20120601:GetMedicineCardResponse"/>
    </wsdl:message>

    <wsdl:message name="GetMedicineCardAsPDFIdwsRequest_2012_06_01">
        <wsdl:part name="GetMedicineCardAsPDFRequest" element="medicinecard20120601:GetMedicineCardAsPDFRequest"/>
    </wsdl:message>
    <wsdl:message name="GetMedicineCardAsPDFIdwsResponse_2012_06_01">
        <wsdl:part name="GetMedicineCardAsPDFResponse" element="medicinecard20120601:GetMedicineCardAsPDFResponse"/>
    </wsdl:message>

    <wsdl:message name="GetMedicineCardVersionIdwsRequest_2012_06_01">
        <wsdl:part name="GetMedicineCardVersionRequest" element="medicinecard20120601:GetMedicineCardVersionRequest"/>
    </wsdl:message>
    <wsdl:message name="GetMedicineCardVersionIdwsResponse_2012_06_01">
        <wsdl:part name="GetMedicineCardVersionResponse" element="medicinecard20120601:GetMedicineCardVersionResponse"/>
    </wsdl:message>

    <wsdl:message name="UpdateMedicineCardIdwsRequest_2012_06_01">
        <wsdl:part name="UpdateMedicineCardRequest" element="medicinecard20120601:UpdateMedicineCardRequest"/>
    </wsdl:message>
    <wsdl:message name="UpdateMedicineCardIdwsResponse_2012_06_01">
        <wsdl:part name="UpdateMedicineCardResponse" element="medicinecard20120601:UpdateMedicineCardResponse"/>
    </wsdl:message>

    <wsdl:message name="SetMedicineCardReviewedIdwsRequest_2012_06_01">
        <wsdl:part name="SetMedicineCardReviewedRequest" element="medicinecard20120601:SetMedicineCardReviewedRequest"/>
    </wsdl:message>
    <wsdl:message name="SetMedicineCardReviewedIdwsResponse_2012_06_01">
        <wsdl:part name="SetMedicineCardReviewedResponse"
                   element="medicinecard20120601:SetMedicineCardReviewedResponse"/>
    </wsdl:message>

    <wsdl:message name="GetDrugMedicationIdwsRequest_2012_06_01">
        <wsdl:part name="GetDrugMedicationRequest" element="medicinecard20120601:GetDrugMedicationRequest"/>
    </wsdl:message>
    <wsdl:message name="GetDrugMedicationIdwsResponse_2012_06_01">
        <wsdl:part name="GetDrugMedicationResponse" element="medicinecard20120601:GetDrugMedicationResponse"/>
    </wsdl:message>

    <wsdl:message name="PauseDrugMedicationIdwsRequest_2012_06_01">
        <wsdl:part name="PauseDrugMedicationRequest" element="medicinecard20120601:PauseDrugMedicationRequest"/>
    </wsdl:message>
    <wsdl:message name="PauseDrugMedicationIdwsResponse_2012_06_01">
        <wsdl:part name="PauseDrugMedicationResponse" element="medicinecard20120601:PauseDrugMedicationResponse"/>
    </wsdl:message>

    <wsdl:message name="CreateDrugMedicationIdwsRequest_2012_06_01">
        <wsdl:part name="CreateDrugMedicationRequest" element="medicinecard20120601:CreateDrugMedicationRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateDrugMedicationIdwsResponse_2012_06_01">
        <wsdl:part name="CreateDrugMedicationResponse" element="medicinecard20120601:CreateDrugMedicationResponse"/>
    </wsdl:message>

    <wsdl:message name="AttachOrDetachPrescriptionMedicationIdwsRequest_2012_06_01">
        <wsdl:part name="AttachOrDetachPrescriptionMedicationRequest"
                   element="medicinecard20120601:AttachOrDetachPrescriptionMedicationRequest"/>
    </wsdl:message>
    <wsdl:message name="AttachOrDetachPrescriptionMedicationIdwsResponse_2012_06_01">
        <wsdl:part name="AttachOrDetachPrescriptionMedicationResponse"
                   element="medicinecard20120601:AttachOrDetachPrescriptionMedicationResponse"/>
    </wsdl:message>

    <wsdl:message name="CreateEffectuationIdwsRequest_2012_06_01">
        <wsdl:part name="CreateEffectuationRequest" element="medicinecard20120601:CreateEffectuationRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateEffectuationIdwsResponse_2012_06_01">
        <wsdl:part name="CreateEffectuationResponse" element="medicinecard20120601:CreateEffectuationResponse"/>
    </wsdl:message>

    <wsdl:message name="CreatePrescriptionMedicationIdwsRequest_2012_06_01">
        <wsdl:part name="CreatePrescriptionMedicationRequest"
                   element="medicinecard20120601:CreatePrescriptionMedicationRequest"/>
    </wsdl:message>
    <wsdl:message name="CreatePrescriptionMedicationIdwsResponse_2012_06_01">
        <wsdl:part name="CreatePrescriptionMedicationResponse"
                   element="medicinecard20120601:CreatePrescriptionMedicationResponse"/>
    </wsdl:message>

    <wsdl:message name="SuspendMedicineCardIdwsRequest_2012_06_01">
        <wsdl:part name="SuspendMedicineCardRequest" element="medicinecard20120601:SuspendMedicineCardRequest"/>
    </wsdl:message>
    <wsdl:message name="SuspendMedicineCardIdwsResponse_2012_06_01">
        <wsdl:part name="SuspendMedicineCardResponse" element="medicinecard20120601:SuspendMedicineCardResponse"/>
    </wsdl:message>

    <wsdl:message name="ResuspendMedicineCardIdwsRequest_2012_06_01">
        <wsdl:part name="ResuspendMedicineCardRequest" element="medicinecard20120601:ResuspendMedicineCardRequest"/>
    </wsdl:message>
    <wsdl:message name="ResuspendMedicineCardIdwsResponse_2012_06_01">
        <wsdl:part name="ResuspendMedicineCardResponse" element="medicinecard20120601:ResuspendMedicineCardResponse"/>
    </wsdl:message>

    <wsdl:message name="UnsuspendMedicineCardIdwsRequest_2012_06_01">
        <wsdl:part name="UnsuspendMedicineCardRequest" element="medicinecard20120601:UnsuspendMedicineCardRequest"/>
    </wsdl:message>
    <wsdl:message name="UnsuspendMedicineCardIdwsResponse_2012_06_01">
        <wsdl:part name="UnsuspendMedicineCardResponse" element="medicinecard20120601:UnsuspendMedicineCardResponse"/>
    </wsdl:message>

    <wsdl:message name="GetPrescriptionMedicationIdwsRequest_2012_06_01">
        <wsdl:part name="GetPrescriptionMedicationRequest"
                   element="medicinecard20120601:GetPrescriptionMedicationRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPrescriptionMedicationIdwsResponse_2012_06_01">
        <wsdl:part name="GetPrescriptionMedicationResponse"
                   element="medicinecard20120601:GetPrescriptionMedicationResponse"/>
    </wsdl:message>

    <wsdl:message name="SearchWithdrawnDrugMedicationsIdwsRequest_2012_06_01">
        <wsdl:part name="SearchWithdrawnDrugMedicationsRequest"
                   element="medicinecard20120601:SearchWithdrawnDrugMedicationsRequest"/>
    </wsdl:message>
    <wsdl:message name="SearchWithdrawnDrugMedicationsIdwsResponse_2012_06_01">
        <wsdl:part name="SearchWithdrawnDrugMedicationsResponse"
                   element="medicinecard20120601:SearchWithdrawnDrugMedicationsResponse"/>
    </wsdl:message>

    <wsdl:message name="UnpauseDrugMedicationIdwsRequest_2012_06_01">
        <wsdl:part name="UnpauseDrugMedicationRequest" element="medicinecard20120601:UnpauseDrugMedicationRequest"/>
    </wsdl:message>
    <wsdl:message name="UnpauseDrugMedicationIdwsResponse_2012_06_01">
        <wsdl:part name="UnpauseDrugMedicationResponse" element="medicinecard20120601:UnpauseDrugMedicationResponse"/>
    </wsdl:message>

    <wsdl:message name="UpdateDrugMedicationIdwsRequest_2012_06_01">
        <wsdl:part name="UpdateDrugMedicationRequest" element="medicinecard20120601:UpdateDrugMedicationRequest"/>
    </wsdl:message>
    <wsdl:message name="UpdateDrugMedicationIdwsResponse_2012_06_01">
        <wsdl:part name="UpdateDrugMedicationResponse" element="medicinecard20120601:UpdateDrugMedicationResponse"/>
    </wsdl:message>

    <wsdl:message name="WithdrawDrugMedicationIdwsRequest_2012_06_01">
        <wsdl:part name="WithdrawDrugMedicationRequest" element="medicinecard20120601:WithdrawDrugMedicationRequest"/>
    </wsdl:message>
    <wsdl:message name="WithdrawDrugMedicationIdwsResponse_2012_06_01">
        <wsdl:part name="WithdrawDrugMedicationResponse" element="medicinecard20120601:WithdrawDrugMedicationResponse"/>
    </wsdl:message>

    <wsdl:message name="UnwithdrawDrugMedicationIdwsRequest_2012_06_01">
        <wsdl:part name="UnwithdrawDrugMedicationRequest"
                   element="medicinecard20120601:UnwithdrawDrugMedicationRequest"/>
    </wsdl:message>

    <wsdl:message name="UnwithdrawDrugMedicationIdwsResponse_2012_06_01">
        <wsdl:part name="UnwithdrawDrugMedicationResponse"
                   element="medicinecard20120601:UnwithdrawDrugMedicationResponse"/>
    </wsdl:message>

    <wsdl:message name="SearchEffectuationsIdwsRequest_2012_06_01">
        <wsdl:part name="SearchEffectuationsRequest" element="medicinecard20120601:SearchEffectuationsRequest"/>
    </wsdl:message>
    <wsdl:message name="SearchEffectuationsIdwsResponse_2012_06_01">
        <wsdl:part name="SearchEffectuationsResponse" element="medicinecard20120601:SearchEffectuationsResponse"/>
    </wsdl:message>

    <wsdl:message name="CreatePrescriptionMedicationForUseInPracticeIdwsRequest_2012_06_01">
        <wsdl:part name="CreatePrescriptionMedicationForUseInPracticeRequest"
                   element="medicinecard20120601:CreatePrescriptionMedicationForUseInPracticeRequest"/>
    </wsdl:message>

    <wsdl:message name="CreatePrescriptionMedicationForUseInPracticeIdwsResponse_2012_06_01">
        <wsdl:part name="CreatePrescriptionMedicationForUseInPracticeResponse"
                   element="medicinecard20120601:CreatePrescriptionMedicationForUseInPracticeResponse"/>
    </wsdl:message>

    <wsdl:message name="CreatePrescriptionMedicationWithoutCPRIdwsRequest_2012_06_01">
        <wsdl:part name="CreatePrescriptionMedicationWithoutCPRRequest"
                   element="medicinecard20120601:CreatePrescriptionMedicationWithoutCPRRequest"/>
    </wsdl:message>
    <wsdl:message name="CreatePrescriptionMedicationWithoutCPRIdwsResponse_2012_06_01">
        <wsdl:part name="CreatePrescriptionMedicationWithoutCPRResponse"
                   element="medicinecard20120601:CreatePrescriptionMedicationWithoutCPRResponse"/>
    </wsdl:message>

    <wsdl:message name="DeleteEffectuationIdwsRequest_2012_06_01">
        <wsdl:part name="DeleteEffectuationRequest" element="medicinecard20120601:DeleteEffectuationRequest"/>
    </wsdl:message>
    <wsdl:message name="DeleteEffectuationIdwsResponse_2012_06_01">
        <wsdl:part name="DeleteEffectuationResponse" element="medicinecard20120601:DeleteEffectuationResponse"/>
    </wsdl:message>

    <wsdl:message name="GetPermissionsIdwsRequest_2012_06_01">
        <wsdl:part name="GetPermissionsRequest" element="medicinecard20120601:GetPermissionsRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPermissionsIdwsResponse_2012_06_01">
        <wsdl:part name="GetPermissionsResponse" element="medicinecard20120601:GetPermissionsResponse"/>
    </wsdl:message>

    <wsdl:message name="MarkPrescriptionMedicationDeprecatedIdwsRequest_2012_06_01">
        <wsdl:part name="MarkPrescriptionMedicationDeprecatedRequest" element="medicinecard20120601:MarkPrescriptionMedicationDeprecatedRequest"/>
    </wsdl:message>
    <wsdl:message name="MarkPrescriptionMedicationDeprecatedIdwsResponse_2012_06_01">
        <wsdl:part name="MarkPrescriptionMedicationDeprecatedResponse" element="medicinecard20120601:MarkPrescriptionMedicationDeprecatedResponse"/>
    </wsdl:message>

    <wsdl:message name="UnmarkPrescriptionMedicationDeprecatedIdwsRequest_2012_06_01">
        <wsdl:part name="UnmarkPrescriptionMedicationDeprecatedRequest" element="medicinecard20120601:UnmarkPrescriptionMedicationDeprecatedRequest"/>
    </wsdl:message>
    <wsdl:message name="UnmarkPrescriptionMedicationDeprecatedIdwsResponse_2012_06_01">
        <wsdl:part name="UnmarkPrescriptionMedicationDeprecatedResponse" element="medicinecard20120601:UnmarkPrescriptionMedicationDeprecatedResponse"/>
    </wsdl:message>

    <wsdl:message name="CancelPrescriptionMedicationIdwsRequest_2012_06_01">
        <wsdl:part name="CancelPrescriptionMedicationRequest" element="medicinecard20120601:CancelPrescriptionMedicationRequest"/>
    </wsdl:message>
    <wsdl:message name="CancelPrescriptionMedicationIdwsResponse_2012_06_01">
        <wsdl:part name="CancelPrescriptionMedicationResponse" element="medicinecard20120601:CancelPrescriptionMedicationResponse"/>
    </wsdl:message>

    <wsdl:message name="IDWSFault">
        <wsdl:part name="fault" element="sbf:IDWSFault" />
    </wsdl:message>


    <wsdl:portType name="MedicineCardIdwsPortType">

        <wsdl:operation name="GetMedicineCardIdws_2012_06_01">
            <wsdl:input name="GetMedicineCardIdwsRequest_2012_06_01" message="tns:GetMedicineCardIdwsRequest_2012_06_01"/>
            <wsdl:output name="GetMedicineCardIdwsResponse_2012_06_01" message="tns:GetMedicineCardIdwsResponse_2012_06_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="GetMedicineCardAsPDFIdws_2012_06_01">
            <wsdl:input name="GetMedicineCardAsPDFRequest_2012_06_01"
                        message="tns:GetMedicineCardAsPDFIdwsRequest_2012_06_01"/>
            <wsdl:output name="GetMedicineCardAsPDFIdwsResponse_2012_06_01"
                         message="tns:GetMedicineCardAsPDFIdwsResponse_2012_06_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="GetMedicineCardVersionIdws_2012_06_01">
            <wsdl:input name="GetMedicineCardVersionIdwsRequest_2012_06_01"
                        message="tns:GetMedicineCardVersionIdwsRequest_2012_06_01"/>
            <wsdl:output name="GetMedicineCardVersionIdwsResponse_2012_06_01"
                         message="tns:GetMedicineCardVersionIdwsResponse_2012_06_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="UpdateMedicineCardIdws_2012_06_01">
            <wsdl:input name="UpdateMedicineCardIdwsRequest_2012_06_01" message="tns:UpdateMedicineCardIdwsRequest_2012_06_01"/>
            <wsdl:output name="UpdateMedicineCardIdwsResponse_2012_06_01"
                         message="tns:UpdateMedicineCardIdwsResponse_2012_06_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="SetMedicineCardReviewedIdws_2012_06_01">
            <wsdl:input name="SetMedicineCardReviewedIdwsRequest_2012_06_01"
                        message="tns:SetMedicineCardReviewedIdwsRequest_2012_06_01"/>
            <wsdl:output name="SetMedicineCardReviewedIdwsResponse_2012_06_01"
                         message="tns:SetMedicineCardReviewedIdwsResponse_2012_06_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="GetDrugMedicationIdws_2012_06_01">
            <wsdl:input name="GetDrugMedicationIdwsRequest_2012_06_01" message="tns:GetDrugMedicationIdwsRequest_2012_06_01"/>
            <wsdl:output name="GetDrugMedicationIdwsResponse_2012_06_01"
                         message="tns:GetDrugMedicationIdwsResponse_2012_06_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="PauseDrugMedicationIdws_2012_06_01">
            <wsdl:input name="PauseDrugMedicationIdwsRequest_2012_06_01"
                        message="tns:PauseDrugMedicationIdwsRequest_2012_06_01"/>
            <wsdl:output name="PauseDrugMedicationIdwsResponse_2012_06_01"
                         message="tns:PauseDrugMedicationIdwsResponse_2012_06_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="CreateDrugMedicationIdws_2012_06_01">
            <wsdl:input name="CreateDrugMedicationIdwsRequest_2012_06_01"
                        message="tns:CreateDrugMedicationIdwsRequest_2012_06_01"/>
            <wsdl:output name="CreateDrugMedicationIdwsResponse_2012_06_01"
                         message="tns:CreateDrugMedicationIdwsResponse_2012_06_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>


        <wsdl:operation name="AttachOrDetachPrescriptionMedicationIdws_2012_06_01">
            <wsdl:input name="AttachOrDetachPrescriptionMedicationIdwsRequest_2012_06_01"
                        message="tns:AttachOrDetachPrescriptionMedicationIdwsRequest_2012_06_01"/>
            <wsdl:output name="AttachOrDetachPrescriptionMedicationIdwsResponse_2012_06_01"
                         message="tns:AttachOrDetachPrescriptionMedicationIdwsResponse_2012_06_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="CreateEffectuationIdws_2012_06_01">
            <wsdl:input name="CreateEffectuationIdwsRequest_2012_06_01" message="tns:CreateEffectuationIdwsRequest_2012_06_01"/>
            <wsdl:output name="CreateEffectuationIdwsResponse_2012_06_01"
                         message="tns:CreateEffectuationIdwsResponse_2012_06_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="CreatePrescriptionMedicationIdws_2012_06_01">
            <wsdl:input name="CreatePrescriptionMedicationIdwsRequest_2012_06_01"
                        message="tns:CreatePrescriptionMedicationIdwsRequest_2012_06_01"/>
            <wsdl:output name="CreatePrescriptionMedicationIdwsResponse_2012_06_01"
                         message="tns:CreatePrescriptionMedicationIdwsResponse_2012_06_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="SuspendMedicineCardIdws_2012_06_01">
            <wsdl:input name="SuspendMedicineCardIdwsRequest_2012_06_01"
                        message="tns:SuspendMedicineCardIdwsRequest_2012_06_01"/>
            <wsdl:output name="SuspendMedicineCardIdwsResponse_2012_06_01"
                         message="tns:SuspendMedicineCardIdwsResponse_2012_06_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="ResuspendMedicineCardIdws_2012_06_01">
            <wsdl:input name="ResuspendMedicineCardIdwsRequest_2012_06_01"
                        message="tns:ResuspendMedicineCardIdwsRequest_2012_06_01"/>
            <wsdl:output name="ResuspendMedicineCardIdwsResponse_2012_06_01"
                         message="tns:ResuspendMedicineCardIdwsResponse_2012_06_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="UnsuspendMedicineCardIdws_2012_06_01">
            <wsdl:input name="UnsuspendMedicineCardIdwsRequest_2012_06_01"
                        message="tns:UnsuspendMedicineCardIdwsRequest_2012_06_01"/>
            <wsdl:output name="UnsuspendMedicineCardIdwsResponse_2012_06_01"
                         message="tns:UnsuspendMedicineCardIdwsResponse_2012_06_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="GetPrescriptionMedicationIdws_2012_06_01">
            <wsdl:input name="GetPrescriptionMedicationIdwsRequest_2012_06_01"
                        message="tns:GetPrescriptionMedicationIdwsRequest_2012_06_01"/>
            <wsdl:output name="GetPrescriptionMedicationIdwsResponse_2012_06_01"
                         message="tns:GetPrescriptionMedicationIdwsResponse_2012_06_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="SearchWithdrawnDrugMedicationsIdws_2012_06_01">
            <wsdl:input name="SearchWithdrawnDrugMedicationsIdwsRequest_2012_06_01"
                        message="tns:SearchWithdrawnDrugMedicationsIdwsRequest_2012_06_01"/>
            <wsdl:output name="SearchWithdrawnDrugMedicationsIdwsResponse_2012_06_01"
                         message="tns:SearchWithdrawnDrugMedicationsIdwsResponse_2012_06_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="UnpauseDrugMedicationIdws_2012_06_01">
            <wsdl:input name="UnpauseDrugMedicationIdwsRequest_2012_06_01"
                        message="tns:UnpauseDrugMedicationIdwsRequest_2012_06_01"/>
            <wsdl:output name="UnpauseDrugMedicationIdwsResponse_2012_06_01"
                         message="tns:UnpauseDrugMedicationIdwsResponse_2012_06_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="UpdateDrugMedicationIdws_2012_06_01">
            <wsdl:input name="UpdateDrugMedicationIdwsRequest_2012_06_01"
                        message="tns:UpdateDrugMedicationIdwsRequest_2012_06_01"/>
            <wsdl:output name="UpdateDrugMedicationIdwsResponse_2012_06_01"
                         message="tns:UpdateDrugMedicationIdwsResponse_2012_06_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="WithdrawDrugMedicationIdws_2012_06_01">
            <wsdl:input name="WithdrawDrugMedicationIdwsRequest_2012_06_01"
                        message="tns:WithdrawDrugMedicationIdwsRequest_2012_06_01"/>
            <wsdl:output name="WithdrawDrugMedicationIdwsResponse_2012_06_01"
                         message="tns:WithdrawDrugMedicationIdwsResponse_2012_06_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="UnwithdrawDrugMedicationIdws_2012_06_01">
            <wsdl:input name="UnwithdrawDrugMedicationIdwsRequest_2012_06_01"
                        message="tns:UnwithdrawDrugMedicationIdwsRequest_2012_06_01"/>
            <wsdl:output name="UnwithdrawDrugMedicationIdwsResponse_2012_06_01"
                         message="tns:UnwithdrawDrugMedicationIdwsResponse_2012_06_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="SearchEffectuationsIdws_2012_06_01">
            <wsdl:input name="SearchEffectuationsIdwsRequest_2012_06_01"
                        message="tns:SearchEffectuationsIdwsRequest_2012_06_01"/>
            <wsdl:output name="SearchEffectuationsIdwsResponse_2012_06_01"
                         message="tns:SearchEffectuationsIdwsResponse_2012_06_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="CreatePrescriptionMedicationForUseInPracticeIdws_2012_06_01">
            <wsdl:input name="CreatePrescriptionMedicationForUseInPracticeIdwsRequest_2012_06_01"
                        message="tns:CreatePrescriptionMedicationForUseInPracticeIdwsRequest_2012_06_01"/>
            <wsdl:output name="CreatePrescriptionMedicationForUseInPracticeIdwsResponse_2012_06_01"
                         message="tns:CreatePrescriptionMedicationForUseInPracticeIdwsResponse_2012_06_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="CreatePrescriptionMedicationWithoutCPRIdws_2012_06_01">
            <wsdl:input name="CreatePrescriptionMedicationWithoutCPRIdwsRequest_2012_06_01"
                        message="tns:CreatePrescriptionMedicationWithoutCPRIdwsRequest_2012_06_01"/>
            <wsdl:output name="CreatePrescriptionMedicationWithoutCPRIdwsResponse_2012_06_01"
                         message="tns:CreatePrescriptionMedicationWithoutCPRIdwsResponse_2012_06_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="DeleteEffectuationIdws_2012_06_01">
            <wsdl:input name="DeleteEffectuationIdwsRequest_2012_06_01" message="tns:DeleteEffectuationIdwsRequest_2012_06_01"/>
            <wsdl:output name="DeleteEffectuationIdwsResponse_2012_06_01"
                         message="tns:DeleteEffectuationIdwsResponse_2012_06_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="GetPermissionsIdws_2012_06_01">
            <wsdl:input name="GetPermissionsIdwsRequest_2012_06_01" message="tns:GetPermissionsIdwsRequest_2012_06_01"/>
            <wsdl:output name="GetPermissionsIdwsResponse_2012_06_01" message="tns:GetPermissionsIdwsResponse_2012_06_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="MarkPrescriptionMedicationDeprecatedIdws_2012_06_01">
            <wsdl:input name="MarkPrescriptionMedicationDeprecatedIdwsRequest_2012_06_01" message="tns:MarkPrescriptionMedicationDeprecatedIdwsRequest_2012_06_01"/>
            <wsdl:output name="MarkPrescriptionMedicationDeprecatedIdwsResponse_2012_06_01" message="tns:MarkPrescriptionMedicationDeprecatedIdwsResponse_2012_06_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="UnmarkPrescriptionMedicationDeprecatedIdws_2012_06_01">
            <wsdl:input name="UnmarkPrescriptionMedicationDeprecatedIdwsRequest_2012_06_01" message="tns:UnmarkPrescriptionMedicationDeprecatedIdwsRequest_2012_06_01"/>
            <wsdl:output name="UnmarkPrescriptionMedicationDeprecatedIdwsResponse_2012_06_01" message="tns:UnmarkPrescriptionMedicationDeprecatedIdwsResponse_2012_06_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="CancelPrescriptionMedicationIdws_2012_06_01">
            <wsdl:input name="CancelPrescriptionMedicationIdwsRequest_2012_06_01" message="tns:CancelPrescriptionMedicationIdwsRequest_2012_06_01"/>
            <wsdl:output name="CancelPrescriptionMedicationIdwsResponse_2012_06_01" message="tns:CancelPrescriptionMedicationIdwsResponse_2012_06_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

    </wsdl:portType>


    <wsdl:binding name="MedicineCardIdwsBinding" type="tns:MedicineCardIdwsPortType">

        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="GetMedicineCardIdws_2012_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#GetMedicineCard"
                            style="document"/>
            <wsdl:input
                    name="GetMedicineCardIdwsRequest_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetMedicineCardIdwsResponse_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <!--<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>-->
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetMedicineCardAsPDFIdws_2012_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#GetMedicineCardAsPDF"
                            style="document"/>
            <wsdl:input name="GetMedicineCardAsPDFIdwsRequest_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetMedicineCardAsPDFIdwsResponse_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <!--<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>-->
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetMedicineCardVersionIdws_2012_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#GetMedicineCardVersion"
                            style="document"/>
            <wsdl:input name="GetMedicineCardVersionIdwsRequest_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetMedicineCardVersionIdwsResponse_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <!--<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>-->
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="UpdateMedicineCardIdws_2012_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#UpdateMedicineCard"
                            style="document"/>
            <wsdl:input name="UpdateMedicineCardIdwsRequest_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UpdateMedicineCardIdwsResponse_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <!--<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>-->
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>


        <wsdl:operation name="SetMedicineCardReviewedIdws_2012_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#SetMedicineCardReviewed"
                            style="document"/>
            <wsdl:input name="SetMedicineCardReviewedIdwsRequest_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SetMedicineCardReviewedIdwsResponse_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <!--<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>-->
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetDrugMedicationIdws_2012_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#GetDrugMedication"
                            style="document"/>
            <wsdl:input name="GetDrugMedicationIdwsRequest_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetDrugMedicationIdwsResponse_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <!--<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>-->
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="PauseDrugMedicationIdws_2012_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#PauseDrugMedication"
                            style="document"/>
            <wsdl:input name="PauseDrugMedicationIdwsRequest_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="PauseDrugMedicationIdwsResponse_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <!--<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>-->
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="CreateDrugMedicationIdws_2012_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#CreateDrugMedication"
                            style="document"/>
            <wsdl:input name="CreateDrugMedicationIdwsRequest_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreateDrugMedicationIdwsResponse_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <!--<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>-->
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="AttachOrDetachPrescriptionMedicationIdws_2012_06_01">
            <soap:operation
                    soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#AttachOrDetachPrescriptionMedication"
                    style="document"/>
            <wsdl:input name="AttachOrDetachPrescriptionMedicationIdwsRequest_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="AttachOrDetachPrescriptionMedicationIdwsResponse_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <!--<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>-->
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="CreateEffectuationIdws_2012_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#CreateEffectuation"
                            style="document"/>
            <wsdl:input name="CreateEffectuationIdwsRequest_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreateEffectuationIdwsResponse_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <!--<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>-->
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="CreatePrescriptionMedicationIdws_2012_06_01">
            <soap:operation
                    soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#CreatePrescriptionMedication"
                    style="document"/>
            <wsdl:input name="CreatePrescriptionMedicationIdwsRequest_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreatePrescriptionMedicationIdwsResponse_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <!--<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>-->
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="SuspendMedicineCardIdws_2012_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#SuspendMedicineCard"
                            style="document"/>
            <wsdl:input name="SuspendMedicineCardIdwsRequest_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SuspendMedicineCardIdwsResponse_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <!--<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>-->
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="ResuspendMedicineCardIdws_2012_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#ResuspendMedicineCard"
                            style="document"/>
            <wsdl:input name="ResuspendMedicineCardIdwsRequest_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ResuspendMedicineCardIdwsResponse_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <!--<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>-->
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="UnsuspendMedicineCardIdws_2012_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#UnsuspendMedicineCard"
                            style="document"/>
            <wsdl:input name="UnsuspendMedicineCardIdwsRequest_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UnsuspendMedicineCardIdwsResponse_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <!--<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>-->
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetPrescriptionMedicationIdws_2012_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#GetPrescriptionMedication"
                            style="document"/>
            <wsdl:input name="GetPrescriptionMedicationIdwsRequest_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPrescriptionMedicationIdwsResponse_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <!--<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>-->
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>


        <wsdl:operation name="SearchWithdrawnDrugMedicationsIdws_2012_06_01">
            <soap:operation
                    soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#SearchWithdrawnDrugMedications"
                    style="document"/>
            <wsdl:input name="SearchWithdrawnDrugMedicationsIdwsRequest_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SearchWithdrawnDrugMedicationsIdwsResponse_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <!--<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>-->
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="UnpauseDrugMedicationIdws_2012_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#UnpauseDrugMedication"
                            style="document"/>
            <wsdl:input name="UnpauseDrugMedicationIdwsRequest_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UnpauseDrugMedicationIdwsResponse_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <!--<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>-->
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="UpdateDrugMedicationIdws_2012_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#UpdateDrugMedication"
                            style="document"/>
            <wsdl:input name="UpdateDrugMedicationIdwsRequest_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UpdateDrugMedicationIdwsResponse_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <!--<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>-->
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="WithdrawDrugMedicationIdws_2012_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#WithdrawDrugMedication"
                            style="document"/>
            <wsdl:input name="WithdrawDrugMedicationIdwsRequest_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="WithdrawDrugMedicationIdwsResponse_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <!--<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>-->
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="SearchEffectuationsIdws_2012_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#SearchEffectuations"
                            style="document"/>
            <wsdl:input name="SearchEffectuationsIdwsRequest_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SearchEffectuationsIdwsResponse_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <!--<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>-->
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="UnwithdrawDrugMedicationIdws_2012_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#UnwithdrawDrugMedication"
                            style="document"/>
            <wsdl:input name="UnwithdrawDrugMedicationIdwsRequest_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UnwithdrawDrugMedicationIdwsResponse_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <!--<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>-->
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>


        <wsdl:operation name="CreatePrescriptionMedicationForUseInPracticeIdws_2012_06_01">
            <soap:operation
                    soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#CreatePrescriptionMedicationForUseInPractice"
                    style="document"/>
            <wsdl:input name="CreatePrescriptionMedicationForUseInPracticeIdwsRequest_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreatePrescriptionMedicationForUseInPracticeIdwsResponse_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <!--<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>-->
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="CreatePrescriptionMedicationWithoutCPRIdws_2012_06_01">
            <soap:operation
                    soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#CreatePrescriptionMedicationWithoutCPR"
                    style="document"/>
            <wsdl:input name="CreatePrescriptionMedicationWithoutCPRIdwsRequest_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreatePrescriptionMedicationWithoutCPRIdwsResponse_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <!--<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>-->
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="DeleteEffectuationIdws_2012_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#DeleteEffectuation"
                            style="document"/>
            <wsdl:input name="DeleteEffectuationIdwsRequest_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="DeleteEffectuationIdwsResponse_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <!--<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>-->
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetPermissionsIdws_2012_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#GetPermissions"
                            style="document"/>
            <wsdl:input name="GetPermissionsIdwsRequest_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPermissionsIdwsResponse_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <!--<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>-->
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="MarkPrescriptionMedicationDeprecatedIdws_2012_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#MarkPrescriptionMedicationDeprecated"
                            style="document"/>
            <wsdl:input name="MarkPrescriptionMedicationDeprecatedIdwsRequest_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="MarkPrescriptionMedicationDeprecatedIdwsResponse_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <!--<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>-->
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="UnmarkPrescriptionMedicationDeprecatedIdws_2012_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#UnmarkPrescriptionMedicationDeprecated"
                            style="document"/>
            <wsdl:input name="UnmarkPrescriptionMedicationDeprecatedIdwsRequest_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UnmarkPrescriptionMedicationDeprecatedIdwsResponse_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <!--<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>-->
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="CancelPrescriptionMedicationIdws_2012_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#CancelPrescriptionMedication"
                            style="document"/>
            <wsdl:input name="CancelPrescriptionMedicationIdwsRequest_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CancelPrescriptionMedicationIdwsResponse_2012_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <!--<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>-->
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="MedicineCardIdws">
        <wsdl:port name="MedicineCardIdwsPort" binding="tns:MedicineCardIdwsBinding">
            <soap:address location="https://trifork.lms.trifork.com/fmk12/idws/MedicineCardIdwsEndpoint"/>
        </wsdl:port>

    </wsdl:service>

</wsdl:definitions>
