etc/wsdl/MedicineCard_2012_06_01.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/01/01" 
	xmlns:tns="http://www.dkma.dk/medicinecard/xml.schema/2012/01/01"
	xmlns:dglws="http://www.medcom.dk/dglws/1.0/xsd"
	xmlns:medcom="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd"
	xmlns:sdsd201008="http://www.sdsd.dk/dgws/2010/08"
	xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
	targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01">
	
		

	<wsdl:types>

		<xs:schema targetNamespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
			<xs:include schemaLocation="../schemas/2012/06/01/medcom.xsd" />
		</xs:schema>
		
		<xs:schema targetNamespace="http://www.sdsd.dk/dgws/2010/08">
			<xs:include schemaLocation="../schemas/sdsd/2010/08/SystemOwnerName.xsd" />
			<xs:include schemaLocation="../schemas/sdsd/2010/08/SystemName.xsd" />
			<xs:include schemaLocation="../schemas/sdsd/2010/08/SystemVersion.xsd" />
			<xs:include schemaLocation="../schemas/sdsd/2010/08/OrgResponsibleName.xsd" />
			<xs:include schemaLocation="../schemas/sdsd/2010/08/OrgUsingName.xsd" />
			<xs:include schemaLocation="../schemas/sdsd/2010/08/OrgUsingID.xsd" />
			<xs:include schemaLocation="../schemas/sdsd/2010/08/RequestedRole.xsd" />
		</xs:schema>

		<xs:schema targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified">
			<xs:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" schemaLocation="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"/>		

			<xs:include schemaLocation="../schemas/2012/06/01/GetMedicineCardRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2012/06/01/GetMedicineCardResponse.xsd"/>
			
			<xs:include schemaLocation="../schemas/2012/06/01/GetMedicineCardAsPDFRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2012/06/01/GetMedicineCardAsPDFResponse.xsd"/>			
			
			<xs:include schemaLocation="../schemas/2012/06/01/UpdateMedicineCardRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2012/06/01/UpdateMedicineCardResponse.xsd"/>			
						
			<xs:include schemaLocation="../schemas/2012/06/01/GetMedicineCardVersionRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2012/06/01/GetMedicineCardVersionResponse.xsd"/>
			
			<xs:include schemaLocation="../schemas/2012/06/01/SuspendMedicineCardRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2012/06/01/SuspendMedicineCardResponse.xsd"/>

			<xs:include schemaLocation="../schemas/2012/06/01/ResuspendMedicineCardRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2012/06/01/ResuspendMedicineCardResponse.xsd"/>

			<xs:include schemaLocation="../schemas/2012/06/01/UnsuspendMedicineCardRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2012/06/01/UnsuspendMedicineCardResponse.xsd"/>

			<xs:include schemaLocation="../schemas/2012/06/01/SetMedicineCardReviewedRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2012/06/01/SetMedicineCardReviewedResponse.xsd"/>
						
			<xs:include schemaLocation="../schemas/2012/06/01/CreateDrugMedicationRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2012/06/01/CreateDrugMedicationResponse.xsd"/>
			
			<xs:include schemaLocation="../schemas/2012/06/01/DrugMedicationRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2012/06/01/DrugMedicationResponse.xsd"/>
			
			<xs:include schemaLocation="../schemas/2012/06/01/UpdateDrugMedicationRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2012/06/01/UpdateDrugMedicationResponse.xsd"/>		
			
			<xs:include schemaLocation="../schemas/2012/06/01/WithdrawDrugMedicationRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2012/06/01/WithdrawDrugMedicationResponse.xsd"/>		
			
			<xs:include schemaLocation="../schemas/2012/06/01/UnwithdrawDrugMedicationRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2012/06/01/UnwithdrawDrugMedicationResponse.xsd"/>					
 			
			<xs:include schemaLocation="../schemas/2012/06/01/SearchWithdrawnDrugMedicationsRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2012/06/01/SearchWithdrawnDrugMedicationsResponse.xsd"/> 			
 			
			<xs:include schemaLocation="../schemas/2012/06/01/PauseDrugMedicationRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2012/06/01/PauseDrugMedicationResponse.xsd"/>

			<xs:include schemaLocation="../schemas/2012/06/01/UnpauseDrugMedicationRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2012/06/01/UnpauseDrugMedicationResponse.xsd"/>
			
			<xs:include schemaLocation="../schemas/2012/06/01/CreatePrescriptionMedicationRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2012/06/01/CreatePrescriptionMedicationResponse.xsd"/>

			<xs:include schemaLocation="../schemas/2011/01/01/CreatePrescriptionMedicationForUseInPracticeRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2011/01/01/CreatePrescriptionMedicationForUseInPracticeResponse.xsd"/>

			<xs:include schemaLocation="../schemas/2011/01/01/CreatePrescriptionMedicationWithoutCPRRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2011/01/01/CreatePrescriptionMedicationWithoutCPRResponse.xsd"/>

			<xs:include schemaLocation="../schemas/2012/06/01/PrescriptionMedicationRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2012/06/01/PrescriptionMedicationResponse.xsd"/>

			<xs:include schemaLocation="../schemas/2012/06/01/AttachOrDetachPrescriptionMedicationRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2012/06/01/AttachOrDetachPrescriptionMedicationResponse.xsd"/>

			<xs:include schemaLocation="../schemas/2012/06/01/CreateEffectuationRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2012/06/01/CreateEffectuationResponse.xsd"/>

			<xs:include schemaLocation="../schemas/2012/06/01/SearchEffectuationsRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2012/06/01/SearchEffectuationsResponse.xsd"/>

			<xs:include schemaLocation="../schemas/2012/06/01/DeleteEffectuationRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2012/06/01/DeleteEffectuationResponse.xsd"/>

			<xs:include schemaLocation="../schemas/2012/06/01/TimingList.xsd"/>

			<xs:include schemaLocation="../schemas/2012/06/01/PrescriptionReplicationStatus.xsd"/>

			<xs:include schemaLocation="../schemas/2012/06/01/OnBehalfOf.xsd"/>
			
		</xs:schema>
	</wsdl:types>
	
	<wsdl:message name="SecurityHeader">
		<wsdl:part name="SecurityHeader" element="wsse:Security"/>
	</wsdl:message>

	<wsdl:message name="MedComHeader">
		<wsdl:part name="MedcomHeader" element="medcom:Header"/>
	</wsdl:message> 

	<wsdl:message name="SDSDSystemHeader">
		<wsdl:part name="SDSDSystemOwnerName" element="sdsd201008:SystemOwnerName"/>
		<wsdl:part name="SDSDSystemName" element="sdsd201008:SystemName"/>
		<wsdl:part name="SDSDSystemVersion" element="sdsd201008:SystemVersion"/>
		<wsdl:part name="SDSDOrgResponsibleName" element="sdsd201008:OrgResponsibleName"/>
		<wsdl:part name="SDSDOrgUsingName" element="sdsd201008:OrgUsingName"/>
		<wsdl:part name="SDSDOrgUsingID" element="sdsd201008:OrgUsingID"/>
		<wsdl:part name="SDSDRequestedRole" element="sdsd201008:RequestedRole"/>
	</wsdl:message> 

	<wsdl:message name="TimingHeader">
		<wsdl:part name="TimingHeader" element="medicinecard20120601:TimingList"/>
	</wsdl:message> 
    
	<wsdl:message name="ReplicationStatusHeader">
		<wsdl:part name="ReplicationStatusHeader" element="medicinecard20120601:PrescriptionReplicationStatus"/>
	</wsdl:message> 
    
	<wsdl:message name="OnBehalfOfHeader">
		<wsdl:part name="OnBehalfOfHeader" element="medicinecard20120601:OnBehalfOf"/>
	</wsdl:message> 




    
	<wsdl:message name="GetMedicineCardRequest_2012_06_01">
		<wsdl:part name="GetMedicineCardRequest" element="medicinecard20120601:GetMedicineCardRequest"/>
	</wsdl:message>
	<wsdl:message name="GetMedicineCardResponse_2012_06_01">
		<wsdl:part name="GetMedicineCardResponse" element="medicinecard20120601:GetMedicineCardResponse"/>
	</wsdl:message>

	<wsdl:message name="GetMedicineCardAsPDFRequest_2012_06_01">
		<wsdl:part name="GetMedicineCardAsPDFRequest" element="medicinecard20120601:GetMedicineCardAsPDFRequest"/>
	</wsdl:message>
	<wsdl:message name="GetMedicineCardAsPDFResponse_2012_06_01">
		<wsdl:part name="GetMedicineCardAsPDFResponse" element="medicinecard20120601:GetMedicineCardAsPDFResponse"/>
	</wsdl:message>

	<wsdl:message name="UpdateMedicineCardRequest_2012_06_01">
		<wsdl:part name="UpdateMedicineCardRequest" element="medicinecard20120601:UpdateMedicineCardRequest"/>
	</wsdl:message>
	<wsdl:message name="UpdateMedicineCardResponse_2012_06_01">
		<wsdl:part name="UpdateMedicineCardResponse" element="medicinecard20120601:UpdateMedicineCardResponse"/>
	</wsdl:message>

	<wsdl:message name="GetMedicineCardVersionRequest_2012_06_01">
		<wsdl:part name="GetMedicineCardVersionRequest" element="medicinecard20120601:GetMedicineCardVersionRequest"/>
	</wsdl:message>
	<wsdl:message name="GetMedicineCardVersionResponse_2012_06_01">
		<wsdl:part name="GetMedicineCardVersionResponse" element="medicinecard20120601:GetMedicineCardVersionResponse"/>
	</wsdl:message>
	
	<wsdl:message name="SuspendMedicineCardRequest_2012_06_01">
		<wsdl:part name="SuspendMedicineCardRequest" element="medicinecard20120601:SuspendMedicineCardRequest"/>
	</wsdl:message>
	<wsdl:message name="SuspendMedicineCardResponse_2012_06_01">
		<wsdl:part name="SuspendMedicineCardResponse" element="medicinecard20120601:SuspendMedicineCardResponse"/>
	</wsdl:message>
	
	<wsdl:message name="ResuspendMedicineCardRequest_2012_06_01">
		<wsdl:part name="ResuspendMedicineCardRequest" element="medicinecard20120601:ResuspendMedicineCardRequest"/>
	</wsdl:message>
	<wsdl:message name="ResuspendMedicineCardResponse_2012_06_01">
		<wsdl:part name="ResuspendMedicineCardResponse" element="medicinecard20120601:ResuspendMedicineCardResponse"/>
	</wsdl:message>
	
	<wsdl:message name="UnsuspendMedicineCardRequest_2012_06_01">
		<wsdl:part name="UnsuspendMedicineCardRequest" element="medicinecard20120601:UnsuspendMedicineCardRequest"/>
	</wsdl:message>
	<wsdl:message name="UnsuspendMedicineCardResponse_2012_06_01">
		<wsdl:part name="UnsuspendMedicineCardResponse" element="medicinecard20120601:UnsuspendMedicineCardResponse"/>
	</wsdl:message>

	<wsdl:message name="SetMedicineCardReviewedRequest_2012_06_01">
		<wsdl:part name="SetMedicineCardReviewedRequest" element="medicinecard20120601:SetMedicineCardReviewedRequest"/>
	</wsdl:message>
	<wsdl:message name="SetMedicineCardReviewedResponse_2012_06_01">
		<wsdl:part name="SetMedicineCardReviewedResponse" element="medicinecard20120601:SetMedicineCardReviewedResponse"/>
	</wsdl:message>

<!-- 


	<wsdl:message name="DrugMedicationRequest">
		<wsdl:part name="DrugMedicationRequest" element="medicinecard20120601:DrugMedicationRequest"/>
	</wsdl:message>
	<wsdl:message name="DrugMedicationResponse">
		<wsdl:part name="DrugMedicationResponse" element="medicinecard20120601:DrugMedicationResponse"/>
	</wsdl:message>

	<wsdl:message name="PauseDrugMedicationRequest">
		<wsdl:part name="PauseDrugMedicationRequest" element="medicinecard20120601:PauseDrugMedicationRequest"/>
	</wsdl:message>
	<wsdl:message name="PauseDrugMedicationResponse">
		<wsdl:part name="PauseDrugMedicationResponse" element="medicinecard20120601:PauseDrugMedicationResponse"/>
	</wsdl:message>

	<wsdl:message name="CreateDrugMedicationRequest">
		<wsdl:part name="CreateDrugMedicationRequest" element="medicinecard20120601:CreateDrugMedicationRequest"/>
	</wsdl:message>
	<wsdl:message name="CreateDrugMedicationResponse">
		<wsdl:part name="CreateDrugMedicationResponse" element="medicinecard20120601:CreateDrugMedicationResponse"/>
	</wsdl:message>

	<wsdl:message name="AttachOrDetachPrescriptionMedicationRequest">
		<wsdl:part name="AttachOrDetachPrescriptionMedicationRequest" element="medicinecard20120601:AttachOrDetachPrescriptionMedicationRequest"/>
	</wsdl:message>
	<wsdl:message name="AttachOrDetachPrescriptionMedicationResponse">
		<wsdl:part name="AttachOrDetachPrescriptionMedicationResponse" element="medicinecard20120601:AttachOrDetachPrescriptionMedicationResponse"/>
	</wsdl:message>

	<wsdl:message name="CreateEffectuationRequest">
		<wsdl:part name="CreateEffectuationRequest" element="medicinecard20120601:CreateEffectuationRequest"/>
	</wsdl:message>
	<wsdl:message name="CreateEffectuationResponse">
		<wsdl:part name="CreateEffectuationResponse" element="medicinecard20120601:CreateEffectuationResponse"/>
	</wsdl:message>

	<wsdl:message name="CreatePrescriptionMedicationRequest">
		<wsdl:part name="CreatePrescriptionMedicationRequest" element="medicinecard20120601:CreatePrescriptionMedicationRequest"/>
	</wsdl:message>
	<wsdl:message name="CreatePrescriptionMedicationResponse">
		<wsdl:part name="CreatePrescriptionMedicationResponse" element="medicinecard20120601:CreatePrescriptionMedicationResponse"/>
	</wsdl:message>

	<wsdl:message name="PrescriptionMedicationRequest">
		<wsdl:part name="PrescriptionMedicationRequest" element="medicinecard20120601:PrescriptionMedicationRequest"/>
	</wsdl:message>
	<wsdl:message name="PrescriptionMedicationResponse">
		<wsdl:part name="PrescriptionMedicationResponse" element="medicinecard20120601:PrescriptionMedicationResponse"/>
	</wsdl:message>

	<wsdl:message name="SearchWithdrawnDrugMedicationsRequest">
		<wsdl:part name="SearchWithdrawnDrugMedicationsRequest" element="medicinecard20120601:SearchWithdrawnDrugMedicationsRequest"/>
	</wsdl:message>
	<wsdl:message name="SearchWithdrawnDrugMedicationsResponse">
		<wsdl:part name="SearchWithdrawnDrugMedicationsResponse" element="medicinecard20120601:SearchWithdrawnDrugMedicationsResponse"/>
	</wsdl:message>



	<wsdl:message name="UnpauseDrugMedicationRequest">
		<wsdl:part name="UnpauseDrugMedicationRequest" element="medicinecard20120601:UnpauseDrugMedicationRequest"/>
	</wsdl:message>
	<wsdl:message name="UnpauseDrugMedicationResponse">
		<wsdl:part name="UnpauseDrugMedicationResponse" element="medicinecard20120601:UnpauseDrugMedicationResponse"/>
	</wsdl:message>


	<wsdl:message name="UpdateDrugMedicationRequest">
		<wsdl:part name="UpdateDrugMedicationRequest" element="medicinecard20120601:UpdateDrugMedicationRequest"/>
	</wsdl:message>
	<wsdl:message name="UpdateDrugMedicationResponse">
		<wsdl:part name="UpdateDrugMedicationResponse" element="medicinecard20120601:UpdateDrugMedicationResponse"/>
	</wsdl:message>

	<wsdl:message name="UpdateMedicineCardRequest">
		<wsdl:part name="UpdateMedicineCardRequest" element="medicinecard20120601:UpdateMedicineCardRequest"/>
	</wsdl:message>
	<wsdl:message name="UpdateMedicineCardResponse">
		<wsdl:part name="UpdateMedicineCardResponse" element="medicinecard20120601:UpdateMedicineCardResponse"/>
	</wsdl:message>

	<wsdl:message name="WithdrawDrugMedicationRequest">
		<wsdl:part name="WithdrawDrugMedicationRequest" element="medicinecard20120601:WithdrawDrugMedicationRequest"/>
	</wsdl:message>
	<wsdl:message name="WithdrawDrugMedicationResponse">
		<wsdl:part name="WithdrawDrugMedicationResponse" element="medicinecard20120601:WithdrawDrugMedicationResponse"/>
	</wsdl:message>

	<wsdl:message name="SearchEffectuationsRequest">
		<wsdl:part name="SearchEffectuationsRequest" element="medicinecard20120601:SearchEffectuationsRequest"/>
	</wsdl:message>
	<wsdl:message name="SearchEffectuationsResponse">
		<wsdl:part name="SearchEffectuationsResponse" element="medicinecard20120601:SearchEffectuationsResponse"/>
	</wsdl:message>
	


	<wsdl:message name="MedicineCardResponse_20110101">
		<wsdl:part name="MedicineCardResponse" element="medicinecard20120601:MedicineCardResponse"/>
	</wsdl:message>

	<wsdl:message name="DrugMedicationResponse_20110101">
		<wsdl:part name="DrugMedicationResponse" element="medicinecard20120601:DrugMedicationResponse"/>
	</wsdl:message>
	
	<wsdl:message name="PrescriptionMedicationResponse_20110101">
		<wsdl:part name="PrescriptionMedicationResponse" element="medicinecard20120601:PrescriptionMedicationResponse"/>
	</wsdl:message>

	<wsdl:message name="CreateDrugMedicationRequest_20110101">
		<wsdl:part name="CreateDrugMedicationRequest" element="medicinecard20120601:CreateDrugMedicationRequest"/>
	</wsdl:message>

	<wsdl:message name="CreatePrescriptionMedicationRequest_20110101">
		<wsdl:part name="CreatePrescriptionMedicationRequest" element="medicinecard20120601:CreatePrescriptionMedicationRequest"/>
	</wsdl:message>
	
	<wsdl:message name="SearchWithdrawnDrugMedicationsResponse_20110101">
		<wsdl:part name="SearchWithdrawnDrugMedicationsResponse" element="medicinecard20120601:SearchWithdrawnDrugMedicationsResponse"/>
	</wsdl:message>

	<wsdl:message name="UpdateMedicineCardRequest_20110101">
		<wsdl:part name="UpdateMedicineCardRequest" element="medicinecard20120601:UpdateMedicineCardRequest"/>
	</wsdl:message>

	<wsdl:message name="SearchEffectuationsRequest_20110101">
		<wsdl:part name="SearchEffectuationsRequest" element="medicinecard20120601:SearchEffectuationsRequest"/>
	</wsdl:message>
	<wsdl:message name="SearchEffectuationsResponse_20110101">
		<wsdl:part name="SearchEffectuationsResponse" element="medicinecard20120601:SearchEffectuationsResponse"/>
	</wsdl:message>

	<wsdl:message name="CreatePrescriptionMedicationForUseInPracticeRequest_20110101">
		<wsdl:part name="CreatePrescriptionMedicationForUseInPracticeRequest" element="medicinecard20120601:CreatePrescriptionMedicationForUseInPracticeRequest"/>
	</wsdl:message>
	<wsdl:message name="CreatePrescriptionMedicationForUseInPracticeResponse_20110101">
		<wsdl:part name="CreatePrescriptionMedicationForUseInPracticeResponse" element="medicinecard20120601:CreatePrescriptionMedicationForUseInPracticeResponse"/>
	</wsdl:message>

	<wsdl:message name="CreatePrescriptionMedicationWithoutCPRRequest_20110101">
		<wsdl:part name="CreatePrescriptionMedicationWithoutCPRRequest" element="medicinecard20120601:CreatePrescriptionMedicationWithoutCPRRequest"/>
	</wsdl:message>
	<wsdl:message name="CreatePrescriptionMedicationWithoutCPRResponse_20110101">
		<wsdl:part name="CreatePrescriptionMedicationWithoutCPRResponse" element="medicinecard20120601:CreatePrescriptionMedicationWithoutCPRResponse"/>
	</wsdl:message>



	<wsdl:message name="DeleteEffectuationRequest_20120101">
		<wsdl:part name="DeleteEffectuationRequest" element="medicinecard20120601:DeleteEffectuationRequest"/>
	</wsdl:message>
	<wsdl:message name="DeleteEffectuationResponse_20120101">
		<wsdl:part name="DeleteEffectuationResponse" element="medicinecard20120601:DeleteEffectuationResponse"/>
	</wsdl:message>

	<wsdl:message name="UpdateDrugMedicationRequest_20120101">
		<wsdl:part name="UpdateDrugMedicationRequest" element="medicinecard20120601:UpdateDrugMedicationRequest"/>
	</wsdl:message>


	<wsdl:message name="UnWithdrawDrugMedicationRequest_20120101">
		<wsdl:part name="UnWithdrawDrugMedicationRequest" element="medicinecard20120601:UnwithdrawDrugMedicationRequest"/>
	</wsdl:message>
	<wsdl:message name="UnWithdrawDrugMedicationResponse_20120101">
		<wsdl:part name="UnWithdrawDrugMedicationResponse" element="medicinecard20120601:UnwithdrawDrugMedicationResponse"/>
	</wsdl:message>

-->	

	<wsdl:message name="DGWSFault">
		<wsdl:part name="fault" element="medcom:FaultCode" />
	</wsdl:message>
	
	
	<wsdl:portType name="MedicineCardPortType">

		<wsdl:operation name="GetMedicineCard_2012_06_01">
			<wsdl:input name="GetMedicineCardRequest_2012_06_01" message="tns:GetMedicineCardRequest_2012_06_01"/>
			<wsdl:output name="GetMedicineCardResponse" message="tns:GetMedicineCardResponse_2012_06_01"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="GetMedicineCardAsPDF_2012_06_01">
			<wsdl:input name="GetMedicineCardAsPDFRequest" message="tns:GetMedicineCardAsPDFRequest_2012_06_01"/>
			<wsdl:output name="GetMedicineCardAsPDFResponse" message="tns:GetMedicineCardAsPDFResponse_2012_06_01"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="UpdateMedicineCard_2012_06_01">
			<wsdl:input name="UpdateMedicineCardRequest" message="tns:UpdateMedicineCardRequest_2012_06_01"/>
			<wsdl:output name="UpdateMedicineCardResponse" message="tns:UpdateMedicineCardResponse_2012_06_01"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="GetMedicineCardVersion_2012_06_01">
			<wsdl:input name="GetMedicineCardVersionRequest" message="tns:GetMedicineCardVersionRequest_2012_06_01"/>
			<wsdl:output name="GetMedicineCardVersionResponse" message="tns:GetMedicineCardVersionResponse_2012_06_01"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

<!--  

		<wsdl:operation name="SetMedicineCardReviewed">
			<wsdl:input name="SetMedicineCardReviewedRequest" message="tns:SetMedicineCardReviewedRequest"/>
			<wsdl:output name="SetMedicineCardReviewedResponse" message="tns:SetMedicineCardReviewedResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="GetDrugMedication">
			<wsdl:input name="DrugMedicationRequest" message="tns:DrugMedicationRequest"/>
			<wsdl:output name="DrugMedicationResponse" message="tns:DrugMedicationResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="AttachOrDetachPrescriptionMedication">
			<wsdl:input name="AttachOrDetachPrescriptionMedicationRequest" message="tns:AttachOrDetachPrescriptionMedicationRequest"/>
			<wsdl:output name="AttachOrDetachPrescriptionMedicationResponse" message="tns:AttachOrDetachPrescriptionMedicationResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="CreateDrugMedication">
			<wsdl:input name="CreateDrugMedicationRequest" message="tns:CreateDrugMedicationRequest"/>
			<wsdl:output name="CreateDrugMedicationResponse" message="tns:CreateDrugMedicationResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="CreateEffectuation">
			<wsdl:input name="CreateEffectuationRequest" message="tns:CreateEffectuationRequest"/>
			<wsdl:output name="CreateEffectuationResponse" message="tns:CreateEffectuationResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="CreatePrescriptionMedication">
			<wsdl:input name="CreatePrescriptionMedicationRequest" message="tns:CreatePrescriptionMedicationRequest"/>
			<wsdl:output name="CreatePrescriptionMedicationResponse" message="tns:CreatePrescriptionMedicationResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="PauseDrugMedication">
			<wsdl:input name="PauseDrugMedicationRequest" message="tns:PauseDrugMedicationRequest"/>
			<wsdl:output name="PauseDrugMedicationResponse" message="tns:PauseDrugMedicationResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="GetPrescriptionMedication">
			<wsdl:input name="PrescriptionMedicationRequest" message="tns:PrescriptionMedicationRequest"/>
			<wsdl:output name="PrescriptionMedicationResponse" message="tns:PrescriptionMedicationResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="SearchWithdrawnDrugMedications">
			<wsdl:input name="SearchWithdrawnDrugMedicationsRequest" message="tns:SearchWithdrawnDrugMedicationsRequest"/>
			<wsdl:output name="SearchWithdrawnDrugMedicationsResponse" message="tns:SearchWithdrawnDrugMedicationsResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="SuspendMedicineCard">
			<wsdl:input name="SuspendMedicineCardRequest" message="tns:SuspendMedicineCardRequest"/>
			<wsdl:output name="SuspendMedicineCardResponse" message="tns:SuspendMedicineCardResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="ResuspendMedicineCard">
			<wsdl:input name="ResuspendMedicineCardRequest" message="tns:ResuspendMedicineCardRequest"/>
			<wsdl:output name="ResuspendMedicineCardResponse" message="tns:ResuspendMedicineCardResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="UnpauseDrugMedication">
			<wsdl:input name="UnpauseDrugMedicationRequest" message="tns:UnpauseDrugMedicationRequest"/>
			<wsdl:output name="UnpauseDrugMedicationResponse" message="tns:UnpauseDrugMedicationResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="UnsuspendMedicineCard">
			<wsdl:input name="UnsuspendMedicineCardRequest" message="tns:UnsuspendMedicineCardRequest"/>
			<wsdl:output name="UnsuspendMedicineCardResponse" message="tns:UnsuspendMedicineCardResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>
	
		<wsdl:operation name="UpdateDrugMedication">
			<wsdl:input name="UpdateDrugMedicationRequest" message="tns:UpdateDrugMedicationRequest"/>
			<wsdl:output name="UpdateDrugMedicationResponse" message="tns:UpdateDrugMedicationResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>
		

		<wsdl:operation name="WithdrawDrugMedication">
			<wsdl:input name="WithdrawDrugMedicationRequest" message="tns:WithdrawDrugMedicationRequest"/>
			<wsdl:output name="WithdrawDrugMedicationResponse" message="tns:WithdrawDrugMedicationResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="SearchEffectuations">
			<wsdl:input name="SearchEffectuationsRequest" message="tns:SearchEffectuationsRequest"/>
			<wsdl:output name="SearchEffectuationsResponse" message="tns:SearchEffectuationsResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>



		<wsdl:operation name="GetDrugMedication_20110101">
			<wsdl:input name="DrugMedicationRequest_20110101" message="tns:DrugMedicationRequest"/>
			<wsdl:output name="DrugMedicationResponse_20110101" message="tns:DrugMedicationResponse_20110101"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="CreateDrugMedication_20110101">
			<wsdl:input name="CreateDrugMedicationRequest_20110101" message="tns:CreateDrugMedicationRequest_20110101"/>
			<wsdl:output name="CreateDrugMedicationResponse_20110101" message="tns:CreateDrugMedicationResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="GetPrescriptionMedication_20110101">
			<wsdl:input name="PrescriptionMedicationRequest_20110101" message="tns:PrescriptionMedicationRequest"/>
			<wsdl:output name="PrescriptionMedicationResponse_20110101" message="tns:PrescriptionMedicationResponse_20110101"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="CreatePrescriptionMedication_20110101">
			<wsdl:input name="CreatePrescriptionMedicationRequest_20110101" message="tns:CreatePrescriptionMedicationRequest_20110101"/>
			<wsdl:output name="CreatePrescriptionMedicationResponse_20110101" message="tns:CreatePrescriptionMedicationResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="SearchWithdrawnDrugMedications_20110101">
			<wsdl:input name="SearchWithdrawnDrugMedicationsRequest_20110101" message="tns:SearchWithdrawnDrugMedicationsRequest"/>
			<wsdl:output name="SearchWithdrawnDrugMedicationsResponse_20110101" message="tns:SearchWithdrawnDrugMedicationsResponse_20110101"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="UpdateMedicineCard_20110101">
			<wsdl:input name="UpdateMedicineCardRequest_20110101" message="tns:UpdateMedicineCardRequest_20110101"/>
			<wsdl:output name="UpdateMedicineCardResponse_20110101" message="tns:UpdateMedicineCardResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="SearchEffectuations_20110101">
			<wsdl:input name="SearchEffectuationsRequest_20110101" message="tns:SearchEffectuationsRequest_20110101"/>
			<wsdl:output name="SearchEffectuationsResponse_20110101" message="tns:SearchEffectuationsResponse_20110101"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="CreatePrescriptionMedicationForUseInPractice_20110101">
			<wsdl:input name="CreatePrescriptionMedicationForUseInPracticeRequest_20110101" message="tns:CreatePrescriptionMedicationForUseInPracticeRequest_20110101"/>
			<wsdl:output name="CreatePrescriptionMedicationForUseInPracticeResponse_20110101" message="tns:CreatePrescriptionMedicationForUseInPracticeResponse_20110101"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="CreatePrescriptionMedicationWithoutCPR_20110101">
			<wsdl:input name="CreatePrescriptionMedicationWithoutCPRRequest_20110101" message="tns:CreatePrescriptionMedicationWithoutCPRRequest_20110101"/>
			<wsdl:output name="CreatePrescriptionMedicationWithoutCPRResponse_20110101" message="tns:CreatePrescriptionMedicationWithoutCPRResponse_20110101"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		
		<wsdl:operation name="DeleteEffectuation_20120101">
			<wsdl:input name="DeleteEffectuationRequest_20120101" message="tns:DeleteEffectuationRequest_20120101"/>
			<wsdl:output name="DeleteEffectuationResponse_20120101" message="tns:DeleteEffectuationResponse_20120101"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="UpdateDrugMedication_20120101">
			<wsdl:input name="UpdateDrugMedicationRequest_20120101" message="tns:UpdateDrugMedicationRequest_20120101"/>
			<wsdl:output name="UpdateDrugMedicationResponse_20120101" message="tns:UpdateDrugMedicationResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="UpdateMedicineCard_20120101">
			<wsdl:input name="UpdateMedicineCardRequest_20120101" message="tns:UpdateMedicineCardRequest_20120101"/>
			<wsdl:output name="UpdateMedicineCardResponse_20120101" message="tns:UpdateMedicineCardResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>

		<wsdl:operation name="UnWithdrawDrugMedication_20120101">
			<wsdl:input name="UnWithdrawDrugMedicationRequest_20120101" message="tns:UnWithdrawDrugMedicationRequest_20120101"/>
			<wsdl:output name="UnWithdrawDrugMedicationResponse_20120101" message="tns:UnWithdrawDrugMedicationResponse_20120101"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>
		
-->

	</wsdl:portType>



	<wsdl:binding name="MedicineCardBinding" type="tns:MedicineCardPortType">

		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		
		<wsdl:operation name="GetMedicineCard_2012_06_01">
			<soap:operation soapAction="http://snsi.dk/medicinecard/xml.schema/2012/06/01#GetMedicineCard" style="document"/>
			<wsdl:input name="GetMedicineCardRequest_2012_06_01">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="SDSDSystemHeader" message=tns:SDSDSystemHeader/>
			<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetMedicineCardResponse_2012_06_01">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>


<!-- 

		<wsdl:operation name="GetMedicineCardAsPDF">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#GetMedicineCardAsPDF" style="document"/>
			<wsdl:input name="MedicineCardAsPDFRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="MedicineCardAsPDFResponse">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="GetMedicineCardVersion">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#GetMedicineCardVersion" style="document"/>
			<wsdl:input name="MedicineCardVersionRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="MedicineCardVersionResponse">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="SetMedicineCardReviewed">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#SetMedicineCardReviewed" style="document"/>
			<wsdl:input name="SetMedicineCardReviewedRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="SetMedicineCardReviewedResponse">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="GetDrugMedication">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#GetDrugMedication" style="document"/>
			<wsdl:input name="DrugMedicationRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="DrugMedicationResponse">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>


		<wsdl:operation name="PauseDrugMedication">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#PauseDrugMedication" style="document"/>
			<wsdl:input name="PauseDrugMedicationRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
		    	        <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="PauseDrugMedicationResponse">
		    	        <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="CreateDrugMedication">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#CreateDrugMedication" style="document"/>
			<wsdl:input name="CreateDrugMedicationRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
		    	        <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreateDrugMedicationResponse">
		    	        <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="AttachOrDetachPrescriptionMedication">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#AttachOrDetachPrescriptionMedication" style="document"/>
			<wsdl:input name="AttachOrDetachPrescriptionMedicationRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
		    	        <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="AttachOrDetachPrescriptionMedicationResponse">
		    	        <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="CreateEffectuation">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#CreateEffectuation" style="document"/>
			<wsdl:input name="CreateEffectuationRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
		    	        <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreateEffectuationResponse">
		    	        <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="CreatePrescriptionMedication">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#CreatePrescriptionMedication" style="document"/>
			<wsdl:input name="CreatePrescriptionMedicationRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreatePrescriptionMedicationResponse">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="GetPrescriptionMedication">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#GetPrescriptionMedication" style="document"/>
			<wsdl:input name="PrescriptionMedicationRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="PrescriptionMedicationResponse">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>


		<wsdl:operation name="SearchWithdrawnDrugMedications">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#SearchWithdrawnDrugMedications" style="document"/>
			<wsdl:input name="SearchWithdrawnDrugMedicationsRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
		    	        <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="SearchWithdrawnDrugMedicationsResponse">
		    	        <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="SuspendMedicineCard">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#SuspendMedicineCard" style="document"/>
			<wsdl:input name="SuspendMedicineCardRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
		    	        <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="SuspendMedicineCardResponse">
		    	        <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="ResuspendMedicineCard">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#ResuspendMedicineCard" style="document"/>
			<wsdl:input name="ResuspendMedicineCardRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ResuspendMedicineCardResponse">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="UnsuspendMedicineCard">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#UnsuspendMedicineCard" style="document"/>
			<wsdl:input name="UnsuspendMedicineCardRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
		    	        <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="UnsuspendMedicineCardResponse">
		    	        <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="UnpauseDrugMedication">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#UnpauseDrugMedication" style="document"/>
			<wsdl:input name="UnpauseDrugMedicationRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
		    	        <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="UnpauseDrugMedicationResponse">
		    	        <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="UpdateDrugMedication">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#UpdateDrugMedication" style="document"/>
			<wsdl:input name="UpdateDrugMedicationRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
		    	        <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="UpdateDrugMedicationResponse">
		    	        <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="UpdateMedicineCard">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#UpdateMedicineCard" style="document"/>
			<wsdl:input name="UpdateMedicineCardRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
		    	        <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="UpdateMedicineCardResponse">
		    	        <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="WithdrawDrugMedication">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#WithdrawDrugMedication" style="document"/>
			<wsdl:input name="WithdrawDrugMedicationRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
		    	        <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="WithdrawDrugMedicationResponse">
		    	        <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="SearchEffectuations">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#SearchEffectuations" style="document"/>
			<wsdl:input name="SearchEffectuationsRequest">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="SearchEffectuationsResponse">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>




		<wsdl:operation name="GetDrugMedication_20110101">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2011/01/01#GetDrugMedication" style="document"/>
			<wsdl:input name="DrugMedicationRequest_20110101">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="DrugMedicationResponse_20110101">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="CreateDrugMedication_20110101">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2011/01/01#CreateDrugMedication" style="document"/>
			<wsdl:input name="CreateDrugMedicationRequest_20110101">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreateDrugMedicationResponse_20110101">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="GetPrescriptionMedication_20110101">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2011/01/01#GetPrescriptionMedication" style="document"/>
			<wsdl:input name="PrescriptionMedicationRequest_20110101">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="PrescriptionMedicationResponse_20110101">
		    	        <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="CreatePrescriptionMedication_20110101">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2011/01/01#CreatePrescriptionMedication" style="document"/>
			<wsdl:input name="CreatePrescriptionMedicationRequest_20110101">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/> 
			<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreatePrescriptionMedicationResponse_20110101">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="SearchWithdrawnDrugMedications_20110101">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2011/01/01#SearchWithdrawnDrugMedications" style="document"/>
			<wsdl:input name="SearchWithdrawnDrugMedicationsRequest_20110101">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/> 
			<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="SearchWithdrawnDrugMedicationsResponse_20110101">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>
		

		<wsdl:operation name="UpdateMedicineCard_20110101">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2011/01/01#UpdateMedicineCard" style="document"/>
			<wsdl:input name="UpdateMedicineCardRequest_20110101">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="UpdateMedicineCardResponse_20110101">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="SearchEffectuations_20110101">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2011/01/01#SearchEffectuations" style="document"/>
			<wsdl:input name="SearchEffectuationsRequest_20110101">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="SearchEffectuationsResponse_20110101">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="CreatePrescriptionMedicationForUseInPractice_20110101">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2011/01/01#CreatePrescriptionMedicationForUseInPractice" style="document"/>
			<wsdl:input name="CreatePrescriptionMedicationForUseInPracticeRequest_20110101">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreatePrescriptionMedicationForUseInPracticeResponse_20110101">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="CreatePrescriptionMedicationWithoutCPR_20110101">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2011/01/01#CreatePrescriptionMedicationWithoutCPR" style="document"/>
			<wsdl:input name="CreatePrescriptionMedicationWithoutCPRRequest_20110101">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/> 
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreatePrescriptionMedicationWithoutCPRResponse_20110101">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>



		<wsdl:operation name="DeleteEffectuation_20120101">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/01/01#DeleteEffectuation" style="document"/>
			<wsdl:input name="DeleteEffectuationRequest_20120101">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/> 
			<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="DeleteEffectuationResponse_20120101">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="UpdateDrugMedication_20120101">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/01/01#UpdateDrugMedication" style="document"/>
			<wsdl:input name="UpdateDrugMedicationRequest_20120101">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/> 
			<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="UpdateDrugMedicationResponse_20120101">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="UnWithdrawDrugMedication_20120101">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/01/01#UpdateDrugMedication" style="document"/>
			<wsdl:input name="UnWithdrawDrugMedicationRequest_20120101">
				<soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/> 
				<soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/> 
				<soap:header use="literal" part="SDSDSystemOwnerName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDSystemVersion" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgResponsibleName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingName" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDOrgUsingID" message="tns:SDSDSystemHeader" wsdl:required="true"/> 
				<soap:header use="literal" part="SDSDRequestedRole" message="tns:SDSDRequestedRole"/> 
			<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="UnWithdrawDrugMedicationResponse_20120101">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
				<soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>
		
		-->

	</wsdl:binding>

	<wsdl:service name="MedicineCard">
		<wsdl:port name="MedicineCardPort" binding="tns:MedicineCardBinding">
		<soap:address location="http://trifork.lms.trifork.com/fmk14/ws/medicinecard"/>
	</wsdl:port>

	</wsdl:service>

</wsdl:definitions>
