etc/wsdl/MedicineCard_2013_06_01.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01"
                  xmlns:medicinecard20130601="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01"
                  xmlns:tns="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01"
                  xmlns:medcom="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd"
                  xmlns:dglws="http://www.medcom.dk/dglws/1.0/xsd"
                  xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                  xmlns:sdsd201206="http://www.sdsd.dk/dgws/2012/06"
                  targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01">

    <wsdl:types>

        <xs:schema targetNamespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
			<xs:include schemaLocation="../schemas/medcom/dgws/2006/04/medcom.xsd" />
        </xs:schema>

        <xs:schema targetNamespace="http://www.sdsd.dk/dgws/2012/06">
            <xs:include schemaLocation="../schemas/sdsd/2012/06/WhitelistingHeader.xsd"/>
        </xs:schema>

        <xs:schema targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified">

            <xs:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                       schemaLocation="../schemas/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd/oasis-200401_orig-wss-wssecurity-secext-1.0.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/AttachOrDetachPrescriptionMedicationResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/CancelPrescriptionMedicationResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/CreateDrugMedicationResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/CreateEffectuationResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/CreatePrescriptionMedicationForUseInPracticeResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/CreatePrescriptionMedicationResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/CreatePrescriptionMedicationWithoutCPRResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/DeleteEffectuationResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/GetDrugMedicationRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/GetMedicineCardAsPDFResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/GetMedicineCardRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/GetMedicineCardVersionRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/GetMedicineCardVersionResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/GetPrescriptionMedicationRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/MarkPrescriptionMedicationDeprecatedResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/PauseDrugMedicationResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/SetMedicineCardReviewedResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/UpdateMedicineCardResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/SearchEffectuationsRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/SearchWithdrawnDrugMedicationsRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/SearchWithdrawnDrugMedicationsResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/UnpauseDrugMedicationResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/UnwithdrawDrugMedicationResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/UpdateDrugMedicationResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/WithdrawDrugMedicationResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/GetPermissionsRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/GetPermissionsResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/UnmarkPrescriptionMedicationDeprecatedResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/TimingList.xsd"/>

            <xs:include schemaLocation="../schemas/2012/06/01/PrescriptionReplicationStatus.xsd"/>

        </xs:schema>

        <xs:schema targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" elementFormDefault="qualified">

            <xs:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                       schemaLocation="../schemas/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd/oasis-200401_orig-wss-wssecurity-secext-1.0.xsd"/>

            <xs:include schemaLocation="../schemas/2013/06/01/AttachOrDetachPrescriptionMedicationRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2013/06/01/CancelPrescriptionMedicationRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2013/06/01/CreateDrugMedicationRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2013/06/01/CreateEffectuationRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2013/06/01/CreatePrescriptionMedicationForUseInPracticeRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2013/06/01/CreatePrescriptionMedicationRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2013/06/01/CreatePrescriptionMedicationWithoutCPRRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2013/06/01/DeleteEffectuationRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2013/06/01/GetDrugMedicationResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2013/06/01/GetMedicineCardAsPDFRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2013/06/01/GetMedicineCardResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2013/06/01/GetPrescriptionMedicationResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2013/06/01/MarkPrescriptionMedicationDeprecatedRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2013/06/01/OnBehalfOf.xsd"/>

            <xs:include schemaLocation="../schemas/2013/06/01/PauseDrugMedicationRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2013/06/01/SearchEffectuationsResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2013/06/01/SetMedicineCardNotReviewedRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2013/06/01/SetMedicineCardNotReviewedResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2013/06/01/SetMedicineCardReviewedRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2013/06/01/UnmarkPrescriptionMedicationDeprecatedRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2013/06/01/UnpauseDrugMedicationRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2013/06/01/UnwithdrawDrugMedicationRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2013/06/01/UpdateMedicineCardRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2013/06/01/UpdateDrugMedicationRequest.xsd"/>

            <xs:include schemaLocation="../schemas/2013/06/01/WithdrawDrugMedicationRequest.xsd"/>
        </xs:schema>

    </wsdl:types>

    <wsdl:message name="SecurityHeader">
        <wsdl:part name="SecurityHeader" element="wsse:Security"/>
    </wsdl:message>

    <wsdl:message name="MedComHeader">
        <wsdl:part name="MedcomHeader" element="medcom:Header"/>
    </wsdl:message>

    <wsdl:message name="WhitelistingHeader">
        <wsdl:part name="WhitelistingHeader" element="sdsd201206:WhitelistingHeader"/>
    </wsdl:message>

    <wsdl:message name="TimingHeader">
        <wsdl:part name="TimingHeader" element="medicinecard20120601:TimingList"/>
    </wsdl:message>

    <wsdl:message name="ReplicationStatusHeader">
        <wsdl:part name="ReplicationStatusHeader" element="medicinecard20120601:PrescriptionReplicationStatus"/>
    </wsdl:message>

    <wsdl:message name="OnBehalfOfHeader">
        <wsdl:part name="OnBehalfOfHeader" element="medicinecard20130601:OnBehalfOf"/>
    </wsdl:message>

    <wsdl:message name="GetMedicineCardRequest_2013_06_01">
        <wsdl:part name="GetMedicineCardRequest" element="medicinecard20120601:GetMedicineCardRequest"/>
    </wsdl:message>
    <wsdl:message name="GetMedicineCardResponse_2013_06_01">
        <wsdl:part name="GetMedicineCardResponse" element="medicinecard20130601:GetMedicineCardResponse"/>
    </wsdl:message>

    <wsdl:message name="GetMedicineCardAsPDFRequest_2013_06_01">
        <wsdl:part name="GetMedicineCardAsPDFRequest" element="medicinecard20130601:GetMedicineCardAsPDFRequest"/>
    </wsdl:message>
    <wsdl:message name="GetMedicineCardAsPDFResponse_2013_06_01">
        <wsdl:part name="GetMedicineCardAsPDFResponse" element="medicinecard20120601:GetMedicineCardAsPDFResponse"/>
    </wsdl:message>

    <wsdl:message name="GetMedicineCardVersionRequest_2012_06_01">
        <wsdl:part name="GetMedicineCardVersionRequest" element="medicinecard20120601:GetMedicineCardVersionRequest"/>
    </wsdl:message>
    <wsdl:message name="GetMedicineCardVersionResponse_2012_06_01">
        <wsdl:part name="GetMedicineCardVersionResponse" element="medicinecard20120601:GetMedicineCardVersionResponse"/>
    </wsdl:message>

    <wsdl:message name="UpdateMedicineCardRequest_2013_06_01">
        <wsdl:part name="UpdateMedicineCardRequest" element="medicinecard20130601:UpdateMedicineCardRequest"/>
    </wsdl:message>
    <wsdl:message name="UpdateMedicineCardResponse_2013_06_01">
        <wsdl:part name="UpdateMedicineCardResponse" element="medicinecard20120601:UpdateMedicineCardResponse"/>
    </wsdl:message>

    <wsdl:message name="SetMedicineCardNotReviewedRequest_2013_06_01">
        <wsdl:part name="SetMedicineCardNotReviewedRequest" element="medicinecard20130601:SetMedicineCardNotReviewedRequest"/>
    </wsdl:message>
    <wsdl:message name="SetMedicineCardNotReviewedResponse_2013_06_01">
        <wsdl:part name="SetMedicineCardNotReviewedResponse" element="medicinecard20130601:SetMedicineCardNotReviewedResponse"/>
    </wsdl:message>

    <wsdl:message name="SetMedicineCardReviewedRequest_2013_06_01">
        <wsdl:part name="SetMedicineCardReviewedRequest" element="medicinecard20130601:SetMedicineCardReviewedRequest"/>
    </wsdl:message>
    <wsdl:message name="SetMedicineCardReviewedResponse_2013_06_01">
        <wsdl:part name="SetMedicineCardReviewedResponse" element="medicinecard20120601:SetMedicineCardReviewedResponse"/>
    </wsdl:message>

    <wsdl:message name="GetDrugMedicationRequest_2013_06_01">
        <wsdl:part name="GetDrugMedicationRequest" element="medicinecard20120601:GetDrugMedicationRequest"/>
    </wsdl:message>
    <wsdl:message name="GetDrugMedicationResponse_2013_06_01">
        <wsdl:part name="GetDrugMedicationResponse" element="medicinecard20130601:GetDrugMedicationResponse"/>
    </wsdl:message>

    <wsdl:message name="PauseDrugMedicationRequest_2013_06_01">
        <wsdl:part name="PauseDrugMedicationRequest" element="medicinecard20130601:PauseDrugMedicationRequest"/>
    </wsdl:message>
    <wsdl:message name="PauseDrugMedicationResponse_2013_06_01">
        <wsdl:part name="PauseDrugMedicationResponse" element="medicinecard20120601:PauseDrugMedicationResponse"/>
    </wsdl:message>

    <wsdl:message name="CreateDrugMedicationRequest_2013_06_01">
        <wsdl:part name="CreateDrugMedicationRequest" element="medicinecard20130601:CreateDrugMedicationRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateDrugMedicationResponse_2013_06_01">
        <wsdl:part name="CreateDrugMedicationResponse" element="medicinecard20120601:CreateDrugMedicationResponse"/>
    </wsdl:message>

    <wsdl:message name="AttachOrDetachPrescriptionMedicationRequest_2013_06_01">
        <wsdl:part name="AttachOrDetachPrescriptionMedicationRequest"
                   element="medicinecard20130601:AttachOrDetachPrescriptionMedicationRequest"/>
    </wsdl:message>
    <wsdl:message name="AttachOrDetachPrescriptionMedicationResponse_2013_06_01">
        <wsdl:part name="AttachOrDetachPrescriptionMedicationResponse"
                   element="medicinecard20120601:AttachOrDetachPrescriptionMedicationResponse"/>
    </wsdl:message>

    <wsdl:message name="CreateEffectuationRequest_2013_06_01">
        <wsdl:part name="CreateEffectuationRequest" element="medicinecard20130601:CreateEffectuationRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateEffectuationResponse_2013_06_01">
        <wsdl:part name="CreateEffectuationResponse" element="medicinecard20120601:CreateEffectuationResponse"/>
    </wsdl:message>

    <wsdl:message name="CreatePrescriptionMedicationRequest_2013_06_01">
        <wsdl:part name="CreatePrescriptionMedicationRequest"
                   element="medicinecard20130601:CreatePrescriptionMedicationRequest"/>
    </wsdl:message>
    <wsdl:message name="CreatePrescriptionMedicationResponse_2013_06_01">
        <wsdl:part name="CreatePrescriptionMedicationResponse"
                   element="medicinecard20120601:CreatePrescriptionMedicationResponse"/>
    </wsdl:message>

    <wsdl:message name="GetPrescriptionMedicationRequest_2013_06_01">
        <wsdl:part name="GetPrescriptionMedicationRequest"
                   element="medicinecard20120601:GetPrescriptionMedicationRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPrescriptionMedicationResponse_2013_06_01">
        <wsdl:part name="GetPrescriptionMedicationResponse"
                   element="medicinecard20130601:GetPrescriptionMedicationResponse"/>
    </wsdl:message>

    <wsdl:message name="SearchWithdrawnDrugMedicationsRequest_2012_06_01">
        <wsdl:part name="SearchWithdrawnDrugMedicationsRequest"
                   element="medicinecard20120601:SearchWithdrawnDrugMedicationsRequest"/>
    </wsdl:message>
    <wsdl:message name="SearchWithdrawnDrugMedicationsResponse_2012_06_01">
        <wsdl:part name="SearchWithdrawnDrugMedicationsResponse"
                   element="medicinecard20120601:SearchWithdrawnDrugMedicationsResponse"/>
    </wsdl:message>

    <wsdl:message name="UnpauseDrugMedicationRequest_2013_06_01">
        <wsdl:part name="UnpauseDrugMedicationRequest" element="medicinecard20130601:UnpauseDrugMedicationRequest"/>
    </wsdl:message>
    <wsdl:message name="UnpauseDrugMedicationResponse_2013_06_01">
        <wsdl:part name="UnpauseDrugMedicationResponse" element="medicinecard20120601:UnpauseDrugMedicationResponse"/>
    </wsdl:message>

    <wsdl:message name="UpdateDrugMedicationRequest_2013_06_01">
        <wsdl:part name="UpdateDrugMedicationRequest" element="medicinecard20130601:UpdateDrugMedicationRequest"/>
    </wsdl:message>
    <wsdl:message name="UpdateDrugMedicationResponse_2013_06_01">
        <wsdl:part name="UpdateDrugMedicationResponse" element="medicinecard20120601:UpdateDrugMedicationResponse"/>
    </wsdl:message>

    <wsdl:message name="WithdrawDrugMedicationRequest_2013_06_01">
        <wsdl:part name="WithdrawDrugMedicationRequest" element="medicinecard20130601:WithdrawDrugMedicationRequest"/>
    </wsdl:message>
    <wsdl:message name="WithdrawDrugMedicationResponse_2013_06_01">
        <wsdl:part name="WithdrawDrugMedicationResponse" element="medicinecard20120601:WithdrawDrugMedicationResponse"/>
    </wsdl:message>

    <wsdl:message name="UnwithdrawDrugMedicationRequest_2013_06_01">
        <wsdl:part name="UnwithdrawDrugMedicationRequest" element="medicinecard20130601:UnwithdrawDrugMedicationRequest"/>
    </wsdl:message>

    <wsdl:message name="UnwithdrawDrugMedicationResponse_2013_06_01">
        <wsdl:part name="UnwithdrawDrugMedicationResponse" element="medicinecard20120601:UnwithdrawDrugMedicationResponse"/>
    </wsdl:message>

    <wsdl:message name="SearchEffectuationsRequest_2013_06_01">
        <wsdl:part name="SearchEffectuationsRequest" element="medicinecard20120601:SearchEffectuationsRequest"/>
    </wsdl:message>
    <wsdl:message name="SearchEffectuationsResponse_2013_06_01">
        <wsdl:part name="SearchEffectuationsResponse" element="medicinecard20130601:SearchEffectuationsResponse"/>
    </wsdl:message>

    <wsdl:message name="CreatePrescriptionMedicationForUseInPracticeRequest_2013_06_01">
        <wsdl:part name="CreatePrescriptionMedicationForUseInPracticeRequest"
                   element="medicinecard20130601:CreatePrescriptionMedicationForUseInPracticeRequest"/>
    </wsdl:message>
    <wsdl:message name="CreatePrescriptionMedicationForUseInPracticeResponse_2013_06_01">
        <wsdl:part name="CreatePrescriptionMedicationForUseInPracticeResponse"
                   element="medicinecard20120601:CreatePrescriptionMedicationForUseInPracticeResponse"/>
    </wsdl:message>

    <wsdl:message name="CreatePrescriptionMedicationWithoutCPRRequest_2013_06_01">
        <wsdl:part name="CreatePrescriptionMedicationWithoutCPRRequest"
                   element="medicinecard20130601:CreatePrescriptionMedicationWithoutCPRRequest"/>
    </wsdl:message>
    <wsdl:message name="CreatePrescriptionMedicationWithoutCPRResponse_2013_06_01">
        <wsdl:part name="CreatePrescriptionMedicationWithoutCPRResponse"
                   element="medicinecard20120601:CreatePrescriptionMedicationWithoutCPRResponse"/>
    </wsdl:message>

    <wsdl:message name="DeleteEffectuationRequest_2013_06_01">
        <wsdl:part name="DeleteEffectuationRequest" element="medicinecard20130601:DeleteEffectuationRequest"/>
    </wsdl:message>
    <wsdl:message name="DeleteEffectuationResponse_2013_06_01">
        <wsdl:part name="DeleteEffectuationResponse" element="medicinecard20120601:DeleteEffectuationResponse"/>
    </wsdl:message>

    <wsdl:message name="GetPermissionsRequest_2012_06_01">
        <wsdl:part name="GetPermissionsRequest" element="medicinecard20120601:GetPermissionsRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPermissionsResponse_2012_06_01">
        <wsdl:part name="GetPermissionsResponse" element="medicinecard20120601:GetPermissionsResponse"/>
    </wsdl:message>

    <wsdl:message name="MarkPrescriptionMedicationDeprecatedRequest_2013_06_01">
        <wsdl:part name="MarkPrescriptionMedicationDeprecatedRequest" element="medicinecard20130601:MarkPrescriptionMedicationDeprecatedRequest"/>
    </wsdl:message>
    <wsdl:message name="MarkPrescriptionMedicationDeprecatedResponse_2013_06_01">
        <wsdl:part name="MarkPrescriptionMedicationDeprecatedResponse" element="medicinecard20120601:MarkPrescriptionMedicationDeprecatedResponse"/>
    </wsdl:message>

    <wsdl:message name="UnmarkPrescriptionMedicationDeprecatedRequest_2013_06_01">
        <wsdl:part name="UnmarkPrescriptionMedicationDeprecatedRequest" element="medicinecard20130601:UnmarkPrescriptionMedicationDeprecatedRequest"/>
    </wsdl:message>
    <wsdl:message name="UnmarkPrescriptionMedicationDeprecatedResponse_2013_06_01">
        <wsdl:part name="UnmarkPrescriptionMedicationDeprecatedResponse" element="medicinecard20120601:UnmarkPrescriptionMedicationDeprecatedResponse"/>
    </wsdl:message>

    <wsdl:message name="CancelPrescriptionMedicationRequest_2013_06_01">
        <wsdl:part name="CancelPrescriptionMedicationRequest" element="medicinecard20130601:CancelPrescriptionMedicationRequest"/>
    </wsdl:message>
    <wsdl:message name="CancelPrescriptionMedicationResponse_2013_06_01">
        <wsdl:part name="CancelPrescriptionMedicationResponse" element="medicinecard20120601:CancelPrescriptionMedicationResponse"/>
    </wsdl:message>

    <wsdl:message name="DGWSFault">
        <wsdl:part name="fault" element="medcom:FaultCode"/>
    </wsdl:message>

    <wsdl:portType name="MedicineCardPortType">

        <wsdl:operation name="GetMedicineCard_2013_06_01">
            <wsdl:input name="GetMedicineCardRequest_2013_06_01" message="tns:GetMedicineCardRequest_2013_06_01"/>
            <wsdl:output name="GetMedicineCardResponse_2013_06_01" message="tns:GetMedicineCardResponse_2013_06_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="GetMedicineCardAsPDF_2013_06_01">
            <wsdl:input name="GetMedicineCardAsPDFRequest_2013_06_01"
                        message="tns:GetMedicineCardAsPDFRequest_2013_06_01"/>
            <wsdl:output name="GetMedicineCardAsPDFResponse_2013_06_01"
                         message="tns:GetMedicineCardAsPDFResponse_2013_06_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="GetMedicineCardVersion_2012_06_01">
            <wsdl:input name="GetMedicineCardVersionRequest_2012_06_01"
                        message="tns:GetMedicineCardVersionRequest_2012_06_01"/>
            <wsdl:output name="GetMedicineCardVersionResponse_2012_06_01"
                         message="tns:GetMedicineCardVersionResponse_2012_06_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="UpdateMedicineCard_2013_06_01">
            <wsdl:input name="UpdateMedicineCardRequest_2013_06_01" message="tns:UpdateMedicineCardRequest_2013_06_01"/>
            <wsdl:output name="UpdateMedicineCardResponse_2013_06_01"
                         message="tns:UpdateMedicineCardResponse_2013_06_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="SetMedicineCardNotReviewed_2013_06_01">
            <wsdl:input name="SetMedicineCardNotReviewedRequest_2013_06_01"
                        message="tns:SetMedicineCardNotReviewedRequest_2013_06_01"/>
            <wsdl:output name="SetMedicineCardNotReviewedResponse_2013_06_01"
                         message="tns:SetMedicineCardNotReviewedResponse_2013_06_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="SetMedicineCardReviewed_2013_06_01">
            <wsdl:input name="SetMedicineCardReviewedRequest_2013_06_01"
                        message="tns:SetMedicineCardReviewedRequest_2013_06_01"/>
            <wsdl:output name="SetMedicineCardReviewedResponse_2013_06_01"
                         message="tns:SetMedicineCardReviewedResponse_2013_06_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="GetDrugMedication_2013_06_01">
            <wsdl:input name="GetDrugMedicationRequest_2013_06_01" message="tns:GetDrugMedicationRequest_2013_06_01"/>
            <wsdl:output name="GetDrugMedicationResponse_2013_06_01"
                         message="tns:GetDrugMedicationResponse_2013_06_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="PauseDrugMedication_2013_06_01">
            <wsdl:input name="PauseDrugMedicationRequest_2013_06_01"
                        message="tns:PauseDrugMedicationRequest_2013_06_01"/>
            <wsdl:output name="PauseDrugMedicationResponse_2013_06_01"
                         message="tns:PauseDrugMedicationResponse_2013_06_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="CreateDrugMedication_2013_06_01">
            <wsdl:input name="CreateDrugMedicationRequest_2013_06_01"
                        message="tns:CreateDrugMedicationRequest_2013_06_01"/>
            <wsdl:output name="CreateDrugMedicationResponse_2013_06_01"
                         message="tns:CreateDrugMedicationResponse_2013_06_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="AttachOrDetachPrescriptionMedication_2013_06_01">
            <wsdl:input name="AttachOrDetachPrescriptionMedicationRequest_2013_06_01"
                        message="tns:AttachOrDetachPrescriptionMedicationRequest_2013_06_01"/>
            <wsdl:output name="AttachOrDetachPrescriptionMedicationResponse_2013_06_01"
                         message="tns:AttachOrDetachPrescriptionMedicationResponse_2013_06_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="CreateEffectuation_2013_06_01">
            <wsdl:input name="CreateEffectuationRequest_2013_06_01" message="tns:CreateEffectuationRequest_2013_06_01"/>
            <wsdl:output name="CreateEffectuationResponse_2013_06_01"
                         message="tns:CreateEffectuationResponse_2013_06_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="CreatePrescriptionMedication_2013_06_01">
            <wsdl:input name="CreatePrescriptionMedicationRequest_2013_06_01"
                        message="tns:CreatePrescriptionMedicationRequest_2013_06_01"/>
            <wsdl:output name="CreatePrescriptionMedicationResponse_2013_06_01"
                         message="tns:CreatePrescriptionMedicationResponse_2013_06_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="GetPrescriptionMedication_2013_06_01">
            <wsdl:input name="GetPrescriptionMedicationRequest_2013_06_01"
                        message="tns:GetPrescriptionMedicationRequest_2013_06_01"/>
            <wsdl:output name="GetPrescriptionMedicationResponse_2013_06_01"
                         message="tns:GetPrescriptionMedicationResponse_2013_06_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="SearchWithdrawnDrugMedications_2012_06_01">
            <wsdl:input name="SearchWithdrawnDrugMedicationsRequest_2012_06_01"
                        message="tns:SearchWithdrawnDrugMedicationsRequest_2012_06_01"/>
            <wsdl:output name="SearchWithdrawnDrugMedicationsResponse_2012_06_01"
                         message="tns:SearchWithdrawnDrugMedicationsResponse_2012_06_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="UnpauseDrugMedication_2013_06_01">
            <wsdl:input name="UnpauseDrugMedicationRequest_2013_06_01"
                        message="tns:UnpauseDrugMedicationRequest_2013_06_01"/>
            <wsdl:output name="UnpauseDrugMedicationResponse_2013_06_01"
                         message="tns:UnpauseDrugMedicationResponse_2013_06_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="UpdateDrugMedication_2013_06_01">
            <wsdl:input name="UpdateDrugMedicationRequest_2013_06_01"
                        message="tns:UpdateDrugMedicationRequest_2013_06_01"/>
            <wsdl:output name="UpdateDrugMedicationResponse_2013_06_01"
                         message="tns:UpdateDrugMedicationResponse_2013_06_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="WithdrawDrugMedication_2013_06_01">
            <wsdl:input name="WithdrawDrugMedicationRequest_2013_06_01"
                        message="tns:WithdrawDrugMedicationRequest_2013_06_01"/>
            <wsdl:output name="WithdrawDrugMedicationResponse_2013_06_01"
                         message="tns:WithdrawDrugMedicationResponse_2013_06_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="UnwithdrawDrugMedication_2013_06_01">
            <wsdl:input name="UnwithdrawDrugMedicationRequest_2013_06_01"
                        message="tns:UnwithdrawDrugMedicationRequest_2013_06_01"/>
            <wsdl:output name="UnwithdrawDrugMedicationResponse_2013_06_01"
                         message="tns:UnwithdrawDrugMedicationResponse_2013_06_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="SearchEffectuations_2013_06_01">
            <wsdl:input name="SearchEffectuationsRequest_2013_06_01"
                        message="tns:SearchEffectuationsRequest_2013_06_01"/>
            <wsdl:output name="SearchEffectuationsResponse_2013_06_01"
                         message="tns:SearchEffectuationsResponse_2013_06_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="CreatePrescriptionMedicationForUseInPractice_2013_06_01">
            <wsdl:input name="CreatePrescriptionMedicationForUseInPracticeRequest_2013_06_01"
                        message="tns:CreatePrescriptionMedicationForUseInPracticeRequest_2013_06_01"/>
            <wsdl:output name="CreatePrescriptionMedicationForUseInPracticeResponse_2013_06_01"
                         message="tns:CreatePrescriptionMedicationForUseInPracticeResponse_2013_06_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="CreatePrescriptionMedicationWithoutCPR_2013_06_01">
            <wsdl:input name="CreatePrescriptionMedicationWithoutCPRRequest_2013_06_01"
                        message="tns:CreatePrescriptionMedicationWithoutCPRRequest_2013_06_01"/>
            <wsdl:output name="CreatePrescriptionMedicationWithoutCPRResponse_2013_06_01"
                         message="tns:CreatePrescriptionMedicationWithoutCPRResponse_2013_06_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="DeleteEffectuation_2013_06_01">
            <wsdl:input name="DeleteEffectuationRequest_2013_06_01" message="tns:DeleteEffectuationRequest_2013_06_01"/>
            <wsdl:output name="DeleteEffectuationResponse_2013_06_01"
                         message="tns:DeleteEffectuationResponse_2013_06_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="GetPermissions_2012_06_01">
            <wsdl:input name="GetPermissionsRequest_2012_06_01" message="tns:GetPermissionsRequest_2012_06_01"/>
            <wsdl:output name="GetPermissionsResponse_2012_06_01" message="tns:GetPermissionsResponse_2012_06_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="MarkPrescriptionMedicationDeprecated_2013_06_01">
            <wsdl:input name="MarkPrescriptionMedicationDeprecatedRequest_2013_06_01" message="tns:MarkPrescriptionMedicationDeprecatedRequest_2013_06_01"/>
            <wsdl:output name="MarkPrescriptionMedicationDeprecatedResponse_2013_06_01" message="tns:MarkPrescriptionMedicationDeprecatedResponse_2013_06_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="UnmarkPrescriptionMedicationDeprecated_2013_06_01">
            <wsdl:input name="UnmarkPrescriptionMedicationDeprecatedRequest_2013_06_01" message="tns:UnmarkPrescriptionMedicationDeprecatedRequest_2013_06_01"/>
            <wsdl:output name="UnmarkPrescriptionMedicationDeprecatedResponse_2013_06_01" message="tns:UnmarkPrescriptionMedicationDeprecatedResponse_2013_06_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="CancelPrescriptionMedication_2013_06_01">
            <wsdl:input name="CancelPrescriptionMedicationRequest_2013_06_01" message="tns:CancelPrescriptionMedicationRequest_2013_06_01"/>
            <wsdl:output name="CancelPrescriptionMedicationResponse_2013_06_01" message="tns:CancelPrescriptionMedicationResponse_2013_06_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

    </wsdl:portType>


    <wsdl:binding name="MedicineCardBinding" type="tns:MedicineCardPortType">

        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="GetMedicineCard_2013_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01#GetMedicineCard"
                            style="document"/>
            <wsdl:input name="GetMedicineCardRequest_2013_06_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetMedicineCardResponse_2013_06_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetMedicineCardAsPDF_2013_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01#GetMedicineCardAsPDF"
                            style="document"/>
            <wsdl:input name="GetMedicineCardAsPDFRequest_2013_06_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetMedicineCardAsPDFResponse_2013_06_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetMedicineCardVersion_2012_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#GetMedicineCardVersion"
                            style="document"/>
            <wsdl:input name="GetMedicineCardVersionRequest_2012_06_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetMedicineCardVersionResponse_2012_06_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="UpdateMedicineCard_2013_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01#UpdateMedicineCard"
                            style="document"/>
            <wsdl:input name="UpdateMedicineCardRequest_2013_06_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UpdateMedicineCardResponse_2013_06_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="SetMedicineCardNotReviewed_2013_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01#SetMedicineCardNotReviewed"
                            style="document"/>
            <wsdl:input name="SetMedicineCardNotReviewedRequest_2013_06_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SetMedicineCardNotReviewedResponse_2013_06_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="SetMedicineCardReviewed_2013_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01#SetMedicineCardReviewed"
                            style="document"/>
            <wsdl:input name="SetMedicineCardReviewedRequest_2013_06_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SetMedicineCardReviewedResponse_2013_06_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetDrugMedication_2013_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01#GetDrugMedication"
                            style="document"/>
            <wsdl:input name="GetDrugMedicationRequest_2013_06_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetDrugMedicationResponse_2013_06_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="PauseDrugMedication_2013_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01#PauseDrugMedication"
                            style="document"/>
            <wsdl:input name="PauseDrugMedicationRequest_2013_06_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="PauseDrugMedicationResponse_2013_06_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="CreateDrugMedication_2013_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01#CreateDrugMedication"
                            style="document"/>
            <wsdl:input name="CreateDrugMedicationRequest_2013_06_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreateDrugMedicationResponse_2013_06_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="AttachOrDetachPrescriptionMedication_2013_06_01">
            <soap:operation
                    soapAction="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01#AttachOrDetachPrescriptionMedication"
                    style="document"/>
            <wsdl:input name="AttachOrDetachPrescriptionMedicationRequest_2013_06_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="AttachOrDetachPrescriptionMedicationResponse_2013_06_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="CreateEffectuation_2013_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01#CreateEffectuation"
                            style="document"/>
            <wsdl:input name="CreateEffectuationRequest_2013_06_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreateEffectuationResponse_2013_06_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="CreatePrescriptionMedication_2013_06_01">
            <soap:operation
                    soapAction="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01#CreatePrescriptionMedication"
                    style="document"/>
            <wsdl:input name="CreatePrescriptionMedicationRequest_2013_06_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreatePrescriptionMedicationResponse_2013_06_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetPrescriptionMedication_2013_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01#GetPrescriptionMedication"
                            style="document"/>
            <wsdl:input name="GetPrescriptionMedicationRequest_2013_06_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPrescriptionMedicationResponse_2013_06_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="SearchWithdrawnDrugMedications_2012_06_01">
            <soap:operation
                    soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#SearchWithdrawnDrugMedications"
                    style="document"/>
            <wsdl:input name="SearchWithdrawnDrugMedicationsRequest_2012_06_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SearchWithdrawnDrugMedicationsResponse_2012_06_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="UnpauseDrugMedication_2013_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01#UnpauseDrugMedication"
                            style="document"/>
            <wsdl:input name="UnpauseDrugMedicationRequest_2013_06_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UnpauseDrugMedicationResponse_2013_06_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="UpdateDrugMedication_2013_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01#UpdateDrugMedication"
                            style="document"/>
             <wsdl:input name="UpdateDrugMedicationRequest_2013_06_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UpdateDrugMedicationResponse_2013_06_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="WithdrawDrugMedication_2013_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01#WithdrawDrugMedication"
                            style="document"/>
            <wsdl:input name="WithdrawDrugMedicationRequest_2013_06_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="WithdrawDrugMedicationResponse_2013_06_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="SearchEffectuations_2013_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01#SearchEffectuations"
                            style="document"/>
            <wsdl:input name="SearchEffectuationsRequest_2013_06_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SearchEffectuationsResponse_2013_06_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="UnwithdrawDrugMedication_2013_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01#UnwithdrawDrugMedication"
                            style="document"/>
            <wsdl:input name="UnwithdrawDrugMedicationRequest_2013_06_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UnwithdrawDrugMedicationResponse_2013_06_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>


        <wsdl:operation name="CreatePrescriptionMedicationForUseInPractice_2013_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01#CreatePrescriptionMedicationForUseInPractice"
                    style="document"/>
            <wsdl:input name="CreatePrescriptionMedicationForUseInPracticeRequest_2013_06_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreatePrescriptionMedicationForUseInPracticeResponse_2013_06_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="CreatePrescriptionMedicationWithoutCPR_2013_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01#CreatePrescriptionMedicationWithoutCPR"
                    style="document"/>
            <wsdl:input name="CreatePrescriptionMedicationWithoutCPRRequest_2013_06_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreatePrescriptionMedicationWithoutCPRResponse_2013_06_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="DeleteEffectuation_2013_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01#DeleteEffectuation"
                            style="document"/>
            <wsdl:input name="DeleteEffectuationRequest_2013_06_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="DeleteEffectuationResponse_2013_06_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

       <wsdl:operation name="GetPermissions_2012_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01#GetPermissions"
                            style="document"/>
            <wsdl:input name="GetPermissionsRequest_2012_06_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPermissionsResponse_2012_06_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

       <wsdl:operation name="MarkPrescriptionMedicationDeprecated_2013_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01#MarkPrescriptionMedicationDeprecated"
                            style="document"/>
            <wsdl:input name="MarkPrescriptionMedicationDeprecatedRequest_2013_06_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="MarkPrescriptionMedicationDeprecatedResponse_2013_06_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

       <wsdl:operation name="UnmarkPrescriptionMedicationDeprecated_2013_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01#UnmarkPrescriptionMedicationDeprecated"
                            style="document"/>
            <wsdl:input name="UnmarkPrescriptionMedicationDeprecatedRequest_2013_06_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UnmarkPrescriptionMedicationDeprecatedResponse_2013_06_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

       <wsdl:operation name="CancelPrescriptionMedication_2013_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01#CancelPrescriptionMedication"
                            style="document"/>
            <wsdl:input name="CancelPrescriptionMedicationRequest_2013_06_01">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:header use="literal" part="OnBehalfOfHeader" message="tns:OnBehalfOfHeader"/>
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CancelPrescriptionMedicationResponse_2013_06_01">
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:header use="literal" part="ReplicationStatusHeader" message="tns:ReplicationStatusHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="MedicineCard">
        <wsdl:port name="MedicineCardPort" binding="tns:MedicineCardBinding">
            <soap:address location="https://test1.fmk.netic.dk/fmk12/ws/medicinecard"/>
        </wsdl:port>

    </wsdl:service>

</wsdl:definitions>
