etc/wsdl/OrdinationsAI_2022_03_01.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:medcom="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ordinationsAI20220301="http://fmk-teknik.dk/ordinationsAI/xml.schema/2022/03/01"
                  xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
                  xmlns:tns="http://fmk-teknik.dk/ordinationsAI/xml.schema/2022/03/01"
                  targetNamespace="http://fmk-teknik.dk/ordinationsAI/xml.schema/2022/03/01">

    <wsdl:types>
        <xs:schema targetNamespace="http://fmk-teknik.dk/ordinationsAI/xml.schema/2022/03/01" elementFormDefault="qualified">
            <xs:include schemaLocation="../schemas/2022/03/01/ParseDrugMedicationTextRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2022/03/01/ParseDrugMedicationTextResponse.xsd"/>
            <xs:include schemaLocation="../schemas/2022/03/01/SendDrugMedicationResultRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2022/03/01/SendDrugMedicationResultResponse.xsd"/>
        </xs:schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://fmk-teknik.dk/ordinationsAI/xml.schema/2022/03/01" elementFormDefault="qualified">
            <import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                    schemaLocation="../schemas/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd/oasis-200401_orig-wss-wssecurity-secext-1.0.xsd"/>
        </schema>
        <xs:schema targetNamespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
            <xs:include schemaLocation="../schemas/medcom/dgws/2006/04/medcom.xsd" />
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="MedComHeader">
        <wsdl:part name="MedcomHeader" element="medcom:Header"/>
    </wsdl:message>

    <wsdl:message name="ParseDrugMedicationTextRequest">
        <wsdl:part name="ParseDrugMedicationTextRequest" element="ordinationsAI20220301:ParseDrugMedicationTextRequest"/>
    </wsdl:message>
    <wsdl:message name="ParseDrugMedicationTextResponse">
        <wsdl:part name="ParseDrugMedicationTextResponse" element="ordinationsAI20220301:ParseDrugMedicationTextResponse"/>
    </wsdl:message>

    <wsdl:message name="SendDrugMedicationResultRequest">
        <wsdl:part name="SendDrugMedicationResultRequest" element="ordinationsAI20220301:SendDrugMedicationResultRequest"/>
    </wsdl:message>
    <wsdl:message name="SendDrugMedicationResultResponse">
        <wsdl:part name="SendDrugMedicationResultResponse" element="ordinationsAI20220301:SendDrugMedicationResultResponse"/>
    </wsdl:message>

    <wsdl:message name="DGWSFault">
        <wsdl:part name="faultCode" element="medcom:FaultCode"/>
        <wsdl:part name="faultText" element="medicinecard20150601:FaultText"/>
    </wsdl:message>

    <wsdl:portType name="OrdinationsAIPortType">
        <wsdl:operation name="ParseDrugMedicationText">
            <soap:operation soapAction="http://fmk-teknik.dk/ordinationsAI/xml.schema/2022/03/01#ParseDrugMedicationText" style="document"/>
            <wsdl:input name="ParseDrugMedicationTextRequest"
                        message="tns:ParseDrugMedicationTextRequest"/>
            <wsdl:output name="ParseDrugMedicationTextResponse"
                         message="tns:ParseDrugMedicationTextResponse"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="SendDrugMedicationResult">
            <wsdl:input name="SendDrugMedicationResultRequest"
                        message="tns:SendDrugMedicationResultRequest"/>
            <wsdl:output name="SendDrugMedicationResultResponse"
                         message="tns:SendDrugMedicationResultResponse"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="OrdinationsAIBinding" type="tns:OrdinationsAIPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="ParseDrugMedicationText">
            <soap:operation soapAction="http://fmk-teknik.dk/ordinationsAI/xml.schema/2022/03/01#ParseDrugMedicationText"
                            style="document"/>
            <wsdl:input name="ParseDrugMedicationTextRequest">
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ParseDrugMedicationTextResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="SendDrugMedicationResult">
            <soap:operation soapAction="http://fmk-teknik.dk/ordinationsAI/xml.schema/2022/03/01#SendDrugMedicationResult"
                            style="document"/>
            <wsdl:input name="SendDrugMedicationResultRequest">
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SendDrugMedicationResultResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="OrdinationsAI">
        <wsdl:port name="OrdinationsAIPort" binding="tns:OrdinationsAIBinding">
            <soap:address location="https://test1.fmk.netic.dk/ws/OrdinationsAI"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
