etc/wsdl/PatientOrganisationRelation_Idws_2013_06_01.wsdl

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01"
                  xmlns:medicinecard20130601="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01"
                  xmlns:tns="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01"
                  xmlns:sdsd201206="http://www.sdsd.dk/dgws/2012/06"
                  xmlns:wsseorig="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                  xmlns:wsuorig="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsa="http://www.w3.org/2005/08/addressing"
                  xmlns:sbf="urn:liberty:sb"

                  targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01">

    <wsdl:types>
        <xs:schema targetNamespace="urn:liberty:sb">
            <xs:include schemaLocation="../schemas/liberty/liberty-idwsf-soap-binding.xsd" />
            <xs:include schemaLocation="../schemas/liberty/idws-fault.xsd" />
        </xs:schema>

        <xs:schema targetNamespace="http://www.w3.org/2005/08/addressing">
            <xs:include schemaLocation="../schemas/2005/08/addressing/ws-addr.xsd" />
        </xs:schema>

        <xs:schema targetNamespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
            <xs:include schemaLocation="../schemas/medcom/dgws/2006/04/medcom.xsd"/>
        </xs:schema>

        <xs:schema targetNamespace="http://www.sdsd.dk/dgws/2012/06">
            <xs:include schemaLocation="../schemas/sdsd/2012/06/WhitelistingHeader.xsd"/>
        </xs:schema>

        <xs:schema targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <xs:include schemaLocation="../schemas/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd/oasis-200401_orig-wss-wssecurity-secext-1.0.xsd" />
        </xs:schema>
        <xs:schema targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
            <xs:include schemaLocation="../schemas/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd/oasis-200401_orig-wss-wssecurity-utility-1.0.xsd" />
        </xs:schema>

        <xs:schema targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified">
			<xs:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" schemaLocation="../schemas/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd/oasis-200401_orig-wss-wssecurity-secext-1.0.xsd"/>
	        <xs:import namespace="urn:oasis:names:tc:SAML:2.0:assertion" schemaLocation="../schemas/urn_oasis_names_tc_SAML_2.0_assertion/saml-schema-assertion-2.0.xsd"/>
			<xs:include schemaLocation="../schemas/2012/06/01/OnBehalfOf.xsd"/>
			<xs:include schemaLocation="../schemas/2012/06/01/TimingList.xsd"/>
			<xs:include schemaLocation="../schemas/2012/06/01/RegisterPatientOrganisationRelationResponse.xsd"/>
			<xs:include schemaLocation="../schemas/2012/06/01/RemovePatientOrganisationRelationResponse.xsd"/>
		</xs:schema>
		<xs:schema targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" elementFormDefault="qualified">
			<xs:include schemaLocation="../schemas/2013/06/01/GetPatientOrganisationRelationRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2013/06/01/GetPatientOrganisationRelationResponse.xsd"/>
			<xs:include schemaLocation="../schemas/2013/06/01/RegisterPatientOrganisationRelationRequest.xsd"/>
			<xs:include schemaLocation="../schemas/2013/06/01/RemovePatientOrganisationRelationRequest.xsd"/>
		</xs:schema>
	</wsdl:types>

    <wsdl:message name="MessageIDHeader">
        <wsdl:part name="MessageIDHeader" element="wsa:MessageID" />
    </wsdl:message>
    <wsdl:message name="ActionHeader">
        <wsdl:part name="ActionHeader" element="wsa:Action" />
    </wsdl:message>
    <wsdl:message name="ToHeader">
        <wsdl:part name="ToHeader" element="wsa:To" />
    </wsdl:message>
    <wsdl:message name="RelatesToHeader">
        <wsdl:part name="RelatesToHeader" element="wsa:RelatesTo" />
    </wsdl:message>
    <wsdl:message name="FrameworkHeader">
        <wsdl:part name="FrameworkHeader" element="sbf:Framework"/>
    </wsdl:message>
    <wsdl:message name="SecurityHeader">
        <wsdl:part name="SecurityHeader" element="wsseorig:Security"/>
    </wsdl:message>
    <wsdl:message name="WhitelistingHeader">
        <wsdl:part name="WhitelistingHeader" element="sdsd201206:WhitelistingHeader"/>
    </wsdl:message>

    <wsdl:message name="TimingHeader">
        <wsdl:part name="TimingHeader" element="medicinecard20120601:TimingList"/>
    </wsdl:message>

    <wsdl:message name="GetPatientOrganisationRelationIdwsRequest_2013_06_01">
        <wsdl:part name="GetPatientOrganisationRelationRequest" element="medicinecard20130601:GetPatientOrganisationRelationRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPatientOrganisationRelationIdwsResponse_2013_06_01">
        <wsdl:part name="GetPatientOrganisationRelationResponse" element="medicinecard20130601:GetPatientOrganisationRelationResponse"/>
    </wsdl:message>
    <wsdl:message name="RegisterPatientOrganisationRelationIdwsRequest_2013_06_01">
        <wsdl:part name="RegisterPatientOrganisationRelationRequest" element="medicinecard20130601:RegisterPatientOrganisationRelationRequest"/>
    </wsdl:message>
    <wsdl:message name="RegisterPatientOrganisationRelationIdwsResponse_2013_06_01">
        <wsdl:part name="RegisterPatientOrganisationRelationResponse" element="medicinecard20120601:RegisterPatientOrganisationRelationResponse"/>
    </wsdl:message>

    <wsdl:message name="RemovePatientOrganisationRelationIdwsRequest_2013_06_01">
        <wsdl:part name="RemovePatientOrganisationRelationRequest" element="medicinecard20130601:RemovePatientOrganisationRelationRequest"/>
    </wsdl:message>
    <wsdl:message name="RemovePatientOrganisationRelationIdwsResponse_2013_06_01">
        <wsdl:part name="RemovePatientOrganisationRelationResponse" element="medicinecard20120601:RemovePatientOrganisationRelationResponse"/>
    </wsdl:message>

    <wsdl:message name="IDWSFault">
        <wsdl:part name="fault" element="sbf:IDWSFault" />
    </wsdl:message>


    <wsdl:portType name="PatientRelationPortType">

        <wsdl:operation name="GetPatientOrganisationRelationIdws_2013_06_01">
            <wsdl:input name="GetPatientOrganisationRelationIdwsRequest_2013_06_01"
                        message="medicinecard20130601:GetPatientOrganisationRelationIdwsRequest_2013_06_01"/>
            <wsdl:output name="GetPatientOrganisationRelationIdwsResponse_2013_06_01"
                         message="medicinecard20130601:GetPatientOrganisationRelationIdwsResponse_2013_06_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="RegisterPatientOrganisationRelationIdws_2013_06_01">
            <wsdl:input name="RegisterPatientOrganisationRelationIdwsRequest_2013_06_01"
                        message="medicinecard20130601:RegisterPatientOrganisationRelationIdwsRequest_2013_06_01"/>
            <wsdl:output name="RegisterPatientOrganisationRelationIdwsResponse_2013_06_01"
                         message="medicinecard20130601:RegisterPatientOrganisationRelationIdwsResponse_2013_06_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="RemovePatientOrganisationRelationIdws_2013_06_01">
            <wsdl:input name="RemovePatientOrganisationRelationIdwsRequest_2013_06_01"
                        message="medicinecard20130601:RemovePatientOrganisationRelationIdwsRequest_2013_06_01"/>
            <wsdl:output name="RemovePatientOrganisationRelationIdwsResponse_2013_06_01"
                         message="medicinecard20130601:RemovePatientOrganisationRelationIdwsResponse_2013_06_01"/>
            <wsdl:fault name="IDWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

    </wsdl:portType>


    <wsdl:binding name="PatientRelationBinding" type="tns:PatientRelationPortType">

        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="GetPatientOrganisationRelationIdws_2013_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01#GetPatientOrganisationRelation" style="document"/>
            <wsdl:input name="GetPatientOrganisationRelationIdwsRequest_2013_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPatientOrganisationRelationIdwsResponse_2013_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="RegisterPatientOrganisationRelationIdws_2013_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01#RegisterPatientOrganisationRelation" style="document"/>
            <wsdl:input name="RegisterPatientOrganisationRelationIdwsRequest_2013_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="RegisterPatientOrganisationRelationIdwsResponse_2013_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="RemovePatientOrganisationRelationIdws_2013_06_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01#RemovePatientOrganisationRelation" style="document"/>
            <wsdl:input name="RemovePatientOrganisationRelationIdwsRequest_2013_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" wsdl:required="true" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" wsdl:required="true" />
                <soap:header use="literal" part="ToHeader" message="tns:ToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" wsdl:required="true" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" wsdl:required="true" />
                <soap:header use="literal" part="WhitelistingHeader" message="tns:WhitelistingHeader" wsdl:required="true"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="RemovePatientOrganisationRelationIdwsResponse_2013_06_01">
                <soap:header use="literal" part="MessageIDHeader" message="tns:MessageIDHeader" />
                <soap:header use="literal" part="ActionHeader" message="tns:ActionHeader" />
                <soap:header use="literal" part="RelatesToHeader" message="tns:RelatesToHeader" />
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader" />
                <soap:header use="literal" part="FrameworkHeader" message="tns:FrameworkHeader" />
                <soap:header use="literal" part="TimingHeader" message="tns:TimingHeader"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IDWSFault">
                <soap:fault name="IDWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="PatientRelation">
        <wsdl:port name="PatientRelationPort" binding="tns:PatientRelationBinding">
            <soap:address location="https://test1.fmk.netic.dk/fmk12/ws/PatientOrganisationRelation"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
