etc/wsdl/PatientRegistration_Idws_2015_01_01.wsdl

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
                  xmlns:tns="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01"
                  xmlns:sdsd201206="http://www.sdsd.dk/dgws/2012/06"
                  xmlns:wsseorig="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                  xmlns:wsuorig="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsa="http://www.w3.org/2005/08/addressing"
                  xmlns:sbf="urn:liberty:sb"

                  targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01">

    <wsdl:types>
        <xs:schema targetNamespace="urn:liberty:sb">
            <xs:include schemaLocation="../schemas/liberty/liberty-idwsf-soap-binding.xsd" />
            <xs:include schemaLocation="../schemas/liberty/idws-fault.xsd" />
        </xs:schema>

        <xs:schema targetNamespace="http://www.w3.org/2005/08/addressing">
            <xs:include schemaLocation="../schemas/2005/08/addressing/ws-addr.xsd" />
        </xs:schema>

        <xs:schema targetNamespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
            <xs:include schemaLocation="../schemas/medcom/dgws/2006/04/medcom.xsd"/>
        </xs:schema>

        <xs:schema targetNamespace="http://www.sdsd.dk/dgws/2012/06">
            <xs:include schemaLocation="../schemas/sdsd/2012/06/WhitelistingHeader.xsd"/>
        </xs:schema>

        <xs:schema targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <xs:include schemaLocation="../schemas/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd/oasis-200401_orig-wss-wssecurity-secext-1.0.xsd" />
        </xs:schema>
        <xs:schema targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
            <xs:include schemaLocation="../schemas/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd/oasis-200401_orig-wss-wssecurity-utility-1.0.xsd" />
        </xs:schema>

        <xs:schema targetNamespace="http://www.w3.org/2001/10/xml-exc-c14n#">
            <xs:include schemaLocation="../schemas/2001/10/xml-exc-c14n/xml-exc-c14n.xsd"/>
        </xs:schema>

        <xs:schema targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
                   elementFormDefault="qualified">
            <xs:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                       schemaLocation="../schemas/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd/oasis-200401_orig-wss-wssecurity-secext-1.0.xsd"/>
	        <xs:import namespace="urn:oasis:names:tc:SAML:2.0:assertion" schemaLocation="../schemas/urn_oasis_names_tc_SAML_2.0_assertion/saml-schema-assertion-2.0.xsd"/>
            <xs:include schemaLocation="../schemas/2015/01/01/OnBehalfOf.xsd"/>
            <xs:include schemaLocation="../schemas/2015/01/01/TimingList.xsd"/>
            <xs:include schemaLocation="../schemas/2015/01/01/GetPatientOrganisationRelationRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2015/01/01/GetPatientOrganisationRelationResponse.xsd"/>
            <xs:include schemaLocation="../schemas/2015/01/01/RegisterPatientOrganisationRelationRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2015/01/01/RegisterPatientOrganisationRelationResponse.xsd"/>
            <xs:include schemaLocation="../schemas/2015/01/01/RemovePatientOrganisationRelationRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2015/01/01/RemovePatientOrganisationRelationResponse.xsd"/>
            <xs:include schemaLocation="../schemas/2015/01/01/GetPatientRegistrationRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2015/01/01/GetPatientRegistrationResponse.xsd"/>
            <xs:include schemaLocation="../schemas/2015/01/01/CreatePatientRegistrationRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2015/01/01/CreatePatientRegistrationResponse.xsd"/>
            <xs:include schemaLocation="../schemas/2015/01/01/RemovePatientRegistrationRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2015/01/01/RemovePatientRegistrationResponse.xsd"/>
        </xs:schema>
    </wsdl:types>
    
    <wsdl:message name="MessageIDHeader">
        <wsdl:part name="MessageIDHeader" element="wsa:MessageID" />
    </wsdl:message>
    <wsdl:message name="ActionHeader">
        <wsdl:part name="ActionHeader" element="wsa:Action" />
    </wsdl:message>
    <wsdl:message name="ToHeader">
        <wsdl:part name="ToHeader" element="wsa:To" />
    </wsdl:message>
    <wsdl:message name="RelatesToHeader">
        <wsdl:part name="RelatesToHeader" element="wsa:RelatesTo" />
    </wsdl:message>
    <wsdl:message name="FrameworkHeader">
        <wsdl:part name="FrameworkHeader" element="sbf:Framework"/>
    </wsdl:message>
    <wsdl:message name="SecurityHeader">
        <wsdl:part name="SecurityHeader" element="wsseorig:Security"/>
    </wsdl:message>
    <wsdl:message name="WhitelistingHeader">
        <wsdl:part name="WhitelistingHeader" element="sdsd201206:WhitelistingHeader"/>
    </wsdl:message>

    <wsdl:message name="TimingHeader">
        <wsdl:part name="TimingHeader" element="medicinecard20150101:TimingList"/>
    </wsdl:message>

    <wsdl:message name="GetPatientOrganisationRelationIdwsRequest_2015_01_01">
        <wsdl:part name="GetPatientOrganisationRelationRequest"
                   element="medicinecard20150101:GetPatientOrganisationRelationRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPatientOrganisationRelationIdwsResponse_2015_01_01">
        <wsdl:part name="GetPatientOrganisationRelationResponse"
                   element="medicinecard20150101:GetPatientOrganisationRelationResponse"/>
    </wsdl:message>

    <wsdl:message name="RegisterPatientOrganisationRelationIdwsRequest_2015_01_01">
        <wsdl:part name="RegisterPatientOrganisationRelationRequest"
                   element="medicinecard20150101:RegisterPatientOrganisationRelationRequest"/>
    </wsdl:message>
    <wsdl:message name="RegisterPatientOrganisationRelationIdwsResponse_2015_01_01">
        <wsdl:part name="RegisterPatientOrganisationRelationResponse"
                   element="medicinecard20150101:RegisterPatientOrganisationRelationResponse"/>
    </wsdl:message>

    <wsdl:message name="RemovePatientOrganisationRelationIdwsRequest_2015_01_01">
        <wsdl:part name="RemovePatientOrganisationRelationRequest"
                   element="medicinecard20150101:RemovePatientOrganisationRelationRequest"/>
    </wsdl:message>
    <wsdl:message name="RemovePatientOrganisationRelationIdwsResponse_2015_01_01">
        <wsdl:part name="RemovePatientOrganisationRelationResponse"
                   element="medicinecard20150101:RemovePatientOrganisationRelationResponse"/>
    </wsdl:message>

    <wsdl:message name="GetPatientRegistrationIdwsRequest_2015_01_01">
        <wsdl:part name="GetPatientRegistrationRequest" element="medicinecard20150101:GetPatientRegistrationRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPatientRegistrationIdwsResponse_2015_01_01">
        <wsdl:part name="GetPatientRegistrationResponse" element="medicinecard20150101:GetPatientRegistrationResponse"/>
    </wsdl:message>

    <wsdl:message name="CreatePatientRegistrationIdwsRequest_2015_01_01">
        <wsdl:part name="CreatePatientRegistrationRequest"
                   element="medicinecard20150101:CreatePatientRegistrationRequest"/>
    </wsdl:message>
    <wsdl:message name="CreatePatientRegistrationIdwsResponse_2015_01_01">
        <wsdl:part name="CreatePatientRegistrationResponse"
                   element="medicinecard20150101:CreatePatientRegistrationResponse"/>
    </wsdl:message>

    <wsdl:message name="RemovePatientRegistrationIdwsRequest_2015_01_01">
        <wsdl:part name="RemovePatientRegistrationRequest"
                   element="medicinecard20150101:RemovePatientRegistrationRequest"/>
    </wsdl:message>
    <wsdl:message name="RemovePatientRegistrationIdwsResponse_2015_01_01">
        <wsdl:part name="RemovePatientRegistrationResponse"
                   element="medicinecard20150101:RemovePatientRegistrationResponse"/>
    </wsdl:message>

    <wsdl:message name="IDWSFault">
        <wsdl:part name="fault" element="sbf:IDWSFault" />
    </wsdl:message>


    <wsdl:portType name="PatientRelationPortType">

        <wsdl:operation name="GetPatientOrganisationRelationIdws_2015_01_01">
            <wsdl:input name="GetPatientOrganisationRelationIdwsRequest_2015_01_01"
                        message="medicinecard20150101:GetPatientOrganisationRelationIdwsRequest_2015_01_01"/>
            <wsdl:output name="GetPatientOrganisationRelationIdwsResponse_2015_01_01"
                         message="medicinecard20150101:GetPatientOrganisationRelationIdwsResponse_2015_01_01"/>
            <wsdl:fault name="DGWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="RegisterPatientOrganisationRelationIdws_2015_01_01">
            <wsdl:input name="RegisterPatientOrganisationRelationIdwsRequest_2015_01_01"
                        message="medicinecard20150101:RegisterPatientOrganisationRelationIdwsRequest_2015_01_01"/>
            <wsdl:output name="RegisterPatientOrganisationRelationIdwsResponse_2015_01_01"
                         message="medicinecard20150101:RegisterPatientOrganisationRelationIdwsResponse_2015_01_01"/>
            <wsdl:fault name="DGWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="RemovePatientOrganisationRelationIdws_2015_01_01">
            <wsdl:input name="RemovePatientOrganisationRelationRequest_2015_01_01"
                        message="medicinecard20150101:RemovePatientOrganisationRelationIdwsRequest_2015_01_01"/>
            <wsdl:output name="RemovePatientOrganisationRelationIdwsResponse_2015_01_01"
                         message="medicinecard20150101:RemovePatientOrganisationRelationIdwsResponse_2015_01_01"/>
            <wsdl:fault name="DGWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="GetPatientRegistrationIdws_2015_01_01">
            <wsdl:input name="GetPatientRegistrationIdwsRequest_2015_01_01"
                        message="medicinecard20150101:GetPatientRegistrationIdwsRequest_2015_01_01"/>
            <wsdl:output name="GetPatientRegistrationIdwsResponse_2015_01_01"
                         message="medicinecard20150101:GetPatientRegistrationIdwsResponse_2015_01_01"/>
            <wsdl:fault name="DGWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="CreatePatientRegistrationIdws_2015_01_01">
            <wsdl:input name="CreatePatientRegistrationIdwsRequest_2015_01_01"
                        message="medicinecard20150101:CreatePatientRegistrationIdwsRequest_2015_01_01"/>
            <wsdl:output name="CreatePatientRegistrationIdwsResponse_2015_01_01"
                         message="medicinecard20150101:CreatePatientRegistrationIdwsResponse_2015_01_01"/>
            <wsdl:fault name="DGWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="RemovePatientRegistrationIdws_2015_01_01">
            <wsdl:input name="RemovePatientRegistrationIdwsRequest_2015_01_01"
                        message="medicinecard20150101:RemovePatientRegistrationIdwsRequest_2015_01_01"/>
            <wsdl:output name="RemovePatientRegistrationIdwsResponse_2015_01_01"
                         message="medicinecard20150101:RemovePatientRegistrationIdwsResponse_2015_01_01"/>
            <wsdl:fault name="DGWSFault" message="tns:IDWSFault"/>
        </wsdl:operation>

    </wsdl:portType>


    <wsdl:binding name="PatientRelationBinding" type="tns:PatientRelationPortType">

        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="GetPatientOrganisationRelationIdws_2015_01_01">
            <soap:operation
                    soapAction="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01#GetPatientOrganisationRelation"
                    style="document"/>
            <wsdl:input name="GetPatientOrganisationRelationRequest_2015_01_01">
                <soap:header message="tns:SecurityHeader" part="SecurityHeader" use="literal"/>
                <soap:header message="tns:MedComHeader" part="MedcomHeader" use="literal"/>
                <soap:header message="tns:OnBehalfOfHeader" part="OnBehalfOfHeader" use="literal"/>
                <soap:header message="tns:WhitelistingHeader" part="WhitelistingHeader" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPatientOrganisationRelationResponse_2015_01_01">
                <soap:header message="tns:TimingHeader" part="TimingHeader" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="RegisterPatientOrganisationRelationIdws_2015_01_01">
            <soap:operation
                    soapAction="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01#RegisterPatientOrganisationRelation"
                    style="document"/>
            <wsdl:input name="RegisterPatientOrganisationRelationRequest_2015_01_01">
                <soap:header message="tns:SecurityHeader" part="SecurityHeader" use="literal"/>
                <soap:header message="tns:MedComHeader" part="MedcomHeader" use="literal"/>
                <soap:header message="tns:OnBehalfOfHeader" part="OnBehalfOfHeader" use="literal"/>
                <soap:header message="tns:WhitelistingHeader" part="WhitelistingHeader" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="RegisterPatientOrganisationRelationResponse_2015_01_01">
                <soap:header message="tns:TimingHeader" part="TimingHeader" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="RemovePatientOrganisationRelationIdws_2015_01_01">
            <soap:operation
                    soapAction="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01#RemovePatientOrganisationRelation"
                    style="document"/>
            <wsdl:input name="RemovePatientOrganisationRelationRequest_2015_01_01">
                <soap:header message="tns:SecurityHeader" part="SecurityHeader" use="literal"/>
                <soap:header message="tns:MedComHeader" part="MedcomHeader" use="literal"/>
                <soap:header message="tns:OnBehalfOfHeader" part="OnBehalfOfHeader" use="literal"/>
                <soap:header message="tns:WhitelistingHeader" part="WhitelistingHeader" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="RemovePatientOrganisationRelationResponse_2015_01_01">
                <soap:header message="tns:TimingHeader" part="TimingHeader" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetPatientRegistrationIdws_2015_01_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01#GetPatientRegistration"
                            style="document"/>
            <wsdl:input name="GetPatientRegistrationRequest_2015_01_01">
                <soap:header message="tns:SecurityHeader" part="SecurityHeader" use="literal"/>
                <soap:header message="tns:MedComHeader" part="MedcomHeader" use="literal"/>
                <soap:header message="tns:OnBehalfOfHeader" part="OnBehalfOfHeader" use="literal"/>
                <soap:header message="tns:WhitelistingHeader" part="WhitelistingHeader" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPatientRegistrationResponse_2015_01_01">
                <soap:header message="tns:TimingHeader" part="TimingHeader" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="CreatePatientRegistrationIdws_2015_01_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01#CreatePatientRegistration"
                            style="document"/>
            <wsdl:input name="CreatePatientRegistrationRequest_2015_01_01">
                <soap:header message="tns:SecurityHeader" part="SecurityHeader" use="literal"/>
                <soap:header message="tns:MedComHeader" part="MedcomHeader" use="literal"/>
                <soap:header message="tns:OnBehalfOfHeader" part="OnBehalfOfHeader" use="literal"/>
                <soap:header message="tns:WhitelistingHeader" part="WhitelistingHeader" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreatePatientRegistrationResponse_2015_01_01">
                <soap:header message="tns:TimingHeader" part="TimingHeader" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="RemovePatientRegistrationIdws_2015_01_01">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01#RemovePatientRegistration"
                            style="document"/>
            <wsdl:input name="RemovePatientRegistrationRequest_2015_01_01">
                <soap:header message="tns:SecurityHeader" part="SecurityHeader" use="literal"/>
                <soap:header message="tns:MedComHeader" part="MedcomHeader" use="literal"/>
                <soap:header message="tns:OnBehalfOfHeader" part="OnBehalfOfHeader" use="literal"/>
                <soap:header message="tns:WhitelistingHeader" part="WhitelistingHeader" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="RemovePatientRegistrationResponse_2015_01_01">
                <soap:header message="tns:TimingHeader" part="TimingHeader" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="PatientRelation">
        <wsdl:port name="PatientRelationPort" binding="tns:PatientRelationBinding">
            <soap:address location="https://test1.fmk.netic.dk/fmk12/ws/PatientOrganisationRelation"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
