etc/wsdl/PatientRegistration_2022_01_01.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE definitions [
        <!ENTITY fmkStandardSOAPRequestHeaders "
                <soap:header use='literal' part='SecurityHeader' message='tns:SecurityHeader' />
                <soap:header use='literal' part='MedcomHeader' message='tns:MedComHeader' />
                <soap:header use='literal' part='OnBehalfOfHeader' message='tns:OnBehalfOfHeader' />
                <soap:header use='literal' part='WhitelistingHeader' message='tns:WhitelistingHeader' wsdl:required='true' />
                <soap:header use='literal' part='ConsentHeader' message='tns:ConsentHeader' />
">
        <!ENTITY fmkStandardSOAPResponseHeaders "
                <soap:header use='literal' part='TimingHeader' message='tns:TimingHeader'/>
">
        <!ENTITY operationFaultDeclaration "
            <wsdl:fault name='DGWSFault' message='tns:DGWSFault'/>
">
        <!ENTITY bindingFaultDeclaration "
            <wsdl:fault name='DGWSFault'>
                <soap:fault name='DGWSFault' use='literal'/>
            </wsdl:fault>
">
]>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:mc160="http://fmk-teknik.dk/160"
                  xmlns:tns="http://fmk-teknik.dk/160"
                  xmlns:medcom="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd"
                  xmlns:sdsd201206="http://www.sdsd.dk/dgws/2012/06"
                  xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                  targetNamespace="http://fmk-teknik.dk/160">
    <wsdl:types>
        <xs:schema targetNamespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
            <xs:include schemaLocation="../schemas/medcom/dgws/2006/04/medcom.xsd" />
        </xs:schema>

        <xs:schema targetNamespace="http://www.sdsd.dk/dgws/2012/06">
            <xs:include schemaLocation="../schemas/sdsd/2012/06/WhitelistingHeader.xsd"/>
        </xs:schema>

        <xs:schema targetNamespace="http://fmk-teknik.dk/160" elementFormDefault="qualified">

            <xs:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                       schemaLocation="../schemas/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd/oasis-200401_orig-wss-wssecurity-secext-1.0.xsd"/>

            <xs:import namespace="urn:oasis:names:tc:SAML:2.0:assertion"
                       schemaLocation="../schemas/urn_oasis_names_tc_SAML_2.0_assertion/saml-schema-assertion-2.0.xsd"/>

            <xs:include schemaLocation="../schemas/2022/01/01/ConsentHeader.xsd"/>
            <xs:include schemaLocation="../schemas/2022/01/01/OnBehalfOf.xsd"/>
            <xs:include schemaLocation="../schemas/2022/01/01/TimingList.xsd"/>

            <xs:include schemaLocation="../schemas/2022/01/01/CreatePatientRegistrationRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2022/01/01/CreatePatientRegistrationResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2022/01/01/GetDeliverySitesForPharmacyRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2022/01/01/GetDeliverySitesForPharmacyResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2022/01/01/GetPatientOrganisationRelationRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2022/01/01/GetPatientOrganisationRelationResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2022/01/01/GetPatientOrganisationRelationsRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2022/01/01/GetPatientOrganisationRelationsResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2022/01/01/GetPatientRegistrationRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2022/01/01/GetPatientRegistrationResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2022/01/01/RegisterPatientOrganisationRelationRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2022/01/01/RegisterPatientOrganisationRelationResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2022/01/01/RemovePatientOrganisationRelationRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2022/01/01/RemovePatientOrganisationRelationResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2022/01/01/RemovePatientRegistrationRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2022/01/01/RemovePatientRegistrationResponse.xsd"/>

            <xs:include schemaLocation="../schemas/2022/01/01/SearchDeliverySitesRequest.xsd"/>
            <xs:include schemaLocation="../schemas/2022/01/01/SearchDeliverySitesResponse.xsd"/>

        </xs:schema>

    </wsdl:types>

    <wsdl:message name="SecurityHeader">
        <wsdl:part name="SecurityHeader" element="wsse:Security"/>
    </wsdl:message>

    <wsdl:message name="MedComHeader">
        <wsdl:part name="MedcomHeader" element="medcom:Header"/>
    </wsdl:message>

    <wsdl:message name="WhitelistingHeader">
        <wsdl:part name="WhitelistingHeader" element="sdsd201206:WhitelistingHeader"/>
    </wsdl:message>

    <wsdl:message name="DGWSFault">
        <wsdl:part name="fault" element="medcom:FaultCode"/>
    </wsdl:message>

    <wsdl:message name="ConsentHeader">
        <wsdl:part name="ConsentHeader" element="mc160:ConsentHeader"/>
    </wsdl:message>

    <wsdl:message name="TimingHeader">
        <wsdl:part name="TimingHeader" element="mc160:TimingList"/>
    </wsdl:message>

    <wsdl:message name="OnBehalfOfHeader">
        <wsdl:part name="OnBehalfOfHeader" element="mc160:OnBehalfOf"/>
    </wsdl:message>

    <wsdl:message name="CreatePatientRegistrationRequest_2022_01_01">
        <wsdl:part name="CreatePatientRegistrationRequest" element="mc160:CreatePatientRegistrationRequest"/>
    </wsdl:message>

    <wsdl:message name="CreatePatientRegistrationResponse_2022_01_01">
        <wsdl:part name="CreatePatientRegistrationResponse" element="mc160:CreatePatientRegistrationResponse"/>
    </wsdl:message>

    <wsdl:message name="GetDeliverySitesForPharmacyRequest_2022_01_01">
        <wsdl:part name="GetDeliverySitesForPharmacyRequest" element="mc160:GetDeliverySitesForPharmacyRequest"/>
    </wsdl:message>

    <wsdl:message name="GetDeliverySitesForPharmacyResponse_2022_01_01">
        <wsdl:part name="GetDeliverySitesForPharmacyResponse" element="mc160:GetDeliverySitesForPharmacyResponse"/>
    </wsdl:message>

    <wsdl:message name="GetPatientOrganisationRelationRequest_2022_01_01">
        <wsdl:part name="GetPatientOrganisationRelationRequest" element="mc160:GetPatientOrganisationRelationRequest"/>
    </wsdl:message>

    <wsdl:message name="GetPatientOrganisationRelationResponse_2022_01_01">
        <wsdl:part name="GetPatientOrganisationRelationResponse" element="mc160:GetPatientOrganisationRelationResponse"/>
    </wsdl:message>

    <wsdl:message name="GetPatientOrganisationRelationsRequest_2022_01_01">
        <wsdl:part name="GetPatientOrganisationRelationsRequest" element="mc160:GetPatientOrganisationRelationsRequest"/>
    </wsdl:message>

    <wsdl:message name="GetPatientOrganisationRelationsResponse_2022_01_01">
        <wsdl:part name="GetPatientOrganisationRelationsResponse" element="mc160:GetPatientOrganisationRelationsResponse"/>
    </wsdl:message>

    <wsdl:message name="GetPatientRegistrationRequest_2022_01_01">
        <wsdl:part name="GetPatientRegistrationRequest" element="mc160:GetPatientRegistrationRequest"/>
    </wsdl:message>

    <wsdl:message name="GetPatientRegistrationResponse_2022_01_01">
        <wsdl:part name="GetPatientRegistrationResponse" element="mc160:GetPatientRegistrationResponse"/>
    </wsdl:message>

    <wsdl:message name="RegisterPatientOrganisationRelationRequest_2022_01_01">
        <wsdl:part name="RegisterPatientOrganisationRelationRequest" element="mc160:RegisterPatientOrganisationRelationRequest"/>
    </wsdl:message>

    <wsdl:message name="RegisterPatientOrganisationRelationResponse_2022_01_01">
        <wsdl:part name="RegisterPatientOrganisationRelationResponse" element="mc160:RegisterPatientOrganisationRelationResponse"/>
    </wsdl:message>

    <wsdl:message name="RemovePatientOrganisationRelationRequest_2022_01_01">
        <wsdl:part name="RemovePatientOrganisationRelationRequest" element="mc160:RemovePatientOrganisationRelationRequest"/>
    </wsdl:message>

    <wsdl:message name="RemovePatientOrganisationRelationResponse_2022_01_01">
        <wsdl:part name="RemovePatientOrganisationRelationResponse" element="mc160:RemovePatientOrganisationRelationResponse"/>
    </wsdl:message>

    <wsdl:message name="RemovePatientRegistrationRequest_2022_01_01">
        <wsdl:part name="RemovePatientRegistrationRequest" element="mc160:RemovePatientRegistrationRequest"/>
    </wsdl:message>

    <wsdl:message name="RemovePatientRegistrationResponse_2022_01_01">
        <wsdl:part name="RemovePatientRegistrationResponse" element="mc160:RemovePatientRegistrationResponse"/>
    </wsdl:message>

    <wsdl:message name="SearchDeliverySitesRequest_2022_01_01">
        <wsdl:part name="SearchDeliverySitesRequest" element="mc160:SearchDeliverySitesRequest"/>
    </wsdl:message>

    <wsdl:message name="SearchDeliverySitesResponse_2022_01_01">
        <wsdl:part name="SearchDeliverySitesResponse" element="mc160:SearchDeliverySitesResponse"/>
    </wsdl:message>


    <wsdl:portType name="PatientRelationPortType">

        <wsdl:operation name="CreatePatientRegistration_2022_01_01">
            <wsdl:input name="CreatePatientRegistrationRequest_2022_01_01" message="tns:CreatePatientRegistrationRequest_2022_01_01"/>
            <wsdl:output name="CreatePatientRegistrationResponse_2022_01_01" message="tns:CreatePatientRegistrationResponse_2022_01_01"/>
            &operationFaultDeclaration;
        </wsdl:operation>

        <wsdl:operation name="GetDeliverySitesForPharmacy_2022_01_01">
            <wsdl:input name="GetDeliverySitesForPharmacyRequest_2022_01_01" message="tns:GetDeliverySitesForPharmacyRequest_2022_01_01"/>
            <wsdl:output name="GetDeliverySitesForPharmacyResponse_2022_01_01" message="tns:GetDeliverySitesForPharmacyResponse_2022_01_01"/>
            &operationFaultDeclaration;
        </wsdl:operation>


        <wsdl:operation name="GetPatientOrganisationRelation_2022_01_01">
            <wsdl:input name="GetPatientOrganisationRelationRequest_2022_01_01" message="tns:GetPatientOrganisationRelationRequest_2022_01_01"/>
            <wsdl:output name="GetPatientOrganisationRelationResponse_2022_01_01" message="tns:GetPatientOrganisationRelationResponse_2022_01_01"/>
            &operationFaultDeclaration;
        </wsdl:operation>

        <wsdl:operation name="GetPatientOrganisationRelations_2022_01_01">
            <wsdl:input name="GetPatientOrganisationRelationsRequest_2022_01_01" message="tns:GetPatientOrganisationRelationsRequest_2022_01_01"/>
            <wsdl:output name="GetPatientOrganisationRelationsResponse_2022_01_01" message="tns:GetPatientOrganisationRelationsResponse_2022_01_01"/>
            &operationFaultDeclaration;
        </wsdl:operation>

        <wsdl:operation name="GetPatientRegistration_2022_01_01">
            <wsdl:input name="GetPatientRegistrationRequest_2022_01_01" message="tns:GetPatientRegistrationRequest_2022_01_01"/>
            <wsdl:output name="GetPatientRegistrationResponse_2022_01_01" message="tns:GetPatientRegistrationResponse_2022_01_01"/>
            &operationFaultDeclaration;
        </wsdl:operation>

        <wsdl:operation name="RegisterPatientOrganisationRelation_2022_01_01">
            <wsdl:input name="RegisterPatientOrganisationRelationRequest_2022_01_01" message="tns:RegisterPatientOrganisationRelationRequest_2022_01_01"/>
            <wsdl:output name="RegisterPatientOrganisationRelationResponse_2022_01_01" message="tns:RegisterPatientOrganisationRelationResponse_2022_01_01"/>
            &operationFaultDeclaration;
        </wsdl:operation>

        <wsdl:operation name="RemovePatientOrganisationRelation_2022_01_01">
            <wsdl:input name="RemovePatientOrganisationRelationRequest_2022_01_01" message="tns:RemovePatientOrganisationRelationRequest_2022_01_01"/>
            <wsdl:output name="RemovePatientOrganisationRelationResponse_2022_01_01" message="tns:RemovePatientOrganisationRelationResponse_2022_01_01"/>
            &operationFaultDeclaration;
        </wsdl:operation>

        <wsdl:operation name="RemovePatientRegistration_2022_01_01">
            <wsdl:input name="RemovePatientRegistrationRequest_2022_01_01" message="tns:RemovePatientRegistrationRequest_2022_01_01"/>
            <wsdl:output name="RemovePatientRegistrationResponse_2022_01_01" message="tns:RemovePatientRegistrationResponse_2022_01_01"/>
            &operationFaultDeclaration;
        </wsdl:operation>

        <wsdl:operation name="SearchDeliverySites_2022_01_01">
            <wsdl:input name="SearchDeliverySitesRequest_2022_01_01" message="tns:SearchDeliverySitesRequest_2022_01_01"/>
            <wsdl:output name="SearchDeliverySites_2022_01_01" message="tns:SearchDeliverySitesResponse_2022_01_01"/>
            &operationFaultDeclaration;
        </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PatientRelationBinding" type="tns:PatientRelationPortType">

     <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="CreatePatientRegistration_2022_01_01">
            <soap:operation soapAction="http://fmk-teknik.dk/160#CreatePatientRegistration"
                            style="document"/>
            <wsdl:input name="CreatePatientRegistrationRequest_2022_01_01">
                &fmkStandardSOAPRequestHeaders;
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreatePatientRegistrationResponse_2022_01_01">
                &fmkStandardSOAPResponseHeaders;
                <soap:body use="literal"/>
            </wsdl:output>
            &bindingFaultDeclaration;
        </wsdl:operation>

       <wsdl:operation name="GetDeliverySitesForPharmacy_2022_01_01">
           <soap:operation soapAction="http://fmk-teknik.dk/160#GetDeliverySitesForPharmacy" style="document"/>
           <wsdl:input name="GetDeliverySitesForPharmacyRequest_2022_01_01">
               &fmkStandardSOAPRequestHeaders;
               <soap:body use="literal"/>
           </wsdl:input>
           <wsdl:output name="GetDeliverySitesForPharmacyResponse_2022_01_01">
               &fmkStandardSOAPResponseHeaders;
               <soap:body use="literal"/>
           </wsdl:output>
           &bindingFaultDeclaration;
       </wsdl:operation>

        <wsdl:operation name="GetPatientOrganisationRelation_2022_01_01">
            <soap:operation soapAction="http://fmk-teknik.dk/160#GetPatientOrganisationRelation"
                            style="document"/>
            <wsdl:input name="GetPatientOrganisationRelationRequest_2022_01_01">
                &fmkStandardSOAPRequestHeaders;
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPatientOrganisationRelationResponse_2022_01_01">
                &fmkStandardSOAPResponseHeaders;
                <soap:body use="literal"/>
            </wsdl:output>
            &bindingFaultDeclaration;
        </wsdl:operation>

        <wsdl:operation name="GetPatientOrganisationRelations_2022_01_01">
            <soap:operation soapAction="http://fmk-teknik.dk/160#GetPatientOrganisationRelations"
                            style="document"/>
            <wsdl:input name="GetPatientOrganisationRelationsRequest_2022_01_01">
                &fmkStandardSOAPRequestHeaders;
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPatientOrganisationRelationsResponse_2022_01_01">
                &fmkStandardSOAPResponseHeaders;
                <soap:body use="literal"/>
            </wsdl:output>
            &bindingFaultDeclaration;
        </wsdl:operation>

        <wsdl:operation name="GetPatientRegistration_2022_01_01">
            <soap:operation soapAction="http://fmk-teknik.dk/160#GetPatientRegistration"
                            style="document"/>
            <wsdl:input name="GetPatientRegistrationRequest_2022_01_01">
                &fmkStandardSOAPRequestHeaders;
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPatientRegistrationResponse_2022_01_01">
                &fmkStandardSOAPResponseHeaders;
                <soap:body use="literal"/>
            </wsdl:output>
            &bindingFaultDeclaration;
        </wsdl:operation>

        <wsdl:operation name="RegisterPatientOrganisationRelation_2022_01_01">
            <soap:operation soapAction="http://fmk-teknik.dk/160#RegisterPatientOrganisationRelation"
                            style="document"/>
            <wsdl:input name="RegisterPatientOrganisationRelationRequest_2022_01_01">
                &fmkStandardSOAPRequestHeaders;
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="RegisterPatientOrganisationRelationResponse_2022_01_01">
                &fmkStandardSOAPResponseHeaders;
                <soap:body use="literal"/>
            </wsdl:output>
            &bindingFaultDeclaration;
        </wsdl:operation>

        <wsdl:operation name="RemovePatientOrganisationRelation_2022_01_01">
            <soap:operation soapAction="http://fmk-teknik.dk/160#RemovePatientOrganisationRelation"
                            style="document"/>
            <wsdl:input name="RemovePatientOrganisationRelationRequest_2022_01_01">
                &fmkStandardSOAPRequestHeaders;
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="RemovePatientOrganisationRelationResponse_2022_01_01">
                &fmkStandardSOAPResponseHeaders;
                <soap:body use="literal"/>
            </wsdl:output>
            &bindingFaultDeclaration;
        </wsdl:operation>

        <wsdl:operation name="RemovePatientRegistration_2022_01_01">
            <soap:operation soapAction="http://fmk-teknik.dk/160#RemovePatientRegistration"
                            style="document"/>
            <wsdl:input name="RemovePatientRegistrationRequest_2022_01_01">
                &fmkStandardSOAPRequestHeaders;
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="RemovePatientRegistrationResponse_2022_01_01">
                &fmkStandardSOAPResponseHeaders;
                <soap:body use="literal"/>
            </wsdl:output>
            &bindingFaultDeclaration;
        </wsdl:operation>


       <wsdl:operation name="SearchDeliverySites_2022_01_01">
           <soap:operation soapAction="http://fmk-teknik.dk/160#SearchDeliverySites"
                           style="document"/>
           <wsdl:input name="SearchDeliverySitesRequest_2022_01_01">
               &fmkStandardSOAPRequestHeaders;
               <soap:body use="literal"/>
           </wsdl:input>
           <wsdl:output name="SearchDeliverySitesResponse_2022_01_01">
               &fmkStandardSOAPResponseHeaders;
               <soap:body use="literal"/>
           </wsdl:output>
           &bindingFaultDeclaration;
       </wsdl:operation>

   </wsdl:binding>

    <wsdl:service name="PatientRelation">
        <wsdl:port name="PatientRelationPort" binding="tns:PatientRelationBinding">
            <soap:address location="https://test1.fmk.netic.dk/fmk12/ws/PatientOrganisationRelation"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
