etc/wsdl/PEMAuditLog_2009_01_01.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:medicinecard20080601="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" 
    xmlns:medicinecard20090101="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" 
    xmlns:medicinecard20100601="http://www.dkma.dk/medicinecard/xml.schema/2010/06/01" 
	xmlns:tns="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01"
	xmlns:dglws="http://www.medcom.dk/dglws/1.0/xsd"
	xmlns:medcom="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd"
	xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
	targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01"
	>
	
		
	<wsdl:types>
		<xs:schema targetNamespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
			<xs:include schemaLocation="../schemas/2008/06/01/medcom.xsd" />
		</xs:schema>
		
		<xs:schema targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" elementFormDefault="qualified">
            <xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../schemas/2008/06/01/DKMA_GetAuditLogRequestStructure.xsd"/>
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2010/06/01" schemaLocation="../schemas/2010/06/01/DKMA_GetAssistantAuditLogRequestStructure.xsd"/>
			<xs:import namespace="http://www.dkma.dk/medicinecard/xml.schema/2010/06/01" schemaLocation="../schemas/2010/06/01/DKMA_GetAssistantAuditLogResponseStructure.xsd"/>
			<xs:include schemaLocation="../schemas/2009/01/01/DKMA_GetAuditLogResponseStructure.xsd"/>
		</xs:schema>
	</wsdl:types>
	
	<wsdl:message name="GetAuditLogRequest">
		<wsdl:part name="GetAuditLogRequest" element="medicinecard20080601:GetAuditLogRequestStructure"/>
	</wsdl:message>
	<wsdl:message name="GetAuditLogResponse">
		<wsdl:part name="GetAuditLogResponse" element="medicinecard20090101:GetAuditLogResponseStructure"/>
	</wsdl:message>

	<wsdl:message name="GetAssistantAuditLogRequest">
		<wsdl:part name="GetAssistantAuditLogRequest" element="medicinecard20100601:GetAssistantAuditLogRequestStructure"/>
	</wsdl:message>
	<wsdl:message name="GetAssistantAuditLogResponse">
		<wsdl:part name="GetAssistantAuditLogResponse" element="medicinecard20100601:GetAssistantAuditLogResponseStructure"/>
	</wsdl:message>
	
	
	<wsdl:message name="DGWSFault">
		<wsdl:part name="fault" element="medcom:FaultCode" />
	</wsdl:message>
	
	<wsdl:portType name="PEMAuditLogPortType">
		<wsdl:operation name="GetAuditLog">
			<wsdl:input name="GetAuditLogRequest" message="tns:GetAuditLogRequest"/>
			<wsdl:output name="GetAuditLogResponse" message="tns:GetAuditLogResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>
		<wsdl:operation name="GetAssistantAuditLog">
			<wsdl:input name="GetAssistantAuditLogRequest" message="tns:GetAssistantAuditLogRequest"/>
			<wsdl:output name="GetAssistantAuditLogResponse" message="tns:GetAssistantAuditLogResponse"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PEMAuditLogBinding" type="tns:PEMAuditLogPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetAuditLog">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#GetAuditLog" style="document"/>
			<wsdl:input name="GetAuditLogRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetAuditLogResponse"><soap:body use="literal"/></wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetAssistantAuditLog">
			<soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01#GetAssistantAuditLog" style="document"/>
			<wsdl:input name="GetAssistantAuditLogRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetAssistantAuditLogResponse"><soap:body use="literal"/></wsdl:output>
			<wsdl:fault name="DGWSFault"><soap:fault name="DGWSFault" use="literal"/> </wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PEMAuditLog">
		<wsdl:port name="PEMAuditLogPort" binding="tns:PEMAuditLogBinding">
			<soap:address location="http://trifork.lms.trifork.com/ws/PEMAuditLog"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
