etc/wsdl/Reimbursement_2012_12_01.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01"
	xmlns:tns="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	xmlns:medcom="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd"
	xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
	xmlns:sdsd201206="http://www.sdsd.dk/dgws/2012/06" 
	targetNamespace="http://nsi.dk/reimbursement/xml.schema/2012/12/01">

	<wsdl:types>

		<xs:schema targetNamespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
			<xs:include schemaLocation="../schemas/2008/06/01/medcom.xsd" />
		</xs:schema>

		<xs:schema targetNamespace="http://www.sdsd.dk/dgws/2012/06">
			<xs:include schemaLocation="../schemas/sdsd/2012/06/WhitelistingHeader.xsd" />
		</xs:schema>

		<xs:schema targetNamespace="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
			elementFormDefault="qualified">

			<xs:import
				namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
				schemaLocation="../schemas/2008/06/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" />

			<xs:include
				schemaLocation="../schemas/2012/12/01/CreateReimbursementApplicationRequest.xsd" />
			<xs:include
				schemaLocation="../schemas/2012/12/01/CreateReimbursementApplicationResponse.xsd" />

		</xs:schema>
	</wsdl:types>

	<wsdl:message name="SecurityHeader">
		<wsdl:part name="SecurityHeader" element="wsse:Security" />
	</wsdl:message>

	<wsdl:message name="MedComHeader">
		<wsdl:part name="MedcomHeader" element="medcom:Header" />
	</wsdl:message>

	<wsdl:message name="WhitelistingHeader">
		<wsdl:part name="WhitelistingHeader" element="sdsd201206:WhitelistingHeader" />
	</wsdl:message>

	<wsdl:message name="TimingHeader">
		<wsdl:part name="TimingHeader" element="medicinecard20120601:TimingList" />
	</wsdl:message>

	<wsdl:message name="CreateReimbursementApplicationRequest_2012_12_01">
		<wsdl:part name="CreateReimbursementApplicationRequest"
			element="reimbursement20121201:CreateReimbursementApplicationRequest" />
	</wsdl:message>

	<wsdl:message name="CreateReimbursementApplicationResponse_2012_12_01">
		<wsdl:part name="CreateReimbursementApplicationResponse"
			element="reimbursement20121201:CreateReimbursementApplicationResponse" />
	</wsdl:message>

	<wsdl:message name="DGWSFault">
		<wsdl:part name="fault" element="medcom:FaultCode" />
	</wsdl:message>

	<wsdl:portType name="ReimbursementPortType">

		<wsdl:operation name="CreateReimbursementApplication_2012_12_01">
			<wsdl:input name="CreateReimbursementApplicationRequest_2012_12_01"
				message="tns:CreateReimbursementApplicationRequest_2012_12_01" />
			<wsdl:output name="CreateReimbursementApplicationResponse_2012_12_01"
				message="tns:CreateReimbursementApplicationResponse_2012_12_01" />
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault" />
		</wsdl:operation>

	</wsdl:portType>


	<wsdl:binding name="ReimbursementBinding" type="tns:ReimbursementPortType">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="CreateReimbursementApplication_2012_12_01">
			<soap:operation
				soapAction="http://nsi.dk/reimbursement/xml.schema/2012/12/01#CreateReimbursementApplication"
				style="document" />
			<wsdl:input name="CreateReimbursementApplication_2012_12_01">
				<soap:header use="literal" part="SecurityHeader"
					message="tns:SecurityHeader" />
				<soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader" />
				<soap:header use="literal" part="OnBehalfOfHeader"
					message="tns:OnBehalfOfHeader" />
				<soap:header use="literal" part="WhitelistingHeader"
					message="tns:WhitelistingHeader" wsdl:required="true" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="GetMedicineCardResponse_2012_06_01">
				<soap:header use="literal" part="TimingHeader" message="tns:TimingHeader" />
				<soap:header use="literal" part="ReplicationStatusHeader"
					message="tns:ReplicationStatusHeader" />
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="DGWSFault">
				<soap:fault name="DGWSFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="Reimbursement">
		<wsdl:port name="ReimbursementPort" binding="tns:ReimbursementBinding">
			<soap:address location="https://trifork.lms.trifork.com/fmk12/ws/medicinecard" />
		</wsdl:port>

	</wsdl:service>

</wsdl:definitions>
