etc/wsdl/VersionService_2014_08_01.wsdl

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:medcom="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd"
                  xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                  xmlns:tns="http://www.dkma.dk/medicinecard/xml.schema/2014/08/01"
                  xmlns:medicinecard20140801="http://www.dkma.dk/medicinecard/xml.schema/2014/08/01"
                  targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/08/01">

    <wsdl:types>

        <xs:schema targetNamespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
            <xs:include schemaLocation="../schemas/medcom/dgws/2006/04/medcom.xsd"/>
        </xs:schema>

        <xs:schema targetNamespace="http://www.sdsd.dk/dgws/2012/06">
            <xs:include schemaLocation="../schemas/sdsd/2012/06/WhitelistingHeader.xsd"/>
        </xs:schema>

        <xs:schema targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/08/01"
                   elementFormDefault="qualified"
                   attributeFormDefault="unqualified">

            <xs:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                       schemaLocation="../schemas/oasis/2004/01/oasis-200401_orig-wss-wssecurity-secext-1.0.xsd"/>

            <xs:include schemaLocation="../schemas/2014/08/01/VersionService.xsd" />

<!--            &lt;!&ndash; Copied from 2012_06_01 PersonIdentifier &ndash;&gt;
            <element name="PersonIdentifier" type="medicinecard20140801:PersonIdentifierType">
                <annotation>
                    <documentation xml:lang="en-GB">Element for a person identifier, according to the Danish CPR
                        format.
                    </documentation>
                    <documentation xml:lang="da-DK">Element for er CPR-nummer</documentation>
                </annotation>
            </element>
            <simpleType name="PersonIdentifierType">
                <restriction base="string">
                    <pattern
                            value="((((0[1-9]|1[0-9]|2[0-9]|3[0-1])(01|03|05|07|08|10|12))|((0[1-9]|1[0-9]|2[0-9]|30)(04|06|09|11))|((0[1-9]|1[0-9]|2[0-9])(02)))[0-9]{6})"/>
                </restriction>
            </simpleType>
            <element name="MedicineCardVersionsRequest" type="medicinecard20140801:MedicineCardVersionsRequestType"/>
            <complexType name="MedicineCardVersionsRequestType">
                <sequence>
                    <element name="PersonIdentifier" type="medicinecard20140801:PersonIdentifierType" minOccurs="1"
                             maxOccurs="unbounded"/>
                </sequence>
            </complexType>

            <element name="VersionNumber_12" type="medicinecard20140801:MedicineCardVersionType">
                <annotation>
                    <documentation xml:lang="en-GB">Sequential version number for FMK &lt; 1.4</documentation>
                    <documentation xml:lang="da-DK">Sekventielt versionsnummer for FMK &lt; 1.4</documentation>
                </annotation>
            </element>
            <element name="VersionNumber_14" type="medicinecard20140801:MedicineCardVersionType">
                <annotation>
                    <documentation xml:lang="en-GB">Non-sequential version number for FMK &gt; 1.4</documentation>
                    <documentation xml:lang="da-DK">Versionsnummer for FMK &gt; 1.4</documentation>
                </annotation>
            </element>
            <simpleType name="MedicineCardVersionType">
                <restriction base="long"/>
            </simpleType>

            <element name="MedicineCardVersions" type="medicinecard20140801:MedicineCardVersionsType">

            </element>
            <complexType name="MedicineCardVersionsType">
                <sequence>
                    <element name="VersionNumber_12" type="medicinecard20140801:MedicineCardVersionType"/>
                    <element name="VersionNumber_14" type="medicinecard20140801:MedicineCardVersionType"/>
                </sequence>
            </complexType>

            <element name="MedicineCardVersionsResponse" type="medicinecard20140801:MedicineCardVersionsResponseType">
                <annotation>
                    <documentation xml:lang="en-GB">Element that contains a person identifier and a list of versions for
                        his medicinecards. Both 1.2.x version and 1.4.x versions are returned
                    </documentation>
                    <documentation xml:lang="da-DK">Element der indeholder et CPR nummer og en liste af
                        medicinkortversioner. Både 1.2.x versionsnummer og 1.4.x versionsnummer returneres
                    </documentation>
                </annotation>
            </element>
            <complexType name="MedicineCardVersionsResponseType">
                <sequence>
                    <element name="MedicineCardVersionsForCPR"
                             type="medicinecard20140801:MedicineCardVersionsForCPRType" minOccurs="0"
                             maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="MedicineCardVersionsForCPRType">
                <sequence>
                    <element name="PersonIdentifier" type="medicinecard20140801:PersonIdentifierType"/>
                    <sequence>
                        <element name="MedicineCardVersions" type="medicinecard20140801:MedicineCardVersionsType"
                                 minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </sequence>
            </complexType>


            &lt;!&ndash; DrugMedication versions &ndash;&gt;
            &lt;!&ndash; Copied from 2012_06_01 DrugMedicationVersion &ndash;&gt;
            <element name="DrugMedicationVersion" type="medicinecard20140801:DrugMedicationVersionType">
                <annotation>
                    <documentation xml:lang="en-GB">Version number of the drug medication</documentation>
                    <documentation xml:lang="da-DK">Lægemiddelordinationens versionsnummer</documentation>
                </annotation>
            </element>
            <simpleType name="DrugMedicationVersionType">
                <restriction base="long">
                    <minInclusive value="1"/>
                </restriction>
            </simpleType>

            &lt;!&ndash; Copied from 2012_06_01 DrugMedicationIdentifier &ndash;&gt;
            <element name="DrugMedicationIdentifier" type="medicinecard20140801:DrugMedicationIdentifierType">
                <annotation>
                    <documentation xml:lang="en-GB">Unique identification of the drug medication</documentation>
                    <documentation xml:lang="da-DK">Unik identifikation af lægemiddelordinationen</documentation>
                </annotation>
            </element>
            <simpleType name="DrugMedicationIdentifierType">
                <restriction base="long">
                    <minInclusive value="1"/>
                </restriction>
            </simpleType>
            <element name="DrugMedicationVersionsRequest"
                     type="medicinecard20140801:DrugMedicationVersionsRequestType"/>
            <complexType name="DrugMedicationVersionsRequestType">
                <sequence>
                    <element name="DrugMedicationIdentifier" type="medicinecard20140801:DrugMedicationIdentifierType"
                             maxOccurs="unbounded"/>
                </sequence>
            </complexType>

            <complexType name="DrugMedicationIdentifierListType">
                <sequence>
                    <element name="DrugMedicationIdentifier" type="medicinecard20140801:DrugMedicationIdentifierType"
                             maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="DrugMedicationVersionsForIdentifierType">
                <sequence>
                    <element name="DrugMedicationIdentifier" type="medicinecard20140801:DrugMedicationIdentifierType"/>
                    <sequence>
                        <element name="DrugMedicationVersion" type="medicinecard20140801:DrugMedicationVersionType"
                                 maxOccurs="unbounded"/>
                    </sequence>
                </sequence>
            </complexType>

            <element name="DrugMedicationVersionsResponse"
                     type="medicinecard20140801:DrugMedicationVersionsResponseType"/>
            <complexType name="DrugMedicationVersionsResponseType">
                <sequence>
                    <element name="DrugMedicationsForIdentifier"
                             type="medicinecard20140801:DrugMedicationVersionsForIdentifierType" minOccurs="0"
                             maxOccurs="unbounded"/>
                </sequence>
            </complexType>-->

        </xs:schema>
    </wsdl:types>

    <wsdl:message name="SecurityHeader">
        <wsdl:part name="SecurityHeader" element="wsse:Security"/>
    </wsdl:message>

    <wsdl:message name="MedComHeader">
        <wsdl:part name="MedcomHeader" element="medcom:Header"/>
    </wsdl:message>

    <wsdl:message name="MedicineCardVersionsRequest">
        <wsdl:part name="MedicineCardVersionsRequest" element="tns:MedicineCardVersionsRequest"/>
    </wsdl:message>
    <wsdl:message name="MedicineCardVersionsResponse">
        <wsdl:part name="MedicineCardVersionsResponse" element="tns:MedicineCardVersionsResponse"/>
    </wsdl:message>

    <wsdl:message name="DrugMedicationVersionsRequest">
        <wsdl:part name="DrugMedicationVersionsRequest" element="tns:DrugMedicationVersionsRequest"/>
    </wsdl:message>
    <wsdl:message name="DrugMedicationVersionsResponse">
        <wsdl:part name="DrugMedicationVersionsResponse" element="tns:DrugMedicationVersionsResponse"/>
    </wsdl:message>


    <wsdl:message name="DGWSFault">
        <wsdl:part name="fault" element="medcom:FaultCode"/>
    </wsdl:message>

    <wsdl:portType name="VersionsPortType">

        <wsdl:operation name="MedicineCardVersions">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2014/08/01#MedicineCardVersions"
                            style="document"/>
            <wsdl:input name="MedicineCardVersionsRequest" message="tns:MedicineCardVersionsRequest"/>
            <wsdl:output name="MedicineCardVersionsResponse" message="tns:MedicineCardVersionsResponse"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>

        <wsdl:operation name="DrugMedicationVersions">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2014/08/01#DrugMedicationVersions"
                            style="document"/>
            <wsdl:input name="DrugMedicationVersionsRequest" message="tns:DrugMedicationVersionsRequest"/>
            <wsdl:output name="DrugMedicationVersionsResponse" message="tns:DrugMedicationVersionsResponse"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="VersionsBinding" type="tns:VersionsPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="MedicineCardVersions">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2014/08/01#MedicineCardVersions"
                            style="document"/>
            <wsdl:input name="MedicineCardVersionsRequest">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="MedicineCardVersionsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="DrugMedicationVersions">
            <soap:operation soapAction="http://www.dkma.dk/medicinecard/xml.schema/2014/08/01#DrugMedicationVersions"
                            style="document"/>
            <wsdl:input name="DrugMedicationVersionsRequest">
                <soap:header use="literal" part="SecurityHeader" message="tns:SecurityHeader"/>
                <soap:header use="literal" part="MedcomHeader" message="tns:MedComHeader"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="DrugMedicationVersionsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>


    <wsdl:service name="Versions">
        <wsdl:port name="VersionsPort" binding="tns:VersionsBinding">
            <soap:address location="http://nsi.dk/ws/Versions"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>