etc/schemas/2015/01/01/E2/AttachOrDetachPrescriptionMedicationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<element name="AttachOrDetachPrescriptionMedicationResponse" type="medicinecard20150101E2:AttachOrDetachPrescriptionMedicationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">A response from a request whichs attaches prescription medications to drug medications or detaches prescription medications</documentation>
			<documentation xml:lang="da-DK">Svar fra en forespørgsel der tilknytter receptordinationer til lægemiddelordinationer eller fjerner tilknytningen</documentation>
		</annotation>
	</element>
	<complexType name="AttachOrDetachPrescriptionMedicationResponseType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150101E2:PersonIdentifierType" />
			<element name="MedicineCardVersion" type="medicinecard20150101:MedicineCardVersionType"/>
		</sequence>
	</complexType>
</schema>
