etc/schemas/2015/01/01/E2/CancelPrescriptionRequestRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
        xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">
    <import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
    <include schemaLocation="importsFrom20150101E2.xsd"/>
    <element name="CancelPrescriptionRequestRequest" type="medicinecard20150101E2:CancelPrescriptionRequestRequestType">
        <annotation>
            <documentation xml:lang="en-GB">Cancel prescription request</documentation>
            <documentation xml:lang="da-DK">Annullér receptanmodninger</documentation>
        </annotation>
    </element>
    <complexType name="CancelPrescriptionRequestRequestType">
        <sequence>
            <element name="PersonIdentifier" type="medicinecard20150101E2:PersonIdentifierType"/>
            <element name="MedicineCardVersion" type="medicinecard20150101:MedicineCardVersionType"/>
            <element name="ModifiedBy" type="medicinecard20150101E2:ModificatorType" minOccurs="0"/>
            <element name="ReportedBy" type="medicinecard20150101E2:ModificatorType" minOccurs="0"/>
            <element name="PrescriptionRequest" type="medicinecard20150101E2:PrescriptionRequestToCancelType" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>