etc/schemas/2015/01/01/E2/CancelPrescriptionRequestResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
    <include schemaLocation="importsFrom20150101E2.xsd"/>
    <element name="CancelPrescriptionRequestResponse" type="medicinecard20150101E2:CancelPrescriptionRequestResponseType"/>
    <complexType name="CancelPrescriptionRequestResponseType">
        <annotation>
            <documentation xml:lang="en-GB">Response for invalidating one or more prescription requests</documentation>
            <documentation xml:lang="da-DK">Svar på annullering af en eller flere recept anmodninger</documentation>
        </annotation>
        <sequence>
            <element name="PersonIdentifier" type="medicinecard20150101E2:PersonIdentifierType"/>
            <element name="VersionMismatchWarning" type="medicinecard20150101:VersionMismatchWarningType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
