etc/schemas/2015/01/01/E2/CreateEffectuationOnDrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<complexType name="CreateEffectuationOnDrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Elemenet for adding an effecutation on a drug prescription</documentation>
			<documentation xml:lang="da-DK">Element for en tilføjelse af en effektuering på en lægemiddelordination</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="medicinecard20150101:DrugMedicationIdentifierType"/>
			<element name="Effectuation" type="medicinecard20150101E2:CreateEffectuationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
