etc/schemas/2015/01/01/E2/CreatedPrescriptionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<element name="CreatedPrescriptionRequest" type="medicinecard20150101E2:CreatedPrescriptionRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Response on a prescription request</documentation>
			<documentation xml:lang="da-DK">Svar på receptanmodning </documentation>
		</annotation>
	</element>
	<complexType name="CreatedPrescriptionRequestType">
		<sequence>
			<element name="Identifier" type="medicinecard20150101E2:PrescriptionRequestIdentifierType"/>
			<element name="Version" type="medicinecard20150101E2:PrescriptionRequestVersionType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
