etc/schemas/2015/01/01/E2/CreatePrescriptionRequestRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<element name="CreatePrescriptionRequestRequest" type="medicinecard20150101E2:CreatePrescriptionRequestRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Create a prescription request</documentation>
			<documentation xml:lang="da-DK">Opret en receptanmodning</documentation>
		</annotation>
	</element>
	<complexType name="CreatePrescriptionRequestRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150101E2:PersonIdentifierType"/>
			<element name="MedicineCardVersion" type="medicinecard20150101:MedicineCardVersionType"/>
			<element name="OrderedBy" type="medicinecard20150101E2:ModificatorType"/>
			<element name="ReportedBy" type="medicinecard20150101E2:ModificatorType" minOccurs="0"/>
			<element name="PrescriptionRequest" type="medicinecard20150101E2:PrescriptionRequestToCreateType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
