etc/schemas/2015/01/01/E2/CreateOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<complexType name="CreateOrderType">
		<annotation>
			<documentation xml:lang="en-GB">Element for creating an order for a pharmacy</documentation>
			<documentation xml:lang="da-DK">Element til at oprette en bestilling til et apotek</documentation>
		</annotation>
		<sequence>
			<element name="CreatedBy" type="medicinecard20150101:ModificatorType" minOccurs="0"/>
			<element name="OrderedAtPharmacy" type="medicinecard20150101:OrganisationType"/>
			<element name="DoseDispensing" type="medicinecard20150101E2:OrderWithDoseDispensingType" minOccurs="0"/>
			<choice minOccurs="0" maxOccurs="3">
				<element name="DeliveryInformation" type="medicinecard20150101:DeliveryInformationType"/>
				<element name="OrderInstruction" type="medicinecard20150101:OrderInstructionType"/>
			</choice>
			<element name="Delivery" type="medicinecard20150101:DeliveryType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
