etc/schemas/2015/01/01/E2/CreatePrescriptionRequestResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<element name="CreatePrescriptionRequestResponse" type="medicinecard20150101E2:CreatePrescriptionRequestResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Created a prescription request</documentation>
			<documentation xml:lang="da-DK">Oprettede en receptanmodning</documentation>
		</annotation>
	</element>
	<complexType name="CreatePrescriptionRequestResponseType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150101E2:PersonIdentifierType" />
            <element name="MedicineCardVersion" type="medicinecard20150101:MedicineCardVersionType"/>
            <element name="VersionMismatchWarning" type="medicinecard20150101:VersionMismatchWarningType" minOccurs="0"/>
			<element name="PrescriptionRequest" type="medicinecard20150101E2:CreatedPrescriptionRequestType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
