etc/schemas/2015/01/01/E2/DeleteEffectuationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<element name="DeleteEffectuationRequest" type="medicinecard20150101E2:DeleteEffectuationRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document containing one or more documents for deleting effectuations</documentation>
			<documentation xml:lang="da-DK">Request-dokument der indeholder en eller flere dokumenter til at slette effektueringer</documentation>
		</annotation>
	</element>
	<complexType name="DeleteEffectuationRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150101E2:PersonIdentifierType" />
			<element name="MedicineCardVersion" type="medicinecard20150101:MedicineCardVersionType"/>
			<element name="ModifiedBy" type="medicinecard20150101E2:ModificatorType" minOccurs="0"/>
			<element name="ReportedBy" type="medicinecard20150101E2:ModificatorType" minOccurs="0"/>
			<element name="Effectuation" type="medicinecard20150101E2:DeleteEffectuationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
