etc/schemas/2015/01/01/E2/DosageForRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<element name="Dosage" type="medicinecard20150101E2:DosageForRequestType">
		<annotation>
			<documentation xml:lang="en-GB">How often and when the drug should be given</documentation>
			<documentation xml:lang="da-DK">Angivelse af hvor ofte og hvornår et lægemiddel skal gives</documentation>
		</annotation>
	</element>
	<complexType name="DosageForRequestType">
		<sequence>
			<choice>
				<element name="Structures" type="medicinecard20150101E2:DosageStructuresForRequestType"/>
				<element name="FreeText" type="medicinecard20150101:DosageFreeTextForRequestType"/>
				<element name="AdministrationAccordingToSchemaInLocalSystem" type="medicinecard20150101:AdministrationAccordingToSchemaInLocalSystemForRequestType"/>
			</choice>
			<element name="Type" type="medicinecard20150101:DosageTypeType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
