etc/schemas/2015/01/01/E2/DosageStructuresForResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<element name="DosageStructuresForResponse" type="medicinecard20150101E2:DosageStructuresForResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Description of the dosage times of a treatment</documentation>
			<documentation xml:lang="da-DK">Beskrivelse af doseringstidspunkter for en behandling</documentation>
		</annotation>
	</element>
	<complexType name="DosageStructuresForResponseType">
		<sequence>
			<choice>
				<element name="UnitText" type="medicinecard20150101E2:DosageQuantityUnitTextType"/>
				<element name="UnitTexts" type="medicinecard20150101E2:DosageQuantityUnitTextsType"/>
			</choice>
			<choice minOccurs="1" maxOccurs="unbounded">
				<element name="EmptyStructure" type="medicinecard20150101:EmptyDosageStructureType"/>
				<element name="Structure" type="medicinecard20150101:DosageStructureForResponseType" maxOccurs="unbounded"/>
			</choice>
			<element name="DosageTranslationCombined" type="medicinecard20150101:DosageTranslationType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
