etc/schemas/2015/01/01/E2/DoseDispensingPeriod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
        xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">


    <import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<complexType name="DoseDispensingPeriodType">
        <annotation>
            <documentation xml:lang="en-GB">Dose dispensing period</documentation>
            <documentation xml:lang="da-DK">Dosisdispenseringsperiode</documentation>
        </annotation>
        <sequence>
        	<element name="Identifier" type="medicinecard20150101E2:DoseDispensingPeriodIdentifierType" minOccurs="0"/>
        	<element name="Status" type="medicinecard20150101E2:DoseDispensingStatusType" minOccurs="0"/>
            <element name="StartDate" type="medicinecard20150101E2:DoseDispensingPeriodStartDateType" minOccurs="0"/>
            <element name="EndDate" type="medicinecard20150101E2:DoseDispensingPeriodEndDateType" minOccurs="0"/>
            <element name="Deadline" type="medicinecard20150101E2:DoseDispensingDeadlineType" minOccurs="0"/>
            <element name="EffectuationDate" type="medicinecard20150101E2:DoseDispensedEffectuationDateType" minOccurs="0"/>
            <element name="ExpectedDelivery" type="medicinecard20150101E2:ExpectedDeliveryDateTimeType" minOccurs="0" />
        	<element name="ProductionIdentifier" type="medicinecard20150101E2:DoseDispensingProductionIdentifierType" minOccurs="0"/> 
            <element name="PrivateDoseDispensedMedication" type="medicinecard20150101E2:PrivateDoseDispensedMedicationType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="DoseDispensedMedication" type="medicinecard20150101E2:DoseDispensedMedicationType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="DetailedSpecification" type="medicinecard20150101E2:DoseDispensingDetailedSpecificationType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
