etc/schemas/2015/01/01/E2/DoseDispensedMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
        xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

	<include schemaLocation="DoseDispensingNotPrescribedByDoctorFlag.xsd"/>
    <import  schemaLocation="../DrugMedication.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
    <include schemaLocation="DoseDispensingWarning.xsd"/>
    <include schemaLocation="PlannedAdministration.xsd"/>
    <import  schemaLocation="../DoseQuantity.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
    <import  schemaLocation="../DoseDispensingEndDate.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>

    <complexType name="DoseDispensedMedicationType">
        <annotation>
            <documentation xml:lang="en-GB">Dose dispensing medication.</documentation>
            <documentation xml:lang="da-DK">Dosisdispenseret lægemiddel.</documentation>
        </annotation>
        <sequence>
        	<element name="NotPrescribedByDoctor" type="medicinecard20150101E2:DoseDispensingNotPrescribedByDoctorFlagType" minOccurs="0"/>
            <element name="DrugMedication" type="medicinecard20150101:DrugMedicationType"/>
            <element name="Warning" type="medicinecard20150101E2:DoseDispensingWarningType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="PlannedAdministration" type="medicinecard20150101E2:PlannedAdministrationType" minOccurs="0"/>
            <element name="TotalNumberOfDoseDispensedQuantity" type="medicinecard20150101:DoseQuantityType" minOccurs="0"/>
            <element name="DoseDispensingEndDate" type="medicinecard20150101:DoseDispensingEndDateType" minOccurs="0"/>     
        </sequence>
    </complexType>
</schema>
