etc/schemas/2015/01/01/E2/DoseDispensedMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
        xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">


    <import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<complexType name="DoseDispensedMedicationType">
        <annotation>
            <documentation xml:lang="en-GB">Dose dispensing medication.</documentation>
            <documentation xml:lang="da-DK">Dosisdispenseret lægemiddel.</documentation>
        </annotation>
        <sequence>
        	<element name="Identifier" type="medicinecard20150101E2:PlannedDispensingIdentifierType" minOccurs="0"/>
        	<choice>
            	<element name="DrugMedication" type="medicinecard20150101E2:DrugMedicationType"/>
				<element name="Prescription" type="medicinecard20150101E2:PrescriptionMedicationType"/>
            </choice>
            <element name="ShortName" type="medicinecard20150101E2:DrugShortNameType" minOccurs="0"/>
            <element name="Description" type="medicinecard20150101E2:DrugDescriptionTextType" minOccurs="0"/>
            <element name="Warning" type="medicinecard20150101E2:DoseDispensingWarningType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="Substitution" type="medicinecard20150101E2:DrugSubstitutionType" minOccurs="0"/>
            <element name="AdministrationInstruction" type="medicinecard20150101E2:AdministrationInstructionType" minOccurs="0" />
            <element name="PlannedAdministration" type="medicinecard20150101E2:PlannedAdministrationType" minOccurs="0"/>
            <element name="TotalNumberOfDoseDispensedQuantity" type="medicinecard20150101:DoseQuantityType" minOccurs="0"/>
            <element name="DoseDispensingEndDate" type="medicinecard20150101:DoseDispensingEndDateType" minOccurs="0"/>     
        </sequence>
    </complexType>
</schema>
