etc/schemas/2015/01/01/E2/DoseDispensedPrescriptionDispensingForPrescriptionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<element name="DoseDispensedPrescriptionDispensingForPrescriptionRequest" type="medicinecard20150101E2:DoseDispensedPrescriptionDispensingForPrescriptionRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Information dispensing the package through dosage dispensing</documentation>
			<documentation xml:lang="da-DK">Information til dosisdispensering</documentation>
		</annotation>
	</element>
	<complexType name="DoseDispensedPrescriptionDispensingForPrescriptionRequestType">
		<sequence>
			<element name="PackageNumber" type="medicinecard20150101:PackageNumberType"/>
			<element name="CopyRequired" type="medicinecard20150101:CopyRequiredType"/>
		</sequence>
	</complexType>
</schema>
