etc/schemas/2015/01/01/E2/DrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" 
		xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" 
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<complexType name="DrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">An overview of the drug medication (a medication on the medicine card)</documentation>
			<documentation xml:lang="da-DK">En oversigt over lægemiddelordination (en ordination på medicinkortet)</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="medicinecard20150101:DrugMedicationIdentifierType"/>
			<element name="Version" type="medicinecard20150101:DrugMedicationVersionType"/>
			<element name="PreviousVersion" type="medicinecard20150101:DrugMedicationVersionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="NextVersion" type="medicinecard20150101:DrugMedicationVersionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ParentIdentifier" type="medicinecard20150101:DrugMedicationIdentifierType" minOccurs="0"/>
			<element name="Created" type="medicinecard20150101E2:CreatedType"/>
			<element name="ReportedBy" type="medicinecard20150101E2:ModificatorType" minOccurs="0"/>
			<element name="Modified" type="medicinecard20150101E2:ModifiedType" minOccurs="0"/>
			<element name="ModifiedNonclinical" type="medicinecard20150101E2:ModifiedNonclinicalType" minOccurs="0"/>
			<element name="Type" type="medicinecard20150101E2:DrugMedicationTypeType" />
            <element name="FollowUpDates" type="medicinecard20150101:FollowUpDatesType" minOccurs="0"/>
			<element name="Paused" type="medicinecard20150101E2:PausedType" minOccurs="0"/>
			<element name="Withdrawn" type="medicinecard20150101E2:WithdrawnType" minOccurs="0"/>
			<element name="HasNegativeConsent" type="medicinecard20150101:HasNegativeConsentType" minOccurs="0"/>
			<element name="BeginEndDate" type="medicinecard20150101:DrugMedicationBeginEndDateType"/>
			<element name="Indication" type="medicinecard20150101:IndicationType"/>
			<element name="RouteOfAdministration" type="medicinecard20150101:RouteOfAdministrationType"/>
			<element name="Drug" type="medicinecard20150101:DrugType"/>
			<element name="Dosage" type="medicinecard20150101E2:DosageForResponseType"/>
			<element name="SubstitutionAllowed" type="medicinecard20150101:SubstitutionAllowedType" minOccurs="0"/>
			<element name="Effectuation" type="medicinecard20150101E2:EffectuationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="InvalidEffectuation" type="medicinecard20150101:InvalidEffectuationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="PrescriptionMedication" type="medicinecard20150101E2:PrescriptionMedicationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="InvalidPrescriptionMedication" type="medicinecard20150101:InvalidPrescriptionMedicationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ReimbursementClause" type="medicinecard20150101:ReimbursementClauseType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
