etc/schemas/2015/01/01/E2/DrugSubstitution.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
        xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>

	<complexType name="DrugSubstitutionType">
		<annotation>
			<documentation xml:lang="en-GB">Specification of pharmacy substitution</documentation>
			<documentation xml:lang="da-DK">Detaljer vedrørende apotekets substitution</documentation>
		</annotation>
		<sequence>
			<element name="SubstitutionChosenByPatient" type="medicinecard20150101E2:SubstitutionChosenByPatientType" minOccurs="0"/>
			<element name="Drug" type="medicinecard20150101:DrugType"/>
		</sequence>
	</complexType>
</schema>
