etc/schemas/2015/01/01/E2/ForwardPrescriptionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" 
		xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>

	<complexType name="ForwardPrescriptionRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element which forwards a prescriptionrequest to another organisation</documentation>
			<documentation xml:lang="da-DK">Element der viderestiller en receptanmodning til en anden udsteder</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="medicinecard20150101E2:PrescriptionRequestIdentifierType" />
			<element name="ModificationMetadata" type="medicinecard20150101:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="PrescribingOrganisation" type="medicinecard20150101:OrganisationType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
