etc/schemas/2015/01/01/E2/GetDrugMedicationHistoryRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<element name="GetDrugMedicationHistoryRequest" type="medicinecard20150101E2:GetDrugMedicationHistoryRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a request for the history of a drug medication</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel efter historikken for en lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="GetDrugMedicationHistoryRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150101E2:PersonIdentifierType" />
			<element name="Identifier" type="medicinecard20150101:DrugMedicationIdentifierType"/>
			<element name="NegativeConsent" type="medicinecard20150101:NegativeConsentRequestType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
