etc/schemas/2015/01/01/E2/GetDrugMedicationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" 
		xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" 
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">
		
	<include schemaLocation="DrugMedication.xsd" />
	<import schemaLocation="../InvalidDrugMedication.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="../DrugMedicationWithNegativeConsent.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="../PersonIdentifier.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	
	<element name="GetDrugMedicationResponse" type="medicinecard20150101E2:GetDrugMedicationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a response with one or more drug medications</documentation>
			<documentation xml:lang="da-DK">Element for et svar med en eller flere lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="GetDrugMedicationResponseType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150101:PersonIdentifierType"/>
			<element name="DrugMedicationWithNegativeConsent" type="medicinecard20150101:DrugMedicationWithNegativeConsentType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="DrugMedication" type="medicinecard20150101E2:DrugMedicationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="InvalidDrugMedication" type="medicinecard20150101:InvalidDrugMedicationType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
