etc/schemas/2015/01/01/E2/GetDrugMedicationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns:cpr="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<element name="GetDrugMedicationRequest" type="medicinecard20150101E2:GetDrugMedicationRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a request for a drug medication</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel efter en lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="GetDrugMedicationRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150101E2:PersonIdentifierType" />
			<element name="Identifier" type="medicinecard20150101:DrugMedicationIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="IdentifierAndVersion" type="medicinecard20150101:DrugMedicationIdentifierAndVersionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="IdentifierAndDateTime" type="medicinecard20150101:DrugMedicationIdentifierAndDateTimeType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="NegativeConsent" type="medicinecard20150101:NegativeConsentRequestType" minOccurs="0"/>
			<element name="IncludePrescriptionMedications" type="medicinecard20150101:IncludePrescriptionMedicationsType"/>
			<element name="IncludeEffectuations" type="medicinecard20150101:IncludeEffectuationsType"/>			
		</sequence>
	</complexType>
</schema>
