etc/schemas/2015/01/01/E2/GetDoseDispensingCardRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" 
		xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" 
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">

	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<element name="GetDoseDispensingCardRequest" type="medicinecard20150101E2:GetDoseDispensingCardRequestType"/>

	<complexType name="GetDoseDispensingCardRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a requesting dose dispensing card(s) for a patient</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel efter dosisdispenseringskort for en patient</documentation>
		</annotation>
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150101E2:PersonIdentifierType" />
			<element name="RequestedPeriod">
				<complexType>
					<choice>
						<element name="CurrentPeriod" type="medicinecard20150101E2:CurrentDoseDispensingPeriodFlagType"/>
						<element name="CurrentAndPendingPeriods" type="medicinecard20150101E2:CurrentAndPendingDoseDispensingPeriodsFlagType"/>
						<element name="PendingPeriods" type="medicinecard20150101E2:PendingDoseDispensingPeriodsFlagType"/>
						<element name="IgnorePeriods" type="medicinecard20150101E2:IgnoreDoseDispensingPeriodsFlagType"/>
						<element name="RequestedDate" type="medicinecard20150101E2:DoseDispensingRequestedDateType"/>
					</choice>
				</complexType>
			</element>
			<element name="IncludeDetailedSpecification" type="medicinecard20150101E2:IncludeDetailedSpecificationFlagType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
