etc/schemas/2015/01/01/E2/GetOrdersResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">

	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<element name="GetOrdersResponse" type="medicinecard20150101E2:GetOrdersResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a request for a list of ordered effectuations for a patient</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel efter en list af bestillinger for en patient</documentation>
		</annotation>
	</element>
	<complexType name="GetOrdersResponseType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150101E2:PersonIdentifierType"/>
			<element name="Order" type="medicinecard20150101E2:OrderType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
