etc/schemas/2015/01/01/E2/GetOrderedEffectuationsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<element name="GetOrderedEffectuationsResponse" type="medicinecard20150101E2:GetOrderedEffectuationsResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Get ordered effectuations</documentation>
			<documentation xml:lang="da-DK">Opslag på bestilte udleveringer</documentation>
		</annotation>
	</element>
	<complexType name="GetOrderedEffectuationsResponseType">
		<sequence>
			<element name="Patient" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="PersonIdentifier" type="medicinecard20150101E2:PersonIdentifierType" />
						<element name="OrderedPrescriptionMedication" type="medicinecard20150101E2:OrderedPrescriptionMedicationDetailsType" minOccurs="0" maxOccurs="unbounded"/>
						<element name="OrderedEffectuation" type="medicinecard20150101E2:OrderedEffectuationDetailsType" minOccurs="0" maxOccurs="unbounded"/>
					</sequence>
				</complexType>
			</element>
			<element name="MoreAvailable" type="medicinecard20150101:MoreAvailableOrdersType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
