etc/schemas/2015/01/01/E2/GetPrescriptionMedicationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
		xmlns:medicinecard20150101E1="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">
		
		
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<element name="GetPrescriptionMedicationResponse" type="medicinecard20150101E2:GetPrescriptionMedicationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response with one or more prescription medications</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en svar med en eller flere receptordinationer</documentation>
		</annotation>
	</element>
	<complexType name="GetPrescriptionMedicationResponseType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150101E2:PersonIdentifierType" />
			<element name="PrescriptionMedication" type="medicinecard20150101E2:PrescriptionMedicationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="InvalidPrescriptionMedication" type="medicinecard20150101:InvalidPrescriptionMedicationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="PrivatePrescriptionMedication" type="medicinecard20150101E2:PrivatePrescriptionMedicationType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
