etc/schemas/2015/01/01/E2/IncludeOrders.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">

	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<element name="IncludeOrders" type="medicinecard20150101E2:IncludeOrdersType">
		<annotation>
			<documentation xml:lang="en-GB">Included selected order types</documentation>
			<documentation xml:lang="da-DK">Inkluder angivede bestillings typer</documentation>
		</annotation>
	</element>
	<complexType name="IncludeOrdersType">
		<sequence>
			<element name="IncludeHandledOrders" type="medicinecard20150101E2:IncludeHandledOrdersType"/>
			<element name="IncludeCancelledOrders" type="medicinecard20150101E2:IncludeCancelledOrdersType"/>
		</sequence>
	</complexType>
</schema>
