etc/schemas/2015/01/01/E2/MarkPrescriptionMedicationDeprecatedResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<element name="MarkPrescriptionMedicationDeprecatedResponse" type="medicinecard20150101E2:MarkPrescriptionMedicationDeprecatedResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Mark the prescription medication as deprecated</documentation>
			<documentation xml:lang="da-DK">Marker receptordinationen som ikke aktuel</documentation>
		</annotation>
	</element>
	<complexType name="MarkPrescriptionMedicationDeprecatedResponseType">
		<sequence>
			<sequence>
				<element name="PersonIdentifier" type="medicinecard20150101E2:PersonIdentifierType" />
				<element name="MedicineCardVersion" type="medicinecard20150101:MedicineCardVersionType"/>
				<element name="VersionMismatchWarning" type="medicinecard20150101:VersionMismatchWarningType" minOccurs="0"/>
			</sequence>
		</sequence>
	</complexType>
</schema>
