etc/schemas/2015/01/01/E2/OnBehalfOf.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<element name="OnBehalfOf" type="medicinecard20150101E2:OnBehalfOfType">
		<annotation>
			<documentation xml:lang="en-GB">Structure containing the autorisation id or CPR of the person that is responsible for the operation.</documentation>
			<documentation xml:lang="da-DK">En structur der indeholder autorisationsid'et eller CPR på den person som er ansvarlig for handlingen.</documentation>
		</annotation>
	</element>
	<complexType name="OnBehalfOfType">
		<choice>
			<element name="AuthorisationIdentifier" type="medicinecard20150101:AuthorisationIdentifierType"/>
			<element name="PersonIdentifier" type="medicinecard20150101E2:PersonIdentifierType" />
		</choice>
	</complexType>
</schema>
