etc/schemas/2015/01/01/E2/OrderEffectuationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<element name="OrderEffectuationResponse" type="medicinecard20150101E2:OrderEffectuationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response document contaning information about </documentation>
			<documentation xml:lang="da-DK">Request-dokument der indeholder en eller flere dokumenter til at genbestille receptordinationer fra lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="OrderEffectuationResponseType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150101E2:PersonIdentifierType" />
			<element name="VersionMismatchWarning" type="medicinecard20150101:VersionMismatchWarningType" minOccurs="0"/>
			<choice maxOccurs="unbounded">
				<element name="OrderedPrescriptionMedication" type="medicinecard20150101:OrderedPrescriptionMedicationType"/>
				<element name="OrderedEffectuation" type="medicinecard20150101:OrderedEffectuationType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
