etc/schemas/2015/01/01/E2/OrderingOrganisation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
		xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">

	
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<element name="OrderingOrganisation" type="medicinecard20150101E2:OrderingOrganisationType">
		<annotation>
			<documentation xml:lang="en-GB">Specifies the organisation which made the orders</documentation>
			<documentation xml:lang="da-DK">Specificere hvilken organisation der lavede bestillingen</documentation>
		</annotation>
	</element>
	<complexType name="OrderingOrganisationType">
		<sequence>
			<element name="Type" type="medicinecard20150101:OrganisationTypeType"/>
			<element name="Identifier" type="medicinecard20150101:OrganisationIdentifierType"/>
		</sequence>
	</complexType>
</schema>
