etc/schemas/2015/01/01/E2/OrderPrescriptionMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
		xmlns:medicinecard20150101E1="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>

	<complexType name="OrderPrescriptionMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Order for a new effectuation on the pharmacy or prescription medication to be created by the doctor</documentation>
			<documentation xml:lang="da-DK">Bestilling for en ny effektuering på apoteket eller receptordination til oprettelse hos lægen</documentation>
		</annotation>
		<sequence>
			<element name="DrugMedicationIdentifier" type="medicinecard20150101:DrugMedicationIdentifierType"/>
			<element name="OrderedBy" type="medicinecard20150101:ModificatorType" minOccurs="0"/>
			<element name="ModificationMetadata" type="medicinecard20150101:ModificationMetadataType" minOccurs="0"/>
			<element name="PrescribingOrganisation" type="medicinecard20150101:OrganisationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="EffectuatingOrganisation" type="medicinecard20150101:OrganisationType" minOccurs="0"/>
			<choice minOccurs="0" maxOccurs="3">
				<element name="DeliveryInformation" type="medicinecard20150101:DeliveryInformationType"/>
				<element name="OrderInstruction" type="medicinecard20150101:OrderInstructionType"/>
			</choice>
			<element name="Delivery" type="medicinecard20150101:DeliveryType" minOccurs="0"/>
			<element name="ReimbursementClause" type="medicinecard20150101:ReimbursementClauseType" minOccurs="0"/>
			<choice minOccurs="0">
				<element name="SinglePrescriptionDispensing" type="medicinecard20150101E2:CreateSinglePrescriptionDispensingType"/>
				<element name="ReiteratedPrescriptionDispensing" type="medicinecard20150101E2:CreateReiteratedPrescriptionDispensingType"/>
				<element name="DoseDispensedDispensing" type="medicinecard20150101:CreateDoseDispensedPrescriptionDispensingType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
