etc/schemas/2015/01/01/E2/PackageSize.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<complexType name="PackageSizeType">
		<annotation>
			<documentation xml:lang="en-GB">Package size in strucured form</documentation>
			<documentation xml:lang="da-DK">Pakningsstørrelse på struktureret form</documentation>
		</annotation>
		<sequence>
			<element name="Value" type="medicinecard20150101:PackageSizeValueType" minOccurs="0"/>
			<element name="UnitCode" type="medicinecard20150101:PackageSizeUnitCodeType" minOccurs="0"/>
			<element name="UnitText" type="medicinecard20150101:PackageSizeUnitTextType" minOccurs="0"/>
			<element name="PackageSizeText" type="medicinecard20150101:PackageSizeTextType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
