etc/schemas/2015/01/01/E2/PatientWithOrders.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">

	<include schemaLocation="importsFrom20150101E2.xsd"/>

	<element name="PatientWithOrders" type="medicinecard20150101E2:PatientWithOrdersType">
		<annotation>
			<documentation xml:lang="en-GB">Patient identifier with orders sorted by status</documentation>
			<documentation xml:lang="da-DK">Patient identifikation med bestillinger sorteret per status</documentation>
		</annotation>
	</element>
	<complexType name="PatientWithOrdersType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150101E2:PersonIdentifierType"/>
			<element name="UnhandledOrders" type="medicinecard20150101E2:PatientOrdersType" minOccurs="0"/>
			<element name="HandledOrders" type="medicinecard20150101E2:PatientOrdersType" minOccurs="0"/>
			<element name="CancelledOrders" type="medicinecard20150101E2:PatientOrdersType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
