etc/schemas/2015/01/01/E2/PatientRegistrationIdentifiers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<complexType name="PatientRegistrationIdentifiersType">
		<annotation>
			<documentation xml:lang="en-GB">Collection of identifier related to a modification of a patient-registration</documentation>
			<documentation xml:lang="da-DK">Relevante ID'er i forbindelse med en oprettelse/redigering af patient data</documentation>
		</annotation>
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150101E2:PersonIdentifierType" />
			<element name="Identifier" type="medicinecard20150101:PatientRegistrationIdentifierType"/>
		</sequence>
	</complexType>
</schema>
