etc/schemas/2015/01/01/E2/Patient.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" xmlns:xkom="http://rep.oio.dk/xkom.dk/xml/schemas/2006/01/06/" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<element name="Patient" type="medicinecard20150101E2:PatientType">
		<annotation>
			<documentation xml:lang="en-GB">Information about a patient with known CPR</documentation>
			<documentation xml:lang="da-DK">Patientoplysninger for en person med kendt CPR</documentation>
		</annotation>
	</element>
	<complexType name="PatientType">
		<sequence>
			<element name="Person" type="medicinecard20150101E2:SimpleCPRPersonType"/>
			<choice minOccurs="0">
				<element name="Address" type="medicinecard20150101:AddressType"/>
				<element name="AddressProtected" type="medicinecard20150101:AddressProtectedType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
