etc/schemas/2015/01/01/E2/PatientRegistrationType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" 
		xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" 
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<element name="PatientRegistrationType" type="medicinecard20150101E2:PatientRegistrationTypeType">
		<annotation>
			<documentation xml:lang="da-DK">Typen af  mellem patient og organisation</documentation>
		</annotation>
	</element>
	<simpleType name="PatientRegistrationTypeType">
		<union memberTypes="medicinecard20150101E2:PredefinedPatientRegistrationTypeType medicinecard20150101E2:UndefinedPatientRegistrationTypeType"/>
	</simpleType>
	<simpleType name="PredefinedPatientRegistrationTypeType">
		<restriction base="string">
			<enumeration value="INR"/>
			<enumeration value="SetDoseDispensingOnHold"/>
		</restriction>
	</simpleType>
	<simpleType name="UndefinedPatientRegistrationTypeType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="200"/>
		</restriction>
	</simpleType>
</schema>
