etc/schemas/2015/01/01/E2/PatientRegistration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" 
		xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" 
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<element name="PatientRegistration" type="medicinecard20150101E2:PatientRegistrationType">
		<annotation>
			<documentation xml:lang="en-GB">Patient registration</documentation>
			<documentation xml:lang="da-DK">Patient registrering</documentation>
		</annotation>
	</element>
	<complexType name="PatientRegistrationType">
		<sequence>
			<element name="Identifier" type="medicinecard20150101:PatientRegistrationIdentifierType"/>			
			<element name="CreatedBy" type="medicinecard20150101E2:ModificatorType"/>
			<element name="ReportedBy" type="medicinecard20150101E2:ModificatorType" minOccurs="0"/>
			<element name="Type" type="medicinecard20150101E2:PatientRegistrationTypeType"/>
            <choice>
                <element name="INR" type="medicinecard20150101:INRType"/>
                <element name="SetDoseDispensingOnHold" type="medicinecard20150101E2:SetDoseDispensingOnHoldType"/>
            </choice>
		</sequence>
	</complexType>
</schema>
