etc/schemas/2015/01/01/E2/PatientOrders.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
		xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5" 
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">

	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>

	<element name="PatientOrders" type="medicinecard20150101E2:PatientOrdersType">
		<annotation>
			<documentation xml:lang="en-GB">Patient orders</documentation>
			<documentation xml:lang="da-DK">Patient bestillinger</documentation>
		</annotation>
	</element>
	<complexType name="PatientOrdersType">
		<sequence>
			<element name="OldestCreatedDateTime" type="medicinecard20150101:OrderedDateTimeType"/>
			<element name="Identifier" type="medicinecard20150101:OrderedEffectuationIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
