etc/schemas/2015/01/01/E2/Paused.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<element name="Paused" type="medicinecard20150101E2:PausedType">
		<annotation>
			<documentation xml:lang="en-GB">Element containing information about which organisation and possibly doctor who paused the document this element is in (e.g. drug prescription) as well as the date it ocurred.</documentation>
			<documentation xml:lang="da-DK">Element der indeholder information omkring hvilken organisation og muligvis læge som har pauseret dokumentet elementet befinder sig i (f.eks. lægemiddelordination), desuden datoen dette er sket.</documentation>
		</annotation>
	</element>
	<complexType name="PausedType">
		<sequence>
			<choice minOccurs="0">
				<element name="FromDate" type="medicinecard20150101:PausedFromDateType"/>
				<element name="FromDateTime" type="medicinecard20150101:PausedFromDateTimeType"/>
			</choice>
			<choice minOccurs="0">
				<element name="ToDate" type="medicinecard20150101:PausedToDateType"/>
				<element name="ToDateTime" type="medicinecard20150101:PausedToDateTimeType"/>
			</choice>
			<element name="By" type="medicinecard20150101E2:ModificatorType"/>
			<element name="DateTime" type="dateTime"/>
		</sequence>
	</complexType>
</schema>
