etc/schemas/2015/01/01/E2/PlannedAdministrationStructures.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" 
		xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" 
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">

	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>

	<complexType name="PlannedAdministrationStructuresType">
		<annotation>
			<documentation xml:lang="en-GB">Structure for a number of period in the planned Administration</documentation>
			<documentation xml:lang="da-DK">Et antal perioder i den planlagte administration</documentation>
		</annotation>
		<sequence>
			<choice maxOccurs="unbounded">
				<element name="EmptyStructure" type="medicinecard20150101:EmptyDosageStructureType"/>
				<element name="PlannedAdministrationStructure" type="medicinecard20150101E2:PlannedAdministrationStructureType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
