etc/schemas/2015/01/01/E2/PlannedDosageDay.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" 
		xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" 
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">

	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<complexType name="PlannedDosageDayType">
		<annotation>
			<documentation xml:lang="en-GB">Group of planned dosage times for the same day</documentation>
			<documentation xml:lang="da-DK">Gruppering af planlagte doseringstidspunkter på samme dag</documentation>
		</annotation>
		<sequence>
			<element name="Number" type="medicinecard20150101:DosageDayNumberType"/>
			<sequence>
				<element name="Dose" type="medicinecard20150101E2:PlannedDoseType" maxOccurs="unbounded"/>
			</sequence>
		</sequence>
	</complexType>
</schema>
