etc/schemas/2015/01/01/E2/PlannedDose.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" 
		xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" 
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">

	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<complexType name="PlannedDoseType">
		<annotation>
			<documentation xml:lang="en-GB">Description of a planned dose element, when and how much</documentation>
			<documentation xml:lang="da-DK">Beskrivelse af en planlagt dosis på et givet tidspunkt, hvornår og hvor meget</documentation>
		</annotation>
		<sequence>
			<element name="Time" type="medicinecard20150101:DoseTimeType" />
            <element name="SequenceNumber" type="medicinecard20150101E2:DispensableUnitSequenceNumberType" minOccurs="0" />
			<element name="Quantity" type="medicinecard20150101:DoseQuantityType"/>
		</sequence>
	</complexType>
</schema>
