etc/schemas/2015/01/01/E2/PrescriptionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"  xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<element name="PrescriptionRequest" type="medicinecard20150101E2:PrescriptionRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element which describes a prescriptionrequest</documentation>
			<documentation xml:lang="da-DK">Element der beskriver en receptanmodning</documentation>
		</annotation>
	</element>
	<complexType name="PrescriptionRequestType">
		<sequence>
			<element name="Identifier" type="medicinecard20150101E2:PrescriptionRequestIdentifierType" />
			<element name="Version" type="medicinecard20150101E2:PrescriptionRequestVersionType" minOccurs="0"/>
			<element name="DrugMedicationIdentifier" type="medicinecard20150101:DrugMedicationIdentifierType" />
			<element name="Created" type="medicinecard20150101E2:CreatedType" />
			<element name="ReportedBy" type="medicinecard20150101E2:ModificatorType" minOccurs="0"/>
			<element name="Modified" type="medicinecard20150101E2:ModifiedType" minOccurs="0"/>
			<element name="PrescribingOrganisation" type="medicinecard20150101:OrganisationType" minOccurs="0" maxOccurs="unbounded"/>
			<choice minOccurs="0">
				<element name="SinglePrescriptionDispensing" type="medicinecard20150101E2:SinglePrescriptionDispensingForPrescriptionRequestType"/>
				<element name="ReiteratedPrescriptionDispensing" type="medicinecard20150101E2:ReiteratedPrescriptionDispensingForPrescriptionRequestType"/>
				<element name="DoseDispensedDispensing" type="medicinecard20150101E2:DoseDispensedPrescriptionDispensingForPrescriptionRequestType"/>
			</choice>
			<element name="Order" type="medicinecard20150101E2:CreateOrderType" minOccurs="0"/>
			<element name="Status" type="medicinecard20150101E2:PrescriptionRequestStatusType" />
			<element name="PrescriptionMedicationIdentifier" type="medicinecard20150101:PrescriptionMedicationIdentifierType" minOccurs="0"/>
			<element name="CancelledBy" type="medicinecard20150101E2:ModificatorType" minOccurs="0"/>
			<element name="CancellationReason" type="medicinecard20150101E2:PrescriptionRequestCancellationReasonType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
