etc/schemas/2015/01/01/E2/PrescriptionRequestCancellationReason.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<attribute name="PrescriptionRequestCancellationReasonType" type="medicinecard20150101E2:PrescriptionRequestCancellationReasonType">
		<annotation>
			<documentation xml:lang="en-GB">Reason why prescription request was cancelled</documentation>
			<documentation xml:lang="da-DK">Årsag til afvisning af receptanmodning (afvisningsårsag)</documentation>
		</annotation>
	</attribute>
	<simpleType name="PrescriptionRequestCancellationReasonType">
		<union memberTypes="medicinecard20150101E2:PredefinedPrescriptionRequestCancellationReasonType medicinecard20150101E2:UndefinedPrescriptionRequestCancellationReasonType"/>
	</simpleType>
	<simpleType name="PredefinedPrescriptionRequestCancellationReasonType">
		<restriction base="medicinecard20150101E2:UndefinedPrescriptionRequestCancellationReasonType">
			<enumeration value="Behandlingen er afsluttet"/>
			<enumeration value="Receptfornyelsen kræver ny blodprøve"/>
			<enumeration value="Receptfornyelsen kræver konsultation"/>
            <enumeration value="Kontakt din læge hvis recept ønskes"/>
            <enumeration value="Recepten skal fornys der, hvor du går til kontrol"/>
            <enumeration value="Recepten skal fornys af den læge, der sidst udskrev medicinen"/>
            <enumeration value="Receptanmodning fortrudt"/>
			<enumeration value="Out of office"/>
        </restriction>
	</simpleType>
	<simpleType name="UndefinedPrescriptionRequestCancellationReasonType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="200"/>
		</restriction>
	</simpleType>
</schema>
