etc/schemas/2015/01/01/E2/PrescriptionRequestStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<attribute name="PrescriptionRequestStatus" type="medicinecard20150101E2:PrescriptionRequestStatusType">
		<annotation>
			<documentation xml:lang="en-GB">The status of a prescriptionrequest</documentation>
			<documentation xml:lang="da-DK">Receptensanmodningens status</documentation>
		</annotation>
	</attribute>
	<simpleType name="PrescriptionRequestStatusType">
		<union memberTypes="medicinecard20150101E2:PredefinedPrescriptionRequestStatusType medicinecard20150101E2:UndefinedPrescriptionRequestStatusType"/>
	</simpleType>
	<simpleType name="PredefinedPrescriptionRequestStatusType">
		<restriction base="medicinecard20150101E2:UndefinedPrescriptionRequestStatusType">
			<enumeration value="unhandled"/>
			<enumeration value="prescribed"/>
			<enumeration value="cancelled"/>
        </restriction>
	</simpleType>
	<simpleType name="UndefinedPrescriptionRequestStatusType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="200"/>
		</restriction>
	</simpleType>
</schema>
