etc/schemas/2015/01/01/E2/PrescriptionMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" 
		xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" 
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">
		


	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<element name="PrescriptionMedication" type="medicinecard20150101E2:PrescriptionMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">A prescription medication (a medication on a prescription)</documentation>
			<documentation xml:lang="da-DK">En receptordination (en ordination på en recept)</documentation>
		</annotation>
	</element>
	
	<complexType name="PrescriptionMedicationType">
		<sequence>
			<element name="Identifier" type="medicinecard20150101:PrescriptionMedicationIdentifierType"/>
			<element name="OrderedEffectuationIdentifier" type="medicinecard20150101:OrderedEffectuationIdentifierType" minOccurs="0"/>
			<element name="AuthorisationDateTime" type="medicinecard20150101:AuthorisationDateTimeType"/>
			<element name="Created" type="medicinecard20150101E2:CreatedWithOptionalAuthorisationIdentifierType"/>
			<element name="LatestEffectuationDateTime" type="medicinecard20150101:LatestEffectuationDateTimeType" minOccurs="0"/>
			<element name="TerminatedDateTime" type="medicinecard20150101:TerminatedDateTimeType" minOccurs="0"/>
			<choice minOccurs="0" maxOccurs="3">
				<element name="DeliveryInformation" type="medicinecard20150101:DeliveryInformationType"/>
				<element name="OrderInstruction" type="medicinecard20150101:OrderInstructionType"/>
			</choice>
			<element name="Delivery" type="medicinecard20150101:DeliveryType" minOccurs="0"/>
			<element name="ReimbursementClause" type="medicinecard20150101:ReimbursementClauseType" minOccurs="0"/>
            <element name="ValidFromDate" type="medicinecard20150101E2:ValidFromDateType"/>
            <element name="ValidToDate" type="medicinecard20150101E2:ValidToDateType"/>
			<choice>
				<element name="SinglePrescriptionDispensing" type="medicinecard20150101E2:SinglePrescriptionDispensingType"/>
				<element name="ReiteratedPrescriptionDispensing" type="medicinecard20150101E2:ReiteratedPrescriptionDispensingType"/>
				<element name="DoseDispensedDispensing" type="medicinecard20150101:DoseDispensedPrescriptionDispensingType"/>
			</choice>
			<element name="Indication" type="medicinecard20150101:IndicationType" minOccurs="0"/>
			<element name="Drug" type="medicinecard20150101:DrugType"/>
			<element name="SubstitutionAllowed" type="medicinecard20150101:SubstitutionAllowedType"/>
			<element name="SupplementaryInformation" type="medicinecard20150101:SupplementaryInformationType" minOccurs="0"/>
			<element name="ReceiverEAN" type="medicinecard20150101:ReceiverEANType" minOccurs="0"/>
			<element name="Status" type="medicinecard20150101:PrescriptionMedicationStatusType"/>
			<element name="Deprecated" type="medicinecard20150101:DeprecatedDateTimeType" minOccurs="0"/>
			<element name="Effectuation" type="medicinecard20150101E2:EffectuationOnPrescriptionMedicationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="InvalidEffectuation" type="medicinecard20150101:InvalidEffectuationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="InvalidationReasonText" type="medicinecard20150101E2:InvalidationReasonTextType" minOccurs="0"/>
			<element name="IsPrivatePrescriptionMedication" type="medicinecard20150101E2:IsPrivatePrescriptionMedicationType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
