etc/schemas/2015/01/01/E2/PrivateDoseDispensedMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
        xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">


    <import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<complexType name="PrivateDoseDispensedMedicationType">
        <annotation>
            <documentation xml:lang="en-GB">Dose dispensing medication which has been marked private.</documentation>
            <documentation xml:lang="da-DK">Dosisdispenseret lægemiddel som er privatmarkeret.</documentation>
        </annotation>
        <sequence>
			<element name="DrugMedicationIdentifier" type="medicinecard20150101:DrugMedicationIdentifierType"/>
            <element name="Version" type="medicinecard20150101:DrugMedicationVersionType" minOccurs="0"/>   <!-- Bør denne være obligatorisk ??? -->
            <element name="Warning" type="medicinecard20150101E2:DoseDispensingWarningType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
