etc/schemas/2015/01/01/E2/RemovePatientRegistration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<element name="RemovePatientRegistration" type="medicinecard20150101E2:RemovePatientRegistrationType">
		<annotation>
			<documentation xml:lang="en-GB">Inner element for patient registration removal requests</documentation>
			<documentation xml:lang="da-DK">Indre element til forespørgsel til sletning af patient registreringer</documentation>
		</annotation>
	</element>
	<complexType name="RemovePatientRegistrationType">
		<sequence>
			<element name="ModifiedBy" type="medicinecard20150101E2:ModificatorType" minOccurs="0"/>
			<element name="ModificationMetadata" type="medicinecard20150101:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="Identifier" type="medicinecard20150101:PatientRegistrationIdentifierType"/>
		</sequence>
	</complexType>
</schema>
