etc/schemas/2015/01/01/E2/SearchWithdrawnDrugMedicationsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<element name="SearchWithdrawnDrugMedicationsResponse" type="medicinecard20150101E2:SearchWithdrawnDrugMedicationsResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response from a search request for withdrawn drug medications</documentation>
			<documentation xml:lang="da-DK">Svar på en søge-forespørgsel efter seponerede lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="SearchWithdrawnDrugMedicationsResponseType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150101E2:PersonIdentifierType" />
			<element name="NegativeConsent" type="medicinecard20150101:DrugMedicationWithNegativeConsentType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Identifier" type="medicinecard20150101:DrugMedicationIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
