etc/schemas/2015/01/01/E2/SearchPrescriptionRequestsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
		xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">
	<include schemaLocation="importsFrom20150101E2.xsd"/>

	<element name="SearchPrescriptionRequestsResponse" type="medicinecard20150101E2:SearchPrescriptionRequestsResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response to prescription requests request</documentation>
			<documentation xml:lang="da-DK">Svar på forespørgsel efter receptbestillinger</documentation>
		</annotation>
	</element>

	<complexType name="SearchPrescriptionRequestsResponseType">
		<sequence>
			<element name="Patient" type="medicinecard20150101E2:SearchPrescriptionRequestsPatientType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MoreAvailable" type="medicinecard20150101E2:SearchPrescriptionRequestsMoreAvailableType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
