etc/schemas/2015/01/01/E2/SetDoseDispensingOnHoldResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
        xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
		xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" 
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">

    <include schemaLocation="DoseDispensingPeriodEndDate.xsd" />
    <import schemaLocation="../PersonIdentifier.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
    
	<element name="SetDoseDispensingOnHoldResponse" type="medicinecard20150101E2:SetDoseDispensingOnHoldResponseType"/>

	<complexType name="SetDoseDispensingOnHoldResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response for the request for dose dispensing be put on hold for a specific patient</documentation>
			<documentation xml:lang="da-DK">Svar på en anmodning om at sætte dosisdispensering i bero for en given patient</documentation>
		</annotation>
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150101:PersonIdentifierType"/>
            <element name="ExpectedLastDoseDispensingDate" type="medicinecard20150101E2:DoseDispensingPeriodEndDateType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
