etc/schemas/2015/01/01/E2/SetDoseDispensingOnHold.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" 
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" 
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">
		

	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<element name="SetDoseDispensingOnHold" type="medicinecard20150101E2:SetDoseDispensingOnHoldType">
		<annotation>
			<documentation xml:lang="en-GB">This element marks that dose dispensing is currently suspended</documentation>
			<documentation xml:lang="da-DK">Dette element indikerer at dosisdispensering i øjeblikket er suspenderet</documentation>
		</annotation>
	</element>
		
	<complexType name="SetDoseDispensingOnHoldType">
		<sequence>
			<element name="CreatedBy" type="medicinecard20150101E2:ModificatorType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
