etc/schemas/2015/01/01/E2/SimpleCPRPerson.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" elementFormDefault="qualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<element name="SimpleCPRPerson" type="medicinecard20150101E2:SimpleCPRPersonType">
		<annotation>
			<documentation xml:lang="en-GB">Information about a person with known CPR</documentation>
			<documentation xml:lang="da-DK">Oplysninger om en person med kendt CPR</documentation>
		</annotation>
	</element>
	<complexType name="SimpleCPRPersonType">
		<sequence>
			<choice minOccurs="0">
				<element name="Name" type="medicinecard20150101:PersonNameType"/>
				<element name="NameProtected" type="medicinecard20150101:PersonNameProtectedType"/>
			</choice>
			<element name="PersonIdentifier" type="medicinecard20150101E2:PersonIdentifierType" />
		</sequence>
	</complexType>
</schema>
