etc/schemas/2015/01/01/E2/UnmarkPrescriptionMedicationDeprecated.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<element name="UnmarkPrescriptionMedicationDeprecated" type="medicinecard20150101E2:UnmarkPrescriptionMedicationDeprecatedType">
		<annotation>
			<documentation xml:lang="en-GB">For use in bulk service: Mark one or more prescription medications as no longer relevant</documentation>
			<documentation xml:lang="da-DK">Til brug i bulk service: Marker at en eller flere receptordinationer ikke længere er relevante</documentation>
		</annotation>
	</element>
	<complexType name="UnmarkPrescriptionMedicationDeprecatedType">
		<sequence>
			<element name="Identifier" type="medicinecard20150101:PrescriptionMedicationIdentifierType"/>
			<element name="ModifiedBy" type="medicinecard20150101E2:ModificatorType" minOccurs="0"/>
			<element name="ModificationMetadata" type="medicinecard20150101:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
