etc/schemas/2015/01/01/E2/UnmarkPrescriptionMedicationDeprecatedRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<element name="UnmarkPrescriptionMedicationDeprecatedRequest" type="medicinecard20150101E2:UnmarkPrescriptionMedicationDeprecatedRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Unmark one or more prescription medications as no longer relevant</documentation>
			<documentation xml:lang="da-DK">Fjern markering af at en eller flere receptordinationer ikke længere er relevante</documentation>
		</annotation>
	</element>
	<complexType name="UnmarkPrescriptionMedicationDeprecatedRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150101E2:PersonIdentifierType" />
			<element name="MedicineCardVersion" type="medicinecard20150101:MedicineCardVersionType"/>
			<element name="ModifiedBy" type="medicinecard20150101E2:ModificatorType" minOccurs="0"/>
			<element name="ReportedBy" type="medicinecard20150101E2:ModificatorType" minOccurs="0"/>
			<element name="PrescriptionMedication" type="medicinecard20150101E2:UnmarkPrescriptionMedicationDeprecatedType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
