etc/schemas/2015/01/01/E2/UnpauseDrugMedicationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<element name="UnpauseDrugMedicationRequest" type="medicinecard20150101E2:UnpauseDrugMedicationRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request to remove the pausation of one or more drugmedications</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel der fjerner pauseringen på en eller flere lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="UnpauseDrugMedicationRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150101E2:PersonIdentifierType" />
			<element name="MedicineCardVersion" type="medicinecard20150101:MedicineCardVersionType"/>
			<element name="ModifiedBy" type="medicinecard20150101E2:ModificatorType"/>
			<element name="ReportedBy" type="medicinecard20150101E2:ModificatorType" minOccurs="0"/>
			<element name="DrugMedication" type="medicinecard20150101E2:UnpauseDrugMedicationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
