etc/schemas/2015/01/01/E2/Withdrawn.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<include schemaLocation="importsFrom20150101E2.xsd"/>
	<element name="Withdrawn" type="medicinecard20150101E2:WithdrawnType">
		<annotation>
			<documentation xml:lang="en-GB">Informations about who, when and why the drug medication was withdrawn</documentation>
			<documentation xml:lang="da-DK">Information om hvem, hvornår og hvorfor lægemiddelordination er seponeret </documentation>
		</annotation>
	</element>
	<complexType name="WithdrawnType">
		<sequence>
			<element name="By" type="medicinecard20150101E2:ModificatorType"/>
			<element name="DateTime" type="medicinecard20150101:WithdrawnDateTimeType"/>
		</sequence>
	</complexType>
</schema>
