etc/schemas/2014/06/01/AquireOrderForResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20130601="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" xmlns:medicinecard20140601="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/Organisation.xsd"/>
	<include schemaLocation="AquireOrderIdentifier.xsd"/>
	<include schemaLocation="AquireOrderVersion.xsd"/>
	<include schemaLocation="OrderIdentifier.xsd"/>
	<include schemaLocation="OrderVersion.xsd"/>
	<include schemaLocation="AquireOrderComment.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/Delivery.xsd"/>
	<complexType name="AquireOrderForResponseType">
		<sequence>
			<element name="Identifier" type="medicinecard20140601:OrderIdentifierType"/>
			<element name="Version" type="medicinecard20140601:OrderVersionType"/>
			<element name="Aquire">
				<complexType>
					<sequence>
						<element name="AquireToPharmacy" type="medicinecard20120601:OrganisationType"/>
						<element name="Comment" type="medicinecard20140601:AquireOrderCommentType" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
</schema>
