etc/schemas/2014/06/01/CreateSubstitutedDrug.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20130601="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" xmlns:medicinecard20140601="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/ATC.xsd"/>
	<include schemaLocation="CreateDrugForm.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" schemaLocation="../../../2013/06/01/DrugIdentifier.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/DrugName.xsd"/>
	<include schemaLocation="CreateDrugStrength.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" schemaLocation="../../../2013/06/01/Substances.xsd"/>
	<complexType name="CreateSubstitutedDrugType">
		<sequence>
			<element name="ATC" type="medicinecard20120601:ATCType" minOccurs="0"/>
			<choice>
				<sequence>
					<element name="Identifier" type="medicinecard20130601:DrugIdentifierType"/>
					<element name="Name" type="medicinecard20120601:DrugNameType"/>
				</sequence>
			</choice>
			<element name="Form" type="medicinecard20140601:CreateDrugFormType" minOccurs="0"/>
			<element name="Strength" type="medicinecard20140601:CreateDrugStrengthType" minOccurs="0"/>
			<element name="Substances" type="medicinecard20130601:SubstancesType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
