etc/schemas/2014/06/01/CreateDrugMedicationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20130601="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" xmlns:medicinecard20140501="http://www.dkma.dk/medicinecard/xml.schema/2014/05/01" xmlns:medicinecard20140601="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="CreateDrugMedication.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" schemaLocation="../../../2013/06/01/Modificator.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/MedicineCardVersion.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/OrganisationIdentifier.xsd"/>
	<element name="CreateDrugMedicationRequest" type="medicinecard20140601:CreateDrugMedicationRequestType"/>
	<complexType name="CreateDrugMedicationRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="medicinecard20140601:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="medicinecard20120601:OrganisationIdentifierType"/>
			</choice>
			<element name="MedicineCardVersion" type="medicinecard20120601:MedicineCardVersionType" minOccurs="0"/>
			<element name="CreatedBy" type="medicinecard20130601:ModificatorType" minOccurs="0"/>
			<element name="ReportedBy" type="medicinecard20130601:ModificatorType" minOccurs="0"/>
			<element name="DrugMedication" type="medicinecard20140601:CreateDrugMedicationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
