etc/schemas/2014/06/01/CreateDrugForm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20140601="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/DrugFormText.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/DrugFormCode.xsd"/>
	<complexType name="CreateDrugFormType">
		<sequence>
			<element name="Code" type="medicinecard20120601:DrugFormCodeType"/>
			<element name="Text" type="medicinecard20120601:DrugFormTextType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
