etc/schemas/2014/06/01/CreateDosisDispensingDeliveryFilterRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20130601="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" xmlns:medicinecard20140601="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/MedicineCardVersion.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" schemaLocation="../../../2013/06/01/Modificator.xsd"/>
	<element name="CreateDosisDispensingDeliveryFilterRequest" type="medicinecard20140601:CreateDosisDispensingDeliveryFilterRequestType"/>
	<complexType name="CreateDosisDispensingDeliveryFilterRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20140601:PersonIdentifierType"/>
			<element name="MedicineCardVersion" type="medicinecard20120601:MedicineCardVersionType"/>
			<element name="CreatedBy" type="medicinecard20130601:ModificatorType" minOccurs="0"/>
			<element name="ReportedBy" type="medicinecard20130601:ModificatorType" minOccurs="0"/>
			<element name="DosisDispensingDeliveryFilter" type="medicinecard20140601:DosisDispensingDeliveryFilterType" maxOccurs="unbounded"/>
			<element name="DosisDispensingDeliveryFilter" type="medicinecard20140601:DosisDispensingDeliveryFilterRestType"/>
		</sequence>
	</complexType>
</schema>
