etc/schemas/2014/06/01/CreatePackageSize.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20140601="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/PackageSizeValue.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/PackageSizeUnitCode.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/PackageSizeUnitText.xsd"/>
	<complexType name="CreatePackageSizeType">
		<sequence>
			<element name="Value" type="medicinecard20120601:PackageSizeValueType"/>
			<element name="UnitCode" type="medicinecard20120601:PackageSizeUnitCodeType"/>
			<element name="UnitText" type="medicinecard20120601:PackageSizeUnitTextType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
