etc/schemas/2014/06/01/DrugMedicationsForPersonOrOrganisation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20140601="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DrugMedication.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/Organisation.xsd"/>
	<include schemaLocation="PersonAndAddress.xsd"/>
	<complexType name="DrugMedicationsForPersonOrOrganisationType">
		<sequence>
			<choice>
				<element name="PersonAndAddress" type="medicinecard20140601:PersonAndAddressType"/>
				<element name="Organisation" type="medicinecard20120601:OrganisationType"/>
			</choice>
			<element name="DrugMedication" type="medicinecard20140601:DrugMedicationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
