etc/schemas/2014/06/01/GetDeliverySiteRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20140601="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<element name="GetDeliverySiteRequest" type="medicinecard20140601:GetDeliverySiteRequestType"/>
	<complexType name="GetDeliverySiteRequestType">
		<sequence>
			<element name="Identifier" type="medicinecard20140601:OrganisationIdentifierType"/>
		</sequence>
	</complexType>
</schema>
