etc/schemas/2014/06/01/GetDeliverySiteResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20140601="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="DeliverySite.xsd"/>
	<element name="GetDeliverySiteResponse" type="medicinecard20140601:GetDeliverySiteResponseType"/>
	<complexType name="GetDeliverySiteResponseType">
		<sequence>
			<element name="Identifier" type="medicinecard20140601:OrganisationIdentifierType"/>
			<element name="DeliverySite" type="medicinecard20140601:DeliverySiteType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
