etc/schemas/2014/06/01/GetToPharmacyRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20140601="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/OrganisationIdentifier.xsd"/>
	<include schemaLocation="MaxResultSize.xsd"/>
	<element name="GetToPharmacyRequest" type="medicinecard20140601:GetToPharmacyRequestType"/>
	<complexType name="GetToPharmacyRequestType">
		<sequence>
			<element name="OrganisationIdentifier" type="medicinecard20120601:OrganisationIdentifierType"/>
			<element name="MaxResultSize" type="medicinecard20140601:MaxResultSizeType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
