etc/schemas/2014/06/01/GetToPharmacyDoneRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20140601="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/OrganisationIdentifier.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/DrugMedicationIdentifier.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/DrugMedicationVersion.xsd"/>
	<include schemaLocation="AquireOrderIdentifier.xsd"/>
	<element name="GetToPharmacyDoneRequest" type="medicinecard20140601:GetToPharmacyDoneRequestType"/>
	<complexType name="GetToPharmacyDoneRequestType">
		<sequence>
			<element name="OrganisationIdentifier" type="medicinecard20120601:OrganisationIdentifierType"/>
			<choice minOccurs="1" maxOccurs="unbounded">
				<element name="DrugMedication">
					<complexType>
						<sequence>
							<element name="Identifier" type="medicinecard20120601:DrugMedicationIdentifierType"/>
							<element name="Version" type="medicinecard20120601:DrugMedicationVersionType"/>
						</sequence>
					</complexType>
				</element>
				<element name="AquireOrderIdentifier" type="medicinecard20140601:AquireOrderIdentifierType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
