etc/schemas/2014/06/01/MedicineCardContentTypeComplete.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20140601="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="CompleteMedicineCardConsentGivenDateless.xsd"/>
	<include schemaLocation="PrivacyMarkedConsentGivenDateless.xsd"/>
	<complexType name="MedicineCardContentTypeCompleteType">
		<sequence>
			<element name="CompleteConsentGiven" type="medicinecard20140601:CompleteMedicineCardConsentGivenDatelessType" minOccurs="0"/>
			<element name="PrivacyMarkedConsentGiven" type="medicinecard20140601:PrivacyMarkedConsentGivenDatelessType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
