etc/schemas/2014/06/01/Order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20130601="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" xmlns:medicinecard20140601="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" schemaLocation="../../../2013/06/01/Modificator.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" schemaLocation="../../../2013/06/01/Created.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" schemaLocation="../../../2013/06/01/Modified.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/Organisation.xsd"/>
	<include schemaLocation="DoseDispensingDate.xsd"/>
	<include schemaLocation="DoseDispensingDateTime.xsd"/>
	<include schemaLocation="ProductionDay.xsd"/>
	<include schemaLocation="OrderStatus.xsd"/>
	<include schemaLocation="OrderIdentifier.xsd"/>
	<include schemaLocation="OrderVersion.xsd"/>
	<include schemaLocation="PackingGroup.xsd"/>
	<include schemaLocation="DeliveryInstructionText.xsd"/>
	<include schemaLocation="EmptyEffectuation.xsd"/>
	<include schemaLocation="Effectuation.xsd"/>
	<include schemaLocation="DeliverySite.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/Delivery.xsd"/>
	<complexType name="OrderType">
		<sequence>
			<element name="Identifier" type="medicinecard20140601:OrderIdentifierType"/>
			<element name="Version" type="medicinecard20140601:OrderVersionType"/>
			<element name="Created" type="medicinecard20130601:CreatedType"/>
			<element name="ReportedBy" type="medicinecard20130601:ModificatorType" minOccurs="0"/>
			<element name="Modified" type="medicinecard20130601:ModifiedType" minOccurs="0"/>
			<element name="OrderedAtPharmacy" type="medicinecard20120601:OrganisationType"/>
			<element name="Status" type="medicinecard20140601:OrderStatusType"/>
			<element name="DoseDispensing" minOccurs="0">
				<complexType>
					<sequence>
						<element name="PackedAtOrganisation" type="medicinecard20120601:OrganisationType"/>
						<element name="DeadlineDateTime" type="medicinecard20140601:DoseDispensingDateTimeType"/>
						<element name="ExpectedFirstDosageDate" type="medicinecard20140601:DoseDispensingDateType"/>
						<element name="ExpectedLastDosageDate" type="medicinecard20140601:DoseDispensingDateType"/>
						<element name="ProductionDay" type="medicinecard20140601:ProductionDayType" minOccurs="0"/>
						<element name="PackingGroup" type="medicinecard20140601:PackingGroupType" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
			<choice minOccurs="0">
				<element name="Delivery" type="medicinecard20120601:DeliveryType" minOccurs="0"/>
				<element name="DeliverySite" type="medicinecard20140601:DeliverySiteType"/>
			</choice>
			<element name="DeliveryInstructionText" type="medicinecard20140601:DeliveryInstructionTextType" minOccurs="0" maxOccurs="3"/>
			<choice minOccurs="0" maxOccurs="unbounded">
				<element name="Effectuation" type="medicinecard20140601:EffectuationType"/>
				<element name="EmptyEffectuation" type="medicinecard20140601:EmptyEffectuationType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
