etc/schemas/2014/06/01/OrganisationIdentifier.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01"  xmlns:medicinecard20140601="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/Source.xsd"/>
	<complexType name="OrganisationIdentifierType">
		<simpleContent>
			<extension base="medicinecard20140601:OrganisationIdentifierValueType">
				<attribute name="source" type="medicinecard20140601:OrganisationIdentifierSourceType" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="OrganisationIdentifierValueType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="200"/>
		</restriction>
	</simpleType>
	<simpleType name="OrganisationIdentifierSourceType">
		<union memberTypes="medicinecard20140601:OrganisationIdentifierPredefinedSourceType medicinecard20120601:UndefinedSourceType"/>
	</simpleType>
	<simpleType name="OrganisationIdentifierPredefinedSourceType">
		<restriction base="medicinecard20120601:UndefinedSourceType">
			<enumeration value="SKS"/>
			<enumeration value="Yder"/>
			<enumeration value="EAN-Lokationsnummer"/>
			<enumeration value="Forsendelsesstedkode"/>
			<enumeration value="CVR"/>
			<enumeration value="CVR-P"/>
			<enumeration value="Kommunekode"/>
		</restriction>
	</simpleType>
</schema>
