etc/schemas/2014/06/01/OrganisationType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20140601="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<simpleType name="OrganisationTypeType">
		<union memberTypes="medicinecard20140601:PredefinedOrganisationTypeType medicinecard20140601:UndefinedOrganisationTypeType"/>
	</simpleType>
	<simpleType name="PredefinedOrganisationTypeType">
		<restriction base="medicinecard20140601:UndefinedOrganisationTypeType">
			<enumeration value="Sygehus"/>
			<enumeration value="Yder"/>
			<enumeration value="Apotek"/>
			<enumeration value="Forsendelsessted"/>
			<enumeration value="Kommune"/>
			<enumeration value="Administrator"/>
		</restriction>
	</simpleType>
	<simpleType name="UndefinedOrganisationTypeType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="100"/>
		</restriction>
	</simpleType>
</schema>
