etc/schemas/2014/06/01/PackageRestriction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20130601="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" xmlns:medicinecard20140601="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/PackageNumber.xsd"/>
	<include schemaLocation="PackageSize.xsd"/>
	<include schemaLocation="IterationNumber.xsd"/>	
	<include schemaLocation="IterationInterval.xsd"/>
	<include schemaLocation="IterationIntervalUnit.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/PackageQuantity.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/DosageText.xsd"/>
	<complexType name="PackageRestrictionType">
		<sequence>
			<element name="PackageNumber" type="medicinecard20120601:PackageNumberType"/>
			<element name="PackageSize" type="medicinecard20140601:PackageSizeType" minOccurs="0"/>
			<element name="PackageQuantity" type="medicinecard20120601:PackageQuantityType"/>
			<element name="DosageText" type="medicinecard20120601:DosageTextType"/>
			<sequence minOccurs="0">
				<element name="IterationNumber" type="medicinecard20140601:IterationNumberType"/>
				<element name="IterationInterval" type="medicinecard20140601:IterationIntervalType"/>
				<element name="IterationIntervalUnit" type="medicinecard20140601:IterationIntervalUnitType"/>
			</sequence>
		</sequence>
	</complexType>
</schema>
