etc/schemas/2014/06/01/Patient.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20140601="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Address.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/AddressProtected.xsd"/>
	<include schemaLocation="Person.xsd"/>
	<complexType name="PatientType">
		<sequence>
			<element name="Person" type="medicinecard20140601:PersonType"/>
			<choice minOccurs="0">
				<element name="Address" type="medicinecard20140601:AddressType"/>
				<element name="AddressProtected" type="medicinecard20120601:AddressProtectedType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
