etc/schemas/2014/06/01/PersonIdentifier.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20140601="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/Source.xsd"/>
	<complexType name="PersonIdentifierType">
		<simpleContent>
			<extension base="medicinecard20140601:PersonIdentifierValueType">
				<attribute name="source" type="medicinecard20140601:PersonIdentifierSourceType" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="PersonIdentifierValueType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="20"/>
		</restriction>
	</simpleType>
	<simpleType name="PersonIdentifierSourceType">
		<union memberTypes="medicinecard20140601:PersonIdentifierPredefinedSourceType medicinecard20120601:UndefinedSourceType"/>
	</simpleType>
	<simpleType name="PersonIdentifierPredefinedSourceType">
		<restriction base="medicinecard20120601:UndefinedSourceType">
			<enumeration value="CPR"/>
			<enumeration value="Erstatnings-CPR"/>
			<enumeration value="MedicineCardKey"/>
		</restriction>
	</simpleType>
</schema>
