etc/schemas/2014/06/01/PrescriptionMedicationModificationIdentifiers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01"
        xmlns:medicinecard20140601="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01"
        elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PrescriptionMedicationVersion.xsd"/>
    <include schemaLocation="EffectuationModificationType.xsd"/>
    <import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/PrescriptionMedicationIdentifier.xsd"/>
    <complexType name="PrescriptionMedicationModificationIdentifiersType">
		<sequence>
			<element name="Identifier" type="medicinecard20120601:PrescriptionMedicationIdentifierType"/>
			<element name="Version" type="medicinecard20140601:PrescriptionMedicationVersionType"/>
			<element name="Effectuation" type="medicinecard20140601:EffectuationModificationType" minOccurs="0"/>
        </sequence>
	</complexType>
</schema>
