etc/schemas/2014/06/01/PrescriptionModification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20140601="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01"
        xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/PersonIdentifier.xsd"/>
	<include schemaLocation="PrescriptionModification.xsd"/>
	<include schemaLocation="PrescriptionModificationAction.xsd"/>
	<include schemaLocation="PrescriptionMedicationModificationIdentifiers.xsd"/>

	<element name="PrescriptionModification" type="medicinecard20140601:PrescriptionModificationType">
		<annotation>
			<documentation xml:lang="en-GB">Information about a modification of a prescription medication</documentation>
			<documentation xml:lang="da-DK">Information omkring en modifikation af en receptordination</documentation>
		</annotation>
	</element>
	<complexType name="PrescriptionModificationType">
		<sequence>
			<element name="Action" type="medicinecard20140601:PrescriptionModificationActionType"/>
            <element name="PersonIdentifier" type="medicinecard20120601:PersonIdentifierType"/>
            <element name="PrescriptionMedication" type="medicinecard20140601:PrescriptionMedicationModificationIdentifiersType"/>
            <any minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
