etc/schemas/2014/06/01/RemoveDrugMedicationsFromQueueResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20140601="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/OrganisationIdentifier.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/DrugMedicationIdentifier.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/DrugMedicationVersion.xsd"/>
	<element name="RemoveDrugMedicationsFromQueueResponse" type="medicinecard20140601:RemoveDrugMedicationsFromQueueResponseType"/>
	<complexType name="RemoveDrugMedicationsFromQueueResponseType">
		<sequence>
			<element name="OrganisationIdentifier" type="medicinecard20120601:OrganisationIdentifierType"/>
			<element name="Removed" minOccurs="0">
				<complexType>
					<sequence>
						<element name="DrugMedication" maxOccurs="unbounded">
							<complexType>
								<sequence>
									<element name="Identifier" type="medicinecard20120601:DrugMedicationIdentifierType"/>
									<element name="Version" type="medicinecard20120601:DrugMedicationVersionType"/>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="Ignored" minOccurs="0">
				<complexType>
					<sequence>
						<element name="DrugMedication" maxOccurs="unbounded">
							<complexType>
								<sequence>
									<element name="Identifier" type="medicinecard20120601:DrugMedicationIdentifierType"/>
									<element name="Version" type="medicinecard20120601:DrugMedicationVersionType"/>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
</schema>
