etc/schemas/2014/06/01/SearchOrganisation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20140601="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/OrganisationName.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/AddressLine.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/TelephoneNumber.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/EmailAddress.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/OrganisationIdentifier.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/OrganisationType.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/MailDeliverySublocationIdentifier.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/StreetName.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/StreetNameForAddressing.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/StreetBuildingIdentifier.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/FloorIdentifier.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/SuiteIdentifier.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/DistrictSubdivisionIdentifier.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/PostOfficeBoxIdentifier.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/PostCodeIdentifier.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/DistrictName.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/CountryIdentificationCode.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/AuthorisationIdentifier.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/AuthorisedHealthcareProfessionalName.xsd"/>
	<complexType name="SearchOrganisationType">
		<sequence>
			<element name="Organisation" minOccurs="0">
				<complexType>
					<sequence>
						<element name="Name" type="medicinecard20120601:OrganisationNameType" minOccurs="0"/>
						<element name="AddressLine" type="medicinecard20120601:AddressLineType" minOccurs="0" maxOccurs="5"/>
						<element name="TelephoneNumber" type="medicinecard20120601:TelephoneNumberType" minOccurs="0"/>
						<element name="EmailAddress" type="medicinecard20120601:EmailAddressType" minOccurs="0"/>
						<element name="Type" type="medicinecard20120601:OrganisationTypeType" minOccurs="0"/>
						<element name="Identifier" type="medicinecard20120601:OrganisationIdentifierType" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
			<element name="Address" minOccurs="0">
				<complexType>
					<sequence>
						<element name="MailDeliverySublocationIdentifier" type="medicinecard20120601:MailDeliverySublocationIdentifierType" minOccurs="0"/>
						<element name="StreetName" type="medicinecard20120601:StreetNameType" minOccurs="0"/>
						<element name="StreetNameForAddressing" type="medicinecard20120601:StreetNameForAddressingType" minOccurs="0"/>
						<element name="StreetBuildingIdentifier" type="medicinecard20120601:StreetBuildingIdentifierType" minOccurs="0"/>
						<element name="FloorIdentifier" type="medicinecard20120601:FloorIdentifierType" minOccurs="0"/>
						<element name="SuiteIdentifier" type="medicinecard20120601:SuiteIdentifierType" minOccurs="0"/>
						<element name="DistrictSubdivisionIdentifier" type="medicinecard20120601:DistrictSubdivisionIdentifierType" minOccurs="0"/>
						<element name="PostOfficeBoxIdentifier" type="medicinecard20120601:PostOfficeBoxIdentifierType" minOccurs="0"/>
						<element name="PostCodeIdentifier" type="medicinecard20120601:PostCodeIdentifierType" minOccurs="0"/>
						<element name="DistrictName" type="medicinecard20120601:DistrictNameType" minOccurs="0"/>
						<element name="CountryIdentificationCode" type="medicinecard20120601:CountryIdentificationCodeType" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
			<element name="CreatedBy" minOccurs="0">
				<complexType>
					<sequence>
						<element name="AuthorisedHealthcareProfessional" minOccurs="0">
							<complexType>
								<sequence>
									<element name="AuthorisationIdentifier" type="medicinecard20120601:AuthorisationIdentifierType" minOccurs="0"/>
									<element name="Name" type="medicinecard20120601:AuthorisedHealthcareProfessionalNameType" minOccurs="0"/>
								</sequence>
							</complexType>
						</element>
						<element name="Organisation" minOccurs="0">
							<complexType>
								<sequence>
									<element name="Name" type="medicinecard20120601:OrganisationNameType" minOccurs="0"/>
									<element name="AddressLine" type="medicinecard20120601:AddressLineType" minOccurs="0" maxOccurs="5"/>
									<element name="TelephoneNumber" type="medicinecard20120601:TelephoneNumberType" minOccurs="0"/>
									<element name="EmailAddress" type="medicinecard20120601:EmailAddressType" minOccurs="0"/>
									<element name="Type" type="medicinecard20120601:OrganisationTypeType" minOccurs="0"/>
									<element name="Identifier" type="medicinecard20120601:OrganisationIdentifierType" minOccurs="0"/>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
</schema>
