etc/schemas/2014/06/01/SearchMedicineCardRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20140601="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="SearchPerson.xsd"/>
	<include schemaLocation="SearchOrganisation.xsd"/>
	<include schemaLocation="SearchWhere.xsd"/>
	<include schemaLocation="MaxResultSize.xsd"/>
	<element name="SearchMedicineCardRequest" type="medicinecard20140601:SearchMedicineCardRequestType"/>
	<complexType name="SearchMedicineCardRequestType">
		<sequence>
			<choice>
				<element name="SeachPerson" type="medicinecard20140601:SearchPersonType"/>
				<element name="SeachOrganisation" type="medicinecard20140601:SearchOrganisationType"/>
			</choice>
			<element name="Where" type="medicinecard20140601:SearchWhereType" minOccurs="0"/>
			<element name="MaxResultSize" type="medicinecard20140601:MaxResultSizeType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
