etc/schemas/2014/06/01/SearchPersonResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20140601="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Patient.xsd"/>
	<include schemaLocation="MoreAvailable.xsd"/>
	<element name="SearchPersonResponse" type="medicinecard20140601:SearchPersonResponseType"/>
	<complexType name="SearchPersonResponseType">
		<sequence>
			<element name="Patient" type="medicinecard20140601:PatientType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MoreAvailable" type="medicinecard20140601:MoreAvailableType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
