etc/schemas/2014/06/01/UpdateOrderOnWarrant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20140601="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="UpdateOrder.xsd"/>
	<include schemaLocation="UpdateOrderStatus.xsd"/>
	<include schemaLocation="WarrantIdentifier.xsd"/>
	<include schemaLocation="WarrantVersion.xsd"/>
	<complexType name="UpdateOrderOnWarrantType">
		<sequence>
			<element name="Identifier" type="medicinecard20140601:WarrantIdentifierType"/>
			<element name="Version" type="medicinecard20140601:WarrantVersionType"/>
			<choice>
				<element name="Order" type="medicinecard20140601:UpdateOrderType"/>
				<element name="OrderStatus" type="medicinecard20140601:UpdateOrderStatusType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
