etc/schemas/2014/06/01/UpdateAquireOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20140601="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="OrderIdentifier.xsd"/>
	<include schemaLocation="OrderVersion.xsd"/>
	<include schemaLocation="AquireOrderStatus.xsd"/>
	<include schemaLocation="AquireOrderComment.xsd"/>
	<complexType name="UpdateAquireOrderType">
		<sequence>
			<element name="Identifier" type="medicinecard20140601:OrderIdentifierType"/>
			<element name="Version" type="medicinecard20140601:OrderVersionType"/>
			<element name="Aquire">
				<complexType>
					<sequence>
						<element name="Status" type="medicinecard20140601:AquireOrderStatusType"/>
						<element name="Comment" type="medicinecard20140601:AquireOrderCommentType" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>						
		</sequence>
	</complexType>
</schema>
