etc/schemas/2014/06/01/UpdateWarrant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20130601="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" xmlns:medicinecard20140601="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" schemaLocation="../../../2013/06/01/Modificator.xsd"/>
	<include schemaLocation="WarrantIdentifier.xsd"/>
	<include schemaLocation="WarrantVersion.xsd"/>
	<include schemaLocation="InvalidateWarrant.xsd"/>
	<include schemaLocation="TerminateWarrant.xsd"/>
	<complexType name="UpdateWarrantType">
		<sequence>
			<element name="Identifier" type="medicinecard20140601:WarrantIdentifierType"/>
			<element name="Version" type="medicinecard20140601:WarrantVersionType"/>
			<element name="ModifiedBy" type="medicinecard20130601:ModificatorType" minOccurs="0"/>
			<element name="Terminate" type="medicinecard20140601:TerminateWarrantType" minOccurs="0"/>
			<element name="Invalidate" type="medicinecard20140601:InvalidateWarrantType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
