etc/schemas/2014/06/01/UpdateEffectuationOnOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20140601="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="UpdateEffectuation.xsd"/>
	<include schemaLocation="UpdateEmptyEffectuation.xsd"/>
	<include schemaLocation="OrderIdentifier.xsd"/>
	<include schemaLocation="OrderVersion.xsd"/>
	<include schemaLocation="OrderStatus.xsd"/>
	<complexType name="UpdateEffectuationOnOrderType">
		<sequence>
			<element name="Identifier" type="medicinecard20140601:OrderIdentifierType"/>
			<element name="Version" type="medicinecard20140601:OrderVersionType"/>
			<element name="Status" type="medicinecard20140601:OrderStatusType" minOccurs="0"/>
			<choice>
				<element name="Effectuation" type="medicinecard20140601:UpdateEffectuationType"/>
				<element name="EmptyEffectuation" type="medicinecard20140601:UpdateEmptyEffectuationType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
