etc/schemas/2014/06/01/UpdateAquireOrderRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20130601="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" xmlns:medicinecard20140601="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="UpdateAquireOrderOnDrugMedicationAndWarrant.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" schemaLocation="../../../2013/06/01/Modificator.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="AquireOrderIdentifier.xsd"/>
	<include schemaLocation="AquireOrderVersion.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/MedicineCardVersion.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/OrganisationIdentifier.xsd"/>
	<element name="UpdateAquireOrderRequest" type="medicinecard20140601:AquireOrderRequestType"/>
	<complexType name="AquireOrderRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="medicinecard20140601:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="medicinecard20120601:OrganisationIdentifierType"/>
			</choice>
			<element name="MedicineCardVersion" type="medicinecard20120601:MedicineCardVersionType"/>
			<element name="ModifiedBy" type="medicinecard20130601:ModificatorType" minOccurs="0"/>
			<element name="ReportedBy" type="medicinecard20130601:ModificatorType" minOccurs="0"/>
			<element name="AquireOrder" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="Identifier" type="medicinecard20140601:AquireOrderIdentifierType"/>
						<element name="Version" type="medicinecard20140601:AquireOrderVersionType"/>
						<element name="DrugMedication" type="medicinecard20140601:UpdateAquireOrderOnDrugMedicationAndWarrantType"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
</schema>
