etc/schemas/2014/06/01/UpdateOrderStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20130601="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" xmlns:medicinecard20140601="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" schemaLocation="../../../2013/06/01/Modificator.xsd"/>
	<include schemaLocation="OrderIdentifier.xsd"/>
	<include schemaLocation="OrderVersion.xsd"/>
	<include schemaLocation="OrderStatus.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/Delivery.xsd"/>
	<complexType name="UpdateOrderStatusType">
		<sequence>
			<element name="Identifier" type="medicinecard20140601:OrderIdentifierType"/>
			<element name="Version" type="medicinecard20140601:OrderVersionType"/>
			<element name="ModifiedBy" type="medicinecard20130601:ModificatorType" minOccurs="0"/>
			<element name="Status" type="medicinecard20140601:OrderStatusType"/>
		</sequence>
	</complexType>
</schema>
