etc/schemas/2014/06/01/UpdateEffectuation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20130601="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" xmlns:medicinecard20140601="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" schemaLocation="../../../2013/06/01/Modificator.xsd"/>
	<include schemaLocation="CreateSubstitutedDrug.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/EffectuationDateTime.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/PackageNumber.xsd"/>
	<include schemaLocation="CreatePackageSize.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/PackageQuantity.xsd"/>
	<include schemaLocation="DoseDispensedQuantity.xsd"/>
	<include schemaLocation="LabelText.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/EffectuationIdentifier.xsd"/>
	<include schemaLocation="EffectuationVersion.xsd"/>
	<complexType name="UpdateEffectuationType">
		<sequence>
			<element name="Identifier" type="medicinecard20120601:EffectuationIdentifierType"/>
			<element name="Version" type="medicinecard20140601:EffectuationVersionType"/>
			<element name="DateTime" type="medicinecard20120601:EffectuationDateTimeType"/>
			<element name="ModifiedBy" type="medicinecard20130601:ModificatorType" minOccurs="0"/>
			<choice>
				<!-- A drug was effectuated, one or more packages was given to the patient -->
				<element name="PackageDispensed">
					<complexType>
						<sequence>
							<element name="PackageQuantity" type="medicinecard20120601:PackageQuantityType"/>
							<element name="PackageNumber" type="medicinecard20120601:PackageNumberType"/>
							<element name="PackageSize" type="medicinecard20140601:CreatePackageSizeType"/>
						</sequence>
					</complexType>
				</element>
				<!-- A drug was effectuated using dose dispensing -->
				<element name="DoseDispensed">
					<complexType>
						<sequence>
							<element name="DoseDispensedQuantity" type="medicinecard20140601:DoseDispensedQuantityType"/>
						</sequence>
					</complexType>
				</element>
				<!-- The effectuation was returned or the order wasn't fulfilled in some other way -->
				<element name="Empty">
					<complexType/>
				</element>
			</choice>
			<element name="SubstitutedDrug" type="medicinecard20140601:CreateSubstitutedDrugType" minOccurs="0"/>
			<element name="LabelText" type="medicinecard20140601:LabelTextType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
