etc/schemas/2011/01/01/DKMA_WithdrawnByStructure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20110101="http://www.dkma.dk/medicinecard/xml.schema/2011/01/01" xmlns:medicinecard20090101="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" xmlns:medicinecard20080601="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" xmlns:cpr="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2011/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" schemaLocation="../../../2009/01/01/DKMA_OrganisationStructure.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../../../2008/06/01/DKMA_DoctorStructure.xsd"/>
	<element name="WithdrawnByStructure" type="medicinecard20110101:WithdrawnByStructureType">
		<annotation>
			<documentation xml:lang="en-GB">Informations about who, when and why the drug medication was withdrawn</documentation>
			<documentation xml:lang="da-DK">Information om hvem, hvornår og hvorfor lægemiddelordination er seponeret </documentation>
		</annotation>
	</element>
	<complexType name="WithdrawnByStructureType">
		<sequence>
			<element ref="medicinecard20090101:OrganisationStructure"/>
			<element ref="medicinecard20080601:DoctorStructure" minOccurs="0"/>
			<element name="WithdrawnDateTime" type="dateTime"/>
	</sequence>
	</complexType>
</schema>
