etc/schemas/2015/06/01/E2/CancelledPrescription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" 
		xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="importsFrom20150601E2.xsd"/>
	<element name="CancelledPrescription" type="medicinecard20150601E2:CancelledPrescriptionType">
		<annotation>
			<documentation xml:lang="en-GB">For use in bulk service: Result of marking one or more prescriptions as invalid</documentation>
			<documentation xml:lang="da-DK">Til brug i bulk service: Resultat af at markere en eller flere recepter som ugyldige</documentation>
		</annotation>
	</element>
	<complexType name="CancelledPrescriptionType">
		<sequence>
			<element name="Identifier" type="medicinecard20150601:PrescriptionIdentifierType" minOccurs="0"  maxOccurs="unbounded"/>
			<element name="CancelPrescriptionFailed" type="medicinecard20150601E2:PrescriptionErrorType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
