etc/schemas/2015/06/01/E2/CreateOrderAndEffectuation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" 
		xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="importsFrom20150601E2.xsd"/>

	<complexType name="CreateOrderAndEffectuationType">
		<annotation>
			<documentation xml:lang="en-GB">Request document for creating an order together with an effectuation</documentation>
			<documentation xml:lang="da-DK">Request-dokument til at oprette en bestilling sammen med en effektuering</documentation>
		</annotation>
		<sequence>
			<choice>
				<element name="OrderedAtPharmacy" type="medicinecard20150601:OrganisationType"/>
				<element name="OrderedAbroad" type="medicinecard20150601:ForeignOrganisationType"/>
			</choice>	
			<element name="DoseDispensing" type="medicinecard20150601:DoseDispensingType" minOccurs="0"/>
			<element name="DeliveryInstructionText" type="medicinecard20150601:DeliveryInstructionTextType" minOccurs="0" maxOccurs="3"/>
			<element name="Delivery" type="medicinecard20150601:DeliveryType" minOccurs="0"/>
			<element name="Effectuation" type="medicinecard20150601E2:CreatePharmacyEffectuationType"/>
		</sequence>
	</complexType>
</schema>
