etc/schemas/2015/06/01/E2/CreateEffectuationOnDrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" 
		xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="importsFrom20150601E2.xsd"/>

	<complexType name="CreateEffectuationOnDrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Elemenet for adding an effecutation on a drug prescription</documentation>
			<documentation xml:lang="da-DK">Element for en tilføjelse af en effektuering på en lægemiddelordination</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="medicinecard20150601:DrugMedicationIdentifierType"/>
			<element name="Effectuation" type="medicinecard20150601E2:CreateEffectuationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
