etc/schemas/2015/06/01/E2/DosageQuantityUnitTexts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" 
		xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="importsFrom20150601E2.xsd"/>
	<element name="DosageQuantityUnitTexts" type="medicinecard20150601E2:DosageQuantityUnitTextsType">
		<annotation>
			<documentation xml:lang="en-GB">Unit for dosage quantity, singular and plural</documentation>
			<documentation xml:lang="da-DK">Enhed for dosismængde, ental og flertal</documentation>
		</annotation>
	</element>
	<complexType name="DosageQuantityUnitTextsType">
		<sequence>
			<element name="Singular" type="medicinecard20150601E2:DosageQuantityUnitTextType"/>
			<element name="Plural" type="medicinecard20150601E2:DosageQuantityUnitTextType"/>
		</sequence>
	</complexType>
</schema>
