etc/schemas/2015/06/01/E2/DoseDispensingOnHold.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" 
		xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="importsFrom20150601E2.xsd"/>

    <complexType name="DoseDispensingOnHoldType">
        <annotation>
            <documentation xml:lang="en-GB">On hold period for dose dispensing</documentation>
            <documentation xml:lang="da-DK">Sat i bero periode for dosisdispenseringskort</documentation>
        </annotation>
        <sequence>
			<element name="Created" type="medicinecard20150601:CreatedType" />
			<element name="ReportedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
		</sequence>
    </complexType>
</schema>
