etc/schemas/2015/06/01/E2/DoseDispensingPeriod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="../DoseDispensingPeriodStartDate.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import schemaLocation="../DoseDispensingPeriodEndDate.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import  schemaLocation="../DoseDispensingDeadline.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <include schemaLocation="DoseDispensedEffectuationDate.xsd"/>
    <include schemaLocation="DoseDispensedMedicationWithNegativeConsent.xsd"/>
    <include schemaLocation="DoseDispensedMedication.xsd"/>
    <include schemaLocation="DoseDispensingDetailedSpecification.xsd"/>

    <complexType name="DoseDispensingPeriodType">
        <annotation>
            <documentation xml:lang="en-GB">Dose dispensing period</documentation>
            <documentation xml:lang="da-DK">Dosisdispenseringsperiode</documentation>
        </annotation>
        <sequence>
            <element name="StartDate" type="medicinecard20150601:DoseDispensingPeriodStartDateType" minOccurs="0"/>
            <element name="EndDate" type="medicinecard20150601:DoseDispensingPeriodEndDateType" minOccurs="0"/>
            <element name="Deadline" type="medicinecard20150601:DoseDispensingDeadlineType" minOccurs="0"/>
            <element name="EffectuationDate" type="medicinecard20150601E2:DoseDispensedEffectuationDateType" minOccurs="0"/>
            <element name="DoseDispensedMedicationWithNegativeConsent" type="medicinecard20150601E2:DoseDispensedMedicationWithNegativeConsentType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="DoseDispensedMedication" type="medicinecard20150601E2:DoseDispensedMedicationType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="DetailedSpecification" type="medicinecard20150601E2:DoseDispensingDetailedSpecificationType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
