etc/schemas/2015/06/01/E2/DoseDispensingWarning.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" 
		xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="importsFrom20150601E2.xsd"/>

    <complexType name="DoseDispensingWarningType">
        <annotation>
            <documentation xml:lang="en-GB">Warning related to dose dispensing.</documentation>
            <documentation xml:lang="da-DK">Advarsel som er knyttet til dosisdispensering.</documentation>
        </annotation>
        <sequence>
        	<element name="WarningCode" type="medicinecard20150601E2:DoseDispensingWarningCodeType"/>
            <element name="WarningText" type="medicinecard20150601E2:DoseDispensingWarningTextType"/>
        	<element name="Severity" type="medicinecard20150601E2:WarningSeverityType"/>
        </sequence>
    </complexType>
</schema>
