etc/schemas/2015/06/01/E2/DoseDispensedMedicationWithNegativeConsent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <include schemaLocation="DoseDispensedMedicationIndex.xsd"/>
    <include schemaLocation="DoseDispensedMedicationIdentifier.xsd"/>
    <import  schemaLocation="../DrugMedicationVersion.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <include schemaLocation="DoseDispensingWarning.xsd"/>

    <complexType name="DoseDispensedMedicationWithNegativeConsentType">
        <annotation>
            <documentation xml:lang="en-GB">Dose dispensing medication which has negative consent.</documentation>
            <documentation xml:lang="da-DK">Dosisdispenseret lægemiddel som er privatmarkeret.</documentation>
        </annotation>
        <sequence>
            <element name="Index" type="medicinecard20150601E2:DoseDispensedMedicationIndexType"/>
            <element name="Identifier" type="medicinecard20150601E2:DoseDispensedMedicationIdentifierType"/>
            <element name="Version" type="medicinecard20150601:DrugMedicationVersionType" minOccurs="0"/>   <!-- Bør denne være obligatorisk ??? -->
            <element name="Warning" type="medicinecard20150601E2:DoseDispensingWarningType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
