etc/schemas/2015/06/01/E2/DoseDispensedMedicationRef.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" 
		xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="importsFrom20150601E2.xsd"/>

    <complexType name="DoseDispensedMedicationRefType">
        <annotation>
            <documentation xml:lang="en-GB">Reference to a dose dispensed medication, and a specification of the quantity to be packed into a specific dispensable unit (e.g. bag).</documentation>
            <documentation xml:lang="da-DK">Reference til et dosisdispenseret lægemiddel, og en specifikation af den mængde som skal pakkes i en specifik dispenserbar enhed (fx pose).</documentation>
        </annotation>
        <sequence>
			<element name="MedicationIdentifier" type="medicinecard20150601E2:PlannedDispensingIdentifierType"/>
            <element name="Quantity" type="medicinecard20150601:DoseQuantityType"/>
        </sequence>
    </complexType>
</schema>
