etc/schemas/2015/06/01/E2/DoseDispensedMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" 
		xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="importsFrom20150601E2.xsd"/>

    <complexType name="DoseDispensedMedicationType">
        <annotation>
            <documentation xml:lang="en-GB">Dose dispensing medication.</documentation>
            <documentation xml:lang="da-DK">Dosisdispenseret lægemiddel.</documentation>
        </annotation>
        <sequence>
        	<choice>
            	<element name="DrugMedication" type="medicinecard20150601E2:DrugMedicationType"/>
				<element name="Prescription" type="medicinecard20150601E2:PrescriptionType"/>
            </choice>
            <element name="Warning" type="medicinecard20150601E2:DoseDispensingWarningType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="PlannedAdministration" type="medicinecard20150601E2:PlannedAdministrationType" minOccurs="0"/>
            <element name="TotalNumberOfDoseDispensedQuantity" type="medicinecard20150601:DoseQuantityType" minOccurs="0"/>
            <element name="DoseDispensingEndDate" type="medicinecard20150601:DoseDispensingEndDateType" minOccurs="0"/>     
        </sequence>
    </complexType>
</schema>
