etc/schemas/2015/06/01/E2/DoseDispensingCard.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" 
		xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="importsFrom20150601E2.xsd"/>

    <complexType name="DoseDispensingCardType">
        <annotation>
            <documentation xml:lang="en-GB">Dose dispensing card for a specific person, which can contain one or more dose dispensing periods</documentation>
            <documentation xml:lang="da-DK">Dosisdispenseringskort for en given person, der kan indeholde en eller flere dosisdispenseringsperioder</documentation>
        </annotation>
        <sequence>
        	<element name="Identifier" type="medicinecard20150601E2:DoseDispensingCardIdentifierType" minOccurs="0"/>
        	<element name="Description" type="medicinecard20150601E2:DoseDispensingCardDescriptionType"/>
			<element name="IsInvalid" type="medicinecard20150601:MedicineCardIsInvalidType" minOccurs="0"/>
            <element name="Warning" type="medicinecard20150601E2:DoseDispensingWarningType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="Delivery" type="medicinecard20150601:DeliveryType" minOccurs="0"/>
            <element name="PackingGroupIdentifier" type="medicinecard20150601E2:PackingGroupIdentifierType" minOccurs="0"/>
            <element name="PackingGroupName" type="medicinecard20150601:PackingGroupType" minOccurs="0"/>
            <element name="OrderedAtPharmacy" type="medicinecard20150601:OrganisationType" minOccurs="0"/>
            <element name="PackedAtOrganisation" type="medicinecard20150601:OrganisationType" minOccurs="0"/>
            <element name="NormalPeriodDuration" type="medicinecard20150601E2:DoseDispensingPeriodDurationType" minOccurs="0"/>
            <element name="DoseDispensableUnitLabel" type="medicinecard20150601E2:DoseDispensableUnitLabelType" minOccurs="0"/>
            <element name="Period" type="medicinecard20150601E2:DoseDispensingPeriodType" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
