etc/schemas/2015/06/01/E2/DrugMedicationHistoryPeriod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" 
		xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="importsFrom20150601E2.xsd"/>
    <element name="DrugMedicationHistoryPeriod" type="medicinecard20150601E2:DrugMedicationHistoryPeriodType">
        <annotation>
            <documentation xml:lang="en-GB">A specific period in the history of a drugmedication</documentation>
            <documentation xml:lang="da-DK">En specifik periode i historikken for en lægemiddelordination</documentation>
        </annotation>
    </element>
    <complexType name="DrugMedicationHistoryPeriodType">
        <sequence>
            <element name="PeriodStartDateTime" type="medicinecard20150601:DrugMedicationHistoryPeriodStartDateTimeType"/>
            <element name="PeriodEndDateTime" type="medicinecard20150601:DrugMedicationHistoryPeriodEndDateTimeType"/>
            <element name="Version" type="medicinecard20150601:DrugMedicationVersionType"/>
            <element name="Drug" type="medicinecard20150601:DrugType"/>
            <element name="Dosage" type="medicinecard20150601E2:DosageForResponseType"/>
            <element name="Paused" type="medicinecard20150601:DrugMedicationPausedType" minOccurs="0"/>
            <element name="Hospitalized" type="medicinecard20150601:HospitalizedType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
