etc/schemas/2015/06/01/E2/ForwardPrescriptionRequestResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" 
		xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="importsFrom20150601E2.xsd"/>

	<element name="ForwardPrescriptionRequestResponse" type="medicinecard20150601E2:ForwardPrescriptionRequestResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response for forwarding prescription requests</documentation>
			<documentation xml:lang="da-DK">Svar på viderestilling af receptanmodninger</documentation>
		</annotation>
	</element>
	<complexType name="ForwardPrescriptionRequestResponseType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType" />
            <element name="MedicineCardVersion" type="medicinecard20150601:MedicineCardVersionType"/>
            <element name="VersionMismatchWarning" type="medicinecard20150601:VersionMismatchWarningType" minOccurs="0"/>
			<element name="PrescriptionRequest" type="medicinecard20150601E2:ForwardedPrescriptionRequestType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
