etc/schemas/2015/06/01/E2/ForwardedPrescriptionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" 
		xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="importsFrom20150601E2.xsd"/>

	<complexType name="ForwardedPrescriptionRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Response to forwarding a prescription request</documentation>
			<documentation xml:lang="da-DK">Svar viderestilling af en receptanmodning </documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="medicinecard20150601:PrescriptionRequestIdentifierType"/>
			<element name="Version" type="medicinecard20150601E2:PrescriptionRequestVersionType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
