etc/schemas/2015/06/01/E2/GetDrugMedicationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" 
		xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="importsFrom20150601E2.xsd"/>

	<element name="GetDrugMedicationResponse" type="medicinecard20150601E2:GetDrugMedicationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a response with one or more drug medications</documentation>
			<documentation xml:lang="da-DK">Element for et svar med en eller flere lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="GetDrugMedicationResponseType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
			<element name="PrivateDrugMedication" type="medicinecard20150601:PrivateDrugMedicationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="DrugMedication" type="medicinecard20150601E2:DrugMedicationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="InvalidDrugMedication" type="medicinecard20150601:InvalidDrugMedicationType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
