etc/schemas/2015/06/01/E2/GetDoseDispensingCardResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" 
		xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="importsFrom20150601E2.xsd"/>

    <element name="GetDoseDispensingCardResponse" type="medicinecard20150601E2:GetDoseDispensingCardResponseType"/>

    <complexType name="GetDoseDispensingCardResponseType">
        <annotation>
            <documentation xml:lang="en-GB">Response type with one or more dose dispensing cards for a specific person</documentation>
            <documentation xml:lang="da-DK">Type for et svar med en eller flere dosisdispenseringskort for en given person</documentation>
        </annotation>
        <sequence>
            <element name="Patient" type="medicinecard20150601:PatientType"/>
            <element name="RequestDateTime" type="medicinecard20150601E2:RequestDateTimeType"/>
            <element name="DoseDispensingOnHold" type="medicinecard20150601E2:DoseDispensingOnHoldType" minOccurs="0"/>
            <element name="DoseDispensingCard" type="medicinecard20150601E2:DoseDispensingCardType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
