etc/schemas/2015/06/01/E2/GetDrugMedicationHistoryResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" 
		xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="importsFrom20150601E2.xsd"/>
	<element name="GetDrugMedicationHistoryResponse" type="medicinecard20150601E2:GetDrugMedicationHistoryResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a response with the history of a drug medcination</documentation>
			<documentation xml:lang="da-DK">Element for et svar med en eller flere lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="GetDrugMedicationHistoryResponseType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
            <element name="Identifier" type="medicinecard20150601:DrugMedicationIdentifierType"/>
            <element name="History" type="medicinecard20150601E2:DrugMedicationHistoryType"/>
		</sequence>
	</complexType>
</schema>
