etc/schemas/2015/06/01/E2/GetDoseDispensingCardRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" 
		xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">

	<import  schemaLocation="../PersonIdentifier.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="CurrentDoseDispensingPeriodFlag.xsd"/>
	<include schemaLocation="CurrentAndPendingDoseDispensingPeriodsFlag.xsd"/>
	<include schemaLocation="IncludeDetailedSpecificationFlag.xsd"/>
	<include schemaLocation="DoseDispensingRequestedDate.xsd"/>
	<element name="GetDoseDispensingCardRequest" type="medicinecard20150601E2:GetDoseDispensingCardRequestType"/>

	<complexType name="GetDoseDispensingCardRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a requesting dose dispensing card(s) for a patient</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel efter dosisdispenseringskort for en patient</documentation>
		</annotation>
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
			<element name="RequestedPeriod">
				<complexType>
			        <sequence>
						<choice>
							<element name="CurrentPeriod" type="medicinecard20150601E2:CurrentDoseDispensingPeriodFlagType"/>
							<element name="CurrentAndPendingPeriods" type="medicinecard20150601E2:CurrentAndPendingDoseDispensingPeriodsFlagType"/>
							<element name="RequestedDate" type="medicinecard20150601E2:DoseDispensingRequestedDateType"/>
						</choice>
						<element name="IncludeDetailedSpecification" type="medicinecard20150601E2:IncludeDetailedSpecificationFlagType" minOccurs="0"/>
			        </sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
</schema>
