etc/schemas/2015/06/01/E2/MedicineCard.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" 
		xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="importsFrom20150601E2.xsd"/>

	<complexType name="MedicineCardType">
		<annotation>
			<documentation xml:lang="en-GB">Virtual card where a patient's medications are documented, except effectuations</documentation>
			<documentation xml:lang="da-DK">Virtuelt kort hvori en patients medicineringer dokumenteres, undtaget effektueringer</documentation>
		</annotation>
		<sequence>
			<element name="Patient" type="medicinecard20150601:PatientType"/>
			<element name="Version" type="medicinecard20150601:MedicineCardVersionType"/>
			<element name="PreviousVersion" type="medicinecard20150601:MedicineCardVersionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="NextVersion" type="medicinecard20150601:MedicineCardVersionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ReportedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="Modified" type="medicinecard20150601:ModifiedType" minOccurs="0"/>
			<element name="Reviewed" type="medicinecard20150601:ReviewedType" minOccurs="0" />
			<element name="NotReviewed" type="medicinecard20150601:NotReviewedType" minOccurs="0"/>
			<element name="IsInvalid" type="medicinecard20150601:MedicineCardIsInvalidType" minOccurs="0"/>
			<element name="PatientOrganisationRelation" type="medicinecard20150601:PatientOrganisationRelationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="PrivateDrugMedication" type="medicinecard20150601:PrivateDrugMedicationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="DrugMedication" type="medicinecard20150601E2:DrugMedicationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="InvalidDrugMedication" type="medicinecard20150601:InvalidDrugMedicationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Prescription" type="medicinecard20150601E2:PrescriptionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="InvalidPrescription" type="medicinecard20150601:InvalidPrescriptionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="LatestDosageDispensingEffectuation" type="medicinecard20150601:LatestDosageDispensingEffectuationType" minOccurs="0"/>
			<element name="HasOpenDosageDispensingPrescriptions" type="medicinecard20150601:HasOpenDosageDispensingPrescriptionsType"/>
			<element name="OrderedPrescriptionsExist" type="medicinecard20150601:OrderedPrescriptionsExistType"/>
		</sequence>
	</complexType>
</schema>
