etc/schemas/2015/06/01/E2/PatientRegistrationIdentification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" 
		xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="importsFrom20150601E2.xsd"/>

	<element name="PatientRegistrationIdentification" type="medicinecard20150601E2:PatientRegistrationIdentificationType">
		<annotation>
			<documentation xml:lang="en-GB">Identifies registrations to retrieve in a GetPatientRegistrationsRequest</documentation>
			<documentation xml:lang="da-DK">Identificerer hvilke registreringer der skal returneres i et GetPatientRegistrationsRequest</documentation>
		</annotation>
	</element>
    <complexType name="PatientRegistrationIdentificationType">
        <sequence>
            <element name="Type" type="medicinecard20150601E2:PatientRegistrationTypeType" maxOccurs="unbounded"/>
            <element name="Identifier" type="medicinecard20150601:PatientRegistrationIdentifierType" minOccurs="0" />
        </sequence>
    </complexType>
</schema>
