etc/schemas/2015/06/01/E2/PlannedAdministration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" 
		xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="importsFrom20150601E2.xsd"/>

	<complexType name="PlannedAdministrationType">
		<annotation>
			<documentation xml:lang="en-GB">How often and when the drug is planned to be given</documentation>
			<documentation xml:lang="da-DK">Angivelse af hvor ofte og hvornår et lægemiddel planlægges til indtagelse</documentation>
		</annotation>
		<sequence>
			<choice>
				<element name="UnitText" type="medicinecard20150601E2:DosageQuantityUnitTextType" minOccurs="0"/>
				<element name="UnitTexts" type="medicinecard20150601E2:DosageQuantityUnitTextsType" minOccurs="0"/>
			</choice>
			<element name="PlannedAdministrationFixed" type="medicinecard20150601E2:PlannedAdministrationStructuresType" minOccurs="0"/>
			<element name="PlannedAdministrationAccordingToNeed" type="medicinecard20150601E2:PlannedAdministrationStructuresType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
