etc/schemas/2015/06/01/E2/PlannedAdministrationStructure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" 
		xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="importsFrom20150601E2.xsd"/>

	<complexType name="PlannedAdministrationStructureType">
		<annotation>
			<documentation xml:lang="en-GB">Structure for a period in the planned Administration</documentation>
			<documentation xml:lang="da-DK">En Periode i den planlagte administration</documentation>
		</annotation>
		<sequence>
			<choice>
				<element name="IterationInterval" type="medicinecard20150601:DosageTimesIterationIntervalType"/>
				<element name="NotIterated" type="medicinecard20150601:DosageIsNotIteratedType"/>
			</choice>
			<element name="StartDate" type="medicinecard20150601:DosageTimesStartDateType"/>
			<element name="EndDate" type="medicinecard20150601:DosageTimesEndDateType" minOccurs="0"/>
			<element name="Day" type="medicinecard20150601E2:PlannedDosageDayType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
