etc/schemas/2015/06/01/E2/PrescriptionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" 
		xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="importsFrom20150601E2.xsd"/>

	<complexType name="PrescriptionRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element which describes a prescriptionrequest</documentation>
			<documentation xml:lang="da-DK">Element der beskriver en receptanmodning</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="medicinecard20150601:PrescriptionRequestIdentifierType" />
			<element name="Version" type="medicinecard20150601E2:PrescriptionRequestVersionType" minOccurs="0"/>
			<element name="DrugMedicationIdentifier" type="medicinecard20150601:DrugMedicationIdentifierType" />
			<element name="Created" type="medicinecard20150601:CreatedType" />
			<element name="ReportedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="Modified" type="medicinecard20150601:ModifiedType" minOccurs="0"/>
			<element name="PrescribingOrganisation" type="medicinecard20150601:OrganisationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="PackageRestriction" type="medicinecard20150601E2:PackageRestrictionType" minOccurs="0" />
			<element name="Order" type="medicinecard20150601:CreateOrderType" minOccurs="0"/>
			<element name="Status" type="medicinecard20150601:PrescriptionRequestStatusType" />
			<element name="PrescriptionIdentifier" type="medicinecard20150601:PrescriptionIdentifierType" minOccurs="0"/>
			<element name="CancelledBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="CancellationReason" type="medicinecard20150601E2:PrescriptionRequestCancellationReasonType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
