etc/schemas/2015/06/01/E2/ResumeDoseDispensingRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" 
		xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">

	<import  schemaLocation="../PersonIdentifier.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<element name="ResumeDoseDispensingRequest" type="medicinecard20150601E2:ResumeDoseDispensingRequestType"/>

	<complexType name="ResumeDoseDispensingRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for requesting dose dispensing be resumed for a specific patient if it was on hold</documentation>
			<documentation xml:lang="da-DK">Element for en anmodning om at gentoptage dosisdispensering for en given patient hvis det var sat i bero</documentation>
		</annotation>
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
		</sequence>
	</complexType>
</schema>
