etc/schemas/2015/06/01/E2/SetDoseDispensingOnHold.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">
		
	<import schemaLocation="../Modificator.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>

	<element name="SetDoseDispensingOnHold" type="medicinecard20150601E2:SetDoseDispensingOnHoldType">
		<annotation>
			<documentation xml:lang="en-GB">This element marks that dose dispensing is currently suspended</documentation>
			<documentation xml:lang="da-DK">Dette element indikerer at dosisdispensering i øjeblikket er suspenderet</documentation>
		</annotation>
	</element>
		
	<complexType name="SetDoseDispensingOnHoldType">
		<sequence>
			<element name="CreatedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
