etc/schemas/2015/06/01/E2/UpdateDrugMedicationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" 
		xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="importsFrom20150601E2.xsd"/>
	<element name="UpdateDrugMedicationRequest" type="medicinecard20150601E2:UpdateDrugMedicationRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request for a request which updated an existing drug medication</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel der opdaterer en eksisterende lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="UpdateDrugMedicationRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
			<element name="MedicineCardVersion" type="medicinecard20150601:MedicineCardVersionType"/>
			<element name="ModifiedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="ReportedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="DrugMedication" type="medicinecard20150601E2:UpdateDrugMedicationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
