etc/schemas/2008/06/01/receptserver-schemas/subelements/AdministrationOrdered_Type-1.0.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard="http://dkma.dk/receptserver/apotekssnitflade/xml/schemas/" targetNamespace="http://dkma.dk/receptserver/apotekssnitflade/xml/schemas/" elementFormDefault="qualified">
	<include schemaLocation="General_Types-1.0.xsd" />
	<include schemaLocation="General_Enumerated_Types-1.0.xsd" />
	<include schemaLocation="Delivery_Type-1.0.xsd" />
	<include schemaLocation="PharmacyWhereAddressed_Type-1.0.xsd" />
	<complexType name="AdministrationOrdered_Type">
		<sequence>
			<element name="AdministrationID" type="medicinecard:AdministrationID_Type" />
			<element name="OrderInstruction" type="medicinecard:OrderInstruction_Type" minOccurs="0" />
			<element name="DeliveryInformation" type="medicinecard:DeliveryInformation_Type" minOccurs="0" />
			<element name="Delivery" type="medicinecard:Delivery_Type" minOccurs="0" />
			<element name="PharmacyWhereAddressed" type="medicinecard:PharmacyWhereAddressed_Type" />
		</sequence>
	</complexType>
</schema>
