etc/schemas/2008/06/01/receptserver-schemas/subelements/AdministrationDone_Type-1.0.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard="http://dkma.dk/receptserver/apotekssnitflade/xml/schemas/" targetNamespace="http://dkma.dk/receptserver/apotekssnitflade/xml/schemas/" elementFormDefault="qualified">
	<include schemaLocation="General_Types-1.0.xsd"/>
	<include schemaLocation="General_Enumerated_Types-1.0.xsd"/>
	<include schemaLocation="Delivery_Type-1.0.xsd"/>
	<include schemaLocation="DrugPackage_Type-1.0.xsd"/>
	<include schemaLocation="PharmacyWhereAddressed_Type-1.0.xsd"/>
	<include schemaLocation="PharmacyWhereAdministrated_Type-1.0.xsd"/>
	<complexType name="AdministrationDone_Type">
		<sequence>
			<element name="AdministrationID" type="medicinecard:AdministrationID_Type"/>
			<element name="AdministrationDateTime" type="medicinecard:AdministrationDateTime_Type"/>
			<element name="PharmacyAdministrationNumber" type="medicinecard:PharmacyAdministrationNumber_Type" minOccurs="0"/>
			<element name="PharmacyMedicationNumber" type="medicinecard:PharmacyMedicationNumber_Type" minOccurs="0"/>
			<element name="DrugPackage" type="medicinecard:DrugPackage_Type"/>
			<element name="OrderInstruction" type="medicinecard:OrderInstruction_Type" minOccurs="0"/>
			<element name="DeliveryInformation" type="medicinecard:DeliveryInformation_Type" minOccurs="0"/>
			<element name="Delivery" type="medicinecard:Delivery_Type" minOccurs="0"/>
			<element name="PharmacyWhereAdministrated" type="medicinecard:PharmacyWhereAdministrated_Type"/>
			<element name="PharmacyComment" type="medicinecard:PharmacyComment_Type" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
