etc/schemas/2008/06/01/receptserver-schemas/subelements/Delivery_Type-1.0.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard="http://dkma.dk/receptserver/apotekssnitflade/xml/schemas/" targetNamespace="http://dkma.dk/receptserver/apotekssnitflade/xml/schemas/" elementFormDefault="qualified">
	<include schemaLocation="General_Types-1.0.xsd"/>
	<include schemaLocation="General_Enumerated_Types-1.0.xsd"/>
	<complexType name="Delivery_Type">
		<sequence>
			<element name="PriorityOfDelivery" type="medicinecard:PriorityOfDelivery_Type" minOccurs="0"/>
			<element name="StreetName" type="medicinecard:DeliveryStreetName_Type" minOccurs="0"/>
			<element name="PseudoAddress" type="medicinecard:DeliveryPseudoAddress_Type" minOccurs="0"/>
			<element name="PostCodeIdentifier" type="medicinecard:PostCodeIdentifier_Type" minOccurs="0"/>
			<element name="ContactName" type="medicinecard:DeliveryContactName_Type" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
