etc/schemas/2008/06/01/receptserver-schemas/subelements/DoseDispensing_Type-1.0.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns="http://dkma.dk/receptserver/apotekssnitflade/xml/schemas/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dkma.dk/receptserver/apotekssnitflade/xml/schemas/" elementFormDefault="qualified">
	<xs:include schemaLocation="General_Types-1.0.xsd"/>
	<xs:complexType name="DoseDispensing_Type">
		<xs:sequence>
			<xs:element name="StartDate" type="xs:date"/>
			<xs:element name="EndDate" type="xs:date" minOccurs="0"/>
			<xs:element name="CopyRequired" type="CopyRequired_Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
