etc/schemas/2008/06/01/receptserver-schemas/subelements/DrugPackage_Type-1.0.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard="http://dkma.dk/receptserver/apotekssnitflade/xml/schemas/" targetNamespace="http://dkma.dk/receptserver/apotekssnitflade/xml/schemas/" elementFormDefault="qualified">
	<include schemaLocation="General_Types-1.0.xsd" />
	<include schemaLocation="General_Enumerated_Types-1.0.xsd" />
	<include schemaLocation="Dosage_Type-1.0.xsd" />
	<include schemaLocation="Importer_Type-1.0.xsd" />
	<include schemaLocation="Iteration_Type-1.0.xsd" />
	<include schemaLocation="Indication_Type-1.0.xsd" />
	<include schemaLocation="Formulation_Type-1.0.xsd" />
	<complexType name="DrugPackage_Type">
		<sequence>
			<element name="PackageIdentifier" type="medicinecard:PackageIdentifier_Type" minOccurs="0" />
			<!-- MagistalFormulation understøttes ikke i version 1.0, da disse recepter kommer i receptserveren-->
			<choice>
				<element name="Formulation" type="medicinecard:Formulation_Type" />
				<element name="MagistralFormulation" type="medicinecard:MagistralFormulation_Type" />
			</choice>
			<!-- PackageSize vil typisk være sat når det kommer fra Lægen men ikke når recepten er oprettet af apoteket -->
			<element name="PackageSize" type="medicinecard:PackageSize_Type" minOccurs="0" />
			<element name="NumberOfPackings" type="medicinecard:NumberOfPackings_Type" />
			<element name="Importer" type="medicinecard:Importer_Type" minOccurs="0" />
			<element name="ReimbursementClause" type="medicinecard:ReimbursementClause_Type" minOccurs="0" />
			<element name="SubstitutionCode" type="medicinecard:SubstitutionCode_Type" minOccurs="0" />
			<element name="Dosage" type="medicinecard:Dosage_Type" minOccurs="0" />
			<element name="Indication" type="medicinecard:Indication_Type" minOccurs="0" />
			<element name="DrugDatabaseVersion" type="medicinecard:DrugDatabaseVersion_Type" minOccurs="0" />
		</sequence>
	</complexType>
</schema>
