etc/schemas/2008/06/01/receptserver-schemas/subelements/Formulation_Type-1.0.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard="http://dkma.dk/receptserver/apotekssnitflade/xml/schemas/" targetNamespace="http://dkma.dk/receptserver/apotekssnitflade/xml/schemas/" elementFormDefault="qualified">
	<include schemaLocation="General_Types-1.0.xsd"/>
	<complexType name="Formulation_Type">
		<sequence>
			<element name="NameOfDrug" type="medicinecard:NameOfDrug_Type"/>
			<element name="DosageForm" type="medicinecard:DosageForm_Type" minOccurs="0"/>
			<element name="DrugStrength" type="medicinecard:DrugStrength_Type" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
