etc/schemas/2008/06/01/receptserver-schemas/subelements/Importer_Type-1.0.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://dkma.dk/receptserver/apotekssnitflade/xml/schemas/" targetNamespace="http://dkma.dk/receptserver/apotekssnitflade/xml/schemas/" elementFormDefault="qualified">
    <xs:include schemaLocation="General_Types-1.0.xsd"/>
    <xs:complexType name="Importer_Type">
        <xs:choice>
            <xs:element name="ShortName" type="ImporterShortName_Type" minOccurs="0"/>
            <xs:element name="LongName" type="ImporterLongName_Type" minOccurs="0"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>
