etc/schemas/2008/06/01/receptserver-schemas/subelements/Indication_Type-1.0.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<schema xmlns:medicinecard="http://dkma.dk/receptserver/apotekssnitflade/xml/schemas/" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dkma.dk/receptserver/apotekssnitflade/xml/schemas/" elementFormDefault="qualified">
	<include schemaLocation="General_Types-1.0.xsd" />
	<complexType name="Indication_Type">
		<sequence>
			<element name="Code" type="medicinecard:IndicationCode_Type" minOccurs="0" />
			<element name="Text" type="medicinecard:IndicationText_Type" minOccurs="0" />
		</sequence>
	</complexType>
</schema>
