etc/schemas/2008/06/01/receptserver-schemas/subelements/Issuer_Type-1.0.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard="http://dkma.dk/receptserver/apotekssnitflade/xml/schemas/" targetNamespace="http://dkma.dk/receptserver/apotekssnitflade/xml/schemas/" elementFormDefault="qualified">
	<include schemaLocation="General_Types-1.0.xsd"/>
	<include schemaLocation="General_Enumerated_Types-1.0.xsd"/>
	<complexType name="Issuer_Type">
		<sequence>
			<!-- Ikke alle papir recepter og LMS015 recepter har aut. og CPR nummmer  -->
			<choice>
				<element name="CivilRegistrationNumber" type="medicinecard:CivilRegistrationNumber_Type" minOccurs="0"/>
				<element name="AuthorisationIdentifier" type="medicinecard:AuthorisationIdentifier_Type" minOccurs="0"/>
			</choice>
			<element name="TitleAndName" type="medicinecard:TitleAndName_Type" minOccurs="0"/>
			<element name="SpecialityCode" type="medicinecard:SpecialityCode_Type" minOccurs="0"/>
			<element name="Occupation" type="medicinecard:Occupation_Type" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
