etc/schemas/2008/06/01/receptserver-schemas/subelements/Iteration_Type-1.0.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard="http://dkma.dk/receptserver/apotekssnitflade/xml/schemas/" targetNamespace="http://dkma.dk/receptserver/apotekssnitflade/xml/schemas/" elementFormDefault="qualified">
	<include schemaLocation="General_Types-1.0.xsd" />
	<include schemaLocation="General_Enumerated_Types-1.0.xsd" />
	<complexType name="Iteration_Type">
		<sequence>
			<element name="Number" type="medicinecard:IterationNumber_Type" />
			<element name="Interval" type="medicinecard:IterationInterval_Type" />
			<element name="IntervalUnit" type="medicinecard:IterationIntervalUnit_Type" />
		</sequence>
	</complexType>
</schema>
