etc/schemas/2008/06/01/receptserver-schemas/subelements/PatientOrRelative_Type-1.0.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard="http://dkma.dk/receptserver/apotekssnitflade/xml/schemas/" targetNamespace="http://dkma.dk/receptserver/apotekssnitflade/xml/schemas/" elementFormDefault="qualified">
	<xs:include schemaLocation="General_Types-1.0.xsd"/>
	<xs:include schemaLocation="General_Enumerated_Types-1.0.xsd"/>
	<xs:complexType name="PatientOrRelative_Type">
		<xs:sequence>
			<xs:element name="CivilRegistrationNumber" type="medicinecard:CivilRegistrationNumber_Type" minOccurs="0"/>
			<xs:element name="PersonSurname" type="medicinecard:PersonSurname_Type" minOccurs="0"/>
			<xs:element name="PersonGivenName" type="medicinecard:PersonGivenName_Type" minOccurs="0"/>
			<xs:element name="StreetName" type="medicinecard:StreetName_Type" minOccurs="0"/>
			<xs:element name="DistrictName" type="medicinecard:DistrictName_Type" minOccurs="0"/>
			<xs:element name="PostCodeIdentifier" type="medicinecard:PostCodeIdentifier_Type" minOccurs="0"/>
			<xs:element name="CountryCode" type="medicinecard:CountryCode_Type" minOccurs="0"/>
			<xs:element name="CountyCode" type="medicinecard:CountyCode_Type" minOccurs="0"/>
			<xs:element name="PatientDateOfBirth" type="xs:date" minOccurs="0"/>
			<xs:element name="PatientSex" type="medicinecard:PatientSex_Type" minOccurs="0"/>
		</xs:sequence>
		<!-- Cpr eller (fornavn og efternavn) -->
	</xs:complexType>
	<xs:element name="PatientOrRelative" type="medicinecard:PatientOrRelative_Type"/>
</xs:schema>
