etc/schemas/2008/06/01/receptserver-schemas/subelements/PharmacyWhereAdministrated_Type-1.0.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns="http://dkma.dk/receptserver/apotekssnitflade/xml/schemas/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dkma.dk/receptserver/apotekssnitflade/xml/schemas/" elementFormDefault="qualified">
	<xs:include schemaLocation="General_Types-1.0.xsd"/>
	<xs:complexType name="PharmacyWhereAdministrated_Type">
		<xs:sequence>
			<xs:element name="PharmacyName" type="PharmacyName_Type"/>
			<xs:element name="PNumber" type="PNumber_Type"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
