etc/schemas/2008/06/01/receptserver-schemas/subelements/PharmacyWhereAddressed_Type-1.0.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://dkma.dk/receptserver/apotekssnitflade/xml/schemas/" targetNamespace="http://dkma.dk/receptserver/apotekssnitflade/xml/schemas/" elementFormDefault="qualified">
	<xs:include schemaLocation="General_Types-1.0.xsd"/>
	<xs:complexType name="PharmacyWhereAddressed_Type">
		<xs:sequence>
			<xs:element name="PharmacyName" type="PharmacyName_Type"/>
			<xs:element name="LocationNumber" type="LocationNumber_Type"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
