etc/schemas/2008/06/01/receptserver-schemas/subelements/PharmacyWhereInProgress_Type-1.0.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<schema xmlns:medicinecard="http://dkma.dk/receptserver/apotekssnitflade/xml/schemas/" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dkma.dk/receptserver/apotekssnitflade/xml/schemas/" elementFormDefault="qualified">
	<include schemaLocation="General_Types-1.0.xsd"/>
	<complexType name="PharmacyWhereInProgress_Type">
		<sequence>
			<element name="PharmacyName" type="medicinecard:PharmacyName_Type"/>
			<element name="LocationNumber" type="medicinecard:LocationNumber_Type"/>
		</sequence>
	</complexType>
</schema>
