etc/schemas/2008/06/01/receptserver-schemas/subelements/Prescription_Type-1.0.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard="http://dkma.dk/receptserver/apotekssnitflade/xml/schemas/" targetNamespace="http://dkma.dk/receptserver/apotekssnitflade/xml/schemas/" elementFormDefault="qualified">
	<include schemaLocation="General_Types-1.0.xsd"/>
	<include schemaLocation="Sender_Type-1.0.xsd"/>
	<include schemaLocation="PatientOrRelative_Type-1.0.xsd"/>
	<include schemaLocation="Medication_Type-1.0.xsd"/>
	<complexType name="Prescription_Type">
		<sequence>
			<element name="PrescriptionID" type="medicinecard:PrescriptionID_Type"/>
			<element name="Sender" type="medicinecard:Sender_Type"/>
			<choice>
				<sequence>
					<element name="PatientOrRelative" type="medicinecard:PatientOrRelative_Type" minOccurs="0"/>
					<element name="ForGPUse" type="medicinecard:ForGPUse_Type" minOccurs="0"/>
				</sequence>
				<element name="ForGPClinicUse" type="medicinecard:ForGPClinicUse_Type"/>
			</choice>
			<element name="Medication" type="medicinecard:Medication_Type" maxOccurs="99"/>
		</sequence>
	</complexType>
</schema>
