etc/schemas/2008/06/01/receptserver-schemas/subelements/Sender_Type-1.0.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--W3C Schema generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://dkma.dk/receptserver/apotekssnitflade/xml/schemas/" targetNamespace="http://dkma.dk/receptserver/apotekssnitflade/xml/schemas/" elementFormDefault="qualified">
	<xs:include schemaLocation="General_Types-1.0.xsd"/>
	<xs:include schemaLocation="General_Enumerated_Types-1.0.xsd"/>
	<xs:include schemaLocation="Issuer_Type-1.0.xsd"/>
	<xs:complexType name="Sender_Type">
		<xs:sequence>
			<xs:element name="Identifier" type="SenderIdentifier_Type"/>
			<xs:element name="IdentifierCode" type="IdentifierCode_Type"/>
			<xs:element name="OrganisationName" type="OrganisationName_Type" minOccurs="0"/>
			<xs:element name="StreetName" type="StreetName_Type" minOccurs="0"/>
			<xs:element name="PostCodeIdentifier" type="PostCodeIdentifier_Type" minOccurs="0"/>
			<xs:element name="TelephoneSubscriberIdentifier" type="TelephoneSubscriberIdentifier_Type" minOccurs="0"/>
			<xs:element name="MedicalSpecialityCode" type="MedicalSpecialityCode_Type" minOccurs="0"/>
			<xs:element name="Issuer" type="Issuer_Type"/>
			<xs:element name="SenderSystem" type="SenderSystem_Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
