etc/schemas/2008/06/01/receptserver-schemas/subelements/Sender_Type-1.0.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--W3C Schema generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard="http://dkma.dk/receptserver/apotekssnitflade/xml/schemas/" targetNamespace="http://dkma.dk/receptserver/apotekssnitflade/xml/schemas/" elementFormDefault="qualified">
	<include schemaLocation="General_Types-1.0.xsd"/>
	<include schemaLocation="General_Enumerated_Types-1.0.xsd"/>
	<include schemaLocation="Issuer_Type-1.0.xsd"/>
	<complexType name="Sender_Type">
		<sequence>
			<element name="Identifier" type="medicinecard:SenderIdentifier_Type"/>
			<element name="IdentifierCode" type="medicinecard:IdentifierCode_Type"/>
			<element name="OrganisationName" type="medicinecard:OrganisationName_Type" minOccurs="0"/>
			<element name="StreetName" type="medicinecard:StreetName_Type" minOccurs="0"/>
			<element name="PostCodeIdentifier" type="medicinecard:PostCodeIdentifier_Type" minOccurs="0"/>
			<element name="TelephoneSubscriberIdentifier" type="medicinecard:TelephoneSubscriberIdentifier_Type" minOccurs="0"/>
			<element name="MedicalSpecialityCode" type="medicinecard:MedicalSpecialityCode_Type" minOccurs="0"/>
			<element name="Issuer" type="medicinecard:Issuer_Type"/>
			<element name="SenderSystem" type="medicinecard:SenderSystem_Type" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
