etc/schemas/2012/12/01/ATC.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:reimbursement20121201="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	targetNamespace="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="ATCCode.xsd"/>
	<include schemaLocation="ATCText.xsd"/>
	<element name="ATC" type="reimbursement20121201:ATCType">
		<annotation>
			<documentation xml:lang="en-GB">Information about ATC group</documentation>
			<documentation xml:lang="da-DK">Information om ATC gruppe</documentation>
		</annotation>
	</element>
	<complexType name="ATCType">
		<sequence>
			<element name="Code" type="reimbursement20121201:ATCCodeType"/>
			<element name="Text" type="reimbursement20121201:ATCTextType"/>
		</sequence>
	</complexType>
</schema>
