etc/schemas/2012/12/01/ATCCode.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:reimbursement20121201="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	targetNamespace="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Source.xsd"/>
	<include schemaLocation="SourceDate.xsd"/>
	<include schemaLocation="SourceYearAndWeek.xsd"/>
	<element name="ATCCode" type="reimbursement20121201:ATCCodeType">
		<annotation>
			<documentation xml:lang="en-GB">Code of the drug ATC group (DMA01 field 15)</documentation>
			<documentation xml:lang="da-DK">Kode for lægemidlets ATC-gruppe  (LMS01 felt 15)</documentation>
		</annotation>
	</element>
	<complexType name="ATCCodeType">
		<simpleContent>
			<extension base="reimbursement20121201:ATCCodeValueType">
				<attribute name="source" type="reimbursement20121201:ATCCodeSourceType" use="required"/>
				<attribute name="date" type="reimbursement20121201:SourceDateType" use="optional"/>
				<attribute name="yearAndWeek" type="reimbursement20121201:SourceYearAndWeekType" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="ATCCodeValueType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="8"/>
		</restriction>
	</simpleType>
	<simpleType name="ATCCodeSourceType">
		<union memberTypes="reimbursement20121201:ATCCodePredefinedSourceType reimbursement20121201:UndefinedSourceType"/>
	</simpleType>
	<simpleType name="ATCCodePredefinedSourceType">
		<restriction base="reimbursement20121201:UndefinedSourceType">
			<enumeration value="Medicinpriser"/>
		</restriction>
	</simpleType>
</schema>
