etc/schemas/2012/12/01/Attachment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:reimbursement20121201="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	targetNamespace="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="ReimbursementCaseIdentifier.xsd"/>
	<include schemaLocation="AttachmentIdentifier.xsd"/>
	<include schemaLocation="AttachmentType.xsd"/>
	<include schemaLocation="AttachmentFile.xsd"/>
	<element name="Attachment" type="reimbursement20121201:AttachmentType">
		<annotation>
			<documentation xml:lang="en-GB"></documentation>
			<documentation xml:lang="da-DK"></documentation>
		</annotation>
	</element>
 	<complexType name="AttachmentType">
		<sequence>
			<element name="ReimbursementCaseIdentifier" type="reimbursement20121201:ReimbursementCaseIdentifierType" />
			<element name="AttachmentIdentifier" type="reimbursement20121201:AttachmentIdentifierType" />
			<element name="AttachmentKind" type="reimbursement20121201:AttachmentKindType"/>
			<element name="AttachmentFile" type="reimbursement20121201:AttachmentFileType"/>
		</sequence>
	</complexType>
</schema>
