etc/schemas/2012/12/01/CreateReimbursementApplicationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01"
	xmlns:reimbursement20121201="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	targetNamespace="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../06/01/Modificator.xsd"/>
	<include schemaLocation="CreateReimbursementApplication.xsd" />
	<element name="CreateReimbursementApplicationRequest" type="reimbursement20121201:CreateReimbursementApplicationRequestType">
		<annotation>
			<documentation xml:lang="en-GB"></documentation>
			<documentation xml:lang="da-DK"></documentation>
		</annotation>
	</element>
	<complexType name="CreateReimbursementApplicationRequestType">
		<sequence>
			<element name="CreatedBy" type="medicinecard20120601:ModificatorType" minOccurs="0"/>
			<element name="ReportedBy" type="medicinecard20120601:ModificatorType" minOccurs="0"/>
			<element name="CreateReimbursementApplication" type="reimbursement20121201:CreateReimbursementApplicationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>

