etc/schemas/2012/12/01/CreateReimbursementApplicationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:reimbursement20121201="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	targetNamespace="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="ReimbursementCaseIdentifier.xsd"/>
	<element name="CreateReimbursementApplicationResponse" type="reimbursement20121201:CreateReimbursementApplicationResponseType">
		<annotation>
			<documentation xml:lang="en-GB"></documentation>
			<documentation xml:lang="da-DK"></documentation>
		</annotation>
	</element>
	<complexType name="CreateReimbursementApplicationResponseType">
		<sequence>
			<element name="ReimbursementCaseIdentifier" type="reimbursement20121201:ReimbursementCaseIdentifierType"
				minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>
</schema>
