etc/schemas/2012/12/01/CreateReimbursementApplication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01"
	xmlns:reimbursement20121201="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	targetNamespace="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01"
		schemaLocation="../../../2012/06/01/PersonIdentifier.xsd" />
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01"
		schemaLocation="../../../2012/06/01/Drug.xsd" />
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01"
		schemaLocation="../../../2012/06/01/RouteOfAdministration.xsd" />
	<include schemaLocation="AuthorisedHealthcareProfessionalEmail.xsd" />
	<include schemaLocation="ReimbursementType.xsd" />
	<include schemaLocation="ApplicationForm.xsd" />
	<include schemaLocation="Attachment.xsd" />
	<element name="CreateReimbursementApplication"
		type="reimbursement20121201:CreateReimbursementApplicationType">
		<annotation>
			<documentation xml:lang="en-GB"></documentation>
			<documentation xml:lang="da-DK"></documentation>
		</annotation>
	</element>
	<complexType name="CreateReimbursementApplicationType">
		<sequence>
			<element name="AuthorisedHealthcareProfessionalEmail" type="reimbursement20121201:AuthorisedHealthcareProfessionalEmailType"
				minOccurs="0" />
			<element name="PersonIdentifier" type="medicinecard20120601:PersonIdentifierType" />
			<element name="ReimbursementType" type="reimbursement20121201:ReimbursementTypeType" />
			<element name="ApplicationForm" type="reimbursement20121201:ApplicationFormType" />
			<element name="Drug" type="medicinecard20120601:DrugType" />
			<element name="RouteOfAdministration" type="medicinecard20120601:RouteOfAdministrationType" />
			<element name="Attachment" type="reimbursement20121201:AttachmentType" maxOccurs="unbounded" />
		</sequence>
	</complexType>
</schema>

