etc/schemas/2012/12/01/DrugStrengthUnitCode.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:reimbursement20121201="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	targetNamespace="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Source.xsd"/>
	<include schemaLocation="SourceDate.xsd"/>
	<include schemaLocation="SourceYearAndWeek.xsd"/>
	<element name="DrugStrengthUnitCode" type="reimbursement20121201:DrugStrengthUnitCodeType">
		<annotation>
			<documentation xml:lang="en-GB">Unit for drug strength, code (LMS15 field 2)</documentation>
			<documentation xml:lang="da-DK">Enhed for lægemiddelstyrke, kode (LMS15 felt 2)</documentation>
		</annotation>
	</element>
	<complexType name="DrugStrengthUnitCodeType">
		<simpleContent>
			<extension base="reimbursement20121201:DrugStrengthUnitCodeValueType">
				<attribute name="source" type="reimbursement20121201:DrugStrengthUnitCodeSourceType" use="required"/>
				<attribute name="date" type="reimbursement20121201:SourceDateType" use="optional"/>
				<attribute name="yearAndWeek" type="reimbursement20121201:SourceYearAndWeekType" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="DrugStrengthUnitCodeValueType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="3"/>
		</restriction>
	</simpleType>
	<simpleType name="DrugStrengthUnitCodeSourceType">
		<union memberTypes="reimbursement20121201:DrugStrengthUnitCodePredefinedSourceType reimbursement20121201:UndefinedSourceType"/>
	</simpleType>
	<simpleType name="DrugStrengthUnitCodePredefinedSourceType">
		<restriction base="reimbursement20121201:UndefinedSourceType">
			<enumeration value="Medicinpriser"/>
		</restriction>
	</simpleType>
</schema>
