etc/schemas/2012/12/01/DrugStrengthText.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:reimbursement20121201="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	targetNamespace="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Source.xsd"/>
	<include schemaLocation="SourceDate.xsd"/>
	<include schemaLocation="SourceYearAndWeek.xsd"/>
	<element name="DrugStrengthText" type="reimbursement20121201:DrugStrengthTextType">
		<annotation>
			<documentation xml:lang="en-GB">Drug strength, plain text from (LMS01 field 10), not free text</documentation>
			<documentation xml:lang="da-DK">Lægemiddelstyrke, klar tekst fra (LMS01 felt 10), ikke fritekst</documentation>
		</annotation>
	</element>
	<complexType name="DrugStrengthTextType">
		<simpleContent>
			<extension base="reimbursement20121201:DrugStrengthTextValueType">
				<attribute name="source" type="reimbursement20121201:DrugStrengthTextSourceType" use="required"/>
				<attribute name="date" type="reimbursement20121201:SourceDateType" use="optional"/>
				<attribute name="yearAndWeek" type="reimbursement20121201:SourceYearAndWeekType" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="DrugStrengthTextValueType">
		<restriction base="string">
			<maxLength value="20"/>
		</restriction>
	</simpleType>
	<simpleType name="DrugStrengthTextSourceType">
		<union memberTypes="reimbursement20121201:DrugStrengthTextPredefinedSourceType reimbursement20121201:UndefinedSourceType"/>
	</simpleType>
	<simpleType name="DrugStrengthTextPredefinedSourceType">
		<restriction base="reimbursement20121201:UndefinedSourceType">
			<enumeration value="Medicinpriser"/>
		</restriction>
	</simpleType>
</schema>
