etc/schemas/2012/12/01/DrugStrength.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:reimbursement20121201="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	targetNamespace="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DrugStrengthValue.xsd"/>
	<include schemaLocation="DrugStrengthUnitText.xsd"/>
	<include schemaLocation="DrugStrengthText.xsd"/>
	<include schemaLocation="DrugStrengthUnitCode.xsd"/>
	<element name="DrugStrength" type="reimbursement20121201:DrugStrengthType">
		<annotation>
			<documentation xml:lang="en-GB">Unit for drug strength, code (LMS15 field 2)</documentation>
			<documentation xml:lang="da-DK">Enhed for lægemiddelstyrke, kode (LMS15 felt 2)</documentation>
		</annotation>
	</element>
	<complexType name="DrugStrengthType">
		<choice>
			<sequence>
				<element name="Value" type="reimbursement20121201:DrugStrengthValueType"/>
				<element name="UnitCode" type="reimbursement20121201:DrugStrengthUnitCodeType"/>
				<element name="UnitText" type="reimbursement20121201:DrugStrengthUnitTextType"/>
			</sequence>
			<element name="Text" type="reimbursement20121201:DrugStrengthTextType"/>
		</choice>
	</complexType>
</schema>
