etc/schemas/2012/12/01/Modificator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:reimbursement20121201="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	targetNamespace="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="AuthorisationIdentifier.xsd"/>
	<include schemaLocation="Organisation.xsd"/>
	<element name="Modificator" type="reimbursement20121201:ModificatorType">
		<annotation>
			<documentation xml:lang="en-GB">Information of the person who modified data</documentation>
			<documentation xml:lang="da-DK">Indeholder information omkring den person der ændrede data</documentation>
		</annotation>
	</element>
	<complexType name="ModificatorType">
		<sequence>
			<choice>
				<sequence>
					<element name="AuthorisationIdentifier" type="reimbursement20121201:AuthorisationIdentifierType"/>
					<element name="Organisation" type="reimbursement20121201:OrganisationType"/>
				</sequence>
			</choice>
		</sequence>
	</complexType>
</schema>
