etc/schemas/2012/12/01/OrganisationType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:reimbursement20121201="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	targetNamespace="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<element name="OrganisationType" type="reimbursement20121201:OrganisationTypeType">
		<annotation>
			<documentation xml:lang="en-GB">The type of organisation</documentation>
			<documentation xml:lang="da-DK">Typen af organisation</documentation>
		</annotation>
	</element>
	<simpleType name="OrganisationTypeType">
		<union memberTypes="reimbursement20121201:PredefinedOrganisationTypeType reimbursement20121201:UndefinedOrganisationTypeType"/>
	</simpleType>
	<simpleType name="PredefinedOrganisationTypeType">
		<restriction base="reimbursement20121201:UndefinedOrganisationTypeType">
			<enumeration value="Sygehus"/>
			<enumeration value="Yder"/>
			<enumeration value="Apotek"/>
			<enumeration value="Kommune"/>
			<enumeration value="Administrator"/>
		</restriction>
	</simpleType>
	<simpleType name="UndefinedOrganisationTypeType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="100"/>
		</restriction>
	</simpleType>
</schema>
