etc/schemas/2012/12/01/PersonWithFictivePersonIdentifier.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:reimbursement20121201="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	targetNamespace="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="FictivePersonIdentifier.xsd"/>
	<include schemaLocation="PersonName.xsd"/>
	<include schemaLocation="Address.xsd"/>
	<element name="FictitiousPerson" type="reimbursement20121201:PersonWithFictivePersonIdentifierType">
		<annotation>
			<documentation xml:lang="en-GB"></documentation>
			<documentation xml:lang="da-DK"></documentation>
		</annotation>
	</element>
<complexType name="PersonWithFictivePersonIdentifierType" >
	<sequence>
		<element name="FictivePersonIdentifier" type="reimbursement20121201:FictivePersonIdentifierType" />
		<element name="Name" type="reimbursement20121201:PersonNameType" />
		<element name="Address" type="reimbursement20121201:AddressType" />
	</sequence>
</complexType>
</schema>