etc/schemas/2012/12/01/RouteOfAdministration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:reimbursement20121201="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	targetNamespace="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="RouteOfAdministrationText.xsd"/>
	<include schemaLocation="RouteOfAdministrationCode.xsd"/>
	<element name="RouteOfAdministration" type="reimbursement20121201:RouteOfAdministrationType">
		<annotation>
			<documentation xml:lang="en-GB">Indicates the route of administration for the drug as code and text</documentation>
			<documentation xml:lang="da-DK">Angiver medicinens administrationsvej som kode og tekst</documentation>
		</annotation>
	</element>
	<complexType name="RouteOfAdministrationType">
		<sequence>
			<element name="Code" type="reimbursement20121201:RouteOfAdministrationCodeType"/>
			<element name="Text" type="reimbursement20121201:RouteOfAdministrationTextType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
