etc/schemas/2012/06/01/Address.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:xkom="http://rep.oio.dk/xkom.dk/xml/schemas/2006/01/06/" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="StreetName.xsd"/>
	<include schemaLocation="StreetBuildingIdentifier.xsd"/>
	<include schemaLocation="FloorIdentifier.xsd"/>
	<include schemaLocation="SuiteIdentifier.xsd"/>
	<include schemaLocation="MailDeliverySublocationIdentifier.xsd"/>
	<include schemaLocation="DistrictSubdivisionIdentifier.xsd"/>
	<include schemaLocation="PostOfficeBoxIdentifier.xsd"/>
	<include schemaLocation="PostCodeIdentifier.xsd"/>
	<include schemaLocation="DistrictName.xsd"/>
	<include schemaLocation="CountryIdentificationCode.xsd"/>
	<include schemaLocation="StreetNameForAddressing.xsd"/>
	<element name="Address" type="medicinecard20120601:AddressType"/>
	<complexType name="AddressType">
		<sequence>
			<element name="MailDeliverySublocationIdentifier" type="medicinecard20120601:MailDeliverySublocationIdentifierType" minOccurs="0"/>
			<element name="StreetName" type="medicinecard20120601:StreetNameType"/>
			<element name="StreetNameForAddressing" type="medicinecard20120601:StreetNameForAddressingType" minOccurs="0"/>
			<element name="StreetBuildingIdentifier" type="medicinecard20120601:StreetBuildingIdentifierType"/>
			<element name="FloorIdentifier" type="medicinecard20120601:FloorIdentifierType" minOccurs="0"/>
			<element name="SuiteIdentifier" type="medicinecard20120601:SuiteIdentifierType" minOccurs="0"/>
			<element name="DistrictSubdivisionIdentifier" type="medicinecard20120601:DistrictSubdivisionIdentifierType" minOccurs="0"/>
			<element name="PostOfficeBoxIdentifier" type="medicinecard20120601:PostOfficeBoxIdentifierType" minOccurs="0"/>
			<element name="PostCodeIdentifier" type="medicinecard20120601:PostCodeIdentifierType"/>
			<element name="DistrictName" type="medicinecard20120601:DistrictNameType"/>
			<element name="CountryIdentificationCode" type="medicinecard20120601:CountryIdentificationCodeType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
