etc/schemas/2012/06/01/CancelOrderedEffectuationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<element name="CancelOrderedEffectuationResponse" type="medicinecard20120601:CancelOrderedEffectuationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response for invalidating one or more effectuation orders</documentation>
			<documentation xml:lang="da-DK">Svar på annullering af en eller flere medicin anmodninger</documentation>
		</annotation>
	</element>
	<complexType name="CancelOrderedEffectuationResponseType">
		<sequence>
			<sequence>
				<element name="PersonIdentifier" type="medicinecard20120601:PersonIdentifierType"/>
				<element name="VersionMismatchWarning" type="medicinecard20120601:VersionMismatchWarningType" minOccurs="0"/>
			</sequence>
		</sequence>
	</complexType>
</schema>
