etc/schemas/2012/06/01/CancelledPrescriptionMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PrescriptionMedicationIdentifier.xsd"/>
	<include schemaLocation="PrescriptionServerError.xsd"/>
	<element name="CancelledPrescriptionMedication" type="medicinecard20120601:CancelledPrescriptionMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">For use in bulk service: Result of marking one or more prescription medications as invalid</documentation>
			<documentation xml:lang="da-DK">Til brug i bulk service: Resultat af at markere en eller flere receptordinationer som ugyldige</documentation>
		</annotation>
	</element>
	<complexType name="CancelledPrescriptionMedicationType">
		<sequence>
			<element name="Identifier" type="medicinecard20120601:PrescriptionMedicationIdentifierType" maxOccurs="unbounded"/>
			<element name="PrescriptionServerError" type="medicinecard20120601:PrescriptionServerErrorType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
