etc/schemas/2012/06/01/CreateDoseDispensedPrescriptionDispensing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DosageText.xsd"/>
	<include schemaLocation="CopyRequired.xsd"/>
	<include schemaLocation="PackageNumber.xsd"/>
	<element name="CreateDoseDispensedPrescriptionDispensing" type="medicinecard20120601:CreateDoseDispensedPrescriptionDispensingType">
		<annotation>
			<documentation xml:lang="en-GB">Information dispensing the package through dosage dispensing</documentation>
			<documentation xml:lang="da-DK">Information til dosisdispensering</documentation>
		</annotation>
	</element>
	<complexType name="CreateDoseDispensedPrescriptionDispensingType">
		<sequence>
			<element name="PackageNumber" type="medicinecard20120601:PackageNumberType"/>
			<element name="CopyRequired" type="medicinecard20120601:CopyRequiredType"/>
			<element name="DosageText" type="medicinecard20120601:DosageTextType"/>
		</sequence>
	</complexType>
</schema>
