etc/schemas/2012/06/01/CreateDrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:cpr="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="AttachPrescriptionMedication.xsd"/>
	<include schemaLocation="CreateEffectuation.xsd"/>
	<include schemaLocation="CreatePrescriptionMedication.xsd"/>
	<include schemaLocation="Dosage.xsd"/>
	<include schemaLocation="Drug.xsd"/>
	<include schemaLocation="CreateOrUpdateDrugMedicationBeginEndDate.xsd"/>
	<include schemaLocation="HasNegativeConsent.xsd"/>
	<include schemaLocation="Indication.xsd"/>
	<include schemaLocation="Pause.xsd"/>
	<include schemaLocation="RouteOfAdministration.xsd"/>
	<include schemaLocation="SubstitutionAllowed.xsd"/>
	<element name="CreateDrugMedication" type="medicinecard20120601:CreateDrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Instructions of which drug to use, how much to give (drug dosage), for how long (startdate and enddate), how to administrate it and motivation (indication)</documentation>
			<documentation xml:lang="da-DK">Anvisning af hvilken medicin der skal anvendes (lægemiddel) hvor meget der skal gives (lægemiddeldosering), hvor længe (startdato og slutdato), hvordan den skal tilføres (administrationsvej) og hvorfor (indikation)</documentation>
		</annotation>
	</element>
	<complexType name="CreateDrugMedicationType">
		<sequence>
			<element name="Pause" type="medicinecard20120601:PauseType" minOccurs="0"/>
			<element name="HasNegativeConsent" type="medicinecard20120601:HasNegativeConsentType" minOccurs="0"/>
			<element name="BeginEndDate" type="medicinecard20120601:CreateOrUpdateDrugMedicationBeginEndDateType"/>
			<element name="Indication" type="medicinecard20120601:IndicationType"/>
			<element name="RouteOfAdministration" type="medicinecard20120601:RouteOfAdministrationType"/>
			<element name="Drug" type="medicinecard20120601:DrugType"/>
			<element name="Dosage" type="medicinecard20120601:DosageType"/>
			<element name="SubstitutionAllowed" type="medicinecard20120601:SubstitutionAllowedType"/>
			<element name="Effectuation" type="medicinecard20120601:CreateEffectuationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="CreatePrescriptionMedication" type="medicinecard20120601:CreatePrescriptionMedicationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="AttachPrescriptionMedication" type="medicinecard20120601:AttachPrescriptionMedicationType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
