etc/schemas/2012/06/01/CreateDrugMedicationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01"  targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="Organisation.xsd"/>
	<include schemaLocation="Doctor.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="CreateDrugMedication.xsd"/>
	<element name="CreateDrugMedicationRequest" type="medicinecard20120601:CreateDrugMedicationRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container elemenet for a request for a request which creates a new drug prescription</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel der opretter en ny lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="CreateDrugMedicationRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20120601:PersonIdentifierType"/>
			<element name="MedicineCardVersion" type="medicinecard20120601:MedicineCardVersionType"/>
			<element name="Organisation" type="medicinecard20120601:OrganisationType"/>
			<element name="Doctor"  type="medicinecard20120601:DoctorType"/>
			<element name="DrugMedication" type="medicinecard20120601:CreateDrugMedicationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
