etc/schemas/2012/06/01/CreatePrescriptionMedicationWithoutCPRRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01"  targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Organisation.xsd"/>
	<include schemaLocation="Doctor.xsd"/>
	<include schemaLocation="UnattachedPrescriptionMedication.xsd"/>
	<include schemaLocation="PatientWithoutCPR.xsd"/>
	<element name="CreatePrescriptionMedicationWithoutCPRRequest" type="medicinecard20120601:CreatePrescriptionMedicationWithoutCPRRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document containing one or more documents for creating prescription medications from drug medications</documentation>
			<documentation xml:lang="da-DK">Request-dokument der indeholder en eller flere dokumenter til at oprette receptordinationer fra lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="CreatePrescriptionMedicationWithoutCPRRequestType">
		<sequence>
			<element name="Organisation" type="medicinecard20120601:OrganisationType"/>
			<element name="Doctor" type="medicinecard20120601:DoctorType"/>
			<element name="Patient" type="medicinecard20120601:PatientWithoutCPRType"/>
			<element name="PrescriptionMedication" type="medicinecard20120601:UnattachedPrescriptionMedicationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
