etc/schemas/2012/06/01/Created.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="CreatedDateTime.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<element name="Created" type="medicinecard20120601:CreatedType">
		<annotation>
			<documentation xml:lang="en-GB">Element containing information about which organisation and possibly doctor who created the document this element is in (e.g. drug medication) as well as the date it ocurred.</documentation>
			<documentation xml:lang="da-DK">Element der indeholder information omkring hvilken organisation og muligvis læge som har oprettet dokumentet elementet befinder sig i (f.eks. lægemiddelordination), desuden datoen dette er sket.</documentation>
		</annotation>
	</element>
	<complexType name="CreatedType">
		<sequence>
			<element name="By" type="medicinecard20120601:ModificatorType"/>
			<element name="DateTime" type="medicinecard20120601:CreatedDateTimeType"/>
		</sequence>
	</complexType>
</schema>
