etc/schemas/2012/06/01/CreatePrescriptionMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="AuthorisationDateTime.xsd"/>
	<include schemaLocation="CreateDoseDispensedPrescriptionDispensing.xsd"/>
	<include schemaLocation="CreateReiteratedPrescriptionDispensing.xsd"/>
	<include schemaLocation="CreateSinglePrescriptionDispensing.xsd"/>
	<include schemaLocation="Delivery.xsd"/>
	<include schemaLocation="DeliveryInformation.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="OrderInstruction.xsd"/>
	<include schemaLocation="OrderedEffectuationIdentifier.xsd"/>
	<include schemaLocation="Organisation.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="SystemName.xsd"/>
	<include schemaLocation="ReimbursementClause.xsd"/>
	<element name="CreatePrescriptionMedication" type="medicinecard20120601:CreatePrescriptionMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Request document for creating a
				PrescriptionMedication from a DrugMedication. When used in the service call where the
				drug medication is created the DrugMedicationIdentifer may be omitted, otherwise it is
				needed.</documentation>
			<documentation xml:lang="da-DK">Request-dokument til at oprette en
				receptordination fra en lægemiddelordination. Når dette element anvendes i servicen
				til oprettelse af en lægemiddelordination udelades DrugMedicationIdentifer, i alle
				andre tilfælde er det nødvendigt.</documentation>
		</annotation>
	</element>
	<complexType name="CreatePrescriptionMedicationType">
		<sequence>
			<element name="DrugMedicationIdentifier" type="medicinecard20120601:DrugMedicationIdentifierType" minOccurs="0"/>
			<element name="OrderedEffectuationIdentifier" type="medicinecard20120601:OrderedEffectuationIdentifierType" minOccurs="0"/>
			<element name="CreatedBy" type="medicinecard20120601:ModificatorType" minOccurs="0"/>
			<element name="ModificationMetadata" type="medicinecard20120601:ModificationMetadataType" minOccurs="0"/>
			<element name="AuthorisationDateTime" type="medicinecard20120601:AuthorisationDateTimeType"/>
			<element name="ReceiverOrganisation" type="medicinecard20120601:OrganisationType" minOccurs="0"/>
			<element name="SystemName" type="medicinecard20120601:SystemNameType"/>
			<choice minOccurs="0" maxOccurs="3">
				<element name="DeliveryInformation" type="medicinecard20120601:DeliveryInformationType"/>
				<element name="OrderInstruction" type="medicinecard20120601:OrderInstructionType"/>
			</choice>
			<element name="Delivery" type="medicinecard20120601:DeliveryType" minOccurs="0"/>
			<element name="ReimbursementClause" type="medicinecard20120601:ReimbursementClauseType" minOccurs="0"/>
			<choice>
				<element name="SinglePrescriptionDispensing" type="medicinecard20120601:CreateSinglePrescriptionDispensingType"/>
				<element name="ReiteratedPrescriptionDispensing" type="medicinecard20120601:CreateReiteratedPrescriptionDispensingType"/>
				<element name="DoseDispensedDispensing" type="medicinecard20120601:CreateDoseDispensedPrescriptionDispensingType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
