etc/schemas/2012/06/01/DeleteEffectuationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="Doctor.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="Organisation.xsd"/>
	<include schemaLocation="DeleteEffectuation.xsd"/>
	<element name="DeleteEffectuationRequest" type="medicinecard20120601:DeleteEffectuationRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document containing one or more documents for deleting effectuations</documentation>
			<documentation xml:lang="da-DK">Request-dokument der indeholder en eller flere dokumenter til at slette effektueringer</documentation>
		</annotation>
	</element>
	<complexType name="DeleteEffectuationRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20120601:PersonIdentifierType"/>
			<element name="MedicineCardVersion" type="medicinecard20120601:MedicineCardVersionType"/>
			<element name="Organisation" type="medicinecard20120601:OrganisationType"/>
			<element name="Doctor" type="medicinecard20120601:DoctorType"/>
			<element name="Effectuation" type="medicinecard20120601:DeleteEffectuationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
