etc/schemas/2012/06/01/DosageCode.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Source.xsd"/>
	<include schemaLocation="SourceDate.xsd"/>
	<include schemaLocation="SourceYearAndWeek.xsd"/>
	<element name="DosageCode" type="medicinecard20120601:DosageCodeType">
		<annotation>
			<documentation xml:lang="en-GB">Code for dosage. In FMK only used on prescriptions, otherwise structured dosages in the Dosage element is used</documentation>
			<documentation xml:lang="da-DK">Kode for dosering. I FMK kun brugt på recepter, ellers anvendes strukturerede doseringer i Dosage-elementet</documentation>
		</annotation>
	</element>
<complexType name="DosageCodeType">
		<simpleContent>
			<extension base="medicinecard20120601:DosageCodeValueType">
				<attribute name="source" type="medicinecard20120601:DosageCodeSourceType" use="required"/>
				<attribute name="sourceDate" type="medicinecard20120601:SourceDateType" use="optional"/>
				<attribute name="sourceYearAndWeek" type="medicinecard20120601:SourceYearAndWeekType" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="DosageCodeValueType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="8"/>
		</restriction>
	</simpleType>
	<simpleType name="DosageCodeSourceType">
		<union memberTypes="medicinecard20120601:DosageCodePredefinedSourceType medicinecard20120601:UndefinedSourceType"/>
	</simpleType>
	<simpleType name="DosageCodePredefinedSourceType">
		<restriction base="medicinecard20120601:UndefinedSourceType">
			<enumeration value="Takst"/>
		</restriction>
	</simpleType>	
</schema>
