etc/schemas/2012/06/01/DosageQuantityUnitTexts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Source.xsd"/>
	<include schemaLocation="SourceDate.xsd"/>
	<include schemaLocation="SourceYearAndWeek.xsd"/>
	<element name="DosageQuantityUnitTexts" type="medicinecard20120601:DosageQuantityUnitTextsType">
		<annotation>
			<documentation xml:lang="en-GB">Unit for dosage quantity, singular and plural</documentation>
			<documentation xml:lang="da-DK">Enhed for dosismængde, ental og flertal</documentation>
		</annotation>
	</element>
	<complexType name="DosageQuantityUnitTextsType">
		<sequence>
			<element name="Singular" type="medicinecard20120601:DosageQuantityUnitTextsValueType"/>
			<element name="Plural" type="medicinecard20120601:DosageQuantityUnitTextsValueType"/>
		</sequence>
				<attribute name="source" type="medicinecard20120601:DosageQuantityUnitTextsSourceType" use="required"/>
				<attribute name="date" type="medicinecard20120601:SourceDateType" use="optional"/>
				<attribute name="yearAndWeek" type="medicinecard20120601:SourceYearAndWeekType" use="optional"/>
	</complexType>
	<simpleType name="DosageQuantityUnitTextsValueType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="50"/>
		</restriction>
	</simpleType>
	<simpleType name="DosageQuantityUnitTextsSourceType">
		<union memberTypes="medicinecard20120601:DosageQuantityUnitTextsPredefinedSourceType medicinecard20120601:UndefinedSourceType"/>
	</simpleType>
	<simpleType name="DosageQuantityUnitTextsPredefinedSourceType">
		<restriction base="medicinecard20120601:UndefinedSourceType">
			<enumeration value="Medicinpriser"/>
			<enumeration value="Doseringsforslag"/>
			<enumeration value="Local"/>
		</restriction>
	</simpleType>
</schema>
