etc/schemas/2012/06/01/DosageQuantityUnitText.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Source.xsd"/>
	<include schemaLocation="SourceDate.xsd"/>
	<include schemaLocation="SourceYearAndWeek.xsd"/>
	<element name="DosageQuantityUnitText" type="medicinecard20120601:DosageQuantityUnitTextType">
		<annotation>
			<documentation xml:lang="en-GB">Unit for dosage quantity</documentation>
			<documentation xml:lang="da-DK">Enhed for dosismængde</documentation>
		</annotation>
	</element>
	<complexType name="DosageQuantityUnitTextType">
		<simpleContent>
			<extension base="medicinecard20120601:DosageQuantityUnitTextValueType">
				<attribute name="source" type="medicinecard20120601:DosageQuantityUnitTextSourceType" use="required"/>
				<attribute name="date" type="medicinecard20120601:SourceDateType" use="optional"/>
				<attribute name="yearAndWeek" type="medicinecard20120601:SourceYearAndWeekType" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="DosageQuantityUnitTextValueType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="50"/>
		</restriction>
	</simpleType>
	<simpleType name="DosageQuantityUnitTextSourceType">
		<union memberTypes="medicinecard20120601:DosageQuantityUnitTextPredefinedSourceType medicinecard20120601:UndefinedSourceType"/>
	</simpleType>
	<simpleType name="DosageQuantityUnitTextPredefinedSourceType">
		<restriction base="medicinecard20120601:UndefinedSourceType">
			<enumeration value="Medicinpriser"/>
			<enumeration value="Doseringsforslag"/>
			<enumeration value="Local"/>
		</restriction>
	</simpleType>
</schema>
