etc/schemas/2012/06/01/DrugMedicationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01"  targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DrugMedication.xsd"/>
	<include schemaLocation="NegativeConsent.xsd"/>
	<include schemaLocation="PrescriptionServerError.xsd"/>
	<element name="DrugMedicationResponse" type="medicinecard20120601:DrugMedicationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a response with one or more drug medications</documentation>
			<documentation xml:lang="da-DK">Element for et svar med en eller flere lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="DrugMedicationResponseType">
		<sequence>
			<element name="NegativeConsent" type="medicinecard20120601:NegativeConsentType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="DrugMedication" type="medicinecard20120601:DrugMedicationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="PrescriptionServerError" type="medicinecard20120601:PrescriptionServerErrorType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
