etc/schemas/2012/06/01/DrugFormCode.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Source.xsd"/>
	<include schemaLocation="SourceDate.xsd"/>
	<include schemaLocation="SourceYearAndWeek.xsd"/>
	<element name="DrugFormCode" type="medicinecard20120601:DrugFormCodeType">
		<annotation>
			<documentation xml:lang="en-GB">Code for drug form. Source: LMS22 field 1</documentation>
			<documentation xml:lang="da-DK">Kode for lægemiddelform. Kilde: LMS22 felt 1</documentation>
		</annotation>
	</element>
	<complexType name="DrugFormCodeType">
		<simpleContent>
			<extension base="medicinecard20120601:DrugFormCodeValueType">
				<attribute name="source" type="medicinecard20120601:DrugFormCodeSourceType" use="required"/>
				<attribute name="date" type="medicinecard20120601:SourceDateType" use="optional"/>
				<attribute name="yearAndWeek" type="medicinecard20120601:SourceYearAndWeekType" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="DrugFormCodeValueType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="7"/>
		</restriction>
	</simpleType>
	<simpleType name="DrugFormCodeSourceType">
		<union memberTypes="medicinecard20120601:DrugFormCodePredefinedSourceType medicinecard20120601:UndefinedSourceType"/>
	</simpleType>
	<simpleType name="DrugFormCodePredefinedSourceType">
		<restriction base="medicinecard20120601:UndefinedSourceType">
			<enumeration value="Medicinpriser"/>
			<enumeration value="Magistrel"/>
		</restriction>
	</simpleType>
</schema>
