etc/schemas/2012/06/01/GetMedicineCardVersionUsingPatientOrganisationRelationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="PatientOrganisationRelationType.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>
	<element name="GetMedicineCardVersionUsingPatientOrganisationRelationRequest" type="medicinecard20120601:GetMedicineCardVersionUsingPatientOrganisationRelationRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document to query medicine card versions using relations between patients and organisations</documentation>
			<documentation xml:lang="da-DK">Request-dokument til opslag på medicinkortversioner ved anvendelse af relationer mellem patienter og organisationer</documentation>
		</annotation>
	</element>
	<complexType name="GetMedicineCardVersionUsingPatientOrganisationRelationRequestType">
		<sequence>
			<element name="OrganisationIdentifier" type="medicinecard20120601:OrganisationIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Type" type="medicinecard20120601:PatientOrganisationRelationTypeType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
