etc/schemas/2012/06/01/GetOrderedEffectuationsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified"
        attributeFormDefault="unqualified">
    <include schemaLocation="IncludeOrderedEffectuations.xsd"/>
    <include schemaLocation="IncludeOrderedPrescriptionMedications.xsd"/>
    <include schemaLocation="OrderedDateTime.xsd"/>
    <include schemaLocation="OrderedEffectuationIdentifier.xsd"/>
    <include schemaLocation="OrderEffectuationOrPrescriptionMedication.xsd"/>
    <include schemaLocation="PersonIdentifier.xsd"/>
    <element name="GetOrderedEffectuationsRequest" type="medicinecard20120601:GetOrderedEffectuationsRequestType">
        <annotation>
            <documentation xml:lang="en-GB">Get ordered effectuations</documentation>
            <documentation xml:lang="da-DK">Opslag på bestilte udleveringer</documentation>
        </annotation>
    </element>
    <complexType name="GetOrderedEffectuationsRequestType">
        <sequence>
            <choice>
                <sequence>
                    <element name="PersonIdentifier" type="medicinecard20120601:PersonIdentifierType"/>
                    <element name="FromDateTime" type="medicinecard20120601:OrderedDateTimeType" minOccurs="0"/>
                    <element name="ToDateTime" type="medicinecard20120601:OrderedDateTimeType" minOccurs="0"/>
                    <element name="IncludeOrderedPrescriptionMedications" type="medicinecard20120601:IncludeOrderedPrescriptionMedicationsType" minOccurs="0"/>
                    <element name="IncludeOrderedEffectuations" type="medicinecard20120601:IncludeOrderedEffectuationsType" minOccurs="0"/>
                    <choice minOccurs="0">
                        <element name="IncludeOnly">
                            <complexType>
                                <sequence>
                                    <element name="Identifier" type="medicinecard20120601:OrderedEffectuationIdentifierType" maxOccurs="unbounded"/>
                                </sequence>
                            </complexType>
                        </element>
                        <element name="Exclude">
                            <complexType>
                                <sequence>
                                    <element name="Identifier" type="medicinecard20120601:OrderedEffectuationIdentifierType" maxOccurs="unbounded"/>
                                </sequence>
                            </complexType>
                        </element>
                    </choice>
                </sequence>
                <sequence>
                    <choice>
                        <element name="OrderingOrganisation" type="medicinecard20120601:OrganisationType"/>
                        <element name="PrescribingOrganisation" type="medicinecard20120601:OrganisationType"/>
                    </choice>
                    <element name="FromDateTime" type="medicinecard20120601:OrderedDateTimeType" minOccurs="0"/>
                    <element name="ToDateTime" type="medicinecard20120601:OrderedDateTimeType" minOccurs="0"/>
                    <element name="IncludeOrderedPrescriptionMedications" type="medicinecard20120601:IncludeOrderedPrescriptionMedicationsType" minOccurs="0"/>
                    <element name="IncludeOrderedEffectuations" type="medicinecard20120601:IncludeOrderedEffectuationsType" minOccurs="0"/>
                </sequence>
            </choice>
        </sequence>
    </complexType>
</schema>
