etc/schemas/2012/06/01/GetPermissionsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="RolesPermissions.xsd"/>
	<element name="GetPermissionsResponse" type="medicinecard20120601:GetPermissionsResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response with the list of Permissions possessed by the caller</documentation>
			<documentation xml:lang="da-DK">Svar på anmodning om listen indeholdende de rettigheder, der er tildelt kalderen</documentation>
		</annotation>
	</element>
	<complexType name="GetPermissionsResponseType">
		<sequence>
			<element name="RolesPermissions" type="medicinecard20120601:RolesPermissionsType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
