etc/schemas/2012/06/01/GetPrescriptionMedicationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="PrescriptionMedication.xsd"/>
	<element name="GetPrescriptionMedicationResponse" type="medicinecard20120601:GetPrescriptionMedicationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container elemenet for a response with one or more prescription medications</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en svar med en eller flere receptordinationer</documentation>
		</annotation>
	</element>
	<complexType name="GetPrescriptionMedicationResponseType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20120601:PersonIdentifierType"/>
			<element name="PrescriptionMedication" type="medicinecard20120601:PrescriptionMedicationType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
