etc/schemas/2012/06/01/InvalidatePrescriptionMedicationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<include schemaLocation="PrescriptionMedicationIdentifier.xsd"/>
	<include schemaLocation="PrescriptionServerError.xsd"/>
	<element name="InvalidatePrescriptionMedicationResponse" type="medicinecard20120601:InvalidatePrescriptionMedicationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">TODO</documentation>
			<documentation xml:lang="da-DK">TODO</documentation>
		</annotation>
	</element>
	<complexType name="InvalidatePrescriptionMedicationResponseType">
		<sequence>
			<sequence>
				<element name="PersonIdentifier" type="medicinecard20120601:PersonIdentifierType"/>
				<element name="MedicineCardVersion" type="medicinecard20120601:MedicineCardVersionType"/>
				<element name="VersionMismatchWarning" type="medicinecard20120601:VersionMismatchWarningType" minOccurs="0"/>
				<element name="PrescriptionMedicationIdentifier" type="medicinecard20120601:PrescriptionMedicationIdentifierType" maxOccurs="unbounded"/>
				<element name="PrescriptionServerError" type="medicinecard20120601:PrescriptionServerErrorType" minOccurs="0"/>
			</sequence>
		</sequence>
	</complexType>
</schema>
