etc/schemas/2012/06/01/InvalidatePrescriptionMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PrescriptionMedicationIdentifier.xsd"/>
	<element name="InvalidatePrescriptionMedication" type="medicinecard20120601:InvalidatePrescriptionMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">For use in bulk service: Mark one or more prescription medications as invalid</documentation>
			<documentation xml:lang="da-DK">Til brug i bulk service: Marker at en eller flere receptordinationer er ugyldige</documentation>
		</annotation>
	</element>
	<complexType name="InvalidatePrescriptionMedicationType">
		<sequence>
			<element name="Identifier" type="medicinecard20120601:PrescriptionMedicationIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
