etc/schemas/2012/06/01/LostAdvis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <element name="LostAdvis" type="medicinecard20120601:LostAdvisType">
        <annotation>
            <documentation xml:lang="en-GB">Earlier advis might be lost, clients should take appropriate action</documentation>
            <documentation xml:lang="da-DK">Tidligere udsendte adviseringer kan være gået tabt</documentation>
        </annotation>
    </element>
    <complexType name="LostAdvisType">
        <sequence>
            <element name="ResumedDate" type="dateTime" />
        </sequence>
    </complexType>
</schema>
