etc/schemas/2012/06/01/MarkPrescriptionMedicationDeprecatedResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<element name="MarkPrescriptionMedicationDeprecatedResponse" type="medicinecard20120601:MarkPrescriptionMedicationDeprecatedResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Mark the prescription medication as deprecated</documentation>
			<documentation xml:lang="da-DK">Marker receptordinationen som ikke aktuel</documentation>
		</annotation>
	</element>
	<complexType name="MarkPrescriptionMedicationDeprecatedResponseType">
		<sequence>
			<sequence>
				<element name="PersonIdentifier" type="medicinecard20120601:PersonIdentifierType"/>
				<element name="MedicineCardVersion" type="medicinecard20120601:MedicineCardVersionType"/>
				<element name="VersionMismatchWarning" type="medicinecard20120601:VersionMismatchWarningType" minOccurs="0"/>
			</sequence>
		</sequence>
	</complexType>
</schema>
