etc/schemas/2012/06/01/MedicineCardModification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="MedicineCardModificationAction.xsd"/>
	<include schemaLocation="MedicineCardModificationDetails.xsd"/>
	<include schemaLocation="MedicineCardModificationIdentifiers.xsd"/>
	<element name="MedicineCardModification" type="medicinecard20120601:MedicineCardModificationType">
		<annotation>
			<documentation xml:lang="en-GB">Information about a modification of a medicine card</documentation>
			<documentation xml:lang="da-DK">Information omkring en modifikation af et medicinkort</documentation>
		</annotation>
	</element>
	<complexType name="MedicineCardModificationType">
		<sequence>
			<element name="Action" type="medicinecard20120601:MedicineCardModificationActionType" minOccurs="1" maxOccurs="unbounded"/>
			<element name="Details" type="medicinecard20120601:MedicineCardModificationDetailsType" minOccurs="0"/>
			<element name="MedicineCard" type="medicinecard20120601:MedicineCardModificiationIdentifiersType"/>
			<any minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
