etc/schemas/2012/06/01/MedicineCardModificiationIdentifiers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="DrugMedicationModificationIdentifiers.xsd"/>
	<complexType name="MedicineCardModificiationIdentifiersType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20120601:PersonIdentifierType"/>
			<element name="Version" type="medicinecard20120601:MedicineCardVersionType"/>
			<element name="DrugMedication" type="medicinecard20120601:DrugMedicationModificationIdentifiersType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
