etc/schemas/2012/06/01/ModificatorPersonWithoutIdentifier.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified">
	<include schemaLocation="PersonName.xsd"/>
	<element name="ModificatorPersonWithoutIdentifier" type="medicinecard20120601:ModificatorPersonWithoutIdentifierType"/>
	<complexType name="ModificatorPersonWithoutIdentifierType">
		<sequence>
			<element name="Name" type="medicinecard20120601:PersonNameType"/>
		</sequence>
	</complexType>
</schema>
