etc/schemas/2012/06/01/Modificator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Doctor.xsd"/>
	<include schemaLocation="Organisation.xsd"/>
	<include schemaLocation="PatientFlag.xsd"/>
	<include schemaLocation="RequestedRole.xsd"/>
	<include schemaLocation="ModificatorPerson.xsd"/>
	<element name="Modificator" type="medicinecard20120601:ModificatorType">
		<annotation>
			<documentation xml:lang="en-GB">Information about a person who modified data</documentation>
			<documentation xml:lang="da-DK">Indeholder information omkring en person der ændrede data</documentation>
		</annotation>
	</element>
	<complexType name="ModificatorType">
		<sequence>
			<choice>
				<sequence>
					<element name="Doctor" type="medicinecard20120601:DoctorType"/>
					<element name="Organisation" type="medicinecard20120601:OrganisationType"/>
				</sequence>
				<element name="Patient" type="medicinecard20120601:PatientFlagType"/>
				<sequence>
					<element name="Other" type="medicinecard20120601:ModificatorPersonType"/>
					<element name="Role" type="medicinecard20120601:RequestedRoleType"/>
					<element name="Organisation" type="medicinecard20120601:OrganisationType" minOccurs="0"/>
				</sequence>
			</choice>
		</sequence>
	</complexType>
</schema>
