etc/schemas/2012/06/01/OrderedPrescriptionMedicationDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="CancelledOrderedEffectuation.xsd"/>
	<include schemaLocation="Delivery.xsd"/>
	<include schemaLocation="DeliveryInformation.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="EffectuationIdentifier.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="OrderInstruction.xsd"/>
	<include schemaLocation="Organisation.xsd"/>
	<include schemaLocation="PrescriptionMedicationIdentifier.xsd"/>
	<element name="OrderedPrescriptionMedicationDetails" type="medicinecard20120601:OrderedPrescriptionMedicationDetailsType">
		<annotation>
			<documentation xml:lang="en-GB">Response on an order, response for the order request</documentation>
			<documentation xml:lang="da-DK">Svar på bestilling, svar til order request </documentation>
		</annotation>
	</element>
	<complexType name="OrderedPrescriptionMedicationDetailsType">
		<sequence>
			<element name="DrugMedicationIdentifier" type="medicinecard20120601:DrugMedicationIdentifierType"/>
			<element name="OrderedBy" type="medicinecard20120601:ModificatorType" minOccurs="0"/>
			<element name="ReceiverOrganisation" type="medicinecard20120601:OrganisationType" minOccurs="0"/>
			<choice minOccurs="0" maxOccurs="3">
				<element name="DeliveryInformation" type="medicinecard20120601:DeliveryInformationType"/>
				<element name="OrderInstruction" type="medicinecard20120601:OrderInstructionType"/>
			</choice>
			<element name="Delivery" type="medicinecard20120601:DeliveryType" minOccurs="0"/>
			<element name="OrderedDate" type="dateTime"/>
			<element name="OrderedPrescriptionMedicationIdentifier" type="medicinecard20120601:PrescriptionMedicationIdentifierType" minOccurs="0"/>
			<element name="OrderedEffectuationIdentifier" type="medicinecard20120601:EffectuationIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Cancelled" type="medicinecard20120601:CancelledOrderedEffectuationType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
