etc/schemas/2012/06/01/Order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Delivery.xsd"/>
	<include schemaLocation="DeliveryInformation.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="OrderInstruction.xsd"/>
	<include schemaLocation="Organisation.xsd"/>
	<element name="Order" type="medicinecard20120601:OrderType">
		<annotation>
			<documentation xml:lang="en-GB">Order for an effectuation on the pharmacy or a new prescription medication to be created by the doctor</documentation>
			<documentation xml:lang="da-DK">Bestilling for en effektuering på apoteket eller en ny receptordination til oprettelse hos lægen</documentation>
		</annotation>
	</element>
	<complexType name="OrderType">
		<sequence>
			<element name="DrugMedicationIdentifier" type="medicinecard20120601:DrugMedicationIdentifierType"/>
			<element name="ReceiverOrganisation" type="medicinecard20120601:OrganisationType" minOccurs="0"/>
			<choice minOccurs="0" maxOccurs="3">
				<element name="DeliveryInformation" type="medicinecard20120601:DeliveryInformationType"/>
				<element name="OrderInstruction" type="medicinecard20120601:OrderInstructionType"/>
			</choice>
			<element name="Delivery" type="medicinecard20120601:DeliveryType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
