etc/schemas/2012/06/01/OrderPrescriptionMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="CreateDoseDispensedPrescriptionDispensing.xsd"/>
	<include schemaLocation="CreateReiteratedPrescriptionDispensing.xsd"/>
	<include schemaLocation="CreateSinglePrescriptionDispensing.xsd"/>
	<include schemaLocation="Delivery.xsd"/>
	<include schemaLocation="DeliveryInformation.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="OrderInstruction.xsd"/>
	<include schemaLocation="Organisation.xsd"/>
	<include schemaLocation="PrescriptionMedicationIdentifier.xsd"/>
	<include schemaLocation="ReimbursementClause.xsd"/>	
	<element name="OrderPrescriptionMedication" type="medicinecard20120601:OrderPrescriptionMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Order for a new effectuation on the pharmacy or prescription medication to be created by the doctor</documentation>
			<documentation xml:lang="da-DK">Bestilling for en en ny effektuering på apoteket eller receptordination til oprettelse hos lægen</documentation>
		</annotation>
	</element>
	<complexType name="OrderPrescriptionMedicationType">
		<sequence>
			<element name="DrugMedicationIdentifier" type="medicinecard20120601:DrugMedicationIdentifierType"/>
			<element name="PrescriptionMedicationIdentifier" type="medicinecard20120601:PrescriptionMedicationIdentifierType" minOccurs="0"/>
			<element name="OrderedBy" type="medicinecard20120601:ModificatorType" minOccurs="0"/>
			<element name="ModificationMetadata" type="medicinecard20120601:ModificationMetadataType" minOccurs="0"/>
			<element name="PrescribingOrganisation" type="medicinecard20120601:OrganisationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="EffectuatingOrganisation" type="medicinecard20120601:OrganisationType" minOccurs="0"/>
			<choice minOccurs="0" maxOccurs="3">
				<element name="DeliveryInformation" type="medicinecard20120601:DeliveryInformationType"/>
				<element name="OrderInstruction" type="medicinecard20120601:OrderInstructionType"/>
			</choice>
			<element name="Delivery" type="medicinecard20120601:DeliveryType" minOccurs="0"/>
			<element name="ReimbursementClause" type="medicinecard20120601:ReimbursementClauseType" minOccurs="0"/>
			<choice minOccurs="0">
				<element name="SinglePrescriptionDispensing" type="medicinecard20120601:CreateSinglePrescriptionDispensingType"/>
				<element name="ReiteratedPrescriptionDispensing" type="medicinecard20120601:CreateReiteratedPrescriptionDispensingType"/>
				<element name="DoseDispensedDispensing" type="medicinecard20120601:CreateDoseDispensedPrescriptionDispensingType"/>
			</choice>			
		</sequence>
	</complexType>
</schema>
