etc/schemas/2012/06/01/OrganisationType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<element name="OrganisationType" type="medicinecard20120601:OrganisationTypeType">
		<annotation>
			<documentation xml:lang="en-GB">The type of organisation</documentation>
			<documentation xml:lang="da-DK">Typen af organisation</documentation>
		</annotation>
	</element>
	<simpleType name="OrganisationTypeType">
		<union memberTypes="medicinecard20120601:PredefinedOrganisationTypeType medicinecard20120601:UndefinedOrganisationTypeType"/>
	</simpleType>
	<simpleType name="PredefinedOrganisationTypeType">
		<restriction base="medicinecard20120601:UndefinedOrganisationTypeType">
			<enumeration value="Sygehus"/>
			<enumeration value="Yder"/>
			<enumeration value="Apotek"/>
			<enumeration value="Administrator"/>
			<enumeration value="Kommune"/>
		</restriction>
	</simpleType>
	<simpleType name="UndefinedOrganisationTypeType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="100"/>
		</restriction>
	</simpleType>
</schema>
