etc/schemas/2012/06/01/OrganisationIdentifier.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Source.xsd"/>
	<element name="OrganisationIdentifier" type="medicinecard20120601:OrganisationIdentifierType">
		<annotation>
			<documentation xml:lang="en-GB">Number or code identifying an organisation</documentation>
			<documentation xml:lang="da-DK">Nummer eller kode der identificerer en organisation</documentation>
		</annotation>
	</element>
	<complexType name="OrganisationIdentifierType">
		<simpleContent>
			<extension base="medicinecard20120601:OrganisationIdentifierValueType">
				<attribute name="source" type="medicinecard20120601:OrganisationIdentifierSourceType" use="required"/>
							</extension>
		</simpleContent>
	</complexType>
	<simpleType name="OrganisationIdentifierValueType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="200"/>
		</restriction>
	</simpleType>
	<simpleType name="OrganisationIdentifierSourceType">
		<union memberTypes="medicinecard20120601:OrganisationIdentifierPredefinedSourceType medicinecard20120601:UndefinedSourceType"/>
	</simpleType>
	<simpleType name="OrganisationIdentifierPredefinedSourceType">
		<restriction base="medicinecard20120601:UndefinedSourceType">
			<enumeration value="SKS"/>
			<enumeration value="Yder"/>
			<enumeration value="EAN-Lokationsnummer"/>
			<enumeration value="CVR"/>
			<enumeration value="CVR-P"/>
			<enumeration value="Kommunekode"/>
			<enumeration value="SOR"/>
		</restriction>
	</simpleType>
</schema>
