etc/schemas/2012/06/01/PatientOrganisationRelationWithCreatedDate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Organisation.xsd"/>
	<include schemaLocation="PatientOrganisationRelationIdentifier.xsd"/>
	<include schemaLocation="PatientOrganisationRelationType.xsd"/>
	<include schemaLocation="CreatedDateTime.xsd"/>
	<element name="PatientOrganisationRelationWithCreatedDate" type="medicinecard20120601:PatientOrganisationRelationWithCreatedDateType">
		<annotation>
			<documentation xml:lang="en-GB">A relation between a patient and an organisation</documentation>
			<documentation xml:lang="da-DK">Registrering af en relation mellem en patient og en organisation</documentation>
		</annotation>
	</element>
	<complexType name="PatientOrganisationRelationWithCreatedDateType">
		<sequence>
			<element name="Identifier" type="medicinecard20120601:PatientOrganisationRelationIdentifierType"/>
			<element name="CreatedDateTime" type="medicinecard20120601:CreatedDateTimeType"/>
			<element name="Organisation" type="medicinecard20120601:OrganisationType"/>
			<element name="Type" type="medicinecard20120601:PatientOrganisationRelationTypeType"/>
		</sequence>
	</complexType>
</schema>
