etc/schemas/2012/06/01/Patient.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:xkom="http://rep.oio.dk/xkom.dk/xml/schemas/2006/01/06/" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Address.xsd"/>
	<include schemaLocation="SimpleCPRPerson.xsd"/>
	<element name="Patient" type="medicinecard20120601:PatientType">
		<annotation>
			<documentation xml:lang="en-GB">Description of the patient</documentation>
			<documentation xml:lang="da-DK">Patientoplysninger</documentation>
		</annotation>
	</element>
	<complexType name="PatientType">
		<sequence>
			<element name="Person" type="medicinecard20120601:SimpleCPRPersonType"/>
			<element name="Address" type="medicinecard20120601:AddressType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
