etc/schemas/2012/06/01/PausedDrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationVersion.xsd"/>
	<element name="PausedDrugMedication" type="medicinecard20120601:PausedDrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Element with IDs returned when a drug prescription has been paused using a batch request</documentation>
			<documentation xml:lang="da-DK">Element med IDer returneret når en lægemiddelinformation er blevet pauseret via en batchforespørgsel</documentation>
		</annotation>
	</element>
	<complexType name="PausedDrugMedicationType">
		<sequence>
			<element name="Identifier" type="medicinecard20120601:DrugMedicationIdentifierType"/>
			<element name="Version" type="medicinecard20120601:DrugMedicationVersionType"/>
		</sequence>
	</complexType>
</schema>
