etc/schemas/2012/06/01/PauseDrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<element name="PauseDrugMedication" type="medicinecard20120601:PauseDrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a request to pause a drugmedication</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel der pauserer en lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="PauseDrugMedicationType">
		<sequence>
			<element name="Identifier" type="medicinecard20120601:DrugMedicationIdentifierType"/>
		</sequence>
	</complexType>
</schema>
