etc/schemas/2012/06/01/PersonName.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonGivenName.xsd"/>
	<include schemaLocation="PersonMiddleName.xsd"/>
	<include schemaLocation="PersonSurname.xsd"/>
	<element name="PersonName" type="medicinecard20120601:PersonNameType"/>
	<complexType name="PersonNameType">
		<sequence>
			<element name="GivenName" type="medicinecard20120601:PersonGivenNameType"/>
			<element name="MiddleName" type="medicinecard20120601:PersonMiddleNameType" minOccurs="0"/>
			<element name="Surname" type="medicinecard20120601:PersonSurnameType"/>
		</sequence>
	</complexType>
</schema>
