etc/schemas/2012/06/01/PrescriptionMedicationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="PrescriptionMedicationIdentifier.xsd"/>
	<include schemaLocation="IncludeEffectuations.xsd"/>	
	<element name="PrescriptionMedicationRequest" type="medicinecard20120601:PrescriptionMedicationRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a request for a prescription medication</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel efter en receptordination</documentation>
		</annotation>
	</element>
	<complexType name="PrescriptionMedicationRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20120601:PersonIdentifierType"/>
			<element name="Identifier" type="medicinecard20120601:PrescriptionMedicationIdentifierType" maxOccurs="unbounded"/>
			<element name="IncludeEffectuations" type="medicinecard20120601:IncludeEffectuationsType"/>
		</sequence>
	</complexType>
</schema>
