etc/schemas/2012/06/01/RemoveHomeCareSubscriptionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<element name="RemoveHomeCareSubscriptionRequest" type="medicinecard20120601:RemoveHomeCareSubscriptionRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Indicates that the patient is no longer under home care treatment</documentation>
			<documentation xml:lang="da-DK">Angiver at patienten ikke længere er under hjemmesygeplejens behandling</documentation>
		</annotation>
	</element>
	<complexType name="RemoveHomeCareSubscriptionRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20120601:PersonIdentifierType"/>
			<element name="MedicineCardVersion" type="medicinecard20120601:MedicineCardVersionType"/>
			<element name="CreatedBy" type="medicinecard20120601:ModificatorType" minOccurs="0"/>
			<element name="ReportedBy" type="medicinecard20120601:ModificatorType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
