etc/schemas/2012/06/01/RemoveHomeCareSubscription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="Organisation.xsd"/>
	<element name="RemoveHomeCareSubscription" type="medicinecard20120601:RemoveHomeCareSubscriptionType">
		<annotation>
			<documentation xml:lang="en-GB">Used in bulk service: Indicates that the patient is no longer under home care treatment</documentation>
			<documentation xml:lang="da-DK">Til brug i bulk service: Angiver at patienten ikke længere er under hjemmesygeplejens behandling</documentation>
		</annotation>
	</element>
	<complexType name="RemoveHomeCareSubscriptionType">
		<sequence>
			<element name="ModifiedBy" type="medicinecard20120601:ModificatorType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
