etc/schemas/2012/06/01/ResuspendMedicineCardResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>
	<element name="ResuspendMedicineCardResponseStructure" type="medicinecard20120601:ResuspendMedicineCardResponseStructureType">
		<annotation>
			<documentation xml:lang="en-GB">Response from a request which marks that the medicine card is suspended</documentation>
			<documentation xml:lang="da-DK">Svar på en forespørgsel der markerer at medicinkortrt er suspenderet</documentation>
		</annotation>
	</element>
	<complexType name="ResuspendMedicineCardResponseStructureType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20120601:PersonIdentifierType"/>
			<element name="MedicineCardVersion" type="medicinecard20120601:MedicineCardVersionType"/>
			<element name="VersionMismatchWarning" type="medicinecard20120601:VersionMismatchWarningType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
