etc/schemas/2012/06/01/SearchEffectuationsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="NegativeConsentRequest.xsd"/>
	<element name="SearchEffectuationsRequest" type="medicinecard20120601:SearchEffectuationsRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a request for effectuations
			</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel efter effektueringer
			</documentation>
		</annotation>
	</element>
	<complexType name="SearchEffectuationsRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20120601:PersonIdentifierType"/>
			<element name="FromDateTime" type="dateTime" minOccurs="0"/>
			<element name="ToDateTime" type="dateTime" minOccurs="0"/>
			<element name="IncludeEffectuationsOnDrugMedications" type="boolean" minOccurs="0"/>
			<element name="IncludeEffectuationsOnPrescriptionMedicationsOnDrugMedications" type="boolean" minOccurs="0"/>
			<element name="IncludeEffectuationsNotOnDrugMedications" type="boolean" minOccurs="0"/>
			<element name="NegativeConsent" type="medicinecard20120601:NegativeConsentRequestType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
