etc/schemas/2012/06/01/SearchWithdrawnDrugMedicationsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="NegativeConsentRequest.xsd"/>
	<element name="SearchWithdrawnDrugMedicationsRequest" type="medicinecard20120601:SearchWithdrawnDrugMedicationsRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a search request for withdrawn drug medcinations</documentation>
			<documentation xml:lang="da-DK">Element for en søge-forespørgsel efter seponerede lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="SearchWithdrawnDrugMedicationsRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20120601:PersonIdentifierType"/>
			<element name="DateTime" type="dateTime" minOccurs="0"/>
			<element name="WithdrawnAfterDateTime" type="dateTime" minOccurs="0"/>
			<element name="NegativeConsent" type="medicinecard20120601:NegativeConsentRequestType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
