etc/schemas/2012/06/01/SearchEffectuationsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="EffectuationsOnDrugMedication.xsd"/>
	<include schemaLocation="EffectuationsOnPrescriptionMedication.xsd"/>
	<include schemaLocation="MoreAvailable.xsd"/>
	<include schemaLocation="DrugMedicationWithNegativeConsent.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>
	<element name="SearchEffectuationsResponseStructure" type="medicinecard20120601:SearchEffectuationsResponseStructureType">
		<annotation>
			<documentation xml:lang="en-GB">Response containing effectuations</documentation>
			<documentation xml:lang="da-DK">Svar indeholdende effektueringer</documentation>
		</annotation>
	</element>
	<complexType name="SearchEffectuationsResponseStructureType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20120601:PersonIdentifierType"/>
			<element name="DrugMedicationWithNegativeConsent" type="medicinecard20120601:DrugMedicationWithNegativeConsentType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="DrugMedication" type="medicinecard20120601:EffectuationsOnDrugMedicationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="PrescriptionMedication" type="medicinecard20120601:EffectuationsOnPrescriptionMedicationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MoreAvailable" type="medicinecard20120601:MoreAvailableType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
