etc/schemas/2012/06/01/SetHomeCareSubscription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="Organisation.xsd"/>
	<element name="SetHomeCareSubscription" type="medicinecard20120601:SetHomeCareSubscriptionType">
		<annotation>
			<documentation xml:lang="en-GB">Used in bulk service: Indicates that the patient is under home care treatment</documentation>
			<documentation xml:lang="da-DK">Til brug i bulk service: Angiver at patienten er under hjemmesygeplejens behandling</documentation>
		</annotation>
	</element>
	<complexType name="SetHomeCareSubscriptionType">
		<sequence>
			<element name="CreatedBy" type="medicinecard20120601:ModificatorType" minOccurs="0"/>
			<element name="HomeCareSubscription" type="medicinecard20120601:OrganisationType"/>
		</sequence>
	</complexType>
</schema>
