etc/schemas/2012/06/01/SimpleCPRPerson.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="PersonName.xsd"/>
	<element name="SimpleCPRPerson" type="medicinecard20120601:SimpleCPRPersonType"/>
	<complexType name="SimpleCPRPersonType">
		<sequence>
			<element name="Name" type="medicinecard20120601:PersonNameType" minOccurs="0"/>
			<element name="PersonIdentifier" type="medicinecard20120601:PersonIdentifierType"/>
		</sequence>
	</complexType>
</schema>
