etc/schemas/2012/06/01/Timing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="SystemName.xsd"/>
	<include schemaLocation="ServiceName.xsd"/>
	<element name="Timing" type="medicinecard20120601:TimingType">
		<annotation>
			<documentation xml:lang="en-GB">Structure to keep track of the time consumed between request and response for a web service call</documentation>
			<documentation xml:lang="da-DK">En structur til at spore tidsforbruget mellem request og response på et webservice-kald</documentation>
		</annotation>
	</element>
	<complexType name="TimingType">
		<sequence>
			<element name="SystemName" type="medicinecard20120601:SystemNameType"/>
			<element name="ServiceName" type="medicinecard20120601:ServiceNameType"/>
			<element name="TimeInMilliseconds" type="int"/>
		</sequence>
	</complexType>
</schema>
