etc/schemas/2012/06/01/UnmarkPrescriptionMedicationDeprecatedResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<element name="UnmarkPrescriptionMedicationDeprecatedResponse" type="medicinecard20120601:UnmarkPrescriptionMedicationDeprecatedResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response from service to unmark one or more prescription medications as no longer relevant</documentation>
			<documentation xml:lang="da-DK">Svar fra service til fjern markering af at en eller flere receptordinationer ikke længere er relevante</documentation>
		</annotation>
	</element>
	<complexType name="UnmarkPrescriptionMedicationDeprecatedResponseType">
		<sequence>
			<sequence>
				<element name="PersonIdentifier" type="medicinecard20120601:PersonIdentifierType"/>
				<element name="MedicineCardVersion" type="medicinecard20120601:MedicineCardVersionType"/>
				<element name="VersionMismatchWarning" type="medicinecard20120601:VersionMismatchWarningType" minOccurs="0"/>
			</sequence>
		</sequence>
	</complexType>
</schema>
