etc/schemas/2012/06/01/UnwithdrawDrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="Modificator.xsd"/>	
	<element name="UnwithdrawDrugMedication" type="medicinecard20120601:UnwithdrawDrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Instructions on undo withdraw of drug medications </documentation>
			<documentation xml:lang="da-DK">Anvisning der fjerner en seponering af en eller flere lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="UnwithdrawDrugMedicationType">
		<sequence>
			<element name="Identifier" type="medicinecard20120601:DrugMedicationIdentifierType"/>
			<element name="ModifiedBy" type="medicinecard20120601:ModificatorType" minOccurs="0"/>			
		</sequence>
	</complexType>
</schema>
