etc/schemas/2012/06/01/UnwithdrawDrugMedicationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<include schemaLocation="UnwithdrawnDrugMedication.xsd"/>
	<element name="UnwithdrawDrugMedicationResponse" type="medicinecard20120601:UnwithdrawDrugMedicationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container elemenet for a response from an undo a withdraw of drug medications request</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar på en forespørgsel om af-seponering af lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="UnwithdrawDrugMedicationResponseType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20120601:PersonIdentifierType"/>
			<element name="MedicineCardVersion" type="medicinecard20120601:MedicineCardVersionType"/>
			<element name="VersionMismatchWarning" type="medicinecard20120601:VersionMismatchWarningType" minOccurs="0"/>
			<element name="DrugMedication" type="medicinecard20120601:UnwithdrawnDrugMedicationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
