etc/schemas/2012/06/01/UpdateMedicineCardResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<include schemaLocation="CreatedDrugMedication.xsd"/>
	<include schemaLocation="UpdatedDrugMedication.xsd"/>
	<include schemaLocation="WithdrawnDrugMedication.xsd"/>
	<include schemaLocation="PausedDrugMedication.xsd"/>
	<include schemaLocation="UnpausedDrugMedication.xsd"/>
	<include schemaLocation="CreatedEffectuationOnDrugMedication.xsd"/>
	<include schemaLocation="CreatedPrescriptionMedication.xsd"/>
	<include schemaLocation="UnwithdrawnDrugMedication.xsd"/>
	<include schemaLocation="CancelledPrescriptionMedication.xsd"/>
	<element name="UpdateMedicineCardResponse" type="medicinecard20120601:UpdateMedicineCardResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container elemenet for a batch request to update a medicine card</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en batchforespørgsel for at opdatere et medicinkort</documentation>
		</annotation>
	</element>
	<complexType name="UpdateMedicineCardResponseType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20120601:PersonIdentifierType"/>
			<element name="MedicineCardVersion" type="medicinecard20120601:MedicineCardVersionType"/>
			<element name="VersionMismatchWarning" type="medicinecard20120601:VersionMismatchWarningType" minOccurs="0"/>
			<sequence maxOccurs="unbounded">
				<element name="CreatedDrugMedication" type="medicinecard20120601:CreatedDrugMedicationType" minOccurs="0"/>
				<element name="UpdatedDrugMedication" type="medicinecard20120601:UpdatedDrugMedicationType" minOccurs="0"/>
				<element name="WithdrawnDrugMedication" type="medicinecard20120601:WithdrawnDrugMedicationType" minOccurs="0"/>
				<element name="UnwithdrawnDrugMedication" type="medicinecard20120601:UnwithdrawnDrugMedicationType" minOccurs="0"/>
				<element name="PausedDrugMedication" type="medicinecard20120601:PausedDrugMedicationType" minOccurs="0"/>
				<element name="UnpausedDrugMedication" type="medicinecard20120601:UnpausedDrugMedicationType" minOccurs="0"/>
				<element name="CreatedPrescriptionMedication" type="medicinecard20120601:CreatedPrescriptionMedicationType" minOccurs="0"/>
				<element name="CreatedEffectuationOnDrugMedication" type="medicinecard20120601:CreatedEffectuationOnDrugMedicationType" minOccurs="0"/>
				<element name="CancelledPrescriptionMedication" type="medicinecard20120601:CancelledPrescriptionMedicationType" minOccurs="0"/>
			</sequence>
		</sequence>
	</complexType>
</schema>
