etc/schemas/2012/06/01/UpdateDrugMedicationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:cpr="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="Organisation.xsd"/>
	<include schemaLocation="Doctor.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="UpdateDrugMedication.xsd"/>
	<element name="UpdateDrugMedicationRequest" type="medicinecard20120601:UpdateDrugMedicationRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container elemenet for a request for a request which updated an existing drug medication</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel der opdaterer en eksisterende lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="UpdateDrugMedicationRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20120601:PersonIdentifierType"/>
			<element name="MedicineCardVersion" type="medicinecard20120601:MedicineCardVersionType"/>
			<element name="Organisation" type="medicinecard20120601:OrganisationType"/>
			<element name="Doctor" type="medicinecard20120601:DoctorType"/>
			<element name="DrugMedication" type="medicinecard20120601:UpdateDrugMedicationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
