etc/schemas/2012/06/01/WithdrawDrugMedicationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<include schemaLocation="WithdrawnDrugMedication.xsd"/>
	<element name="WithdrawDrugMedicationResponseStructure" type="medicinecard20120601:WithdrawDrugMedicationResponseStructureType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container elemenet for a response from a for a request which updated an existing drug medication</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar på en forespørgsel der opdaterer en eksisterende lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="WithdrawDrugMedicationResponseStructureType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20120601:PersonIdentifierType"/>
			<element name="MedicineCardVersion" type="medicinecard20120601:MedicineCardVersionType"/>
			<element name="VersionMismatchWarning" type="medicinecard20120601:VersionMismatchWarningType" minOccurs="0"/>
			<element name="DrugMedication" type="medicinecard20120601:WithdrawnDrugMedicationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
