etc/schemas/2012/09/01/PatientOrganisationRelation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20120901="http://www.dkma.dk/medicinecard/xml.schema/2012/09/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/09/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
<!--	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../06/01/Modificator.xsd"/>-->
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../06/01/Organisation.xsd"/>
	<include schemaLocation="PatientOrganisationRelationIdentifier.xsd"/>
	<include schemaLocation="PatientOrganisationRelationType.xsd"/>
	<element name="PatientOrganisationRelation" type="medicinecard20120901:PatientOrganisationRelationType">
		<annotation>
			<documentation xml:lang="en-GB">A relation between a patient and an organisation</documentation>
			<documentation xml:lang="da-DK">Registrering af en relation mellem en patient og en organisation</documentation>
		</annotation>
	</element>
	<complexType name="PatientOrganisationRelationType">
		<sequence>
			<element name="Identifier" type="medicinecard20120901:PatientOrganisationRelationIdentifierType"/>
			<element name="Organisation" type="medicinecard20120601:OrganisationType"/>
			<element name="Type" type="medicinecard20120901:PatientOrganisationRelationTypeType"/>
		</sequence>
	</complexType>
</schema>
