etc/schemas/2015/01/01/CancelPrescriptionMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>	
	<include schemaLocation="PrescriptionMedicationIdentifier.xsd"/>
	<element name="CancelPrescriptionMedication" type="medicinecard20150101:CancelPrescriptionMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">For use in bulk service: Mark one or more prescription medications as invalid</documentation>
			<documentation xml:lang="da-DK">Til brug i bulk service: Marker at en eller flere receptordinationer er ugyldige</documentation>
		</annotation>
	</element>
	<complexType name="CancelPrescriptionMedicationType">
		<sequence>
			<element name="Identifier" type="medicinecard20150101:PrescriptionMedicationIdentifierType"/>
			<element name="ModifiedBy" type="medicinecard20150101:ModificatorType" minOccurs="0"/>
			<element name="ModificationMetadata" type="medicinecard20150101:ModificationMetadataType" minOccurs="0"/>						
		</sequence>
	</complexType>
</schema>
