etc/schemas/2015/01/01/CancelPrescriptionMedicationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<include schemaLocation="PrescriptionMedicationIdentifier.xsd"/>
	<include schemaLocation="PrescriptionServerError.xsd"/>
	<element name="CancelPrescriptionMedicationResponse" type="medicinecard20150101:CancelPrescriptionMedicationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response for invalidating one or more prescription medications</documentation>
			<documentation xml:lang="da-DK">Svar på annullering af en eller flere recepter</documentation>
		</annotation>
	</element>
	<complexType name="CancelPrescriptionMedicationResponseType">
		<sequence>
			<sequence>
				<element name="PersonIdentifier" type="medicinecard20150101:PersonIdentifierType"/>
				<element name="MedicineCardVersion" type="medicinecard20150101:MedicineCardVersionType"/>
				<element name="VersionMismatchWarning" type="medicinecard20150101:VersionMismatchWarningType" minOccurs="0"/>
				<element name="PrescriptionMedicationIdentifier" type="medicinecard20150101:PrescriptionMedicationIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
				<element name="PrescriptionServerError" type="medicinecard20150101:PrescriptionServerErrorType" minOccurs="0"/>
			</sequence>
		</sequence>
	</complexType>
</schema>
