etc/schemas/2015/01/01/CreateEffectuation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Drug.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="DoseQuantity.xsd"/>
	<include schemaLocation="DosageQuantityUnitText.xsd"/>
	<include schemaLocation="EffectuationDateTime.xsd"/>
	<include schemaLocation="EffectuationMethod.xsd"/>
	<include schemaLocation="IsEffectuatedAccordingToDrugMedication.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="PackageNumber.xsd"/>
	<include schemaLocation="PackageSize.xsd"/>
	<include schemaLocation="PackageQuantity.xsd"/>
	<element name="CreateEffectuation" type="medicinecard20150101:CreateEffectuationType">
		<annotation>
			<documentation xml:lang="en-GB">Document for creation of a new effectuation of a drug</documentation>
			<documentation xml:lang="da-DK">Dokument til oprettelse af en ny effektuering af et lægemiddel</documentation>
		</annotation>
	</element>
	<complexType name="CreateEffectuationType">
		<sequence>
			<element name="DateTime" type="medicinecard20150101:EffectuationDateTimeType"/>
			<element name="EffectuationMethod" type="medicinecard20150101:EffectuationMethodType"/>
			<element name="CreatedBy" type="medicinecard20150101:ModificatorType" minOccurs="0"/>
			<element name="ModificationMetadata" type="medicinecard20150101:ModificationMetadataType" minOccurs="0"/>
			<choice>
				<sequence>
					<!-- A drug was effectuated, with the dose and unit below. This overrides whatever is stated as drug and dosage on the prescription or drug medication -->
					<element name="DoseQuantity" type="medicinecard20150101:DoseQuantityType"/>
					<element name="DosageQuantityUnitText" type="medicinecard20150101:DosageQuantityUnitTextType"/>
					<element name="Drug" type="medicinecard20150101:DrugType"/>
				</sequence>
				<sequence>
					<!-- A drug was effectuated, with a drug substituted as below. This overrides whatever is stated as drug on the prescription or drug medication -->
					<element name="Drug" type="medicinecard20150101:DrugType"/>
				</sequence>
				<sequence>
					<!-- A drug was effectuated, one or more packages was given to the patient -->
					<element name="PackageQuantity" type="medicinecard20150101:PackageQuantityType" minOccurs="0"/>
					<element name="PackageNumber" type="medicinecard20150101:PackageNumberType"/>
					<element name="PackageSize" type="medicinecard20150101:PackageSizeType" minOccurs="0"/>
					<element name="Drug" type="medicinecard20150101:DrugType" minOccurs="0"/>
				</sequence>
				<!-- A drug was effectuated, the drug and dosage was given as stated on the drug medication -->
				<element name="IsEffectuatedAccordingToDrugMedication" type="medicinecard20150101:IsEffectuatedAccordingToDrugMedicationType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
