etc/schemas/2015/01/01/CreatePrescriptionMedicationWithoutCPRRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="UnattachedPrescriptionMedication.xsd"/>
	<include schemaLocation="PatientWithoutCPR.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<element name="CreatePrescriptionMedicationWithoutCPRRequest" type="medicinecard20150101:CreatePrescriptionMedicationWithoutCPRRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document containing one or more documents for creating prescription medications from drug medications</documentation>
			<documentation xml:lang="da-DK">Request-dokument der indeholder en eller flere dokumenter til at oprette receptordinationer fra lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="CreatePrescriptionMedicationWithoutCPRRequestType">
		<sequence>
			<element name="CreatedBy" type="medicinecard20150101:ModificatorType"/>
			<element name="ReportedBy" type="medicinecard20150101:ModificatorType" minOccurs="0"/>
			<element name="Patient" type="medicinecard20150101:PatientWithoutCPRType"/>
			<element name="PrescriptionMedication" type="medicinecard20150101:UnattachedPrescriptionMedicationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
