etc/schemas/2015/01/01/CreatedEffectuationOnDrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationVersion.xsd"/>
	<include schemaLocation="EffectuationIdentifier.xsd"/>
	<element name="CreatedEffectuationOnDrugMedication" type="medicinecard20150101:CreatedEffectuationOnDrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Element for an effecutation added on a drug medication</documentation>
			<documentation xml:lang="da-DK">Element for en effektuering tilføjet på en lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="CreatedEffectuationOnDrugMedicationType">
		<sequence>
			<element name="Identifier" type="medicinecard20150101:DrugMedicationIdentifierType"/>
			<element name="EffectuationIdentifier" type="medicinecard20150101:EffectuationIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
