etc/schemas/2015/01/01/CreateEffectuationOnDrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="CreateEffectuation.xsd"/>
	<element name="CreateEffectuationOnDrugMedication" type="medicinecard20150101:CreateEffectuationOnDrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Elemenet for adding an effecutation on a drug prescription</documentation>
			<documentation xml:lang="da-DK">Element for en tilføjelse af en effektuering på en lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="CreateEffectuationOnDrugMedicationType">
		<sequence>
			<element name="Identifier" type="medicinecard20150101:DrugMedicationIdentifierType"/>
			<element name="Effectuation" type="medicinecard20150101:CreateEffectuationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
