etc/schemas/2015/01/01/CreatedDrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"  targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationVersion.xsd"/>
	<include schemaLocation="EffectuationIdentifier.xsd"/>
	<include schemaLocation="PrescriptionMedicationIdentifier.xsd"/>
	<element name="CreatedDrugMedication" type="medicinecard20150101:CreatedDrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Element with IDs returned at the creation of a new drug prescription</documentation>
			<documentation xml:lang="da-DK">Element med IDer returneret ved oprettelsen af en ny lægemiddelinformation</documentation>
		</annotation>
	</element>
	<complexType name="CreatedDrugMedicationType">
		<sequence>
			<element name="Identifier" type="medicinecard20150101:DrugMedicationIdentifierType"/>
			<element name="Version" type="medicinecard20150101:DrugMedicationVersionType"/>
			<element name="EffectuationIdentifier" type="medicinecard20150101:EffectuationIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="PrescriptionMedicationIdentifier" type="medicinecard20150101:PrescriptionMedicationIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
