etc/schemas/2015/01/01/CreatePatientRegistrationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified"
        attributeFormDefault="unqualified">
    <include schemaLocation="Modificator.xsd"/>
    <include schemaLocation="ModificationMetadata.xsd"/>
    <include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="Modificator.xsd"/>
    <include schemaLocation="CreateINR.xsd"/>
    <element name="CreatePatientRegistrationRequest" type="medicinecard20150101:CreatePatientRegistrationRequestType">
        <annotation>
            <documentation xml:lang="en-GB">Request document to create registrations for a patient</documentation>
            <documentation xml:lang="da-DK">Request-dokument til at oprette patient-registreringer</documentation>
        </annotation>
    </element>
    <complexType name="CreatePatientRegistrationRequestType">
        <sequence>
            <element name="PersonIdentifier" type="medicinecard20150101:PersonIdentifierType"/>
            <element name="CreatedBy" type="medicinecard20150101:ModificatorType" minOccurs="0"/>
            <element name="ModificationMetadata" type="medicinecard20150101:ModificationMetadataType" minOccurs="0"/>
            <element name="ReportedBy" type="medicinecard20150101:ModificatorType" minOccurs="0"/>
            <choice>
                <element name="INR" type="medicinecard20150101:CreateINRType"/>
            </choice>
        </sequence>
    </complexType>
</schema>
