etc/schemas/2015/01/01/DosageForRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <include schemaLocation="DosageFreeTextForRequest.xsd"/>
    <include schemaLocation="DosageStructuresForRequest.xsd"/>
    <include schemaLocation="DosageType.xsd"/>
    <include schemaLocation="AdministrationAccordingToSchemaInLocalSystemForRequest.xsd"/>
    <element name="DosageForRequest" type="medicinecard20150101:DosageForRequestType">
        <annotation>
            <documentation xml:lang="en-GB">How often and when the drug should be given</documentation>
            <documentation xml:lang="da-DK">Angivelse af hvor ofte og hvornår et lægemiddel skal gives</documentation>
        </annotation>
    </element>
    <complexType name="DosageForRequestType">
        <sequence>
            <choice>
                <sequence>
                    <element name="StructuresFixed" type="medicinecard20150101:DosageStructuresForRequestType" minOccurs="0" maxOccurs="1"/>
                    <element name="StructuresAccordingToNeed" type="medicinecard20150101:DosageStructuresForRequestType" minOccurs="0" maxOccurs="1"/>
                </sequence>
                <element name="FreeText" type="medicinecard20150101:DosageFreeTextForRequestType"/>
                <element name="AdministrationAccordingToSchemaInLocalSystem" type="medicinecard20150101:AdministrationAccordingToSchemaInLocalSystemForRequestType"/>
            </choice>
            <element name="Type" type="medicinecard20150101:DosageTypeType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
