etc/schemas/2015/01/01/Dosage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DosageFreeText.xsd"/>
	<include schemaLocation="DosageStructure.xsd"/>
	<include schemaLocation="DosageType.xsd"/>
	<include schemaLocation="AdministrationAccordingToSchemaInLocalSystem.xsd"/>
	<element name="Dosage" type="medicinecard20150101:DosageType">
		<annotation>
			<documentation xml:lang="en-GB">How often and when the drug should be given</documentation>
			<documentation xml:lang="da-DK">Angivelse af hvor ofte og hvornår et lægemiddel skal gives</documentation>
		</annotation>
	</element>
	<complexType name="DosageType">
		<sequence>
			<choice>
				<element name="Structure" type="medicinecard20150101:DosageStructureType"/>
				<element name="FreeText" type="medicinecard20150101:DosageFreeTextType"/>
				<element name="AdministrationAccordingToSchemaInLocalSystem" type="medicinecard20150101:AdministrationAccordingToSchemaInLocalSystemType"/>
			</choice>
			<element name="Type" type="medicinecard20150101:DosageTypeType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
