etc/schemas/2015/01/01/DosageFreeTextForResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DosageFreeTextText.xsd"/>
	<include schemaLocation="DosageStartedPreviously.xsd"/>	
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/DosageTimesDosageEndingUndetermined.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/DosageTimesEndDate.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/DosageTimesEndDateTime.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/DosageTimesStartDate.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/DosageTimesStartDateTime.xsd"/>
	<element name="DosageFreeTextForResponse" type="medicinecard20150101:DosageFreeTextForResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Free text for dosage</documentation>
			<documentation xml:lang="da-DK">Fritekst for dosering</documentation>
		</annotation>
	</element>
	<complexType name="DosageFreeTextForResponseType">
		<sequence>
			<choice>
				<element name="StartDate" type="medicinecard20120601:DosageTimesStartDateType"/>
				<element name="StartDateTime" type="medicinecard20120601:DosageTimesStartDateTimeType"/>
				<element name="DosageStartedPreviously" type="medicinecard20150101:DosageStartedPreviouslyType"/>				
			</choice>
			<choice>
				<element name="EndDate" type="medicinecard20120601:DosageTimesEndDateType"/>
				<element name="EndDateTime" type="medicinecard20120601:DosageTimesEndDateTimeType"/>
				<element name="DosageEndingUndetermined" type="medicinecard20120601:DosageTimesDosageEndingUndeterminedType"/>
			</choice>
			<element name="Text" type="medicinecard20150101:DosageFreeTextTextType"/>
		</sequence>
	</complexType>
</schema>
