etc/schemas/2015/01/01/DosageStructuresForRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="EmptyDosageStructure.xsd"/>
	<include schemaLocation="DosageStructureForRequest.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/DosageQuantityUnitText.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/DosageQuantityUnitTexts.xsd"/>
	<element name="DosageStructuresForRequest" type="medicinecard20150101:DosageStructuresForRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Description of the dosage times of a treatment</documentation>
			<documentation xml:lang="da-DK">Beskrivelse af doseringstidspunkter for en behandling</documentation>
		</annotation>
	</element>
	<complexType name="DosageStructuresForRequestType">
		<sequence>
			<choice>
				<element name="UnitText" type="medicinecard20120601:DosageQuantityUnitTextType"/>
				<element name="UnitTexts" type="medicinecard20120601:DosageQuantityUnitTextsType"/>
			</choice>
			<choice minOccurs="1" maxOccurs="unbounded">
				<element name="Structure" type="medicinecard20150101:DosageStructureForRequestType"/>
				<element name="EmptyStructure" type="medicinecard20150101:EmptyDosageStructureType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
