etc/schemas/2015/01/01/DrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Created.xsd"/>
	<include schemaLocation="DosageForResponse.xsd"/>
	<include schemaLocation="Drug.xsd"/>
	<include schemaLocation="Effectuation.xsd"/>
	<include schemaLocation="Modified.xsd"/>
	<include schemaLocation="Paused.xsd"/>
	<include schemaLocation="PrescriptionMedication.xsd"/>
	<include schemaLocation="Withdrawn.xsd"/>
	<include schemaLocation="InvalidEffectuation.xsd"/>
	<include schemaLocation="InvalidPrescriptionMedication.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/DrugMedicationBeginEndDate.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/DrugMedicationIdentifier.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/DrugMedicationVersion.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/HasNegativeConsent.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/HasNegativeConsent.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/RouteOfAdministration.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/ReimbursementClause.xsd"/>
	<element name="DrugMedication" type="medicinecard20150101:DrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">An overview of the drug medication (a medication on the medicine card)</documentation>
			<documentation xml:lang="da-DK">En oversigt over lægemiddelordination (en ordination på medicinkortet)</documentation>
		</annotation>
	</element>
	<complexType name="DrugMedicationType">
		<sequence>
			<element name="Identifier" type="medicinecard20120601:DrugMedicationIdentifierType"/>
			<element name="Version" type="medicinecard20120601:DrugMedicationVersionType"/>
			<element name="PreviousVersion" type="medicinecard20120601:DrugMedicationVersionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="NextVersion" type="medicinecard20120601:DrugMedicationVersionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ParentIdentifier" type="medicinecard20120601:DrugMedicationIdentifierType" minOccurs="0"/>
			<element name="Created" type="medicinecard20150101:CreatedType"/>
			<element name="ReportedBy" type="medicinecard20150101:ModificatorType" minOccurs="0"/>
			<element name="Modified" type="medicinecard20150101:ModifiedType" minOccurs="0"/>
			<element name="Paused" type="medicinecard20150101:PausedType" minOccurs="0"/>
			<element name="Withdrawn" type="medicinecard20150101:WithdrawnType" minOccurs="0"/>
			<element name="HasNegativeConsent" type="medicinecard20120601:HasNegativeConsentType" minOccurs="0"/>
			<element name="BeginEndDate" type="medicinecard20120601:DrugMedicationBeginEndDateType"/>
			<element name="Indication" type="medicinecard20120601:IndicationType"/>
			<element name="RouteOfAdministration" type="medicinecard20120601:RouteOfAdministrationType"/>
			<element name="Drug" type="medicinecard20150101:DrugType"/>
			<element name="Dosage" type="medicinecard20150101:DosageForResponseType"/>
			<element name="SubstitutionAllowed" type="medicinecard20120601:SubstitutionAllowedType" minOccurs="0"/>
			<element name="Effectuation" type="medicinecard20150101:EffectuationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="InvalidEffectuation" type="medicinecard20150101:InvalidEffectuationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="PrescriptionMedication" type="medicinecard20150101:PrescriptionMedicationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="InvalidPrescriptionMedication" type="medicinecard20150101:InvalidPrescriptionMedicationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ReimbursementClause" type="medicinecard20120601:ReimbursementClauseType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
