etc/schemas/2015/01/01/DrugMedicationHistory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <include schemaLocation="DrugMedicationHistoryPeriod.xsd"/>
    <element name="DrugMedicationHistory" type="medicinecard20150101:DrugMedicationHistoryType">
        <annotation>
            <documentation xml:lang="en-GB">The history of a drugmedication</documentation>
            <documentation xml:lang="da-DK">Historikken for en lægemiddelordination</documentation>
        </annotation>
    </element>
    <complexType name="DrugMedicationHistoryType">
        <sequence>
                <element name="Period" type="medicinecard20150101:DrugMedicationHistoryPeriodType" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
