etc/schemas/2015/01/01/GetMedicineCardAsPDFResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="MedicineCardAsPDF.xsd"/>
	<element name="GetMedicineCardAsPDFResponse" type="medicinecard20150101:GetMedicineCardAsPDFResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container elemenet for a response with a medicinecard as PDF</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en et svar med et medicinkort som PDF</documentation>
		</annotation>
	</element>
	<complexType name="GetMedicineCardAsPDFResponseType">
		<choice>
			<element name="MedicineCard" type="medicinecard20150101:MedicineCardAsPDFType" maxOccurs="unbounded"/>
		</choice>
	</complexType>
</schema>
