etc/schemas/2015/01/01/IncludeOrderedPrescriptionMedications.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<element name="IncludeOrderedPrescriptionMedications" type="medicinecard20150101:IncludeOrderedPrescriptionMedicationsType">
		<annotation>
			<documentation xml:lang="en-GB">Indicatates</documentation>
			<documentation xml:lang="da-DK">Angiver hvorvidt </documentation>
		</annotation>
	</element>
	<complexType name="IncludeOrderedPrescriptionMedicationsType">
		<sequence>
			<element name="IncludeUnprescribedOrders" type="boolean"/>
			<element name="IncludePrescribedOrders" type="boolean"/>
			<element name="IncludeCancelledOrders" type="boolean"/>
		</sequence>
	</complexType>
</schema>
