etc/schemas/2015/01/01/InvalidEffectuation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="EffectuationIdentifier.xsd"/>
	<element name="InvalidEffectuation" type="medicinecard20150101:InvalidEffectuationType">
		<annotation>
			<documentation xml:lang="en-GB">An invalid effectuation</documentation>
			<documentation xml:lang="da-DK">En ugyldig effektuering</documentation>
		</annotation>
	</element>
	<complexType name="InvalidEffectuationType">
		<sequence>
			<element name="Identifier" type="medicinecard20150101:EffectuationIdentifierType"/>
		</sequence>
	</complexType>
</schema>
