etc/schemas/2015/01/01/MedicineCardModificationIdentifiers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="DrugMedicationModificationIdentifiers.xsd"/>
	<complexType name="MedicineCardModificationIdentifiersType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150101:PersonIdentifierType"/>
			<element name="Version" type="medicinecard20150101:MedicineCardVersionType"/>
			<element name="DrugMedication" type="medicinecard20150101:DrugMedicationModificationIdentifiersType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
