etc/schemas/2015/01/01/MedicineCard.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DrugMedication.xsd"/>
	<include schemaLocation="Modified.xsd"/>
	<include schemaLocation="NotReviewed.xsd"/>
	<include schemaLocation="PatientOrganisationRelation.xsd"/>
	<include schemaLocation="PrescriptionMedication.xsd"/>
	<include schemaLocation="Reviewed.xsd"/>
	<include schemaLocation="InvalidDrugMedication.xsd"/>
	<include schemaLocation="InvalidPrescriptionMedication.xsd"/>
	<include schemaLocation="MedicineCardIsInvalid.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="DrugMedicationWithNegativeConsent.xsd"/>
	<include schemaLocation="Patient.xsd"/>
	<element name="MedicineCard" type="medicinecard20150101:MedicineCardType">
		<annotation>
			<documentation xml:lang="en-GB">Virtual card where a patient's medications are documented, except effectuations</documentation>
			<documentation xml:lang="da-DK">Virtuelt kort hvori en patients medicineringer dokumenteres, undtaget effektueringer</documentation>
		</annotation>
	</element>
	<complexType name="MedicineCardType">
		<sequence>
			<element name="Patient" type="medicinecard20150101:PatientType"/>
			<element name="Version" type="medicinecard20150101:MedicineCardVersionType"/>
			<element name="PreviousVersion" type="medicinecard20150101:MedicineCardVersionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="NextVersion" type="medicinecard20150101:MedicineCardVersionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ReportedBy" type="medicinecard20150101:ModificatorType" minOccurs="0"/>
			<element name="Modified" type="medicinecard20150101:ModifiedType" minOccurs="0"/>
			<element name="Reviewed" type="medicinecard20150101:ReviewedType" minOccurs="0" />
			<element name="NotReviewed" type="medicinecard20150101:NotReviewedType" minOccurs="0"/>
			<element name="IsInvalid" type="medicinecard20150101:MedicineCardIsInvalidType" minOccurs="0"/>
			<element name="PatientOrganisationRelation" type="medicinecard20150101:PatientOrganisationRelationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="DrugMedicationWithNegativeConsent" type="medicinecard20150101:DrugMedicationWithNegativeConsentType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="DrugMedication" type="medicinecard20150101:DrugMedicationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="InvalidDrugMedication" type="medicinecard20150101:InvalidDrugMedicationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="PrescriptionMedication" type="medicinecard20150101:PrescriptionMedicationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="InvalidPrescriptionMedication" type="medicinecard20150101:InvalidPrescriptionMedicationType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
