etc/schemas/2015/01/01/MedicineCardModification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="MedicineCardModificationAction.xsd"/>
	<include schemaLocation="MedicineCardModificationIdentifiers.xsd"/>
	<include schemaLocation="ModificationDetails.xsd"/>
	<element name="MedicineCardModification" type="medicinecard20150101:MedicineCardModificationType">
		<annotation>
			<documentation xml:lang="en-GB">Information about a modification of a medicine card</documentation>
			<documentation xml:lang="da-DK">Information omkring en modifikation af et medicinkort</documentation>
		</annotation>
	</element>
	<complexType name="MedicineCardModificationType">
		<sequence>
			<element name="Action" type="medicinecard20150101:MedicineCardModificationActionType"/>
			<element name="Details" type="medicinecard20150101:ModificationDetailsType" minOccurs="0"/>
			<element name="MedicineCard" type="medicinecard20150101:MedicineCardModificationIdentifiersType"/>
			<any minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
