etc/schemas/2015/01/01/OrderedPrescriptionMedicationDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Delivery.xsd"/>
	<include schemaLocation="DeliveryInformation.xsd"/>
	<include schemaLocation="DoseDispensedPrescriptionDispensing.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="EffectuationIdentifier.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="OrderInstruction.xsd"/>
	<include schemaLocation="OrderedDateTime.xsd"/>
	<include schemaLocation="OrderedPrescriptionMedicationIdentifier.xsd"/>
	<include schemaLocation="Organisation.xsd"/>
	<include schemaLocation="PrescriptionMedicationIdentifier.xsd"/>
	<include schemaLocation="ReimbursementClause.xsd"/>
	<include schemaLocation="ReiteratedPrescriptionDispensing.xsd"/>
	<include schemaLocation="SinglePrescriptionDispensing.xsd"/>
	<element name="OrderedPrescriptionMedicationDetails" type="medicinecard20150101:OrderedPrescriptionMedicationDetailsType">
		<annotation>
			<documentation xml:lang="en-GB">Response on an order, response for the order request</documentation>
			<documentation xml:lang="da-DK">Svar på bestilling, svar til order request </documentation>
		</annotation>
	</element>
	<complexType name="OrderedPrescriptionMedicationDetailsType">
		<sequence>
			<element name="Identifier" type="medicinecard20150101:OrderedPrescriptionMedicationIdentifierType"/>
			<element name="DrugMedicationIdentifier" type="medicinecard20150101:DrugMedicationIdentifierType"/>
			<element name="OrderedBy" type="medicinecard20150101:ModificatorType"/>
			<element name="ReportedBy" type="medicinecard20150101:ModificatorType" minOccurs="0"/>
			<element name="PrescribingOrganisation" type="medicinecard20150101:OrganisationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="EffectuatingOrganisation" type="medicinecard20150101:OrganisationType" minOccurs="0"/>
			<element name="CancelledBy" type="medicinecard20150101:ModificatorType" minOccurs="0"/>
			<choice minOccurs="0" maxOccurs="3">
				<element name="DeliveryInformation" type="medicinecard20150101:DeliveryInformationType"/>
				<element name="OrderInstruction" type="medicinecard20150101:OrderInstructionType"/>
			</choice>
			<element name="Delivery" type="medicinecard20150101:DeliveryType" minOccurs="0"/>
			<element name="ReimbursementClause" type="medicinecard20150101:ReimbursementClauseType" minOccurs="0"/>
			<choice minOccurs="0">
				<element name="SinglePrescriptionDispensing" type="medicinecard20150101:SinglePrescriptionDispensingType"/>
				<element name="ReiteratedPrescriptionDispensing" type="medicinecard20150101:ReiteratedPrescriptionDispensingType"/>
				<element name="DoseDispensedDispensing" type="medicinecard20150101:DoseDispensedPrescriptionDispensingType"/>
			</choice>
			<element name="OrderedDateTime" type="medicinecard20150101:OrderedDateTimeType"/>
			<element name="OrderedPrescriptionMedicationIdentifier" type="medicinecard20150101:PrescriptionMedicationIdentifierType" minOccurs="0"/>
			<element name="OrderedEffectuationIdentifier" type="medicinecard20150101:EffectuationIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
