etc/schemas/2015/01/01/OrderedEffectuation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="OrderedEffectuationIdentifier.xsd"/>
	<include schemaLocation="PrescriptionMedicationIdentifier.xsd"/>
	<element name="OrderedEffectuation" type="medicinecard20150101:OrderedEffectuationType">
		<annotation>
			<documentation xml:lang="en-GB">Response on an order, response for the order request</documentation>
			<documentation xml:lang="da-DK">Svar på bestilling, svar til order request </documentation>
		</annotation>
	</element>
	<complexType name="OrderedEffectuationType">
		<sequence>
			<element name="Identifier" type="medicinecard20150101:OrderedEffectuationIdentifierType"/>
			<element name="ExistingPrescriptionMedicationIdentifier" type="medicinecard20150101:PrescriptionMedicationIdentifierType"/>
		</sequence>
	</complexType>
</schema>
