etc/schemas/2015/01/01/OrderPrescriptionMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="CreateDoseDispensedPrescriptionDispensing.xsd"/>
	<include schemaLocation="CreateReiteratedPrescriptionDispensing.xsd"/>
	<include schemaLocation="CreateSinglePrescriptionDispensing.xsd"/>
	<include schemaLocation="Delivery.xsd"/>
	<include schemaLocation="DeliveryInformation.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="OrderInstruction.xsd"/>
	<include schemaLocation="Organisation.xsd"/>
	<include schemaLocation="ReimbursementClause.xsd"/>
	<element name="OrderPrescriptionMedication" type="medicinecard20150101:OrderPrescriptionMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Order for a new effectuation on the pharmacy or prescription medication to be created by the doctor</documentation>
			<documentation xml:lang="da-DK">Bestilling for en ny effektuering på apoteket eller receptordination til oprettelse hos lægen</documentation>
		</annotation>
	</element>
	<complexType name="OrderPrescriptionMedicationType">
		<sequence>
			<element name="DrugMedicationIdentifier" type="medicinecard20150101:DrugMedicationIdentifierType"/>
			<element name="OrderedBy" type="medicinecard20150101:ModificatorType" minOccurs="0"/>
			<element name="ModificationMetadata" type="medicinecard20150101:ModificationMetadataType" minOccurs="0"/>
			<element name="PrescribingOrganisation" type="medicinecard20150101:OrganisationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="EffectuatingOrganisation" type="medicinecard20150101:OrganisationType" minOccurs="0"/>
			<choice minOccurs="0" maxOccurs="3">
				<element name="DeliveryInformation" type="medicinecard20150101:DeliveryInformationType"/>
				<element name="OrderInstruction" type="medicinecard20150101:OrderInstructionType"/>
			</choice>
			<element name="Delivery" type="medicinecard20150101:DeliveryType" minOccurs="0"/>
			<element name="ReimbursementClause" type="medicinecard20150101:ReimbursementClauseType" minOccurs="0"/>
			<choice minOccurs="0">
				<element name="SinglePrescriptionDispensing" type="medicinecard20150101:CreateSinglePrescriptionDispensingType"/>
				<element name="ReiteratedPrescriptionDispensing" type="medicinecard20150101:CreateReiteratedPrescriptionDispensingType"/>
				<element name="DoseDispensedDispensing" type="medicinecard20150101:CreateDoseDispensedPrescriptionDispensingType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
