etc/schemas/2015/01/01/OrganisationNotifiable.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="AddressLine.xsd"/>
	<include schemaLocation="EmailAddress.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="OrganisationName.xsd"/>
	<include schemaLocation="OrganisationType.xsd"/>
	<include schemaLocation="TelephoneNumber.xsd"/>
	<element name="OrganisationNotifiable" type="medicinecard20150101:OrganisationNotifiableType">
		<annotation>
			<documentation xml:lang="en-GB">Describes an organisation.</documentation>
			<documentation xml:lang="da-DK">Beskriver en organisation</documentation>
		</annotation>
	</element>
	<complexType name="OrganisationNotifiableType">
		<sequence>
			<element name="Name" type="medicinecard20150101:OrganisationNameType"/>
			<element name="AddressLine" type="medicinecard20150101:AddressLineType" minOccurs="0" maxOccurs="5"/>
			<element name="TelephoneNumber" type="medicinecard20150101:TelephoneNumberType" minOccurs="0"/>
			<element name="EmailAddress" type="medicinecard20150101:EmailAddressType" minOccurs="0"/>
			<element name="Type" type="medicinecard20150101:OrganisationTypeType"/>
			<element name="Identifier" type="medicinecard20150101:OrganisationIdentifierType"/>
			<element name="Notifiable" type="boolean" minOccurs="0"/>			
		</sequence>
	</complexType>
</schema>
