etc/schemas/2015/01/01/PatientWithoutCPR.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="SimplePersonWithoutCPR.xsd"/>
	<include schemaLocation="Address.xsd"/>
	<element name="PatientWithoutCPR" type="medicinecard20150101:PatientWithoutCPRType">
		<annotation>
			<documentation xml:lang="en-GB">Description of the patient</documentation>
			<documentation xml:lang="da-DK">Patientoplysninger</documentation>
		</annotation>
	</element>
	<complexType name="PatientWithoutCPRType">
		<sequence>
			<element name="Person" type="medicinecard20150101:SimplePersonWithoutCPRType"/>
			<element name="Address" type="medicinecard20150101:AddressType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
