etc/schemas/2015/01/01/PatientOrganisationRelationWithCreatedDate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="Created.xsd"/>
	<include schemaLocation="PatientOrganisationRelationType.xsd"/>
	<include schemaLocation="Organisation.xsd"/>
	<include schemaLocation="PatientOrganisationRelationIdentifier.xsd"/>
	<element name="PatientOrganisationRelationWithCreatedDate" type="medicinecard20150101:PatientOrganisationRelationWithCreatedDateType">
		<annotation>
			<documentation xml:lang="en-GB">A relation between a patient and an organisation</documentation>
			<documentation xml:lang="da-DK">Registrering af en relation mellem en patient og en organisation</documentation>
		</annotation>
	</element>
	<complexType name="PatientOrganisationRelationWithCreatedDateType">
		<sequence>
			<element name="Identifier" type="medicinecard20150101:PatientOrganisationRelationIdentifierType"/>
			<element name="Created" type="medicinecard20150101:CreatedType"/>
			<element name="ReportedBy" type="medicinecard20150101:ModificatorType" minOccurs="0"/>
			<element name="Organisation" type="medicinecard20150101:OrganisationType"/>
			<element name="Type" type="medicinecard20150101:PatientOrganisationRelationTypeType"/>
		</sequence>
	</complexType>
</schema>
