etc/schemas/2015/01/01/PatientRegistrationIdentification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <include schemaLocation="PatientRegistrationType.xsd"/>
    <include schemaLocation="PatientRegistrationIdentifier.xsd"/>
	<element name="PatientRegistrationIdentification" type="medicinecard20150101:PatientRegistrationIdentificationType">
		<annotation>
			<documentation xml:lang="en-GB">Identifies registrations to retrieve in a GetPatientRegistrationsRequest</documentation>
			<documentation xml:lang="da-DK">Identificerer hvilke registreringer der skal returneres i et GetPatientRegistrationsRequest</documentation>
		</annotation>
	</element>
    <complexType name="PatientRegistrationIdentificationType">
        <sequence>
            <element name="Type" type="medicinecard20150101:PatientRegistrationTypeType"/>
            <element name="Identifier" type="medicinecard20150101:PatientRegistrationIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
