etc/schemas/2015/01/01/PersonName.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonGivenName.xsd"/>
	<include schemaLocation="PersonMiddleName.xsd"/>
	<include schemaLocation="PersonSurname.xsd"/>
	<element name="PersonName" type="medicinecard20150101:PersonNameType"/>
	<complexType name="PersonNameType">
		<sequence>
			<element name="GivenName" type="medicinecard20150101:PersonGivenNameType"/>
			<element name="MiddleName" type="medicinecard20150101:PersonMiddleNameType" minOccurs="0"/>
			<element name="Surname" type="medicinecard20150101:PersonSurnameType"/>
		</sequence>
	</complexType>
</schema>
