etc/schemas/2015/01/01/PrescriptionMedicationModificationIdentifiers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PrescriptionMedicationIdentifier.xsd"/>
	<include schemaLocation="EffectuationModificationIdentifiers.xsd"/>
	<complexType name="PrescriptionMedicationModificationIdentifiersType">
		<sequence>
			<element name="Identifier" type="medicinecard20150101:PrescriptionMedicationIdentifierType"/>
			<element name="Effectuation" type="medicinecard20150101:EffectuationModificationIdentifiersType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
