etc/schemas/2015/01/01/Reviewed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Modificator.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/ReviewedDateTime.xsd"/>
	<element name="Reviewed" type="medicinecard20150101:ReviewedType">
		<annotation>
			<documentation xml:lang="en-GB">Information about who Reviewed the medicine card, at admission to hospital, including a timestamp when this occurred</documentation>
			<documentation xml:lang="da-DK">Information hvem der evaluerede medicinkortet, ved indlæggelse på sygehus, inklusiv tidspunktet</documentation>
		</annotation>
	</element>
	<complexType name="ReviewedType">
		<sequence>
			<element name="By" type="medicinecard20150101:ModificatorType"/>
			<element name="DateTime" type="medicinecard20120601:ReviewedDateTimeType"/>
		</sequence>
	</complexType>
</schema>
