etc/schemas/2015/01/01/SetMedicineCardNotReviewedRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Modificator.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/MedicineCardVersion.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/PersonIdentifier.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/ReviewedDateTime.xsd"/>
	<element name="SetMedicineCardNotReviewedRequest" type="medicinecard20150101:SetMedicineCardNotReviewedRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a request to set a date and time for marking the medicine card not reviewed</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel til at sætte dato og tid for markering af at manglende medicinkort-gennemgang</documentation>
		</annotation>
	</element>
	<complexType name="SetMedicineCardNotReviewedRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20120601:PersonIdentifierType"/>
			<element name="MedicineCardVersion" type="medicinecard20120601:MedicineCardVersionType"/>
			<element name="NotReviewedBy" type="medicinecard20150101:ModificatorType"/>
			<element name="ReportedBy" type="medicinecard20150101:ModificatorType" minOccurs="0"/>
			<element name="NotReviewedDateTime" type="medicinecard20120601:ReviewedDateTimeType"/>
		</sequence>
	</complexType>
</schema>
