etc/schemas/2015/01/01/SetMedicineCardReviewedRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="ReviewedDateTime.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>
	<element name="SetMedicineCardReviewedRequest" type="medicinecard20150101:SetMedicineCardReviewedRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a request to set a date and time for a review of the medicine card</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel til at sætte dato og tid for en medicinkort-gennemgang</documentation>
		</annotation>
	</element>
	<complexType name="SetMedicineCardReviewedRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150101:PersonIdentifierType"/>
			<element name="MedicineCardVersion" type="medicinecard20150101:MedicineCardVersionType"/>
			<element name="ReviewedBy" type="medicinecard20150101:ModificatorType"/>
			<element name="ReportedBy" type="medicinecard20150101:ModificatorType" minOccurs="0"/>
			<element name="ReviewedDateTime" type="medicinecard20150101:ReviewedDateTimeType"/>
			<element name="ModificationMetadata" type="medicinecard20150101:ModificationMetadataType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
