etc/schemas/2015/01/01/ShowDosagePeriodType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DosageTimesDosageEndingUndetermined.xsd"/>
	<include schemaLocation="DosageTimesEndDate.xsd"/>
	<include schemaLocation="DosageTimesEndDateTime.xsd"/>
	<include schemaLocation="DosageTimesIterationInterval.xsd"/>
	<include schemaLocation="DosageTimesStartDate.xsd"/>
	<include schemaLocation="DosageTimesStartDateTime.xsd"/>
	<element name="ShowDosagePeriod" type="medicinecard20150101:ShowDosagePeriodType">
		<annotation>
			<documentation xml:lang="en-GB">Information on the timeperiod for showing dosage informations</documentation>
			<documentation xml:lang="da-DK">Information om tidsintervallet for visning af doseingsinformationer </documentation>
		</annotation>
	</element>
	<complexType name="ShowDosagePeriodType">
		<sequence>
			<choice>
				<element name="StartDate" type="medicinecard20150101:DosageTimesStartDateType"/>
				<element name="StartDateTime" type="medicinecard20150101:DosageTimesStartDateTimeType"/>
			</choice>
			<choice>
				<element name="EndDate" type="medicinecard20150101:DosageTimesEndDateType"/>
				<element name="EndDateTime" type="medicinecard20150101:DosageTimesEndDateTimeType"/>
				<element name="DosageEndingUndetermined" type="medicinecard20150101:DosageTimesDosageEndingUndeterminedType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
