etc/schemas/2015/01/01/Suspended.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="SuspendedDateTime.xsd"/>
	<element name="Suspended" type="medicinecard20150101:SuspendedType">
		<annotation>
			<documentation xml:lang="en-GB">Information about who suspended the medicine card, at admission to hospital, including a timestamp when this occurred</documentation>
			<documentation xml:lang="da-DK">Information hvem der suspenderede medicinkortet, ved indlæggelse på sygehus, inklusiv tidspunktet</documentation>
		</annotation>
	</element>
	<complexType name="SuspendedType">
		<sequence>
			<element name="By" type="medicinecard20150101:ModificatorType"/>
			<element name="DateTime" type="medicinecard20150101:SuspendedDateTimeType"/>
		</sequence>
	</complexType>
</schema>
