etc/schemas/2015/01/01/UnmarkPrescriptionMedicationDeprecated.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Modificator.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/ModificationMetadata.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/PrescriptionMedicationIdentifier.xsd"/>
	<element name="UnmarkPrescriptionMedicationDeprecated" type="medicinecard20150101:UnmarkPrescriptionMedicationDeprecatedType">
		<annotation>
			<documentation xml:lang="en-GB">For use in bulk service: Mark one or more prescription medications as no longer relevant</documentation>
			<documentation xml:lang="da-DK">Til brug i bulk service: Marker at en eller flere receptordinationer ikke længere er relevante</documentation>
		</annotation>
	</element>
	<complexType name="UnmarkPrescriptionMedicationDeprecatedType">
		<sequence>
			<element name="Identifier" type="medicinecard20120601:PrescriptionMedicationIdentifierType"/>
			<element name="ModifiedBy" type="medicinecard20150101:ModificatorType" minOccurs="0"/>
			<element name="ModificationMetadata" type="medicinecard20120601:ModificationMetadataType" minOccurs="0"/>			
		</sequence>
	</complexType>
</schema>
