etc/schemas/2015/01/01/UnpauseDrugMedicationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="UnpauseDrugMedication.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/PersonIdentifier.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/MedicineCardVersion.xsd"/>
	<element name="UnpauseDrugMedicationRequest" type="medicinecard20150101:UnpauseDrugMedicationRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request to remove the pausation of one or more drugmedications</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel der fjerner pauseringen på en eller flere lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="UnpauseDrugMedicationRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20120601:PersonIdentifierType"/>
			<element name="MedicineCardVersion" type="medicinecard20120601:MedicineCardVersionType"/>
			<element name="ModifiedBy" type="medicinecard20150101:ModificatorType"/>
			<element name="ReportedBy" type="medicinecard20150101:ModificatorType" minOccurs="0"/>
			<element name="DrugMedication" type="medicinecard20150101:UnpauseDrugMedicationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
