etc/schemas/2015/01/01/UnwithdrawDrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>
	<element name="UnwithdrawDrugMedication" type="medicinecard20150101:UnwithdrawDrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Instructions on undo withdraw of drug medications </documentation>
			<documentation xml:lang="da-DK">Anvisning der fjerner en seponering af en eller flere lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="UnwithdrawDrugMedicationType">
		<sequence>
			<element name="Identifier" type="medicinecard20150101:DrugMedicationIdentifierType"/>
			<element name="ModifiedBy" type="medicinecard20150101:ModificatorType" minOccurs="0"/>
			<element name="ModificationMetadata" type="medicinecard20150101:ModificationMetadataType" minOccurs="0"/>			
		</sequence>
	</complexType>
</schema>
