etc/schemas/2015/06/01/E6/AnyDoseDispensingPeriod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
        xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        xmlns:medicinecard20150601E6="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
    <import schemaLocation="importsFrom20150601E3.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"/>
    <include schemaLocation="importsFrom20150601E6.xsd"/>

    <complexType name="AnyDoseDispensingPeriodType">
        <annotation>
            <documentation xml:lang="en-GB">Dose dispensing card contents disregarding periods</documentation>
            <documentation xml:lang="da-DK">Dosisdispenserings kort indhold på tværs af perioder</documentation>
        </annotation>
        <sequence>
            <element name="PrivatePlannedDispensing" type="medicinecard20150601E2:PrivateDoseDispensedMedicationType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="PlannedDispensing" type="medicinecard20150601E6:ExplicitPlannedDispensingType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
