etc/schemas/2015/06/01/E6/CalculateDosageDurationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		xmlns:medicinecard20150601E6="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">

	
	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="importsFrom20150601E6.xsd"/>

	<element name="CalculateDosageDurationResponse" type="medicinecard20150601E6:CalculateDosageDurationResponse">
		<annotation>
			<documentation xml:lang="en-GB">Request document containing information to be used for searching for patient organisation relations</documentation>
			<documentation xml:lang="da-DK">Request-dokument der indeholder information til brug i søgning efter patient organisations relationer</documentation>
		</annotation>
	</element>
	<complexType name="CalculateDosageDurationResponse">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
			<element name="DrugMedicationIdentifier" type="medicinecard20150601:DrugMedicationIdentifierType"/>
			<element name="EndDate" type="medicinecard20150601:DosageTimesEndDateType"/>

		</sequence>
	</complexType>
</schema>
