etc/schemas/2015/06/01/E6/CalculateDosageDurationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		xmlns:medicinecard20150601E6="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">

	
	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="importsFrom20150601E6.xsd"/>

	<element name="CalculateDosageDurationResponse" type="medicinecard20150601E6:CalculateDosageDurationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response document containing information about the last day a full dosage can be given</documentation>
			<documentation xml:lang="da-DK">Response-dokument der indeholder information omkring den sidste dag en fuld dosering er mulig</documentation>
		</annotation>
	</element>
	<complexType name="CalculateDosageDurationResponseType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
			<element name="DrugMedicationIdentifier" type="medicinecard20150601:DrugMedicationIdentifierType"/>
			<choice>
				<element name="EndDate" type="medicinecard20150601:DosageTimesEndDateType" minOccurs="0"/>
				<sequence>
					<element name="MinEndDate" type="medicinecard20150601:DosageTimesEndDateType"/>
					<element name="MaxEndDate" type="medicinecard20150601:DosageTimesEndDateType"/>
				</sequence>
			</choice>
			<element name="EndDateWithPN" type="medicinecard20150601:DosageTimesEndDateType" minOccurs="0"/>
			<element name="OnlyPN" type="medicinecard20150601:DosageTimesEndDateType" minOccurs="0"/>
			<element name="Information" type="medicinecard20150601E6:CalculationInformationType" maxOccurs="unbounded" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
