etc/schemas/2015/06/01/E6/CalculateRequiredDosageUnitsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		xmlns:medicinecard20150601E6="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">

	
	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="importsFrom20150601E6.xsd"/>

	<element name="CalculateRequiredDosageUnitsRequest" type="medicinecard20150601E6:CalculateRequiredDosageUnitsRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document containing information to be used for calculating the required amount of dosage units to cover the dosage in a period</documentation>
			<documentation xml:lang="da-DK">Request-dokument der indeholder information til brug i beregningen af det behøvede antal doseringsenheder til at dække en periode af doseringen</documentation>
		</annotation>
	</element>
	<complexType name="CalculateRequiredDosageUnitsRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
			<element name="DrugMedicationIdentifier" type="medicinecard20150601:DrugMedicationIdentifierType"/>
			<element name="StartDate" type="medicinecard20150601:DosageTimesStartDateType"/>
			<element name="EndDate" type="medicinecard20150601:DosageTimesEndDateType"/>
		</sequence>
	</complexType>
</schema>
