etc/schemas/2015/06/01/E6/DeleteFocesWhitelistingResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601E6="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">

    <include schemaLocation="importsFrom20150601E6.xsd"/>

	<element name="DeleteFocesWhitelistingResponse" type="medicinecard20150601E6:DeleteFocesWhitelistingResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response to deleting a foces whitelisting</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for svaret på en sletning af en foces whitelisting</documentation>
		</annotation>
	</element>
	<complexType name="DeleteFocesWhitelistingResponseType">
		<sequence>
			<element name="FocesWhitelisting" type="medicinecard20150601E6:FocesWhitelistingType"/>
		</sequence>
	</complexType>
</schema>
