etc/schemas/2015/06/01/E6/DoseDispensingCardSummary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
        xmlns:medicinecard20150601E6="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
    <include schemaLocation="importsFrom20150601E6.xsd"/>

    <element name="DoseDispensingCardSummary" type="medicinecard20150601E6:DoseDispensingCardSummaryType"/>
        <annotation>
            <documentation xml:lang="en-GB">Summary of a patients dose dispensing card</documentation>
            <documentation xml:lang="da-DK">Oversigt over en patients dosisdispenseringskort</documentation>
        </annotation>
        <complexType name="DoseDispensingCardSummaryType">
            <sequence>
                <element name="Identifier" type="medicinecard20150601E2:DoseDispensingCardIdentifierType"/>
                <element name="DoseDispensingPeriod" type="medicinecard20150601E6:DoseDispensingPeriodMinimalType" minOccurs="0" maxOccurs="3"/>
                <element name="OrderedAtPharmacy" type="medicinecard20150601:OrganisationType" minOccurs="0"/>
            </sequence>
        </complexType>
</schema>
