etc/schemas/2015/06/01/E6/DoseDispensingDispensableUnit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
        xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        xmlns:medicinecard20150601E6="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
    <import schemaLocation="importsFrom20150601E3.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"/>
    <include schemaLocation="importsFrom20150601E6.xsd"/>

    <complexType name="DoseDispensingDispensableUnitType">
        <annotation>
            <documentation xml:lang="en-GB">Detailed specification of a dose dispensing period, i.e. contents of each dispensable unit (typically a sealed plastic bag).</documentation>
            <documentation xml:lang="da-DK">Detaljeret specifikation af en dosisdispenseringsperiode, dvs. indholdet a hver enkelt "dispenserbare enhed" (typisk a forseglet plastikpose).</documentation>
        </annotation>
        <sequence>
            <element name="Date" type="medicinecard20150601E2:DoseDispensingPeriodDateType"/>
            <element name="Time" type="medicinecard20150601E6:PlannedDoseTimeType" minOccurs="0"/>

            <element name="SequenceNumber" type="medicinecard20150601E2:DispensableUnitSequenceNumberType" minOccurs="0" />

            <element name="AdministrationInstruction" type="medicinecard20150601E2:AdministrationInstructionType" minOccurs="0" maxOccurs="unbounded"/>
 
			<element name="IsAccordingToNeed" type = "medicinecard20150601E2:IsAccordingToNeedType" minOccurs="0" />

            <element name="MedicationRef" type="medicinecard20150601E2:DoseDispensedMedicationRefType" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
