etc/schemas/2015/06/01/E6/DrugMedicationEnded.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150601E6="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<simpleType name="DrugMedicationEndedType">
		<annotation>
			<documentation xml:lang="en-GB">Indicated a drugmedication has ended</documentation>
			<documentation xml:lang="da-DK">Indikere at ordinationen er udløbet</documentation>
		</annotation>
		<union memberTypes="medicinecard20150601E6:PredefinedDrugMedicationEndedType medicinecard20150601E6:UndefinedDrugMedicationEndedType"/>
	</simpleType>
	<simpleType name="PredefinedDrugMedicationEndedType">
		<restriction base="medicinecard20150601E6:UndefinedDrugMedicationEndedType">
			<enumeration value="Behandling udløbet"/>
			<enumeration value="Ordination seponeret"/>
		</restriction>
	</simpleType>
	<simpleType name="UndefinedDrugMedicationEndedType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="100"/>
		</restriction>
	</simpleType>
</schema>
