etc/schemas/2015/06/01/E6/FocesWhitelisting.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E6="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <include schemaLocation="importsFrom20150601E6.xsd"/>

    <complexType name="FocesWhitelistingType">
        <annotation>
            <documentation xml:lang="en-GB">Element for a foces whitelisting</documentation>
            <documentation xml:lang="da-DK">Element med en foces whitelisting</documentation>
        </annotation>
        <sequence>
			<element name="OrganisationIdentifier" type="medicinecard20150601:OrganisationIdentifierType"/>
        	<element name="FocesId" type="medicinecard20150601E6:FocesIdType"/>
            <element name="CertHash" type="medicinecard20150601E6:CertHashType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
