etc/schemas/2015/06/01/E6/GetDoseDispensingSummaryResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E6="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <include schemaLocation="importsFrom20150601E6.xsd"/>


    <element name="GetDoseDispensingSummaryResponse" type="medicinecard20150601E6:GetDoseDispensingSummaryResponseType"/>

    <complexType name="GetDoseDispensingSummaryResponseType">
        <annotation>
            <documentation xml:lang="en-GB">Response type with one or more summaries of a dose dispensing card</documentation>
            <documentation xml:lang="da-DK">Type for et svar med en eller flere oversigter af dosisdispenseringskort</documentation>
        </annotation>
        <sequence>
            <element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
            <element name="DoseDispensingSummary" type="medicinecard20150601E6:DoseDispensingSummaryType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
