etc/schemas/2015/06/01/E6/GetDoseDispensingSummaryRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		xmlns:medicinecard20150601E6="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>

	<element name="GetDoseDispensingSummaryRequest" type="medicinecard20150601E6:GetDoseDispensingSummaryRequestType"/>

	<complexType name="GetDoseDispensingSummaryRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for requesting dose dispensing information for a patient</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel efter dosisdispenserings informationer for en patient</documentation>
		</annotation>
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
		</sequence>
	</complexType>
</schema>
