etc/schemas/2015/06/01/E6/GetPlannedDispensingResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        xmlns:medicinecard20150601E6="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import schemaLocation="importsFrom20150601E3.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"/>
    <include schemaLocation="importsFrom20150601E6.xsd"/>

	<element name="GetPlannedDispensingResponse" type="medicinecard20150601E6:GetPlannedDispensingResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response from requesting a planned dispensing</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar på hentning af en planlagt dispensering</documentation>
		</annotation>
	</element>
	<complexType name="GetPlannedDispensingResponseType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
			<element name="PlannedDispensing" type="medicinecard20150601E6:PlannedDispensingType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
