etc/schemas/2015/06/01/E6/GetPackingOverviewDetailsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601E6="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <include schemaLocation="importsFrom20150601E6.xsd"/>

	<element name="GetPackingOverviewDetailsResponse" type="medicinecard20150601E6:GetPackingOverviewDetailsResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response to a request for a overview of packaged dose dispensing periods with patient details</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar på en søgning efter et overblik over pakkede dosisdispenserings perioder med patient detaljer</documentation>
		</annotation>
	</element>
	<complexType name="GetPackingOverviewDetailsResponseType">
		<sequence>
				<element name="PackagedPeriodOverview" type="medicinecard20150601E6:PackagedPeriodOverviewType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
