etc/schemas/2015/06/01/E6/PackagedPeriodOverview.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
        xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
		xmlns:medicinecard20150601E6="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
	<import schemaLocation="importsFrom20150601E3.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"/>
	<include schemaLocation="importsFrom20150601E6.xsd"/>

	<complexType name="PackagedPeriodOverviewType">
		<annotation>
			<documentation xml:lang="en-GB">Overview of a packaged dose dispensing period</documentation>
			<documentation xml:lang="da-DK">Overblik over en pakket dosisdispenserings periode</documentation>
		</annotation>
		<sequence>
			<element name="Patient" type="medicinecard20150601:PatientType" minOccurs="0"/>
			<element name="DoseDispensingCardIdentifier" type="medicinecard20150601E2:DoseDispensingCardIdentifierType"/>
			<element name="DoseDispensingPeriodIdentifier" type="medicinecard20150601E2:DoseDispensingPeriodIdentifierType"/>
			<element name="StartDate" type="medicinecard20150601:DoseDispensingPeriodStartDateType"/>
			<element name="EndDate" type="medicinecard20150601:DoseDispensingPeriodEndDateType"/>
			<element name="PackagedDateTime" type="medicinecard20150601E3:PackagedDateTimeType"/>
			<element name="ProductionIdentifier" type="medicinecard20150601E2:DoseDispensingProductionIdentifierType" minOccurs="0"/>
			<element name="PlannedDispensingOverview" type="medicinecard20150601E6:PlannedDispensingOverviewType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
