etc/schemas/2015/06/01/E6/PlannedDosageDay.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" 
		xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
		xmlns:medicinecard20150601E6="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
	<include schemaLocation="importsFrom20150601E6.xsd"/>

	<complexType name="PlannedDosageDayType">
		<annotation>
			<documentation xml:lang="en-GB">Group of planned dosage times for the same day</documentation>
			<documentation xml:lang="da-DK">Gruppering af planlagte doseringstidspunkter på samme dag</documentation>
		</annotation>
		<sequence>
			<element name="Number" type="medicinecard20150601:DosageDayNumberType"/>
			<element name="Dose" type="medicinecard20150601E6:PlannedDoseType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
