etc/schemas/2015/06/01/E6/SearchPlannedDispensingRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
		xmlns:medicinecard20150601E6="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
	<import schemaLocation="importsFrom20150601E3.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"/>

	<element name="SearchPlannedDispensingRequest" type="medicinecard20150601E6:SearchPlannedDispensingRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request to search for planned dispensing based on pharamacy id and drugid</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en søgning efter planlagte dispenseringer ud fra apoteksid og drugid</documentation>
		</annotation>
	</element>
	<complexType name="SearchPlannedDispensingRequestType">
		<sequence>
			<choice>
				<element name="OrderedAtPharmacyIdentifier" type="medicinecard20150601:OrganisationIdentifierType" maxOccurs="unbounded"/>
	            <element name="PackedAtOrganisationIdentifier" type="medicinecard20150601:OrganisationIdentifierType" maxOccurs="unbounded"/>
			</choice>
			<element name="DrugIdentifier" type="medicinecard20150601:DrugIdentifierType" maxOccurs="unbounded"/>
			<element name="IncludePatientDetails" type="medicinecard20150601E3:IncludePatientDetailsType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
