etc/schemas/2015/06/01/E6/UndoReplacementEntry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="importsFrom20150601E6.xsd"/>

	<complexType name="UndoReplacementEntryType">
		<annotation>
			<documentation xml:lang="en-GB">Entry containing identifiers for prescription pairs involved with a undo replace prescription result</documentation>
			<documentation xml:lang="da-DK">Element som indeholder et sæt identifiers for recepter som var involveret i et fortryd erstat recept kald</documentation>
		</annotation>
		<sequence>
			<element name="ClosedPrescriptionIdentifier" type="medicinecard20150601:PrescriptionIdentifierType"/>
			<element name="ReopenedPrescriptionIdentifier" type="medicinecard20150601:PrescriptionIdentifierType"/>
		</sequence>
	</complexType>
</schema>
