etc/schemas/2015/06/01/E6/UndoReplacePrescriptionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		xmlns:medicinecard20150601E6="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E6"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="importsFrom20150601E6.xsd"/>

	<element name="UndoReplacePrescriptionRequest" type="medicinecard20150601E6:UndoReplacePrescriptionRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document containing one or more elements for reverting the replacement of prescriptions</documentation>
			<documentation xml:lang="da-DK">Request-dokument der indeholder en eller flere elementer til at fortryde erstatningen af recepter</documentation>
		</annotation>
	</element>
	<complexType name="UndoReplacePrescriptionRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
			<element name="ModifiedBy" type="medicinecard20150601:ModificatorType"/>
			<element name="Prescription" type="medicinecard20150601:PrescriptionIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
