etc/schemas/2015/01/01/E5/CalculateRequiredDosageUnitsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
		xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
		xmlns:medicinecard20150101E5="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">

	
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"/>
	<include schemaLocation="importsFrom20150101E5.xsd"/>

	<element name="CalculateRequiredDosageUnitsResponse" type="medicinecard20150101E5:CalculateRequiredDosageUnitsResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response document containing information about the required dosage units to cover a dosage in a period</documentation>
			<documentation xml:lang="da-DK">Response-dokument der indeholder information omkring antallet af nødvendige doseringsenheder til at dække doseringen i en periode</documentation>
		</annotation>
	</element>
	<complexType name="CalculateRequiredDosageUnitsResponseType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150101E2:PersonIdentifierType"/>
			<element name="DrugMedicationIdentifier" type="medicinecard20150101:DrugMedicationIdentifierType"/>
			<element name="DosageUnits" type="medicinecard20150101:DoseQuantityType"/>
		</sequence>
	</complexType>
</schema>
