etc/schemas/2015/01/01/E5/CalculateDosageDurationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
		xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
		xmlns:medicinecard20150101E5="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">

	
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"/>
	<include schemaLocation="importsFrom20150101E5.xsd"/>

	<element name="CalculateDosageDurationResponse" type="medicinecard20150101E5:CalculateDosageDurationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response document containing information about the last day a full dosage can be given</documentation>
			<documentation xml:lang="da-DK">Response-dokument der indeholder information omkring den sidste dag en fuld dosering er mulig</documentation>
		</annotation>
	</element>
	<complexType name="CalculateDosageDurationResponseType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150101E2:PersonIdentifierType"/>
			<element name="DrugMedicationIdentifier" type="medicinecard20150101:DrugMedicationIdentifierType"/>
			<choice>
				<element name="EndDate" type="medicinecard20150101:DosageTimesEndDateType" minOccurs="0"/>
				<sequence>
					<element name="MinEndDate" type="medicinecard20150101:DosageTimesEndDateType"/>
					<element name="MaxEndDate" type="medicinecard20150101:DosageTimesEndDateType"/>
				</sequence>
			</choice>
			<element name="EndDateWithPN" type="medicinecard20150101:DosageTimesEndDateType" minOccurs="0"/>
			<element name="OnlyPN" type="medicinecard20150101:DosageTimesEndDateType" minOccurs="0"/>
			<element name="Information" type="medicinecard20150101E5:CalculationInformationType" maxOccurs="unbounded" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
