etc/schemas/2015/01/01/E5/CalculateRequiredDosageUnitsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
		xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
		xmlns:medicinecard20150101E5="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">

	
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"/>
	<include schemaLocation="importsFrom20150101E5.xsd"/>

	<element name="CalculateRequiredDosageUnitsRequest" type="medicinecard20150101E5:CalculateRequiredDosageUnitsRequest">
		<annotation>
			<documentation xml:lang="en-GB">Request document containing information to be used for searching for patient organisation relations</documentation>
			<documentation xml:lang="da-DK">Request-dokument der indeholder information til brug i søgning efter patient organisations relationer</documentation>
		</annotation>
	</element>
	<complexType name="CalculateRequiredDosageUnitsRequest">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150101E2:PersonIdentifierType"/>
			<element name="DrugMedicationIdentifier" type="medicinecard20150101:DrugMedicationIdentifierType"/>
			<element name="StartDate" type="medicinecard20150101:DosageTimesStartDateType"/>
			<element name="EndDate" type="medicinecard20150101:DosageTimesEndDateType"/>
		</sequence>
	</complexType>
</schema>
