etc/schemas/2015/01/01/E5/CalculateDosageDurationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
		xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
		xmlns:medicinecard20150101E5="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">

	
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"/>
	<include schemaLocation="importsFrom20150101E5.xsd"/>

	<element name="CalculateDosageDurationRequest" type="medicinecard20150101E5:CalculateDosageDurationRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document containing information to be used for determining how many days an amount of dosage units can cover of the dosage</documentation>
			<documentation xml:lang="da-DK">Request-dokument der indeholder information til brug i beregningen af hvor mange dage et antal doseringsenheder kan dække af doseringen</documentation>
		</annotation>
	</element>
	<complexType name="CalculateDosageDurationRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150101E2:PersonIdentifierType"/>
			<element name="DrugMedicationIdentifier" type="medicinecard20150101:DrugMedicationIdentifierType"/>
			<element name="StartDate" type="medicinecard20150101:DosageTimesStartDateType"/>
			<element name="DosageUnits" type="medicinecard20150101:DoseQuantityType"/>
		</sequence>
	</complexType>
</schema>
