etc/schemas/2015/01/01/E5/CreateOrderResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
		xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
		xmlns:medicinecard20150101E5="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">

	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"/>
	<include schemaLocation="importsFrom20150101E5.xsd"/>

	<element name="CreateOrderResponse" type="medicinecard20150101E5:CreateOrderResponseType"/>

	<complexType name="CreateOrderResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response for creating orders on prescriptions</documentation>
			<documentation xml:lang="da-DK">Svar på oprettelse bestillinger på recepter </documentation>
		</annotation>
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="medicinecard20150101E2:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="medicinecard20150101:OrganisationIdentifierType"/>
			</choice>
			<element name="Order" type="medicinecard20150101E5:CreatedOrderType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
