etc/schemas/2015/01/01/E5/DoctorWithDoseDispensingPatients.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
        xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
        xmlns:medicinecard20150101E5="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"

        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
    <import schemaLocation="importsFrom20150101E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"/>
    <include schemaLocation="importsFrom20150101E5.xsd"/>

    <complexType name="DoctorWithDoseDispensingPatientsType">
        <annotation>
            <documentation xml:lang="en-GB">Element containing information about dosedispensing patients associated with a doctor organisation</documentation>
            <documentation xml:lang="da-DK">Element som indeholder informationer om DD patienter der har et givet lægehus som 'egen læge'</documentation>
        </annotation>
        <sequence>
            <element name="Identifier" type="medicinecard20150101:OrganisationIdentifierType"/>
            <choice>
                <element name="Patient" type="medicinecard20150101E2:PatientType" minOccurs="0" maxOccurs="unbounded"/>
                <element name="PersonIdentifier" type="medicinecard20150101E2:PersonIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
            </choice>
        </sequence>
    </complexType>
</schema>
