etc/schemas/2015/01/01/E5/GetExplicitDoseDispensingCardResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
        xmlns:medicinecard20150101E5="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150101E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"/>
    <include schemaLocation="importsFrom20150101E5.xsd"/>

    <element name="GetExplicitDoseDispensingCardResponse" type="medicinecard20150101E5:GetExplicitDoseDispensingCardResponseType"/>

    <complexType name="GetExplicitDoseDispensingCardResponseType">
        <annotation>
            <documentation xml:lang="en-GB">Response type with one or more explicit dose dispensing cards for a specific person</documentation>
            <documentation xml:lang="da-DK">Type for et svar med en eller flere eksplisitte dosisdispenseringskort for en given person</documentation>
        </annotation>
        <sequence>
            <element name="Patient" type="medicinecard20150101E2:PatientType"/>
            <element name="RequestDateTime" type="medicinecard20150101E2:RequestDateTimeType"/>
            <element name="DoseDispensingOnHold" type="medicinecard20150101E2:DoseDispensingOnHoldType" minOccurs="0"/>
            <element name="DoseDispensingCard" type="medicinecard20150101E5:ExplicitDoseDispensingCardType" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
