etc/schemas/2015/01/01/E5/GetMedicineCardVersionListResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150101E5="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">
	<include schemaLocation="MedicineCardVersionListItem.xsd"/>
	<element name="GetMedicineCardVersionListResponse" type="medicinecard20150101E5:GetMedicineCardVersionListResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response for a medicinecards versions</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar på en forespørgsel efter et medicinkorts versions</documentation>
		</annotation>
	</element>
	<complexType name="GetMedicineCardVersionListResponseType">
		<sequence>
			<element name="MedicineCardVersionListItem" type="medicinecard20150101E5:MedicineCardVersionListItemType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

</schema>
