etc/schemas/2015/01/01/E5/GetOrganisationPrescriptionRequestsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
		xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
		xmlns:medicinecard20150101E5="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"/>
	<include schemaLocation="importsFrom20150101E5.xsd"/>

	<element name="GetOrganisationPrescriptionRequestsResponse" type="medicinecard20150101E5:GetOrganisationPrescriptionRequestsResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response to prescription requests request</documentation>
			<documentation xml:lang="da-DK">Svar på forespørgsel efter receptbestillinger</documentation>
		</annotation>
	</element>

	<complexType name="GetOrganisationPrescriptionRequestsResponseType">
		<sequence>
			<element name="Patient" type="medicinecard20150101E2:SearchPrescriptionRequestsPatientType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="PageNumber" type="medicinecard20150101E2:PageNumberType" minOccurs="0"/>
			<element name="MoreAvailable" type="medicinecard20150101:MoreAvailableType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
