etc/schemas/2015/01/01/E5/GetOrdersRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
		xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
		xmlns:medicinecard20150101E5="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">

	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"/>
	<include schemaLocation="importsFrom20150101E5.xsd"/>
	<element name="GetOrdersRequest" type="medicinecard20150101E5:GetOrdersRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a request for a list of ordered effectuations for a patient</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel efter en list af bestillinger for en patient</documentation>
		</annotation>
	</element>
	<complexType name="GetOrdersRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150101E2:PersonIdentifierType"/>
			<choice>
				<element name="Identifier" type="medicinecard20150101:OrderedEffectuationIdentifierType" minOccurs="1" maxOccurs="unbounded"/>
				<element name="CreatedSince" type="medicinecard20150101:OrderedDateTimeType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
