etc/schemas/2015/01/01/E5/GetPatientOrganisationRelationsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
		xmlns:medicinecard20150101E5="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">

	
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<include schemaLocation="importsFrom20150101E5.xsd"/>
	<element name="GetPatientOrganisationRelationsResponse" type="medicinecard20150101E5:GetPatientOrganisationRelationsResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Request document containing one or more documents for creating prescription medications for use in practice</documentation>
			<documentation xml:lang="da-DK">Request-dokument der indeholder en eller flere dokumenter til at oprette receptordinationer til brug i praksis</documentation>
		</annotation>
	</element>
	<complexType name="GetPatientOrganisationRelationsResponseType">
		<sequence>
			<element name="SubOrganisationsIncluded" type="medicinecard20150101E5:SubOrganisationsIncludedType"/>
			<element name="RelationIdentifier" type="medicinecard20150101:PatientOrganisationRelationIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MoreAvailable" type="medicinecard20150101:MoreAvailableType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
