etc/schemas/2015/01/01/E5/GetPrescriptionRequestsAndDetailsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
		xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
		xmlns:medicinecard20150101E5="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"/>
	<include schemaLocation="importsFrom20150101E5.xsd"/>

	<element name="GetPrescriptionRequestsAndDetailsResponse" type="medicinecard20150101E5:GetPrescriptionRequestsAndDetailsResponseType">
		<annotation>
			<documentation xml:lang="en-GB">An element containing the information on a list of patients which has active prescription requests</documentation>
			<documentation xml:lang="da-DK">Et element indeholdende informationer på en liste af patienter som har aktive recept anmodninger</documentation>
		</annotation>
	</element>

	<complexType name="GetPrescriptionRequestsAndDetailsResponseType">
		<sequence>
			<element name="PersonWithPrescriptionRequest" type="medicinecard20150101E5:PersonWithPrescriptionRequestType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="LastReceived" type="medicinecard20150101E2:PrescriptionRequestIdentifierType" minOccurs="0"/>
			<element name="MoreAvailable" type="medicinecard20150101E5:MoreAvailableType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
