etc/schemas/2015/01/01/E5/ListDoseDispensingPatientsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150101E5="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">

	
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"/>
	<include schemaLocation="importsFrom20150101E5.xsd"/>

	<element name="ListDoseDispensingPatientsResponse" type="medicinecard20150101E5:ListDoseDispensingPatientsResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response document containing information about dosedispensing patients asociated with doctor organisations</documentation>
			<documentation xml:lang="da-DK">Response-dokument der indeholder information om DD patienter tilknyttet lægehuse</documentation>
		</annotation>
	</element>
	<complexType name="ListDoseDispensingPatientsResponseType">
		<sequence>
			<element name="Organisation" type="medicinecard20150101E5:DoctorWithDoseDispensingPatientsType" maxOccurs="unbounded" minOccurs="1"/>
		</sequence>
	</complexType>
</schema>
