etc/schemas/2015/01/01/E5/OrderCancellation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
		xmlns:medicinecard20150101E5="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<include schemaLocation="importsFrom20150101E5.xsd"/>

	<complexType name="OrderCancellationType">
        <annotation>
            <documentation xml:lang="en-GB">Order and Prescription Identifiers</documentation>
            <documentation xml:lang="da-DK">Bestilling og Recept Id'er</documentation>
        </annotation>
		<sequence>
			<element name="PrescriptionMedicationIdentifier" type="medicinecard20150101:PrescriptionMedicationIdentifierType"/>
			<element name="OrderIdentifier" type="medicinecard20150101:OrderedEffectuationIdentifierType"/>
		</sequence>
	</complexType>
</schema>
