etc/schemas/2015/01/01/E5/Order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
		xmlns:medicinecard20150101E5="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<include schemaLocation="importsFrom20150101E5.xsd"/>

	<complexType name="OrderType">
        <annotation>
            <documentation xml:lang="en-GB">Order of an effectuation on a prescription</documentation>
            <documentation xml:lang="da-DK">Bestilling af en udlevering på en recept</documentation>
        </annotation>
		<sequence>
			<element name="Identifier" type="medicinecard20150101:OrderedEffectuationIdentifierType"/>
			<element name="EffectuatingOrganisation" type="medicinecard20150101:OrganisationType"/>
			<element name="Status" type="medicinecard20150101E5:OrderStatusType"/>
			<element name="DeliveryInformation" type="medicinecard20150101:DeliveryInformationType" minOccurs="0" maxOccurs="3"/>
			<element name="Delivery" type="medicinecard20150101:DeliveryType" minOccurs="0"/>
			<element name="Effectuation" type="medicinecard20150101:EffectuationIdentifierType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
