etc/schemas/2015/01/01/E5/OrderingOrganisation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
		xmlns:medicinecard20150101E5="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">

	
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<include schemaLocation="importsFrom20150101E5.xsd"/>
	<element name="OrderingOrganisation" type="medicinecard20150101E5:OrderingOrganisationType">
		<annotation>
			<documentation xml:lang="en-GB">Request document containing one or more documents for creating prescription medications for use in practice</documentation>
			<documentation xml:lang="da-DK">Request-dokument der indeholder en eller flere dokumenter til at oprette receptordinationer til brug i praksis</documentation>
		</annotation>
	</element>
	<complexType name="OrderingOrganisationType">
		<sequence>
			<element name="Type" type="medicinecard20150101:OrganisationTypeType"/>
			<element name="Identifier" type="medicinecard20150101:OrganisationIdentifierType"/>
		</sequence>
	</complexType>
</schema>
