etc/schemas/2015/01/01/E5/PrescriptionRequestWithOrganisationDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" 
		xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" 
		xmlns:medicinecard20150101E5="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5" 
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"/>
	<include schemaLocation="importsFrom20150101E5.xsd"/>
	<element name="PrescriptionRequestWithOrganisationDetails" type="medicinecard20150101E5:PrescriptionRequestWithOrganisationDetailsType">
		<annotation>
			<documentation xml:lang="en-GB">Details on an active prescription request and which organisation it was requested at</documentation>
			<documentation xml:lang="da-DK">Detaljer omkring en aktive receptanmodning, og hvilken organisation den er anmodet hos</documentation>
		</annotation>
	</element>
	<complexType name="PrescriptionRequestWithOrganisationDetailsType">
		<sequence>
			<element name="PrescriptionRequestIdentifier" type="medicinecard20150101E2:PrescriptionRequestIdentifierType" />
			<element name="OrganisationIdentifier" type="medicinecard20150101:OrganisationIdentifierType"/>
			<element name="CreatedDateTime" type="medicinecard20150101:CreatedDateTimeType"/>
		</sequence>
	</complexType>
</schema>
