etc/schemas/2015/01/01/E5/RelationEntry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
        xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
        xmlns:medicinecard20150101E5="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"

        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
    <import schemaLocation="importsFrom20150101E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"/>
    <include schemaLocation="importsFrom20150101E5.xsd"/>

    <complexType name="RelationEntryType">
        <annotation>
            <documentation xml:lang="en-GB">Element containing information on a prescribing organisation for a specific prescription</documentation>
            <documentation xml:lang="da-DK">Element som indeholder informationer omkring en receptfornyende organisation for en recept</documentation>
        </annotation>
        <sequence>
            <element name="PersonIdentifier" type="medicinecard20150101E2:PersonIdentifierType"/>
            <element name="RelationIdentifier" type="medicinecard20150101:PatientOrganisationRelationIdentifierType"/>
            <element name="OrganisationIdentifier" type="medicinecard20150101:OrganisationIdentifierType"/>
        </sequence>
    </complexType>
</schema>
