etc/schemas/2015/01/01/E5/RenewalReason.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150101E5="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<simpleType name="RenewalReasonType">
		<annotation>
			<documentation xml:lang="en-GB">Indicated a reason a doctor was picked for prescription renewal</documentation>
			<documentation xml:lang="da-DK">Indikere en grund til hvorfor en læge var valgt til receptudstedelse</documentation>
		</annotation>
		<union memberTypes="medicinecard20150101E5:PredefinedRenewalReasonType medicinecard20150101E5:UndefinedRenewalReasonType"/>
	</simpleType>
	<simpleType name="PredefinedRenewalReasonType">
		<restriction base="medicinecard20150101E5:UndefinedRenewalReasonType">
			<enumeration value="Recept udsteder"/>
			<enumeration value="Egen læge"/>
		</restriction>
	</simpleType>
	<simpleType name="UndefinedRenewalReasonType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="100"/>
		</restriction>
	</simpleType>
</schema>
