etc/schemas/2015/01/01/E5/SearchOrdersRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150101E5="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">

	<include schemaLocation="importsFrom20150101E5.xsd"/>
	<element name="SearchOrdersRequest" type="medicinecard20150101E5:SearchOrdersRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document containing a documents for searching for orders by a given organisation</documentation>
			<documentation xml:lang="da-DK">Request-dokument et dokumenter til at søge efter bestillinger lavet af en given organisation</documentation>
		</annotation>
	</element>
	<complexType name="SearchOrdersRequestType">
		<sequence>
			<element name="OrderingOrganisation" type="medicinecard20150101E5:OrderingOrganisationType"/>
			<element name="IncludeOrders" type="medicinecard20150101E5:IncludeOrdersType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
