etc/schemas/2015/01/01/E5/SearchOrdersResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150101E5="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">

	<include schemaLocation="importsFrom20150101E5.xsd"/>
	<element name="SearchOrdersResponse" type="medicinecard20150101E5:SearchOrdersResponseType">
		<annotation>
			<documentation xml:lang="en-GB">A response from a request searching for ordered effectuations for a given organisation</documentation>
			<documentation xml:lang="da-DK">Svar fra en forespørgsel som søger efter bestillinger lavet af en bestemt organisation</documentation>
		</annotation>
	</element>
	<complexType name="SearchOrdersResponseType">
		<sequence>
			<element name="Patient" type="medicinecard20150101E5:PatientWithOrdersType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
