etc/schemas/2009/01/01/DKMA_ReviewedMedicineCardStructure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20090101="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" xmlns:medicinecard20080601="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DKMA_OrganisationStructure.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../../../2008/06/01/DKMA_DoctorStructure.xsd"/>
	<element name="ReviewedMedicineCardStructure" type="medicinecard20090101:ReviewedMedicineCardStructureType">
		<annotation>
			<documentation xml:lang="en-GB">Information about who Reviewed the medicine card, at admission to hospital, including a timestamp when this occurred</documentation>
			<documentation xml:lang="da-DK">Information hvem der evaluerede medicinkortet, ved indlæggelse på sygehus, inklusiv tidspunktet</documentation>
		</annotation>
	</element>
	<complexType name="ReviewedMedicineCardStructureType">
		<sequence>
			<element ref="medicinecard20090101:OrganisationStructure"/>
			<element ref="medicinecard20080601:DoctorStructure" minOccurs="0"/>
			<element name="ReviewedDateTime" type="dateTime"/>
		</sequence>
	</complexType>
</schema>
