etc/schemas/2009/01/01/DKMA_ModifiedStructure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20090101="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" xmlns:medicinecard20080601="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" xmlns:cpr="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DKMA_OrganisationStructure.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../../../2008/06/01/DKMA_DoctorStructure.xsd"/>
	<element name="ModifiedStructure" type="medicinecard20090101:ModifiedStructureType">
		<annotation>
			<documentation xml:lang="en-GB">Element containing information about which organisation and possibly doctor who last modified the document this element is in (e.g. medicine card, drug prescription) as well as the date it ocurred.</documentation>
			<documentation xml:lang="da-DK">Element der indeholder information omkring hvilken organisation og muligvis læge som sidst har ændret dokumentet elementet befinder sig i (f.eks. medicnkort, lægemiddelordination), desuden datoen dette er sket.</documentation>
		</annotation>
	</element>
	<complexType name="ModifiedStructureType">
		<sequence>
			<element ref="medicinecard20090101:OrganisationStructure"/>
			<element ref="medicinecard20080601:DoctorStructure" minOccurs="0"/>
			<element name="ModifiedDateTime" type="dateTime"/>
		</sequence>
	</complexType>
</schema>
