etc/schemas/2009/01/01/DKMA_PrescriptionMedicationOverviewStructure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20090101="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" xmlns:medicinecard20080601="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../../../2008/06/01/DKMA_PrescriptionMedicationIdentifier.xsd"/>
	<include schemaLocation="DKMA_CreatedStructure.xsd"/>
	<include schemaLocation="DKMA_IndicationStructure.xsd"/>
	<include schemaLocation="DKMA_PriceListVersionDate.xsd"/>
	<include schemaLocation="DKMA_PriceListVersionWeek.xsd"/>	
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../../../2008/06/01/DKMA_DoctorStructure.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../../../2008/06/01/DKMA_PrescriptionMedicationTypeIdentifier.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../../../2008/06/01/DKMA_RouteOfAdministrationStructure.xsd"/>
	<include schemaLocation="DKMA_DrugStructure.xsd"/>
	<element name="PrescriptionMedicationOverviewStructure" type="medicinecard20090101:PrescriptionMedicationOverviewStructureType">
		<annotation>
			<documentation xml:lang="en-GB">An overview of the prescription medication (a medication on a prescription)</documentation>
			<documentation xml:lang="da-DK">En oversigt over en receptordination (en ordination på en recept)</documentation>
		</annotation>
	</element>
	<complexType name="PrescriptionMedicationOverviewStructureType">
		<sequence>
			<element ref="medicinecard20080601:PrescriptionMedicationIdentifier"/>
			<element ref="medicinecard20090101:CreatedStructure"/>
			<choice>
				<element ref="medicinecard20090101:PriceListVersionDate"/>
				<element ref="medicinecard20090101:PriceListVersionWeek"/>
			</choice>
			<element name="CreatedLocalDateTime" type="dateTime" minOccurs="0"/>
			<element name="LatestEffectuationDateTime" type="dateTime" minOccurs="0"/>
			<element name="TerminatedDateTime" type="dateTime" minOccurs="0"/>
			<element ref="medicinecard20090101:IndicationStructure" minOccurs="0"/>
			<element ref="medicinecard20080601:RouteOfAdministrationStructure" minOccurs="0"/>
			<element ref="medicinecard20080601:PrescriptionMedicationTypeIdentifier"/>
			<element ref="medicinecard20090101:DrugStructure"/>
		</sequence>
	</complexType>
</schema>
