etc/schemas/2009/01/01/DKMA_SingleDispensingStructure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20090101="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" xmlns:medicinecard20080601="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../../../2008/06/01/DKMA_PackageNumberIdentifier.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../../../2008/06/01/DKMA_PackageSizeText.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../../../2008/06/01/DKMA_PackageQuantity.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../../../2008/06/01/DKMA_DosageText.xsd"/>
	<element name="SingleDispensingStructure" type="medicinecard20090101:SingleDispensingStructureType">
		<annotation>
			<documentation xml:lang="en-GB">Information dispensing the package once</documentation>
			<documentation xml:lang="da-DK">Information til en enkelt udlevering</documentation>
		</annotation>
	</element>
	<complexType name="SingleDispensingStructureType">
		<sequence>
			<element ref="medicinecard20080601:PackageNumberIdentifier"/>
			<element name="FreeTradePackageSizeText" type="medicinecard20080601:PackageSizeTextType" minOccurs="0"/>
			<element ref="medicinecard20080601:PackageQuantity"/>
			<element ref="medicinecard20080601:DosageText"/>
		</sequence>
	</complexType>
</schema>
