etc/schemas/2009/01/01/DKMA_TimingStructure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20090101="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DKMA_SystemName.xsd"/>
	<include schemaLocation="DKMA_ServiceName.xsd"/>
	<element name="TimingStructure" type="medicinecard20090101:TimingStructureType">
		<annotation>
			<documentation xml:lang="en-GB">Structure to keep track of the time consumed between request and response for a web service call</documentation>
			<documentation xml:lang="da-DK">En structur til at spore tidsforbruget mellem request og response på et webservice-kald</documentation>
		</annotation>
	</element>
	<complexType name="TimingStructureType">
		<sequence>
			<element ref="medicinecard20090101:SystemName"/>
			<element ref="medicinecard20090101:ServiceName"/>
			<element name="TimeInMilliseconds" type="int"/>
		</sequence>
	</complexType>
</schema>
