etc/schemas/2009/01/01/DKMA_MedicineCardRequestStructure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20090101="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" xmlns:medicinecard20080601="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" xmlns:cpr="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../../../2008/06/01/DKMA_MedicineCardVersionIdentifier.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" schemaLocation="../../../2008/06/01/DKMA_IncludeNonReviewedOnly.xsd"/>
	<import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" schemaLocation="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/CPR_PersonCivilRegistrationIdentifier.xsd"/>
	<include schemaLocation="DKMA_NegativeConsentRequest.xsd"/>
	<element name="MedicineCardRequestStructure" type="medicinecard20090101:MedicineCardRequestStructureType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a request for a medicinecard</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel efter et medicinkort</documentation>
		</annotation>
	</element>
	<complexType name="MedicineCardRequestStructureType">
		<sequence>
			<element ref="cpr:PersonCivilRegistrationIdentifier"/>
			<element ref="medicinecard20080601:MedicineCardVersionIdentifier" minOccurs="0" maxOccurs="unbounded"/>
			<element name="DateTime" type="dateTime" minOccurs="0" maxOccurs="unbounded"/>
			<element ref="medicinecard20090101:NegativeConsentRequest" minOccurs="0"/>
			<element ref="medicinecard20080601:IncludeNonReviewedOnly"/>
		</sequence>
	</complexType>
</schema>
