etc/schemas/idws/v2.0/liberty-idwsf-security-mechanisms-v2.0-original.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema targetNamespace="urn:liberty:security:2006-08"
           xmlns:xenc="http://www.w3.org/2001/04/xmlenc#"
           xmlns:saml2="urn:oasis:names:tc:SAML:2.0:assertion"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:sec="urn:liberty:security:2006-08" 
           xmlns:ds="http://www.w3.org/2000/09/xmldsig#" 
           xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
           xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
    <xs:import namespace="urn:oasis:names:tc:SAML:2.0:assertion"
               schemaLocation="saml-schema-assertion-2.0.xsd"/>
    <xs:import namespace="http://www.w3.org/2001/04/xmlenc#" 
               schemaLocation="http://www.w3.org/TR/2002/REC-xmlenc-core-20021210/xenc-schema.xsd"/>
    <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" 
               schemaLocation="http://www.w3.org/TR/2002/REC-xmldsig-core-20020212/xmldsig-core-schema.xsd"/>
    <xs:import
namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
               schemaLocation="wss-secext-1.0.xsd"/>

    <xs:import
       namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
       schemaLocation="wss-util-1.0.xsd"/> 

    <xs:annotation>
        <xs:documentation>Liberty ID-WSF Security Mechanisms Specification XSD</xs:documentation>
        <xs:documentation>
The source code in this XSD file was excerpted verbatim from:

Liberty ID-WSF Security Mechanisms Specification
Version 2.0
30 July, 2006

            Copyright (c) 2006 Liberty Alliance participants, see
            http://www.projectliberty.org/specs/idwsf_2_0_final_copyrights.php

        </xs:documentation>
    </xs:annotation>

<xs:complexType name="TokenPolicyType">
  <xs:sequence>
    <xs:any namespace="##any" processContents="lax" minOccurs="0"/>
  </xs:sequence>
  <xs:attribute name="validUntil" type="xs:dateTime" use="optional"/>
  <xs:attribute name="issueTo" type="xs:anyURI" use="optional"/>
  <xs:attribute name="type" type="xs:anyURI" use="optional"/>
  <xs:attribute name="wantDSEPR" type="xs:boolean" use="optional" />
  <xs:anyAttribute namespace="##other" processContents="lax" />
</xs:complexType>

<xs:element name="TokenPolicy" type="sec:TokenPolicyType"/>

<xs:complexType name="TransitedProviderType">
  <xs:simpleContent>
    <xs:extension base="xs:anyURI">
      <xs:attribute name="timeStamp" type="xs:dateTime"
                   use="optional" />
      <xs:attribute name="confirmationURI" type="xs:anyURI"
                   use="optional" />
    </xs:extension>
  </xs:simpleContent>
</xs:complexType>

<xs:element name="TransitedProvider" type="sec:TransitedProviderType" />

<xs:complexType name="TransitedProviderPathType">
  <xs:sequence>
      <xs:element ref="sec:TransitedProvider" minOccurs="1"
                  maxOccurs="unbounded" />
  </xs:sequence>
</xs:complexType>

<xs:element name="TransitedProviderPath" type="sec:TransitedProviderPathType"/>
<!--
TokenType can refer to an external token using the ref attribute (no
element content) or contain a Web Services Security token, or a WSS
Security Token Reference (STR) element 
-->

<xs:complexType name="TokenType">
  <xs:sequence>
    <xs:any namespace="##any" processContents="lax" 
            minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
  <xs:attribute name="id" type="xs:ID" use="optional" />
  <xs:attribute name="ref" type="xs:anyURI" use="optional" />
  <xs:attribute name="usage" type="xs:anyURI" use="optional" />
</xs:complexType>

<xs:element name="Token" type="sec:TokenType" />

</xs:schema>
