etc/schemas/idws/v2.0/liberty-paos-v2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:liberty:paos:2006-08" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:S="http://schemas.xmlsoap.org/soap/envelope/" 
    xmlns="urn:liberty:paos:2006-08" 
    elementFormDefault="qualified" 
    attributeFormDefault="unqualified">
  <xs:annotation>
    <xs:documentation>

The source code in this XSD file was excerpted verbatim from:

Liberty Reverse HTTP Binding
Version 2.0
30 July, 2006

Copyright (c) 2006 Liberty Alliance participants, see
https://www.projectliberty.org/specs/idwsf_2_0_final_copyrights.html

        </xs:documentation>
  </xs:annotation>

  <xs:import namespace="http://schemas.xmlsoap.org/soap/envelope/" 
    schemaLocation="http://schemas.xmlsoap.org/soap/envelope/"/>
  <xs:include schemaLocation="liberty-utility-v2.0.xsd"/>
  <xs:element name="Request" type="RequestType"/>
  <xs:complexType name="RequestType">
    <xs:attribute name="responseConsumerURL" type="xs:anyURI" use="required"/>
    <xs:attribute name="service" type="xs:anyURI" use="required"/>
    <xs:attribute name="messageID" type="IDType" use="optional"/>
    <xs:attribute ref="S:mustUnderstand" use="required"/>
    <xs:attribute ref="S:actor" use="required"/>
  </xs:complexType>
  <xs:element name="Response" type="ResponseType"/>
  <xs:complexType name="ResponseType">
    <xs:attribute name="refToMessageID" type="IDType" use="optional"/>
    <xs:attribute ref="S:mustUnderstand" use="required"/>
    <xs:attribute ref="S:actor" use="required"/>
  </xs:complexType>
</xs:schema>
