etc/schemas/idws/v2.0/liberty-idwsf-soap-binding-v2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:liberty:sb:2006-08" 
    xmlns:samlp="urn:oasis:names:tc:SAML:2.0:protocol"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
    xmlns:wsa="http://www.w3.org/2005/08/addressing"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:lu="urn:liberty:util:2006-08"
    xmlns="urn:liberty:sb:2006-08" 
    elementFormDefault="qualified" 
    attributeFormDefault="unqualified">
    
    <xs:import 
        namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
        schemaLocation="wss-util-1.0.xsd"/>

    <xs:import 
        namespace="urn:oasis:names:tc:SAML:2.0:protocol" 
        schemaLocation="saml-schema-protocol-2.0.xsd"/>

    <xs:import 
        namespace="http://www.w3.org/2005/08/addressing" 
        schemaLocation="ws-addr-1.0.xsd"/>
    
    <xs:import
        namespace="urn:liberty:util:2006-08"
        schemaLocation="liberty-idwsf-utility-v2.0.xsd"/>
    
    <xs:annotation>
        <xs:documentation> 
The source code in this schema file was excerpted verbatim from:

Liberty ID-WSF SOAP Binding Specification
Version 2.0 errata 1.0
21 April, 2007
            
Copyright (c) 2007 Liberty Alliance participants, see
http://projectliberty.org/resource_center/specifications/liberty_alliance_id_wsf_2_0_specifications/idwsf_feb_copyrights

        </xs:documentation> 
    </xs:annotation>
 
    <!-- sender header block -->

    <xs:complexType name="SenderType">
        <xs:attribute name="providerID" type="xs:anyURI" use="required"/>
        <xs:attribute name="affiliationID" type="xs:anyURI" use="optional"/>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
     </xs:complexType>

     <xs:element name="Sender" type="SenderType"/>

 
    <!-- target identity header block -->

    <xs:complexType name="TargetIdentityType">
        <xs:sequence>
          <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
   
    <xs:element name="TargetIdentity" type="TargetIdentityType"/>

 
    <!-- credentials context header block -->

    <xs:complexType name="CredentialsContextType">
        <xs:sequence>
            <xs:element ref="samlp:RequestedAuthnContext" minOccurs="0"/>
            <xs:element name="SecurityMechID" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>

    <xs:element name="CredentialsContext" type="CredentialsContextType"/>

 
    <!-- epr update header block -->

    <xs:complexType name="EndpointUpdateType">
        <xs:complexContent>
            <xs:extension base="wsa:EndpointReferenceType">
                <xs:attribute name="updateType" type="xs:anyURI" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
   
    <xs:element name="EndpointUpdate" type="EndpointUpdateType"/>

 
    <!-- timeout header block -->

    <xs:complexType name="TimeoutType">
        <xs:attribute name="maxProcessingTime" type="xs:integer" use="required"/>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
   
    <xs:element name="Timeout" type="TimeoutType"/>

 
  <!-- processing context header block -->

  <xs:complexType name="ProcessingContextType">
    <xs:simpleContent>
      <xs:extension base="xs:anyURI">
        <xs:anyAttribute namespace="##other" processContents="lax"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="ProcessingContext" type="ProcessingContextType"/>
 
  <!-- consent header block -->

  <xs:complexType name="ConsentType">
    <xs:attribute name="uri" type="xs:anyURI" use="required"/>
    <xs:attribute name="timestamp" type="xs:dateTime" use="optional"/>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>

  <xs:element name="Consent" type="ConsentType"/>
 
  <!-- usage directive header block -->

  <xs:complexType name="UsageDirectiveType">
    <xs:sequence>
      <xs:any namespace="##other" processContents="lax" 
        maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="ref" type="xs:IDREF" use="required"/>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>

  <xs:element name="UsageDirective" type="UsageDirectiveType"/>
 
    <!-- application epr header block -->

    <xs:element name="ApplicationEPR" type="wsa:EndpointReferenceType"/>

  <!-- user interaction header block -->

  <xs:complexType name="UserInteractionHeaderType">
      <xs:sequence>
          <xs:element name="InteractionService" type="wsa:EndpointReferenceType" 
              minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="interact" type="xs:string" use="optional" default="InteractIfNeeded"/>
      <xs:attribute name="language" type="xs:NMTOKENS" use="optional"/>
      <xs:attribute name="redirect" type="xs:boolean" use="optional" default="0"/>
      <xs:attribute name="maxInteractTime" type="xs:integer" use="optional"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>

  <xs:element name="UserInteraction" type="UserInteractionHeaderType"/>
   <xs:element name="RedirectRequest" type="RedirectRequestType"/> 
   <xs:complexType name="RedirectRequestType">
      <xs:attribute name="redirectURL" type="xs:anyURI" use="required"/>
   </xs:complexType>
</xs:schema> 
