etc/schemas/2019/06/01/MedicineCardModification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20190601="http://www.dkma.dk/medicinecard/xml.schema/2019/06/01"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2019/06/01"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="MedicineCardModificationAction.xsd"/>
	<include schemaLocation="MedicineCardModificationIdentifiers.xsd"/>
	<include schemaLocation="ModificationDetails.xsd"/>
	<element name="MedicineCardModification" type="medicinecard20190601:MedicineCardModificationType">
		<annotation>
			<documentation xml:lang="en-GB">Information about a modification of a medicine card</documentation>
			<documentation xml:lang="da-DK">Information omkring en modifikation af et medicinkort</documentation>
		</annotation>
	</element>
	<complexType name="MedicineCardModificationType">
		<sequence>
			<element name="Action" type="medicinecard20190601:MedicineCardModificationActionType"/>
			<element name="Details" type="medicinecard20190601:ModificationDetailsType" minOccurs="0"/>
			<element name="MedicineCard" type="medicinecard20190601:MedicineCardModificationIdentifiersType"/>
			<any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
		</sequence>
	</complexType>
</schema>
