etc/schemas/2019/06/01/OrderedEffectuationIdentifiers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20190601="http://www.dkma.dk/medicinecard/xml.schema/2019/06/01"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2019/06/01"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrderedEffectuationIdentifier.xsd"/>
	<complexType name="OrderedEffectuationIdentifiersType">
		<annotation>
			<documentation xml:lang="en-GB">A collection of all relevant identifiers in the modification of a order effectuation</documentation>
			<documentation xml:lang="da-DK">En samling af alle relevante ID'er i forbindelse med en modifikation af en bestilling</documentation>
		</annotation>
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20190601:PersonIdentifierType"/>
			<element name="Identifier" type="medicinecard20190601:OrderedEffectuationIdentifierType"/>
			<element name="DrugMedicationIdentifier" type="medicinecard20190601:DrugMedicationIdentifierType"/>
		</sequence>
	</complexType>
</schema>
