etc/schemas/2019/06/01/PatientOrganisationRelationModification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20190601="http://www.dkma.dk/medicinecard/xml.schema/2019/06/01"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2019/06/01"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="ModificationDetails.xsd"/>
	<include schemaLocation="PatientOrganisationRelationModificationAction.xsd"/>
	<include schemaLocation="PatientOrganisationRelationIdentifiers.xsd"/>
	<element name="PatientOrganisationRelationModification" type="medicinecard20190601:PatientOrganisationRelationModificationType">
		<annotation>
			<documentation xml:lang="en-GB">Information about a modification of a patient-organisation-relation</documentation>
			<documentation xml:lang="da-DK">Information omkring en oprettelse/redigering af en patient-organisation-relation</documentation>
		</annotation>
	</element>
	<complexType name="PatientOrganisationRelationModificationType">
		<sequence>
			<element name="Action" type="medicinecard20190601:PatientOrganisationRelationModificationActionType"/>
			<element name="Details" type="medicinecard20190601:ModificationDetailsType" minOccurs="0"/>
			<element name="RelationIdentifier" type="medicinecard20190601:PatientOrganisationRelationIdentifiersType"/>
			<any minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
