etc/schemas/2019/06/01/PatientRegistrationIdentifiers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20190601="http://www.dkma.dk/medicinecard/xml.schema/2019/06/01"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2019/06/01"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="PatientRegistrationIdentifier.xsd"/>
	<complexType name="PatientRegistrationIdentifiersType">
		<annotation>
			<documentation xml:lang="en-GB">Collection of identifier related to a modification of a patient-registration</documentation>
			<documentation xml:lang="da-DK">Relevante ID'er i forbindelse med en oprettelse/redigering af patient data</documentation>
		</annotation>
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20190601:PersonIdentifierType"/>
			<element name="Identifier" type="medicinecard20190601:PatientRegistrationIdentifierType"/>
		</sequence>
	</complexType>
</schema>

