etc/schemas/2019/06/01/PatientRegistrationModification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20190601="http://www.dkma.dk/medicinecard/xml.schema/2019/06/01"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2019/06/01"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="ModificationDetails.xsd"/>
	<include schemaLocation="PatientRegistrationModificationAction.xsd"/>
	<include schemaLocation="PatientRegistrationIdentifiers.xsd"/>
	<element name="PatientRegistrationModification" type="medicinecard20190601:PatientRegistrationModificationType">
		<annotation>
			<documentation xml:lang="en-GB">Information about a modification of a patient-registration</documentation>
			<documentation xml:lang="da-DK">Information omkring en oprettelse/redigering af patient data</documentation>
		</annotation>
	</element>
	<complexType name="PatientRegistrationModificationType">
		<sequence>
			<element name="Action" type="medicinecard20190601:PatientRegistrationModificationActionType"/>
			<element name="Details" type="medicinecard20190601:ModificationDetailsType" minOccurs="0"/>
			<element name="RegistrationIdentifier" type="medicinecard20190601:PatientRegistrationIdentifiersType"/>
			<any minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
