etc/schemas/2019/06/01/PersonIdentifier.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20190601="http://www.dkma.dk/medicinecard/xml.schema/2019/06/01"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2019/06/01"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Source.xsd"/>

	<element name="PersonIdentifier" type="medicinecard20190601:PersonIdentifierType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a person identifier, according to the Danish CPR format.</documentation>
			<documentation xml:lang="da-DK">Element for er CPR-nummer</documentation>
		</annotation>
	</element>
	<complexType name="PersonIdentifierType">
		<simpleContent>
			<extension base="medicinecard20190601:PersonIdentifierValueType">
				<attribute name="source" type="medicinecard20190601:PersonIdentifierSourceType" use="required"/>
			</extension>
		</simpleContent>
	</complexType>

	<simpleType name="PersonIdentifierValueType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="50"/>
		</restriction>
	</simpleType>

	<simpleType name="PersonIdentifierSourceType">
		<union memberTypes="medicinecard20190601:PersonIdentifierPredefinedSourceType medicinecard20190601:UndefinedSourceType"/>
	</simpleType>

	<simpleType name="PersonIdentifierPredefinedSourceType">
		<restriction base="medicinecard20190601:UndefinedSourceType">
			<enumeration value="CPR"/>
			<enumeration value="X-eCPR"/>
			<enumeration value="SORPERSON"/>
			<enumeration value="MedicineCardKey"/>
		</restriction>
	</simpleType>
</schema>
