etc/schemas/2019/06/01/PrescriptionModification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20190601="http://www.dkma.dk/medicinecard/xml.schema/2019/06/01"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2019/06/01"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
    <include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="PrescriptionModification.xsd"/>
	<include schemaLocation="PrescriptionModificationAction.xsd"/>
	<include schemaLocation="PrescriptionModificationIdentifiers.xsd"/>

	<element name="PrescriptionModification" type="medicinecard20190601:PrescriptionModificationType">
		<annotation>
			<documentation xml:lang="en-GB">Information about a modification of a prescription medication</documentation>
			<documentation xml:lang="da-DK">Information omkring en modifikation af en receptordination</documentation>
		</annotation>
	</element>
	<complexType name="PrescriptionModificationType">
		<sequence>
			<element name="Action" type="medicinecard20190601:PrescriptionModificationActionType"/>
            <element name="PersonIdentifier" type="medicinecard20190601:PersonIdentifierType"/>
            <element name="Prescription" type="medicinecard20190601:PrescriptionModificationIdentifiersType"/>
            <any minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
