etc/schemas/2022/03/01/ParseDrugMedicationText.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
		xmlns:medicinecard20150101E4="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E4"
		xmlns:ordinationsAI20220301="http://fmk-teknik.dk/ordinationsAI/xml.schema/2022/03/01"
		targetNamespace="http://fmk-teknik.dk/ordinationsAI/xml.schema/2022/03/01"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E4.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E4"/>
	<include schemaLocation="Confidence.xsd"/>
	<complexType name="ParseDrugMedicationTextType">
		<annotation>
			<documentation xml:lang="en-GB">A single drug medication type containing drug, dosage and optionally an indication, as well as a confidence value defining the trust of the result, an integer between 0 and 100.</documentation>
			<documentation xml:lang="da-DK">En lægemiddelordinationstype, der indeholder et lægemiddel, en dosering og en valgfri indikation, samt en konfidens-værdi af resultatet, et heltal imellem 0 og 100.</documentation>
		</annotation>
		<sequence>
			<element name="Drug" type="medicinecard20150101:DrugType"/>
			<element name="Dosage" type="medicinecard20150101E4:DosageForRequestType"/>
			<element name="Indication" type="medicinecard20150101:IndicationType" minOccurs="0"/>
			<element name="Confidence" type="ordinationsAI20220301:ConfidenceType" />
		</sequence>
	</complexType>
</schema>
