etc/schemas/2022/03/01/ParseDrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
		xmlns:medicinecard20150101E4="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E4"
		xmlns:dosageAI20220301="http://www.dkma.dk/dosageAI/xml.schema/2022/03/01"
		targetNamespace="http://www.dkma.dk/dosageAI/xml.schema/2022/03/01"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E4.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E4"/>

	<complexType name="ParseDrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">A single drug medication type containing drug, and optionally dosage and indication.</documentation>
			<documentation xml:lang="da-DK">En lægemiddelordinationstype, der indeholder et lægemiddel, og en valgfri dosering samt indikation.</documentation>
		</annotation>
		<sequence>
			<element name="Drug" type="medicinecard20150101:DrugType"/>
			<element name="Dosage" type="medicinecard20150101E4:DosageForRequestType" minOccurs="0"/>
			<element name="Indication" type="medicinecard20150101:IndicationType" minOccurs="0"/>
			<element name="Confidence" type="int" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
