etc/schemas/2008/06/01/DKMA_CreatedStructure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" xmlns:cpr="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" schemaLocation="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/CPR_PersonCivilRegistrationIdentifier.xsd"/>
	<include schemaLocation="DKMA_OrganisationStructure.xsd"/>
	<include schemaLocation="DKMA_DoctorStructure.xsd"/>
	<element name="CreatedStructure" type="medicinecard:CreatedStructureType">
		<annotation>
			<documentation xml:lang="en-GB">Element containing information about which organisation and possibly doctor who created the document this element is in (e.g. drug medication) as well as the date it ocurred.</documentation>
			<documentation xml:lang="da-DK">Element der indeholder information omkring hvilken organisation og muligvis læge som har oprettet dokumentet elementet befinder sig i (f.eks. lægemiddelordination), desuden datoen dette er sket.</documentation>
		</annotation>
	</element>
	<complexType name="CreatedStructureType">
		<sequence>
			<element ref="medicinecard:OrganisationStructure"/>
			<element ref="medicinecard:DoctorStructure" minOccurs="0"/>
			<element name="CreatedDateTime" type="dateTime"/>
		</sequence>
	</complexType>
</schema>
