etc/schemas/2008/06/01/DKMA_DosageTimeElementStructure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DKMA_DosageQuantityStructure.xsd"/>
	<include schemaLocation="DKMA_DosageTimeTime.xsd"/>
	<element name="DosageTimeElementStructure" type="medicinecard:DosageTimeElementStructureType">
		<annotation>
			<documentation xml:lang="en-GB">Description of a dosage time element, when and how much</documentation>
			<documentation xml:lang="da-DK">Beskrivelse af et doseringstidspunkt, hvornaar og hvor meget</documentation>
		</annotation>
	</element>
	<complexType name="DosageTimeElementStructureType">
		<sequence>
			<element ref="medicinecard:DosageTimeTime" minOccurs="0"/>
			<choice>
				<element ref="medicinecard:DosageQuantityStructure"/>
				<sequence>
					<element name="MinimalDosageQuantityStructure" type="medicinecard:DosageQuantityStructureType"/>
					<element name="MaximalDosageQuantityStructure" type="medicinecard:DosageQuantityStructureType"/>
				</sequence>
			</choice>
		</sequence>
	</complexType>
</schema>
