etc/schemas/2010/06/01/DKMA_GetAssistantAuditLogRequestStructure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20100601="http://www.dkma.dk/medicinecard/xml.schema/2010/06/01" 
        xmlns:cpr="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" 
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2010/06/01" 
        elementFormDefault="qualified" 
        attributeFormDefault="unqualified">
	<import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" 
	        schemaLocation="../../../oio/cpr/2005/03/18/CPR_PersonCivilRegistrationIdentifier.xsd"/>
	<element name="GetAssistantAuditLogRequestStructure" type="medicinecard20100601:GetAssistantAuditLogRequestStructureType">
		<annotation>
			<documentation xml:lang="en-GB">Requesting auditlog for activities on behalf of the specified doctor. </documentation>
			<documentation xml:lang="da-DK">En forespoergsel efter auditlogning for aktiviteter udført på vegne af en bestemt doktor</documentation>
		</annotation>
	</element>
	<complexType name="GetAssistantAuditLogRequestStructureType">
		<sequence>
			<element name="DoctorsPersonCivilRegistrationIdentifier" type="cpr:PersonCivilRegistrationIdentifierType"/>
			<element name="FromDateTime" type="dateTime" minOccurs="0" />
			<element name="ToDateTime" type="dateTime" minOccurs="0" />
		</sequence>
	</complexType>
</schema>
