etc/schemas/2010/06/01/DKMA_RemoveDoctorAssistantResponseStructure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20100601="http://www.dkma.dk/medicinecard/xml.schema/2010/06/01" xmlns:medicinecard20090101="http://www.dkma.dk/medicinecard/xml.schema/2009/01/01" xmlns:medicinecard20080601="http://www.dkma.dk/medicinecard/xml.schema/2008/06/01" xmlns:cpr="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2010/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <element name="RemoveDoctorAssistantResponseStructure" type="medicinecard20100601:RemoveDoctorAssistantResponseStructureType">
        <annotation>
            <documentation xml:lang="en-GB">Outer container element for a request to remove from the list of allowed assistants for an authorisation number</documentation>
            <documentation xml:lang="da-DK">Ydre container-element for et request til at fjerne fra listen af tilladte assistener for et autorisationsnummer</documentation>
        </annotation>
    </element>
    <complexType name="RemoveDoctorAssistantResponseStructureType">
        <sequence>
            <element name="OperationSucceeded" type="boolean" />        
        </sequence>
    </complexType>
</schema>
