etc/schemas/2015/06/01/E5/CancelOrderRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		xmlns:medicinecard20150601E5="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E5"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E5"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="importsFrom20150601E5.xsd"/>

	<element name="CancelOrderRequest" type="medicinecard20150601E5:CancelOrderRequestType"/>

	<complexType name="CancelOrderRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request for cancelling orders on prescriptions</documentation>
			<documentation xml:lang="da-DK">Request til at annullere bestillinger på recepter</documentation>
		</annotation>
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="medicinecard20150601:OrganisationIdentifierType"/>
			</choice>
			<element name="ModifiedBy" type="medicinecard20150601:ModificatorType"/>
			<element name="ReportedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="Order" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="PrescriptionIdentifier" type="medicinecard20150601:PrescriptionIdentifierType"/>
						<element name="OrderIdentifier" type="medicinecard20150601:OrderIdentifierType"/>
						<element name="ModificationMetadata" type="medicinecard20150601:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
</schema>
