etc/schemas/2015/06/01/E5/GetPrescribingOrganisationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E5"
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		xmlns:medicinecard20150601E5="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E5"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
	<include schemaLocation="importsFrom20150601E5.xsd"/>

	<element name="GetPrescribingOrganisationRequest" type="medicinecard20150601E5:GetPrescribingOrganisationRequestType">
		<annotation>
			<documentation xml:lang="en-GB">An element for requesting the organisation to target for renewals for a given prescription</documentation>
			<documentation xml:lang="da-DK">Et element til forespørgsel efter en receptfornyende organisation for en given recept</documentation>
		</annotation>
	</element>

	<complexType name="GetPrescribingOrganisationRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
			<choice>
				<element name="DrugMedicationIdentifier" type="medicinecard20150601:DrugMedicationIdentifierType" maxOccurs="unbounded"/>
				<element name="PrescriptionIdentifier" type="medicinecard20150601:PrescriptionIdentifierType" maxOccurs="unbounded"/>
			</choice>
			<element name="Context" type="medicinecard20150601E5:PrescribingOrganisationRetrievalContextType"/>
		</sequence>
	</complexType>
</schema>
