etc/schemas/2015/06/01/E5/PrescribingOrganisationEntry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E5="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E5"

        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E5"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <include schemaLocation="importsFrom20150601E5.xsd"/>

    <complexType name="PrescribingOrganisationEntryType">
        <annotation>
            <documentation xml:lang="en-GB">Element containing information on a prescribing organisation for a specific prescription</documentation>
            <documentation xml:lang="da-DK">Element som indeholder informationer omkring en receptfornyende organisation for en recept</documentation>
        </annotation>
        <sequence>
            <element name="PrescriptionIdentifier" type="medicinecard20150601:PrescriptionIdentifierType"/>
        	<element name="Organisation" type="medicinecard20150601:OrganisationType"/>
            <element name="Reason" type="medicinecard20150601E5:RenewalReasonType"/>
            <element name="CreatedDateTime" type="medicinecard20150601:PrescriptionIdentifierType"/>
        </sequence>
    </complexType>
</schema>
