etc/schemas/2015/06/01/E5/PrescribingOrganisationRetrievalContext.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150601E5="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E5"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E5"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<simpleType name="PrescribingOrganisationRetrievalContext">
		<annotation>
			<documentation xml:lang="en-GB">Element describing the context requesting from</documentation>
			<documentation xml:lang="da-DK">Element beskrivende den kontekst man spørger fra</documentation>
		</annotation>
		<union memberTypes="medicinecard20150601E5:PrescribingOrganisationRetrievalContextType medicinecard20150601E5:UndefinedPrescribingOrganisationRetrievalContextType"/>
	</simpleType>
	<simpleType name="PrescribingOrganisationRetrievalContextType">
		<restriction base="medicinecard20150601E5:UndefinedPrescribingOrganisationRetrievalContextType">
			<enumeration value="Borger"/>
			<enumeration value="Hjemmeplejen"/>
		</restriction>
	</simpleType>
	<simpleType name="UndefinedPrescribingOrganisationRetrievalContextType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="100"/>
		</restriction>
	</simpleType>
</schema>
