etc/schemas/2015/06/01/E5/StartEffectuationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		xmlns:medicinecard20150601E5="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E5"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E5"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="importsFrom20150601E5.xsd"/>

	<element name="StartEffectuationRequest" type="medicinecard20150601E5:StartEffectuationRequestType"/>

	<complexType name="StartEffectuationRequestType">
		<annotation>
			<documentation xml:lang="en-GB">A request to start an effectuation at a pharmacy. Status will change from 'bestilt' to 'ekspedition påbegyndt'.</documentation>
			<documentation xml:lang="da-DK">Et request som påbegynder en udlevering på et apotek. Status ændres fra 'bestilt' til 'ekspedition påbegyndt'.</documentation>
		</annotation>
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="medicinecard20150601:OrganisationIdentifierType"/>
			</choice>
			<element name="ModifiedBy" type="medicinecard20150601:ModificatorType"/>
			<element name="ReportedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="OrderedAtPharmacy" type="medicinecard20150601:OrganisationType"/>
			<element name="Prescription" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="Identifier" type="medicinecard20150601:PrescriptionIdentifierType"/>
						<element name="ModificationMetadata" type="medicinecard20150601:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
					</sequence>
				</complexType>
			</element>
			<element name="DoseDispensing" type="medicinecard20150601:DoseDispensingType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
