etc/schemas/2015/06/01/E5/UndoEffectuationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		xmlns:medicinecard20150601E5="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E5"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E5"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="importsFrom20150601E5.xsd"/>

	<element name="UndoEffectuationRequest" type="medicinecard20150601E5:UndoEffectuationRequestType"/>

	<complexType name="UndoEffectuationRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Service request for undoing a number of existing pharmacy effectutations</documentation>
			<documentation xml:lang="da-DK">Service kald til at tilbageføre et antal eksisterende apoteks ekspeditioner</documentation>
		</annotation>
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="medicinecard20150601:OrganisationIdentifierType"/>
			</choice>
			<element name="ModifiedBy" type="medicinecard20150601:ModificatorType"/>
			<element name="ReportedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="Prescription" type="medicinecard20150601:UndoEffectuationOnPrescriptionAndOrderType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
