etc/schemas/2013/01/01/DrugMedicationTopic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:topic20130101="http://nsi.dk/topic/xml.schema/2013/01/01" targetNamespace="http://nsi.dk/topic/xml.schema/2013/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DrugMedicationAction.xsd"/>
	<include schemaLocation="EffectuationTopic.xsd"/>
	<complexType name="DrugMedicationTopicType">
			<sequence>
				<element name="Action" type="topic20130101:DrugMedicationActionType"/>				
				<element name="Effectuation" type="topic20130101:EffectuationTopicType" minOccurs="0"/>
			</sequence>
	</complexType>
</schema>
