etc/schemas/2013/01/01/Identifiers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:topic20130101="http://nsi.dk/topic/xml.schema/2013/01/01" targetNamespace="http://nsi.dk/topic/xml.schema/2013/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/MedicineCardVersion.xsd"/>
	<include schemaLocation="MedicineCardIdentifiers.xsd"/>
	<element name="Identifiers" type="topic20130101:IdentifiersType">
		<annotation>
			<documentation xml:lang="en-GB">Set of Identifiers related to a medicine card</documentation>
		</annotation>
	</element>
	<complexType name="IdentifiersType">
		<sequence>
			<element name="SourceMedicineCard" maxOccurs="unbounded"/>
			<element name="ResultMedicineCard" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
