etc/schemas/2013/01/01/MedicineCardTopic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:topic20130101="http://nsi.dk/topic/xml.schema/2013/01/01" targetNamespace="http://nsi.dk/topic/xml.schema/2013/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DrugMedicationTopic.xsd"/>
	<include schemaLocation="MedicineCardAction.xsd"/>
	<element name="MedicineCardTopic" type="topic20130101:MedicineCardTopicType">
		<annotation>
			<documentation xml:lang="en-GB">Notification topics for notifications related to a medicine card</documentation>
		</annotation>
	</element>
	<complexType name="MedicineCardTopicType">
		<sequence>
			<element name="Action" type="topic20130101:MedicineCardActionType"/>
			<element name="DrugMedication" type="topic20130101:DrugMedicationTopicType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
