etc/schemas/2013/01/01/MedicineCardIdentifiers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:topic20130101="http://nsi.dk/topic/xml.schema/2013/01/01" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://nsi.dk/topic/xml.schema/2013/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/MedicineCardVersion.xsd"/>
	<include schemaLocation="DrugMedicationIdentifiers.xsd"/>
	<complexType name="MedicineCardIdentifiersType">
		<sequence>
			<element name="Version" type="medicinecard20120601:MedicineCardVersionType"/>
			<element name="DrugMedication" type="topic20130101:DrugMedicationIdentifiersType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
