etc/schemas/2013/01/01/Topic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:topic20130101="http://nsi.dk/topic/xml.schema/2013/01/01" targetNamespace="http://nsi.dk/topic/xml.schema/2013/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="MedicineCardTopic.xsd"/>
	<element name="Topic" type="topic20130101:TopicType">
		<annotation>
			<documentation xml:lang="en-GB">Description of the dosage times of a treatment</documentation>
			<documentation xml:lang="da-DK">Beskrivelse af doseringstidspunkter for en behandling</documentation>
		</annotation>
	</element>
	<complexType name="TopicType">
		<sequence>
				<element name="MedicineCard" type="topic20130101:MedicineCardTopicType"/>
		</sequence>
	</complexType>
</schema>
