etc/schemas/2013/pem/AuthorisedHealthcareProfessional.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard2013pem="http://www.dkma.dk/medicinecard/xml.schema/2013/pem" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2013/pem" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../2012/06/01/AuthorisationIdentifier.xsd"/>
    <import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../2012/06/01/AuthorisedHealthcareProfessionalName.xsd"/>
	<include schemaLocation="SpecialityCode.xsd"/>
	<element name="AuthorisedHealthcareProfessional" type="medicinecard2013pem:AuthorisedHealthcareProfessionalType">
		<annotation>
			<documentation xml:lang="en-GB">Contains authorisation number and name of an authorised healthchare professional</documentation>
			<documentation xml:lang="da-DK">Indeholder autorsationsnummer og navn på en autoriseret sundhedsperson</documentation>
		</annotation>
	</element>
	<complexType name="AuthorisedHealthcareProfessionalType">
		<sequence>
			<element name="AuthorisationIdentifier" type="medicinecard20120601:AuthorisationIdentifierType"/>
			<element name="Name" type="medicinecard20120601:AuthorisedHealthcareProfessionalNameType"/>
			<element name="SpecialityCode" type="medicinecard2013pem:SpecialityCodeType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
