etc/schemas/2013/pem/CreateSinglePrescriptionDispensing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../2012/06/01/DosageText.xsd"/>
    <import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../2012/06/01/PackageSizeText.xsd"/>
    <import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../2012/06/01/PackageQuantity.xsd"/>
	<include schemaLocation="PackageNumber.xsd"/>
	<element name="CreateSinglePrescriptionDispensing" type="medicinecard20120601:CreateSinglePrescriptionDispensingType">
		<annotation>
			<documentation xml:lang="en-GB">Information dispensing the package once</documentation>
			<documentation xml:lang="da-DK">Information til en enkelt udlevering</documentation>
		</annotation>
	</element>
	<complexType name="CreateSinglePrescriptionDispensingType">
		<sequence>
			<element name="PackageNumber" type="medicinecard20120601:PackageNumberType"/>
			<element name="FreeTradePackageSizeText" type="medicinecard20120601:PackageSizeTextType" minOccurs="0"/>
			<element name="PackageQuantity" type="medicinecard20120601:PackageQuantityType"/>
			<element name="DosageText" type="medicinecard20120601:DosageTextType"/>
		</sequence>
	</complexType>
</schema>
