etc/schemas/2013/pem/CreateDoseDispensedPrescriptionDispensing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard2013pem="http://www.dkma.dk/medicinecard/xml.schema/2013/pem" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2013/pem" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../2012/06/01/DosageText.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../2012/06/01/CopyRequired.xsd"/>
	<include schemaLocation="PackageNumber.xsd"/>
	<element name="CreateDoseDispensedPrescriptionDispensing" type="medicinecard2013pem:CreateDoseDispensedPrescriptionDispensingType">
		<annotation>
			<documentation xml:lang="en-GB">Information dispensing the package through dosage dispensing</documentation>
			<documentation xml:lang="da-DK">Information til dosisdispensering</documentation>
		</annotation>
	</element>
	<complexType name="CreateDoseDispensedPrescriptionDispensingType">
		<sequence>
			<element name="PackageNumber" type="medicinecard2013pem:PackageNumberType"/>
			<element name="CopyRequired" type="medicinecard20120601:CopyRequiredType"/>
			<element name="DosageText" type="medicinecard20120601:DosageTextType"/>
		</sequence>
	</complexType>
</schema>
