etc/schemas/2013/pem/CreateReiteratedPrescriptionDispensing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard2013pem="http://www.dkma.dk/medicinecard/xml.schema/2013/pem" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2013/pem" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../2012/06/01/DosageText.xsd"/>
    <import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../2012/06/01/PackageSizeText.xsd"/>
    <import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../2012/06/01/PackageQuantity.xsd"/>
    <import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../2012/06/01/ReiterationInterval.xsd"/>
    <import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../2012/06/01/ReiterationIntervalUnit.xsd"/>
    <import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../2012/06/01/ReiterationNumber.xsd"/>
    <include schemaLocation="PackageNumber.xsd"/>
    <element name="CreateReiteratedPrescriptionDispensing" type="medicinecard2013pem:CreateReiteratedPrescriptionDispensingType">
		<annotation>
			<documentation xml:lang="en-GB">Information dispensing the package two or more times</documentation>
			<documentation xml:lang="da-DK">Information til to eller flere udleveringer</documentation>
		</annotation>
	</element>
	<complexType name="CreateReiteratedPrescriptionDispensingType">
		<sequence>
			<element name="PackageNumber" type="medicinecard2013pem:PackageNumberType"/>
			<element name="FreeTradePackageSizeText" type="medicinecard20120601:PackageSizeTextType" minOccurs="0"/>
			<element name="ReiterationNumber" type="medicinecard20120601:ReiterationNumberType"/>
			<element name="ReiterationInterval" type="medicinecard20120601:ReiterationIntervalType"/>
			<element name="ReiterationIntervalUnit" type="medicinecard20120601:ReiterationIntervalUnitType"/>
			<element name="PackageQuantity" type="medicinecard20120601:PackageQuantityType"/>
			<element name="DosageText" type="medicinecard20120601:DosageTextType"/>
		</sequence>
	</complexType>
</schema>
