etc/schemas/2013/pem/OrderEffectuationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20130601="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" xmlns:medicinecard2013pem="http://www.dkma.dk/medicinecard/xml.schema/2013/pem" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2013/pem" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../2012/06/01/PersonIdentifier.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../2012/06/01/MedicineCardVersion.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" schemaLocation="../../2013/06/01/Modificator.xsd"/>
    <include schemaLocation="OrderPrescriptionMedication.xsd"/>
    <include schemaLocation="OrderEffectuation.xsd"/>
	<element name="OrderEffectuationRequest" type="medicinecard2013pem:OrderEffectuationRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document containing one or more documents for reordering prescription medications from drug medications - Specifically for use by PEM</documentation>
			<documentation xml:lang="da-DK">Request-dokument der indeholder et eller flere dokumenter til at genbestille receptordinationer fra lægemiddelordinationer - Specifikt til brug fra PEM</documentation>
		</annotation>
	</element>
	<complexType name="OrderEffectuationRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20120601:PersonIdentifierType"/>
			<!--<element name="MedicineCardVersion" type="medicinecard20120601:MedicineCardVersionType"/>-->
			<element name="OrderedBy" type="medicinecard20130601:ModificatorType" minOccurs="0"/>
			<element name="ReportedBy" type="medicinecard20130601:ModificatorType" minOccurs="0"/>
			<choice maxOccurs="unbounded">
				<element name="OrderPrescriptionMedication" type="medicinecard2013pem:OrderPrescriptionMedicationType"/>
				<element name="OrderEffectuation" type="medicinecard2013pem:OrderEffectuationType"/>
				<!--<element name="OrderPrescriptionMedicationOrEffectuation" type="medicinecard20130601:OrderEffectuationOrPrescriptionMedicationType"/>-->
			</choice>
		</sequence>
	</complexType>
</schema>
