etc/schemas/2013/pem/OrganisationIdentifier.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard2013pem="http://www.dkma.dk/medicinecard/xml.schema/2013/pem" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2013/pem" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<element name="OrganisationIdentifier" type="medicinecard2013pem:OrganisationIdentifierType">
		<annotation>
			<documentation xml:lang="en-GB">Number or code identifying an organisation</documentation>
			<documentation xml:lang="da-DK">Nummer eller kode der identificerer en organisation</documentation>
		</annotation>
	</element>
    <complexType name="OrganisationIdentifierType"> <!--simpleType name="OrganisationIdentifierValueType"-->
        <simpleContent>
            <extension base="string">
                <restriction base="string">
                    <minLength value="1"/>
                    <maxLength value="200"/>
                </restriction>
                <attribute name="source" type="string" use="required">
                    <restriction>
                        <enumeration value="SKS"/>
                        <enumeration value="Yder"/>
                        <enumeration value="EAN-Lokationsnummer"/>
                        <enumeration value="CVR"/>
                        <enumeration value="CVR-P"/>
                        <enumeration value="Kommunekode"/>
                    </restriction>
                </attribute>
            </extension>
        </simpleContent>
    </complexType>
</schema>
