etc/schemas/2012/12/ActiveSubstance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:reimbursement20121201="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	targetNamespace="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="ActiveSubstanceText.xsd"/>
	<include schemaLocation="ActiveSubstanceFreeText.xsd"/>
	<element name="ActiveSubstance" type="reimbursement20121201:ActiveSubstanceType">
		<annotation>
			<documentation xml:lang="en-GB">Contains information for one active substance</documentation>
			<documentation xml:lang="da-DK">Indeholder information omkring en aktiv substans</documentation>
		</annotation>
	</element>
	<complexType name="ActiveSubstanceType">
		<choice>
			<element name="Text" type="reimbursement20121201:ActiveSubstanceTextType" minOccurs="0"/>
			<element name="FreeText" type="reimbursement20121201:ActiveSubstanceFreeTextType" minOccurs="0"/>
		</choice>
	</complexType>
</schema>
