etc/schemas/2012/12/Address.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:reimbursement20121201="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	targetNamespace="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="AddressLine.xsd" />
	<element name="Address" type="reimbursement20121201:AddressType">
		<annotation>
			<documentation xml:lang="en-GB">Address</documentation>
			<documentation xml:lang="da-DK">Adresse</documentation>
		</annotation>
	</element>
	<complexType name="AddressType">
		<sequence>

			<element name="AddressLine" type="reimbursement20121201:AddressLineType"
				minOccurs="0" maxOccurs="5" />
		</sequence>
	</complexType>
</schema>
