etc/schemas/2012/12/ApplicationFormKeyValuePair.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:reimbursement20121201="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	targetNamespace="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="ApplicationFormKey.xsd"/>
	<include schemaLocation="ApplicationFormValue.xsd"/>
	<element name="ApplicationFormKeyValuePair" type="reimbursement20121201:ApplicationFormKeyValuePairType">
		<annotation>
			<documentation xml:lang="en-GB"></documentation>
			<documentation xml:lang="da-DK"></documentation>
		</annotation>
	</element>
	<complexType name="ApplicationFormKeyValuePairType">
		<sequence>
			<element name="ApplicationFormKey" type="reimbursement20121201:ApplicationFormKeyType" />
			<element name="ApplicationFormValue" type="reimbursement20121201:ApplicationFormValueType" />
		</sequence>
	</complexType>
</schema>
