etc/schemas/2012/12/CreateReimbursementApplicationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:reimbursement20121201="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	targetNamespace="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="ReimbursementApplication.xsd" />
	<include schemaLocation="Modificator.xsd" />
	<element name="CreateReimbursementApplicationRequest" type="reimbursement20121201:CreateReimbursementApplicationRequestType">
		<annotation>
			<documentation xml:lang="en-GB"></documentation>
			<documentation xml:lang="da-DK"></documentation>
		</annotation>
	</element>
	<complexType name="CreateReimbursementApplicationRequestType">
		<sequence>
			<element name="CreatedBy" type="reimbursement20121201:ModificatorType" minOccurs="0"/>
			<element name="ReportedBy" type="reimbursement20121201:ModificatorType" minOccurs="0"/>
			<element name="ReimbursementApplication" type="reimbursement20121201:ReimbursementApplicationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>

