etc/schemas/2012/12/DrugFormCode.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:reimbursement20121201="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	targetNamespace="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Source.xsd"/>
	<include schemaLocation="SourceDate.xsd"/>
	<include schemaLocation="SourceYearAndWeek.xsd"/>
	<element name="DrugFormCode" type="reimbursement20121201:DrugFormCodeType">
		<annotation>
			<documentation xml:lang="en-GB">Code for drug form. Source: LMS22 field 1</documentation>
			<documentation xml:lang="da-DK">Kode for lægemiddelform. Kilde: LMS22 felt 1</documentation>
		</annotation>
	</element>
	<complexType name="DrugFormCodeType">
		<simpleContent>
			<extension base="reimbursement20121201:DrugFormCodeValueType">
				<attribute name="source" type="reimbursement20121201:DrugFormCodeSourceType" use="required"/>
				<attribute name="date" type="reimbursement20121201:SourceDateType" use="optional"/>
				<attribute name="yearAndWeek" type="reimbursement20121201:SourceYearAndWeekType" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="DrugFormCodeValueType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="7"/>
		</restriction>
	</simpleType>
	<simpleType name="DrugFormCodeSourceType">
		<union memberTypes="reimbursement20121201:DrugFormCodePredefinedSourceType reimbursement20121201:UndefinedSourceType"/>
	</simpleType>
	<simpleType name="DrugFormCodePredefinedSourceType">
		<restriction base="reimbursement20121201:UndefinedSourceType">
			<enumeration value="Medicinpriser"/>
		</restriction>
	</simpleType>
</schema>
