etc/schemas/2012/12/DrugIdentifier.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:reimbursement20121201="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	targetNamespace="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Source.xsd"/>
	<include schemaLocation="SourceDate.xsd"/>
	<include schemaLocation="SourceYearAndWeek.xsd"/>
	<element name="DrugIdentifier" type="reimbursement20121201:DrugIdentifierType">
		<annotation>
			<documentation xml:lang="en-GB">Unique drug identification. For definition in the DKMA price list LMS01 field 1. The format is TTTTNNNNNYY (T=type of drug, N=number, Y=year), e.g. 28101606385</documentation>
			<documentation xml:lang="da-DK">Unik identifikation af lægemiddel. For lægemidler i LMS takst LMS01 felt 1. Formatet er TTTTNNNNNYY (T=type af lægemiddel, N=nummer, Y=år), f.eks. 28101606385</documentation>
		</annotation>
	</element>
	<complexType name="DrugIdentifierType">
		<simpleContent>
			<extension base="reimbursement20121201:DrugIdentifierValueType">
				<attribute name="source" type="reimbursement20121201:DrugIdentifierSourceType" use="required"/>
				<attribute name="date" type="reimbursement20121201:SourceDateType" use="optional"/>
				<attribute name="yearAndWeek" type="reimbursement20121201:SourceYearAndWeekType" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="DrugIdentifierValueType">
		<restriction base="long">
			<minInclusive value="10000000000"/>
			<maxExclusive value="99999999999"/>
		</restriction>
	</simpleType>
	<simpleType name="DrugIdentifierSourceType">
		<union memberTypes="reimbursement20121201:DrugIdentifierPredefinedSourceType reimbursement20121201:UndefinedSourceType"/>
	</simpleType>
	<simpleType name="DrugIdentifierPredefinedSourceType">
		<restriction base="reimbursement20121201:UndefinedSourceType">
			<enumeration value="Medicinpriser"/>
			<enumeration value="Local"/>
		</restriction>
	</simpleType>
</schema>
