etc/schemas/2012/12/Source.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:reimbursement20121201="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	targetNamespace="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<attribute name="Source" type="reimbursement20121201:SourceType">
		<annotation>
			<documentation xml:lang="en-GB">An identification of the source which defines the content</documentation>
			<documentation xml:lang="da-DK">En identifikation af kilden hvor indholdet er derfineret</documentation>
		</annotation>
	</attribute>
	<simpleType name="SourceType">
		<union memberTypes="reimbursement20121201:PredefinedSourceType reimbursement20121201:UndefinedSourceType"/>
	</simpleType>
	<simpleType name="PredefinedSourceType">
		<restriction base="reimbursement20121201:UndefinedSourceType">
			<enumeration value="Chemical Abstract (CAS)"/>
			<enumeration value="DKMA Medicine Prices"/>
			<enumeration value="DA Medicine Prices"/>
			<enumeration value="Local drug assortment"/>
			<enumeration value="FMK dosage quantity unit"/>
			<enumeration value="Local dosage quantity unit"/>
			<enumeration value="SKS"/>
			<enumeration value="Ydernummer"/>
		</restriction>
	</simpleType>
	<simpleType name="UndefinedSourceType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="200"/>
		</restriction>
	</simpleType>
</schema>
