etc/schemas/2012/12/Substances.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:reimbursement20121201="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	targetNamespace="http://nsi.dk/reimbursement/xml.schema/2012/12/01"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="ActiveSubstance.xsd"/>
	<element name="Substances" type="reimbursement20121201:SubstancesType">
		<annotation>
			<documentation xml:lang="en-GB">Contains a number of substances</documentation>
			<documentation xml:lang="da-DK">Indeholder et antal substanser</documentation>
		</annotation>
	</element>
	<complexType name="SubstancesType">
		<sequence maxOccurs="100">
			<element name="ActiveSubstance" type="reimbursement20121201:ActiveSubstanceType"/>
		</sequence>
	</complexType>
</schema>
