etc/admin-schemas/CallingSystemAuthorisations.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="CallingSystemAuthorisations">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CallingSystemAuthorisations" type="CallingSystemAuthorisation" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="CallingSystemAuthorisation">
        <xsd:sequence>
            <xsd:element name="AuthorisationId" type="xsd:long"/>

            <xsd:element name="SystemOwnerName" type="xsd:string"/>
            <xsd:element name="SystemName" type="xsd:string"/>

            <xsd:element name="ExtraInfo" type="xsd:string"/>
            <xsd:element name="SuspenderTextOff" type="xsd:boolean"/>
            <xsd:element name="DDFixOff" type="xsd:boolean"/>

            <xsd:element name="SystemVersion" type="xsd:string"/>
            <xsd:element name="FMKVersion" type="xsd:string"/>
            <xsd:element name="Trusted" type="xsd:boolean"/>
            <xsd:element name="CVRNumbersTrustedWithAssistants" type="xsd:string"/>
            <xsd:element name="CVRNumbersTrusted" type="xsd:string"/>
            <xsd:element name="ServiceFmkAllowed" type="xsd:boolean"/>
            <xsd:element name="ServiceEoAllowed" type="xsd:boolean"/>
            <xsd:element name="ServicePorAllowed" type="xsd:boolean"/>
            <xsd:element name="PatientModificatorSupported" type="xsd:boolean"/>
            <xsd:element name="AllowedOrgUsingIdFormats" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>

        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>