etc/schemas/2012/06/01/FaultDetail/KeyValueSet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <include schemaLocation="Key.xsd"/>
    <include schemaLocation="Value.xsd"/>
    <element name="KeyValueSet" type="medicinecard20120601:KeyValueSetType">
        <annotation>
            <documentation xml:lang="en-GB">Set of keys and values</documentation>
            <documentation xml:lang="da-DK">Mængde af keys og values</documentation>
        </annotation>
    </element>
    <complexType name="KeyValueSetType">
        <sequence>
            <element name="Key" type="medicinecard20120601:KeyType"/>
            <element name="Value" type="medicinecard20120601:ValueType"/>
        </sequence>
    </complexType>
</schema>