etc/FaultDetailsSchema/Detail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" elementFormDefault="qualified"
        attributeFormDefault="unqualified" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd ">
    <include schemaLocation="FaultText.xsd"/>
    <include schemaLocation="FaultDetails.xsd"/>
    <include schemaLocation="../../../../2008/06/01/medcom.xsd"/>
    <element name="detail" type="detailType">
        <annotation>
            <documentation xml:lang="en-GB">Details of a fault</documentation>
            <documentation xml:lang="da-DK">Detaljer for en fault</documentation>
        </annotation>
    </element>
    <complexType name="detailType">
        <sequence>
            <element name="FaultCode" type="medcom:FaultCode"/>
            <element name="FaultText" type="medicinecard20120601:FaultTextType" minOccurs="0"/>
            <element name="FaultDetails" type="medicinecard20120601:FaultDetailsType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>