etc/schemas/2012/01/01/Permission.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120101="http://www.dkma.dk/medicinecard/xml.schema/2012/01/01" 
targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2012/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<element name="Permission" type="medicinecard20120101:Permission">
		<annotation>
			<documentation xml:lang="en-GB">A Permission is the right to perform an action</documentation>
			<documentation xml:lang="da-DK">Permission modellerer retten til at udføre en handling</documentation>
		</annotation>
	</element>
	<simpleType name="Permission">
		<union memberTypes="medicinecard20120101:PredefinedPermission medicinecard20120101:UndefinedPermission"/>
	</simpleType>
	<simpleType name="PredefinedPermission">
		<restriction base="string">
			<enumeration value="BorgerOpslag"/>
			<enumeration value="SundhedsfagligOpslag"/>
			<enumeration value="Recept"/>
			<enumeration value="Laegemiddelordination"/>
			<enumeration value="Effektuering"/>
			<enumeration value="Privatmarkering"/>
			<enumeration value="VisPrivatmarkeretVaerdispring"/>
			<enumeration value="VisPrivatmarkeretSamtykke"/>
			<enumeration value="Suspendering"/>
			<enumeration value="Afstemning"/>
			<enumeration value="LoesRecept"/>
			<enumeration value="Administration"/>
		</restriction>
	</simpleType>
	<simpleType name="UndefinedPermission">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="200"/>
		</restriction>
	</simpleType>
</schema>