etc/schemas/2015/01/01/E1/GetMedicineCardRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150101E1="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<include schemaLocation="IncludeWithdrawnDrugMedications.xsd"/>
	<include schemaLocation="IncludeCancelledPrescriptionMedications.xsd"/>
	<element name="GetMedicineCardRequest" type="medicinecard20150101E1:GetMedicineCardRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a request for a medicinecard</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel efter et medicinkort</documentation>
		</annotation>
	</element>
	<complexType name="GetMedicineCardRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150101:PersonIdentifierType"/>
			<element name="Version" type="medicinecard20150101:MedicineCardVersionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="DateTime" type="medicinecard20150101:ModifiedDateTimeType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="NegativeConsent" type="medicinecard20150101:NegativeConsentRequestType" minOccurs="0"/>
			<element name="IncludePrescriptionMedications" type="medicinecard20150101:IncludePrescriptionMedicationsType"/>
			<element name="IncludeEffectuations" type="medicinecard20150101:IncludeEffectuationsType"/>
			<element name="IncludeNonRelevantPrescriptionMedications" type="medicinecard20150101:IncludeNonRelevantPrescriptionMedicationsType"/>
			<element name="IncludeCancelledPrescriptionMedications" type="medicinecard20150101E1:IncludeCancelledPrescriptionMedicationsType"/>
			<element name="IncludeWithdrawnDrugMedications" type="medicinecard20150101E1:IncludeWithdrawnDrugMedicationsType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
