etc/schemas/2015/01/01/E1/IncludeWithdrawnDrugMedications.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150101E1="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<include schemaLocation="WithdrawnDateTime.xsd"/>
	<element name="IncludeWithdrawnDrugMedications" type="medicinecard20150101E1:IncludeWithdrawnDrugMedicationsType">
		<annotation>
			<documentation xml:lang="en-GB">Indicates if the medicine card is to be returned with withdrawn drug medications.</documentation>
			<documentation xml:lang="da-DK">Angiver hvorvidt medicinkortet skal returneres med seponerede ordinationer.</documentation>
		</annotation>
	</element>
	<complexType name="IncludeWithdrawnDrugMedicationsType">
		<sequence>
			<element name="WithdrawnAfterDateTime" type="medicinecard20150101E1:WithdrawnDateTimeType"/>
		</sequence>
	</complexType>
</schema>