etc/schemas/2015/01/01/E1/IncludePrescriptionMedications.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150101E1="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<include schemaLocation="IncludeCancelledPrescriptionMedications.xsd"/>
	<include schemaLocation="MaximumNumberOfResults.xsd"/>
	<element name="IncludePrescriptionMedications" type="medicinecard20150101E1:IncludePrescriptionMedicationsType">
		<annotation>
			<documentation xml:lang="en-GB">Indicates that current prescription medication should be included in the response. The response can be extented to also show cancelled prescriptions.</documentation>
			<documentation xml:lang="da-DK">Angiver at aktuelle recepter skal includeres i svaret. Svaret kan udvides med aflyste recepter.</documentation>
		</annotation>
	</element>
	<complexType name="IncludePrescriptionMedicationsType">
		<sequence>
			<element name="IncludeCancelledPrescriptionMedications" type="medicinecard20150101E1:IncludeCancelledPrescriptionMedicationsType"/>
			<element name="MaximumNumberOfResults" type="medicinecard20150101E1:MaximumNumberOfResultsType"/>
		</sequence>
	</complexType>
</schema>
