etc/schemas/2015/01/01/E1/RemoveConsentDrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<complexType name="RemoveConsentDrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a request removing negative consent on a drugmedication</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel der fjerner privarmarkering af en lægemiddelordination</documentation>
		</annotation>

		<sequence>
			<element name="Identifier" type="medicinecard20150101:DrugMedicationIdentifierType"/>
			<element name="ModifiedBy" type="medicinecard20150101:ModificatorType" minOccurs="0"/>
			<element name="ModificationMetadata" type="medicinecard20150101:ModificationMetadataType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
