etc/admin-schemas/Admin/Permissions.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/Admin/Permissions"
            xmlns:permissions="http://www.dkma.dk/medicinecard/xml.schema/Admin/Permissions"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">


    <xsd:element name="GetRolesResponse" type="permissions:GetRolesResponse"/>
    <xsd:complexType name="GetRolesResponse">
        <xsd:sequence>
            <xsd:element name="Roles" type="permissions:RoleType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="GetPermissionsResponse" type="permissions:GetPermissionsResponse"/>
    <xsd:complexType name="GetPermissionsResponse">
        <xsd:sequence>
            <xsd:element name="Permissions" type="permissions:PermissionType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:element name="UpdatePermissionsRequest" type="permissions:UpdatePermissionsRequest"/>
    <xsd:complexType name="UpdatePermissionsRequest">
        <xsd:sequence>
            <xsd:element name="Role" type="permissions:RoleType" minOccurs="1"/>
            <xsd:element name="Permissions" type="permissions:PermissionType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RoleType">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"/>
            <xsd:element name="name" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PermissionType">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"/>
            <xsd:element name="name" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
