etc/admin-schemas/Admin/Permissions.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/Admin/Permissions"
            xmlns:permissions="http://www.dkma.dk/medicinecard/xml.schema/Admin/Permissions"
            xmlns:roles="http://www.dkma.dk/medicinecard/xml.schema/Admin/Roles"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import schemaLocation="Roles.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/Admin/Roles"/>

    <xsd:element name="Permissions" type="permissions:PermissionsType"/>
    <xsd:complexType name="PermissionsType">
        <xsd:sequence>
            <xsd:element name="Permissions" type="permissions:PermissionType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="UpdatePermissionsRequest" type="permissions:UpdatePermissionsRequest"/>
    <xsd:complexType name="UpdatePermissionsRequest">
        <xsd:sequence>
            <xsd:element name="Role" type="roles:RoleType" minOccurs="1"/>
            <xsd:element name="Permissions" type="permissions:PermissionType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PermissionType">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:long"/>
            <xsd:element name="Name" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
