etc/schemas/2014/05/01/DeletePatientRegistrationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20130601="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" xmlns:medicinecard20140501="http://www.dkma.dk/medicinecard/xml.schema/2014/05/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/05/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" schemaLocation="../../../2013/06/01/Modificator.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/PersonIdentifier.xsd"/>
	<include schemaLocation="DeleteINR.xsd"/>
	<element name="DeletePatientRegistrationRequest" type="medicinecard20140501:DeletePatientRegistrationRequestType"/>
	<complexType name="DeletePatientRegistrationRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20120601:PersonIdentifierType"/>
			<element name="DeletedBy" type="medicinecard20130601:ModificatorType" minOccurs="0"/>
			<element name="ReportedBy" type="medicinecard20130601:ModificatorType" minOccurs="0"/>
			<element name="INR" type="medicinecard20140501:DeleteINRType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
