etc/schemas/2014/05/01/GetPatientRegistrationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20140501="http://www.dkma.dk/medicinecard/xml.schema/2014/05/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/05/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" schemaLocation="../../../2012/06/01/PersonIdentifier.xsd"/>
	<include schemaLocation="INR.xsd"/>
	<element name="GetPatientRegistrationResponse" type="medicinecard20140501:GetPatientRegistrationResponseType"/>
	<complexType name="GetPatientRegistrationResponseType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20120601:PersonIdentifierType"/>
			<element name="INR" type="medicinecard20140501:INRType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
