etc/schemas/2015/06/01/AbortEffectuationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PrescriptionMedicationError.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="OrderIdentifier.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="PrescriptionMedicationIdentifier.xsd"/>

	<element name="AbortEffectuationResponse" type="medicinecard20150601:AbortEffectuationResponseType"/>

	<complexType name="AbortEffectuationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">A response to the 'abort effectuation' request, which includes identifier for the prescription medications where the abort succeeded, and an error structure for those where the abort operation failed.</documentation>
			<documentation xml:lang="da-DK">Et svar på requestst 'afbryd ekspedition', som inkluderer identifiers for de receptordinationer hvor ekspedition blev afbrudt med succes, og en fejl-struktur for dem hvor afbryd operationen fejlede.</documentation>
		</annotation>
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="medicinecard20150601:OrganisationIdentifierType"/>
			</choice>
			<element name="PrescriptionMedication" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="Identifier" type="medicinecard20150601:PrescriptionMedicationIdentifierType"/>
						<element name="Order">
							<complexType>
								<sequence>
									<element name="Identifier" type="medicinecard20150601:OrderIdentifierType"/>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="AbortEffectuationFailed" type="medicinecard20150601:PrescriptionMedicationErrorType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
