etc/schemas/2015/06/01/AcknowledgeAquireOrderStatusRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="AquireOrderIdentifier.xsd"/>

	<element name="AcknowledgeAquireOrderStatusRequest" type="medicinecard20150601:AcknowledgeAquireOrderStatusRequestType"/>

	<complexType name="AcknowledgeAquireOrderStatusRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Requst for a pharmacy to indicate that a set of AquireOrderStatuses have been received</documentation>
			<documentation xml:lang="da-DK">Forespørgsel fra et apotek der kvitterer for modtagelsen af svaret på et antal anmodninger om overdragelse</documentation>
		</annotation>
		<sequence>
			<element name="AquireOrderIdentifier" type="medicinecard20150601:AquireOrderIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
