etc/schemas/2015/06/01/AdministrationAccordingToSchemaInLocalSystemForRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DosageTimesDosageEndingUndetermined.xsd"/>
	<include schemaLocation="DosageTimesEndDate.xsd"/>
	<include schemaLocation="DosageTimesStartDate.xsd"/>
	<element name="AdministrationAccordingToSchemaInLocalSystemForRequest" type="medicinecard20150601:AdministrationAccordingToSchemaInLocalSystemForRequestType">
		<annotation>
			<documentation xml:lang="en-GB">If the element exists it indicates that the medication is according to schema in a local system</documentation>
			<documentation xml:lang="da-DK">Hvis elementet findes angives at medicinfordeling er skemalagt i eget system</documentation>
		</annotation>
	</element>
	<complexType name="AdministrationAccordingToSchemaInLocalSystemForRequestType">
		<sequence>
			<choice>
				<element name="StartDate" type="medicinecard20150601:DosageTimesStartDateType"/>
			</choice>
			<choice>
				<element name="EndDate" type="medicinecard20150601:DosageTimesEndDateType"/>
				<element name="DosageEndingUndetermined" type="medicinecard20150601:DosageTimesDosageEndingUndeterminedType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
