etc/schemas/2015/06/01/AquireOrderResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="AquireOrderIdentifier.xsd"/>
	<include schemaLocation="PrescriptionMedicationIdentifier.xsd"/>
	<include schemaLocation="OrderIdentifier.xsd"/>

	<element name="AquireOrderResponse" type="medicinecard20150601:AquireOrderResponseType"/>

	<complexType name="AquireOrderResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response for the request from one Pharmacy to aquire one or more orders issued to another pharmacy</documentation>
			<documentation xml:lang="da-DK">Svar på forespørgslen fra et apotek om at overtage en eller flere bestillinger til et andet apotek</documentation>
		</annotation>
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="medicinecard20150601:OrganisationIdentifierType"/>
			</choice>
			<element name="AquireOrder" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="Identifier" type="medicinecard20150601:AquireOrderIdentifierType"/>
						<element name="PrescriptionMedicationIdentifier" type="medicinecard20150601:PrescriptionMedicationIdentifierType"/>
						<element name="OrderIdentifier" type="medicinecard20150601:OrderIdentifierType"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
</schema>
