etc/schemas/2015/06/01/ATC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"  targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="ATCCode.xsd"/>
	<include schemaLocation="ATCText.xsd"/>
	<element name="ATC" type="medicinecard20150601:ATCType">
		<annotation>
			<documentation xml:lang="en-GB">Information about ATC group</documentation>
			<documentation xml:lang="da-DK">Information om ATC gruppe</documentation>
		</annotation>
	</element>
	<complexType name="ATCType">
		<sequence>
			<element name="Code" type="medicinecard20150601:ATCCodeType"/>
			<?filter nsf="ignore"?>
			<element name="Text" type="medicinecard20150601:ATCTextType"/>
		</sequence>
	</complexType>
</schema>
