etc/schemas/2015/06/01/AttachPrescription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>		
	<include schemaLocation="PrescriptionIdentifier.xsd"/>
	<element name="AttachPrescription" type="medicinecard20150601:AttachPrescriptionType">
		<annotation>
			<documentation xml:lang="en-GB">Contains a drug medication ID and one or more drug prescription IDs which are to be attached</documentation>
			<documentation xml:lang="da-DK">Indeholder et lægemiddelordinations-ID og en eller flere recept-IDer der skal knyttes hertil</documentation>
		</annotation>
	</element>
	<complexType name="AttachPrescriptionType">
		<sequence>
			<element name="DrugMedicationIdentifier" type="medicinecard20150601:DrugMedicationIdentifierType"/>
			<element name="Identifier" type="medicinecard20150601:PrescriptionIdentifierType" maxOccurs="unbounded"/>
			<element name="ModifiedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="ModificationMetadata" type="medicinecard20150601:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
