etc/schemas/2015/06/01/AttachOrDetachPrescriptionMedicationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<element name="AttachOrDetachPrescriptionMedicationResponse" type="medicinecard20150601:AttachOrDetachPrescriptionMedicationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">A response from a request whichs attaches prescription medications to drug medications or detaches prescription medications</documentation>
			<documentation xml:lang="da-DK">Svar fra en forespørgsel der tilknytter receptordinationer til lægemiddelordinationer eller fjerner tilknytningen</documentation>
		</annotation>
	</element>
	<complexType name="AttachOrDetachPrescriptionMedicationResponseType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
			<element name="MedicineCardVersion" type="medicinecard20150601:MedicineCardVersionType"/>
		</sequence>
	</complexType>
</schema>
