etc/schemas/2015/06/01/AttachOrDetachPrescriptionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="AttachPrescription.xsd"/>
	<include schemaLocation="DetachPrescription.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>
	<element name="AttachOrDetachPrescriptionRequest" type="medicinecard20150601:AttachOrDetachPrescriptionRequestType">
		<annotation>
			<documentation xml:lang="en-GB">A request whichs attaches prescriptions to drug medications or detaches prescriptions</documentation>
			<documentation xml:lang="da-DK">En forespørgsel der tilknytter recepter til lægemiddelordinationer eller fjerner tilknytningen</documentation>
		</annotation>
	</element>
	<complexType name="AttachOrDetachPrescriptionRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
			<element name="MedicineCardVersion" type="medicinecard20150601:MedicineCardVersionType"/>
			<element name="ModifiedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="ReportedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="DetachPrescription" type="medicinecard20150601:DetachPrescriptionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="AttachPrescription" type="medicinecard20150601:AttachPrescriptionType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
