etc/schemas/2015/06/01/CancelPrescriptionMedicationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<include schemaLocation="PrescriptionMedicationIdentifier.xsd"/>
	<include schemaLocation="PrescriptionServerError.xsd"/>
	<element name="CancelPrescriptionMedicationResponse" type="medicinecard20150601:CancelPrescriptionMedicationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">TODO</documentation>
			<documentation xml:lang="da-DK">TODO</documentation>
		</annotation>
	</element>
	<complexType name="CancelPrescriptionMedicationResponseType">
		<sequence>
			<sequence>
				<choice>
					<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
					<element name="OrganisationIdentifier" type="medicinecard20150601:OrganisationIdentifierType"/>
				</choice>
				<element name="MedicineCardVersion" type="medicinecard20150601:MedicineCardVersionType"/>
				<element name="VersionMismatchWarning" type="medicinecard20150601:VersionMismatchWarningType" minOccurs="0"/>
				<element name="PrescriptionMedicationIdentifier" type="medicinecard20150601:PrescriptionMedicationIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
				<element name="PrescriptionServerError" type="medicinecard20150601:PrescriptionServerErrorType" minOccurs="0"/>
			</sequence>
		</sequence>
	</complexType>
</schema>
