etc/schemas/2015/06/01/CancelPrescriptionRequestResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="VersionMismatchWarning.xsd"/>
    <element name="CancelPrescriptionRequestResponse" type="medicinecard20150601:CancelPrescriptionRequestResponseType"/>
    <complexType name="CancelPrescriptionRequestResponseType">
        <annotation>
            <documentation xml:lang="en-GB">Response for invalidating one or more prescription requests</documentation>
            <documentation xml:lang="da-DK">Svar på annullering af en eller flere recept anmodninger</documentation>
        </annotation>
        <sequence>
            <element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
            <element name="VersionMismatchWarning" type="medicinecard20150601:VersionMismatchWarningType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
