etc/schemas/2015/06/01/CancelPrescriptionResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<include schemaLocation="PrescriptionIdentifier.xsd"/>
	<include schemaLocation="PrescriptionError.xsd"/>

	<element name="CancelPrescriptionResponse" type="medicinecard20150601:CancelPrescriptionResponseType"/>
	<complexType name="CancelPrescriptionResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response for invalidating one or more prescriptions</documentation>
			<documentation xml:lang="da-DK">Svar på annullering af en eller flere recepter</documentation>
		</annotation>
		<sequence>
			<sequence>
				<choice>
					<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
					<element name="OrganisationIdentifier" type="medicinecard20150601:OrganisationIdentifierType"/>
				</choice>
				<element name="MedicineCardVersion" type="medicinecard20150601:MedicineCardVersionType"/>
				<element name="VersionMismatchWarning" type="medicinecard20150601:VersionMismatchWarningType" minOccurs="0"/>
				<element name="PrescriptionIdentifier" type="medicinecard20150601:PrescriptionIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
				<element name="CancelPrescriptionFailed" type="medicinecard20150601:PrescriptionErrorType" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</sequence>
	</complexType>
</schema>
