etc/schemas/2015/06/01/Content.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<simpleType name="ContentType">
		<annotation>
			<documentation xml:lang="en-GB">Defines the data or action for which the consent applies</documentation>
			<documentation xml:lang="da-DK">Angiver hvad samtykket/værdispringet omhandler</documentation>
		</annotation>
		<union memberTypes="medicinecard20150601:PredefinedContentType medicinecard20150601:UndefinedContentType"/>
	</simpleType>
	<simpleType name="PredefinedContentType">
		<restriction base="medicinecard20150601:UndefinedContentType">
			<enumeration value="MedicineCard"/>
        </restriction>
	</simpleType>
	<simpleType name="UndefinedContentType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="200"/>
		</restriction>
	</simpleType>
</schema>
