etc/schemas/2015/06/01/CreatePharmacyEffectuationOnOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="CreatePharmacyEffectuation.xsd"/>
	<include schemaLocation="OrderIdentifier.xsd"/>
	<include schemaLocation="OrderStatus.xsd"/>

	<complexType name="CreatePharmacyEffectuationOnOrderType">
		<annotation>
			<documentation xml:lang="en-GB">Element for creating a single effectuation on an order</documentation>
			<documentation xml:lang="da-DK">Element til oprettelse af en enkelt effektuering på en bestilling</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="medicinecard20150601:OrderIdentifierType"/>
			<element name="Status" type="medicinecard20150601:OrderStatusType"/>
			<element name="Effectuation" type="medicinecard20150601:CreatePharmacyEffectuationType"/>
		</sequence>
	</complexType>
</schema>
