etc/schemas/2015/06/01/CreateDrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="CreateEffectuation.xsd"/>
    <include schemaLocation="CreatePrescription.xsd"/>
	<include schemaLocation="DosageForRequest.xsd"/>
    <include schemaLocation="FollowUpDates.xsd"/>
	<include schemaLocation="Drug.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="CreateOrUpdateDrugMedicationBeginEndDate.xsd"/>
	<include schemaLocation="IsPrivateDrugMedication.xsd"/>
	<include schemaLocation="Indication.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="Pause.xsd"/>
	<include schemaLocation="PrescriptionIdentifier.xsd"/>
	<include schemaLocation="RouteOfAdministration.xsd"/>
	<include schemaLocation="SubstitutionAllowed.xsd"/>
    <include schemaLocation="ReimbursementClause.xsd"/>
	<element name="CreateDrugMedication" type="medicinecard20150601:CreateDrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Instructions of which drug to use, how much to give (drug dosage), for how long (startdate and enddate), how to administrate it and motivation (indication)</documentation>
			<documentation xml:lang="da-DK">Anvisning af hvilken medicin der skal anvendes (lægemiddel) hvor meget der skal gives (lægemiddeldosering), hvor længe (startdato og slutdato), hvordan den skal tilføres (administrationsvej) og hvorfor (indikation)</documentation>
		</annotation>
	</element>
	<complexType name="CreateDrugMedicationType">
		<sequence>
			<element name="ParentIdentifier" type="medicinecard20150601:DrugMedicationIdentifierType" minOccurs="0"/>
			<element name="CreatedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="ModificationMetadata" type="medicinecard20150601:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="FollowUpDates" type="medicinecard20150601:FollowUpDatesType" minOccurs="0"/>
			<element name="Pause" type="medicinecard20150601:PauseType" minOccurs="0"/>
			<element name="IsPrivateDrugMedication" type="medicinecard20150601:IsPrivateDrugMedicationType" minOccurs="0"/>
			<element name="BeginEndDate" type="medicinecard20150601:CreateOrUpdateDrugMedicationBeginEndDateType"/>
			<element name="Indication" type="medicinecard20150601:IndicationType"/>
			<element name="RouteOfAdministration" type="medicinecard20150601:RouteOfAdministrationType"/>
			<element name="Drug" type="medicinecard20150601:DrugType"/>
			<element name="Dosage" type="medicinecard20150601:DosageForRequestType"/>
			<element name="SubstitutionAllowed" type="medicinecard20150601:SubstitutionAllowedType"/>
			<element name="Effectuation" type="medicinecard20150601:CreateEffectuationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="CreatePrescription" type="medicinecard20150601:CreatePrescriptionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="AttachPrescription" type="medicinecard20150601:PrescriptionIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="ReimbursementClause" type="medicinecard20150601:ReimbursementClauseType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
