etc/schemas/2015/06/01/CreatePrescriptionMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified"
        attributeFormDefault="unqualified">
    <include schemaLocation="Modificator.xsd"/>
    <include schemaLocation="AuthorisationDateTime.xsd"/>
    <include schemaLocation="CreateDoseDispensedPrescriptionDispensing.xsd"/>
    <include schemaLocation="CreateReiteratedPrescriptionDispensing.xsd"/>
    <include schemaLocation="CreateSinglePrescriptionDispensing.xsd"/>
    <include schemaLocation="CreateSinglePrescriptionDispensing.xsd"/>
    <include schemaLocation="Delivery.xsd"/>
    <include schemaLocation="DeliveryInformation.xsd"/>
    <include schemaLocation="DrugMedicationIdentifier.xsd"/>
    <include schemaLocation="OrderInstruction.xsd"/>
    <include schemaLocation="OrderedEffectuationIdentifier.xsd"/>
    <include schemaLocation="Organisation.xsd"/>
    <include schemaLocation="ModificationMetadata.xsd"/>
    <include schemaLocation="SystemName.xsd"/>

    <element name="CreatePrescriptionMedication" type="medicinecard20150101:CreatePrescriptionMedicationType">
        <annotation>
            <documentation xml:lang="en-GB">Request document for creating a
                PrescriptionMedication from a DrugMedication. When used in the service call where the
                drug medication is created the DrugMedicationIdentifer may be omitted, otherwise it is
                needed.
            </documentation>
            <documentation xml:lang="da-DK">Request-dokument til at oprette en
                receptordination fra en lægemiddelordination. Når dette element anvendes i servicen
                til oprettelse af en lægemiddelordination udelades DrugMedicationIdentifer, i alle
                andre tilfælde er det nødvendigt.
            </documentation>
        </annotation>
    </element>
    <complexType name="CreatePrescriptionMedicationType">
        <sequence>
            <element name="DrugMedicationIdentifier" type="medicinecard20150101:DrugMedicationIdentifierType"
                     minOccurs="0"/>
            <element name="OrderedEffectuationIdentifier" type="medicinecard20150101:OrderedEffectuationIdentifierType"
                     minOccurs="0"/>
            <element name="CreatedBy" type="medicinecard20150101:ModificatorType" minOccurs="0"/>
            <element name="ModificationMetadata" type="medicinecard20150101:ModificationMetadataType" minOccurs="0"/>
            <element name="AuthorisationDateTime" type="medicinecard20150101:AuthorisationDateTimeType"/>
            <element name="SystemName" type="medicinecard20150101:SystemNameType"/>
            <element name="ValidFromDate" type="medicinecard20140601:ValidDateType" minOccurs="0"/>
            <element name="ValidToDate" type="medicinecard20140601:ValidDateType"/>
            <element name="Dosage" type="medicinecard20150101:DosageType" minOccurs="0"/>
            <choice>
                <element name="PackageRestriction" type="medicinecard20140601:PackageRestrictionType"/>
                <element name="DoseDispensedRestriction" type="medicinecard20140601:DoseDispensedRestrictionType"/>
            </choice>
            <element name="Order" type="medicinecard20150601:OrderType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
