etc/schemas/2015/06/01/CreatedPrescriptionMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationVersion.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<include schemaLocation="PrescriptionMedicationIdentifier.xsd"/>
	<element name="CreatedPrescriptionMedication" type="medicinecard20150601:CreatedPrescriptionMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Document containing one or more prescriptions medications created on a drug prescription</documentation>
			<documentation xml:lang="da-DK">Dokument der indeholder en eller flere receptordinationer der er oprettet på en lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="CreatedPrescriptionMedicationType">
		<sequence>
			<element name="DrugMedicationIdentifier" type="medicinecard20150601:DrugMedicationIdentifierType"/>
			<element name="PrescriptionMedicationIdentifier" type="medicinecard20150601:PrescriptionMedicationIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
