etc/schemas/2015/06/01/CreateOrderPrescriptionMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="CreateOrder.xsd"/>
	<include schemaLocation="PrescriptionMedicationIdentifier.xsd"/>

	<complexType name="CreateOrderPrescriptionMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Element for creating an order for a pharmacy on a given prescripionmedication</documentation>
			<documentation xml:lang="da-DK">Element til at oprette en bestilling til et apotek om udlevering på en given receptordination</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="medicinecard20150601:PrescriptionMedicationIdentifierType"/>
			<element name="Order" type="medicinecard20150601:CreateOrderType"/>
		</sequence>
	</complexType>
</schema>
