etc/schemas/2015/06/01/CreateAndEffectuatePrescription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="AuthorisationDateTime.xsd"/>
	<include schemaLocation="CreateDoseDispensedRestriction.xsd"/>
	<include schemaLocation="DosageText.xsd"/>
	<include schemaLocation="Indication.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>	
	<include schemaLocation="CreateOrderAndEffectuation.xsd"/>
	<include schemaLocation="PackageRestriction.xsd"/>
	<include schemaLocation="ReimbursementClause.xsd"/>
	<include schemaLocation="SubstitutionAllowed.xsd"/>
	<include schemaLocation="SupplementaryInformation.xsd"/>
	<include schemaLocation="SystemName.xsd"/>

	<complexType name="CreateAndEffectuatePrescriptionType">
		<annotation>
			<documentation xml:lang="en-GB">Request document for creating a Prescription together with an effectuation</documentation>
			<documentation xml:lang="da-DK">Request-dokument til at oprette en recept med en tilhørende udlevering</documentation>
		</annotation>
		<sequence>
			<element name="ModificationMetadata" type="medicinecard20150601:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="AuthorisationDateTime" type="medicinecard20150601:AuthorisationDateTimeType"/>
			<element name="SystemName" type="medicinecard20150601:SystemNameType"/>
            <element name="ReimbursementClause" type="medicinecard20150601:ReimbursementClauseType" minOccurs="0"/>
			<element name="Drug" type="medicinecard20150601:DrugType" minOccurs="0"/>
            <choice>
                <element name="PackageRestriction" type="medicinecard20150601:PackageRestrictionType"/>
                <element name="DoseDispensedRestriction" type="medicinecard20150601:CreateDoseDispensedRestrictionType"/>
			</choice>
			<element name="Indication" type="medicinecard20150601:IndicationType" minOccurs="0"/>
			<element name="DosageText" type="medicinecard20150601:DosageTextType" minOccurs="0"/>
			<element name="SubstitutionAllowed" type="medicinecard20150601:SubstitutionAllowedType"/>
			<element name="SupplementaryInformation" type="medicinecard20150601:SupplementaryInformationType" minOccurs="0"/>
            <element name="Order" type="medicinecard20150601:CreateOrderAndEffectuationType"/>
		</sequence>
	</complexType>
</schema>
