etc/schemas/2015/06/01/CreatePharmacyEffectuationOnPrescription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PrescriptionIdentifier.xsd"/>
	<include schemaLocation="OrderIdentifier.xsd"/>
	<include schemaLocation="CreatePharmacyEffectuation.xsd"/>
	<include schemaLocation="TerminatePrescription.xsd"></include>

	<complexType name="CreatePharmacyEffectuationOnPrescriptionType">
		<annotation>
			<documentation xml:lang="en-GB">Element for creating a single effectuation on a prescription</documentation>
			<documentation xml:lang="da-DK">Element til oprettelse af en enkelt effektuering på en recept</documentation>
		</annotation>
		<sequence>
			<element name="PrescriptionIdentifier" type="medicinecard20150601:PrescriptionIdentifierType"/>
			<element name="OrderIdentifier" type="medicinecard20150601:OrderIdentifierType"/>
			<element name="Effectuation" type="medicinecard20150601:CreatePharmacyEffectuationType"/>
			<element name="Terminate" type="medicinecard20150601:TerminatePrescriptionType"/>
		</sequence>
	</complexType>
</schema>
