etc/schemas/2015/06/01/CreateDrugForm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DrugFormText.xsd"/>
	<include schemaLocation="DrugFormCode.xsd"/>
	<complexType name="CreateDrugFormType">
		<sequence>
			<element name="Code" type="medicinecard20150601:DrugFormCodeType"/>
			<element name="Text" type="medicinecard20150601:DrugFormTextType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
