etc/schemas/2015/06/01/CreateAndEffectuatePrescriptionResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="PrescriptionIdentifier.xsd"/>
	<include schemaLocation="OrderIdentifier.xsd"/>
	<include schemaLocation="EffectuationIdentifier.xsd"/>

	<element name="CreateAndEffectuatePrescriptionResponse" type="medicinecard20150601:CreateAndEffectuatePrescriptionResponseType"/>

	<complexType name="CreateAndEffectuatePrescriptionResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response for creating one or more prescriptions together with effectuations</documentation>
			<documentation xml:lang="da-DK">Svar på oprettelse af en eller flere recepter med tilhørende udleveringer </documentation>
		</annotation>
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="medicinecard20150601:OrganisationIdentifierType"/>
			</choice>
			<element name="Prescription" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="PrescriptionIdentifier" type="medicinecard20150601:PrescriptionIdentifierType"/>
						<element name="OrderIdentifier" type="medicinecard20150601:OrderIdentifierType"/>
						<element name="EffectuationIdentifier" type="medicinecard20150601:EffectuationIdentifierType"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
</schema>
