etc/schemas/2015/06/01/CreateAndEffectuatePrescriptionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="CreateAndEffectuatePrescription.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="PatientWithoutCPR.xsd"/>
	<element name="CreateAndEffectuatePrescriptionRequest" type="medicinecard20150601:CreateAndEffectuatePrescriptionRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document containing one or more documents for creating prescriptions together with effectuations in one go</documentation>
			<documentation xml:lang="da-DK">Request-dokument der indeholder en eller flere dokumenter til at oprette recepter med tilhørende udleveringer</documentation>
		</annotation>
	</element>
	<complexType name="CreateAndEffectuatePrescriptionRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="medicinecard20150601:OrganisationIdentifierType"/>
				<element name="Patient" type="medicinecard20150601:PatientWithoutCPRType"/> 				
			</choice>
			<element name="CreatedBy" type="medicinecard20150601:ModificatorType" />
			<element name="EffectuatedBy" type="medicinecard20150601:ModificatorType" />
			<element name="Prescription" type="medicinecard20150601:CreateAndEffectuatePrescriptionType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
