etc/schemas/2015/06/01/CreateOrderResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="PrescriptionMedicationIdentifier.xsd"/>
	<include schemaLocation="OrderIdentifier.xsd"/>

	<element name="CreateOrderResponse" type="medicinecard20150601:CreateOrderResponseType"/>

	<complexType name="CreateOrderResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response for creating one or more orders for a pharmacy on prescripionmedications</documentation>
			<documentation xml:lang="da-DK">Svar på oprettelse af en eller flere bestillinger til et apotek om udlevering på receptordinationer </documentation>
		</annotation>
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="medicinecard20150601:OrganisationIdentifierType"/>
			</choice>
			<element name="Order" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="PrescriptionMedicationIdentifier" type="medicinecard20150601:PrescriptionMedicationIdentifierType"/>
						<element name="OrderIdentifier" type="medicinecard20150601:OrderIdentifierType"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
</schema>
