etc/schemas/2015/06/01/CreateSubstitutedDrug.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="ATC.xsd"/>
	<include schemaLocation="CreateDrugForm.xsd"/>
	<include schemaLocation="DrugIdentifier.xsd"/>
	<include schemaLocation="DrugName.xsd"/>
	<include schemaLocation="CreateDrugStrength.xsd"/>
	<include schemaLocation="Substances.xsd"/>

	<complexType name="CreateSubstitutedDrugType">
		<sequence>
			<element name="ATC" type="medicinecard20150601:ATCType" minOccurs="0"/>
			<choice>
				<sequence>
					<element name="Identifier" type="medicinecard20150601:DrugIdentifierType"/>
					<element name="Name" type="medicinecard20150601:DrugNameType"/>
				</sequence>
			</choice>
			<element name="Form" type="medicinecard20150601:CreateDrugFormType" minOccurs="0"/>
			<element name="Strength" type="medicinecard20150601:CreateDrugStrengthType" minOccurs="0"/>
			<element name="Substances" type="medicinecard20150601:SubstancesType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
