etc/schemas/2015/06/01/CreatePrescriptionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="CreatePrescription.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
    <include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="MedicineCardVersion.xsd"/>
	<element name="CreatePrescriptionRequest" type="medicinecard20150601:CreatePrescriptionRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document containing one or more documents for creating prescriptions from drug medications</documentation>
			<documentation xml:lang="da-DK">Request-dokument der indeholder en eller flere dokumenter til at oprette recepter fra lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="CreatePrescriptionRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
			<element name="MedicineCardVersion" type="medicinecard20150601:MedicineCardVersionType"/>
			<element name="CreatedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="ReportedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="Prescription" type="medicinecard20150601:CreatePrescriptionType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
