etc/schemas/2015/06/01/CreateDrugMedicationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="CreateDrugMedication.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>
	<element name="CreateDrugMedicationRequest" type="medicinecard20150601:CreateDrugMedicationRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request for a request which creates a new drug prescription</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel der opretter en ny lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="CreateDrugMedicationRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
			<element name="MedicineCardVersion" type="medicinecard20150601:MedicineCardVersionType"/>
			<element name="CreatedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="ReportedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="DrugMedication" type="medicinecard20150601:CreateDrugMedicationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
