etc/schemas/2015/06/01/CreatePrescriptionMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="AuthorisationDateTime.xsd"/>
	<include schemaLocation="DoseDispensedRestriction.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="CreateOrder.xsd"/>
	<include schemaLocation="OrderedEffectuationIdentifier.xsd"/>
	<include schemaLocation="PackageRestriction.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="SystemName.xsd"/>
	<include schemaLocation="ValidFromDate.xsd"/>
	<include schemaLocation="ValidToDate.xsd"/>

	<element name="CreatePrescriptionMedication" type="medicinecard20150601:CreatePrescriptionMedicationType">
	</element>
	<complexType name="CreatePrescriptionMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Request document for creating a PrescriptionMedication from a DrugMedication. When used in the service call where the drug medication is created the DrugMedicationIdentifer may be omitted, otherwise it is needed.</documentation>
			<documentation xml:lang="da-DK">Request-dokument til at oprette en receptordination fra en lægemiddelordination. Når dette element anvendes i servicen til oprettelse af en lægemiddelordination udelades DrugMedicationIdentifer, i alle andre tilfælde er det nødvendigt.</documentation>
		</annotation>
		<sequence>
			<element name="DrugMedicationIdentifier" type="medicinecard20150601:DrugMedicationIdentifierType" minOccurs="0"/>
			<element name="OrderedEffectuationIdentifier" type="medicinecard20150601:OrderedEffectuationIdentifierType" minOccurs="0"/>
			<element name="CreatedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="ModificationMetadata" type="medicinecard20150601:ModificationMetadataType" minOccurs="0"/>
			<element name="AuthorisationDateTime" type="medicinecard20150601:AuthorisationDateTimeType"/>
			<element name="SystemName" type="medicinecard20150601:SystemNameType"/>
			<element name="ValidFromDate" type="medicinecard20150601:ValidFromDateType" minOccurs="0"/>
			<element name="ValidToDate" type="medicinecard20150601:ValidToDateType" minOccurs="0"/>
			<choice>
				<element name="PackageRestriction" type="medicinecard20150601:PackageRestrictionType"/>
				<element name="DoseDispensedRestriction" type="medicinecard20150601:DoseDispensedRestrictionType"/>
			</choice>
			<element name="Order" type="medicinecard20150601:CreateOrderType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
