etc/schemas/2015/06/01/CreateOrderRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="CreateOrderPrescription.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>

	<element name="CreateOrderRequest" type="medicinecard20150601:CreateOrderRequestType"/>

	<complexType name="CreateOrderRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request for creating one or more orders for a pharmacy on prescripionmedications</documentation>
			<documentation xml:lang="da-DK">Request til at oprette en eller flere bestillinger til et apotek om udlevering på receptordinationer </documentation>
		</annotation>
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="medicinecard20150601:OrganisationIdentifierType"/>
			</choice>
			<element name="CreatedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="ReportedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="Prescription" type="medicinecard20150601:CreateOrderPrescriptionType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
