etc/schemas/2015/06/01/CreatePrescriptionOrderEffectuationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="CreatePrescriptionOrderEffectuation.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<element name="CreatePrescriptionOrderEffectuationRequest" type="medicinecard20150601:CreatePrescriptionOrderEffectuationRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document containing one or more documents for creating prescription medications together with effectuations in one go</documentation>
			<documentation xml:lang="da-DK">Request-dokument der indeholder en eller flere dokumenter til at oprette receptordinationer med tilhørende udleveringer</documentation>
		</annotation>
	</element>
	<complexType name="CreatePrescriptionOrderEffectuationRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="medicinecard20150601:OrganisationIdentifierType"/>
			</choice>
			<element name="CreatedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="ReportedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="Prescription" type="medicinecard20150601:CreatePrescriptionOrderEffectuationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
