etc/schemas/2015/06/01/CreatePrescriptionWithoutCPRResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"  targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PrescriptionIdentifier.xsd"/>
	<include schemaLocation="OrderIdentifier.xsd"/>
	<element name="CreatePrescriptionWithoutCPRResponse" type="medicinecard20150601:CreatePrescriptionWithoutCPRResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response document containing one or more responses from creating prescriptions for persons without CPR</documentation>
			<documentation xml:lang="da-DK">Response-dokument der indeholder en eller flere svar på oprettelse recepter til personer uden CPR</documentation>
		</annotation>
	</element>
	<complexType name="CreatePrescriptionWithoutCPRResponseType">
		<sequence>
			<element name="Identifier" type="medicinecard20150601:PrescriptionIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
