etc/schemas/2015/06/01/CreatePatientRegistrationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified"
        attributeFormDefault="unqualified">
    <include schemaLocation="PatientRegistrationIdentifier.xsd"/>
    <element name="CreatePatientRegistrationResponse" type="medicinecard20150601:CreatePatientRegistrationResponseType">
        <annotation>
            <documentation xml:lang="en-GB">Create response</documentation>
            <documentation xml:lang="da-DK">Opret svar</documentation>
        </annotation>
    </element>
    <complexType name="CreatePatientRegistrationResponseType">
        <sequence>
            <element name="Identifier" type="medicinecard20150601:PatientRegistrationIdentifierType" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
