etc/schemas/2015/06/01/CreatePrescriptionRequestRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="PrescriptionRequestToCreate.xsd"/>
	<element name="CreatePrescriptionRequestRequest" type="medicinecard20150601:CreatePrescriptionRequestRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Create a prescription request</documentation>
			<documentation xml:lang="da-DK">Opret en receptanmodning</documentation>
		</annotation>
	</element>
	<complexType name="CreatePrescriptionRequestRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
			<element name="MedicineCardVersion" type="medicinecard20150601:MedicineCardVersionType"/>
			<element name="OrderedBy" type="medicinecard20150601:ModificatorType"/>
			<element name="ReportedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="PrescriptionRequest" type="medicinecard20150601:PrescriptionRequestToCreateType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
