etc/schemas/2015/06/01/CreatePrescriptionWithoutCPRRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="UnattachedPrescription.xsd"/>
	<include schemaLocation="PatientWithoutCPR.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<element name="CreatePrescriptionWithoutCPRRequest" type="medicinecard20150601:CreatePrescriptionWithoutCPRRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document containing one or more documents for creating prescriptions from drug medications</documentation>
			<documentation xml:lang="da-DK">Request-dokument der indeholder en eller flere dokumenter til at oprette recepter fra lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="CreatePrescriptionWithoutCPRRequestType">
		<sequence>
			<element name="CreatedBy" type="medicinecard20150601:ModificatorType"/>
			<element name="ReportedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="Patient" type="medicinecard20150601:PatientWithoutCPRType"/>
			<element name="Prescription" type="medicinecard20150601:UnattachedPrescriptionType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
