etc/schemas/2015/06/01/CreatePharmacyEffectuationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="CreatePharmacyEffectuationOnPrescriptionMedication.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>

	<element name="CreatePharmacyEffectuationRequest" type="medicinecard20150601:CreatePharmacyEffectuationRequestType"/>

	<complexType name="CreatePharmacyEffectuationRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request for creating one or more effectuation by a pharmacy on prescripionmedications</documentation>
			<documentation xml:lang="da-DK">Request til at oprette en eller flere effektueringer af et apotek på receptordinationer </documentation>
		</annotation>
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="medicinecard20150601:OrganisationIdentifierType"/>
			</choice>
			<element name="CreatedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="PrescriptionMedication" type="medicinecard20150601:CreatePharmacyEffectuationOnPrescriptionMedicationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
