etc/schemas/2015/06/01/CreatePrescriptionRequestResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="CreatedPrescriptionRequest.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<element name="CreatePrescriptionRequestResponse" type="medicinecard20150601:CreatePrescriptionRequestResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Created a prescription request</documentation>
			<documentation xml:lang="da-DK">Oprettede en receptanmodning</documentation>
		</annotation>
	</element>
	<complexType name="CreatePrescriptionRequestResponseType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType" />
            <element name="MedicineCardVersion" type="medicinecard20150601:MedicineCardVersionType"/>
            <element name="VersionMismatchWarning" type="medicinecard20150601:VersionMismatchWarningType" minOccurs="0"/>
			<element name="PrescriptionRequest" type="medicinecard20150601:CreatedPrescriptionRequestType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
