etc/schemas/2015/06/01/DeliverySite.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20120601="http://www.dkma.dk/medicinecard/xml.schema/2012/06/01" xmlns:medicinecard20130601="http://www.dkma.dk/medicinecard/xml.schema/2013/06/01" xmlns:medicinecard20140601="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2014/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="ShortOrganisationName.xsd"/>
	<include schemaLocation="OrganisationName.xsd"/>
	<include schemaLocation="AddressLine.xsd"/>
	<include schemaLocation="TelephoneNumber.xsd"/>
	<include schemaLocation="EmailAddress.xsd"/>
	<include schemaLocation="OrganisationType.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="ValidDate.xsd"/>
	<complexType name="DeliverySiteType">
		<sequence>
			<element name="ShortName" type="medicinecard20140601:ShortOrganisationNameType"/>
			<element name="Name" type="medicinecard20120601:OrganisationNameType" minOccurs="0"/>
			<element name="AddressLine" type="medicinecard20140601:AddressLineType" minOccurs="0" maxOccurs="5"/>
			<element name="TelephoneNumber" type="medicinecard20120601:TelephoneNumberType" minOccurs="0"/>
			<element name="EmailAddress" type="medicinecard20120601:EmailAddressType" minOccurs="0"/>
			<element name="Type" type="medicinecard20140601:OrganisationTypeType"/>
			<element name="Identifier" type="medicinecard20140601:OrganisationIdentifierType"/>
			<element name="ValidFrom" type="medicinecard20140601:ValidDateType"/>
			<element name="ValidTo" type="medicinecard20140601:ValidDateType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
