etc/schemas/2015/06/01/Delivery.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DeliveryPriority.xsd"/>
	<include schemaLocation="StreetName.xsd"/>
	<include schemaLocation="PseudoAddress.xsd"/>
	<include schemaLocation="PostCode.xsd"/>
	<include schemaLocation="ContactName.xsd"/>
    <include schemaLocation="DeliverySite.xsd"/>
    <include schemaLocation="ExpectedDeliveryDateTime.xsd"/>
    <include schemaLocation="StatusInformation.xsd"/>
    <include schemaLocation="TrackingID.xsd"/>
    <include schemaLocation="TrackingSource.xsd"/>
	<element name="Delivery" type="medicinecard20150601::DeliveryType">
		<annotation>
			<documentation xml:lang="en-GB">Delivery information</documentation>
			<documentation xml:lang="da-DK">Leveringsinformation</documentation>
		</annotation>
	</element>
	<complexType name="DeliveryType">
		<sequence>
			<element name="Priority" type="medicinecard20150601::DeliveryPriorityType"/>
            <choice>
                <sequence>
                    <choice minOccurs="0">
                        <element name="StreetName" type="medicinecard20150601::StreetNameType"/>
                        <element name="PseudoAddress" type="medicinecard20150601::PseudoAddressType"/>
                    </choice>
                    <element name="PostCode" type="medicinecard20150601::PostCodeType" minOccurs="0"/>
                    <element name="ContactName" type="medicinecard20150601::ContactNameType" minOccurs="0"/>
                </sequence>
                <element name="DeliverySite" type="medicinecard20150601:DeliveryType" minOccurs="0"/>
            </choice>
            <element name="ExpectedDeliveryDateTime" type="medicinecard20150601:ExpectedDeliveryDateTimeType"/>
            <element name="StatusInformation" type="medicinecard20150601:StatusInformationType"/>
            <element name="TrackingID" type="medicinecard20150601:TrackingIDType"/>
            <element name="TrackingSource" type="medicinecard20150601:TrackingSourceType"/>
		</sequence>
	</complexType>
</schema>
