etc/schemas/2015/06/01/DetachPrescription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>	
	<include schemaLocation="PrescriptionIdentifier.xsd"/>
	<element name="DetachPrescription" type="medicinecard20150601:DetachPrescriptionType">
		<annotation>
			<documentation xml:lang="en-GB">Contains one or more drug prescription IDs which are to be attached from the drug medications where they currently are detached</documentation>
			<documentation xml:lang="da-DK">Indeholder en eller flere recept-IDer hvor tilknytningen til lægmidlerne skal ophæves</documentation>
		</annotation>
	</element>
	<complexType name="DetachPrescriptionType">
		<sequence>
			<element name="Identifier" type="medicinecard20150601:PrescriptionIdentifierType" maxOccurs="unbounded"/>
			<element name="ModifiedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="ModificationMetadata" type="medicinecard20150601:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
