etc/schemas/2015/06/01/DosageFreeTextForRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DosageFreeTextText.xsd"/>
	<include schemaLocation="DosageTimesDosageEndingUndetermined.xsd"/>
	<include schemaLocation="DosageTimesEndDate.xsd"/>
	<include schemaLocation="DosageTimesStartDate.xsd"/>
	<element name="DosageFreeTextForRequest" type="medicinecard20150601:DosageFreeTextForRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Free text for dosage</documentation>
			<documentation xml:lang="da-DK">Fritekst for dosering</documentation>
		</annotation>
	</element>
	<complexType name="DosageFreeTextForRequestType">
		<sequence>
			<choice>
				<element name="StartDate" type="medicinecard20150601:DosageTimesStartDateType"/>
			</choice>
			<choice>
				<element name="EndDate" type="medicinecard20150601:DosageTimesEndDateType"/>
				<element name="DosageEndingUndetermined" type="medicinecard20150601:DosageTimesDosageEndingUndeterminedType"/>
			</choice>
			<element name="Text" type="medicinecard20150601:DosageFreeTextTextType"/>
		</sequence>
	</complexType>
</schema>
