etc/schemas/2015/06/01/DosageForResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DosageFreeTextForResponse.xsd"/>
	<include schemaLocation="DosageStructuresForResponse.xsd"/>
	<include schemaLocation="DosageType.xsd"/>
	<include schemaLocation="AdministrationAccordingToSchemaInLocalSystemForResponse.xsd"/>
	<element name="DosageForResponse" type="medicinecard20150601:DosageForResponseType">
		<annotation>
			<documentation xml:lang="en-GB">How often and when the drug should be given</documentation>
			<documentation xml:lang="da-DK">Angivelse af hvor ofte og hvornår et lægemiddel skal gives</documentation>
		</annotation>
	</element>
	<complexType name="DosageForResponseType">
		<sequence>
			<choice>
				<sequence>
					<choice>
						<element name="UnitText" type="medicinecard20150601:DosageQuantityUnitTextType" minOccurs="0" maxOccurs="1"/>
						<element name="UnitTexts" type="medicinecard20150601:DosageQuantityUnitTextsType" minOccurs="0" maxOccurs="1"/>
					</choice>
					<element name="StructuresFixed" type="medicinecard20150601:DosageStructuresForResponseType" minOccurs="0" maxOccurs="1"/>
					<element name="StructuresAccordingToNeed" type="medicinecard20150601:DosageStructuresForResponseType" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<element name="FreeText" type="medicinecard20150601:DosageFreeTextForResponseType"/>
				<element name="AdministrationAccordingToSchemaInLocalSystem" type="medicinecard20150601:AdministrationAccordingToSchemaInLocalSystemForResponseType"/>
			</choice>
			<element name="Type" type="medicinecard20150601:DosageTypeType"/>
		</sequence>
	</complexType>
</schema>
