etc/schemas/2015/06/01/DosageStructuresForRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="EmptyDosageStructure.xsd"/>
	<include schemaLocation="DosageStructureForRequest.xsd"/>
	<element name="DosageStructuresForRequest" type="medicinecard20150601:DosageStructuresForRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Description of the dosage times of a treatment</documentation>
			<documentation xml:lang="da-DK">Beskrivelse af doseringstidspunkter for en behandling</documentation>
		</annotation>
	</element>
	<complexType name="DosageStructuresForRequestType">
		<sequence>
			<choice minOccurs="1" maxOccurs="10">
				<element name="Structure" type="medicinecard20150601:DosageStructureForRequestType"/>
				<element name="EmptyStructure" type="medicinecard20150601:EmptyDosageStructureType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
