etc/schemas/2015/06/01/DosageStructuresForResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DosageStructureForResponse.xsd"/>
	<include schemaLocation="EmptyDosageStructure.xsd"/>
	<element name="DosageStructuresForResponse" type="medicinecard20150601:DosageStructuresForResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Description of the dosage times of a treatment</documentation>
			<documentation xml:lang="da-DK">Beskrivelse af doseringstidspunkter for en behandling</documentation>
		</annotation>
	</element>
	<complexType name="DosageStructuresForResponseType">
		<sequence>
			<choice maxOccurs="unbounded">
				<element name="EmptyStructure" type="medicinecard20150601:EmptyDosageStructureType"/>
				<element name="Structure" type="medicinecard20150601:DosageStructureForResponseType"/>
			</choice>
			<element name="DosageTranslationCombined" type="medicinecard20150601:DosageTranslationType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
