etc/schemas/2015/06/01/DoseDispensing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="Organisation.xsd"/>
    <include schemaLocation="DoseDispensingDate.xsd"/>
    <include schemaLocation="DoseDispensingDateTime.xsd"/>
    <include schemaLocation="ProductionDay.xsd"/>
    <include schemaLocation="PackingGroup.xsd"/>

    <complexType name="DoseDispensingType">
        <sequence>
            <element name="PackedAtOrganisation" type="medicinecard20150601:OrganisationType"/>
            <element name="DeadlineDateTime" type="medicinecard20150601:DoseDispensingDateTimeType"/>
            <element name="ExpectedFirstDosageDate" type="medicinecard20150601:DoseDispensingDateType"/>
            <element name="ExpectedLastDosageDate" type="medicinecard20150601:DoseDispensingDateType"/>
            <element name="ProductionDay" type="medicinecard20150601:ProductionDayType" minOccurs="0"/>
            <element name="PackingGroup" type="medicinecard20150601:PackingGroupType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
