etc/schemas/2015/06/01/DoseDispensingOnHold.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <include schemaLocation="DoseDispensingOnHoldStartDate.xsd"/>
    <include schemaLocation="DoseDispensingOnHoldEndDate.xsd"/>

    <complexType name="DoseDispensingOnHoldType">
        <annotation>
            <documentation xml:lang="en-GB">On hold period for dose dispensing</documentation>
            <documentation xml:lang="da-DK">Sat i bero periode for dosisdispenseringskort</documentation>
        </annotation>
        <sequence>
            <element name="StartDate" type="medicinecard20150601:DoseDispensingOnHoldStartDateType"/>
            <element name="EndDate" type="medicinecard20150601:DoseDispensingOnHoldEndDateType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
