etc/schemas/2015/06/01/DoseDispensedMedicationIdentifier.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <include schemaLocation="Source.xsd"/>

    <complexType name="DoseDispensedMedicationIdentifierType">
        <annotation>
            <documentation xml:lang="en-GB">Identification of the dose dispensed medication</documentation>
            <documentation xml:lang="da-DK">Identifikation af det lægemiddelordinationen</documentation>
        </annotation>
        <simpleContent>
            <extension base="medicinecard20150601:DoseDispensedMedicationIdentifierValueType">
                <attribute name="source" type="medicinecard20150601:DoseDispensedMedicationIdentifierSourceType" use="required"/>
            </extension>
        </simpleContent>
    </complexType>

    <simpleType name="DoseDispensedMedicationIdentifierValueType">
        <restriction base="long">
            <minInclusive value="1"/>
        </restriction>
    </simpleType>

    <simpleType name="DoseDispensedMedicationIdentifierSourceType">
        <union memberTypes="medicinecard20150601:DoseDispensedMedicationIdentifierPredefinedSourceType medicinecard20150601:UndefinedSourceType"/>
    </simpleType>

    <simpleType name="DoseDispensedMedicationIdentifierPredefinedSourceType">
        <restriction base="medicinecard20150601:UndefinedSourceType">
            <enumeration value="DrugMedication"/>
            <enumeration value="OtherDoseDispensedMedication"/>   <!-- Nødvendig? Valg af navn? -->
        </restriction>
    </simpleType>
</schema>
