etc/schemas/2015/06/01/DoseDispensingCard.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <include schemaLocation="Delivery.xsd"/>
    <include schemaLocation="RequestDateTime.xsd"/>
    <include schemaLocation="PackingGroupIdentifier.xsd"/>
    <include schemaLocation="PackingGroup.xsd"/>
    <include schemaLocation="ProductionDay.xsd"/>
    <include schemaLocation="DoseDispensingOnHold.xsd"/>
    <include schemaLocation="DoseDispensingPeriod.xsd"/>

    <complexType name="DoseDispensingCardType">
        <annotation>
            <documentation xml:lang="en-GB">Dose dispensing card for a specific person, which can contain one or more dose dispensing periods</documentation>
            <documentation xml:lang="da-DK">Dosisdispenseringskort for en given person, der kan indeholde en eller flere dosisdispenseringsperioder</documentation>
        </annotation>
        <sequence>
            <element name="Delivery" type="medicinecard20150601:DeliveryType" minOccurs="0"/>
            <element name="PackingGroupIdentifier" type="medicinecard20150601:PackingGroupIdentifierType" minOccurs="0"/>
            <element name="PackingGroupName" type="medicinecard20150601:PackingGroupType" minOccurs="0"/>
            <element name="OrderedAtPharmacy" type="medicinecard20150601:OrganisationType"/>
            <element name="PackedAtOrganisation" type="medicinecard20150601:OrganisationType" minOccurs="0"/>
            <element name="DoseDispensingOnHold" type="medicinecard20150601:DoseDispensingOnHoldType" minOccurs="0"/>
            <element name="Period" type="medicinecard20150601:DoseDispensingPeriodType" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
