etc/schemas/2015/06/01/DoseDispensed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified"
        attributeFormDefault="unqualified">
    <include schemaLocation="DoseQuantity.xsd"/>
    <include schemaLocation="DosageQuantityUnitText.xsd"/>
    <include schemaLocation="Drug.xsd"/>
    <include schemaLocation="DoseDispensing.xsd"/>

    <element name="DoseDispensed" type="medicinecard20150601:DoseDispensedType">
        <annotation>
            <documentation xml:lang="en-GB">Dose dispensed effectuation details</documentation>
            <documentation xml:lang="da-DK">Detaljer for dosisdispenseret effektuering</documentation>
        </annotation>
    </element>
    <complexType name="DoseDispensedType">
        <sequence>
            <element name="DoseQuantity" type="medicinecard20150601:DoseQuantityType"/>
            <element name="DosageQuantityUnitText" type="medicinecard20150601:DosageQuantityUnitTextType"/>
            <element name="SubstitutedDrug" type="medicinecard20150601:DrugType" minOccurs="0"/>
            <element name="DoseDispensing" type="medicinecard20150601:DoseDispensingType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
