etc/schemas/2015/06/01/DoseDispensingPeriod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <include schemaLocation="DoseDispensingPeriodStartDate.xsd"/>
    <include schemaLocation="DoseDispensingPeriodEndDate.xsd"/>
    <include schemaLocation="DoseDispensingDeadline.xsd"/>
    <include schemaLocation="DoseDispensedEffectuationDate.xsd"/>
    <include schemaLocation="DoseDispensedMedicationWithNegativeConsent.xsd"/>
    <include schemaLocation="DoseDispensedMedication.xsd"/>
    <include schemaLocation="DoseDispensingDetailedSpecification.xsd"/>

    <complexType name="DoseDispensingPeriodType">
        <annotation>
            <documentation xml:lang="en-GB">Dose dispensing period</documentation>
            <documentation xml:lang="da-DK">Dosisdispenseringsperiode</documentation>
        </annotation>
        <sequence>
            <element name="StartDate" type="medicinecard20150601:DoseDispensingPeriodStartDateType" minOccurs="0"/>
            <element name="EndDate" type="medicinecard20150601:DoseDispensingPeriodEndDateType" minOccurs="0"/>
            <element name="Deadline" type="medicinecard20150601:DoseDispensingDeadlineType" minOccurs="0"/>
            <element name="EffectuationDate" type="medicinecard20150601:DoseDispensedEffectuationDateType" minOccurs="0"/>
            <element name="DoseDispensedMedicationWithNegativeConsent" type="medicinecard20150601:DoseDispensedMedicationWithNegativeConsentType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="DoseDispensedMedication" type="medicinecard20150601:DoseDispensedMedicationType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="DetailedSpecification" type="medicinecard20150601:DoseDispensingDetailedSpecificationType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
