etc/schemas/2015/06/01/DrugMedicationBeginEndDate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DrugMedicationCreatedDateTime.xsd"/>
	<include schemaLocation="DrugMedicationTreatmentStartDate.xsd"/>
	<include schemaLocation="DrugMedicationTreatmentStartedPreviously.xsd"/>
	<include schemaLocation="DrugMedicationTreatmentEndDate.xsd"/>
	<include schemaLocation="DrugMedicationTreatmentEndingUndetermined.xsd"/>
	<element name="DrugMedicationBeginEndDate" type="medicinecard20150601:DrugMedicationBeginEndDateType">
		<annotation>
			<documentation xml:lang="en-GB">Indicates a periode where the drug medication is active</documentation>
			<documentation xml:lang="da-DK">Angiver en periode hvor lægemiddelordinationen gælder</documentation>
		</annotation>
	</element>
	<complexType name="DrugMedicationBeginEndDateType">
		<sequence>
			<element name="CreatedDateTime" type="medicinecard20150601:DrugMedicationCreatedDateTimeType" minOccurs="0"/>
			<choice>
				<element name="TreatmentStartDate" type="medicinecard20150601:DrugMedicationTreatmentStartDateType"/>
				<element name="TreatmentStartedPreviously" type="medicinecard20150601:DrugMedicationTreatmentStartedPreviouslyType"/>
			</choice>
			<choice>
				<element name="TreatmentEndDate" type="medicinecard20150601:DrugMedicationTreatmentEndDateType"/>
				<element name="TreatmentEndingUndetermined" type="medicinecard20150601:DrugMedicationTreatmentEndingUndeterminedType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
