etc/schemas/2015/06/01/DrugForm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"  targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DrugFormText.xsd"/>
	<include schemaLocation="DrugFormCode.xsd"/>
	<element name="DrugForm" type="medicinecard20150601:DrugFormType">
		<annotation>
			<documentation xml:lang="en-GB">Drug form, code and text</documentation>
			<documentation xml:lang="da-DK">Lægemiddelform, kode og tekst</documentation>
		</annotation>
	</element>
	<complexType name="DrugFormType">
		<sequence>
			<element name="Code" type="medicinecard20150601:DrugFormCodeType"/>
			<?filter nsf="ignore"?>
			<element name="Text" type="medicinecard20150601:DrugFormTextType"/>
		</sequence>
	</complexType>
</schema>
