etc/schemas/2015/06/01/DrugStrength.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DrugStrengthValue.xsd"/>
	<include schemaLocation="DrugStrengthUnitText.xsd"/>
	<include schemaLocation="DrugStrengthText.xsd"/>
	<include schemaLocation="DrugStrengthUnitCode.xsd"/>
	<element name="DrugStrength" type="medicinecard20150601:DrugStrengthType">
		<annotation>
			<documentation xml:lang="en-GB">Unit for drug strength, code (LMS15 field 2)</documentation>
			<documentation xml:lang="da-DK">Enhed for lægemiddelstyrke, kode (LMS15 felt 2)</documentation>
		</annotation>
	</element>
	<complexType name="DrugStrengthType">
		<choice>
			<sequence>
				<element name="Value" type="medicinecard20150601:DrugStrengthValueType"/>
				<element name="UnitCode" type="medicinecard20150601:DrugStrengthUnitCodeType"/>
				<?filter nsf="ignore"?>
				<element name="UnitText" type="medicinecard20150601:DrugStrengthUnitTextType"/>
				<element name="Text" type="medicinecard20150601:DrugStrengthTextType" minOccurs="0"/>
			</sequence>
			<element name="Text" type="medicinecard20150601:DrugStrengthTextType"/>
		</choice>
		<!-- A convoluted construction for either value+unit, text or both but not neither -->
	</complexType>
</schema>
