etc/schemas/2015/06/01/DrugMedicationIdentifierAndVersion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationVersion.xsd"/>
	<element name="DrugMedicationIdentifierAndVersion" type="medicinecard20150601:DrugMedicationIdentifierAndVersionType">
		<annotation>
			<documentation xml:lang="en-GB">Contains ID and version number for a drug medication</documentation>
			<documentation xml:lang="da-DK">Indeholder ID og versionsnummer for en lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="DrugMedicationIdentifierAndVersionType">
		<sequence>
			<element name="Identifier" type="medicinecard20150601:DrugMedicationIdentifierType"/>
			<element name="Version" type="medicinecard20150601:DrugMedicationVersionType"/>
		</sequence>
	</complexType>
</schema>
