etc/schemas/2015/06/01/DrugMedicationHistoryPeriod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <include schemaLocation="DrugMedicationVersion.xsd"/>
    <include schemaLocation="DrugMedicationHistoryPeriodStartDateTime.xsd"/>
    <include schemaLocation="DrugMedicationHistoryPeriodEndDateTime.xsd"/>
    <include schemaLocation="DrugMedicationPaused.xsd"/>
    <include schemaLocation="DosageForResponse.xsd"/>
    <include schemaLocation="Hospitalized.xsd"/>
    <include schemaLocation="Drug.xsd"/>
    <element name="DrugMedicationHistoryPeriod" type="medicinecard20150601:DrugMedicationHistoryPeriodType">
        <annotation>
            <documentation xml:lang="en-GB">A specific period in the history of a drugmedication</documentation>
            <documentation xml:lang="da-DK">En specifik periode i historikken for en lægemiddelordination</documentation>
        </annotation>
    </element>
    <complexType name="DrugMedicationHistoryPeriodType">
        <sequence>
            <element name="PeriodStartDateTime" type="medicinecard20150601:DrugMedicationHistoryPeriodStartDateTimeType"/>
            <element name="PeriodEndDateTime" type="medicinecard20150601:DrugMedicationHistoryPeriodEndDateTimeType"/>
            <element name="Version" type="medicinecard20150601:DrugMedicationVersionType"/>
            <element name="Drug" type="medicinecard20150601:DrugType"/>
            <element name="Dosage" type="medicinecard20150601:DosageForResponseType"/>
            <element name="Paused" type="medicinecard20150601:DrugMedicationPausedType" minOccurs="0"/>
            <element name="Hospitalized" type="medicinecard20150601:HospitalizedType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
