etc/schemas/2015/06/01/EffectuationsOnPrescription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Order.xsd"/>
	<include schemaLocation="PrescriptionIdentifier.xsd"/>
	<element name="EffectuationsOnPrescription" type="medicinecard20150601:EffectuationsOnPrescriptionType">
		<annotation>
			<documentation xml:lang="en-GB">Grouping orders and their effectuations on a prescription</documentation>
			<documentation xml:lang="da-DK">Grupperer bestillinger og deres effektueringer på en recept</documentation>
		</annotation>
	</element>
	<complexType name="EffectuationsOnPrescriptionType">
		<sequence>
			<element name="Identifier" type="medicinecard20150601:PrescriptionIdentifierType"/>
			<element name="Order" type="medicinecard20150601:OrderType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
