etc/schemas/2015/06/01/Effectuation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Modified.xsd"/>
	<include schemaLocation="Created.xsd"/>
    <include schemaLocation="DoseDispensed.xsd"/>
	<include schemaLocation="Drug.xsd"/>
	<include schemaLocation="DosageQuantityUnitText.xsd"/>
	<include schemaLocation="DoseQuantity.xsd"/>
	<include schemaLocation="EffectuationDateTime.xsd"/>
	<include schemaLocation="EffectuationIdentifier.xsd"/>
	<include schemaLocation="EffectuationMethod.xsd"/>
	<!--include schemaLocation="EffectuationVersion.xsd"/-->
	<include schemaLocation="IsEffectuatedAccordingToDrugMedication.xsd"/>
	<include schemaLocation="PackageDispensed.xsd"/>
	<include schemaLocation="PackageNumber.xsd"/>
	<include schemaLocation="PackageSize.xsd"/>
	<include schemaLocation="PackageQuantity.xsd"/>

    <element name="Effectuation" type="medicinecard20150601:EffectuationType">
        <annotation>
            <documentation xml:lang="en-GB">The actual effectuation of the drug medication. It could be to administer the drug into the patient or that a doctor hands medication out to the patient</documentation>
            <documentation xml:lang="da-DK">Den faktiske udførelse af lægemiddelordination. Det kan f.eks. være at indgive medicin i patienten, eller at en læge eller apoteket udleverer medicin til patienten</documentation>
        </annotation>
    </element>
	<complexType name="EffectuationType">
		<sequence>
			<element name="Identifier" type="medicinecard20150601:EffectuationIdentifierType"/>
			<!--element name="Version" type="medicinecard20150601:EffectuationVersionType"/-->
			<element name="Created" type="medicinecard20150601:CreatedType"/>
			<element name="ReportedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="Modified" type="medicinecard20150601:ModifiedType" minOccurs="0"/>
			<element name="EffectuationMethod" type="medicinecard20150601:EffectuationMethodType" minOccurs="0"/>
			<choice>
				<element name="DoseDispensed" type="medicinecard20150601:DoseDispensedType"/>
                <element name="PackageDispensed" type="medicinecard20150601:PackageDispensedType"/>
                <element name="IsEffectuatedAccordingToDrugMedication" type="medicinecard20150601:IsEffectuatedAccordingToDrugMedicationType"/>
            </choice>
		</sequence>
	</complexType>
</schema>
