etc/schemas/2015/06/01/EffectuationOnPrescription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="Created.xsd"/>
	<include schemaLocation="CreatedWithoutPerson.xsd"/>
    <include schemaLocation="DoseDispensed.xsd"/>
	<include schemaLocation="EffectuationDateTime.xsd"/>
	<include schemaLocation="EffectuationIdentifier.xsd"/>
	<include schemaLocation="EffectuationMethod.xsd"/>
    <include schemaLocation="PackageDispensed.xsd"/>
	<include schemaLocation="ExpectedDeliveryDateTime.xsd"/>
	<include schemaLocation="PharmacyComment.xsd"/>
	<include schemaLocation="Organisation.xsd"/>

	<complexType name="EffectuationOnPrescriptionType">
		<annotation>
			<documentation xml:lang="en-GB">An effectuation on the prescription. It has been created by the pharamacy, so there is no doctor element. There is either effectuated one or more packages or effectuated via Dose Dispensing.</documentation>
			<documentation xml:lang="da-DK">En effektuering (udlevering) på recepten. Den er oprettet på apoteket, så der er ingen reference til en læge. Der er enten effektueret en eller flere pakninger eller effektueret via Dosisdispensing.</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="medicinecard20150601:EffectuationIdentifierType"/>
			<element name="DateTime" type="medicinecard20150601:EffectuationDateTimeType"/>
			<element name="EffectuationMethod" type="medicinecard20150601:EffectuationMethodType" minOccurs="0"/>
            <choice>
			    <element name="CreatedWithoutPerson" type="medicinecard20150601:CreatedWithoutPersonType"/>
                <element name="Created" type="medicinecard20150601:CreatedType"/>
            </choice>
            <element name="ReportedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
            <choice>
                <element name="DoseDispensed" type="medicinecard20150601:DoseDispensedType"/>
                <element name="PackageDispensed" type="medicinecard20150601:PackageDispensedType"/>
            </choice>
			<element name="ExpectedDeliveryDateTime" type="medicinecard20150601:ExpectedDeliveryDateTimeType" minOccurs="0"/>
			<element name="PharmacyComment" type="medicinecard20150601:PharmacyCommentType" minOccurs="0"/>
			<element name="LabelText" type="medicinecard20150601:LabelTextType" minOccurs="0"/>
			<element name="DeliverySite" type="medicinecard20150601:OrganisationType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
