etc/schemas/2015/06/01/GetAquireOrderStatusRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <include schemaLocation="OrganisationIdentifier.xsd"/>
    <element name="GetAquireOrderStatusRequest" type="medicinecard20150601:GetAquireOrderStatusRequestType">
    </element>
    <complexType name="GetAquireOrderStatusRequestType">
        <annotation>
            <documentation xml:lang="en-GB">Element for a request to receive status for all incomming and outgoing requests to aquire an order from another pharmacy</documentation>
            <documentation xml:lang="da-DK">Element for en forespørgsel efter alle indkommende og udgående anmodninger om at overtage en bestilling fra et andet apotek</documentation>
        </annotation>
        <sequence>
            <element name="OrganisationIdentifier" type="medicinecard20150601:OrganisationIdentifierType"/>
        </sequence>
    </complexType>
</schema>
