etc/schemas/2015/06/01/GetAquireOrderStatusResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="AquireOrderRequested.xsd"/>
	<include schemaLocation="AquireOrderReply.xsd"/>

	<element name="GetAquireOrderStatusResponse" type="medicinecard20150601:GetAquireOrderStatusResponseType"/>
	<complexType name="GetAquireOrderStatusResponseType">
	        <annotation>
	            <documentation xml:lang="en-GB">Response element for a request to receive status for all incomming and outgoing requests to aquire an order from another pharmacy</documentation>
	            <documentation xml:lang="da-DK">Svar element for en forespørgsel efter alle indkommende og udgående anmodninger om at overtage en bestilling fra et andet apotek</documentation>
	        </annotation>
		<sequence>
			<element name="OrganisationIdentifier" type="medicinecard20150601:OrganisationIdentifierType"/>
                        <choice minOccurs="0" maxOccurs="unbounded">
                                <element name="AquireOrderRequested" type="medicinecard20150601:AquireOrderRequestedType"/>
                                <element name="AquireOrderPendingReply" type="medicinecard20150601:AquireOrderReplyType"/>
                                <element name="AquireOrderReply" type="medicinecard20150601:AquireOrderReplyType"/>
                        </choice>

		</sequence>
	</complexType>
</schema>
