etc/schemas/2015/06/01/GetCallersPermissionsToPerson.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<element name="GetCallersPermissionsToPerson" type="medicinecard20150601:GetCallersPermissionsToPersonType">
		<annotation>
			<documentation xml:lang="da-DK">Forespørgsel på rettigheder til person</documentation>
		</annotation>
	</element>
	<complexType name="GetCallersPermissionsToPersonType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
		</sequence>
	</complexType>
</schema>
