etc/schemas/2015/06/01/GetDoseDispensingCardRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="CurrentDoseDispensingPeriodFlag.xsd"/>
	<include schemaLocation="CurrentAndUpcommingDoseDispensingPeriodsFlag.xsd"/>
	<include schemaLocation="DoseDispensingRequestStartDate.xsd"/>
	<include schemaLocation="DoseDispensingRequestEndDate.xsd"/>
	<element name="GetDoseDispensingCardRequest" type="medicinecard20150601:GetDoseDispensingCardRequestType">
	</element>
	<complexType name="GetDoseDispensingCardRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a requesting dose dispensing card(s) for a patient</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel efter dosisdispenseringskort for en patient</documentation>
		</annotation>
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
			<element name="RequestedPeriod">
				<complexType>
					<choice>
						<element name="CurrentPeriod" type="medicinecard20150601:CurrentDoseDispensingPeriodFlagType"/>
						<element name="CurrentAndUpcommingPeriods" type="medicinecard20150601:CurrentAndUpcommingDoseDispensingPeriodsFlagType"/>
						<sequence>
							<element name="RequestedStartDate" type="medicinecard20150601:DoseDispensingRequestStartDateType"/>
							<element name="RequestedEndDate" type="medicinecard20150601:DoseDispensingRequestEndDateType"/>
						</sequence>
					</choice>
				</complexType>
			</element>
		</sequence>
	</complexType>
</schema>
