etc/schemas/2015/06/01/GetDeliverySiteRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="OrganisationIdentifier.xsd"/>

	<element name="GetDeliverySiteRequest" type="medicinecard20150601:GetDeliverySiteRequestType"/>

	<complexType name="GetDeliverySiteRequestType">
		<sequence>
			<element name="Identifier" type="medicinecard20150601:OrganisationIdentifierType"/>
		</sequence>
	</complexType>
</schema>
