etc/schemas/2015/06/01/GetDrugMedicationVersionsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationVersionInfo.xsd"/>
	<element name="GetDrugMedicationVersionsResponse" type="medicinecard20150601:GetDrugMedicationVersionsResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response for all the versionnumbers of a drug medication</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar på en forespørgsel efter alle versionsnumre for en lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="GetDrugMedicationVersionsResponseType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
			<element name="Identifier" type="medicinecard20150601:DrugMedicationIdentifierType"/>
            <element name="DrugMedicationVersionInfo" type="medicinecard20150601:DrugMedicationVersionInfoType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
