etc/schemas/2015/06/01/GetDrugMedicationVersionsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<element name="GetDrugMedicationVersionsRequest" type="medicinecard20150601:GetDrugMedicationVersionsRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request for all the versionnumbers of a drug medication</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel efter alle versionsnumre for en lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="GetDrugMedicationVersionsRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
            <element name="Identifier" type="medicinecard20150601:DrugMedicationIdentifierType"/>
		</sequence>
	</complexType>
</schema>
