etc/schemas/2015/06/01/GetDrugMedicationHistoryResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationHistory.xsd"/>
	<element name="GetDrugMedicationHistoryResponse" type="medicinecard20150601:GetDrugMedicationHistoryResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a response with the history of a drug medcination</documentation>
			<documentation xml:lang="da-DK">Element for et svar med en eller flere lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="GetDrugMedicationHistoryResponseType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
            <element name="Identifier" type="medicinecard20150601:DrugMedicationIdentifierType"/>
            <element name="History" type="medicinecard20150601:DrugMedicationHistoryType"/>
		</sequence>
	</complexType>
</schema>
