etc/schemas/2015/06/01/GetMedicineCardVersionsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<element name="GetMedicineCardVersionsRequest" type="medicinecard20150601:GetMedicineCardVersionsRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request for all the versionnumbers of a medicinecard</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel efter alle versionsnumre for et medicinkorts</documentation>
		</annotation>
	</element>
	<complexType name="GetMedicineCardVersionsRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
		</sequence>
	</complexType>
</schema>
