etc/schemas/2015/06/01/GetMedicineCardAsPDFRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cpr="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="ShowDosagePeriodType.xsd"></include>
	<include schemaLocation="IncludeEffectuations.xsd"/>
	<include schemaLocation="IncludeNonRelevantPrescriptions.xsd"/>
	<include schemaLocation="IncludePrescriptions.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="ModifiedDateTime.xsd"/>	
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="PrintType.xsd"/>
	<element name="GetMedicineCardAsPDFRequest" type="medicinecard20150601:GetMedicineCardAsPDFRequestType">
	</element>
	<complexType name="GetMedicineCardAsPDFRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a request for a medicinecard returned as PDF</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel efter et medicinkort der returneres som PDF</documentation>
		</annotation>
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
			<element name="Version" type="medicinecard20150601:MedicineCardVersionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="PrintType" type="medicinecard20150601:PrintTypeType"/>
			<element name="DateTime" type="medicinecard20150601:ModifiedDateTimeType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ShowDosageLimitations" type="medicinecard20150601:ShowDosagePeriodType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
