etc/schemas/2015/06/01/GetOrderedEffectuationsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <include schemaLocation="IncludeOrderedEffectuations.xsd"/>
    <include schemaLocation="IncludeOrderedPrescriptions.xsd"/>
    <include schemaLocation="OrderedDateTime.xsd"/>
    <include schemaLocation="OrderedEffectuationIdentifier.xsd"/>
    <include schemaLocation="OrderEffectuationOrPrescription.xsd"/>
    <include schemaLocation="PersonIdentifier.xsd"/>
    <element name="GetOrderedEffectuationsRequest" type="medicinecard20150601:GetOrderedEffectuationsRequestType">
        <annotation>
            <documentation xml:lang="en-GB">Get ordered effectuations</documentation>
            <documentation xml:lang="da-DK">Opslag på bestilte udleveringer</documentation>
        </annotation>
    </element>
    <complexType name="GetOrderedEffectuationsRequestType">
        <sequence>
            <element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
            <element name="FromDateTime" type="medicinecard20150601:OrderedDateTimeType" minOccurs="0"/>
            <element name="ToDateTime" type="medicinecard20150601:OrderedDateTimeType" minOccurs="0"/>
            <element name="IncludeOrderedPrescriptions" type="medicinecard20150601:IncludeOrderedPrescriptionsType" minOccurs="0"/>
            <element name="IncludeOrderedEffectuations" type="medicinecard20150601:IncludeOrderedEffectuationsType" minOccurs="0"/>
            <choice minOccurs="0">
                <element name="IncludeOnly">
                    <complexType>
                        <sequence>
                            <element name="Identifier" type="medicinecard20150601:OrderedEffectuationIdentifierType" maxOccurs="unbounded"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="Exclude">
                    <complexType>
                        <sequence>
                            <element name="Identifier" type="medicinecard20150601:OrderedEffectuationIdentifierType" maxOccurs="unbounded"/>
                        </sequence>
                    </complexType>
                </element>
            </choice>
        </sequence>
    </complexType>
</schema>
