etc/schemas/2015/06/01/GetPatientOrganisationRelationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cpr="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PatientOrganisationRelationType.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="PatientOrganisationRelationIdentifier.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="IncludeRemovedRelations.xsd"/>
	<element name="GetPatientOrganisationRelationRequest" type="medicinecard20150601:GetPatientOrganisationRelationRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document to get relations between a patient and an organisation</documentation>
			<documentation xml:lang="da-DK">Request-dokument for at hente relationer mellem en patient og en organisation</documentation>
		</annotation>
	</element>
	<complexType name="GetPatientOrganisationRelationRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
			<choice>
				<element name="Identifier" type="medicinecard20150601:PatientOrganisationRelationIdentifierType" minOccurs="1" maxOccurs="unbounded"/>
				<sequence>
					<element name="OrganisationIdentifier" type="medicinecard20150601:OrganisationIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="Type" type="medicinecard20150601:PatientOrganisationRelationTypeType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</choice>
			<element name="IncludeRemovedRelations" type="medicinecard20150601:IncludeRemovedRelationsType"/>
		</sequence>
	</complexType>
</schema>
