etc/schemas/2015/06/01/GetPatientRegistrationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="PatientRegistrationIdentification.xsd"/>
	<element name="GetPatientRegistrationRequest" type="medicinecard20150601:GetPatientRegistrationRequestType">
        <annotation>
            <documentation xml:lang="en-GB">Request document to get registrations for a patient</documentation>
            <documentation xml:lang="da-DK">Request-dokument til at hente patient-registreringer</documentation>
        </annotation>
    </element>
    <complexType name="GetPatientRegistrationRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
            <element name="Identification" type="medicinecard20150601:PatientRegistrationIdentificationType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
