etc/schemas/2015/06/01/GetPrescriptionRequestsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="PrescriptionRequest.xsd"/>
	<include schemaLocation="MedicineCardIsInvalid.xsd"/>
	<include schemaLocation="PageNumber.xsd"/>
	<include schemaLocation="MoreAvailable.xsd"/>

	<element name="GetPrescriptionRequestsResponse" type="medicinecard20150601:GetPrescriptionRequestsResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response with one or more prescriptions</documentation>
			<documentation xml:lang="da-DK">Resultat af hentning af receptanmodninger for CPR nummer</documentation>
		</annotation>
	</element>
	<complexType name="GetPrescriptionRequestsResponseType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType" />
			<element name="PrescriptionRequest" type="medicinecard20150601:PrescriptionRequestType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="PageNumber" type="medicinecard20150601:PageNumberType" />
			<element name="MoreAvailable" type="medicinecard20150601:MoreAvailableType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
