etc/schemas/2015/06/01/GetPrescriptionMedicationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="PrescriptionMedicationIdentifier.xsd"/>
	<include schemaLocation="IncludeEffectuations.xsd"/>
	<include schemaLocation="IncludePrescriptionMedications.xsd"/>
	<element name="GetPrescriptionMedicationRequest" type="medicinecard20150601:GetPrescriptionMedicationRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a request for a prescription medication</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel efter en receptordination</documentation>
		</annotation>
	</element>
	<complexType name="GetPrescriptionMedicationRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="medicinecard20150601:OrganisationIdentifierType"/>
			</choice>
			<choice>
				<element name="Identifier" type="medicinecard20150601:PrescriptionMedicationIdentifierType" maxOccurs="50"/>
				<element name="IncludeOpenPrescriptionMedications" type="medicinecard20150601:IncludePrescriptionMedicationsType"/>
				<element name="IncludeAllPrescriptionMedications" type="medicinecard20150601:IncludePrescriptionMedicationsType"/>
			</choice>
			<element name="IncludeEffectuations" type="medicinecard20150601:IncludeEffectuationsType"/>
		</sequence>
	</complexType>
</schema>
