etc/schemas/2015/06/01/GetPrescriptionRequestsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="GetPrescriptionRequestsFromDateTime.xsd"/>
	<include schemaLocation="GetPrescriptionRequestsToDateTime.xsd"/>
	<include schemaLocation="PageNumber.xsd"/>
	<element name="GetPrescriptionRequestsRequest" type="medicinecard20150601:GetPrescriptionRequestsType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a request for one or more prescriptionrequests for a personidentifier</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel efter en eller flere receptanmodninger til et CPR nummer</documentation>
		</annotation>
	</element>
	<complexType name="GetPrescriptionRequestsType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
			<element name="FromDateTime" type="medicinecard20150601:GetPrescriptionRequestsFromDateTimeType" minOccurs="0"/>
			<element name="ToDateTime" type="medicinecard20150601:GetPrescriptionRequestsToDateTimeType" minOccurs="0"/>
			<element name="PageNumber" type="medicinecard20150601:PageNumberType" minOccurs="0" />
		</sequence>
	</complexType>
</schema>
