etc/schemas/2015/06/01/GiveConsentResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="MedicineCardVersion.xsd"/>
    <include schemaLocation="VersionMismatchWarning.xsd"/>
    <include schemaLocation="UpdatedDrugMedication.xsd"/>
	<element name="GiveConsentResponse" type="medicinecard20150601:GiveConsentResponseType">
		<annotation>
            <documentation xml:lang="en-GB">Response for removing negative consent on one or more drugmedications</documentation>
            <documentation xml:lang="da-DK">Svar på at fjerne privarmarkering af en eller flere lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="GiveConsentResponseType">
		<sequence>
			<sequence>
                <element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
                <element name="MedicineCardVersion" type="medicinecard20150601:MedicineCardVersionType"/>
                <element name="VersionMismatchWarning" type="medicinecard20150601:VersionMismatchWarningType" minOccurs="0"/>
                <element name="DrugMedication" type="medicinecard20150601:UpdatedDrugMedicationType" maxOccurs="unbounded"/>
			</sequence>
		</sequence>
	</complexType>
</schema>
