etc/schemas/2015/06/01/GiveConsentRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <include schemaLocation="Modificator.xsd"/>
    <include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="MedicineCardVersion.xsd"/>
    <include schemaLocation="GiveConsentDrugMedication.xsd"/>
    <element name="GiveConsentRequest" type="medicinecard20150601:GiveConsentRequestType">
		<annotation>
            <documentation xml:lang="en-GB">Request for removing negative consent on one or more drugmedications</documentation>
            <documentation xml:lang="da-DK">Request til at fjerne privarmarkering af en eller flere lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="GiveConsentRequestType">
        <sequence>
            <element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
            <element name="MedicineCardVersion" type="medicinecard20150601:MedicineCardVersionType"/>
            <element name="ModifiedBy" type="medicinecard20150601:ModificatorType"/>
            <element name="ReportedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
            <element name="DrugMedication" type="medicinecard20150601:GiveConsentDrugMedicationType" maxOccurs="unbounded"/>
        </sequence>
	</complexType>
</schema>
