etc/schemas/2015/06/01/Hospitalized.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"  xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Organisation.xsd"/>
    <element name="Hospitalized" type="medicinecard20150601:HospitalizedType">
        <annotation>
            <documentation xml:lang="en-GB">Information about the hospital</documentation>
            <documentation xml:lang="da-DK">Information om hospitalet</documentation>
        </annotation>
    </element>
	<complexType name="HospitalizedType">
		<sequence>
            <element name="Organisation" type="medicinecard20150601:OrganisationType"/>
		</sequence>
	</complexType>
</schema>
