etc/schemas/2015/06/01/IncludeOrderedEffectuations.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<element name="IncludeOrderedEffectuations" type="medicinecard20150601:IncludeOrderedEffectuationsType">
		<annotation>
			<documentation xml:lang="en-GB">Indicatates</documentation>
			<documentation xml:lang="da-DK">Angiver hvorvidt </documentation>
		</annotation>
	</element>
	<complexType name="IncludeOrderedEffectuationsType">
		<sequence>
			<element name="IncludeUneffectuatedOrders" type="boolean"/>
			<element name="IncludeEffectuatedOrders" type="boolean"/>
			<element name="IncludeCancelledOrders" type="boolean"/>			
		</sequence>
	</complexType>
</schema>
