etc/schemas/2015/06/01/Indication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="IndicationText.xsd"/>
	<include schemaLocation="IndicationFreeText.xsd"/>
	<include schemaLocation="IndicationCode.xsd"/>
	<element name="Indication" type="medicinecard20150601:IndicationType">
		<annotation>
			<documentation xml:lang="en-GB">Estimated state of health which is used as motivation for a drug prescription</documentation>
			<documentation xml:lang="da-DK">Vurderet helbredstilstand der benyttes som begrundelse for en lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="IndicationType">
		<choice>
			<sequence>
				<element name="Code" type="medicinecard20150601:IndicationCodeType"/>
				<?filter nsf="ignore"?>
				<element name="Text" type="medicinecard20150601:IndicationTextType" minOccurs="0"/>
			</sequence>
			<element name="FreeText" type="medicinecard20150601:IndicationFreeTextType"/>
		</choice>
	</complexType>
</schema>
