etc/schemas/2015/06/01/IndicationCode.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Source.xsd"/>
	<include schemaLocation="SourceDate.xsd"/>
	<include schemaLocation="SourceYearAndWeek.xsd"/>
	<element name="IndicationCode" type="medicinecard20150601:IndicationCodeType">
		<annotation>
			<documentation xml:lang="en-GB">Indication code (LMS26 field 1)</documentation>
			<documentation xml:lang="da-DK">Indikationskode (LMS26 felt 1)</documentation>
		</annotation>
	</element>
	<complexType name="IndicationCodeType">
		<simpleContent>
			<extension base="medicinecard20150601:IndicationCodeValueType">
				<attribute name="source" type="medicinecard20150601:IndicationCodeSourceType" use="required"/>
				<attribute name="date" type="medicinecard20150601:SourceDateType" use="optional"/>
				<attribute name="yearAndWeek" type="medicinecard20150601:SourceYearAndWeekType" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="IndicationCodeValueType">
		<restriction base="int">
			<minInclusive value="1"/>
			<maxInclusive value="9999999"/>
		</restriction>
	</simpleType>
	<simpleType name="IndicationCodeSourceType">
		<union memberTypes="medicinecard20150601:IndicationCodePredefinedSourceType medicinecard20150601:UndefinedSourceType"/>
	</simpleType>
	<simpleType name="IndicationCodePredefinedSourceType">
		<restriction base="medicinecard20150601:UndefinedSourceType">
			<enumeration value="Medicinpriser"/>
		</restriction>
	</simpleType>
</schema>
