etc/schemas/2015/06/01/InvalidatePrescriptionMedicationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="PrescriptionMedicationIdentifier.xsd"/>
	<element name="InvalidatePrescriptionMedicationResponse" type="medicinecard20150601:InvalidatePrescriptionMedicationResponseType">
	</element>
	<complexType name="InvalidatePrescriptionMedicationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Service response on successfully invalidating a PrescriptionMedication </documentation>
			<documentation xml:lang="da-DK">Service svar ved en gennemført ugyldiggørelse af en Receptordination</documentation>
		</annotation>
		<sequence>
			<sequence>
			<choice>
				<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="medicinecard20150601:OrganisationIdentifierType"/>
			</choice>
				<element name="PrescriptionMedicationIdentifier" type="medicinecard20150601:PrescriptionMedicationIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</sequence>
	</complexType>
</schema>
