etc/schemas/2015/06/01/InvalidDrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<element name="InvalidDrugMedication" type="medicinecard20150601:InvalidDrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">An invalid drug medication</documentation>
			<documentation xml:lang="da-DK">En ugyldig lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="InvalidDrugMedicationType">
		<sequence>
			<element name="Identifier" type="medicinecard20150601:DrugMedicationIdentifierType"/>
		</sequence>
	</complexType>
</schema>
