etc/schemas/2015/06/01/InvalidatePrescription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="PrescriptionIdentifier.xsd"/>
	<include schemaLocation="InvalidationReasonText.xsd"/>
	<complexType name="InvalidatePrescriptionType">
		<annotation>
			<documentation xml:lang="en-GB">For use in bulk service: Mark one or more prescriptions as invalid</documentation>
			<documentation xml:lang="da-DK">Til brug i bulk service: Marker at en eller flere recepter er ugyldige</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="medicinecard20150601:PrescriptionIdentifierType"/>
			<element name="InvalidationReasonText" type="medicinecard20150601:InvalidationReasonTextType"/>
			<element name="ModificationMetadata" type="medicinecard20150601:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
