etc/schemas/2015/06/01/InvalidatePrescriptionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="InvalidatePrescription.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="PrescriptionIdentifier.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>
	<element name="InvalidatePrescriptionRequest" type="medicinecard20150601:InvalidatePrescriptionRequestType">
	</element>
	<complexType name="InvalidatePrescriptionRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Mark one or more prescriptions as invalid</documentation>
			<documentation xml:lang="da-DK">Marker at en eller flere recepter er ugyldige</documentation>
		</annotation>
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="medicinecard20150601:OrganisationIdentifierType"/>
			</choice>
			<element name="ModifiedBy" type="medicinecard20150601:ModificatorType"/>
			<element name="Prescription" type="medicinecard20150601:InvalidatePrescriptionType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
