etc/schemas/2015/06/01/LatestDosageDispensingEffectuation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<include schemaLocation="Created.xsd"/>
	<include schemaLocation="CreatedWithoutPerson.xsd"/>
	
	<complexType name="LatestDosageDispensingEffectuationType">
		<annotation>
			<documentation xml:lang="en-GB">Indication of when the latest dosedispensed effectuation was made, and by whom</documentation>
			<documentation xml:lang="da-DK">Angivelse af tidspunktet for den seneste dosisdispenserede effektuering samt hvem der udførte den</documentation>
		</annotation>
		<sequence>
			<choice>
				<element name="CreatedWithoutPerson" type="medicinecard20150601:CreatedWithoutPersonType"/>
				<element name="Created" type="medicinecard20150601:CreatedType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
