etc/schemas/2015/06/01/MarkPrescriptionMedicationDeprecatedRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="MarkPrescriptionMedicationDeprecated.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>
	<element name="MarkPrescriptionMedicationDeprecatedRequest" type="medicinecard20150601:MarkPrescriptionMedicationDeprecatedRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Mark one or more prescription medications as no longer relevant</documentation>
			<documentation xml:lang="da-DK">Marker at en eller flere receptordinationer ikke længere er relevante</documentation>
		</annotation>
	</element>
	<complexType name="MarkPrescriptionMedicationDeprecatedRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="medicinecard20150601:OrganisationIdentifierType"/>
			</choice>
			<element name="MedicineCardVersion" type="medicinecard20150601:MedicineCardVersionType"/>
			<element name="ModifiedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="ReportedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="PrescriptionMedication" type="medicinecard20150601:MarkPrescriptionMedicationDeprecatedType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
