etc/schemas/2015/06/01/MedicineCardVersionInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <include schemaLocation="MedicineCardVersion.xsd"/>
    <include schemaLocation="VersionCreatedDateTime.xsd"/>
    <element name="MedicineCardVersionInfo" type="medicinecard20150601:MedicineCardVersionInfoType">
        <annotation>
            <documentation xml:lang="en-GB">Versionnumber and created datetime for a specific medicinecard version</documentation>
            <documentation xml:lang="da-DK">Versionsnummer og oprettet dato og tid for en specifik medicinkort version</documentation>
        </annotation>
    </element>
    <complexType name="MedicineCardVersionInfoType">
        <sequence>
            <element name="MedicineCardVersion" type="medicinecard20150601:MedicineCardVersionType"/>
            <element name="VersionCreatedDateTime" type="medicinecard20150601:VersionCreatedDateTimeType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
