etc/schemas/2015/06/01/MedicationGroup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <include schemaLocation="DosageSupplementaryText.xsd"/>
    <include schemaLocation="DoseDispensedMedicationRef.xsd"/>

    <complexType name="MedicationGroupType">
        <annotation>
            <documentation xml:lang="en-GB">Group of medication references that shares the same supplementary text (or no supplementary text). This grouping is useful when printing a label for each dispensable unit.</documentation>
            <documentation xml:lang="da-DK">Gruppe af referencer til dosisdispenserede lægemidler, som alle har samme supplerende tekst (eller ingen supplerende tekst). Denne gruppering er brugbar når der skal printes en label til hver dispenserbare enhed.</documentation>
        </annotation>
        <sequence>
            <element name="SupplementaryText" type="medicinecard20150601:DosageSupplementaryTextType" minOccurs="0"/>

            <!-- MedicationsGroups with references to DoseDispensedMedications, grouped by supplementary text -->
            <element name="MedicationRef" type="medicinecard20150601:DoseDispensedMedicationRefType" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
