etc/schemas/2015/06/01/ModificatorWithoutPerson.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Organisation.xsd"/>
	<element name="ModificatorWithoutPerson" type="medicinecard20150601:ModificatorWithoutPersonType">
		<annotation>
			<documentation xml:lang="en-GB">Information about an organisation who modified data. Used for modifications on a pharmacy, where no person information is given</documentation>
			<documentation xml:lang="da-DK">Indeholder information omkring en person der ændrede data. Anvendt på ændringer fra apoteket, hvor ingen personinformation medsendes.</documentation>
		</annotation>
	</element>
	<complexType name="ModificatorWithoutPersonType">
		<sequence>
			<element name="Organisation" type="medicinecard20150601:OrganisationType"/>
		</sequence>
	</complexType>
</schema>

