etc/schemas/2015/06/01/ModificatorPerson.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="PersonName.xsd"/>
	<element name="ModificatorPerson" type="medicinecard20150601:ModificatorPersonType"/>
	<complexType name="ModificatorPersonType">
		<sequence>
			<element name="Name" type="medicinecard20150601:PersonNameType"/>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
