etc/schemas/2015/06/01/ModificationMetadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<simpleType name="ModificationMetadataType">
		<annotation>
			<documentation xml:lang="en-GB">Modification metadata, e.g. a flag to indicate that an update is desired in spite of a validation warning.</documentation>
			<documentation xml:lang="da-DK">Metadata vedr. en ændring, fx et flag der indikerer at en opdatering skal gennemføres på trods af en validerings-advarsel.</documentation>
		</annotation>
		<union memberTypes="medicinecard20150601:PredefinedModificationMetadataType medicinecard20150601:BaseModificationMetadataType"/>
	</simpleType>

	<simpleType name="PredefinedModificationMetadataType">
		<restriction base="medicinecard20150601:BaseModificationMetadataType">
			<enumeration value="Override clinical validation"/>
		</restriction>
	</simpleType>

    <simpleType name="BaseModificationMetadataType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="200"/>
		</restriction>
	</simpleType>
</schema>
