etc/schemas/2015/06/01/MoreAvailableWithDate.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <complexType name="MoreAvailableWithDateType">
        <sequence>
            <element name="LastDate" type="medicinecard20150601:LastDateType"/>
        </sequence>
    </complexType>

    <simpleType name="LastDateType">
        <restriction base="dateTime"/>
    </simpleType>
</schema>
