etc/schemas/2015/06/01/MoreAvailablePrescriptionRequests.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <include schemaLocation="GetPrescriptionRequestsFromDateTime.xsd"/>
	<element name="MoreAvailablePrescriptionRequests" type="medicinecard20150601:MoreAvailablePrescriptionRequestsType">
		<annotation>
			<documentation xml:lang="en-GB">A warning of that the resultset has been limited. There are more prescription requests on the server that you can get with subsequent calls.</documentation>
			<documentation xml:lang="da-DK">En advarsel om at resultatet er begrænset, der findes flere receptanmodninger på serveren, som kan hentes med gentagne kald</documentation>
		</annotation>
	</element>
	<complexType name="MoreAvailablePrescriptionRequestsType">
        <sequence>
            <element name="LastDate" type="medicinecard20150601:GetPrescriptionRequestsFromDateTimeType"/>
        </sequence>
    </complexType>
</schema>
