etc/schemas/2015/06/01/OrderedPrescriptionMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="OrderedPrescriptionMedicationIdentifier.xsd"/>
	<element name="OrderedPrescriptionMedication" type="medicinecard20150601:OrderedPrescriptionMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Response on an order, response for the order request</documentation>
			<documentation xml:lang="da-DK">Svar på bestilling, svar til order request </documentation>
		</annotation>
	</element>
	<complexType name="OrderedPrescriptionMedicationType">
		<sequence>
			<element name="Identifier" type="medicinecard20150601:OrderedPrescriptionMedicationIdentifierType"/>
		</sequence>
	</complexType>
</schema>
