etc/schemas/2015/06/01/OrderStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<simpleType name="OrderStatusType">
		<annotation>
			<documentation xml:lang="en-GB">Status of an order of an effectuation on a prescription</documentation>
			<documentation xml:lang="da-DK">Status på en bestilling af en udlevering på en recept</documentation>
		</annotation>
		<union memberTypes="medicinecard20150601:OrderStatusPredefinedType medicinecard20150601:OrderStatusUndefinedType"/>
	</simpleType>
	<simpleType name="OrderStatusPredefinedType">
		<restriction base="medicinecard20150601:OrderStatusUndefinedType">
			<enumeration value="Bestilt"/>
			<enumeration value="Ekspedition påbegyndt"/>
			<enumeration value="Udført"/>
			<enumeration value="Annulleret"/>
			<enumeration value="Dosisdispenseret"/>
		</restriction>
	</simpleType>
	<simpleType name="OrderStatusUndefinedType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="25"/>
		</restriction>
	</simpleType>
</schema>
