etc/schemas/2015/06/01/Order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="Created.xsd"/>
	<include schemaLocation="Delivery.xsd"/>
	<include schemaLocation="Modified.xsd"/>
	<include schemaLocation="Organisation.xsd"/>
	<include schemaLocation="DoseDispensingDate.xsd"/>
    <include schemaLocation="DoseDispensingDateTime.xsd"/>
	<include schemaLocation="ProductionDay.xsd"/>
	<include schemaLocation="OrderStatus.xsd"/>
	<include schemaLocation="OrderIdentifier.xsd"/>
	<!--include schemaLocation="OrderVersion.xsd"/-->
	<include schemaLocation="PackingGroup.xsd"/>
	<include schemaLocation="DeliveryInstructionText.xsd"/>
	<include schemaLocation="EmptyEffectuation.xsd"/>
	<include schemaLocation="Effectuation.xsd"/>
	<include schemaLocation="DeliverySite.xsd"/>

	<complexType name="OrderType">
		<sequence>
			<element name="Identifier" type="medicinecard20150601:OrderIdentifierType"/>
			<!--element name="Version" type="medicinecard20150601:OrderVersionType"/-->
			<element name="Created" type="medicinecard20150601:CreatedType"/>
			<element name="ReportedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="Modified" type="medicinecard20150601:ModifiedType" minOccurs="0"/>
			<element name="OrderedAtPharmacy" type="medicinecard20150601:OrganisationType"/>
			<element name="Status" type="medicinecard20150601:OrderStatusType"/>
			<element name="DoseDispensing" minOccurs="0">
				<complexType>
					<sequence>
						<element name="PackedAtOrganisation" type="medicinecard20150601:OrganisationType"/>
						<element name="DeadlineDateTime" type="medicinecard20150601:DoseDispensingDateTimeType"/>
						<element name="ExpectedFirstDosageDate" type="medicinecard20150601:DoseDispensingDateType"/>
						<element name="ExpectedLastDosageDate" type="medicinecard20150601:DoseDispensingDateType"/>
						<element name="ProductionDay" type="medicinecard20150601:ProductionDayType" minOccurs="0"/>
						<element name="PackingGroup" type="medicinecard20150601:PackingGroupType" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
			<choice minOccurs="0">
				<element name="Delivery" type="medicinecard20150601:DeliveryType" minOccurs="0"/>
				<element name="DeliverySite" type="medicinecard20150601:DeliverySiteType"/>
			</choice>
			<element name="DeliveryInstructionText" type="medicinecard20150601:DeliveryInstructionTextType" minOccurs="0" maxOccurs="3"/>
			<choice minOccurs="0" maxOccurs="unbounded">
				<element name="Effectuation" type="medicinecard20150601:EffectuationType"/>
				<element name="EmptyEffectuation" type="medicinecard20150601:EmptyEffectuationType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
