etc/schemas/2015/06/01/Order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="Created.xsd"/>
	<include schemaLocation="Delivery.xsd"/>
	<include schemaLocation="Modified.xsd"/>
	<include schemaLocation="Organisation.xsd"/>
	<include schemaLocation="DoseDispensing.xsd"/>
	<include schemaLocation="OrderStatus.xsd"/>
	<include schemaLocation="OrderIdentifier.xsd"/>
	<include schemaLocation="DeliveryInstructionText.xsd"/>
	<include schemaLocation="InvalidEffectuation.xsd"/>
	<include schemaLocation="EffectuationOnPrescriptionMedication.xsd"/>
	<include schemaLocation="DeliverySite.xsd"/>

    <element name="Order" type="medicinecard20150601:OrderType"/>

	<complexType name="OrderType">
        <annotation>
            <documentation xml:lang="en-GB">Order of an effectuation on a prescription medication</documentation>
            <documentation xml:lang="da-DK">Bestilling af en udlevering på en receptordination</documentation>
        </annotation>
		<sequence>
			<element name="Identifier" type="medicinecard20150601:OrderIdentifierType"/>
			<element name="Created" type="medicinecard20150601:CreatedType"/>
			<element name="ReportedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="Modified" type="medicinecard20150601:ModifiedType" minOccurs="0"/>
			<element name="OrderedAtPharmacy" type="medicinecard20150601:OrganisationType"/>
			<element name="Status" type="medicinecard20150601:OrderStatusType"/>
			<element name="DoseDispensing" type="medicinecard20150601:DoseDispensingType" minOccurs="0"/>
			<element name="DeliveryInstructionText" type="medicinecard20150601:DeliveryInstructionTextType" minOccurs="0" maxOccurs="3"/>
			<element name="Delivery" type="medicinecard20150601:DeliveryType" minOccurs="0"/>
			<choice minOccurs="0">
				<element name="Effectuation" type="medicinecard20150601:EffectuationOnPrescriptionMedicationType"/>
				<element name="InvalidEffectuation" type="medicinecard20150601:InvalidEffectuationType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
