etc/schemas/2015/06/01/OrderPrescription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="CreateDoseDispensedPrescriptionDispensing.xsd"/>
	<include schemaLocation="CreateReiteratedPrescriptionDispensing.xsd"/>
	<include schemaLocation="CreateSinglePrescriptionDispensing.xsd"/>
	<include schemaLocation="Delivery.xsd"/>
	<include schemaLocation="DeliveryInformation.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="OrderInstruction.xsd"/>
	<include schemaLocation="Organisation.xsd"/>
	<include schemaLocation="PrescriptionIdentifier.xsd"/>
	<include schemaLocation="ReimbursementClause.xsd"/>
	<element name="OrderPrescription" type="medicinecard20150601:OrderPrescriptionType">
		<annotation>
			<documentation xml:lang="en-GB">Order for a new effectuation on the pharmacy or prescription to be created by the doctor</documentation>
			<documentation xml:lang="da-DK">Bestilling for en en ny effektuering på apoteket eller recept til oprettelse hos lægen</documentation>
		</annotation>
	</element>
	<complexType name="OrderPrescriptionType">
		<sequence>
			<element name="DrugMedicationIdentifier" type="medicinecard20150601:DrugMedicationIdentifierType"/>
			<element name="PrescriptionIdentifier" type="medicinecard20150601:PrescriptionIdentifierType" minOccurs="0"/>
			<element name="OrderedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="ModificationMetadata" type="medicinecard20150601:ModificationMetadataType" minOccurs="0"/>
			<element name="PrescribingOrganisation" type="medicinecard20150601:OrganisationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="EffectuatingOrganisation" type="medicinecard20150601:OrganisationType" minOccurs="0"/>
			<choice minOccurs="0" maxOccurs="3">
				<element name="DeliveryInformation" type="medicinecard20150601:DeliveryInformationType"/>
				<element name="OrderInstruction" type="medicinecard20150601:OrderInstructionType"/>
			</choice>
			<element name="Delivery" type="medicinecard20150601:DeliveryType" minOccurs="0"/>
			<element name="ReimbursementClause" type="medicinecard20150601:ReimbursementClauseType" minOccurs="0"/>
			<choice minOccurs="0">
				<element name="SinglePrescriptionDispensing" type="medicinecard20150601:CreateSinglePrescriptionDispensingType"/>
				<element name="ReiteratedPrescriptionDispensing" type="medicinecard20150601:CreateReiteratedPrescriptionDispensingType"/>
				<element name="DoseDispensedDispensing" type="medicinecard20150601:CreateDoseDispensedPrescriptionDispensingType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
