etc/schemas/2015/06/01/Organisation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="AddressLine.xsd"/>
	<include schemaLocation="EmailAddress.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="OrganisationName.xsd"/>
	<include schemaLocation="OrganisationType.xsd"/>
	<include schemaLocation="TelephoneNumber.xsd"/>
	<element name="Organisation" type="medicinecard20150601:OrganisationType">
		<annotation>
			<documentation xml:lang="en-GB">Describes an organisation.</documentation>
			<documentation xml:lang="da-DK">Beskriver en organisation</documentation>
		</annotation>
	</element>
	<complexType name="OrganisationType">
		<sequence>
			<?filter nsf="ignore"?>
			<element name="Name" type="medicinecard20150601:OrganisationNameType"/>
			<?filter nsf="ignore"?>
			<element name="AddressLine" type="medicinecard20150601:AddressLineType" minOccurs="0" maxOccurs="5"/>
			<?filter nsf="ignore"?>
			<element name="TelephoneNumber" type="medicinecard20150601:TelephoneNumberType" minOccurs="0"/>
			<?filter nsf="ignore"?>
			<element name="EmailAddress" type="medicinecard20150601:EmailAddressType" minOccurs="0"/>
			<element name="Type" type="medicinecard20150601:OrganisationTypeType"/>
			<element name="Identifier" type="medicinecard20150601:OrganisationIdentifierType"/>
		</sequence>
	</complexType>
</schema>
