etc/schemas/2015/06/01/PackageDispensed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PackageQuantity.xsd"/>
	<include schemaLocation="PackageNumber.xsd"/>
	<include schemaLocation="PackageSize.xsd"/>
	<include schemaLocation="Drug.xsd"/>
	<include schemaLocation="LabelText.xsd"/>

	<complexType name="PackageDispensedType">
		<annotation>
			<documentation xml:lang="en-GB">Package dispensed pharmacy effectuation details</documentation>
			<documentation xml:lang="da-DK">Detaljer for pakke udlevering på et apotek</documentation>
		</annotation>
		<sequence>
			<element name="PackageQuantity" type="medicinecard20150601:PackageQuantityType" minOccurs="0"/>
			<element name="PackageNumber" type="medicinecard20150601:PackageNumberType"/>
			<element name="PackageSize" type="medicinecard20150601:PackageSizeType" minOccurs="0"/>
			<element name="SubstitutedDrug" type="medicinecard20150601:DrugType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
