etc/schemas/2015/06/01/PackageNumber.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Source.xsd"/>
	<include schemaLocation="SourceDate.xsd"/>
	<include schemaLocation="SourceYearAndWeek.xsd"/>
	<element name="PackageNumber" type="medicinecard20150601:PackageNumberType">
		<annotation>
			<documentation xml:lang="en-GB">The package number (DMA02 field 2)</documentation>
			<documentation xml:lang="da-DK">Lægemiddelpakningens varenummer (LMS02 felt 2)</documentation>
		</annotation>
	</element>
	<complexType name="PackageNumberType">
		<simpleContent>
			<extension base="medicinecard20150601:PackageNumberValueType">
				<attribute name="source" type="medicinecard20150601:PackageNumberSourceType" use="required"/>
				<attribute name="date" type="medicinecard20150601:SourceDateType" use="optional"/>
				<attribute name="yearAndWeek" type="medicinecard20150601:SourceYearAndWeekType" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="PackageNumberValueType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="20"/>
		</restriction>
	</simpleType>
	<simpleType name="PackageNumberSourceType">
		<union memberTypes="medicinecard20150601:PackageNumberPredefinedSourceType medicinecard20150601:UndefinedSourceType"/>
	</simpleType>
	<simpleType name="PackageNumberPredefinedSourceType">
		<restriction base="medicinecard20150601:UndefinedSourceType">
			<enumeration value="Medicinpriser"/>
			<enumeration value="Frihandelsvare"/>
			<enumeration value="Local"/>
		</restriction>
	</simpleType>
</schema>
