etc/schemas/2015/06/01/PackageSize.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PackageSizeValue.xsd"/>
	<include schemaLocation="PackageSizeUnitCode.xsd"/>
	<include schemaLocation="PackageSizeUnitText.xsd"/>
	<include schemaLocation="PackageSizeText.xsd"/>
	<element name="PackageSize" type="medicinecard20150601:PackageSizeType">
		<annotation>
			<documentation xml:lang="en-GB">Package size in strucured form</documentation>
			<documentation xml:lang="da-DK">Pakningsstørrelse på struktureret form</documentation>
		</annotation>
	</element>
	<complexType name="PackageSizeType">
		<choice>
			<sequence>
				<element name="Value" type="medicinecard20150601:PackageSizeValueType"/>
				<element name="UnitCode" type="medicinecard20150601:PackageSizeUnitCodeType"/>
				<element name="UnitText" type="medicinecard20150601:PackageSizeUnitTextType"/>
			</sequence>
			<element name="PackageSizeText" type="medicinecard20150601:PackageSizeTextType"/>
		</choice>
	</complexType>
</schema>
