etc/schemas/2015/06/01/PackageRestriction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PackageNumber.xsd"/>
	<include schemaLocation="PackageSize.xsd"/>
	<include schemaLocation="IterationInterval.xsd"/>
	<include schemaLocation="IterationIntervalUnit.xsd"/>
	<include schemaLocation="IterationNumber.xsd"/>
	<include schemaLocation="PackageQuantity.xsd"/>
	<include schemaLocation="Drug.xsd"/>

	<element name="PackageRestriction" type="medicinecard20150601:PackageRestrictionType"/>

	<complexType name="PackageRestrictionType">
		<annotation>
			<documentation xml:lang="en-GB">Specification by the doctor on a prescription, indicating the package and amounts, the pharmacy is allowed to effectuate</documentation>
			<documentation xml:lang="da-DK">Anvisning fra lægen på recepten, om hvilken vare og i hvilke mængder apoteket må udlevere</documentation>
		</annotation>
		<sequence>
			<element name="PackageNumber" type="medicinecard20150601:PackageNumberType"/>
			<element name="PackageSize" type="medicinecard20150601:PackageSizeType" minOccurs="0"/>
			<element name="PackageQuantity" type="medicinecard20150601:PackageQuantityType"/>
			<sequence minOccurs="0">
				<element name="IterationNumber" type="medicinecard20150601:IterationNumberType"/>
				<element name="IterationInterval" type="medicinecard20150601:IterationIntervalType"/>
				<element name="IterationIntervalUnit" type="medicinecard20150601:IterationIntervalUnitType"/>
			</sequence>
		</sequence>
	</complexType>
</schema>
