etc/schemas/2015/06/01/Paused.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="PausedFromDate.xsd"/>
	<include schemaLocation="PausedFromDateTime.xsd"/>
	<include schemaLocation="PausedToDate.xsd"/>
	<include schemaLocation="PausedToDateTime.xsd"/>	
	<element name="Paused" type="medicinecard20150601:PausedType">
		<annotation>
			<documentation xml:lang="en-GB">Element containing information about which organisation and possibly doctor who paused the document this element is in (e.g. drug prescription) as well as the date it ocurred.</documentation>
			<documentation xml:lang="da-DK">Element der indeholder information omkring hvilken organisation og muligvis læge som har pauseret dokumentet elementet befinder sig i (f.eks. lægemiddelordination), desuden datoen dette er sket.</documentation>
		</annotation>
	</element>
	<complexType name="PausedType">
		<sequence>
			<choice minOccurs="0">
				<element name="FromDate" type="medicinecard20150601:PausedFromDateType"/>
				<element name="FromDateTime" type="medicinecard20150601:PausedFromDateTimeType"/>
			</choice>
			<choice minOccurs="0">
				<element name="ToDate" type="medicinecard20150601:PausedToDateType"/>
				<element name="ToDateTime" type="medicinecard20150601:PausedToDateTimeType"/>
			</choice>
			<element name="By" type="medicinecard20150601:ModificatorType"/>
			<element name="DateTime" type="dateTime"/>
		</sequence>
	</complexType>
</schema>
