etc/schemas/2015/06/01/PersonName.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonGivenName.xsd"/>
	<include schemaLocation="PersonMiddleName.xsd"/>
	<include schemaLocation="PersonSurname.xsd"/>
	<element name="PersonName" type="medicinecard20150601:PersonNameType"/>
	<complexType name="PersonNameType">
		<annotation>
			<documentation xml:lang="en-GB">Structured name of a person</documentation>
			<documentation xml:lang="da-DK">Struktureret navn på en person</documentation>
		</annotation>
		<sequence>
			<element name="GivenName" type="medicinecard20150601:PersonGivenNameType"/>
			<element name="MiddleName" type="medicinecard20150601:PersonMiddleNameType" minOccurs="0"/>
			<element name="Surname" type="medicinecard20150601:PersonSurnameType"/>
		</sequence>
	</complexType>
</schema>
