etc/schemas/2015/06/01/PlannedAdministrationStructure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PlannedDosageAnyDay.xsd"/>
	<include schemaLocation="PlannedDosageDay.xsd"/>
	<include schemaLocation="DosageIsNotIterated.xsd"/>
	<include schemaLocation="DosageTimesEndDate.xsd"/>
	<include schemaLocation="DosageTimesIterationInterval.xsd"/>
	<include schemaLocation="DosageTimesStartDate.xsd"/>
	<include schemaLocation="DosageQuantityUnitText.xsd"/>
	<include schemaLocation="DosageQuantityUnitTexts.xsd"/>
	<include schemaLocation="DosageSupplementaryText.xsd"/>
	<complexType name="PlannedAdministrationStructureType">
		<annotation>
			<documentation xml:lang="en-GB">Structure for a period in the planned Administration</documentation>
			<documentation xml:lang="da-DK">En Periode i den planlagte administration</documentation>
		</annotation>
		<sequence>
			<choice>
				<element name="IterationInterval" type="medicinecard20150601:DosageTimesIterationIntervalType"/>
				<element name="NotIterated" type="medicinecard20150601:DosageIsNotIteratedType"/>
			</choice>
			<element name="StartDate" type="medicinecard20150601:DosageTimesStartDateType" minOccurs="0"/>
			<element name="EndDate" type="medicinecard20150601:DosageTimesEndDateType" minOccurs="0"/>
			<element name="SupplementaryText" type="medicinecard20150601:DosageSupplementaryTextType" minOccurs="0"/>
			<choice>
				<!-- A convoluted construction for either AnyDay or one or more Day, or both, bot not neither -->
				<sequence>
					<element name="AnyDay" type="medicinecard20150601:PlannedDosageAnyDayType"/>
					<element name="Day" type="medicinecard20150601:PlannedDosageDayType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
				<element name="Day" type="medicinecard20150601:PlannedDosageDayType" maxOccurs="unbounded"/>
			</choice>
		</sequence>
	</complexType>
</schema>
