etc/schemas/2015/06/01/PlannedAdministration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PlannedAdministrationStructure.xsd"/>
	<include schemaLocation="EmptyDosageStructure.xsd"/>
	<include schemaLocation="DosageQuantityUnitText.xsd"/>
	<include schemaLocation="DosageQuantityUnitTexts.xsd"/>
	<complexType name="PlannedAdministrationType">
		<annotation>
			<documentation xml:lang="en-GB">How often and when the drug is planned to be given</documentation>
			<documentation xml:lang="da-DK">Angivelse af hvor ofte og hvornår et lægemiddel planlægges til indtagelse</documentation>
		</annotation>
		<sequence>
			<choice>
				<element name="UnitText" type="medicinecard20150601:DosageQuantityUnitTextType" minOccurs="0" maxOccurs="1"/>
				<element name="UnitTexts" type="medicinecard20150601:DosageQuantityUnitTextsType" minOccurs="0" maxOccurs="1"/>
			</choice>
			<choice maxOccurs="unbounded">
				<element name="EmptyStructure" type="medicinecard20150601:EmptyDosageStructureType"/>
				<element name="Structure" type="medicinecard20150601:PlannedAdministrationStructureType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
