etc/schemas/2015/06/01/RemovePatientOrganisationRelation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="PatientOrganisationRelationIdentifier.xsd"/>
	<element name="RemovePatientOrganisationRelation" type="medicinecard20150601:RemovePatientOrganisationRelationType">
		<annotation>
			<documentation xml:lang="en-GB">A relation between a patient and an organisation</documentation>
			<documentation xml:lang="da-DK">Registrering af en relation mellem en patient og en organisation</documentation>
		</annotation>
	</element>
	<complexType name="RemovePatientOrganisationRelationType">
		<sequence>
			<element name="ModifiedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="ModificationMetadata" type="medicinecard20150601:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
			<choice>
				<element name="Identifier" type="medicinecard20150601:PatientOrganisationRelationIdentifierType"/>
				<element name="Organisation" type="medicinecard20150601:OrganisationType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
