etc/schemas/2015/06/01/RemoveConsentDrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>
	<element name="RemoveConsentDrugMedication" type="medicinecard20150601:RemoveConsentDrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a request to mark a drugmedication with negative consent</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel der markerer en lægemiddelordination som privatmarkeret</documentation>
		</annotation>
	</element>
	<complexType name="RemoveConsentDrugMedicationType">
		<sequence>
			<element name="Identifier" type="medicinecard20150601:DrugMedicationIdentifierType"/>
			<element name="ModifiedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="ModificationMetadata" type="medicinecard20150601:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
