etc/schemas/2015/06/01/RemoveConsentResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="MedicineCardVersion.xsd"/>
    <include schemaLocation="VersionMismatchWarning.xsd"/>
    <include schemaLocation="UpdatedDrugMedication.xsd"/>
	<element name="RemoveConsentResponse" type="medicinecard20150601:RemoveConsentResponseType">
		<annotation>
            <documentation xml:lang="en-GB">Response for marking one or more drugmedications with negative consent</documentation>
            <documentation xml:lang="da-DK">Svar på at markere en eller flere lægemiddelordinationer som privatmarkeret</documentation>
		</annotation>
	</element>
	<complexType name="RemoveConsentResponseType">
		<sequence>
			<sequence>
                <element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
                <element name="MedicineCardVersion" type="medicinecard20150601:MedicineCardVersionType"/>
                <element name="VersionMismatchWarning" type="medicinecard20150601:VersionMismatchWarningType" minOccurs="0"/>
                <element name="DrugMedication" type="medicinecard20150601:UpdatedDrugMedicationType" maxOccurs="unbounded"/>
			</sequence>
		</sequence>
	</complexType>
</schema>
