etc/schemas/2015/06/01/RemovePatientRegistrationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Modificator.xsd"/>
    <include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="RemovePatientRegistration.xsd"/>
    <element name="RemovePatientRegistrationRequest" type="medicinecard20150601:RemovePatientRegistrationRequestType">
        <annotation>
            <documentation xml:lang="en-GB">Request for removing patient registration</documentation>
            <documentation xml:lang="da-DK">Request til at fjerne en patient registrering</documentation>
        </annotation>
    </element>
    <complexType name="RemovePatientRegistrationRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
			<element name="ModifiedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="ReportedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
            <element name="Registration" type="medicinecard20150601:RemovePatientRegistrationType" maxOccurs="unbounded"/>
        </sequence>
	</complexType>
</schema>
