etc/schemas/2015/06/01/ReplacePrescriptionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="ReplacePrescription.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
    <include schemaLocation="PersonIdentifier.xsd"/>
	<element name="ReplacePrescriptionRequest" type="medicinecard20150601:ReplacePrescriptionRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document containing one or more elements for replacing prescriptions</documentation>
			<documentation xml:lang="da-DK">Request-dokument der indeholder en eller flere elementer til at erstatte recepter</documentation>
		</annotation>
	</element>
	<complexType name="ReplacePrescriptionRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="medicinecard20150601:OrganisationIdentifierType"/>
			</choice>
			<element name="CreatedBy" type="medicinecard20150601:ModificatorType"/>
			<element name="ReportedBy" type="medicinecard20150601:ModificatorType"/>
			<element name="Prescription" type="medicinecard20150601:ReplacePrescriptionType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
