etc/schemas/2015/06/01/ReplacePrescriptionResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="PrescriptionIdentifier.xsd"/>
	<element name="ReplacePrescriptionResponse" type="medicinecard20150601:ReplacePrescriptionResponseType">
	</element>
	<complexType name="ReplacePrescriptionResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response from replacing prescription medications</documentation>
			<documentation xml:lang="da-DK">Svar på erstatning af receptordination</documentation>
		</annotation>
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="medicinecard20150601:OrganisationIdentifierType"/>
			</choice>
			<element name="Prescription" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="NewPrescriptionIdentifier" type="medicinecard20150601:PrescriptionIdentifierType"/>
						<element name="ReplacedPrescriptionIdentifier" type="medicinecard20150601:PrescriptionIdentifierType"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
</schema>
