etc/schemas/2015/06/01/ReplacePrescriptionMedicationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="ReplacePrescriptionMedication.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
    <include schemaLocation="PersonIdentifier.xsd"/>
	<element name="ReplacePrescriptionMedicationRequest" type="medicinecard20150601:ReplacePrescriptionMedicationRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document containing one or more elements for replacing prescription medications</documentation>
			<documentation xml:lang="da-DK">Request-dokument der indeholder en eller flere elementer til at erstatte receptordinationer</documentation>
		</annotation>
	</element>
	<complexType name="ReplacePrescriptionMedicationRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="medicinecard20150601:OrganisationIdentifierType"/>
			</choice>
			<element name="CreatedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="ReportedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="PrescriptionMedication" type="medicinecard20150601:ReplacePrescriptionMedicationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
