etc/schemas/2015/06/01/SearchPrescriptionRequestsOrganisation.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <include schemaLocation="OrganisationName.xsd"/>
    <include schemaLocation="OrganisationType.xsd"/>
    <include schemaLocation="OrganisationIdentifier.xsd"/>

    <complexType name="SearchPrescriptionRequestsOrganisationType">
        <sequence>
            <element name="Type" type="medicinecard20150601:OrganisationTypeType"/>
            <element name="Identifier" type="medicinecard20150601:OrganisationIdentifierType"/>
        </sequence>
    </complexType>
</schema>
