etc/schemas/2015/06/01/SearchWithdrawnDrugMedicationsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="WithdrawnDateTime.xsd"/>
	<element name="SearchWithdrawnDrugMedicationsRequest" type="medicinecard20150601:SearchWithdrawnDrugMedicationsRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a search request for withdrawn drug medications</documentation>
			<documentation xml:lang="da-DK">Element for en søge-forespørgsel efter seponerede lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="SearchWithdrawnDrugMedicationsRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
			<element name="DateTime" type="dateTime" minOccurs="0"/>
			<element name="WithdrawnAfterDateTime" type="medicinecard20150601:WithdrawnDateTimeType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
