etc/schemas/2015/06/01/SearchMedicineCardResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PrescriptionSearchResult.xsd"/>
	<element name="SearchMedicineCardResponse" type="medicinecard20150601:SearchMedicineCardResponseType"/>
	<complexType name="SearchMedicineCardResponseType">
		<sequence>
			<element name="PrescriptionSearchResult" type="medicinecard20150601:PrescriptionSearchResultType" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>
</schema>
