etc/schemas/2015/06/01/SearchEffectuationsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="EffectuationDateTime.xsd"/>
	<element name="SearchEffectuationsRequest" type="medicinecard20150601:SearchEffectuationsRequestType">
	</element>
	<complexType name="SearchEffectuationsRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a request for effectuations</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel efter effektueringer</documentation>
		</annotation>
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="medicinecard20150601:OrganisationIdentifierType"/>
			</choice>
			<element name="FromDateTime" type="medicinecard20150601:EffectuationDateTimeType" minOccurs="0"/>
			<element name="ToDateTime" type="medicinecard20150601:EffectuationDateTimeType" minOccurs="0"/>
			<element name="IncludeEffectuationsOnDrugMedications" type="boolean" minOccurs="0"/>
			<element name="IncludeEffectuationsOnPrescriptionsOnDrugMedications" type="boolean" minOccurs="0"/>
			<element name="IncludeEffectuationsNotOnDrugMedications" type="boolean" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
