etc/schemas/2015/06/01/SearchPrescriptionRequestsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<include schemaLocation="SearchPrescriptionRequestsMoreAvailable.xsd"/>
	<include schemaLocation="SearchPrescriptionRequestsPatient.xsd"/>

	<element name="SearchPrescriptionRequestsResponse" type="medicinecard20150601:SearchPrescriptionRequestsResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response to prescription requests request</documentation>
			<documentation xml:lang="da-DK">Svar på forespørgsel efter receptbestillinger</documentation>
		</annotation>
	</element>

	<complexType name="SearchPrescriptionRequestsResponseType">
		<sequence>
			<element name="Patient" type="medicinecard20150601:SearchPrescriptionRequestsPatientType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MoreAvailable" type="medicinecard20150601:SearchPrescriptionRequestsMoreAvailableType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
