etc/schemas/2015/06/01/SearchPrescriptionRequestsPatient.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">
    <include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="CreatedDateTime.xsd"/>
    <include schemaLocation="NumberOfUnhandledPrescriptionRequests.xsd"/>


    <complexType name="SearchPrescriptionRequestsPatientType">
        <sequence>
            <element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
            <element name="OldestUnhandledCreatedDateTime" type="medicinecard20150601:CreatedDateTimeType"/>
            <element name="NumberOfUnhandled" type="medicinecard20150601:NumberOfUnhandledPrescriptionRequestsType"/>
        </sequence>
    </complexType>


</schema>
