etc/schemas/2015/06/01/SearchPrescriptionRequestsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">
	<include schemaLocation="SearchPrescriptionsRequestsOrganisation.xsd"/>

	<element name="SearchPrescriptionRequestsRequest" type="medicinecard20150601:SearchPrescriptionRequestsRequestType">
		<annotation>
			<documentation xml:lang="en-GB">An element for requesting prescription requests given an organisation which is either requesting the prescriptions or handling the prescription requests</documentation>
			<documentation xml:lang="da-DK">Et element til forespørgsel efter receptbestillinger givet en organisation som enten har bestilt recepterne eller hos hvilken bestillingerne skal udføres</documentation>
		</annotation>
	</element>

	<complexType name="SearchPrescriptionRequestsRequestType">
		<sequence>
			<choice>
				<element name="PrescribingOrganisation" type="medicinecard20150601:SearchPrescriptionsRequestsOrganisationType"/>
				<element name="OrderingOrganisation" type="medicinecard20150601:SearchPrescriptionsRequestsOrganisationType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
