etc/schemas/2015/06/01/StartEffectuationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Prescription.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="PrescriptionError.xsd"/>
	
	<element name="StartEffectuationResponse" type="medicinecard20150601:StartEffectuationResponseType"/>
	
	<complexType name="StartEffectuationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response for the request to start effectuating one or more prescriptions</documentation>
			<documentation xml:lang="da-DK">Svar på forespørgsel på at påbegynde ekspedition af en eller flere recepter</documentation>
		</annotation>
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="medicinecard20150601:OrganisationIdentifierType"/>
			</choice>
			<element name="Prescription" type="medicinecard20150601:PrescriptionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="StartEffectuationFailed" type="medicinecard20150601:PrescriptionErrorType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
