etc/schemas/2015/06/01/Substances.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="ActiveSubstance.xsd"/>
	<element name="Substances" type="medicinecard20150601:SubstancesType">
		<annotation>
			<documentation xml:lang="en-GB">Contains a number of substances</documentation>
			<documentation xml:lang="da-DK">Indeholder et antal substanser</documentation>
		</annotation>
	</element>
	<complexType name="SubstancesType">
		<sequence maxOccurs="100">
			<element name="ActiveSubstance" type="medicinecard20150601:ActiveSubstanceType"/>
		</sequence>
	</complexType>
</schema>
