etc/schemas/2015/06/01/TerminatePrescriptionResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="PrescriptionIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<element name="TerminatePrescriptionResponse" type="medicinecard20150601:TerminatePrescriptionResponseType">
	</element>
	<complexType name="TerminatePrescriptionResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Service response on successfully terminating a Prescription </documentation>
			<documentation xml:lang="da-DK">Service svar ved en gennemført afslutning af en Recept</documentation>
		</annotation>
		<sequence>
			<sequence>
				<choice>
					<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
					<element name="OrganisationIdentifier" type="medicinecard20150601:OrganisationIdentifierType"/>
				</choice>
				<element name="PrescriptionIdentifier" type="medicinecard20150601:PrescriptionIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</sequence>
	</complexType>
</schema>
