etc/schemas/2015/06/01/UnattachedPrescriptionMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="AuthorisationDateTime.xsd"/>
	<include schemaLocation="CreateDoseDispensedPrescriptionDispensing.xsd"/>
	<include schemaLocation="CreateSinglePrescriptionDispensing.xsd"/>
	<include schemaLocation="CreateReiteratedPrescriptionDispensing.xsd"/>
	<include schemaLocation="Delivery.xsd"/>
	<include schemaLocation="DeliveryInformation.xsd"/>
	<include schemaLocation="Indication.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>	
	<include schemaLocation="OrderInstruction.xsd"/>
	<include schemaLocation="Organisation.xsd"/>
	<include schemaLocation="ReimbursementClause.xsd"/>
	<include schemaLocation="SubstitutionAllowed.xsd"/>
	<include schemaLocation="SupplementaryInformation.xsd"/>
	<include schemaLocation="SystemName.xsd"/>
	<element name="UnattachedPrescriptionMedication" type="medicinecard20150101:UnattachedPrescriptionMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Request document for creating an unattached PrescriptionMedication.</documentation>
			<documentation xml:lang="da-DK">Request-dokument til at oprette en løs receptordination.</documentation>
		</annotation>
	</element>
	<complexType name="UnattachedPrescriptionMedicationType">
		<sequence>
			<element name="CreatedBy" type="medicinecard20150101:ModificatorType" minOccurs="0"/>
			<element name="ModificationMetadata" type="medicinecard20150101:ModificationMetadataType" minOccurs="0"/>			
			<element name="AuthorisationDateTime" type="medicinecard20150101:AuthorisationDateTimeType"/>
			<element name="SystemName" type="medicinecard20150101:SystemNameType"/>
            <element name="ValidFromDate" type="medicinecard20140601:ValidDateType" minOccurs="0"/>
            <element name="ValidToDate" type="medicinecard20140601:ValidDateType"/>
            <element name="ReimbursementClause" type="medicinecard20150101:ReimbursementClauseType" minOccurs="0"/>
            <element name="Dosage" type="medicinecard20150101:DosageType" minOccurs="0"/>
            <choice>
                <element name="PackageRestriction" type="medicinecard20140601:PackageRestrictionType"/>
                <element name="DoseDispensedRestriction" type="medicinecard20140601:DoseDispensedRestrictionType"/>
			</choice>
			<element name="Indication" type="medicinecard20150101:IndicationType" minOccurs="0"/>
			<element name="SubstitutionAllowed" type="medicinecard20150101:SubstitutionAllowedType"/>
			<element name="SupplementaryInformation" type="medicinecard20150101:SupplementaryInformationType" minOccurs="0"/>
            <element name="Order" type="medicinecard20150601:OrderType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
