etc/schemas/2015/06/01/UndoEffectuationOnOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="UndoEffectuation.xsd"/>
	<include schemaLocation="OrderIdentifier.xsd"/>

	<complexType name="UndoEffectuationOnOrderType">
		<sequence>
			<element name="Identifier" type="medicinecard20150601:OrderIdentifierType"/>
			<element name="Effectuation" type="medicinecard20150601:UndoEffectuationType"/>
		</sequence>
	</complexType>
</schema>
