etc/schemas/2015/06/01/UndoEffectuationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="UndoEffectuationOnPrescriptionAndOrder.xsd"/>

	<element name="UndoEffectuationRequest" type="medicinecard20150601:UndoEffectuationRequestType"/>

	<complexType name="UndoEffectuationRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Service request for undoing a number of existing pharmacy effectutations</documentation>
			<documentation xml:lang="da-DK">Service kald til at tilbageføre et antal eksisterende apoteks ekspeditioner</documentation>
		</annotation>
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="medicinecard20150601:OrganisationIdentifierType"/>
			</choice>
			<element name="ModifiedBy" type="medicinecard20150601:ModificatorType"/>
			<element name="Prescription" type="medicinecard20150601:UndoEffectuationOnPrescriptionAndOrderType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
