etc/schemas/2015/06/01/UndoEffectuationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="EffectuationIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="PrescriptionMedicationIdentifier.xsd"/>
	<include schemaLocation="OrderIdentifier.xsd"/>

	<element name="UndoEffectuationResponse" type="medicinecard20150601:UndoEffectuationResponseType"/>

	<complexType name="UndoEffectuationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Service response for undoing an effectuation</documentation>
			<documentation xml:lang="da-DK">Service svar på en tilbageførsel</documentation>
		</annotation>
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="medicinecard20150601:OrganisationIdentifierType"/>
			</choice>
			<element name="PrescriptionMedication" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="Identifier" type="medicinecard20150601:PrescriptionMedicationIdentifierType"/>
	 					<element name="Order" maxOccurs="unbounded">
							<complexType>
								<sequence>
									<element name="Identifier" type="medicinecard20150601:OrderIdentifierType"/>
									<element name="Effectuation" maxOccurs="unbounded">
										<complexType>
											<sequence>
												<element name="Identifier" type="medicinecard20150601:EffectuationIdentifierType"/>
											</sequence>
										</complexType>
									</element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
</schema>
