etc/schemas/2015/06/01/UnmarkPrescriptionDeprecatedResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<element name="UnmarkPrescriptionDeprecatedResponse" type="medicinecard20150601:UnmarkPrescriptionDeprecatedResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response from service to unmark one or more prescription medications as no longer relevant</documentation>
			<documentation xml:lang="da-DK">Svar fra service til fjern markering af at en eller flere receptordinationer ikke længere er relevante</documentation>
		</annotation>
	</element>
	<complexType name="UnmarkPrescriptionDeprecatedResponseType">
		<sequence>
			<sequence>
				<choice>
					<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
					<element name="OrganisationIdentifier" type="medicinecard20150601:OrganisationIdentifierType"/>
				</choice>
				<element name="MedicineCardVersion" type="medicinecard20150601:MedicineCardVersionType"/>
				<element name="VersionMismatchWarning" type="medicinecard20150601:VersionMismatchWarningType" minOccurs="0"/>
			</sequence>
		</sequence>
	</complexType>
</schema>
