etc/schemas/2015/06/01/UnpausedDrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationVersion.xsd"/>
	<element name="UnpausedDrugMedication" type="medicinecard20150601:UnpausedDrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Element with IDs returned when a drug medication has been unpaused</documentation>
			<documentation xml:lang="da-DK">Element med IDer returneret når en lægemiddelinformation har fået fjernet er blevet pauseringen</documentation>
		</annotation>
	</element>
	<complexType name="UnpausedDrugMedicationType">
		<sequence>
			<element name="Identifier" type="medicinecard20150601:DrugMedicationIdentifierType"/>
			<element name="Version" type="medicinecard20150601:DrugMedicationVersionType"/>
		</sequence>
	</complexType>
</schema>
