etc/schemas/2015/06/01/UnsuspendMedicineCardResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>
	<element name="UnsuspendMedicineCardResponse" type="medicinecard20150601:UnsuspendMedicineCardResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response from a request to unsuspend a medicine card</documentation>
			<documentation xml:lang="da-DK">Svar på en forespørgsel om at ophæve suspenderingen af et medicinkort (frigive)</documentation>
		</annotation>
	</element>
	<complexType name="UnsuspendMedicineCardResponseType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
			<element name="MedicineCardVersion" type="medicinecard20150601:MedicineCardVersionType"/>
			<element name="VersionMismatchWarning" type="medicinecard20150601:VersionMismatchWarningType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
