etc/schemas/2015/06/01/UnwithdrawDrugMedicationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="UnwithdrawDrugMedication.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>
	<element name="UnwithdrawDrugMedicationRequest" type="medicinecard20150601:UnwithdrawDrugMedicationRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request for a request which will undo a withdraw of one or more drug medications</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel der fjerner en seponering af en eller flere lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="UnwithdrawDrugMedicationRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
			<element name="MedicineCardVersion" type="medicinecard20150601:MedicineCardVersionType"/>
			<element name="ModifiedBy" type="medicinecard20150601:ModificatorType"/>
			<element name="ReportedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="DrugMedication" type="medicinecard20150601:UnwithdrawDrugMedicationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
