etc/schemas/2015/06/01/UpdateOrderStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="OrderIdentifier.xsd"/>
	<include schemaLocation="OrderStatus.xsd"/>
	<complexType name="UpdateOrderStatusType">
		<annotation>
			<documentation xml:lang="en-GB">Element for updating the status on an order for a pharmacy</documentation>
			<documentation xml:lang="da-DK">Element til at skifte status på en bestilling til et apotek</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="medicinecard20150601:OrderIdentifierType"/>
			<element name="ModifiedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="Status" type="medicinecard20150601:OrderStatusType"/>
		</sequence>
	</complexType>
</schema>
