etc/schemas/2015/06/01/UpdateDrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DosageForRequest.xsd"/>
    <include schemaLocation="FollowUpDates.xsd"/>
	<include schemaLocation="Drug.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="CreateOrUpdateDrugMedicationBeginEndDate.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="IsPrivateDrugMedication.xsd"/>
	<include schemaLocation="Indication.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="Pause.xsd"/>
	<include schemaLocation="RouteOfAdministration.xsd"/>
	<include schemaLocation="SubstitutionAllowed.xsd"/>
	<include schemaLocation="UnwithdrawDrugMedicationOnUpdate.xsd"/>
    <include schemaLocation="ReimbursementClause.xsd"/>
	<element name="UpdateDrugMedication" type="medicinecard20150601:UpdateDrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">An overview of the drug medication (a medication on the medicine card), used for update</documentation>
			<documentation xml:lang="da-DK">En oversigt over lægemiddelordination (en ordination på medicinkortet), til brug ved opdatering</documentation>
		</annotation>
	</element>
	<complexType name="UpdateDrugMedicationType">
		<sequence>
			<element name="Identifier" type="medicinecard20150601:DrugMedicationIdentifierType"/>
			<element name="Unwithdraw" type="medicinecard20150601:UnwithdrawDrugMedicationOnUpdateType" minOccurs="0"/>
			<element name="ParentIdentifier" type="medicinecard20150601:DrugMedicationIdentifierType" minOccurs="0"/>
			<element name="ModifiedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="ModificationMetadata" type="medicinecard20150601:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="FollowUpDates" type="medicinecard20150601:FollowUpDatesType" minOccurs="0"/>
			<element name="Pause" type="medicinecard20150601:PauseType" minOccurs="0"/>
			<element name="IsPrivateDrugMedication" type="medicinecard20150601:IsPrivateDrugMedicationType" minOccurs="0"/>
			<element name="BeginEndDate" type="medicinecard20150601:CreateOrUpdateDrugMedicationBeginEndDateType"/>
			<element name="Indication" type="medicinecard20150601:IndicationType"/>
			<element name="RouteOfAdministration" type="medicinecard20150601:RouteOfAdministrationType"/>
			<element name="Drug" type="medicinecard20150601:DrugType"/>
			<element name="Dosage" type="medicinecard20150601:DosageForRequestType"/>
			<element name="SubstitutionAllowed" type="medicinecard20150601:SubstitutionAllowedType"/>
            <element name="ReimbursementClause" type="medicinecard20150601:ReimbursementClauseType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
