etc/schemas/2015/06/01/UpdateEffectuation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="EffectuationDateTime.xsd"/>
	<include schemaLocation="EffectuationIdentifier.xsd"/>
	<include schemaLocation="DoseDispensed.xsd"/>
	<include schemaLocation="PackageDispensed.xsd"/>

	<complexType name="UpdateEffectuationType">
		<annotation>
			<documentation xml:lang="en-GB">Element for updating a single pharmacy effectutation</documentation>
			<documentation xml:lang="da-DK">Element til opdatering af en enkelt apoteks-ekspedition</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="medicinecard20150601:EffectuationIdentifierType"/>
			<element name="DateTime" type="medicinecard20150601:EffectuationDateTimeType"/>
			<element name="ModifiedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<choice>
				<element name="DoseDispensed" type="medicinecard20150601:DoseDispensedType"/>
				<element name="PackageDispensed" type="medicinecard20150601:PackageDispensedType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
