etc/schemas/2015/06/01/UpdateEffectuation_DrugMedicationPrescriptionMedicationAndOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationVersion.xsd"/>
	<include schemaLocation="UpdateEffectuation_PrescriptionMedicationAndOrder.xsd"/>

	<complexType name="UpdateEffectuation_DrugMedicationPrescriptionMedicationAndOrderType">
		<sequence>
			<element name="Identifier" type="medicinecard20150601:DrugMedicationIdentifierType"/>
			<element name="Version" type="medicinecard20150601:DrugMedicationVersionType"/>
			<element name="Warrant" type="medicinecard20150601:UpdateEffectuation_PrescriptionMedicationAndOrderType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
