etc/schemas/2015/06/01/UpdateAquireOrderRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="UpdateAquireOrder_DrugMedicationAndPrescriptionMedication.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="AquireOrderIdentifier.xsd"/>
	<include schemaLocation="AquireOrderVersion.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>

	<element name="UpdateAquireOrderRequest" type="medicinecard20150601:AquireOrderRequestType"/>

	<complexType name="AquireOrderRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="medicinecard20150601:OrganisationIdentifierType"/>
			</choice>
			<element name="MedicineCardVersion" type="medicinecard20150601:MedicineCardVersionType"/>
			<element name="ModifiedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="ReportedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="AquireOrder" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="Identifier" type="medicinecard20150601:AquireOrderIdentifierType"/>
						<element name="Version" type="medicinecard20150601:AquireOrderVersionType"/>
						<element name="DrugMedication" type="medicinecard20150601:UpdateAquireOrder_DrugMedicationAndPrescriptionMedicationType"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
</schema>
