etc/schemas/2015/06/01/UpdateEffectuation_PrescriptionMedicationAndOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" 
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" 
        elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="UpdateEffectuation_Order.xsd"/>
	<include schemaLocation="PrescriptionMedicationIdentifier.xsd"/>
	<include schemaLocation="PrescriptionMedicationVersion.xsd"/>
	<include schemaLocation="TerminatePrescriptionMedication.xsd"/>
	
	<complexType name="UpdateEffectuation_PrescriptionMedicationAndOrderType">
		<sequence>
			<element name="Identifier" type="medicinecard20150601:PrescriptionMedicationIdentifierType"/>
			<element name="Version" type="medicinecard20150601:PrescriptionMedicationVersionType"/>
			<choice>
				<element name="Order" type="medicinecard20150601:UpdateEffectuationOnOrderType"/>
			</choice>
			<element name="Terminate" type="medicinecard20150601:TerminatePrescriptionMedicationType"/>
		</sequence>
	</complexType>
</schema>
