etc/schemas/2015/06/01/UpdateEffectuationOnOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="UpdateEffectuation.xsd"/>
	<include schemaLocation="OrderIdentifier.xsd"/>
	<include schemaLocation="OrderStatus.xsd"/>

	<complexType name="UpdateEffectuationOnOrderType">
		<annotation>
			<documentation xml:lang="en-GB">Element for updating a single pharmacy effectutation on an order</documentation>
			<documentation xml:lang="da-DK">Element til opdatering af en enkelt apoteks-ekspedition på en bestilling</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="medicinecard20150601:OrderIdentifierType"/>
			<element name="Status" type="medicinecard20150601:OrderStatusType" minOccurs="0"/>
			<element name="Effectuation" type="medicinecard20150601:UpdateEffectuationType"/>
		</sequence>
	</complexType>
</schema>
