etc/schemas/2015/06/01/WithdrawDrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>	
	<element name="WithdrawDrugMedication" type="medicinecard20150601:WithdrawDrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">A request which withdraws the drug prescription</documentation>
			<documentation xml:lang="da-DK">En forespørgsel der seponerer en lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="WithdrawDrugMedicationType">
		<sequence>
			<element name="Identifier" type="medicinecard20150601:DrugMedicationIdentifierType"/>
			<element name="WithdrawnBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="ModificationMetadata" type="medicinecard20150601:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
