etc/testtool-schemas/2017/02/22/SendXML.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:testtool20170222="http://www.dkma.dk/medicinecard/xml.schema/2017/02/22"
            targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2017/02/22"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:element name="SendXMLRequest" type="testtool20170222:SendXMLRequestType"/>
    <xsd:complexType name="SendXMLRequestType">
        <xsd:sequence>
            <xsd:element name="XML" type="xsd:string"/>
            <xsd:element name="Operation" type="testtool20170222:OperationType"/>
            <xsd:element name="Role" type="xsd:string" minOccurs="0"/>
            <xsd:element name="SubjectCPR" type="xsd:string" minOccurs="0"/>
            <xsd:element name="OnBehalfOf" type="testtool20170222:OnBehalfOfType" minOccurs="0"/>
            <xsd:element name="ValidateResponse" type="xsd:boolean"/>
            <xsd:element name="Consent" type="testtool20170222:ConsentType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="OrgUsingID" type="testtool20170222:OrgUsingIDType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OnBehalfOfType">
        <xsd:choice>
            <xsd:element name="PersonIdentifier" type="xsd:string"/>
            <xsd:element name="AuthorisationNumber" type="xsd:string"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="OrgUsingIDType">
        <xsd:sequence>
            <xsd:element name="Value" type="xsd:string"/>
            <xsd:element name="Format" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ConsentType">
        <xsd:sequence>
            <xsd:element name="Value" type="xsd:string"/>
            <xsd:element name="ValidFrom" type="xsd:date" minOccurs="0"/>
            <xsd:element name="ValidTo" type="xsd:date" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:element name="SendXMLResponse" type="testtool20170222:SendXMLResponseType"/>
    <xsd:complexType name="SendXMLResponseType">
        <xsd:sequence>
            <xsd:element name="XML" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="GetOperationsResponse" type="testtool20170222:GetOperationsResponseType"/>
    <xsd:complexType name="GetOperationsResponseType">
        <xsd:sequence>
            <xsd:element name="Operations" type="testtool20170222:OperationType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OperationType">
        <xsd:sequence>
            <xsd:element name="Service" type="xsd:string"/>
            <xsd:element name="Version" type="xsd:string"/>
            <xsd:element name="Name" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:element name="GetRolesResponse" type="testtool20170222:GetRolesResponseType"/>
    <xsd:complexType name="GetRolesResponseType">
        <xsd:sequence>
            <xsd:element name="Roles" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>