etc/schemas/2022/01/01/AbortOrderHandlingResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="WarrantOrderIdentifierForResponse.xsd"/>
	<include schemaLocation="WarrantError.xsd"/>

	<element name="AbortOrderHandlingResponse" type="mc160:AbortOrderHandlingResponseType">
		<annotation>
			<documentation xml:lang="en-GB">A response to the 'abort order handling' request, which includes identifier for the warrants where the abort succeeded, and an error structure for those where the abort operation failed.</documentation>
			<documentation xml:lang="da-DK">Et svar på requestet 'afbryd håndtering af bestilling', som inkluderer identifiers for de udleveringsgrundlag hvor håndtering blev afbrudt med succes, og en fejl-struktur for dem hvor afbryd operationen fejlede.</documentation>
		</annotation>
	</element>
	<complexType name="AbortOrderHandlingResponseType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="Warrant" type="mc160:WarrantOrderIdentifierForResponseType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="AbortOrderHandlingFailed" type="mc160:WarrantErrorType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
