etc/schemas/2022/01/01/AbortEffectuationOfDispensingPeriodRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="DispensingPeriodStatusChange.xsd"/>

	<element name="AbortEffectuationOfDispensingPeriodRequest" type="mc160:AbortEffectuationOfDispensingPeriodRequestType"/>

	<complexType name="AbortEffectuationOfDispensingPeriodRequestType">
		<annotation>
			<documentation xml:lang="en-GB">A request to abort effectuation for an entire dispensing period</documentation>
			<documentation xml:lang="da-DK">Et request som afbryder ekspedition af alt i en dispensing periode</documentation>
		</annotation>
		<sequence>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="ModifiedBy" type="mc160:ModificatorType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="AbortEffectuationOfDispensingPeriod" type="mc160:DispensingPeriodStatusChangeType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
