etc/schemas/2022/01/01/AbortHandoverOnWarrant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="AbortHandoverOnOrder.xsd"/>
	<include schemaLocation="WarrantIdentifier.xsd"/>
	<include schemaLocation="TerminateWarrant.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>

	<complexType name="AbortHandoverOnWarrantType">
		<annotation>
			<documentation xml:lang="en-GB">Element for undoing a single handover on a warrant. If the handover is a pharmacy handover, the corresponding order must also be specified.</documentation>
			<documentation xml:lang="da-DK">Element til tilbageførsel af en enkelt udlevering på et udleveringsgrundlag. Hvis der er tale om en apoteksudlevering, skal den tilhørende bestilling også specificeres.</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="mc160:WarrantIdentifierType"/>
            <choice>
                <element name="PharmacyHandover" type="mc160:AbortHandoverOnOrderType"/>
                <element name="TreatmentHandoverIdentifier" type="mc160:HandoverIdentifierType"/>
            </choice>
			<element name="Terminate" type="mc160:TerminateWarrantType"/>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
