etc/schemas/2022/01/01/AbortPacking.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<include schemaLocation="DispensingPeriodIdentifier.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>

	<element name="AbortPacking" type="mc160:AbortPackingType">
		<annotation>
			<documentation xml:lang="en-GB">Element for aborting packing of a dispensing period</documentation>
			<documentation xml:lang="da-DK">Element for annullering af pakning af en dispenseret periode</documentation>
		</annotation>
	</element>

	<complexType name="AbortPackingType">
		<sequence>
			<element name="DispensingPeriodIdentifier" type="mc160:DispensingPeriodIdentifierType"/>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
