etc/schemas/2022/01/01/AbortEffectuationOfDoseDispensingPeriodResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="DoseDispensingPeriodIdentifier.xsd"/>

	<element name="AbortEffectuationOfDoseDispensingPeriodResponse" type="mc160:AbortEffectuationOfDoseDispensingPeriodResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response from a for a request to abort effectuation for an entire DD period</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar på en request som afbryder ekspeditionen af alt i en DD periode</documentation>
		</annotation>
	</element>
	<complexType name="AbortEffectuationOfDoseDispensingPeriodResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="DoseDispensingPeriodIdentifier" type="mc160:DoseDispensingPeriodIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
