etc/schemas/2022/01/01/AbortPackingRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="AbortPacking.xsd"/>

	<element name="AbortPackingRequest" type="mc160:AbortPackingRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request which aborts the packing of a dispensing period</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel som annullerer pakningen af en dispenseret periode</documentation>
		</annotation>
	</element>
	<complexType name="AbortPackingRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="ModifiedBy" type="mc160:ModificatorType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="AbortPacking" type="mc160:AbortPackingType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
