etc/schemas/2022/01/01/AbortEffectuationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="PrescriptionIdentifier.xsd"/>
	<include schemaLocation="OrderIdentifier.xsd"/>
	<include schemaLocation="PrescriptionError.xsd"/>

	<element name="AbortEffectuationResponse" type="mc160:AbortEffectuationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">A response to the 'abort effectuation' request, which includes identifier for the prescriptions where the abort succeeded, and an error structure for those where the abort operation failed.</documentation>
			<documentation xml:lang="da-DK">Et svar på requestst 'afbryd ekspedition', som inkluderer identifiers for de recepter hvor ekspedition blev afbrudt med succes, og en fejl-struktur for dem hvor afbryd operationen fejlede.</documentation>
		</annotation>
	</element>
	<complexType name="AbortEffectuationResponseType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="Prescription" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="Identifier" type="mc160:PrescriptionIdentifierType"/>
						<element name="Order">
							<complexType>
								<sequence>
									<element name="Identifier" type="mc160:OrderIdentifierType"/>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="AbortEffectuationFailed" type="mc160:PrescriptionErrorType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
