etc/schemas/2022/01/01/ActiveSubstanceCode.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="Source.xsd"/>
	<include schemaLocation="SourceDate.xsd"/>
	<include schemaLocation="SourceYearAndWeek.xsd"/>

	<element name="ActiveSubstanceCode" type="mc160:ActiveSubstanceCodeType">
		<annotation>
			<documentation xml:lang="en-GB">Indicates the code of theactive substance</documentation>
			<documentation xml:lang="da-DK">Angiver kode for den aktive substans</documentation>
		</annotation>
	</element>
	<complexType name="ActiveSubstanceCodeType">
		<simpleContent>
			<extension base="mc160:ActiveSubstanceCodeValueType">
				<attribute name="source" type="mc160:ActiveSubstanceSourceType" use="required"/>
				<attribute name="date" type="mc160:SourceDateType" use="optional"/>
				<attribute name="yearAndWeek" type="mc160:SourceYearAndWeekType" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="ActiveSubstanceCodeValueType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="150"/>
		</restriction>
	</simpleType>
	<simpleType name="ActiveSubstanceSourceType">
		<union memberTypes="mc160:ActiveSubstancePredefinedSourceType mc160:UndefinedSourceType"/>
	</simpleType>
	<simpleType name="ActiveSubstancePredefinedSourceType">
		<restriction base="mc160:UndefinedSourceType">
			<enumeration value="Medicinpriser"/>
			<enumeration value="Local"/>
            <enumeration value="Magistrel"/>
		</restriction>
	</simpleType>
</schema>
