etc/schemas/2022/01/01/ActiveSubstanceText.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="Source.xsd"/>
	<include schemaLocation="SourceDate.xsd"/>
	<include schemaLocation="SourceYearAndWeek.xsd"/>
	
	<element name="ActiveSubstanceText" type="mc160:ActiveSubstanceTextType">
		<annotation>
			<documentation xml:lang="en-GB">Contains one active substance from LMS 30 field 5</documentation>
			<documentation xml:lang="da-DK">Indeholder en enkelt aktiv substans fra LMS30 felt 5</documentation>
		</annotation>
	</element>
	<complexType name="ActiveSubstanceTextType">
		<simpleContent>
			<extension base="mc160:ActiveSubstanceTextValueType">
				<attribute name="source" type="mc160:ActiveSubstanceTextSourceType" use="required"/>
				<attribute name="date" type="mc160:SourceDateType" use="optional"/>
				<attribute name="yearAndWeek" type="mc160:SourceYearAndWeekType" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="ActiveSubstanceTextValueType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="150"/>
		</restriction>
	</simpleType>
	<simpleType name="ActiveSubstanceTextSourceType">
		<union memberTypes="mc160:ActiveSubstanceTextPredefinedSourceType mc160:UndefinedSourceType mc160:ExtendedLocalSourceType"/>
	</simpleType>
	<simpleType name="ActiveSubstanceTextPredefinedSourceType">
		<restriction base="mc160:UndefinedSourceType">
			<enumeration value="Chemical Abstract (CAS)"/>
			<enumeration value="Medicinpriser"/>
			<enumeration value="Local"/>
            <enumeration value="Magistrel"/>
		</restriction>
	</simpleType>
</schema>
