etc/schemas/2022/01/01/ActivatePendingWarrantRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="ActivatePendingWarrant.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="WarrantIdentifier.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>

	<element name="ActivatePendingWarrantRequest" type="mc160:ActivatePendingWarrantRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request to activate one or more pending warrants</documentation>
			<documentation xml:lang="da-DK">Forespørgsel til at aktivere et eller flere fremtidige udleveringsgrundlag</documentation>
		</annotation>
	</element>
	<complexType name="ActivatePendingWarrantRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="ModifiedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="Warrant" type="mc160:ActivatePendingWarrantType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
