etc/schemas/2022/01/01/AdministrationOverview.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <include schemaLocation="PlannedAdministration.xsd"/>

    <element name="PlannedAdministrationOverview" type="mc160:PlannedAdministrationOverviewType">
        <annotation>
            <documentation xml:lang="en-GB">Dispensing card contents without a period</documentation>
            <documentation xml:lang="da-DK">Dispenserings kort indhold uden en period</documentation>
        </annotation>
    </element>
    <complexType name="PlannedAdministrationOverviewType">
        <sequence>
            <element name="PlannedAdministration" type="mc160:PlannedAdministrationType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
