etc/schemas/2022/01/01/AdministrationAccordingToSchemaInLocalSystemForRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="DosageTimesDosageEndingUndetermined.xsd"/>
	<include schemaLocation="DosageTimesEndDate.xsd"/>
	<include schemaLocation="DosageTimesStartDate.xsd"/>
	
	<element name="AdministrationAccordingToSchemaInLocalSystemForRequest" type="mc160:AdministrationAccordingToSchemaInLocalSystemForRequestType">
		<annotation>
			<documentation xml:lang="en-GB">If the element exists it indicates that the medication is according to schema in a local system</documentation>
			<documentation xml:lang="da-DK">Hvis elementet findes angives at medicinfordeling er skemalagt i eget system</documentation>
		</annotation>
	</element>
	<complexType name="AdministrationAccordingToSchemaInLocalSystemForRequestType">
		<sequence>
			<choice>
				<element name="StartDate" type="mc160:DosageTimesStartDateType"/>
			</choice>
			<choice>
				<element name="EndDate" type="mc160:DosageTimesEndDateType"/>
				<element name="DosageEndingUndetermined" type="mc160:DosageTimesDosageEndingUndeterminedType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
