etc/schemas/2022/01/01/AmendDispensingResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="DispensingCardIdentifier.xsd"/>
	<include schemaLocation="DispensingIdentifier.xsd"/>
	<include schemaLocation="DispensingVersion.xsd"/>
	<include schemaLocation="DispensingPeriodIdentifier.xsd"/>
    <include schemaLocation="DispensingPeriodVersion.xsd"/>
	<include schemaLocation="DispensingStatus.xsd"/>

	<element name="AmendDispensingResponse" type="mc160:AmendDispensingResponseType"/>

	<complexType name="AmendDispensingResponseType">
		<annotation>
			<documentation xml:lang="en-GB">A request to get a dispensing plan for a given dispensing card</documentation>
			<documentation xml:lang="da-DK">Et request som som henter an ophældningsplan for et givent dispenseringskort</documentation>
		</annotation>
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="DispensingCardIdentifier" type="mc160:DispensingCardIdentifierType"/>
			<element name="InsertedDispensingInPeriod" type="mc160:DispensingUpdateType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="UpdatedDispensingInPeriod" type="mc160:DispensingUpdateType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="RemovedDispensingInPeriod" type="mc160:DispensingUpdateType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ClosedPeriod" type="mc160:DispensingPeriodUpdate" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<complexType name="DispensingUpdateType">
		<sequence>
			<element name="DispensingIdentifier" type="mc160:DispensingIdentifierType"/>
			<element name="DispensingVersion" type="mc160:DispensingVersionType"/>
		</sequence>
	</complexType>

	<complexType name="DispensingPeriodUpdate">
		<sequence>
			<element name="DispensingPeriodIdentifier" type="mc160:DispensingPeriodIdentifierType"/>
            <element name="DispensingPeriodVersion" type="mc160:DispensingPeriodVersionType"/>
			<element name="DispensingPeriodStatus" type="mc160:DispensingStatusType"/>
		</sequence>
	</complexType>
</schema>
