etc/schemas/2022/01/01/ATC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="ATCCode.xsd"/>
	<include schemaLocation="ATCText.xsd"/>

	<element name="ATC" type="mc160:ATCType">
		<annotation>
			<documentation xml:lang="en-GB">Information about ATC group</documentation>
			<documentation xml:lang="da-DK">Information om ATC gruppe</documentation>
		</annotation>
	</element>
	<complexType name="ATCType">
		<sequence>
			<element name="Code" type="mc160:ATCCodeType"/>
			<element name="Text" type="mc160:ATCTextType"/>
		</sequence>
	</complexType>
</schema>
