etc/schemas/2022/01/01/AttachWarrant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>		
	<include schemaLocation="WarrantIdentifier.xsd"/>
	
	<element name="AttachWarrant" type="mc160:AttachWarrantType">
		<annotation>
			<documentation xml:lang="en-GB">Contains a drug medication ID and one or more warrant IDs which are to be attached</documentation>
			<documentation xml:lang="da-DK">Indeholder et lægemiddelordinations-ID og et eller udleveringsgrundlag-IDer der skal knyttes hertil</documentation>
		</annotation>
	</element>
	<complexType name="AttachWarrantType">
		<sequence>
			<element name="DrugMedicationIdentifier" type="mc160:DrugMedicationIdentifierType"/>
			<element name="Identifier" type="mc160:WarrantIdentifierType" maxOccurs="unbounded"/>
			<element name="ModifiedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
