etc/schemas/2022/01/01/AttachOrDetachWarrantRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="AttachWarrant.xsd"/>
	<include schemaLocation="DetachWarrant.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>

	<element name="AttachOrDetachWarrantRequest" type="mc160:AttachOrDetachWarrantRequestType">
		<annotation>
			<documentation xml:lang="en-GB">A request which attaches or detaches warrants to/from drug medications</documentation>
			<documentation xml:lang="da-DK">En forespørgsel der opretter eller fjerne tilknytninger af udleveringsgrundlag til lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="AttachOrDetachWarrantRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
			<element name="ModifiedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="DetachWarrant" type="mc160:DetachWarrantType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="AttachWarrant" type="mc160:AttachWarrantType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
