etc/schemas/2022/01/01/CalculateDosageAdjustmentResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="DosageForResponse.xsd"/>

	<element name="CalculateDosageAdjustmentResponse" type="mc160:CalculateDosageAdjustmentResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response with a dosage where periods have been adjusted to be used in a later update of a drug medication</documentation>
			<documentation xml:lang="da-DK">Svar med en dosering hvor perioder er justeret til anvendelse ved en senere opdatering af en lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="CalculateDosageAdjustmentResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="DrugMedicationIdentifier" type="mc160:DrugMedicationIdentifierType" minOccurs="0"/>
			<element name="Dosage" type="mc160:DosageForResponseType"/>
		</sequence>
	</complexType>
</schema>
