etc/schemas/2022/01/01/CalculateDosageDurationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="DosageTimesStartDate.xsd"/>
	<include schemaLocation="DoseQuantity.xsd"/>

	<element name="CalculateDosageDurationRequest" type="mc160:CalculateDosageDurationRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document containing information to be used for determining how many days an amount of dosage units can cover of the dosage</documentation>
			<documentation xml:lang="da-DK">Request-dokument der indeholder information til brug i beregningen af hvor mange dage et antal doseringsenheder kan dække af doseringen</documentation>
		</annotation>
	</element>
	<complexType name="CalculateDosageDurationRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="DrugMedicationIdentifier" type="mc160:DrugMedicationIdentifierType"/>
			<element name="StartDate" type="mc160:DosageTimesStartDateType"/>
			<element name="DosageUnits" type="mc160:DoseQuantityType"/>
		</sequence>
	</complexType>
</schema>
