etc/schemas/2022/01/01/CalculateDosageDurationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">


	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="DosageTimesEndDate.xsd"/>
	<include schemaLocation="CalculationInformation.xsd"/>

	<element name="CalculateDosageDurationResponse" type="mc160:CalculateDosageDurationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response document containing information about the last day a full dosage can be given</documentation>
			<documentation xml:lang="da-DK">Response-dokument der indeholder information omkring den sidste dag en fuld dosering er mulig</documentation>
		</annotation>
	</element>
	<complexType name="CalculateDosageDurationResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="DrugMedicationIdentifier" type="mc160:DrugMedicationIdentifierType"/>
			<choice>
				<element name="EndDate" type="mc160:DosageTimesEndDateType" minOccurs="0"/>
				<sequence>
					<element name="MinEndDate" type="mc160:DosageTimesEndDateType"/>
					<element name="MaxEndDate" type="mc160:DosageTimesEndDateType"/>
				</sequence>
			</choice>
			<element name="EndDateWithPRN" type="mc160:DosageTimesEndDateType" minOccurs="0"/>
			<element name="OnlyPRN" type="mc160:DosageTimesEndDateType" minOccurs="0"/>
			<element name="Information" type="mc160:CalculationInformationType" maxOccurs="unbounded" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
