etc/schemas/2022/01/01/CalculateRequiredDosageUnitsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">


	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="DosageTimesStartDate.xsd"/>
	<include schemaLocation="DosageTimesEndDate.xsd"/>

	<element name="CalculateRequiredDosageUnitsRequest" type="mc160:CalculateRequiredDosageUnitsRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document containing information to be used for calculating the required amount of dosage units to cover the dosage in a period</documentation>
			<documentation xml:lang="da-DK">Request-dokument der indeholder information til brug i beregningen af det behøvede antal doseringsenheder til at dække en periode af doseringen</documentation>
		</annotation>
	</element>
	<complexType name="CalculateRequiredDosageUnitsRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="DrugMedicationIdentifier" type="mc160:DrugMedicationIdentifierType"/>
			<element name="StartDate" type="mc160:DosageTimesStartDateType"/>
			<element name="EndDate" type="mc160:DosageTimesEndDateType"/>
		</sequence>
	</complexType>
</schema>
