etc/schemas/2022/01/01/CalculateRequiredDosageUnitsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">


	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="DoseQuantity.xsd"/>

	<element name="CalculateRequiredDosageUnitsResponse" type="mc160:CalculateRequiredDosageUnitsResponse">
		<annotation>
			<documentation xml:lang="en-GB">Request document containing information to be used for searching for patient organisation relations</documentation>
			<documentation xml:lang="da-DK">Request-dokument der indeholder information til brug i søgning efter patient organisations relationer</documentation>
		</annotation>
	</element>
	<complexType name="CalculateRequiredDosageUnitsResponse">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="DrugMedicationIdentifier" type="mc160:DrugMedicationIdentifierType"/>
			<element name="DosageUnits" type="mc160:DoseQuantityType"/>
		</sequence>
	</complexType>
</schema>
