etc/schemas/2022/01/01/CalculateDosageAdjustmentRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="CreateNewDrugMedication.xsd"/>
	<include schemaLocation="DosageForRequest.xsd"/>
	<include schemaLocation="DosageTimesStartDate.xsd"/>
	<include schemaLocation="DosageStructure.xsd"/>

	<element name="CalculateDosageAdjustmentRequest" type="mc160:CalculateDosageAdjustmentRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request that calculates a dosage with adjusted periods to be used in a later update of a drug medication</documentation>
			<documentation xml:lang="da-DK">Forespørgsel til beregning af en dosering med justerede perioder til anvendelse ved en senere opdatering af en lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="CalculateDosageAdjustmentRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="DrugMedicationIdentifier" type="mc160:DrugMedicationIdentifierType"/>
			<element name="Dosage" type="mc160:DosageForRequestType"/>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
