etc/schemas/2022/01/01/CalculatedDosageEndDate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

  <element name="CalculatedDosageEndDate" type="mc160:CalculatedDosageEndDateType">
    <annotation>
      <documentation xml:lang="en-GB">Description of the end date of a treatment</documentation>
      <documentation xml:lang="da-DK">Beskrivelse af slutdato for en behandling</documentation>
    </annotation>
  </element>

  <complexType name="CalculatedDosageEndDateType">
    <choice>
      <element name="CalculatedEndDate" type="date"/>
      <element name="UnableToCalculateEndDate" type="mc160:UnableToCalculateEndDateType"/>
    </choice>
  </complexType>

  <complexType name="UnableToCalculateEndDateType"/>
</schema>
