etc/schemas/2022/01/01/CancelledWarrant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="WarrantIdentifier.xsd"/>
	<include schemaLocation="WarrantError.xsd"/>
	
	<element name="CancelledWarrant" type="mc160:CancelledWarrantType">
		<annotation>
			<documentation xml:lang="en-GB">For use in bulk service: Result of marking one or more warrant as invalid</documentation>
			<documentation xml:lang="da-DK">Til brug i bulk service: Resultat af at markere et eller flere udleveringsgrundlag som ugyldige</documentation>
		</annotation>
	</element>
	<complexType name="CancelledWarrantType">
		<sequence>
			<element name="Identifier" type="mc160:WarrantIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="CancelWarrantFailed" type="mc160:WarrantErrorType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
