etc/schemas/2022/01/01/CancelOrderRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="WarrantIdentifier.xsd"/>
	<include schemaLocation="OrderIdentifier.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>

	<element name="CancelOrderRequest" type="mc160:CancelOrderRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request for cancelling orders on warrants</documentation>
			<documentation xml:lang="da-DK">Request til at annullere bestillinger på udleveringsgrundlag</documentation>
		</annotation>
	</element>
	<complexType name="CancelOrderRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="ModifiedBy" type="mc160:ModificatorType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="Order" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="WarrantIdentifier" type="mc160:WarrantIdentifierType"/>
						<element name="OrderIdentifier" type="mc160:OrderIdentifierType"/>
						<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
</schema>
