etc/schemas/2022/01/01/CancelledPrescription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="PrescriptionIdentifier.xsd"/>
	<include schemaLocation="PrescriptionError.xsd"/>
	
	<element name="CancelledPrescription" type="mc160:CancelledPrescriptionType">
		<annotation>
			<documentation xml:lang="en-GB">For use in bulk service: Result of marking one or more prescriptions as invalid</documentation>
			<documentation xml:lang="da-DK">Til brug i bulk service: Resultat af at markere en eller flere recepter som ugyldige</documentation>
		</annotation>
	</element>
	<complexType name="CancelledPrescriptionType">
		<sequence>
			<element name="Identifier" type="mc160:PrescriptionIdentifierType" minOccurs="0"  maxOccurs="unbounded"/>
			<element name="CancelPrescriptionFailed" type="mc160:PrescriptionErrorType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
