etc/schemas/2022/01/01/CancelRequestForWarrantResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="VersionMismatchWarning.xsd"/>

    <element name="CancelRequestForWarrantResponse" type="mc160:CancelRequestForWarrantResponseType">
        <annotation>
            <documentation xml:lang="en-GB">Response for invalidating one or more requests for warrant</documentation>
            <documentation xml:lang="da-DK">Svar på annullering af en eller flere anmodninger om udleveringsgrundlag</documentation>
        </annotation>
    </element>
    <complexType name="CancelRequestForWarrantResponseType">
        <sequence>
            <element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
            <element name="VersionMismatchWarning" type="mc160:VersionMismatchWarningType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
