etc/schemas/2022/01/01/CancelOrderRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="WarrantOrderIdentifierForRequest.xsd"/>
	<include schemaLocation="OrderIdentifier.xsd"/>
	<include schemaLocation="OrderCancellationReason.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>

	<element name="CancelOrderRequest" type="mc160:CancelOrderRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request for cancelling orders on warrants</documentation>
			<documentation xml:lang="da-DK">Request til at annullere bestillinger på udleveringsgrundlag</documentation>
		</annotation>
	</element>
	<complexType name="CancelOrderRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="ModifiedBy" type="mc160:ModificatorType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="Order" type="mc160:WarrantOrderIdentifierWithReasonForRequestType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<complexType name="WarrantOrderIdentifierWithReasonForRequestType">
		<complexContent>
			<extension base="mc160:WarrantOrderIdentifierForRequestType">
				<sequence>
					<element name="CancellationReason" type="mc160:OrderCancellationReasonType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

</schema>
