etc/schemas/2022/01/01/CancelWarrantRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="CancelWarrant.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="WarrantIdentifier.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>

	<element name="CancelWarrantRequest" type="mc160:CancelWarrantRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Cancel one or more warrants</documentation>
			<documentation xml:lang="da-DK">Annuller et eller flere udleveringsgrundlag</documentation>
		</annotation>
	</element>
	<complexType name="CancelWarrantRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
			<element name="ModifiedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="Warrant" type="mc160:CancelWarrantType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
