etc/schemas/2022/01/01/CancelPrescriptionRequestRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="MedicineCardVersion.xsd"/>
    <include schemaLocation="Modificator.xsd"/>
    <include schemaLocation="PrescriptionRequestToCancel.xsd"/>

    <element name="CancelPrescriptionRequestRequest" type="mc160:CancelPrescriptionRequestRequestType">
        <annotation>
            <documentation xml:lang="en-GB">Cancel prescription request</documentation>
            <documentation xml:lang="da-DK">Annullér receptanmodninger</documentation>
        </annotation>
    </element>
    <complexType name="CancelPrescriptionRequestRequestType">
        <sequence>
            <element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
            <element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
            <element name="ModifiedBy" type="mc160:ModificatorType" minOccurs="0"/>
            <element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
            <element name="PrescriptionRequest" type="mc160:PrescriptionRequestToCancelType" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>