etc/schemas/2022/01/01/CancelRequestsForWarrantRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="MedicineCardVersion.xsd"/>
    <include schemaLocation="Modificator.xsd"/>
    <include schemaLocation="RequestForWarrantToCancel.xsd"/>

    <element name="CancelRequestsForWarrantRequest" type="mc160:CancelRequestsForWarrantRequestType">
        <annotation>
            <documentation xml:lang="en-GB">Cancel requests for warrant</documentation>
            <documentation xml:lang="da-DK">Annullér anmodninger om udleveringsgrundlag</documentation>
        </annotation>
    </element>
    <complexType name="CancelRequestsForWarrantRequestType">
        <sequence>
            <element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
            <element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
            <element name="ModifiedBy" type="mc160:ModificatorType" minOccurs="0"/>
            <element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
            <element name="RequestForWarrant" type="mc160:RequestForWarrantToCancelType" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>