etc/schemas/2022/01/01/CancelWarrantResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<include schemaLocation="WarrantIdentifier.xsd"/>
	<include schemaLocation="WarrantError.xsd"/>

	<element name="CancelWarrantResponse" type="mc160:CancelWarrantResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response for invalidating one or more warrants</documentation>
			<documentation xml:lang="da-DK">Svar på annullering af et eller flere udleveringsgrundlag</documentation>
		</annotation>
	</element>
	<complexType name="CancelWarrantResponseType">
		<sequence>
			<sequence>
				<choice>
					<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
					<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
				</choice>
				<element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
				<element name="VersionMismatchWarning" type="mc160:VersionMismatchWarningType" minOccurs="0"/>
				<element name="WarrantIdentifier" type="mc160:WarrantIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
				<element name="CancelWarrantFailed" type="mc160:WarrantErrorType" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</sequence>
	</complexType>
</schema>
