etc/schemas/2022/01/01/CancelPrescriptionResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<include schemaLocation="PrescriptionIdentifier.xsd"/>
	<include schemaLocation="PrescriptionError.xsd"/>

	<element name="CancelPrescriptionResponse" type="mc160:CancelPrescriptionResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response for invalidating one or more prescriptions</documentation>
			<documentation xml:lang="da-DK">Svar på annullering af en eller flere recepter</documentation>
		</annotation>
	</element>
	<complexType name="CancelPrescriptionResponseType">
		<sequence>
			<sequence>
				<choice>
					<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
					<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
				</choice>
				<element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
				<element name="VersionMismatchWarning" type="mc160:VersionMismatchWarningType" minOccurs="0"/>
				<element name="PrescriptionIdentifier" type="mc160:PrescriptionIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
				<element name="CancelPrescriptionFailed" type="mc160:PrescriptionErrorType" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</sequence>
	</complexType>
</schema>
