etc/schemas/2022/01/01/CloseDispensingCard.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <include schemaLocation="DispensingCardIdentifier.xsd"/>
    <include schemaLocation="DispensingCardVersion.xsd"/>
    <include schemaLocation="ModificationMetadata.xsd"/>

    <complexType name="CloseDispensingCardType">
        <annotation>
            <documentation xml:lang="en-GB">Element for closing a dispensing card for a specific person</documentation>
            <documentation xml:lang="da-DK">Lukning af et dispenseringskort for en given person</documentation>
        </annotation>
        <sequence>
            <element name="Identifier" type="mc160:DispensingCardIdentifierType" />
            <element name="Version" type="mc160:DispensingCardVersionType"/>
            <element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
