etc/schemas/2022/01/01/Content.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<simpleType name="ContentType">
		<annotation>
			<documentation xml:lang="en-GB">Defines the data or action for which the consent applies</documentation>
			<documentation xml:lang="da-DK">Angiver hvad samtykket/værdispringet omhandler</documentation>
		</annotation>
		<union memberTypes="mc160:PredefinedContentType mc160:UndefinedContentType"/>
	</simpleType>
	<simpleType name="PredefinedContentType">
		<restriction base="mc160:UndefinedContentType">
			<enumeration value="MedicineCard"/>
        </restriction>
	</simpleType>
	<simpleType name="UndefinedContentType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="200"/>
		</restriction>
	</simpleType>
</schema>
