etc/schemas/2022/01/01/CreatePharmacyHandover.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="HandoverDateTime.xsd"/>
	<include schemaLocation="PackageHandover.xsd"/>
	<include schemaLocation="ExpectedDeliveryDateTime.xsd"/>
	<include schemaLocation="PharmacyComment.xsd"/>
	<include schemaLocation="LabelText.xsd"/>
	<include schemaLocation="Organisation.xsd"/>
    <include schemaLocation="UsesSecondaryHandover.xsd"/>

	<complexType name="CreatePharmacyHandoverType">
		<annotation>
			<documentation xml:lang="en-GB">Create a handover on the warrant and order.</documentation>
			<documentation xml:lang="da-DK">Opret en udlevering på udleveringsgrundlaget og bestillingen.</documentation>
		</annotation>
		<sequence>
			<element name="DateTime" type="mc160:HandoverDateTimeType"/>
			<element name="Package" type="mc160:PackageHandoverType"/>
            <element name="UsesSecondaryHandover" type="mc160:UsesSecondaryHandoverType" minOccurs="0"/>
			<element name="PharmacyComment" type="mc160:PharmacyCommentType" minOccurs="0"/>
			<element name="LabelText" type="mc160:LabelTextType" minOccurs="0"/>
            <element name="ResponsibleOrganisation" type="mc160:OrganisationType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
