etc/schemas/2022/01/01/CreateAndEffectuatePrescriptionResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="PrescriptionIdentifier.xsd"/>
	<include schemaLocation="OrderIdentifier.xsd"/>
	<include schemaLocation="EffectuationIdentifier.xsd"/>

	<element name="CreateAndEffectuatePrescriptionResponse" type="mc160:CreateAndEffectuatePrescriptionResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response for creating one or more prescriptions together with effectuations</documentation>
			<documentation xml:lang="da-DK">Svar på oprettelse af en eller flere recepter med tilhørende udleveringer </documentation>
		</annotation>
	</element>
	<complexType name="CreateAndEffectuatePrescriptionResponseType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="Prescription" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="PrescriptionIdentifier" type="mc160:PrescriptionIdentifierType"/>
						<element name="OrderIdentifier" type="mc160:OrderIdentifierType"/>
						<element name="EffectuationIdentifier" type="mc160:EffectuationIdentifierType"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
</schema>
