etc/schemas/2022/01/01/CreatePrescriptionResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="CreatedPrescription.xsd"/>

	<element name="CreatePrescriptionResponse" type="mc160:CreatePrescriptionResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response document containing one or more responses from creating prescriptions from drug medications</documentation>
			<documentation xml:lang="da-DK">Response-dokument der indeholder en eller flere svar på oprettelse recepter fra lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="CreatePrescriptionResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
			<element name="VersionMismatchWarning" type="mc160:VersionMismatchWarningType" minOccurs="0"/>
			<element name="Prescription" type="mc160:CreatedPrescriptionType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
