etc/schemas/2022/01/01/CreatePatientRegistration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<include schemaLocation="PatientRegistrationIdentifier.xsd"/>
	<include schemaLocation="Modified.xsd"/>
	<include schemaLocation="RegistrationValidityPeriod.xsd"/>
	<include schemaLocation="PatientRegistrationExpirationReason.xsd"/>
	<include schemaLocation="PatientRegistrationType.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>

	<element name="CreatePatientRegistration" type="mc160:CreatePatientRegistrationType">
		<annotation>
			<documentation xml:lang="en-GB">Element for creating a patient registration</documentation>
			<documentation xml:lang="da-DK">Element benyttet ved oprettelse af en patient registrering</documentation>
		</annotation>
	</element>
	<complexType name="CreatePatientRegistrationType">
		<sequence>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="CreatedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="Type" type="mc160:PatientRegistrationTypeType"/>
			<element name="ValidityPeriod" type="mc160:RegistrationValidityPeriodType" minOccurs="0"/>
			<element name="Reason" type="mc160:PatientRegistrationExpirationReasonType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
