etc/schemas/2022/01/01/CreatePrescriptionForUseInPracticeResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PrescriptionIdentifier.xsd"/>

	<element name="CreatePrescriptionForUseInPracticeResponse" type="mc160:CreatePrescriptionForUseInPracticeResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response document containing one or more responses from creating prescriptions from drug medications</documentation>
			<documentation xml:lang="da-DK">Response-dokument der indeholder en eller flere svar på oprettelse recepter fra lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="CreatePrescriptionForUseInPracticeResponseType">
		<sequence>
			<element name="Identifier" type="mc160:PrescriptionIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
