etc/schemas/2022/01/01/CreateShipmentResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="ShipmentIdentifier.xsd"/>
	<include schemaLocation="TrackAndTraceEventIdentifier.xsd"/>

	<element name="CreateShipmentResponse" type="mc160:CreateShipmentResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response from creating a "Track-and-trace" shipment</documentation>
			<documentation xml:lang="da-DK">Svar på oprettelse af en "Track-and-trace"-forsendelse</documentation>
		</annotation>
	</element>
	<complexType name="CreateShipmentResponseType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="ShipmentIdentifier" type="mc160:ShipmentIdentifierType"/>
			<element name="TrackAndTraceEventIdentifier" type="mc160:TrackAndTraceEventIdentifierType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
