etc/schemas/2022/01/01/CreatePackingGroup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="PackingGroup.xsd"/>
	<include schemaLocation="Organisation.xsd"/>

	<complexType name="CreatePackingGroupType">
		<annotation>
			<documentation xml:lang="en-GB">Element for creating a DD packing group</documentation>
			<documentation xml:lang="da-DK">Element der opretter en DD pakkegruppe</documentation>
		</annotation>
		<sequence>
    		<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Name" type="mc160:PackingGroupType"/>
			<element name="OrderedAtPharmacy" type="mc160:OrganisationType"/>
            <element name="PackedAtOrganisation" type="mc160:OrganisationType" />
		</sequence>
	</complexType>
</schema>
