etc/schemas/2022/01/01/CreatePharmacyEffectuation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="EffectuationDateTime.xsd"/>
	<include schemaLocation="PackageDispensed.xsd"/>
	<include schemaLocation="ExpectedDeliveryDateTime.xsd"/>
	<include schemaLocation="PharmacyComment.xsd"/>
	<include schemaLocation="LabelText.xsd"/>
	<include schemaLocation="Organisation.xsd"/>

	<complexType name="CreatePharmacyEffectuationType">
		<annotation>
			<documentation xml:lang="en-GB">Create an effectuation on the warrant. There is either effectuated one or more packages or effectuated via Dose Dispensing.</documentation>
			<documentation xml:lang="da-DK">Opret en effektuering (udlevering) på udleveringsgrundlaget. Der er enten effektueret en eller flere pakninger eller effektueret via Dosisdispensing.</documentation>
		</annotation>
		<sequence>
			<element name="DateTime" type="mc160:EffectuationDateTimeType"/>
			<element name="PackageDispensed" type="mc160:PackageDispensedType"/>
			<element name="ExpectedDeliveryDateTime" type="mc160:ExpectedDeliveryDateTimeType" minOccurs="0"/>
			<element name="PharmacyComment" type="mc160:PharmacyCommentType" minOccurs="0"/>
			<element name="LabelText" type="mc160:LabelTextType" minOccurs="0"/>
			<element name="DeliverySite" type="mc160:OrganisationType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
