etc/schemas/2022/01/01/CreateDoseDispensedRestriction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">
    
    <include schemaLocation="PackageNumber.xsd"/>
    <include schemaLocation="CopyRequired.xsd"/>

	<element name="CreateDoseDispensedRestriction" type="mc160:CreateDoseDispensedRestrictionType"/>

	<complexType name="CreateDoseDispensedRestrictionType">
		<annotation>
			<documentation xml:lang="en-GB">Indication by the doctor that a warrant, should be effectuated dosedispensed. PackageNumber should only be supplied, if it is outside Medicinpriser.</documentation>
			<documentation xml:lang="da-DK">Indikation fra lægen om at udleveringsgrundlaget, skal udleveres dosisdispenseret. Pakkenummeret skal kun angives hvis det ikke er et takstlægemiddel.</documentation>
		</annotation>
        <sequence>
            <element name="PackageNumber" type="mc160:PackageNumberType" minOccurs="0"/>
            <element name="CopyRequired" type="mc160:CopyRequiredType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
