etc/schemas/2022/01/01/CreatedRequestForWarrant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="RequestForWarrantIdentifier.xsd"/>
	<include schemaLocation="RequestForWarrantVersion.xsd"/>
    <include schemaLocation="DrugMedicationIdentifier.xsd"/>

	<element name="CreatedRequestForWarrant" type="mc160:CreatedRequestForWarrantType">
		<annotation>
			<documentation xml:lang="en-GB">Response on a request for warrant</documentation>
			<documentation xml:lang="da-DK">Svar på anmodning om udleveringsgrundlag</documentation>
		</annotation>
	</element>
	<complexType name="CreatedRequestForWarrantType">
		<sequence>
			<element name="Identifier" type="mc160:RequestForWarrantIdentifierType"/>
            <element name="DrugMedicationIdentifier" type="mc160:DrugMedicationIdentifierType"/>
			<element name="Version" type="mc160:RequestForWarrantVersionType"/>
		</sequence>
	</complexType>
</schema>
