etc/schemas/2022/01/01/CreateHandover.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="HandoverDateTime.xsd"/>
    <include schemaLocation="DrugMedicationIdentifier.xsd"/>
    <include schemaLocation="CreateNewWarrant.xsd"/>
    <include schemaLocation="WarrantIdentifier.xsd"/>
    <include schemaLocation="Modificator.xsd"/>
    <include schemaLocation="ModificationMetadata.xsd"/>
    <include schemaLocation="PackageHandover.xsd"/>
    <include schemaLocation="SingleUnitsHandover.xsd"/>
    <include schemaLocation="PharmacyComment.xsd"/>
    <include schemaLocation="LabelText.xsd"/>
    <include schemaLocation="UsesSecondaryHandover.xsd"/>
	
	<complexType name="CreateHandoverType">
		<annotation>
			<documentation xml:lang="en-GB">Document for creation of a new handover of a drug</documentation>
			<documentation xml:lang="da-DK">Dokument til oprettelse af en ny udlevering af et lægemiddel</documentation>
		</annotation>
		<sequence>
            <element name="DateTime" type="mc160:HandoverDateTimeType"/>
            <element name="CreatedBy" type="mc160:ModificatorType" minOccurs="0"/>
            <choice>
                <element name="Package" type="mc160:PackageHandoverType"/>
                <element name="SingleUnits" type="mc160:SingleUnitsHandoverType"/>
            </choice>
            <element name="UsesSecondaryHandover" type="mc160:UsesSecondaryHandoverType" minOccurs="0"/>

            <element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
