etc/schemas/2022/01/01/CreateOrderWarrant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="WarrantIdentifier.xsd"/>
	<include schemaLocation="Organisation.xsd"/>
	<include schemaLocation="OrderWithDoseDispensing.xsd"/>
	<include schemaLocation="DeliveryInstructionText.xsd"/>
	<include schemaLocation="Delivery.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>

	<complexType name="CreateOrderWarrantType">
		<annotation>
			<documentation xml:lang="en-GB">Element for creating an order on a given warrant</documentation>
			<documentation xml:lang="da-DK">Element til at oprette en bestilling af udlevering på et givet udleveringsgrundlag</documentation>
		</annotation>
		<sequence>
			<element name="WarrantIdentifier" type="mc160:WarrantIdentifierType"/>
			<element name="OrderedAtPharmacy" type="mc160:OrganisationType"/>
			<element name="DeliveryInstructionText" type="mc160:DeliveryInstructionTextType" minOccurs="0" maxOccurs="3"/>
			<element name="Delivery" type="mc160:DeliveryType" minOccurs="0"/>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
