etc/schemas/2022/01/01/CreatedWithOptionalAuthorisationIdentifier.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="CreatedDateTime.xsd"/>
	
	<element name="CreatedWithOptionalAuthorisationIdentifier" type="mc160:CreatedWithOptionalAuthorisationIdentifierType">
		<annotation>
			<documentation xml:lang="en-GB">Element containing information about which organisation and possibly doctor who created the document this element is in (e.g. drug medication) as well as the date it ocurred.
This element is used on prescriptions, where the doctor's authorsation identifier might not be given.</documentation>
			<documentation xml:lang="da-DK">Element der indeholder information omkring hvilken organisation og muligvis læge som har oprettet dokumentet elementet befinder sig i (f.eks. lægemiddelordination), desuden datoen dette er sket. 
Dette element anvendes på recepten, hvor lægens autorisationsnummer muligvis ikke er angivet.</documentation>
		</annotation>
	</element>
	<complexType name="CreatedWithOptionalAuthorisationIdentifierType">
		<sequence>
			<element name="By" type="mc160:ModificatorType"/>
			<element name="DateTime" type="mc160:CreatedDateTimeType"/>
		</sequence>
	</complexType>
</schema>
