etc/schemas/2022/01/01/CreateDispensingPeriod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="ModificationMetadata.xsd"/>
    <include schemaLocation="DispensingCardIdentifier.xsd"/>
    <include schemaLocation="DispensingPeriodStartDate.xsd"/>
    <include schemaLocation="DispensingPeriodEndDate.xsd"/>
    <include schemaLocation="ExpectedDeliveryDateTime.xsd"/>
    <include schemaLocation="DispensingProductionIdentifier.xsd"/>
    <include schemaLocation="AcutePacking.xsd"/>

    <complexType name="CreateDispensingPeriodType">
        <annotation>
            <documentation xml:lang="en-GB">Overall information about a dispensing period</documentation>
            <documentation xml:lang="da-DK">Overordnet information om en dispenseringsperiode</documentation>
        </annotation>
        <sequence>
			<element name="DispensingCardIdentifier" type="mc160:DispensingCardIdentifierType"/>
            <element name="StartDate" type="mc160:DispensingPeriodStartDateType" />
            <element name="EndDate" type="mc160:DispensingPeriodEndDateType" />
            <element name="ExpectedDelivery" type="mc160:ExpectedDeliveryDateTimeType" minOccurs="0" />
            <element name="ProductionIdentifier" type="mc160:DispensingProductionIdentifierType" minOccurs="0"/>
            <element name="AcutePacking" type="mc160:AcutePackingType" minOccurs="0"/>
            <element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
