etc/schemas/2022/01/01/CreateTrackAndTraceEventResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="ShipmentIdentifier.xsd"/>
	<include schemaLocation="OrderIdentifier.xsd"/>
	<include schemaLocation="DispensingPeriodIdentifier.xsd"/>
	<include schemaLocation="TrackAndTraceEventIdentifier.xsd"/>

	<element name="CreateTrackAndTraceEventResponse" type="mc160:CreateTrackAndTraceEventResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response document containing one or more responses from creating warrants for drug medications</documentation>
			<documentation xml:lang="da-DK">Response-dokument der indeholder en eller flere svar på oprettelse af udleveringsgrundlag på lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="CreateTrackAndTraceEventResponseType">
		<sequence>
			<choice>
				<element name="ShipmentIdentifier" type="mc160:ShipmentIdentifierType"/>
				<element name="OrderIdentifier" type="mc160:OrderIdentifierType"/>
				<element name="DispensingPeriodIdentifier" type="mc160:DispensingPeriodIdentifierType"/>
			</choice>
			<element name="TrackAndTraceEventIdentifier" type="mc160:TrackAndTraceEventIdentifierType"/>
		</sequence>
	</complexType>
</schema>
