etc/schemas/2022/01/01/CreatedDrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationVersion.xsd"/>
	<include schemaLocation="EffectuationIdentifier.xsd"/>
	<include schemaLocation="PrescriptionIdentifier.xsd"/>
	
	<element name="CreatedDrugMedication" type="mc160:CreatedDrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Element with IDs returned at the creation of a new drug prescription</documentation>
			<documentation xml:lang="da-DK">Element med IDer returneret ved oprettelsen af en ny lægemiddelinformation</documentation>
		</annotation>
	</element>
	<complexType name="CreatedDrugMedicationType">
		<sequence>
			<element name="Identifier" type="mc160:DrugMedicationIdentifierType"/>
			<element name="Version" type="mc160:DrugMedicationVersionType"/>
			<element name="EffectuationIdentifier" type="mc160:EffectuationIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="PrescriptionIdentifier" type="mc160:PrescriptionIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
