etc/schemas/2022/01/01/CreatePackingGroupResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PackingGroupIdentifier.xsd"/>
	
	<element name="CreatePackingGroupResponse" type="mc160:CreatePackingGroupResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response to creating a DD packing group</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for svaret ved oprettelsen af en DD pakkegruppe</documentation>
		</annotation>
	</element>
	<complexType name="CreatePackingGroupResponseType">
		<sequence>
			<element name="PackingGroupIdentifier" type="mc160:PackingGroupIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
