etc/schemas/2022/01/01/CreateTrackAndTraceEventRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="ShipmentIdentifier.xsd"/>
	<include schemaLocation="OrderIdentifier.xsd"/>
	<include schemaLocation="DispensingPeriodIdentifier.xsd"/>
	<include schemaLocation="TrackAndTraceEventType.xsd"/>
	<include schemaLocation="TrackAndTraceEventDateTime.xsd"/>
	<include schemaLocation="TrackAndTraceEventFreetext.xsd"/>

	<element name="CreateTrackAndTraceEventRequest" type="mc160:CreateTrackAndTraceEventRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request to create a "Track-and-trace" event</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel der opretter et "Track-and-trace"-event</documentation>
		</annotation>
	</element>
	<complexType name="CreateTrackAndTraceEventRequestType">
		<sequence>
			<choice>
				<element name="ShipmentIdentifier" type="mc160:ShipmentIdentifierType"/>
				<element name="OrderIdentifier" type="mc160:OrderIdentifierType"/>
				<element name="DispensingPeriodIdentifier" type="mc160:DispensingPeriodIdentifierType"/>
			</choice>
			<element name="EventDateTime" type="mc160:TrackAndTraceEventDateTimeType" minOccurs="0"/>
			<element name="OrderedAtPharmacy" type="mc160:OrganisationIdentifierType"/>
			<element name="EventType" type="mc160:TrackAndTraceEventTypeType"/>
			<element name="Text" type="mc160:TrackAndTraceEventFreetextType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
