etc/schemas/2022/01/01/CreateDrugAdministration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="DrugAdministrationIdentifier.xsd"/>
    <include schemaLocation="DrugAdministrationDateTime.xsd"/>
    <include schemaLocation="Created.xsd"/>
    <include schemaLocation="DrugMedicationIdentifier.xsd"/>
    <include schemaLocation="EffectuationIdentifier.xsd"/>
    <include schemaLocation="DoseQuantity.xsd"/>
    <include schemaLocation="DosageQuantityUnitText.xsd"/>

    <element name="CreateDrugAdministration" type="mc160:CreateDrugAdministrationType">
        <annotation>
            <documentation xml:lang="en-GB">Details of a created drug administration, including time and amount.</documentation>
            <documentation xml:lang="da-DK">Detaljerne på en nyoprettet medicinadministration, heriblandt tidspunkt og mængde</documentation>
        </annotation>
    </element>
    <complexType name="CreateDrugAdministrationType">
        <sequence>
            <element name="DrugMedicationIdentifier" type="mc160:DrugMedicationIdentifierType"/>
            <element name="HandOverIdentifier" type="mc160:EffectuationIdentifierType" minOccurs="0"/>
            <element name="AdministrationDateTime" type="mc160:DrugAdministrationDateTimeType"/>
            <element name="DoseQuantity" type="mc160:DoseQuantityType"/>
            <element name="DosageQuantityUnitText" type="mc160:DosageQuantityUnitTextType"/>
        </sequence>
    </complexType>
</schema>
