etc/schemas/2022/01/01/CreatedWarrant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationVersion.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<include schemaLocation="WarrantIdentifier.xsd"/>

	<element name="CreatedWarrant" type="mc160:CreatedWarrantType">
		<annotation>
			<documentation xml:lang="en-GB">Document containing one or more warrants created on a drug medication</documentation>
			<documentation xml:lang="da-DK">Dokument der indeholder et eller flere udleveringsgrundlag der er oprettet på en lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="CreatedWarrantType">
		<sequence>
			<element name="DrugMedicationIdentifier" type="mc160:DrugMedicationIdentifierType"/>
			<element name="WarrantIdentifier" type="mc160:WarrantIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
