etc/schemas/2022/01/01/CreateAndEffectuatePrescriptionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="PatientWithoutCPR.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="CreateAndEffectuatePrescription.xsd"/>

	<element name="CreateAndEffectuatePrescriptionRequest" type="mc160:CreateAndEffectuatePrescriptionRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document containing one or more documents for creating prescriptions together with effectuations in one go</documentation>
			<documentation xml:lang="da-DK">Request-dokument der indeholder en eller flere dokumenter til at oprette recepter med tilhørende udleveringer</documentation>
		</annotation>
	</element>
	<complexType name="CreateAndEffectuatePrescriptionRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
				<element name="Patient" type="mc160:PatientWithoutCPRType"/> 				
			</choice>
			<element name="CreatedBy" type="mc160:ModificatorType" />
			<element name="EffectuatedBy" type="mc160:ModificatorType" />
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="Prescription" type="mc160:CreateAndEffectuatePrescriptionType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
