etc/schemas/2022/01/01/CreatePharmacyEffectuationOnWarrant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="WarrantIdentifier.xsd"/>
	<include schemaLocation="OrderIdentifier.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="CreatePharmacyEffectuation.xsd"/>
	<include schemaLocation="TerminateWarrant.xsd"/>

	<complexType name="CreatePharmacyEffectuationOnWarrantType">
		<annotation>
			<documentation xml:lang="en-GB">Element for creating a single effectuation on a warrant</documentation>
			<documentation xml:lang="da-DK">Element til oprettelse af en enkelt effektuering på et udleveringsgrundlag</documentation>
		</annotation>
		<sequence>
			<element name="WarrantIdentifier" type="mc160:WarrantIdentifierType"/>
			<element name="OrderIdentifier" type="mc160:OrderIdentifierType"/>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Effectuation" type="mc160:CreatePharmacyEffectuationType"/>
			<element name="Terminate" type="mc160:TerminateWarrantType"/>
		</sequence>
	</complexType>
</schema>
