etc/schemas/2022/01/01/CreateAndEffectuateWarrant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="AuthorisationDateTime.xsd"/>
	<include schemaLocation="LoosePrescription.xsd"/>
	<include schemaLocation="CreateOrderAndEffectuation.xsd"/>

	<complexType name="CreateAndEffectuateWarrantType">
		<annotation>
			<documentation xml:lang="en-GB">Request document for creating a warrant together with an effectuation</documentation>
			<documentation xml:lang="da-DK">Request-dokument til at oprette et udleveringsgrundlag med en tilhørende udlevering</documentation>
		</annotation>
		<sequence>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="AuthorisationDateTime" type="mc160:AuthorisationDateTimeType"/>
            <element name="Prescription" type="mc160:LoosePrescriptionType"/>
			<element name="Drug" type="mc160:DrugType" minOccurs="0"/>
			<element name="Indication" type="mc160:IndicationType" minOccurs="0"/>
			<element name="DosageText" type="mc160:DosageTextType" minOccurs="0"/>
			<element name="SubstitutionAllowed" type="mc160:SubstitutionAllowedType"/>
			<element name="SupplementaryInformation" type="mc160:SupplementaryInformationType" minOccurs="0"/>
			<element name="Order" type="mc160:CreateOrderAndEffectuationType"/>
		</sequence>
	</complexType>
</schema>
