etc/schemas/2022/01/01/CreateOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="Organisation.xsd"/>
	<include schemaLocation="OrderWithDoseDispensing.xsd"/>
	<include schemaLocation="DeliveryInstructionText.xsd"/>
	<include schemaLocation="Delivery.xsd"/>

	<complexType name="CreateOrderType">
		<annotation>
			<documentation xml:lang="en-GB">Element for creating an order for a pharmacy</documentation>
			<documentation xml:lang="da-DK">Element til at oprette en bestilling til et apotek</documentation>
		</annotation>
		<sequence>
			<element name="CreatedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="OrderedAtPharmacy" type="mc160:OrganisationType"/>
			<element name="DoseDispensing" type="mc160:OrderWithDoseDispensingType" minOccurs="0"/>
			<element name="DeliveryInstructionText" type="mc160:DeliveryInstructionTextType" minOccurs="0" maxOccurs="3"/>
			<element name="Delivery" type="mc160:DeliveryType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
