etc/schemas/2022/01/01/CreateOrderAndEffectuation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="Organisation.xsd"/>
	<include schemaLocation="ForeignOrganisation.xsd"/>
	<include schemaLocation="DeliveryInstructionText.xsd"/>
	<include schemaLocation="Delivery.xsd"/>
	<include schemaLocation="CreatePharmacyEffectuation.xsd"/>

	<complexType name="CreateOrderAndEffectuationType">
		<annotation>
			<documentation xml:lang="en-GB">Request document for creating an order together with an effectuation</documentation>
			<documentation xml:lang="da-DK">Request-dokument til at oprette en bestilling sammen med en effektuering</documentation>
		</annotation>
		<sequence>
			<choice>
				<element name="OrderedAtPharmacy" type="mc160:OrganisationType"/>
				<element name="OrderedAbroad" type="mc160:ForeignOrganisationType"/>
			</choice>
			<element name="DeliveryInstructionText" type="mc160:DeliveryInstructionTextType" minOccurs="0" maxOccurs="3"/>
			<element name="Delivery" type="mc160:DeliveryType" minOccurs="0"/>
			<element name="Effectuation" type="mc160:CreatePharmacyEffectuationType"/>
		</sequence>
	</complexType>
</schema>
