etc/schemas/2022/01/01/CreateRequestForWarrantResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<include schemaLocation="CreatedPrescriptionRequest.xsd"/>

	<element name="CreateRequestForWarrantResponse" type="mc160:CreateRequestForWarrantResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Created a prescription request</documentation>
			<documentation xml:lang="da-DK">Oprettede en receptanmodning</documentation>
		</annotation>
	</element>
	<complexType name="CreateRequestForWarrantResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
            <element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
            <element name="VersionMismatchWarning" type="mc160:VersionMismatchWarningType" minOccurs="0"/>
			<element name="PrescriptionRequest" type="mc160:CreatedPrescriptionRequestType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
