etc/schemas/2022/01/01/CreateOrderResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="PrescriptionIdentifier.xsd"/>
	<include schemaLocation="OrderIdentifier.xsd"/>

	<element name="CreateOrderResponse" type="mc160:CreateOrderResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response for creating orders on prescriptions</documentation>
			<documentation xml:lang="da-DK">Svar på oprettelse bestillinger på recepter </documentation>
		</annotation>
	</element>
	<complexType name="CreateOrderResponseType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="Order" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="PrescriptionIdentifier" type="mc160:PrescriptionIdentifierType"/>
						<element name="OrderIdentifier" type="mc160:OrderIdentifierType"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
</schema>
