etc/schemas/2022/01/01/CreateOrderPrescription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="PrescriptionIdentifier.xsd"/>
	<include schemaLocation="Organisation.xsd"/>
	<include schemaLocation="OrderWithDoseDispensing.xsd"/>
	<include schemaLocation="DeliveryInstructionText.xsd"/>
	<include schemaLocation="Delivery.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>

	<complexType name="CreateOrderPrescriptionType">
		<annotation>
			<documentation xml:lang="en-GB">Element for creating an order for a pharmacy on a given prescripionmedication</documentation>
			<documentation xml:lang="da-DK">Element til at oprette en bestilling til et apotek om udlevering på en given recept</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="mc160:PrescriptionIdentifierType"/>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="OrderedAtPharmacy" type="mc160:OrganisationType"/>
			<element name="DoseDispensing" type="mc160:OrderWithDoseDispensingType" minOccurs="0"/>
			<element name="DeliveryInstructionText" type="mc160:DeliveryInstructionTextType" minOccurs="0" maxOccurs="3"/>
			<element name="Delivery" type="mc160:DeliveryType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
