etc/schemas/2022/01/01/CreateDispensingCardRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="CreateDispensingCard.xsd"/>

	<element name="CreateDispensingCardRequest" type="mc160:CreateDispensingCardRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request for a request which creates a new dispensing card</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel der opretter et nyt dispenseringskort</documentation>
		</annotation>
	</element>
	<complexType name="CreateDispensingCardRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="CreatedBy" type="mc160:ModificatorType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="DispensingCard" type="mc160:CreateDispensingCardType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
