etc/schemas/2022/01/01/CreateDrugAdministrationOnHandover.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="DrugAdministrationIdentifier.xsd"/>
    <include schemaLocation="DrugAdministrationDateTime.xsd"/>
    <include schemaLocation="DoseQuantity.xsd"/>
    <include schemaLocation="DosageQuantityUnitText.xsd"/>

    <complexType name="CreateDrugAdministrationOnHandoverType">
        <annotation>
            <documentation xml:lang="en-GB">Details of a created drug administration on a handover.</documentation>
            <documentation xml:lang="da-DK">Detaljer på en nyoprettet medicinadministration på en udlevering</documentation>
        </annotation>
        <sequence><sequence>
            <element name="AdministrationDateTime" type="mc160:DrugAdministrationDateTimeType"/>
            <element name="DoseQuantity" type="mc160:DoseQuantityType"/>
            <element name="DosageQuantityUnitText" type="mc160:DosageQuantityUnitTextType"/>
        </sequence>
        </sequence>
    </complexType>
</schema>
