etc/schemas/2022/01/01/CreatePharmacyEffectuationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="CreatePharmacyEffectuationOnPrescription.xsd"/>

	<element name="CreatePharmacyEffectuationRequest" type="mc160:CreatePharmacyEffectuationRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request for creating one or more effectuation by a pharmacy on prescripionmedications</documentation>
			<documentation xml:lang="da-DK">Request til at oprette en eller flere effektueringer af et apotek på recepter </documentation>
		</annotation>
	</element>
	<complexType name="CreatePharmacyEffectuationRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="CreatedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="Prescription" type="mc160:CreatePharmacyEffectuationOnPrescriptionType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
