etc/schemas/2022/01/01/CreateDrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="FollowUpDates.xsd"/>
	<include schemaLocation="Pause.xsd"/>
	<include schemaLocation="DrugMedicationType.xsd"/>
	<include schemaLocation="HasNegativeConsent.xsd"/>
	<include schemaLocation="CreateOrUpdateDrugMedicationActivePeriod.xsd"/>
	<include schemaLocation="Indication.xsd"/>
	<include schemaLocation="RouteOfAdministration.xsd"/>
	<include schemaLocation="Drug.xsd"/>
	<include schemaLocation="DosageForRequest.xsd"/>
	<include schemaLocation="SubstitutionAllowed.xsd"/>
	<include schemaLocation="CreateTreatmentHandover.xsd"/>
	<include schemaLocation="CreateWarrant.xsd"/>
	<include schemaLocation="WarrantIdentifier.xsd"/>
	<include schemaLocation="ReimbursementClause.xsd"/>
	<include schemaLocation="HandoverMethod.xsd"/>
	<include schemaLocation="RequestDrugAdministrationRegistration.xsd"/>
	<include schemaLocation="RequireSecondaryHandover.xsd"/>

	<complexType name="CreateDrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Instructions of which drug to use, how much to give (drug dosage), for how long (startdate and enddate), how to administrate it and motivation (indication)</documentation>
			<documentation xml:lang="da-DK">Anvisning af hvilken medicin der skal anvendes (lægemiddel) hvor meget der skal gives (lægemiddeldosering), hvor længe (startdato og slutdato), hvordan den skal tilføres (administrationsvej) og hvorfor (indikation)</documentation>
		</annotation>
		<sequence>
			<element name="CreatedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="FollowUpDates" type="mc160:FollowUpDatesType" minOccurs="0"/>
			<element name="Pause" type="mc160:PauseType" minOccurs="0"/>
			<element name="Type" type="mc160:DrugMedicationTypeType" minOccurs="0"/>
			<element name="HasNegativeConsent" type="mc160:HasNegativeConsentType" minOccurs="0"/>
			<element name="ActivePeriod" type="mc160:CreateOrUpdateDrugMedicationActivePeriodType"/>
			<element name="Indication" type="mc160:IndicationType"/>
			<element name="RouteOfAdministration" type="mc160:RouteOfAdministrationType"/>
			<element name="Drug" type="mc160:DrugType"/>
			<element name="Dosage" type="mc160:DosageForRequestType"/>
			<element name="SubstitutionAllowed" type="mc160:SubstitutionAllowedType" minOccurs="0"/>
			<element name="CreateTreatmentHandover" type="mc160:CreateTreatmentHandoverType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="HandoverPreference" type="mc160:HandoverMethodType"/>
			<element name="CreateWarrant" type="mc160:CreateWarrantType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="AttachWarrant" type="mc160:WarrantIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ReimbursementApprovedCode" type="mc160:ReimbursementCodeType" minOccurs="0"/>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="DrugAdministrationRegistrationRequested" type="mc160:DrugAdministrationRegistrationRequestedType" minOccurs="0" />
			<element name="RequireSecondaryHandover" type="mc160:RequireSecondaryHandoverType" minOccurs="0" />
		</sequence>
	</complexType>
</schema>
