etc/schemas/2022/01/01/CreateTreatmentHandover.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="CreateHandover.xsd"/>
	<include schemaLocation="WarrantIdentifier.xsd"/>
	<include schemaLocation="OrderIdentifier.xsd"/>
    <include schemaLocation="WarrantShouldRemainOpen.xsd"/>

	<complexType name="CreateTreatmentHandoverType">
		<annotation>
			<documentation xml:lang="en-GB">Element for creating a handover for a given drug. A warrant of type "Treatment handover" must either be specified or created.</documentation>
			<documentation xml:lang="da-DK">Element for en oprettelse af en udlevering af et givet lægemiddel. Et udleveringsgrundlag af typen "Udleveret ved behandling" skal enten angives eller oprettes.</documentation>
		</annotation>
		<sequence>
            <choice>
                <element name="CreateNewWarrant" type="mc160:CreateNewWarrantType"/>
                <element name="ExistingWarrantIdentifier" type="mc160:WarrantIdentifierType"/>
            </choice>
            <element name="WarrantShouldRemainOpen" type="mc160:WarrantShouldRemainOpenType" minOccurs="0"/>
            <element name="CreateHandover" type="mc160:CreateHandoverType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
