etc/schemas/2022/01/01/CreateSecondaryHandover.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="HandoverIdentifier.xsd"/>
    <include schemaLocation="SecondaryHandoverDateTime.xsd"/>
    <include schemaLocation="SingleUnitsHandover.xsd"/>

	<element name="CreateSecondaryHandover" type="mc160:CreateSecondaryHandoverType">
		<annotation>
			<documentation xml:lang="en-GB">An overview of a secondary handover</documentation>
			<documentation xml:lang="da-DK">En oversigt over en sekundær udlevering</documentation>
		</annotation>
	</element>
	<complexType name="CreateSecondaryHandoverType">
		<sequence>
            <element name="HandoverIdentifier" type="mc160:HandoverIdentifierType"/>
            <element name="DateTime" type="mc160:SecondaryHandoverDateTimeType"/>
            <element name="SingleUnits" type="mc160:SingleUnitsHandoverType"/>
		</sequence>
	</complexType>
</schema>
