etc/schemas/2022/01/01/CreatePlannedDispensingRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="CreatePlannedDispensing.xsd"/>

	<element name="CreatePlannedDispensingRequest" type="mc160:CreatePlannedDispensingRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request for a request which creates a planned dispensing</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel der opretter en planlagt dispensering</documentation>
		</annotation>
	</element>
	<complexType name="CreatePlannedDispensingRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="CreatedBy" type="mc160:ModificatorType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="PlannedDispensing" type="mc160:CreatePlannedDispensingType" minOccurs="1" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
