etc/schemas/2022/01/01/CreateDrugMedicationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<include schemaLocation="CreatedDrugMedication.xsd"/>

	<element name="CreateDrugMedicationResponse" type="mc160:CreateDrugMedicationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response returned on a request which creates a new drug medication</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar returneret på en forespørgsel der opretter en ny lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="CreateDrugMedicationResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
			<element name="VersionMismatchWarning" type="mc160:VersionMismatchWarningType" minOccurs="0"/>
			<element name="DrugMedication" type="mc160:CreatedDrugMedicationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
