etc/schemas/2022/01/01/CreateDoseDispensingPeriod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="ModificationMetadata.xsd"/>
    <include schemaLocation="DoseDispensingCardIdentifier.xsd"/>
    <include schemaLocation="DoseDispensingPeriodStartDate.xsd"/>
    <include schemaLocation="DoseDispensingPeriodEndDate.xsd"/>
    <include schemaLocation="DoseDispensingDeadline.xsd"/>
    <include schemaLocation="ExpectedDeliveryDateTime.xsd"/>
    <include schemaLocation="DoseDispensingProductionIdentifier.xsd"/>
    <include schemaLocation="AcutePacking.xsd"/>

    <complexType name="CreateDoseDispensingPeriodType">
        <annotation>
            <documentation xml:lang="en-GB">Overall information about a dose dispensing period</documentation>
            <documentation xml:lang="da-DK">Overordnet information om en dosisdispenseringsperiode</documentation>
        </annotation>
        <sequence>
    		<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="DoseDispensingCardIdentifier" type="mc160:DoseDispensingCardIdentifierType"/>
            <element name="StartDate" type="mc160:DoseDispensingPeriodStartDateType" />
            <element name="EndDate" type="mc160:DoseDispensingPeriodEndDateType" />
            <element name="Deadline" type="mc160:DoseDispensingDeadlineType" />
            <element name="ExpectedDelivery" type="mc160:ExpectedDeliveryDateTimeType" minOccurs="0" />
        	<element name="ProductionIdentifier" type="mc160:DoseDispensingProductionIdentifierType" minOccurs="0"/>
            <element name="AcutePacking" type="mc160:AcutePackingType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
