etc/schemas/2022/01/01/CreateWarrantRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="OrganisationIdentifier.xsd"
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="CreateWarrant.xsd"/>

	<element name="CreateWarrantRequest" type="mc160:CreateWarrantRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document containing one or more documents for creating warrants from drug medications</documentation>
			<documentation xml:lang="da-DK">Request-dokument der indeholder en eller flere dokumenter til at oprette udleveringsgrundlag ud fra lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="CreateWarrantRequestType">
		<sequence>
            <choice>
                <element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
                <element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
            </choice>
			<element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
			<element name="CreatedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="Warrant" type="mc160:CreateWarrantType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
