etc/schemas/2022/01/01/CreateEffectuationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<include schemaLocation="CreatedEffectuationOnWarrant.xsd"/>

	<element name="CreateEffectuationResponse" type="mc160:CreateEffectuationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response from a request to add a effecutation</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for svaret fraen forespørgsel for at tilføje en effektuering</documentation>
		</annotation>
	</element>
	<complexType name="CreateEffectuationResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
			<element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
			<element name="Warrant" type="mc160:WarrantIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
