etc/schemas/2022/01/01/CreateOrderForUseInPracticeResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="WarrantIdentifier.xsd"/>

	<element name="CreateOrderForUseInPracticeResponse" type="mc160:CreateOrderForUseInPracticeResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response document containing one or more responses from creating order for use in practice</documentation>
			<documentation xml:lang="da-DK">Response-dokument der indeholder en eller flere svar på oprettelse af bestilling til brug i praksis</documentation>
		</annotation>
	</element>
	<complexType name="CreateOrderForUseInPracticeResponseType">
		<sequence>
			<element name="Identifier" type="mc160:WarrantIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
