etc/schemas/2022/01/01/CreatePatientRegistrationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="Modificator.xsd"/>
    <include schemaLocation="ModificationMetadata.xsd"/>
    <include schemaLocation="CreatePatientRegistration.xsd"/>
    
    <element name="CreatePatientRegistrationRequest" type="mc160:CreatePatientRegistrationRequestType">
        <annotation>
            <documentation xml:lang="en-GB">Request document to create registrations for a patient</documentation>
            <documentation xml:lang="da-DK">Request-dokument til at oprette patient-registreringer</documentation>
        </annotation>
    </element>
    <complexType name="CreatePatientRegistrationRequestType">
        <sequence>
            <element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
            <element name="CreatedBy" type="mc160:ModificatorType" minOccurs="0"/>
            <element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
            <element name="PatientRegistration" type="mc160:CreatePatientRegistrationType" maxOccurs="unbounded"/>
            <element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
