etc/schemas/2022/01/01/CreateOrderForUseInPracticeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="WarrantForUseInPractice.xsd"/>

	<element name="CreateOrderForUseInPracticeRequest" type="mc160:CreateOrderForUseInPracticeRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document for creating one or more warrants and orders for use in practice</documentation>
			<documentation xml:lang="da-DK">Request-dokument til at oprette en eller flere udleveringsgrundlag og bestillinger til brug i praksis</documentation>
		</annotation>
	</element>
	<complexType name="CreateOrderForUseInPracticeRequestType">
		<sequence>
			<element name="CreatedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="Warrant" type="mc160:WarrantForUseInPracticeType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
