etc/schemas/2022/01/01/CreateEffectuation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="HandoverDateTime.xsd"/>
	<include schemaLocation="EffectuationMethod.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="DoseQuantity.xsd"/>
	<include schemaLocation="DosageQuantityUnitText.xsd"/>
	<include schemaLocation="Drug.xsd"/>
	<include schemaLocation="PackageQuantity.xsd"/>
	<include schemaLocation="PackageNumber.xsd"/>
	<include schemaLocation="PackageSize.xsd"/>
	<include schemaLocation="IsEffectuatedAccordingToDrugMedication.xsd"/>
	
	<complexType name="CreateEffectuationType">
		<annotation>
			<documentation xml:lang="en-GB">Document for creation of a new effectuation of a drug</documentation>
			<documentation xml:lang="da-DK">Dokument til oprettelse af en ny effektuering af et lægemiddel</documentation>
		</annotation>
		<sequence>
			<element name="DateTime" type="mc160:HandoverDateTimeType"/>
			<element name="EffectuationMethod" type="mc160:EffectuationMethodType"/>
			<element name="CreatedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<choice>
				<sequence>
					<!-- A drug was effectuated, with the dose and unit below. This overrides whatever is stated as drug and dosage on the drug medication -->
					<element name="DoseQuantity" type="mc160:DoseQuantityType"/>
					<element name="DosageQuantityUnitText" type="mc160:DosageQuantityUnitTextType"/>
					<element name="Drug" type="mc160:DrugType"/>
				</sequence>
				<sequence>
					<!-- A drug was effectuated, with a drug substituted as below. This overrides whatever is stated as drug on the drug medication -->
					<element name="Drug" type="mc160:DrugType"/>
				</sequence>
				<sequence>
					<!-- A drug was effectuated, one or more packages was given to the patient -->
					<element name="PackageQuantity" type="mc160:PackageQuantityType" minOccurs="0"/>
					<element name="PackageNumber" type="mc160:PackageNumberType"/>
					<element name="PackageSize" type="mc160:PackageSizeType" minOccurs="0"/>
					<element name="Drug" type="mc160:DrugType" minOccurs="0"/>
				</sequence>
				<!-- A drug was effectuated, the drug and dosage was given as stated on the drug medication -->
				<element name="IsEffectuatedAccordingToDrugMedication" type="mc160:IsEffectuatedAccordingToDrugMedicationType"/>
			</choice>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
