etc/schemas/2022/01/01/CreatedPrescription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationVersion.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<include schemaLocation="PrescriptionIdentifier.xsd"/>

	<element name="CreatedPrescription" type="mc160:CreatedPrescriptionType">
		<annotation>
			<documentation xml:lang="en-GB">Document containing one or more prescriptions medications created on a drug prescription</documentation>
			<documentation xml:lang="da-DK">Dokument der indeholder en eller flere recepter der er oprettet på en lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="CreatedPrescriptionType">
		<sequence>
			<element name="DrugMedicationIdentifier" type="mc160:DrugMedicationIdentifierType"/>
			<element name="PrescriptionIdentifier" type="mc160:PrescriptionIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
