etc/schemas/2022/01/01/CreatePlannedAdministrationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="CreatePlannedAdministration.xsd"/>

	<element name="CreatePlannedAdministrationRequest" type="mc160:CreatePlannedAdministrationRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request for a request which creates a planned administration</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel der opretter en planlagt administration</documentation>
		</annotation>
	</element>
	<complexType name="CreatePlannedAdministrationRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="CreatedBy" type="mc160:ModificatorType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="CreatePlannedAdministration" type="mc160:CreatePlannedAdministrationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
