etc/schemas/2022/01/01/CreatedEffectuationOnDrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationVersion.xsd"/>
	<include schemaLocation="EffectuationIdentifier.xsd"/>
	
	<element name="CreatedEffectuationOnDrugMedication" type="mc160:CreatedEffectuationOnDrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Element for an effecutation added on a drug medication</documentation>
			<documentation xml:lang="da-DK">Element for en effektuering tilføjet på en lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="CreatedEffectuationOnDrugMedicationType">
		<sequence>
			<element name="Identifier" type="mc160:DrugMedicationIdentifierType"/>
			<element name="EffectuationIdentifier" type="mc160:EffectuationIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
