etc/schemas/2022/01/01/CreatePlannedDispensingResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="PlannedDispensingIdentifierAndVersion.xsd"/>

	<element name="CreatePlannedDispensingResponse" type="mc160:CreatePlannedDispensingResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response from creating a planned dispensing</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar på oprettelsen af en planlagt dispensering</documentation>
		</annotation>
	</element>
	<complexType name="CreatePlannedDispensingResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="PlannedDispensing" type="mc160:PlannedDispensingIdentifierAndVersionType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
