etc/schemas/2022/01/01/CreatePrescriptionWithoutCPRResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PrescriptionIdentifier.xsd"/>
	<include schemaLocation="OrderIdentifier.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>

	<element name="CreatePrescriptionWithoutCPRResponse" type="mc160:CreatePrescriptionWithoutCPRResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response document containing one or more responses from creating prescriptions for persons without CPR</documentation>
			<documentation xml:lang="da-DK">Response-dokument der indeholder en eller flere svar på oprettelse recepter til personer uden CPR</documentation>
		</annotation>
	</element>
	<complexType name="CreatePrescriptionWithoutCPRResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="Identifier" type="mc160:PrescriptionIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
