etc/schemas/2022/01/01/CreatePatientRegistrationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="PatientRegistrationIdentifier.xsd"/>

    <element name="CreatePatientRegistrationResponse" type="mc160:CreatePatientRegistrationResponseType">
        <annotation>
            <documentation xml:lang="en-GB">Create response</documentation>
            <documentation xml:lang="da-DK">Opret svar</documentation>
        </annotation>
    </element>
    <complexType name="CreatePatientRegistrationResponseType">
        <sequence>
            <element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
            <element name="Identifier" type="mc160:PatientRegistrationIdentifierType" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
