etc/schemas/2022/01/01/CreateEffectuationOnWarrant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="CreateEffectuation.xsd"/>
	<include schemaLocation="WarrantIdentifier.xsd"/>
	<include schemaLocation="OrderIdentifier.xsd"/>

	<complexType name="CreateEffectuationOnWarrantType">
		<annotation>
			<documentation xml:lang="en-GB">Element for adding an effecutation on a warrant, optionally linked to an order</documentation>
			<documentation xml:lang="da-DK">Element for en tilføjelse af en effektuering på et udleveringsgrundlag, med en optionel reference til en bestilling</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="mc160:WarrantIdentifierType"/>
			<element name="Effectuation" type="mc160:CreateEffectuationType" maxOccurs="unbounded"/>
			<element name="OrderIdentifier" type="mc160:OrderIdentifierType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
