etc/schemas/2022/01/01/CreatedEffectuationOnWarrant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="WarrantIdentifier.xsd"/>
	<include schemaLocation="EffectuationIdentifier.xsd"/>
	
	<element name="CreatedEffectuationOnWarrant" type="mc160:CreatedEffectuationOnWarrantType">
		<annotation>
			<documentation xml:lang="en-GB">Element for an effecutation added on a warrant</documentation>
			<documentation xml:lang="da-DK">Element for en effektuering tilføjet på et udleveringsgrundlag</documentation>
		</annotation>
	</element>
	<complexType name="CreatedEffectuationOnWarrantType">
		<sequence>
			<element name="Identifier" type="mc160:WarrantIdentifierType"/>
			<element name="EffectuationIdentifier" type="mc160:EffectuationIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
