etc/schemas/2022/01/01/CreateWarrantResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="CreatedWarrant.xsd"/>

	<element name="CreateWarrantResponse" type="mc160:CreateWarrantResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response document containing one or more responses from creating warrants for drug medications</documentation>
			<documentation xml:lang="da-DK">Response-dokument der indeholder en eller flere svar på oprettelse af udleveringsgrundlag på lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="CreateWarrantResponseType">
		<sequence>
            <choice>
                <element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
                <element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
            </choice>
			<element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
			<element name="Warrant" type="mc160:CreatedWarrantType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
