etc/schemas/2022/01/01/CreatedTreatmentHandover.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="WarrantIdentifier.xsd"/>
	<include schemaLocation="HandoverIdentifier.xsd"/>
	
	<element name="CreatedTreatmentHandover" type="mc160:CreatedTreatmentHandoverType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a warrant and associated handover created on a drug medication</documentation>
			<documentation xml:lang="da-DK">Element for udleveringsgrundlag og tilhørende udlevering tilføjet til en lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="CreatedTreatmentHandoverType">
		<sequence>
			<element name="DrugMedicationIdentifier" type="mc160:DrugMedicationIdentifierType"/>
            <element name="CreatedHandoversOnWarrant" type="mc160:CreatedHandoversOnWarrantType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

    <complexType name="CreatedHandoversOnWarrantType">
        <sequence>
            <element name="WarrantIdentifier" type="mc160:WarrantIdentifierType"/>
            <element name="HandoverIdentifier" type="mc160:HandoverIdentifierType" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
