etc/schemas/2022/01/01/DayType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

  <include schemaLocation="Dose.xsd"/>

  <complexType name="DayType">
    <annotation>
      <documentation xml:lang="en-GB">A dosage day defined by an index and a dose</documentation>
      <documentation xml:lang="da-DK">En doseringsdag defineret ved et indeks og en dosering</documentation>
    </annotation>
    <sequence>
      <element name="Index" type="mc160:DayIndexType"/>
      <choice>
        <element name="TimeOfDayDose" type="mc160:TimeOfDayDoseType"/>
        <element name="PartOfDayDose" type="mc160:PartOfDayDoseType"/>
        <element name="TimesPerDayDose" type="mc160:TimesPerDayDoseType"/>
        <element name="DuringTheDayDose" type="mc160:DuringTheDayDoseType"/>
        <element name="UnlimitedDose" type="mc160:UnlimitedDayDoseType"/>
      </choice>
    </sequence>
  </complexType>

  <simpleType name="DayIndexType">
    <annotation>
      <documentation xml:lang="en-GB">The index of a day within a dosage cycle, from 1 to 365</documentation>
      <documentation xml:lang="da-DK">Indekset for en dag i en doseringscyklus, fra 1 til 365</documentation>
    </annotation>
    <restriction base="int">
      <minInclusive value="1"/>
      <maxInclusive value="365"/>
    </restriction>
  </simpleType>
</schema>