etc/schemas/2022/01/01/DayType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

  <include schemaLocation="Dose.xsd"/>

  <complexType name="DayType">
    <sequence>
      <choice>
        <element name="WeekdayLabel" type="mc160:WeekdayLabelType"/>
        <element name="Index" type="mc160:DayIndexType"/>
      </choice>
      <element name="Dose" type="mc160:DoseType" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <simpleType name="DayIndexType">
    <restriction base="int">
      <minInclusive value="1"/>
      <maxInclusive value="365"/>
    </restriction>
  </simpleType>

  <simpleType name="WeekdayLabelType">
    <restriction base="string">
      <enumeration value="Monday"/>
      <enumeration value="Tuesday"/>
      <enumeration value="Wednesday"/>
      <enumeration value="Thursday"/>
      <enumeration value="Friday"/>
      <enumeration value="Saturday"/>
      <enumeration value="Sunday"/>
    </restriction>
  </simpleType>

</schema>