etc/schemas/2022/01/01/DayUnspecifiedType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

  <include schemaLocation="Dose.xsd"/>

  <element name="DayUnspecified" type="mc160:DayUnspecifiedType">
    <annotation>
      <documentation xml:lang="en-GB">A dose type for use when the dosing day is not fixed to a specific index within</documentation>
      <documentation xml:lang="da-DK">En dosistype til brug når doseringsdag ikke er bundet til et bestemt indeks</documentation>
    </annotation>
  </element>

  <complexType name="DayUnspecifiedType">
    <choice>
      <element name="TimeOfDayDose" type="mc160:TimeOfDayDoseType"/>
      <element name="PartOfDayDose" type="mc160:PartOfDayDoseType"/>
      <element name="TimesPerDayDose" type="mc160:TimesPerDayDoseType"/>
      <element name="DuringTheDayDose" type="mc160:DuringTheDayDoseType"/>
      <element name="UnlimitedDayDose" type="mc160:UnlimitedDayDoseType"/>
    </choice>
  </complexType>
</schema>