etc/schemas/2022/01/01/DayUnspecifiedType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

  <include schemaLocation="Dose.xsd"/>

  <element name="DayUnspecified" type="mc160:DayUnspecifiedType">
    <annotation>
      <documentation xml:lang="en-GB">Definition of a dosage that may be taken once for each iteration of the dosing cycle.</documentation>
      <documentation xml:lang="da-DK">Definition af en dosering der må indtages én gang for hver iteration af doseringen.</documentation>
    </annotation>
  </element>

  <complexType name="DayUnspecifiedType">
    <sequence>
      <element name="Dose" type="mc160:DoseType" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

</schema>