etc/schemas/2022/01/01/DayUnspecifiedType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

  <include schemaLocation="Dosage.xsd"/>

  <element name="DayUnspecified" type="mc160:DayUnspecifiedType">
    <annotation>
      <documentation xml:lang="en-GB">A dose type for use when the dosing day is not fixed to a specific index</documentation>
      <documentation xml:lang="da-DK">En dosistype til brug når doseringsdag ikke er bundet til et bestemt indeks</documentation>
    </annotation>
  </element>

  <complexType name="DayUnspecifiedType">
    <sequence>
      <element name="Dosage" type="mc160:DosageChoiceType"/>
    </sequence>
  </complexType>
</schema>