etc/schemas/2022/01/01/DeleteDoseDispensingPeriod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="DoseDispensingPeriodIdentifier.xsd"/>

	<complexType name="DeleteDoseDispensingPeriodType">
		<annotation>
			<documentation xml:lang="en-GB">Element for deleting a dose dispensing period</documentation>
			<documentation xml:lang="da-DK">Element der sletter en dosisdispenseringsperiode</documentation>
		</annotation>
		<sequence>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="DoseDispensingPeriodIdentifier" type="mc160:DoseDispensingPeriodIdentifierType"/>
		</sequence>
	</complexType>
</schema>
