etc/schemas/2022/01/01/DeleteFocesWhitelistingRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="Modificator.xsd"/>
    <include schemaLocation="FocesWhitelisting.xsd"/>

	<element name="DeleteFocesWhitelistingRequest" type="mc160:DeleteFocesWhitelistingRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request to delete a foces whitelisting</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel der sletter en foces whitelisting</documentation>
		</annotation>
	</element>
	<complexType name="DeleteFocesWhitelistingRequestType">
		<sequence>
			<element name="ModifiedBy" type="mc160:ModificatorType"/>
			<element name="FocesWhitelisting" type="mc160:FocesWhitelistingType"/>
		</sequence>
	</complexType>
</schema>
