etc/schemas/2022/01/01/DeleteDoseDispensingPeriodRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="DeleteDoseDispensingPeriod.xsd"/>

	<element name="DeleteDoseDispensingPeriodRequest" type="mc160:DeleteDoseDispensingPeriodRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request for a request which deletes a dose dispensing period</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel der sletter en dosisdispenseringsperiode</documentation>
		</annotation>
	</element>
	<complexType name="DeleteDoseDispensingPeriodRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="ModifiedBy" type="mc160:ModificatorType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="DoseDispensingPeriodIdentifier" type="mc160:DeleteDoseDispensingPeriodType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
