etc/schemas/2022/01/01/DeleteEffectuationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>

	<element name="DeleteEffectuationResponse" type="mc160:DeleteEffectuationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a delete effecuation response</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar på slet effektueringer</documentation>
		</annotation>
	</element>
	<complexType name="DeleteEffectuationResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
			<element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
			<element name="VersionMismatchWarning" type="mc160:VersionMismatchWarningType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
