etc/schemas/2022/01/01/DeletePlannedAdministrationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="PlannedAdministrationIdentifierAndVersion.xsd"/>

	<element name="DeletePlannedAdministrationResponse" type="mc160:DeletePlannedAdministrationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response from deleting a planned administration</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar på sletning af en planlagt administration</documentation>
		</annotation>
	</element>
	<complexType name="DeletePlannedAdministrationResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="DeletedPlannedAdministration" type="mc160:PlannedAdministrationIdentifierAndVersionType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
