etc/schemas/2022/01/01/DeleteEffectuation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="EffectuationIdentifier.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>	
	
	<element name="DeleteEffectuation" type="mc160:DeleteEffectuationType">
		<annotation>
			<documentation xml:lang="en-GB">Instructions on deleting an effectuation</documentation>
			<documentation xml:lang="da-DK">Anvisning for sletning af en effetuering</documentation>
		</annotation>
	</element>
	<complexType name="DeleteEffectuationType">
		<sequence>
			<element name="Identifier" type="mc160:EffectuationIdentifierType"/>
			<element name="ModifiedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
