etc/schemas/2022/01/01/DeleteDispensingPeriodResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="DispensingPeriodIdentifier.xsd"/>

	<element name="DeleteDispensingPeriodResponse" type="mc160:DeleteDispensingPeriodResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response from a for a request which deleted a dispensing period</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar på en forespørgsel der sletter en dispenseringsperiode</documentation>
		</annotation>
	</element>
	<complexType name="DeleteDispensingPeriodResponseType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="DispensingPeriodIdentifier" type="mc160:DispensingPeriodIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
