etc/schemas/2022/01/01/DeletePackingGroup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="PackingGroupIdentifier.xsd"/>

	<complexType name="DeletePackingGroupType">
		<annotation>
			<documentation xml:lang="en-GB">Element to delete a DD packing group</documentation>
			<documentation xml:lang="da-DK">Element der sletter en DD pakkegruppe</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="mc160:PackingGroupIdentifierType"/>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
