etc/schemas/2022/01/01/DeletePlannedDispensing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <include schemaLocation="ModificationMetadata.xsd"/>
    <include schemaLocation="PlannedDispensingIdentifier.xsd"/>
    <include schemaLocation="PlannedDispensingVersion.xsd"/>

    <complexType name="DeletePlannedDispensingType">
        <annotation>
            <documentation xml:lang="en-GB">Element to delete a planned dispensing</documentation>
            <documentation xml:lang="da-DK">Element til sletning af en planlagt dispensering</documentation>
        </annotation>
        <sequence>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
        	<element name="Identifier" type="mc160:PlannedDispensingIdentifierType"/>
        	<element name="Version" type="mc160:PlannedDispensingVersionType"/> 
        </sequence>
    </complexType>
</schema>
