etc/schemas/2022/01/01/DeletePackingGroupResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PackingGroupIdentifierAndVersion.xsd"/>

	<element name="DeletePackingGroupResponse" type="mc160:DeletePackingGroupResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response to deleting a DD packing group</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for svaret ved sletningen af en DD pakkegruppe</documentation>
		</annotation>
	</element>
	<complexType name="DeletePackingGroupResponseType">
		<sequence>
			<element name="PackingGroup" type="mc160:PackingGroupIdentifierAndVersionType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
