etc/schemas/2022/01/01/DeletePlannedAdministrationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="DeletePlannedAdministration.xsd"/>

	<element name="DeletePlannedDispensingRequest" type="mc160:DeletePlannedDispensingRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request to delete a planned dispensing</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel der sletter en planlagt dispensering</documentation>
		</annotation>
	</element>
	<complexType name="DeletePlannedDispensingRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="ModifiedBy" type="mc160:ModificatorType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="PlannedAdministration" type="mc160:DeleteAdministrationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
