etc/schemas/2022/01/01/DeletePlannedAdministration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <include schemaLocation="ModificationMetadata.xsd"/>
    <include schemaLocation="PlannedAdministrationIdentifier.xsd"/>
    <include schemaLocation="PlannedAdministrationVersion.xsd"/>

    <complexType name="DeleteAdministrationType">
        <annotation>
            <documentation xml:lang="en-GB">Element to delete a planned administration</documentation>
            <documentation xml:lang="da-DK">Element til sletning af en planlagt administration</documentation>
        </annotation>
        <sequence>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
        	<element name="Identifier" type="mc160:PlannedAdministrationIdentifierType"/>
        	<element name="Version" type="mc160:PlannedAdministrationVersionType"/>
        </sequence>
    </complexType>
</schema>
