etc/schemas/2022/01/01/Delivery.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="DeliveryPriority.xsd"/>
	<include schemaLocation="Organisation.xsd"/>
	<include schemaLocation="StreetName.xsd"/>
	<include schemaLocation="PseudoAddress.xsd"/>
	<include schemaLocation="PostCode.xsd"/>
	<include schemaLocation="ContactName.xsd"/>
	
	<element name="Delivery" type="mc160:DeliveryType">
		<annotation>
			<documentation xml:lang="en-GB">Delivery information</documentation>
			<documentation xml:lang="da-DK">Leveringsinformation</documentation>
		</annotation>
	</element>
	<complexType name="DeliveryType">
		<sequence>
			<element name="Priority" type="mc160:DeliveryPriorityType"/>
            <choice>
                <sequence>
                    <choice minOccurs="0">
                        <element name="StreetName" type="mc160:StreetNameType"/>
                        <element name="PseudoAddress" type="mc160:PseudoAddressType"/>
                    </choice>
                    <element name="PostCode" type="mc160:PostCodeType" minOccurs="0"/>
                    <element name="ContactName" type="mc160:ContactNameType" minOccurs="0"/>
                </sequence>
                <element name="DeliverySite" type="mc160:OrganisationType" minOccurs="0"/>
            </choice>
		</sequence>
	</complexType>
</schema>
