etc/schemas/2022/01/01/Delivery.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="DeliveryPriority.xsd"/>
	<include schemaLocation="Organisation.xsd"/>
	
	<element name="Delivery" type="mc160:DeliveryType">
		<annotation>
			<documentation xml:lang="en-GB">Delivery information</documentation>
			<documentation xml:lang="da-DK">Leveringsinformation</documentation>
		</annotation>
	</element>
	<complexType name="DeliveryType">
		<sequence>
			<element name="Priority" type="mc160:DeliveryPriorityType"/>
            <choice>
                <element name="AddressLine" type="mc160:AddressLineType" minOccurs="0" maxOccurs="5"/>
                <element name="DeliverySite" type="mc160:OrganisationType" minOccurs="0"/>
            </choice>
		</sequence>
	</complexType>
</schema>
