etc/schemas/2022/01/01/DetachWarrant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>	
	<include schemaLocation="WarrantIdentifier.xsd"/>
	
	<element name="DetachWarrant" type="mc160:DetachWarrantType">
		<annotation>
			<documentation xml:lang="en-GB">Contains one or more warrant IDs which are to be dettached from the drug medications where they currently are attached</documentation>
			<documentation xml:lang="da-DK">Indeholder en eller flere udleveringsgrundlag-IDer hvor tilknytningen til lægemiddelordinationerne skal ophæves</documentation>
		</annotation>
	</element>
	<complexType name="DetachWarrantType">
		<sequence>
			<element name="Identifier" type="mc160:WarrantIdentifierType" maxOccurs="unbounded"/>
			<element name="ModifiedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
