etc/schemas/2022/01/01/DetailedPlannedAdministration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PlannedAdministrationIdentifier.xsd"/>
	<include schemaLocation="PlannedAdministrationVersion.xsd"/>
	<include schemaLocation="DrugMedicationOnPlannedAdministration.xsd"/>
	<include schemaLocation="ValidWarrant.xsd"/>
	<include schemaLocation="DispensingWarning.xsd"/>
	<include schemaLocation="PlannedAdministrationStructures.xsd"/>
	<include schemaLocation="AdministrationInstruction.xsd"/>
	<include schemaLocation="DosageUnit.xsd"/>
	<include schemaLocation="DispensingEndDate.xsd"/>
	<include schemaLocation="PrescribingDoctor.xsd"/>

	<complexType name="DetailedPlannedAdministrationType">
		<annotation>
			<documentation xml:lang="en-GB">How often and when the drug is planned to be given</documentation>
			<documentation xml:lang="da-DK">Angivelse af hvor ofte og hvornår et lægemiddel planlægges til indtagelse</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="mc160:PlannedAdministrationIdentifierType"/>
			<element name="Version" type="mc160:PlannedAdministrationVersionType"/>
			<element name="Created" type="mc160:CreatedType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="Modified" type="mc160:ModifiedType" minOccurs="0"/>
			<element name="DrugMedication" type="mc160:DrugMedicationOnPlannedAdministrationType"/>
			<element name="ValidWarrant" type="mc160:ValidWarrantType" minOccurs="0"/>
			<element name="PrescribingDoctor" type="mc160:PrescribingDoctorType" minOccurs="0"/>
			<element name="Warning" type="mc160:DispensingWarningType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="DosageUnit" type="mc160:DosageUnitType" minOccurs="0"/>
			<element name="AdministrationInstruction" type="mc160:AdministrationInstructionType" minOccurs="0"/>
			<element name="PlannedAdministrationFixed" type="mc160:PlannedAdministrationStructuresType" minOccurs="0"/>
			<element name="PlannedAdministrationAccordingToNeed" type="mc160:PlannedAdministrationStructuresType" minOccurs="0"/>
			<element name="DispensingEndDate" type="mc160:DispensingEndDateType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
