etc/schemas/2022/01/01/DetachPrescription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>	
	<include schemaLocation="PrescriptionIdentifier.xsd"/>
	
	<element name="DetachPrescription" type="mc160:DetachPrescriptionType">
		<annotation>
			<documentation xml:lang="en-GB">Contains one or more drug prescription IDs which are to be attached from the drug medications where they currently are detached</documentation>
			<documentation xml:lang="da-DK">Indeholder en eller flere recept-IDer hvor tilknytningen til lægmidlerne skal ophæves</documentation>
		</annotation>
	</element>
	<complexType name="DetachPrescriptionType">
		<sequence>
			<element name="Identifier" type="mc160:PrescriptionIdentifierType" maxOccurs="unbounded"/>
			<element name="ModifiedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
