etc/schemas/2022/01/01/DetailsForTrackAndTrace.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="ShipmentDeliveryDate.xsd"/>
    <include schemaLocation="TrackAndTraceEventDateTime.xsd"/>
    <include schemaLocation="TrackAndTraceEventFreetext.xsd"/>
    <include schemaLocation="TrackAndTraceFinalEvent.xsd"/>
    <include schemaLocation="KeyValueSet.xsd"/>

    <element name="DetailsForTrackAndTrace" type="mc160:DetailsForTrackAndTraceType">
        <annotation>
            <documentation xml:lang="en-GB">Element containing Track-and-Trace information related to an order or dispensing period.</documentation>
            <documentation xml:lang="da-DK">Element som indeholder Track-and-Trace-informationer relateret til en bestilling eller dispenseringsperiode</documentation>
        </annotation>
    </element>
    <complexType name="DetailsForTrackAndTraceType">
        <sequence>
            <element name="ExpectedDeliveryDate" type="mc160:ShipmentDeliveryDateType" minOccurs="0"/>
            <element name="EventFreeText" type="mc160:TrackAndTraceEventFreeTextType" minOccurs="0"/>
            <choice minOccurs="0">
                <element name="ExpectedNextEventDateTime" type="mc160:TrackAndTraceEventDateTimeType"/>
                <element name="IsFinalEvent" type="mc160:TrackAndTraceFinalEventType"/>
            </choice>
            <element name="AdditionalInformation" type="mc160:KeyValueSetType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
