etc/schemas/2022/01/01/DetailedPlannedDispensing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
		attributeFormDefault="unqualified">

    <include schemaLocation="PlannedDispensingIdentifier.xsd"/>
    <include schemaLocation="PlannedDispensingVersion.xsd"/>
    <include schemaLocation="Created.xsd"/>
    <include schemaLocation="Modified.xsd"/>
    <include schemaLocation="DoseDispensingCardIdentifier.xsd"/>
    <include schemaLocation="DrugMedication.xsd"/>
    <include schemaLocation="ValidWarrant.xsd"/>
    <include schemaLocation="PrescribingDoctor.xsd"/>
    <include schemaLocation="DrugShortName.xsd"/>
    <include schemaLocation="DrugDescriptionText.xsd"/>
    <include schemaLocation="DoseDispensingWarning.xsd"/>
    <include schemaLocation="DrugSubstitution.xsd"/>
    <include schemaLocation="AdministrationInstruction.xsd"/>
    <include schemaLocation="PlannedAdministration.xsd"/>

    <element name="DetailedPlannedDispensing" type="mc160:DetailedPlannedDispensingType">
        <annotation>
            <documentation xml:lang="en-GB">Details for a planned dispensing for a drugmedication</documentation>
            <documentation xml:lang="da-DK">Detaljer vedrørende en planlagt dispensering for en given lægemiddelordination</documentation>
        </annotation>
    </element>
    <complexType name="DetailedPlannedDispensingType">
        <sequence>
        	<element name="Identifier" type="mc160:PlannedDispensingIdentifierType"/>
        	<element name="Version" type="mc160:PlannedDispensingVersionType"/>
			<element name="Created" type="mc160:CreatedType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="Modified" type="mc160:ModifiedType" minOccurs="0"/>
			<element name="DoseDispensingCardIdentifier" type="mc160:DoseDispensingCardIdentifierType" minOccurs="0"/>
          	<element name="DrugMedication" type="mc160:DrugMedicationType"/>
          	<element name="ValidWarrant" type="mc160:ValidWarrantType" minOccurs="0"/>
          	<element name="PrescribingDoctor" type="mc160:PrescribingDoctorType" minOccurs="0"/>
            <element name="ShortName" type="mc160:DrugShortNameType" minOccurs="0"/>
            <element name="Description" type="mc160:DrugDescriptionTextType" minOccurs="0"/>
            <element name="Warning" type="mc160:DoseDispensingWarningType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="Substitution" type="mc160:DrugSubstitutionType" minOccurs="0"/>
            <element name="AdministrationInstruction" type="mc160:AdministrationInstructionType" minOccurs="0" />
            <element name="PlannedAdministration" type="mc160:PlannedAdministrationType" minOccurs="0"/>
            <element name="DoseDispensingEndDate" type="mc160:DoseDispensingEndDateType" minOccurs="0"/>     
        </sequence>
    </complexType>
</schema>
