etc/schemas/2022/01/01/DiscardDoseDispensingPeriodResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="DoseDispensingPeriodIdentifier.xsd"/>

	<element name="DiscardDoseDispensingPeriodResponse" type="mc160:DiscardDoseDispensingPeriodResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response from a request which marks a dose dispensing period as discarded</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar på en forespørgsel som markere en dosisdispenserings periode som kasseret</documentation>
		</annotation>
	</element>

	<complexType name="DiscardDoseDispensingPeriodResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="DoseDispensingPeriodIdentifier" type="mc160:DoseDispensingPeriodIdentifierType"  maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>