etc/schemas/2022/01/01/DiscardDoseDispensingPeriod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<include schemaLocation="DoseDispensingPeriodIdentifier.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="DiscardedByDateTime.xsd"/>

	<element name="DiscardDoseDispensingPeriod" type="mc160:DiscardDoseDispensingPeriodType">
		<annotation>
			<documentation xml:lang="en-GB">Element for discarding of a packaged dosedispensed period</documentation>
			<documentation xml:lang="da-DK">Element for kassering af en pakket dosisdispenserings periode</documentation>
		</annotation>
	</element>

	<complexType name="DiscardDoseDispensingPeriodType">
		<sequence>
			<element name="DoseDispensingPeriodIdentifier" type="mc160:DoseDispensingPeriodIdentifierType"/>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="DiscardedByDateTime" type="mc160:DiscardedByDateTimeType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
