etc/schemas/2022/01/01/DiscardReason.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<simpleType name="DiscardReasonType">
		<annotation>
			<documentation xml:lang="en-GB">The reason for the discarding of a dispensing period</documentation>
			<documentation xml:lang="da-DK">Årsagen til kasseringen af en dispenseringsperiode</documentation>
		</annotation>
		<union memberTypes="mc160:UndefinedDiscardReasonType"/>
	</simpleType>
	<simpleType name="PredefinedDiscardReasonType">
		<restriction base="mc160:UndefinedDiscardReasonType">
			<enumeration value="Årsag ikke angivet"/>
			<enumeration value="Fejl i dispensering"/>
			<enumeration value="Dispensering stoppes"/>
			<enumeration value="Ny periode overtager"/>
			<enumeration value="Ny ophældning foretaget"/>
		</restriction>
	</simpleType>
	<simpleType name="UndefinedDiscardReasonType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="100"/>
		</restriction>
	</simpleType>
</schema>
