etc/schemas/2022/01/01/DiscardDispensingPeriod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<include schemaLocation="DispensingPeriodIdentifier.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="DiscardedByDateTime.xsd"/>
	<include schemaLocation="DiscardReason.xsd"/>

	<element name="DiscardDispensingPeriod" type="mc160:DiscardDispensingPeriodType">
		<annotation>
			<documentation xml:lang="en-GB">Element for discarding of a packaged dispensed period</documentation>
			<documentation xml:lang="da-DK">Element for kassering af en pakket dispenserings periode</documentation>
		</annotation>
	</element>

	<complexType name="DiscardDispensingPeriodType">
		<sequence>
			<element name="DispensingPeriodIdentifier" type="mc160:DispensingPeriodIdentifierType"/>
			<element name="DiscardedByDateTime" type="mc160:DiscardedByDateTimeType" minOccurs="0"/>
			<element name="Reason" type="mc160:DiscardReasonType" minOccurs="0"/>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
