etc/schemas/2022/01/01/DiscardDispensingPeriodRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="DiscardDispensingPeriod.xsd"/>

	<element name="DiscardDispensingPeriodRequest" type="mc160:DiscardDispensingPeriodRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request which marks a dispensing period as discarded</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel som markere en dispenserings periode som kasseret</documentation>
		</annotation>
	</element>

	<complexType name="DiscardDispensingPeriodRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="ModifiedBy" type="mc160:ModificatorType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="DiscardDispensingPeriod" type="mc160:DiscardDispensingPeriodType"  maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
