etc/schemas/2022/01/01/DispensingPeriod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <include schemaLocation="DispensingPeriodIdentifier.xsd"/>
    <include schemaLocation="DispensingPeriodVersion.xsd"/>
    <include schemaLocation="DispensingStatus.xsd"/>
    <include schemaLocation="DispensingPeriodStartDate.xsd"/>
    <include schemaLocation="DispensingPeriodEndDate.xsd"/>
    <include schemaLocation="PackagedDateTime.xsd"/>
    <include schemaLocation="DispensedHandoverDate.xsd"/>
    <include schemaLocation="ExpectedDeliveryDateTime.xsd"/>
    <include schemaLocation="DispensingPeriodDiscarded.xsd"/>
    <include schemaLocation="DispensingProductionIdentifier.xsd"/>
    <include schemaLocation="AcutePacking.xsd"/>
    <include schemaLocation="Dispensing.xsd"/>

    <element name="DispensingPeriod" type="mc160:DispensingPeriodType">
        <annotation>
            <documentation xml:lang="en-GB">Dispensing period for a given number of dispensings</documentation>
            <documentation xml:lang="da-DK">Dispenseringsperiode for en given mængde dispenseringer</documentation>
        </annotation>
    </element>
    <complexType name="DispensingPeriodType">
        <sequence>
            <element name="Identifier" type="mc160:DispensingPeriodIdentifierType"/>
            <element name="Version" type="mc160:DispensingPeriodVersionType"/>
            <element name="Status" type="mc160:DispensingStatusType"/>
            <element name="StartDate" type="mc160:DispensingPeriodStartDateType"/>
            <element name="EndDate" type="mc160:DispensingPeriodEndDateType"/>
            <element name="PackagedDateTime" type="mc160:PackagedDateTimeType" minOccurs="0" />
            <element name="HandoverDate" type="mc160:DispensedHandoverDateType" minOccurs="0"/>
            <element name="ExpectedDelivery" type="mc160:ExpectedDeliveryDateTimeType" minOccurs="0"/>
            <element name="Discarded" type="mc160:DispensingPeriodDiscardedType" minOccurs="0"/>
            <element name="ProductionIdentifier" type="mc160:DispensingProductionIdentifierType" minOccurs="0"/>
            <element name="AcutePacking" type="mc160:AcutePackingType" minOccurs="0"/>
            <choice>
                <element name="Dispensing" type="mc160:DispensingType" minOccurs="0" maxOccurs="unbounded"/>
                <element name="PlannedAdministrationEntry" type="mc160:PlannedAdministrationEntryType" minOccurs="0" maxOccurs="unbounded"/>
            </choice>
        </sequence>
    </complexType>

    <complexType name="PlannedAdministrationEntryType">
        <sequence>
            <element name="PlannedAdministration" type="mc160:PlannedAdministrationOnDispensingCardType"/>
            <element name="SubstitutionTemplate" type="mc160:DrugType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
