etc/schemas/2022/01/01/DispensingCardSummary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified"
        attributeFormDefault="unqualified">

	<include schemaLocation="DispensingCardIdentifier.xsd"/>
	<include schemaLocation="DispensingCardDescription.xsd"/>
	<include schemaLocation="DispensingPeriodSummary.xsd"/>
	<include schemaLocation="PackingGroupIdentifier.xsd"/>
	<include schemaLocation="PackingGroup.xsd"/>

	<complexType name="DispensingCardSummaryType">
		<annotation>
			<documentation xml:lang="en-GB">Overview of dispensing periods for a dispensing card</documentation>
			<documentation xml:lang="da-DK">Overblik over dispenseringsperioder på et dispenseringskort</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="mc160:DispensingCardIdentifierType"/>
        	<element name="Description" type="mc160:DispensingCardDescriptionType"/>
			<element name="DispensingPeriod" type="mc160:DispensingPeriodSummaryType" minOccurs="0" maxOccurs="unbounded"/>
			<choice>
				<sequence>
					<element name="PackingGroupIdentifier" type="mc160:PackingGroupIdentifierType" minOccurs="0"/>
					<element name="PackingGroupName" type="mc160:PackingGroupType" minOccurs="0"/>
					<element name="OrderedAtPharmacy" type="mc160:OrganisationType"/>
					<element name="PackedAtOrganisation" type="mc160:OrganisationType"/>
				</sequence>
				<element name="DispensingOrganisation" type="mc160:OrganisationType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
