etc/schemas/2022/01/01/DispensingSummary_REMOTE_1247.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="DispensingCardSummary.xsd"/>
    <include schemaLocation="LatestDispensingEffectuation.xsd"/>
    <include schemaLocation="HasOpenDosageDispensedWarrants.xsd"/>
    <include schemaLocation="PatientRegistration.xsd"/>

    <element name="DoseDispensingSummary" type="mc160:DispensingSummaryType"/>
        <annotation>
            <documentation xml:lang="en-GB">Summary of a patients dose dispensing</documentation>
            <documentation xml:lang="da-DK">Oversigt over en patients dosisdispensering</documentation>
        </annotation>
        <complexType name="DispensingSummaryType">
            <sequence>
                <element name="DispensingCard" type="mc160:DispensingCardSummaryType" minOccurs="0" maxOccurs="unbounded"/>
                <element name="LatestDispensingEffectuation" type="mc160:LatestDispensingEffectuationType" minOccurs="0"/>
                <element name="HasOpenDosageDispensedWarrants" type="mc160:HasOpenDosageDispensedWarrantsType" minOccurs="0"/>
                <element name="PatientRegistration" type="mc160:PatientRegistrationType" minOccurs="0"/>
            </sequence>
        </complexType>
</schema>
