etc/schemas/2022/01/01/DispensingOverview.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="DispensingCardIdentifier.xsd"/>
    <include schemaLocation="DispensingPeriodStartDate.xsd"/>
    <include schemaLocation="DispensingPeriodEndDate.xsd"/>
    <include schemaLocation="DispensingStatus.xsd"/>
    <include schemaLocation="ExpeditedDosageChangeDate.xsd"/>
    <include schemaLocation="LatestDispensingEffectuation.xsd"/>
    <include schemaLocation="HasOpenDosageDispensedWarrants.xsd"/>
    <include schemaLocation="Organisation.xsd"/>
    <include schemaLocation="PatientRegistration.xsd"/>
    <include schemaLocation="DispensingOverviewPeriod.xsd"/>

    <element name="DispensingOverview" type="mc160:DispensingOverviewType">
        <annotation>
            <documentation xml:lang="en-GB">Overall information about dispensing for a patient</documentation>
            <documentation xml:lang="da-DK">Overordnet information om patientens dispensering</documentation>
        </annotation>
    </element>
    <complexType name="DispensingOverviewType">
        <sequence>
            <element name="Period" type="mc160:DispensingOverviewPeriodType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="LatestDispensingEffectuation" type="mc160:LatestDispensingEffectuationType" minOccurs="0"/>
			<element name="HasOpenDosageDispensingWarrants" type="mc160:HasOpenDosageDispensedWarrantsType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
