etc/schemas/2022/01/01/DispensingWarning.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
    
    <include schemaLocation="DispensingWarningCode.xsd"/>
    <include schemaLocation="DispensingWarningText.xsd"/>
    <include schemaLocation="WarningSeverity.xsd"/>

    <complexType name="DispensingWarningType">
        <annotation>
            <documentation xml:lang="en-GB">Warning related to dispensing.</documentation>
            <documentation xml:lang="da-DK">Advarsel som er knyttet til dispensering.</documentation>
        </annotation>
        <sequence>
        	<element name="WarningCode" type="mc160:DispensingWarningCodeType"/>
            <element name="WarningText" type="mc160:DispensingWarningTextType"/>
        	<element name="Severity" type="mc160:WarningSeverityType"/>
            <element name="Blocking" type="boolean"/>
        </sequence>
    </complexType>
</schema>
