etc/schemas/2022/01/01/DispensingCardIdentifierAndVersion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <include schemaLocation="DispensingCardIdentifier.xsd"/>
    <include schemaLocation="DispensingCardVersion.xsd"/>

    <complexType name="DispensingCardIdentifierAndVersionType">
        <annotation>
            <documentation xml:lang="en-GB">Element with result for updating a dispensing card</documentation>
            <documentation xml:lang="da-DK">Resultat af opdatering af et dispenseringskort</documentation>
        </annotation>
        <sequence>
        	<element name="Identifier" type="mc160:DispensingCardIdentifierType"/>
        	<element name="Version" type="mc160:DispensingCardVersionType"/>
        </sequence>
    </complexType>
</schema>
