etc/schemas/2022/01/01/DispensingOverview.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="DispensingCardIdentifier.xsd"/>
    <include schemaLocation="DispensingPeriodStartDate.xsd"/>
    <include schemaLocation="DispensingPeriodEndDate.xsd"/>
    <include schemaLocation="LatestDispensingEffectuation.xsd"/>
    <include schemaLocation="HasOpenDosageDispensedWarrants.xsd"/>
    <include schemaLocation="Organisation.xsd"/>
    <include schemaLocation="PatientRegistration.xsd"/>

    <complexType name="DispensingOverviewType">
        <annotation>
            <documentation xml:lang="en-GB">Overall information about dispensing for a patient</documentation>
            <documentation xml:lang="da-DK">Overordnet information om patientens dispensering</documentation>
        </annotation>
        <sequence>
            <sequence minOccurs="0" maxOccurs="unbounded">
                <element name="DispensingCardIdentifier" type="mc160:DispensingCardIdentifierType"/>
                <element name="StartDate" type="mc160:DispensingPeriodStartDateType" minOccurs="0"/>
                <element name="EndDate" type="mc160:DispensingPeriodEndDateType" minOccurs="0"/>
                <choice>
                    <element name="OrderedAtPharmacy" type="mc160:OrganisationType"/>
                    <element name="DispensingOrganisation" type="mc160:OrganisationType"/>
                </choice>
            </sequence>
			<element name="LatestDispensingEffectuation" type="mc160:LatestDispensingEffectuationType" minOccurs="0"/>
			<element name="HasOpenDosageDispensingWarrants" type="mc160:HasOpenDosageDispensedWarrantsType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
