etc/schemas/2022/01/01/Dispensing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <include schemaLocation="PlannedDispensingIdentifier.xsd"/>
    <include schemaLocation="PlannedDispensingVersion.xsd"/>
    <include schemaLocation="DrugShortName.xsd"/>
    <include schemaLocation="DrugDescriptionText.xsd"/>
    <include schemaLocation="DispensingWarning.xsd"/>
    <include schemaLocation="DrugSubstitution.xsd"/>
    <include schemaLocation="PlannedAdministration.xsd"/>
    <include schemaLocation="DoseQuantity.xsd"/>
    <include schemaLocation="DispensingEndDate.xsd"/>

    <complexType name="DispensingType">
        <annotation>
            <documentation xml:lang="en-GB">Planned Dispensing of Drug Medication</documentation>
            <documentation xml:lang="da-DK">Planlagt Dispensering af dispenseret lægemiddelordination</documentation>
        </annotation>
        <sequence>
            <element name="Identifier" type="mc160:PlannedDispensingIdentifierType"/>
            <element name="Version" type="mc160:PlannedDispensingVersionType"/>
            <element name="ShortName" type="mc160:DrugShortNameType" minOccurs="0"/>
            <element name="Description" type="mc160:DrugDescriptionTextType" minOccurs="0"/>
            <element name="Warning" type="mc160:DispensingWarningType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="Substitution" type="mc160:DrugSubstitutionType" minOccurs="0"/>
            <element name="PlannedAdministration" type="mc160:PlannedAdministrationType" minOccurs="0"/>
            <element name="TotalDispensedQuantity" type="mc160:DoseQuantityType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
