etc/schemas/2022/01/01/DispensingSummary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="DispensingCardSummary.xsd"/>
    <include schemaLocation="LatestDispensingHandover.xsd"/>
    <include schemaLocation="HasOpenDosageDispensedWarrants.xsd"/>
    <include schemaLocation="PatientRegistration.xsd"/>

    <element name="DispensingSummary" type="mc160:DispensingSummaryType"/>
        <annotation>
            <documentation xml:lang="en-GB">Summary of a patients dispensing</documentation>
            <documentation xml:lang="da-DK">Oversigt over en patients dispensering</documentation>
        </annotation>
        <complexType name="DispensingSummaryType">
            <sequence>
                <element name="DispensingCard" type="mc160:DispensingCardSummaryType" minOccurs="0" maxOccurs="unbounded"/>
                <element name="LatestDispensingHandover" type="mc160:LatestDispensingHandoverType" minOccurs="0"/>
                <element name="HasOpenDosageDispensedWarrants" type="mc160:HasOpenDosageDispensedWarrantsType" minOccurs="0"/>
                <element name="PatientRegistration" type="mc160:PatientRegistrationType" minOccurs="0"/>
            </sequence>
        </complexType>
</schema>
