etc/schemas/2022/01/01/DispensingCardOverview.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="DispensingCardIdentifier.xsd"/>
    <include schemaLocation="DispensingCardVersion.xsd"/>
    <include schemaLocation="DispensingPeriodStartDate.xsd"/>
    <include schemaLocation="DispensingPeriodEndDate.xsd"/>
    <include schemaLocation="DispensingStatus.xsd"/>
    <include schemaLocation="ExpeditedDosageChangeDate.xsd"/>
    <include schemaLocation="Organisation.xsd"/>

    <element name="DispensingOverviewPeriod" type="mc160:DispensingCardOverviewType">
        <annotation>
            <documentation xml:lang="en-GB">Information about a dispensing period for a patient</documentation>
            <documentation xml:lang="da-DK">Information om en patients dispenseringsperiode</documentation>
        </annotation>
    </element>
    <complexType name="DispensingCardOverviewType">
        <sequence>
            <element name="DispensingCardIdentifier" type="mc160:DispensingCardIdentifierType"/>
            <element name="Version" type="mc160:DispensingCardVersionType"/>
            <element name="StartDate" type="mc160:DispensingPeriodStartDateType" minOccurs="0"/>
            <element name="EndDate" type="mc160:DispensingPeriodEndDateType" minOccurs="0"/>
            <element name="Status" type="mc160:DispensingStatusType" minOccurs="0"/>
            <element name="ExpeditedDosageChangeDate" type="mc160:ExpeditedDosageChangeDateType"/>
            <choice>
                <element name="OrderedAtPharmacy" type="mc160:OrganisationType"/>
                <element name="DispensingOrganisation" type="mc160:OrganisationType"/>
            </choice>
        </sequence>
    </complexType>
</schema>
