etc/schemas/2022/01/01/DispensingPeriodFilterDate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="DispensingPeriodDate.xsd"/>
	
	<element name="DispensingPeriodFilterDate" type="mc160:DispensingPeriodFilterDateType">
		<annotation>
			<documentation xml:lang="en-GB">Information on the date in which the requested period was active</documentation>
			<documentation xml:lang="da-DK">Information om datoen hvor den ønskede periode var aktiv</documentation>
		</annotation>
	</element>
	<complexType name="DispensingPeriodFilterDateType">
		<sequence>
			<element name="DateInPeriod" type="mc160:DispensingPeriodDateType"/>
		</sequence>
	</complexType>
</schema>
