etc/schemas/2022/01/01/DispensingPeriodIdentifierAndVersion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <include schemaLocation="DispensingPeriodIdentifier.xsd"/>
    <include schemaLocation="DispensingPeriodVersion.xsd"/>

    <complexType name="DispensingPeriodIdentifierAndVersionType">
        <annotation>
            <documentation xml:lang="en-GB">Element with result for updating a dispensing period</documentation>
            <documentation xml:lang="da-DK">Resultat af opdatering af en dispenseringsperiode</documentation>
        </annotation>
        <sequence>
        	<element name="Identifier" type="mc160:DispensingPeriodIdentifierType"/>
        	<element name="Version" type="mc160:DispensingPeriodVersionType"/>
        </sequence>
    </complexType>
</schema>
