etc/schemas/2022/01/01/DispensingOverview.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="LatestDispensingRegistration.xsd"/>
    <include schemaLocation="HasOpenDosageDispensedWarrants.xsd"/>
    <include schemaLocation="DispensingCardOverview.xsd"/>

    <element name="DispensingOverview" type="mc160:DispensingOverviewType">
        <annotation>
            <documentation xml:lang="en-GB">Overall information about dispensing for a patient</documentation>
            <documentation xml:lang="da-DK">Overordnet information om patientens dispensering</documentation>
        </annotation>
    </element>
    <complexType name="DispensingOverviewType">
        <sequence>
            <element name="DispensingCardOverview" type="mc160:DispensingCardOverviewType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="LatestDispensingRegistration" type="mc160:LatestDispensingRegistrationType" minOccurs="0"/>
			<element name="HasOpenDosageDispensingWarrants" type="mc160:HasOpenDosageDispensedWarrantsType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
