etc/schemas/2022/01/01/DispensingPeriodSummary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="DispensingPeriodIdentifier.xsd"/>
    <include schemaLocation="Created.xsd"/>
    <include schemaLocation="Modified.xsd"/>
    <include schemaLocation="Modificator.xsd"/>
    <include schemaLocation="DispensingPeriodStartDate.xsd"/>
    <include schemaLocation="DispensingPeriodEndDate.xsd"/>
    <include schemaLocation="ExpectedDeliveryDateTime.xsd"/>
    <include schemaLocation="DispensingStatus.xsd"/>
    <include schemaLocation="DispensingProductionIdentifier.xsd"/>
    <include schemaLocation="AcutePacking.xsd"/>
    
    <complexType name="DispensingPeriodSummaryType">
        <annotation>
            <documentation xml:lang="en-GB">Overall information about a dispensing period</documentation>
            <documentation xml:lang="da-DK">Overordnet information om en dispenseringsperiode</documentation>
        </annotation>
        <sequence>
			<element name="Identifier" type="mc160:DispensingPeriodIdentifierType"/>
			<element name="Created" type="mc160:CreatedType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="Modified" type="mc160:ModifiedType" minOccurs="0"/>
            <element name="StartDate" type="mc160:DispensingPeriodStartDateType" />
            <element name="EndDate" type="mc160:DispensingPeriodEndDateType" />
            <element name="ExpectedDelivery" type="mc160:ExpectedDeliveryDateTimeType" minOccurs="0" />
            <element name="Status" type="mc160:DispensingStatusType"/>
            <element name="ProductionIdentifier" type="mc160:DispensingProductionIdentifierType" minOccurs="0"/>
            <element name="AcutePacking" type="mc160:AcutePackingType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
