etc/schemas/2022/01/01/DispensingCard.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="DispensingCardIdentifier.xsd"/>
    <include schemaLocation="DispensingCardDescription.xsd"/>
    <include schemaLocation="MedicineCardIsInvalid.xsd"/>
    <include schemaLocation="DispensingCardClosed.xsd"/>
    <include schemaLocation="DispensingWarning.xsd"/>
    <include schemaLocation="DeliveryText.xsd"/>
    <include schemaLocation="PackingGroupIdentifier.xsd"/>
    <include schemaLocation="PackingGroup.xsd"/>
    <include schemaLocation="Organisation.xsd"/>
    <include schemaLocation="DispensingOrDeliveryNotes.xsd"/>
    <include schemaLocation="DispensingPeriod.xsd"/>
    <include schemaLocation="AdministrationOverview.xsd"/>

    <element name="DispensingCard" type="mc160:DispensingCardType">
        <annotation>
            <documentation xml:lang="en-GB">Dispensing card for a specific person, which can contain one or more dispensing periods</documentation>
            <documentation xml:lang="da-DK">Dispenseringskort for en given person, der kan indeholde en eller flere dispenseringsperioder</documentation>
        </annotation>
    </element>
    <complexType name="DispensingCardType">
        <sequence>
        	<element name="Identifier" type="mc160:DispensingCardIdentifierType"/>
        	<element name="Description" type="mc160:DispensingCardDescriptionType"/>
			<element name="IsInvalid" type="mc160:MedicineCardIsInvalidType" minOccurs="0"/>
            <element name="IsClosed" type="mc160:DispensingCardClosedType" minOccurs="0"/>
            <element name="Warning" type="mc160:DispensingWarningType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="Delivery" type="mc160:DeliveryTextType" minOccurs="0"/>
            <choice>
                <sequence>
                    <element name="PackingGroupIdentifier" type="mc160:PackingGroupIdentifierType" minOccurs="0"/>
                    <element name="PackingGroupName" type="mc160:PackingGroupType" minOccurs="0"/>
                    <element name="OrderedAtPharmacy" type="mc160:OrganisationType"/>
                    <element name="PackedAtOrganisation" type="mc160:OrganisationType"/>
                </sequence>
                <element name="DispensingOrganisation" type="mc160:OrganisationType"/>
            </choice>
            <element name="DispensingOrDeliveryNotes" type="mc160:DispensingOrDeliveryNotesType" minOccurs="0" maxOccurs="3"/> <!--Should we only allow 1?-->
            <choice>
	            <element name="Period" type="mc160:DispensingPeriodType" maxOccurs="unbounded"/>
	            <element name="AdministrationOverview" type="mc160:PlannedAdministrationOverviewType"/>
            </choice>
        </sequence>
    </complexType>
</schema>
