etc/schemas/2022/01/01/DispensedMedicationRef.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
    
	<include schemaLocation="PlannedDispensingIdentifier.xsd"/>
    <include schemaLocation="DoseQuantity.xsd"/>

    <element name="DispensedMedicationRef" type="mc160:DispensedMedicationRefType">
        <annotation>
            <documentation xml:lang="en-GB">Reference to a dispensed medication, and a specification of the quantity to be packed into a specific dispensable unit (e.g. bag).</documentation>
            <documentation xml:lang="da-DK">Reference til et dispenseret lægemiddel, og en specifikation af den mængde som skal pakkes i en specifik dispenserbar enhed (fx pose).</documentation>
        </annotation>
    </element>
    <complexType name="DispensedMedicationRefType">
        <sequence>
			<element name="MedicationIdentifier" type="mc160:PlannedDispensingIdentifierType"/>
            <element name="Quantity" type="mc160:DoseQuantityType"/>
        </sequence>
    </complexType>
</schema>
