etc/schemas/2022/01/01/DispensingType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<simpleType name="DispensingTypeType">
		<annotation>
			<documentation xml:lang="en-GB">The reason for the discarding of a dispensing period</documentation>
			<documentation xml:lang="da-DK">Årsagen til kasseringen af en dispenseringsperiode</documentation>
		</annotation>
		<union memberTypes="mc160:UndefinedDispensingTypeType mc160:PredefinedDispensingTypeType"/>
	</simpleType>
	<simpleType name="PredefinedDispensingTypeType">
		<restriction base="mc160:UndefinedDispensingTypeType">
			<enumeration value="Dosisdispensering"/>
			<enumeration value="Ophældt"/>
		</restriction>
	</simpleType>
	<simpleType name="UndefinedDispensingTypeType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="100"/>
		</restriction>
	</simpleType>
</schema>
