etc/schemas/2022/01/01/DispensingCardHistory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <include schemaLocation="DispensingCardIdentifier.xsd"/>
    <include schemaLocation="DispensingCardEntry.xsd"/>

    <complexType name="DispensingCardHistoryType">
        <annotation>
            <documentation xml:lang="en-GB">Outer container element for historical versions of a dispensing card</documentation>
            <documentation xml:lang="da-DK">Ydre container-element for historiske versioner af et dispenseringskort</documentation>
        </annotation>
        <sequence>
            <element name="Identifier" type="mc160:DispensingCardIdentifierType"/>
            <element name="DispensingCardEntry" type="mc160:DispensingCardEntryType" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
