etc/schemas/2022/01/01/DoctorWithDoseDispensingPatients.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="OrganisationIdentifier.xsd"/>
    <include schemaLocation="Patient.xsd"/>
    <include schemaLocation="DispensingCardIdentifier.xsd"/>
    <include schemaLocation="CreatedDateTime.xsd"/>

    <complexType name="DoctorWithDoseDispensingPatientsType">
        <annotation>
            <documentation xml:lang="en-GB">Element containing information about dosedispensing patients associated with a doctor organisation</documentation>
            <documentation xml:lang="da-DK">Element som indeholder informationer om DD patienter der har et givet lægehus som 'egen læge'</documentation>
        </annotation>
        <sequence>
            <element name="Identifier" type="mc160:OrganisationIdentifierType"/>
            <choice minOccurs="0">
                <sequence maxOccurs="unbounded">
                    <element name="Patient" type="mc160:PatientType"/>
                    <sequence maxOccurs="unbounded">
                        <element name="DispensingCardIdentifier" type="mc160:DispensingCardIdentifierType"/>
                        <element name="DispensingCardOwner" type="mc160:OrganisationIdentifierType"/>
                        <element name="CreatedDateTime" type="mc160:CreatedDateTimeType"/>
                    </sequence>
                </sequence>
                <sequence maxOccurs="unbounded">
                    <element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
                    <sequence maxOccurs="unbounded">
                        <element name="DispensingCardIdentifier" type="mc160:DispensingCardIdentifierType"/>
                        <element name="DispensingCardOwner" type="mc160:OrganisationIdentifierType"/>
                        <element name="CreatedDateTime" type="mc160:CreatedDateTimeType"/>
                    </sequence>
                </sequence>
            </choice>
        </sequence>
    </complexType>
</schema>
