etc/schemas/2022/01/01/DoctorWithDoseDispensingPatients.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="OrganisationIdentifier.xsd"/>
    <include schemaLocation="Patient.xsd"/>
    <include schemaLocation="DispensingCardIdentifier.xsd"/>
    <include schemaLocation="CreatedDateTime.xsd"/>
    <include schemaLocation="PersonWithDispensingCard.xsd"/>

    <complexType name="DoctorWithDispensingPatientsType">
        <annotation>
            <documentation xml:lang="en-GB">Element containing information about dosedispensing patients associated with a doctor organisation</documentation>
            <documentation xml:lang="da-DK">Element som indeholder informationer om DD patienter der har et givet lægehus som 'egen læge'</documentation>
        </annotation>
        <sequence>
            <element name="Identifier" type="mc160:OrganisationIdentifierType"/>
            <element name="PersonWithDispensingCard" type="mc160:PersonWithDispensingCardType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
