etc/schemas/2022/01/01/Dosage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

  <include schemaLocation="TimesPerDay.xsd"/>
  <include schemaLocation="Dose.xsd"/>

  <complexType name="DosageChoiceType">
    <choice>
      <element name="TimeOfDayDosage" type="mc160:TimeOfDayDosageType"/>
      <element name="PartOfDayDosage" type="mc160:PartOfDayDosageType"/>
      <element name="TimesPerDayDosage" type="mc160:TimesPerDayDosageType"/>
      <element name="UnlimitedDayDosage" type="mc160:UnlimitedDosageType"/>
    </choice>
  </complexType>

  <complexType name="TimeOfDayDosageType">
    <annotation>
      <documentation xml:lang="en-GB">One or more doses each scheduled at a specific clock time of day</documentation>
      <documentation xml:lang="da-DK">En eller flere doser planlagt til bestemte klokkeslæt på dagen</documentation>
    </annotation>
    <sequence>
      <element name="TimeOfDayDose" type="mc160:TimeOfDayType" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <complexType name="TimeOfDayType">
    <annotation>
      <documentation xml:lang="en-GB">A dose entry specifying a dose amount and a specific clock time of day (e.g. 08:00:00)</documentation>
      <documentation xml:lang="da-DK">En dosis der specificerer en dosismængde og et specifikt klokkeslæt på dagen (f.eks. 08:00:00)</documentation>
    </annotation>
    <complexContent>
      <extension base="mc160:DoseType">
        <sequence>
          <element name="Time" type="xsd:time"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="PartOfDayDosageType">
    <annotation>
      <documentation xml:lang="en-GB">A dose specifying one or more named parts of the day</documentation>
      <documentation xml:lang="da-DK">En dosis der specificere et eller flere bestemte tidspunkter på dagen</documentation>
    </annotation>
    <sequence>
      <element name="Morning" type="mc160:DoseType" minOccurs="0"/>
      <element name="Noon" type="mc160:DoseType" minOccurs="0"/>
      <element name="Evening" type="mc160:DoseType" minOccurs="0"/>
      <element name="Night" type="mc160:DoseType" minOccurs="0"/>
    </sequence>
  </complexType>

  <complexType name="TimesPerDayDosageType">
    <annotation>
      <documentation xml:lang="en-GB">A dose to be administered a specified number of times per day, without a fixed time of day</documentation>
      <documentation xml:lang="da-DK">En dosis der skal indtages et bestemt antal gange om dagen uden et fast tidspunkt</documentation>
    </annotation>
    <complexContent>
      <extension base="mc160:DoseType">
        <sequence>
          <element name="TimesPerDay" type="mc160:TimesPerDayType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>


  <complexType name="UnlimitedDosageType">
    <annotation>
      <documentation xml:lang="en-GB">A dose that may be taken an unlimited(potentially limited to total amount) number of times during the day</documentation>
      <documentation xml:lang="da-DK">En dosis der kan indtages et ubegrænset(potentielt begrænset total mængde) antal gange i løbet af dagen</documentation>
    </annotation>
    <complexContent>
      <extension base="mc160:DoseType">
        <sequence>
          <element name="MaximumDailyDose" type="mc160:MaximumDailyDoseType" minOccurs="0"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <simpleType name="MaximumDailyDoseType">
    <annotation>
      <documentation xml:lang="en-GB">Maximum allowed total dose per day in a dosage period, expressed as a dose quantity</documentation>
      <documentation xml:lang="da-DK">Maksimalt tilladt samlet dosis pr. dag i en doseringsperiode, angivet som en dosismængde</documentation>
    </annotation>
    <restriction base="mc160:DoseQuantityType"/>
  </simpleType>
</schema>
