etc/schemas/2022/01/01/DosageDayNumberedSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="Dose.xsd"/>
	<include schemaLocation="DosageDayNumber.xsd"/>

	<element name="DosageDayNumberedSchema" type="mc160:DosageDayNumberedSchemaType">
		<annotation>
			<documentation xml:lang="en-GB">Day with dosages defined a number of times during the day</documentation>
			<documentation xml:lang="da-DK">Doseringsdag hvor doserne skal gives et antal gange i løbet af døgnet</documentation>
		</annotation>
	</element>
	<complexType name="DosageDayNumberedSchemaType">
		<sequence>
			<element name="Index"  type="mc160:DosageDayNumberType" minOccurs="0" />
			<element name="Dose"  type="mc160:DoseType" maxOccurs="100" />
		</sequence>
	</complexType>
</schema>