etc/schemas/2022/01/01/DosagePeriodForRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="DosageInstruction.xsd"/>
	<include schemaLocation="DosageRestriction.xsd"/>
	<include schemaLocation="DosageSchema.xsd"/>
	<include schemaLocation="DosagePeriodLength.xsd"/>

	<element name="DosagePeriodForRequestType" type="mc160:DosagePeriodForRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Description of dosage amounts and times for a treatment, including any possible restrictions for the treatment.</documentation>
			<documentation xml:lang="da-DK">Beskrivelse af doseringsmængder- og tidspunkter for en behandling, inkl. evt. restriktioner for behandlingen</documentation>
		</annotation>
	</element>
	<complexType name="DosagePeriodForRequestType">
		<sequence>
			<element name="Profile" type="mc160:DosageProfileType"/>
			<element name="Restriction" type="mc160:DosageRestrictionType" minOccurs="0"/>
			<element name="Instruction" type="mc160:DosageInstructionType" minOccurs="0"/>
			<choice minOccurs="0">
				<element name="PeriodLength" type="mc160:DosagePeriodLengthType"/>
				<element name="PeriodLengthFreeText" type="mc160:DosagePeriodLengthTextType"/>
			</choice>
			<element name="IterationInterval" type="mc160:DosageSchemaIterationIntervalType" minOccurs="0"/>
			<element name="Day" type="mc160:DayType" minOccurs="1" maxOccurs="99"/>
		</sequence>
	</complexType>

	<simpleType name="DosagePeriodLengthTextType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="256"/>
		</restriction>
	</simpleType>

	<complexType name="DayType">
		<sequence>
			<element name="Index" type="mc160:DayIndexType"/>
			<element name="Dose" type="mc160:DoseType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<complexType name="DosageProfileType">
		<sequence>
			<element name="ProfileCode" type="string"/>
			<element name="ProfileDescription" type="string" minOccurs="0"/>
		</sequence>
	</complexType>

	<simpleType name="DosageSchemaIterationIntervalType">
		<restriction base="int">
			<minInclusive value="0"/>
			<maxInclusive value="365"/>
		</restriction>
	</simpleType>
</schema>
