etc/schemas/2022/01/01/DosagePeriodForRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="DosageInstruction.xsd"/>
	<include schemaLocation="DosageRestriction.xsd"/>
	<include schemaLocation="DosageSchema.xsd"/>

	<element name="DosagePeriodForRequestType" type="mc160:DosagePeriodForRequestType">
		<annotation>
			<documentation xml:lang="en-GB">TODO Description of the dosage times of a treatment</documentation>
			<documentation xml:lang="da-DK">TODO Beskrivelse af doseringstidspunkter for en behandling</documentation>
		</annotation>
	</element>
	<complexType name="DosagePeriodForRequestType">
		<sequence>
			<element name="PeriodLength" type="mc160:DosagePeriodLengthType" minOccurs="0"/>
			<element name="Instruction" type="mc160:DosageInstructionType" minOccurs="0"/>
			<element name="Restriction" type="mc160:DosageRestrictionType" minOccurs="0"/>
			<choice>
				<element name="RepeatedDailyQuadSchema" type="mc160:RepeatedDailyQuadSchemaType"/>
				<element name="RepeatedWeeklyQuadSchema" type="mc160:RepeatedWeeklyQuadSchemaType"/>
				<element name="ContinualDailyQuadSchema" type="mc160:ContinualDailyQuadSchemaType"/>
				<element name="ContinualWeeklyQuadSchema" type="mc160:ContinualWeeklyQuadSchemaType"/>
				<element name="RepeatedDailyTimedSchema" type="mc160:RepeatedDailyTimedSchemaType"/>
				<element name="RepeatedWeeklyTimedSchema" type="mc160:RepeatedWeeklyTimedSchemaType"/>
				<element name="ContinualDailyTimedSchema" type="mc160:ContinualDailyTimedSchemaType"/>
				<element name="ContinualWeeklyTimedSchema" type="mc160:ContinualWeeklyTimedSchemaType"/>
				<element name="RepeatedDailyNumberedSchema" type="mc160:RepeatedDailyNumberedSchemaType"/>
				<element name="RepeatedWeeklyNumberedSchema" type="mc160:RepeatedWeeklyNumberedSchemaType"/>
				<element name="ContinualDailyNumberedSchema" type="mc160:ContinualDailyNumberedSchemaType"/>
				<element name="ContinualWeeklyNumberedSchema" type="mc160:ContinualWeeklyNumberedSchemaType"/>
				<element name="RepeatedDailyUnboundSchema" type="mc160:RepeatedDailyUnboundSchemaType"/>
			</choice>
		</sequence>
	</complexType>

	<simpleType name="DosagePeriodLengthType">
		<restriction base="int">
			<minInclusive value="1"/>
		</restriction>
	</simpleType>

</schema>
