etc/schemas/2022/01/01/DosageDay.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="DosageDayNotNumbered.xsd"/>
	<include schemaLocation="DosageDayNumber.xsd"/>
	<include schemaLocation="Dose.xsd"/>
	<element name="DosageDay" type="mc160:DosageDayType">
		<annotation>
			<documentation xml:lang="en-GB">Group of dosage times for the same day</documentation>
			<documentation xml:lang="da-DK">Gruppering af doseringstidspunkter på samme dag</documentation>
		</annotation>
	</element>
	<complexType name="DosageDayType">
		<sequence>
			<element name="Number" type="mc160:DosageDayNumberType"/>
			<sequence>
				<element name="Dose" type="mc160:DoseType" maxOccurs="unbounded"/>
			</sequence>
		</sequence>
	</complexType>
</schema>
