etc/schemas/2022/01/01/DosageProfile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

  <element name="DosageProfileType" type="mc160:DosageProfileType">
    <annotation>
      <documentation xml:lang="en-GB">Describes the profile of a dosage</documentation>
      <documentation xml:lang="da-DK">Profile af en dosering</documentation>
    </annotation>
  </element>

  <complexType name="DosageProfileType">
    <sequence>
      <element name="ProfileCode" type="string"/>
      <element name="ProfileDescription" type="string" minOccurs="0"/>
    </sequence>
  </complexType>


</schema>
