etc/schemas/2022/01/01/DosageStructuresForRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

  <include schemaLocation="DosageStructure.xsd"/>
  <include schemaLocation="UnspecifiedDosage.xsd"/>

  <element name="DosageStructuresForRequest" type="mc160:DosageStructuresForRequestType">
    <annotation>
      <documentation xml:lang="en-GB">Description of the dosage periods of a treatment</documentation>
      <documentation xml:lang="da-DK">Beskrivelse af doseringsperioder for en behandling</documentation>
    </annotation>
  </element>

  <complexType name="DosageStructuresForRequestType">
    <sequence>
      <element name="Structure" type="mc160:DosageStructureType" maxOccurs="10"/>
      <element name="Unspecified" type="mc160:UnspecifiedDosageType" minOccurs="0"/>
    </sequence>
  </complexType>


</schema>
