etc/schemas/2022/01/01/DosageQuantityUnitTexts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="DosageQuantityUnitText.xsd"/>

	<element name="DosageQuantityUnitTexts" type="mc160:DosageQuantityUnitTextsType">
		<annotation>
			<documentation xml:lang="en-GB">Unit for dosage quantity, singular and plural</documentation>
			<documentation xml:lang="da-DK">Enhed for dosismængde, ental og flertal</documentation>
		</annotation>
	</element>
	<complexType name="DosageQuantityUnitTextsType">
		<sequence>
			<element name="Singular" type="mc160:DosageQuantityUnitTextValueType"/>
			<element name="Plural" type="mc160:DosageQuantityUnitTextValueType"/>
		</sequence>
		<attribute name="source" type="mc160:DosageQuantityUnitTextSourceType" use="required"/>
		<attribute name="date" type="mc160:SourceDateType" use="optional"/>
		<attribute name="yearAndWeek" type="mc160:SourceYearAndWeekType" use="optional"/>
	</complexType>
</schema>
