etc/schemas/2022/01/01/DosageStructure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

  <include schemaLocation="IsSelfAdministration.xsd"/>
  <include schemaLocation="DosageParameter.xsd"/>
  <include schemaLocation="DosagePeriod.xsd"/>
  <include schemaLocation="DosageTranslation.xsd"/>
  <include schemaLocation="DosageTimesDosageEndingUndetermined.xsd"/>

  <element name="DosageStructure" type="mc160:DosageStructureType">
    <annotation>
      <documentation xml:lang="en-GB">Description of the dosage times of a treatment</documentation>
      <documentation xml:lang="da-DK">Beskrivelse af doseringstidspunkter for en behandling</documentation>
    </annotation>
  </element>

  <complexType name="DosageStructureType">
    <sequence>
      <element name="Parameter" type="mc160:DosageParameterType" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <complexType name="DosageStructureForRequestType">
    <complexContent>
      <extension base="mc160:DosageStructureType">
        <sequence>
          <element name="DosagePeriod" type="mc160:DosagePeriodType" maxOccurs="100"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="DosageStructureForResponseType">
    <annotation>
      <documentation xml:lang="en-GB">Definition of the dosage times of a treatment, specific for service responses</documentation>
      <documentation xml:lang="da-DK">Angivelse af doseringstidspunkter for en behandling, specifikt for svar fra services</documentation>
    </annotation>
    <complexContent>
      <extension base="mc160:DosageStructureType">
        <sequence>
          <element name="DosagePeriod" type="mc160:DosagePeriodForResponseType" maxOccurs="100"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>
