etc/schemas/2022/01/01/DosagePeriod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="DosagePeriodLength.xsd"/>
	<include schemaLocation="DosagePeriodLengthText.xsd"/>
	<include schemaLocation="DosageStructure.xsd"/>

	<element name="DosagePeriodType" type="mc160:DosagePeriodType">
		<annotation>
			<documentation xml:lang="en-GB">Description of a dosing period specifying its duration</documentation>
			<documentation xml:lang="da-DK">Beskrivelse af en doseringsperiode med angivelse af periode længde</documentation>
		</annotation>
	</element>

	<complexType name="DosagePeriodType">
		<sequence>
			<choice minOccurs="0">
				<element name="PeriodLength" type="mc160:DosagePeriodLengthType"/>
				<element name="PeriodLengthFreeText" type="mc160:DosagePeriodLengthTextType"/>
			</choice>
		</sequence>
	</complexType>


	<complexType name="DosagePeriodForRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Description of a dosing period specifying its duration and structured dosages</documentation>
			<documentation xml:lang="da-DK">Beskrivelse af en doseringsperiode med angivelse af længde og strukturerede doseringer</documentation>
		</annotation>
		<complexContent>
			<extension base="mc160:DosagePeriodType">
				<sequence>
					<element name="Fixed" type="mc160:DosageStructureType" minOccurs="0"/>
					<element name="PRN" type="mc160:DosageStructureType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="DosagePeriodForResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Description of a dosing period specifying its duration and structured dosages, specifically for responses from services</documentation>
			<documentation xml:lang="da-DK">Beskrivelse af en doseringsperiode med angivelse af længde og strukturerede doseringer, specifikt for svar fra services</documentation>
		</annotation>
		<complexContent>
			<extension base="mc160:DosagePeriodType">
				<sequence>
					<element name="Fixed" type="mc160:DosageStructureForResponseType" minOccurs="0"/>
					<element name="PRN" type="mc160:DosageStructureForResponseType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

</schema>
