etc/schemas/2022/01/01/DosageStructure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

  <include schemaLocation="DayType.xsd"/>
  <include schemaLocation="DayUnspecifiedType.xsd"/>
  <include schemaLocation="DosageInstruction.xsd"/>
  <include schemaLocation="DosageIterationInterval.xsd"/>
  <include schemaLocation="DosageProfile.xsd"/>
  <include schemaLocation="DosageTranslation.xsd"/>
  <include schemaLocation="WeekType.xsd"/>

  <element name="DosageStructure" type="mc160:DosageStructureType">
    <annotation>
      <documentation xml:lang="en-GB">Description of dosage amounts and timing for a treatment, including any restrictions and instructions for the treatment</documentation>
      <documentation xml:lang="da-DK">Beskrivelse af doseringsmængder- og tidspunkter for en behandling, inkl. evt. restriktioner og instruktioner for behandlingen</documentation>
    </annotation>
  </element>

  <complexType name="DosageStructureType">
    <sequence>
      <element name="MinimumDurationBetweenDoses" type="mc160:MinimumDurationBetweenDoses" minOccurs="0"/>
      <element name="Instruction" type="mc160:DosageInstructionType" minOccurs="0"/>
      <element name="IterationInterval" type="mc160:DosageIterationIntervalType" minOccurs="0"/>
      <choice>
        <element name="Day" type="mc160:DayType" maxOccurs="99"/>
        <element name="UnspecifiedDay" type="mc160:DayUnspecifiedType"/>
        <element name="Week" type="mc160:WeekType" maxOccurs="53"/>
      </choice>
    </sequence>
  </complexType>

  <complexType name="DosageStructureForResponseType">
    <annotation>
      <documentation xml:lang="en-GB">Description of dosage amounts and timing for a treatment, including any applicable restrictions and instructions for the treatment, specifically for responses from services</documentation>
      <documentation xml:lang="da-DK">Beskrivelse af doseringsmængder- og tidspunkter for en behandling, inkl. evt. restriktioner og instruktioner for behandlingen, specifikt for svar fra services</documentation>
    </annotation>
    <complexContent>
      <extension base="mc160:DosageStructureType">
        <sequence>
          <element name="Profile" type="mc160:DosageProfileType"/>
          <element name="DosageTranslation" type="mc160:DosageTranslationType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  
  <simpleType name="MinimumDurationBetweenDoses">
    <annotation>
      <documentation xml:lang="en-GB">Minimum allowed duration between doses, measured in whole minutes as a positive integer</documentation>
      <documentation xml:lang="da-DK">Mindste tilladte varighed mellem doser, angivet i hele minutter som et positivt heltal</documentation>
    </annotation>
    <restriction base="mc160:DurationMinutesType"/>
  </simpleType>
</schema>
