etc/schemas/2022/01/01/DosageForRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="StructuredDosageForRequest.xsd"/>
	<include schemaLocation="DosageFreeTextForRequest.xsd"/>
	<include schemaLocation="AdministrationAccordingToSchemaInLocalSystemForRequest.xsd"/>
	<include schemaLocation="DosageType.xsd"/>
	
	<element name="Dosage" type="mc160:DosageForRequestType">
		<annotation>
			<documentation xml:lang="en-GB">How often and when the drug should be given</documentation>
			<documentation xml:lang="da-DK">Angivelse af hvor ofte og hvornår et lægemiddel skal gives</documentation>
		</annotation>
	</element>
	<complexType name="DosageForRequestType">
		<sequence>
			<choice>
				<element name="StructuredDosage" type="mc160:StructuredDosageForRequestType"/>
				<element name="FreeText" type="mc160:DosageFreeTextForRequestType"/>
				<element name="AdministrationAccordingToSchemaInLocalSystem" type="mc160:AdministrationAccordingToSchemaInLocalSystemForRequestType"/>
			</choice>
			<element name="Type" type="mc160:DosageTypeType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
