etc/schemas/2022/01/01/DosagePeriodForResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="DayType.xsd"/>
	<include schemaLocation="DosageInstruction.xsd"/>
	<include schemaLocation="DosageRestriction.xsd"/>
	<include schemaLocation="DosagePeriodLength.xsd"/>
	<include schemaLocation="DosagePeriodLengthText.xsd"/>
	<include schemaLocation="IterationInterval.xsd"/>

	<element name="DosagePeriodForResponseType" type="mc160:DosagePeriodForResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Description of dosage amounts and times for a treatment, including any possible restrictions for the treatment.</documentation>
			<documentation xml:lang="da-DK">Beskrivelse af doseringsmængder- og tidspunkter for en behandling, inkl. evt. restriktioner for behandlingen</documentation>
		</annotation>
	</element>
	<complexType name="DosagePeriodForResponseType">
		<sequence>
			<element name="Profile" type="mc160:DosageProfileForResponseType"/>

			<element name="Restriction" type="mc160:DosageRestrictionType" minOccurs="0"/>
			<element name="Instruction" type="mc160:DosageInstructionType" minOccurs="0"/>
			<choice minOccurs="0">
				<element name="PeriodLength" type="mc160:DosagePeriodLengthType"/>
				<element name="PeriodLengthFreeText" type="mc160:DosagePeriodLengthTextType"/>
			</choice>
			<element name="IterationInterval" type="mc160:IterationIntervalType" minOccurs="0"/>
			<element name="Day" type="mc160:DayType" minOccurs="1" maxOccurs="99"/>
		</sequence>
	</complexType>

	<complexType name="DosageProfileForResponseType">
		<sequence>
			<element name="ProfileCode" type="string"/>
			<element name="ProfileDescription" type="string"/>
		</sequence>
	</complexType>

</schema>
