etc/schemas/2022/01/01/DosageSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">
    <include schemaLocation="DosageDayQuadSchema.xsd"/>
    <include schemaLocation="DosageDayTimedSchema.xsd"/>
    <include schemaLocation="RepeatAfter.xsd"/>
    <include schemaLocation="DosageDayNumberedSchema.xsd"/>
    <include schemaLocation="DosageDayUnboundSchema.xsd"/>

    <!-- Quad schema types -->

    <complexType name="RepeatedDailyQuadSchemaType">
        <sequence>
            <element name="RepeatAfter" type="mc160:RepeatAfterType" minOccurs="0"/>
            <element name="Day" type="mc160:DosageDayQuadSchemaType" maxOccurs="100"/>
        </sequence>
    </complexType>

    <complexType name="RepeatedWeeklyQuadSchemaType">
        <sequence>
            <element name="RepeatAfter" type="mc160:RepeatAfterType" minOccurs="0"/>
            <element name="Day" type="mc160:DosageDayQuadSchemaType" maxOccurs="100"/>
        </sequence>
    </complexType>

    <complexType name="ContinualDailyQuadSchemaType">
        <sequence>
            <element name="Day" type="mc160:DosageDayQuadSchemaType" maxOccurs="100"/>
        </sequence>
    </complexType>

    <complexType name="ContinualWeeklyQuadSchemaType">
        <sequence>
            <element name="Day" type="mc160:DosageDayQuadSchemaType" maxOccurs="100"/>
        </sequence>
    </complexType>

    <!-- Timed schema types -->

    <complexType name="RepeatedDailyTimedSchemaType">
        <sequence>
            <element name="RepeatAfter" type="mc160:RepeatAfterType" minOccurs="0"/>
            <element name="Day" type="mc160:DosageDayTimedSchemaType" maxOccurs="100"/>
        </sequence>
    </complexType>

    <complexType name="RepeatedWeeklyTimedSchemaType">
        <sequence>
            <element name="RepeatAfter" type="mc160:RepeatAfterType" minOccurs="0"/>
            <element name="Day" type="mc160:DosageDayTimedSchemaType" maxOccurs="100"/>
        </sequence>
    </complexType>

    <complexType name="ContinualDailyTimedSchemaType">
        <sequence>
            <element name="Day" type="mc160:DosageDayTimedSchemaType" maxOccurs="100"/>
        </sequence>
    </complexType>

    <complexType name="ContinualWeeklyTimedSchemaType">
        <sequence>
            <element name="Day" type="mc160:DosageDayTimedSchemaType" maxOccurs="100"/>
        </sequence>
    </complexType>

    <!-- Numbered schema types -->

    <complexType name="RepeatedDailyNumberedSchemaType">
        <sequence>
            <element name="RepeatAfter" type="mc160:RepeatAfterType" minOccurs="0"/>
            <element name="Day" type="mc160:DosageDayNumberedSchemaType" maxOccurs="100"/>
        </sequence>
    </complexType>

    <complexType name="RepeatedWeeklyNumberedSchemaType">
        <sequence>
            <element name="RepeatAfter" type="mc160:RepeatAfterType" minOccurs="0"/>
            <element name="Day" type="mc160:DosageDayNumberedSchemaType" maxOccurs="100"/>
        </sequence>
    </complexType>

    <complexType name="ContinualDailyNumberedSchemaType">
        <sequence>
            <element name="Day" type="mc160:DosageDayNumberedSchemaType" maxOccurs="100"/>
        </sequence>
    </complexType>

    <complexType name="ContinualWeeklyNumberedSchemaType">
        <sequence>
            <element name="Day" type="mc160:DosageDayNumberedSchemaType" maxOccurs="100"/>
        </sequence>
    </complexType>

    <!-- Unbound schema types -->

    <complexType name="RepeatedDailyUnboundSchemaType">
        <sequence>
            <element name="UnboundDay" type="mc160:DosageDayUnboundSchemaType"/>
        </sequence>
    </complexType>

</schema>
