etc/schemas/2022/01/01/DosageDayQuadSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="DosageDayNumber.xsd"/>
	<include schemaLocation="Dose.xsd"/>
	
	<element name="DosageDayQuadSchema" type="mc160:DosageDayQuadSchemaType">
		<annotation>
			<documentation xml:lang="en-GB">Day with dosages defined for morning, noon, evening and/or night</documentation>
			<documentation xml:lang="da-DK">Doseringsdag hvor doserne skal gives morgen, middag, aften og/eller nat</documentation>
		</annotation>
	</element>
	<complexType name="DosageDayQuadSchemaType">
		<sequence>
			<element name="Index"  type="mc160:DosageDayNumberType" minOccurs="0" />
			<element name="MorningDose" type="mc160:DoseType" minOccurs="0"/>
			<element name="NoonDose" type="mc160:DoseType" minOccurs="0"/>
			<element name="EveningDose" type="mc160:DoseType" minOccurs="0"/>
			<element name="NightDose" type="mc160:DoseType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>