etc/schemas/2022/01/01/DosagePeriod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="CalculatedDosageEndDate.xsd"/>
	<include schemaLocation="DayType.xsd"/>
	<include schemaLocation="DosageInstruction.xsd"/>
	<include schemaLocation="DosageRestriction.xsd"/>
	<include schemaLocation="DosagePeriodLength.xsd"/>
	<include schemaLocation="DosagePeriodLengthText.xsd"/>
	<include schemaLocation="DosageProfile.xsd"/>
	<include schemaLocation="DosageTranslation.xsd"/>
	<include schemaLocation="DosageIterationInterval.xsd"/>
	<include schemaLocation="DosageStructure.xsd"/>

	<element name="DosagePeriodType" type="mc160:DosagePeriodType">
		<annotation>
			<documentation xml:lang="en-GB">Description of dosage amounts and times for a treatment, including any possible restrictions for the treatment.</documentation>
			<documentation xml:lang="da-DK">Beskrivelse af doseringsmængder- og tidspunkter for en behandling, inkl. evt. restriktioner for behandlingen</documentation>
		</annotation>
	</element>

	<complexType name="DosagePeriodType">
		<sequence>
			<choice minOccurs="0">
				<element name="PeriodLength" type="mc160:DosagePeriodLengthType"/>
				<element name="PeriodLengthFreeText" type="mc160:DosagePeriodLengthTextType"/>
			</choice>
			<element name="Fixed" type="mc160:DosageStructureType" minOccurs="0"/>
			<element name="PRN" type="mc160:DosageStructureType" minOccurs="0"/>
		</sequence>
	</complexType>

</schema>
