etc/schemas/2022/01/01/DosageStructure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

  <include schemaLocation="IsSelfAdministration.xsd"/>
  <include schemaLocation="DosageParameter.xsd"/>
  <include schemaLocation="DosagePeriod.xsd"/>
  <include schemaLocation="DosageTranslation.xsd"/>
  <include schemaLocation="DosageTimesDosageEndingUndetermined.xsd"/>

  <element name="DosageStructure" type="mc160:DosageStructureType">
    <annotation>
      <documentation xml:lang="en-GB">Description of the dosage times of a treatment</documentation>
      <documentation xml:lang="da-DK">Beskrivelse af doseringstidspunkter for en behandling</documentation>
    </annotation>
  </element>

  <complexType name="DosageStructureType">
    <sequence>
      <element name="Restriction" type="mc160:DosageRestrictionType" minOccurs="0"/>
      <element name="Instruction" type="mc160:DosageInstructionType" minOccurs="0"/>
      <element name="IterationInterval" type="mc160:DosageIterationIntervalType" minOccurs="0"/>
      <choice>
        <element name="Day" type="mc160:DayType" maxOccurs="99"/>
        <element name="Empty" type="mc160:EmptyPeriodType"/>
        <element name="Unspecified" type="mc160:UnspecifiedPeriodType"/>
      </choice>
    </sequence>
  </complexType>

  <complexType name="DosageStructureForResponseType">
    <annotation>
      <documentation xml:lang="en-GB">Definition of the dosage times of a treatment, specific for service responses</documentation>
      <documentation xml:lang="da-DK">Angivelse af doseringstidspunkter for en behandling, specifikt for svar fra services</documentation>
    </annotation>
    <complexContent>
      <extension base="mc160:DosageStructureType">
        <sequence>
            <element name="Profile" type="mc160:DosageProfileType"/>
            <element name="EndDate" type="mc160:EndDateType"/>
            <element name="DosageTranslation" type="mc160:DosageTranslationType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="EmptyPeriodType"/>
  <complexType name="UnspecifiedPeriodType"/>
</schema>
