etc/schemas/2022/01/01/DosageParameter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="DosageQuantityUnitText.xsd"/>
	<include schemaLocation="DosageParameterSchema.xsd"/>

	<element name="DosageParameter" type="mc160:DosageParameterType">
		<annotation>
			<documentation xml:lang="en-GB">Parameters to be used for variable dosages according to a schema</documentation>
			<documentation xml:lang="da-DK">Parametre der anvendes ved variable doseringer efter et skema</documentation>
		</annotation>
	</element>
	<complexType name="DosageParameterType">
		<sequence>
			<element name="ParameterName" type="string"/>
			<element name="ParameterLabel" type="string" minOccurs="0"/>
			<element name="ParameterUnit" type="mc160:DosageParameterUnitType" minOccurs="0"/>
			<element name="ParameterSchema" type="mc160:DosageParameterSchemaType"/>
		</sequence>
	</complexType>
	<complexType name="DosageParameterUnitType">
		<sequence>
			<element name="ParameterUnitText" type="mc160:DosageQuantityUnitTextType"/>
		</sequence>
	</complexType>
</schema>
