etc/schemas/2022/01/01/DosageForResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

  <include schemaLocation="Precondition.xsd"/>
  <include schemaLocation="DosageQuantityUnitText.xsd"/>
  <include schemaLocation="DosageQuantityUnitTexts.xsd"/>
  <include schemaLocation="DosageStructure.xsd"/>
  <include schemaLocation="DosageFreeTextForResponse.xsd"/>
  <include schemaLocation="AdministrationAccordingToSchemaInLocalSystemForResponse.xsd"/>

  <element name="DosageForResponse" type="mc160:DosageForResponseType">
    <annotation>
      <documentation xml:lang="en-GB">How often and when the drug should be given</documentation>
      <documentation xml:lang="da-DK">Angivelse af hvor ofte og hvornår et lægemiddel skal gives</documentation>
    </annotation>
  </element>
  <complexType name="DosageForResponseType">
    <sequence>
      <choice>
        <sequence>
          <element name="Precondition" type="mc160:PreconditionForResponseType"/>
          <choice>
            <element name="UnitText" type="mc160:DosageQuantityUnitTextType"/>
            <element name="UnitTexts" type="mc160:DosageQuantityUnitTextsType"/>
          </choice>
          <element name="IsSelfAdministration" type="mc160:IsSelfAdministrationType" minOccurs="0"/>
          <choice>
            <sequence>
              <element name="StructureFixed" type="mc160:DosageStructureForResponseType" minOccurs="0"/>
              <element name="StructurePRN" type="mc160:DosageStructureForResponseType" minOccurs="0"/>
            </sequence>
            <element name="StructureFixedStartedPRN" type="mc160:DosageStructureForResponseType" minOccurs="0"/>
          </choice>
        </sequence>
        <element name="FreeText" type="mc160:DosageFreeTextForResponseType"/>
        <element name="AdministrationAccordingToSchemaInLocalSystem"
                 type="mc160:AdministrationAccordingToSchemaInLocalSystemForResponseType"/>
      </choice>
      <element name="DosageTranslationCombined" type="mc160:DosageTranslationType" minOccurs="0"/>
    </sequence>
  </complexType>
</schema>
