etc/schemas/2022/01/01/DosageParametricQuantity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="DoseQuantity.xsd"/>

    <element name="DosageParametricQuantity" type="mc160:DosageParametricQuantityType">
        <annotation>
            <documentation xml:lang="en-GB">The collection of parameters used in a parameterized variable dosage
            </documentation>
            <documentation xml:lang="da-DK">Samling af parameterværdier der anvendes i en variabel dosering efter
                skema
            </documentation>
        </annotation>
    </element>
    <complexType name="DosageParametricQuantityType">
        <sequence>
            <choice>
                <element name="FromValue" type="mc160:DoseQuantityType"/>
                <element name="Criterion" type="mc160:CriterionFreeText"/>
            </choice>
            <choice>
                <element name="Quantity" type="mc160:DoseQuantityType"/>
                <sequence>
                    <element name="MinimumQuantity" type="mc160:DoseQuantityType"/>
                    <element name="MaximumQuantity" type="mc160:DoseQuantityType"/>
                </sequence>
                <element name="Instruction" type="mc160:InstructionType"/>
            </choice>
        </sequence>
    </complexType>

    <simpleType name="CriterionFreeText">
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="200"/>
        </restriction>
    </simpleType>

    <simpleType name="InstructionType">
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="200"/>
        </restriction>
    </simpleType>
</schema>
