etc/schemas/2022/01/01/DosageType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <element name="DosageTypeForRequest" type="mc160:DosageTypeForRequestType">
        <annotation>
            <documentation xml:lang="en-GB">Dosage type for requests</documentation>
            <documentation xml:lang="da-DK">Doseringstype for forespørgsler</documentation>
        </annotation>
    </element>
    <simpleType name="DosageTypeForRequestType">
        <union memberTypes="mc160:PredefinedDosageTypeEnumType mc160:UndefinedDosageTypeEnumType"/>
    </simpleType>

    <element name="DosageTypeForResponse" type="mc160:DosageTypeForResponseType">
        <annotation>
            <documentation xml:lang="en-GB">Dosage type for responses</documentation>
            <documentation xml:lang="da-DK">Doseringstype for svar</documentation>
        </annotation>
    </element>
    <simpleType name="DosageTypeForResponseType">
        <union memberTypes="mc160:PredefinedDosageTypeForResponse mc160:PredefinedDosageTypeEnumType mc160:UndefinedDosageTypeEnumType"/>
    </simpleType>

    <simpleType name="PredefinedDosageTypeForResponse">
        <restriction base="mc160:UndefinedDosageTypeEnumType">
            <enumeration value="Not Specified"/>
        </restriction>
    </simpleType>

    <simpleType name="PredefinedDosageTypeEnumType">
        <restriction base="mc160:UndefinedDosageTypeEnumType">
            <enumeration value="Fixed"/>
            <enumeration value="PRN"/>
            <enumeration value="Combined"/>
        </restriction>
    </simpleType>

    <simpleType name="UndefinedDosageTypeEnumType">
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="50"/>
        </restriction>
    </simpleType>

</schema>