etc/schemas/2022/01/01/DosageStructureForResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="IsSelfAdministration.xsd"/>
	<include schemaLocation="DosageParameter.xsd"/>
	<include schemaLocation="DosagePeriodForResponse.xsd"/>
	<include schemaLocation="DosageTranslation.xsd"/>

	<element name="DosageStructureForResponse" type="mc160:DosageStructureForResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Description of the dosage times of a treatment</documentation>
			<documentation xml:lang="da-DK">Beskrivelse af doseringstidspunkter for en behandling</documentation>
		</annotation>
	</element>
	<complexType name="DosageStructureForResponseType">
		<sequence>
			<element name="IsSelfAdministration" type="mc160:IsSelfAdministrationType" minOccurs="0"/>
			<element name="Parameter" type="mc160:DosageParameterType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="DosagePeriod" type="mc160:DosagePeriodForResponseType" maxOccurs="10"/>
			<element name="DosageTranslation" type="mc160:DosageTranslationType"/>
		</sequence>
	</complexType>
</schema>
