etc/schemas/2022/01/01/DosagePeriod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="DosagePeriodLength.xsd"/>
	<include schemaLocation="DosagePeriodLengthText.xsd"/>
	<include schemaLocation="DosageStructure.xsd"/>
	<include schemaLocation="CalculatedDosageEndDate.xsd"/>

	<element name="DosagePeriodType" type="mc160:DosagePeriodType">
		<annotation>
			<documentation xml:lang="en-GB">Description of a dosage period specifying its duration</documentation>
			<documentation xml:lang="da-DK">Beskrivelse af en doseringsperiode med angivelse af periode længde</documentation>
		</annotation>
	</element>
	<complexType name="DosagePeriodType">
		<sequence>
			<choice minOccurs="0">
				<element name="PeriodLength" type="mc160:DosagePeriodLengthType"/>
				<element name="PeriodLengthFreeText" type="mc160:DosagePeriodLengthTextType"/>
			</choice>
		</sequence>
	</complexType>

	<complexType name="DosagePeriodForRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Description of a dosage period specifying its duration and structured dosages</documentation>
			<documentation xml:lang="da-DK">Beskrivelse af en doseringsperiode med angivelse af længde og strukturerede doseringer</documentation>
		</annotation>
		<complexContent>
			<extension base="mc160:DosagePeriodType">
				<sequence>
					<choice>
						<element name="Empty" type="mc160:EmptyDosagePeriodType"/>
						<element name="Unspecified" type="mc160:UnspecifiedDosagePeriodType"/>
						<sequence>
							<element name="Fixed" type="mc160:DosageStructureType" minOccurs="0"/>
							<element name="PRN" type="mc160:DosageStructureType" minOccurs="0"/>
						</sequence>
					</choice>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="DosagePeriodForResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Description of a dosage period specifying its duration and structured dosages, specifically for responses from services</documentation>
			<documentation xml:lang="da-DK">Beskrivelse af en doseringsperiode med angivelse af længde og strukturerede doseringer, specifikt for svar fra services</documentation>
		</annotation>
		<complexContent>
			<extension base="mc160:DosagePeriodType">
				<sequence>
					<choice>
						<element name="Empty" type="mc160:EmptyDosagePeriodType"/>
						<element name="Unspecified" type="mc160:UnspecifiedDosagePeriodType"/>
						<sequence>
							<element name="Fixed" type="mc160:DosageStructureForResponseType" minOccurs="0"/>
							<element name="PRN" type="mc160:DosageStructureForResponseType" minOccurs="0"/>
						</sequence>
					</choice>
					<element name="EndDate" type="mc160:EndDateType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<element name="EmptyDosagePeriod" type="mc160:EmptyDosagePeriodType">
		<annotation>
			<documentation xml:lang="en-GB">Indicates that this dosage period has no dosages. Used to indicate pauses in treatment</documentation>
			<documentation xml:lang="da-DK">Indikerer at denne doseringsperiode ikke har nogen doseringer. Bruges til at indikere pauser i behandlingen</documentation>
		</annotation>
	</element>
	<complexType name="EmptyDosagePeriodType"/>

	<element name="UnspecifiedDosagePeriod" type="mc160:UnspecifiedDosagePeriodType">
		<annotation>
			<documentation xml:lang="en-GB">Indicates that the dosage for this period is yet to be specified. Used when the period of the treatment is known, but the specific dosages and times are not yet determined</documentation>
			<documentation xml:lang="da-DK">Indikerer, at doseringen for denne periode endnu ikke er specificeret. Bruges når behandlingsperioden er kendt, men de specifikke doseringer og tidspunkter endnu ikke er bestemt</documentation>
		</annotation>
	</element>
	<complexType name="UnspecifiedDosagePeriodType"/>
</schema>
