etc/schemas/2022/01/01/DosageTranslation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="DosageTranslationLongText.xsd"/>
	<include schemaLocation="DosageTranslationShortText.xsd"/>

	<element name="DosageTranslation" type="mc160:DosageTranslationType">
		<annotation>
			<documentation xml:lang="en-GB">Dosage structure translated to text</documentation>
			<documentation xml:lang="da-DK">Dosisstrukturen oversat til tekst</documentation>
		</annotation>
	</element>

	<complexType name="DosageTranslationType">
		<sequence>
			<element name="ShortText" type="mc160:DosageTranslationShortTextType" minOccurs="0"/>
			<element name="LongText" type="mc160:DosageTranslationLongTextType"/>
		</sequence>
	</complexType>
</schema>
