etc/schemas/2022/01/01/DosageStructureRequestBase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

  <include schemaLocation="DosageStructureForRequest.xsd"/>
  <include schemaLocation="DosageStructureForResponse.xsd"/>
  <include schemaLocation="EmptyDosageStructure.xsd"/>

  <!--  <element name="Structure" type="mc160:DosageStructuresForResponseType">-->
  <!--    <annotation>-->
  <!--      <documentation xml:lang="en-GB">Description of the dosage times of a treatment</documentation>-->
  <!--      <documentation xml:lang="da-DK">Beskrivelse af doseringstidspunkter for en behandling</documentation>-->
  <!--    </annotation>-->
  <!--  </element>-->

  <complexType name="DosageStructureRequestBase" abstract="true"/>

<!--  <complexType name="DosageStructureForRequest">-->
<!--    <complexContent>-->
<!--      <extension base="mc160:DosageStructureBase"/>-->
<!--    </complexContent>-->
<!--  </complexType>-->
<!--  <element name="Structure" abstract="true"/>-->

<!--  <element name="DosageStructureForRequest"-->
<!--           type="mc160:DosageStructureForRequestType"-->
<!--           substitutionGroup="mc160:Structure">-->
<!--    <annotation>-->
<!--      <documentation xml:lang="en-GB">TODO</documentation>-->
<!--      <documentation xml:lang="da-DK">TODO</documentation>-->
<!--    </annotation>-->
<!--  </element>-->

<!--  <element name="DosageStructureForResponse"-->
<!--           type="mc160:DosageStructureForResponseType"-->
<!--           substitutionGroup="mc160:Structure">-->
<!--    <annotation>-->
<!--      <documentation xml:lang="en-GB">TODO</documentation>-->
<!--      <documentation xml:lang="da-DK">TODO</documentation>-->
<!--    </annotation>-->

<!--  </element>-->

<!--  <element name="EmptyStructure"-->
<!--           type="mc160:EmptyDosageStructureType"-->
<!--           substitutionGroup="mc160:Structure">-->
<!--    <annotation>-->
<!--      <documentation xml:lang="en-GB">TODO</documentation>-->
<!--      <documentation xml:lang="da-DK">TODO</documentation>-->
<!--    </annotation>-->
<!--  </element>-->


<!--  <complexType name="DosageStructuresForResponseType">-->
<!--    <sequence>-->
<!--      <element ref="mc160:StructuredResponseDosageItem" minOccurs="1" maxOccurs="10"/>-->
<!--      <element name="DosageTranslationCombined" type="mc160:DosageTranslationType" minOccurs="0"/>-->
<!--    </sequence>-->
<!--  </complexType>-->
</schema>
