etc/schemas/2022/01/01/DosageForRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

  <include schemaLocation="Precondition.xsd"/>
  <include schemaLocation="DosageQuantityUnitTexts.xsd"/>
  <include schemaLocation="DosageFreeTextForRequest.xsd"/>
  <include schemaLocation="AdministrationAccordingToSchemaInLocalSystemForRequest.xsd"/>
  <include schemaLocation="DosageStructure.xsd"/>

  <element name="Dosage" type="mc160:DosageForRequestType">
    <annotation>
      <documentation xml:lang="en-GB">How often and when the drug should be given</documentation>
      <documentation xml:lang="da-DK">Angivelse af hvor ofte og hvornår et lægemiddel skal gives</documentation>
    </annotation>
  </element>

  <complexType name="DosageForRequestType">
    <choice>
      <sequence>
        <element name="Precondition" type="mc160:PreconditionForRequestType" minOccurs="0"/>
        <choice>
          <element name="UnitText" type="mc160:DosageQuantityUnitTextType"/>
          <element name="UnitTexts" type="mc160:DosageQuantityUnitTextsType"/>
        </choice>
        <choice>
          <sequence>
            <element name="StructureFixed" type="mc160:DosageStructureForRequestType" minOccurs="0"/>
            <element name="StructurePRN" type="mc160:DosageStructureForRequestType" minOccurs="0"/>
          </sequence>
          <element name="StructureFixedStartedPRN" type="mc160:DosageStructureForRequestType"/>
        </choice>
      </sequence>
      <element name="FreeText" type="mc160:DosageFreeTextForRequestType"/>
      <element name="AdministrationAccordingToSchemaInLocalSystem" type="mc160:AdministrationAccordingToSchemaInLocalSystemForRequestType"/>
    </choice>
  </complexType>
</schema>
