etc/schemas/2022/01/01/DosageQuantityUnitText.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="Source.xsd"/>
	<include schemaLocation="SourceDate.xsd"/>
	<include schemaLocation="SourceYearAndWeek.xsd"/>

	<element name="DosageQuantityUnitText" type="mc160:DosageQuantityUnitTextType">
		<annotation>
			<documentation xml:lang="en-GB">Unit for dosage quantity</documentation>
			<documentation xml:lang="da-DK">Enhed for dosismængde</documentation>
		</annotation>
	</element>
	<complexType name="DosageQuantityUnitTextType">
		<simpleContent>
			<extension base="mc160:DosageQuantityUnitTextValueType">
				<attribute name="source" type="mc160:DosageQuantityUnitTextSourceType" use="required"/>
				<attribute name="date" type="mc160:SourceDateType" use="optional"/>
				<attribute name="yearAndWeek" type="mc160:SourceYearAndWeekType" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>

	<simpleType name="DosageQuantityUnitTextSourceType">
		<union memberTypes="mc160:DosageQuantityUnitTextPredefinedSourceType mc160:UndefinedSourceType"/>
	</simpleType>
	<simpleType name="DosageQuantityUnitTextPredefinedSourceType">
		<restriction base="mc160:UndefinedSourceType">
			<enumeration value="Medicinpriser"/>
			<enumeration value="Doseringsforslag"/>
			<enumeration value="Local"/>
			<enumeration value="Magistrel"/>
		</restriction>
	</simpleType>
	<simpleType name="DosageQuantityUnitTextValueType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="50"/>
		</restriction>
	</simpleType>
</schema>
