etc/schemas/2022/01/01/DoseDispensedRestriction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">
    
    <include schemaLocation="PackageNumber.xsd"/>
    <include schemaLocation="CopyRequired.xsd"/>
    <include schemaLocation="DoseDispensingStartDate.xsd"/>
    <include schemaLocation="DoseDispensingEndDate.xsd"/>

	<element name="DoseDispensedRestriction" type="mc160:DoseDispensedRestrictionType"/>

	<complexType name="DoseDispensedRestrictionType">
		<annotation>
			<documentation xml:lang="en-GB">Responsestructure with indication by the doctor that a warrant, should be effectuated dosedispensed.</documentation>
			<documentation xml:lang="da-DK">Responsestruktur, der indikerer at lægen ønsker at udleveringsgrundlaget, skal udleveres dosisdispenseret.</documentation>
		</annotation>
        <sequence>
            <element name="PackageNumber" type="mc160:PackageNumberType" minOccurs="0"/>
            <element name="CopyRequired" type="mc160:CopyRequiredType" minOccurs="0"/>
			<element name="StartDate" type="mc160:DoseDispensingStartDateType" minOccurs="0"/>
			<element name="EndDate" type="mc160:DoseDispensingEndDateType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
