etc/schemas/2022/01/01/DoseDispensingDispensableUnit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
		
    <include schemaLocation="DoseDispensingPeriodDate.xsd"/>
    <include schemaLocation="DoseTime.xsd"/>
    <include schemaLocation="DispensableUnitSequenceNumber.xsd"/>
    <include schemaLocation="AdministrationInstruction.xsd"/>
    <include schemaLocation="IsAccordingToNeed.xsd"/>
    <include schemaLocation="DoseDispensedMedicationRef.xsd"/>

    <complexType name="DoseDispensingDispensableUnitType">
        <annotation>
            <documentation xml:lang="en-GB">Detailed specification of a dose dispensing period, i.e. contents of each dispensable unit (typically a sealed plastic bag).</documentation>
            <documentation xml:lang="da-DK">Detaljeret specifikation af en dosisdispenseringsperiode, dvs. indholdet a hver enkelt "dispenserbare enhed" (typisk a forseglet plastikpose).</documentation>
        </annotation>
        <sequence>
            <element name="Date" type="mc160:DoseDispensingPeriodDateType"/>
            <element name="Time" type="mc160:DoseTimeType"/>

            <element name="SequenceNumber" type="mc160:DispensableUnitSequenceNumberType" minOccurs="0" />

            <element name="AdministrationInstruction" type="mc160:AdministrationInstructionType" minOccurs="0" maxOccurs="unbounded"/>
 
			<element name="IsAccordingToNeed" type = "mc160:IsAccordingToNeedType" minOccurs="0" />

            <element name="MedicationRef" type="mc160:DoseDispensedMedicationRefType" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
