etc/schemas/2022/01/01/DoseDispensingOverview.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="DoseDispensingPeriodStartDate.xsd"/>
    <include schemaLocation="DoseDispensingPeriodEndDate.xsd"/>
    <include schemaLocation="DoseDispensingDeadline.xsd"/>
    <include schemaLocation="LatestDosageDispensingEffectuation.xsd"/>
    <include schemaLocation="HasOpenDosageDispensedWarrants.xsd"/>
    <include schemaLocation="Organisation.xsd"/>
    <include schemaLocation="IsDoseDispensingOnHold.xsd"/>

    <complexType name="DoseDispensingOverviewType">
        <annotation>
            <documentation xml:lang="en-GB">Overall information about dose dispensing for a patient</documentation>
            <documentation xml:lang="da-DK">Overordnet information om patientens dosisdispensering</documentation>
        </annotation>
        <sequence>
            <element name="StartDate" type="mc160:DoseDispensingPeriodStartDateType" minOccurs="0" />
            <element name="EndDate" type="mc160:DoseDispensingPeriodEndDateType" minOccurs="0" />
            <element name="Deadline" type="mc160:DoseDispensingDeadlineType" minOccurs="0" />
			<element name="LatestDosageDispensingEffectuation" type="mc160:LatestDosageDispensingEffectuationType" minOccurs="0"/>
			<element name="HasOpenDosageDispensedWarrants" type="mc160:HasOpenDosageDispensedWarrantsType"/>
            <element name="OrderedAtPharmacy" type="mc160:OrganisationType" minOccurs="0"/>
			<element name="DoseDispensingOnHold" type="mc160:IsDoseDispensingOnHoldType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
