etc/schemas/2022/01/01/DoseDispensingCardSummary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified"
        attributeFormDefault="unqualified">

	<include schemaLocation="DoseDispensingCardIdentifier.xsd"/>
	<include schemaLocation="DoseDispensingCardDescription.xsd"/>
	<include schemaLocation="DoseDispensingPeriodSummary.xsd"/>

	<complexType name="DoseDispensingCardSummaryType">
		<annotation>
			<documentation xml:lang="en-GB">Overview of dose dispensing periods for a dose dispensing card</documentation>
			<documentation xml:lang="da-DK">Overblik over dosisdispenseringsperioder på et dosisdispenseringskort</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="mc160:DoseDispensingCardIdentifierType"/>
        	<element name="Description" type="mc160:DoseDispensingCardDescriptionType"/>
			<element name="DoseDispensingPeriod" type="mc160:DoseDispensingPeriodSummaryType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
