etc/schemas/2022/01/01/DoseDispensing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="Organisation.xsd"/>
	<include schemaLocation="DoseDispensingPeriodStartDate.xsd"/>
	<include schemaLocation="DoseDispensingPeriodEndDate.xsd"/>
	<include schemaLocation="DoseDispensingDeadline.xsd"/>
	<include schemaLocation="ProductionDay.xsd"/>
	<include schemaLocation="PackingGroup.xsd"/>

	<complexType name="DoseDispensingType">
		<annotation>
			<documentation xml:lang="en-GB">Details about an ordered dose dispensing packaging</documentation>
			<documentation xml:lang="da-DK">Detaljer om en bestilt dosisdispenseret pakning</documentation>
		</annotation>
		<sequence>
			<element name="PackedAtOrganisation" type="mc160:OrganisationType" minOccurs="0"/>
			<element name="FirstDosageDate" type="mc160:DoseDispensingPeriodStartDateType" minOccurs="0"/>
			<element name="LastDosageDate" type="mc160:DoseDispensingPeriodEndDateType" minOccurs="0"/>
			<element name="PackingGroup" type="mc160:PackingGroupType" minOccurs="0"/>
            <element name="Deadline" type="mc160:DoseDispensingDeadlineType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
