etc/schemas/2022/01/01/Dose.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="DoseQuantity.xsd"/>
	<include schemaLocation="Duration.xsd"/>
	<include schemaLocation="InfusionRate.xsd"/>
	<include schemaLocation="AccordingToParameterSchema.xsd"/>
	
	<element name="Dose" type="mc160:DoseType">
		<annotation>
			<documentation xml:lang="en-GB">Description of the amount of one single dose</documentation>
			<documentation xml:lang="da-DK">Beskrivelse af mængden af den enkelte dosis</documentation>
		</annotation>
	</element>
	<complexType name="DoseType">
		<choice>
		<sequence>
			<choice>
				<element name="Quantity" type="mc160:DoseQuantityType"/>
				<sequence>
					<element name="MinimalQuantity" type="mc160:DoseQuantityType"/>
					<element name="MaximalQuantity" type="mc160:DoseQuantityType"/>
				</sequence>
			</choice>
			<choice>
				<element name="Duration" type="mc160:DurationType"/>
				<sequence>
					<element name="MinimalDuration" type="mc160:DurationType" minOccurs="0"/>
					<element name="MaximumDuration" type="mc160:DurationType" minOccurs="0"/>
				</sequence>
				<element name="InfusionRate" type="mc160:InfusionRateType"/>
				<sequence>
					<element name="MinimalInfusionRate" type="mc160:InfusionRateType" minOccurs="0"/>
					<element name="MaximumInfusionRate" type="mc160:InfusionRateType" minOccurs="0"/>
				</sequence>
			</choice>
		</sequence>
			<element name="AccordingToParameterSchema" type="mc160:AccordingToParameterSchemaType" minOccurs="0"/>
		</choice>
	</complexType>
</schema>
