etc/schemas/2022/01/01/Dose.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

  <include schemaLocation="DoseQuantity.xsd"/>
  <include schemaLocation="DurationMinutes.xsd"/>
  <include schemaLocation="InfusionRate.xsd"/>
  <include schemaLocation="AccordingToParameterSchema.xsd"/>

  <complexType name="DoseType">
    <annotation>
      <documentation xml:lang="en-GB">Base type specifying a dose amount as either a direct quantity or according to a parameter schema</documentation>
      <documentation xml:lang="da-DK">Basistype der angiver en dosismængde som enten en direkte mængde eller i henhold til et parameterskema</documentation>
    </annotation>
    <sequence>
      <choice>
        <choice>
          <element name="Quantity" type="mc160:DoseQuantityType"/>
          <sequence>
            <element name="MinimumQuantity" type="mc160:DoseQuantityType"/>
            <element name="MaximumQuantity" type="mc160:DoseQuantityType"/>
          </sequence>
        </choice>
        <element name="AccordingToParameterSchema" type="mc160:AccordingToParameterSchemaType"/>
      </choice>
      <element name="Infusion" type="mc160:InfusionDoseType" minOccurs="0"/>
    </sequence>
  </complexType>

  <complexType name="InfusionDoseType">
    <annotation>
      <documentation xml:lang="en-GB">An infusion dose expressed as a duration or an infusion rate</documentation>
      <documentation xml:lang="da-DK">En infusionsdosis udtrykt ved enten en varighed eller en indløbshastighed</documentation>
    </annotation>
    <choice>
      <element name="Duration" type="mc160:DurationMinutesType"/>
      <sequence>
        <element name="MinimumDuration" type="mc160:DurationMinutesType" minOccurs="0"/>
        <element name="MaximumDuration" type="mc160:DurationMinutesType" minOccurs="0"/>
      </sequence>
      <element name="InfusionRate" type="mc160:InfusionRateType"/>
      <sequence>
        <element name="MinimumInfusionRate" type="mc160:InfusionRateType" minOccurs="0"/>
        <element name="MaximumInfusionRate" type="mc160:InfusionRateType" minOccurs="0"/>
      </sequence>
    </choice>
  </complexType>

</schema>
