etc/schemas/2022/01/01/DoseDispensingStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<simpleType name="DoseDispensingStatusType">
		<annotation>
			<documentation xml:lang="en-GB">The status of a dosedispensing period</documentation>
			<documentation xml:lang="da-DK">Status for en dosisdispenseringsperiode</documentation>
		</annotation>
		<union memberTypes="mc160:UndefinedDoseDispensingStatusType"/>
	</simpleType>
	<simpleType name="PredefinedDoseDispensingStatusType">
		<restriction base="mc160:UndefinedDoseDispensingStatusType">
			<enumeration value="Planlagt"/>
			<enumeration value="Apoteksbehandling påbegyndt"/>
			<enumeration value="Klar til pakning"/>
			<enumeration value="Pakning påbegyndt"/>
			<enumeration value="Pakning afsluttet"/>
			<enumeration value="Ekspederet"/>
			<enumeration value="Kasseres"/>
			<enumeration value="Ekspederes ikke"/>
			<enumeration value="Ikke udleveret af apoteket"/>
			<enumeration value="Slettet"/>
		</restriction>
	</simpleType>
	<simpleType name="UndefinedDoseDispensingStatusType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="100"/>
		</restriction>
	</simpleType>
</schema>
