etc/schemas/2022/01/01/DoseDispensingPeriodStatusChange.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <include schemaLocation="ModificationMetadata.xsd"/>
    <include schemaLocation="DoseDispensingPeriodIdentifier.xsd"/>
    <include schemaLocation="DoseDispensingStatus.xsd"/>

    <complexType name="DoseDispensingPeriodStatusChangeType">
        <annotation>
            <documentation xml:lang="en-GB">Change status of a dose dispensing period, typically at start or if aborted</documentation>
            <documentation xml:lang="da-DK">Skift status på en dosisdispenseringssperiode, typisk ved start eller afbryd</documentation>
        </annotation>
        <sequence>
				<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded" />
	     		<element name="DoseDispensingPeriodIdentifier" type="mc160:DoseDispensingPeriodIdentifierType"/>
	     		<element name="RequestedStatus" type="mc160:DoseDispensingStatusType"/>
        </sequence>
    </complexType>
</schema>
