etc/schemas/2022/01/01/Dose.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="DoseQuantity.xsd"/>
	<include schemaLocation="TimesPerDay.xsd"/>
	<include schemaLocation="Duration.xsd"/>
	<include schemaLocation="InfusionRate.xsd"/>
	<include schemaLocation="AccordingToParameterSchema.xsd"/>
	
	<element name="Dose" type="mc160:DoseType">
		<annotation>
			<documentation xml:lang="en-GB">Specification of the quantity of each dose and its scheduled time of administration</documentation>
			<documentation xml:lang="da-DK">Beskrivelse af mængden af den enkelte dosis og hvornår den skal indtages</documentation>
		</annotation>
	</element>
	<complexType name="DoseType">
		<sequence>
			<choice minOccurs="0">
				<element name="TimeOfDay" type="mc160:TimeOfDayType"/>
				<element name="TimesPerDay" type="mc160:TimesPerDayType"/>
				<sequence>
					<element name="MinimumTimesPerDay" type="mc160:TimesPerDayType" minOccurs="0"/>
					<element name="MaximumTimesPerDay" type="mc160:TimesPerDayType"/>
				</sequence>
			</choice>
			<choice>
				<sequence>
					<choice minOccurs="0">
						<element name="Quantity" type="mc160:DoseQuantityType"/>
						<sequence>
							<element name="MinimumQuantity" type="mc160:DoseQuantityType"/>
							<element name="MaximumQuantity" type="mc160:DoseQuantityType"/>
						</sequence>
					</choice>
					<choice minOccurs="0">
						<choice>
							<element name="Duration" type="mc160:DurationType"/>
							<sequence>
								<element name="MinimalDuration" type="mc160:DurationType" minOccurs="0"/>
								<element name="MaximumDuration" type="mc160:DurationType" minOccurs="0"/>
							</sequence>
						</choice>
						<choice>
							<element name="InfusionRate" type="mc160:InfusionRateType"/>
							<sequence>
								<element name="MinimalInfusionRate" type="mc160:InfusionRateType" minOccurs="0"/>
								<element name="MaximumInfusionRate" type="mc160:InfusionRateType" minOccurs="0"/>
							</sequence>
						</choice>
					</choice>
				</sequence>
				<element name="AccordingToParameterSchema" type="mc160:AccordingToParameterSchemaType" minOccurs="0"/>
			</choice>
		</sequence>
	</complexType>

	<simpleType name="TimeOfDayType">
		<union memberTypes="xsd:time mc160:PredefinedTimeOfDayType" />
	</simpleType>

	<simpleType name="PredefinedTimeOfDayType">
		<restriction base="string">
			<enumeration value="morning"/>
			<enumeration value="noon"/>
			<enumeration value="evening"/>
			<enumeration value="night"/>
		</restriction>
	</simpleType>
</schema>
