etc/schemas/2022/01/01/DoseDispensingDetailedSpecification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
    
    <include schemaLocation="DoseDispensingDispensableUnit.xsd"/>
    
	<element name="DoseDispensingDetailedSpecification" type="mc160:DoseDispensingDetailedSpecificationType">
        <annotation>
            <documentation xml:lang="en-GB">Detailed specification of a dose dispensing period, i.e. contents of each dispensable unit (typically a sealed plastic bag).</documentation>
            <documentation xml:lang="da-DK">Detaljeret specifikation af en dosisdispenseringsperiode, dvs. indholdet a hver enkelt "dispenserbare enhed" (typisk a forseglet plastikpose).</documentation>
        </annotation>
    </element>
    <complexType name="DoseDispensingDetailedSpecificationType">
        <sequence>
            <element name="DispensableUnit" type="mc160:DoseDispensingDispensableUnitType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
