etc/schemas/2022/01/01/DoseDispensingPeriodSummary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="DoseDispensingPeriodIdentifier.xsd"/>
    <include schemaLocation="Created.xsd"/>
    <include schemaLocation="Modified.xsd"/>
    <include schemaLocation="Modificator.xsd"/>
    <include schemaLocation="DoseDispensingPeriodStartDate.xsd"/>
    <include schemaLocation="DoseDispensingPeriodEndDate.xsd"/>
    <include schemaLocation="DoseDispensingDeadline.xsd"/>
    <include schemaLocation="ExpectedDeliveryDateTime.xsd"/>
    <include schemaLocation="DoseDispensingStatus.xsd"/>
    <include schemaLocation="DoseDispensingProductionIdentifier.xsd"/>
    <include schemaLocation="AcutePacking.xsd"/>
    
    <complexType name="DoseDispensingPeriodSummaryType">
        <annotation>
            <documentation xml:lang="en-GB">Overall information about a dose dispensing period</documentation>
            <documentation xml:lang="da-DK">Overordnet information om en dosisdispenseringsperiode</documentation>
        </annotation>
        <sequence>
			<element name="Identifier" type="mc160:DoseDispensingPeriodIdentifierType"/>
			<element name="Created" type="mc160:CreatedType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="Modified" type="mc160:ModifiedType" minOccurs="0"/>
            <element name="StartDate" type="mc160:DoseDispensingPeriodStartDateType" />
            <element name="EndDate" type="mc160:DoseDispensingPeriodEndDateType" />
            <element name="Deadline" type="mc160:DoseDispensingDeadlineType" />
            <element name="ExpectedDelivery" type="mc160:ExpectedDeliveryDateTimeType" minOccurs="0" />
            <element name="Status" type="mc160:DoseDispensingStatusType"/>
            <element name="ProductionIdentifier" type="mc160:DoseDispensingProductionIdentifierType" minOccurs="0"/>
            <element name="AcutePacking" type="mc160:AcutePackingType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
