etc/schemas/2022/01/01/DoseDispensingWarning.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
    
    <include schemaLocation="DoseDispensingWarningCode.xsd"/>
    <include schemaLocation="DoseDispensingWarningText.xsd"/>
    <include schemaLocation="WarningSeverity.xsd"/>

    <complexType name="DoseDispensingWarningType">
        <annotation>
            <documentation xml:lang="en-GB">Warning related to dose dispensing.</documentation>
            <documentation xml:lang="da-DK">Advarsel som er knyttet til dosisdispensering.</documentation>
        </annotation>
        <sequence>
        	<element name="WarningCode" type="mc160:DoseDispensingWarningCodeType"/>
            <element name="WarningText" type="mc160:DoseDispensingWarningTextType"/>
        	<element name="Severity" type="mc160:WarningSeverityType"/>
        </sequence>
    </complexType>
</schema>
