etc/schemas/2022/01/01/DrugMedicationActivePeriodForResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="DrugMedicationStartDate.xsd"/>
	<include schemaLocation="DrugMedicationStartedPreviously.xsd"/>
	<include schemaLocation="DrugMedicationTreatmentEndDate.xsd"/>
	<include schemaLocation="DrugMedicationTreatmentEndingUndetermined.xsd"/>
	<include schemaLocation="DrugMedicationEndedReason.xsd"/>

	<element name="TreatmentActivePeriodForResponse" type="mc160:TreatmentActivePeriodForResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Specifies the period during which the drug medication is/was active. If it is no longer active, the reason for ending is also stated.</documentation>
			<documentation xml:lang="da-DK">Angiver perioden hvor lægemiddelordinationen er/har været aktiv. Hvis den ikke længere er aktiv, vil årsagen til afslutningen også angives.</documentation>
		</annotation>
	</element>
	<complexType name="TreatmentActivePeriodForResponseType">
		<sequence>
			<element name="CreatedDateTime" type="mc160:DrugMedicationCreatedDateTimeType"/>
			<choice minOccurs="0">
				<element name="TreatmentStartDate" type="mc160:TreatmentStartDateType"/>
				<element name="TreatmentStartedPreviously" type="mc160:TreatmentStartedPreviouslyType"/>
			</choice>
			<choice minOccurs="0">
				<element name="TreatmentEndDate" type="mc160:DrugMedicationTreatmentEndDateType"/>
				<element name="TreatmentEndingUndetermined" type="mc160:DrugMedicationTreatmentEndingUndeterminedType"/>
			</choice>
			<element name="Ended" type="mc160:EndedReasonType" minOccurs="0"/>
		</sequence>
	</complexType>

	<element name="CreatedDateTime" type="mc160:DrugMedicationCreatedDateTimeType">
		<annotation>
			<documentation xml:lang="en-GB">Date and time when the drug medication was created in FMK.</documentation>
			<documentation xml:lang="da-DK">Dato og tid for, hvornår lægemiddelordinationen blev oprettet i FMK.</documentation>
		</annotation>
	</element>
	<simpleType name="DrugMedicationCreatedDateTimeType">
		<restriction base="dateTime">
			<minInclusive value="2000-01-01T00:00:00Z"/>
		</restriction>
	</simpleType>
</schema>
