etc/schemas/2022/01/01/DrugReference.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<element name="DrugReference" type="mc160:DrugReferenceType">
		<annotation>
			<documentation xml:lang="en-GB">Text containing, or link to, drug documentation</documentation>
			<documentation xml:lang="da-DK">Beskrivelse af, eller link til, vejledning vedr anvendelse af lægemidlet</documentation>
		</annotation>
	</element>
	<complexType name="DrugReferenceType">
		<sequence>
			<element name="Description" type="mc160:DrugDescriptionType"/>
			<element name="Link" type="anyURI">
				<annotation>
					<documentation xml:lang="en-GB">Hyperlink to documentation. Only use externally accessible links, not internal references or links</documentation>
					<documentation xml:lang="da-DK">Hyperlink til dokumentation. Brug kun eksternt tilgælgenlige links Tekst instruktion for anvendelse af lægemidlet (fx IV-vejledning)</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<simpleType name="DrugDescriptionType">
		<annotation>
			<documentation xml:lang="en-GB">Textual instruction on how to use the drug</documentation>
			<documentation xml:lang="da-DK">Tekst instruktion for anvendelse af lægemidlet (fx IV-vejledning)</documentation>
		</annotation>
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
</schema>
