etc/schemas/2022/01/01/DrugComposition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="DrugPart.xsd"/>
	
	<element name="DrugComposition" type="mc160:DrugCompositionType">
		<annotation>
			<documentation xml:lang="en-GB">The composition of a drug, either simple or created by several other drugs or substances</documentation>
			<documentation xml:lang="da-DK">Et lægemiddels opbygning, kan enten være simpelt, bestående af kun en aktiv substans, eller sammensat af flere andre lægemidler og/eller substanser</documentation>
		</annotation>
	</element>
	<complexType name="DrugCompositionType">
		<sequence>
			<element name="Part" type="mc160:DrugPartType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
