etc/schemas/2022/01/01/DrugStrength.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="DrugStrengthValue.xsd"/>
	<include schemaLocation="SimpleDrugStrength.xsd"/>
	<include schemaLocation="DrugStrengthUnitCode.xsd"/>
	<include schemaLocation="DrugStrengthUnitText.xsd"/>

	<element name="DrugStrength" type="mc160:DrugStrengthType">
		<annotation>
			<documentation xml:lang="en-GB">Unit for drug strength, code (LMS15 field 2)</documentation>
			<documentation xml:lang="da-DK">Enhed for lægemiddelstyrke, kode (LMS15 felt 2)</documentation>
		</annotation>
	</element>
	<complexType name="DrugStrengthType">
		<choice>
			<sequence>
				<element name="StrengthItem" type="mc160:DrugStrengthItemType" maxOccurs="10"/>
				<element name="Text" type="mc160:DrugStrengthTextType" minOccurs="0"/>
			</sequence>
			<element name="Text" type="mc160:DrugStrengthTextType"/>
		</choice>
	</complexType>
    
    <complexType name="DrugStrengthItemType">
        <sequence>
            <element name="Value" type="mc160:DrugStrengthValueType"/>
            <element name="UnitCode" type="mc160:DrugStrengthUnitCodeType"/>
            <element name="UnitText" type="mc160:DrugStrengthUnitTextType"/>
        </sequence>
    </complexType>
</schema>
