etc/schemas/2022/01/01/DrugMedicationType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<element name="DrugMedicationType" type="mc160:DrugMedicationTypeType">
		<annotation>
			<documentation xml:lang="en-GB">Is this drug medication created on the basis of a doctors decision</documentation>
			<documentation xml:lang="da-DK">Er denne ordination lægeordineret eller ej</documentation>
		</annotation>
	</element>
	<simpleType name="DrugMedicationTypeType">
		<union memberTypes="mc160:PredefinedDrugMedicationTypeType mc160:UndefinedDrugMedicationTypeType"/>
	</simpleType>
	<simpleType name="PredefinedDrugMedicationTypeType">
		<restriction base="mc160:UndefinedDrugMedicationTypeType">
			<enumeration value="Lægeordineret"/>
			<enumeration value="Borgervalgt"/>
		</restriction>
	</simpleType>
	<simpleType name="UndefinedDrugMedicationTypeType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="100"/>
		</restriction>
	</simpleType>
</schema>
