etc/schemas/2022/01/01/DrugMedicationRelationType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<element name="DrugMedicationRelationType" type="mc160:DrugMedicationRelationTypeType">
		<annotation>
			<documentation xml:lang="en-GB">Is this drug medication created on the basis of a doctors decision</documentation>
			<documentation xml:lang="da-DK">Er denne ordination lægeordineret eller ej</documentation>
		</annotation>
	</element>
	<simpleType name="DrugMedicationRelationTypeType">
		<union memberTypes="mc160:PredefinedDrugMedicationRelationTypeType mc160:UndefinedDrugMedicationRelationTypeType"/>
	</simpleType>
	<simpleType name="PredefinedDrugMedicationRelationTypeType">
		<restriction base="mc160:UndefinedDrugMedicationRelationTypeType">
			<enumeration value="Substitution"/>
			<enumeration value="Kombination"/>
		</restriction>
	</simpleType>
	<simpleType name="UndefinedDrugMedicationRelationTypeType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="100"/>
		</restriction>
	</simpleType>
</schema>
