etc/schemas/2022/01/01/Drug.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="DrugIdentifier.xsd"/>
	<include schemaLocation="DrugStrength.xsd"/>
	<include schemaLocation="ATC.xsd"/>
	<include schemaLocation="AdditionalDrugName.xsd"/>
	<include schemaLocation="DrugForm.xsd"/>
	<include schemaLocation="DrugName.xsd"/>
	<include schemaLocation="DrugComposition.xsd"/>
	<include schemaLocation="DrugReference.xsd"/>
	
	<element name="Drug" type="mc160:DrugType">
		<annotation>
			<documentation xml:lang="en-GB">Drug. A drug is a substance used as treatment or a preventive treatment against diseases. Drugs can be approved and thereby be listed in the Danish Medicines Agency's pricelist ("Takst"), or can be compassionate permit dugs, natural drugs, vitamins, minerals or alike. A drug is an active substance or composed of one or more substances in a particular form and strength. If DrugIdentifier exists the drug is from the Danish Medicines Agency's price list. Alternatively a detailed prescription. The drug structure may contain a list of active substances. The form and strength should be included if available</documentation>
			<documentation xml:lang="da-DK">Lægemiddel. Et lægemiddel er en vare til at behandle eller forebygge sygdomme. Lægemidler er enten godkendt og fremgår dermed af Lægemiddelstyrelsens Takst, eller det kan være tilladelsespræparater, naturlægemidler, vitaminer, minerater el.lign. Et lægemiddel er et aktivt lægemiddelstof eller sammensat af et eller flere lægemiddelstoffer i en bestemt lægemiddelform og lægemiddelstyrke. Hvis DrugIdentifier findes er lægemiddlet fra lægemiddelstyrelsens takst. Alternativt et magistrelt lægemiddel. Lægemiddelstrukturen kan indeholde en række aktive substanser. Lægemidlets form og styrke skal angives, såfremt informationen findes</documentation>
		</annotation>
	</element>
	<complexType name="DrugType">
		<sequence>
			<element name="Identifier" type="mc160:DrugIdentifierType" minOccurs="0"/>
			<element name="Name" type="mc160:DrugNameType"/>
			<element name="AdditionalName" type="mc160:AdditionalDrugNameType" minOccurs="0" maxOccurs="20"/>
			<element name="ATC" type="mc160:ATCType" minOccurs="0" maxOccurs="10"/>
			<element name="Form" type="mc160:DrugFormType" minOccurs="0"/>
			<element name="Strength" type="mc160:DrugStrengthType" minOccurs="0"/>
			<element name="Composition" type="mc160:DrugCompositionType" minOccurs="0"/>
			<element name="Reference" type="mc160:DrugReferenceType" minOccurs="0" maxOccurs="10"/>
		</sequence>
	</complexType>
</schema>
