etc/schemas/2022/01/01/DrugFormCode.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="Source.xsd"/>
	<include schemaLocation="SourceDate.xsd"/>
	<include schemaLocation="SourceYearAndWeek.xsd"/>
	
	<element name="DrugFormCode" type="mc160:DrugFormCodeType">
		<annotation>
			<documentation xml:lang="en-GB">Code for drug form. Source: LMS22 field 1</documentation>
			<documentation xml:lang="da-DK">Kode for lægemiddelform. Kilde: LMS22 felt 1</documentation>
		</annotation>
	</element>
	<complexType name="DrugFormCodeType">
		<simpleContent>
			<extension base="mc160:DrugFormCodeValueType">
				<attribute name="source" type="mc160:DrugFormCodeSourceType" use="required"/>
				<attribute name="date" type="mc160:SourceDateType" use="optional"/>
				<attribute name="yearAndWeek" type="mc160:SourceYearAndWeekType" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="DrugFormCodeValueType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="7"/>
		</restriction>
	</simpleType>
	<simpleType name="DrugFormCodeSourceType">
		<union memberTypes="mc160:DrugFormCodePredefinedSourceType mc160:UndefinedSourceType"/>
	</simpleType>
	<simpleType name="DrugFormCodePredefinedSourceType">
		<restriction base="mc160:UndefinedSourceType">
			<enumeration value="Medicinpriser"/>
			<enumeration value="Magistrel"/>
		</restriction>
	</simpleType>
</schema>
