etc/schemas/2022/01/01/DrugComposition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="DrugIdentifier.xsd"/>
	<include schemaLocation="DrugStrength.xsd"/>
	<include schemaLocation="Substance.xsd"/>
	<include schemaLocation="ATC.xsd"/>
	<include schemaLocation="AdditionalDrugName.xsd"/>
	<include schemaLocation="DrugForm.xsd"/>
	<include schemaLocation="DrugName.xsd"/>
	<include schemaLocation="DrugPart.xsd"/>
	
	<element name="DrugComposition" type="mc160:DrugCompositionType">
		<annotation>
			<documentation xml:lang="en-GB">The composition of a drug, either simple or created by several other drugs or substances</documentation>
			<documentation xml:lang="da-DK">Et lægemiddels opbygning, kan enten være simpelt, bestående af kun en aktiv substans, eller sammensat af flere andre lægemidler og/eller substanser</documentation>
		</annotation>
	</element>
	<complexType name="DrugCompositionType">
		<sequence>
			<element name="IsComplete" type="boolean"/>
			<element name="DrugPart" type="DrugPartType" maxOccurs="unbounded"/>
			<element name="Name" type="mc160:DrugNameType"/>
			<element name="AdditionalName" type="mc160:AdditionalDrugNameType" minOccurs="0" maxOccurs="20"/>
			<element name="ATC" type="mc160:ATCType"/>
			<element name="Form" type="mc160:DrugFormType" minOccurs="0"/>
			<element name="Strength" type="mc160:DrugStrengthType" minOccurs="0"/>
			<element name="Composition" type="mc160:DrugCompositionType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
