etc/schemas/2022/01/01/DrugStrength.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="SimpleDrugStrength.xsd"/>
	
	<element name="DrugStrength" type="mc160:DrugStrengthType">
		<annotation>
			<documentation xml:lang="en-GB">Unit for drug strength, code (LMS15 field 2)</documentation>
			<documentation xml:lang="da-DK">Enhed for lægemiddelstyrke, kode (LMS15 felt 2)</documentation>
		</annotation>
	</element>
	<complexType name="DrugStrengthType">
		<sequence>
			<choice>
				<element name="SimpleDrugStrength" type="mc160:SimpleDrugStrengthType"/>
				<element name="FractionDrugStrength" type="mc160:FractionDrugStrengthType"/>
			</choice>
			<element name="Text" type="mc160:DrugStrengthTextType"/>
		</sequence>
	</complexType>
</schema>
