etc/schemas/2022/01/01/DrugStrength.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="DrugStrengthValue.xsd"/>
	<include schemaLocation="DrugStrengthUnitText.xsd"/>
	<include schemaLocation="DrugStrengthText.xsd"/>
	<include schemaLocation="DrugStrengthUnitCode.xsd"/>
	
	<element name="DrugStrength" type="mc160:DrugStrengthType">
		<annotation>
			<documentation xml:lang="en-GB">Unit for drug strength, code (LMS15 field 2)</documentation>
			<documentation xml:lang="da-DK">Enhed for lægemiddelstyrke, kode (LMS15 felt 2)</documentation>
		</annotation>
	</element>
	<complexType name="DrugStrengthType">
		<choice>
			<sequence>
				<element name="Value" type="mc160:DrugStrengthValueType"/>
				<element name="UnitCode" type="mc160:DrugStrengthUnitCodeType"/>
				<?filter nsf="ignore"?>
				<element name="UnitText" type="mc160:DrugStrengthUnitTextType"/>
				<element name="Text" type="mc160:DrugStrengthTextType" minOccurs="0"/>
			</sequence>
			<element name="Text" type="mc160:DrugStrengthTextType"/>
		</choice>
		<!-- A convoluted construction for either value+unit, text or both but not neither -->
	</complexType>
</schema>
