etc/schemas/2022/01/01/DrugMedicationIdentifierAndDateTime.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationVersion.xsd"/>
	<include schemaLocation="ModifiedDateTime.xsd"/>	
	
	<element name="DrugMedicationIdentifierAndDateTime" type="mc160:DrugMedicationIdentifierAndDateTimeType">
		<annotation>
			<documentation xml:lang="en-GB">Contains ID and version number for a drug medication</documentation>
			<documentation xml:lang="da-DK">Indeholder ID og versionsnummer for en lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="DrugMedicationIdentifierAndDateTimeType">
		<sequence>
			<element name="Identifier" type="mc160:DrugMedicationIdentifierType"/>
			<element name="DateTime" type="mc160:ModifiedDateTimeType"/>
		</sequence>
	</complexType>
</schema>
