etc/schemas/2022/01/01/DrugMedicationOnPlannedAdministration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">

	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationVersion.xsd"/>
	<include schemaLocation="Created.xsd"/>
	<include schemaLocation="Modified.xsd"/>
	<include schemaLocation="DrugMedicationType.xsd"/>
	<include schemaLocation="FollowUpDates.xsd"/>
	<include schemaLocation="Paused.xsd"/>
	<include schemaLocation="NegativeConsent.xsd"/>
	<include schemaLocation="DrugMedicationBeginEndDate.xsd"/>
	<include schemaLocation="Indication.xsd"/>
	<include schemaLocation="RouteOfAdministration.xsd"/>
	<include schemaLocation="Drug.xsd"/>
	<include schemaLocation="DosageForResponse.xsd"/>
	<include schemaLocation="SubstitutionAllowed.xsd"/>
	<include schemaLocation="Effectuation.xsd"/>
	<include schemaLocation="Warrant.xsd"/>

	<complexType name="DrugMedicationOnPlannedAdministrationType">
		<annotation>
			<documentation xml:lang="en-GB">An overview of the drug medication linked to a planned administration</documentation>
			<documentation xml:lang="da-DK">En oversigt over lægemiddelordination tilknyttet en planlagt administration</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="mc160:DrugMedicationIdentifierType"/>
			<element name="Version" type="mc160:DrugMedicationVersionType"/>
			<element name="PreviousVersion" type="mc160:DrugMedicationVersionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="NextVersion" type="mc160:DrugMedicationVersionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Created" type="mc160:CreatedType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="Modified" type="mc160:ModifiedType" minOccurs="0"/>
			<element name="Type" type="mc160:DrugMedicationTypeType" />
			<element name="FollowUpDates" type="mc160:FollowUpDatesType" minOccurs="0"/>
			<element name="Paused" type="mc160:PausedType" minOccurs="0"/>
			<element name="NegativeConsent" type="mc160:NegativeConsentType" minOccurs="0"/>
			<element name="BeginEndDate" type="mc160:DrugMedicationBeginEndDateType"/>
			<element name="Indication" type="mc160:IndicationType"/>
			<element name="RouteOfAdministration" type="mc160:RouteOfAdministrationType"/>
			<element name="Drug" type="mc160:DrugType"/>
			<element name="Dosage" type="mc160:DosageForResponseType"/>
			<element name="SubstitutionAllowed" type="mc160:SubstitutionAllowedType" minOccurs="0"/>
			<element name="Warrant" type="mc160:WarrantType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ReimbursementApprovedCode" type="mc160:ReimbursementCodeType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
