etc/schemas/2022/01/01/DrugStrengthUnitCode.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="Source.xsd"/>
	<include schemaLocation="SourceDate.xsd"/>
	<include schemaLocation="SourceYearAndWeek.xsd"/>
	
	<element name="DrugStrengthUnitCode" type="mc160:DrugStrengthUnitCodeType">
		<annotation>
			<documentation xml:lang="en-GB">Unit for drug strength, code (LMS15 field 2)</documentation>
			<documentation xml:lang="da-DK">Enhed for lægemiddelstyrke, kode (LMS15 felt 2)</documentation>
		</annotation>
	</element>
	<complexType name="DrugStrengthUnitCodeType">
		<simpleContent>
			<extension base="mc160:DrugStrengthUnitCodeValueType">
				<attribute name="source" type="mc160:DrugStrengthUnitCodeSourceType" use="required"/>
				<attribute name="date" type="mc160:SourceDateType" use="optional"/>
				<attribute name="yearAndWeek" type="mc160:SourceYearAndWeekType" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="DrugStrengthUnitCodeValueType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="3"/>
		</restriction>
	</simpleType>
	<simpleType name="DrugStrengthUnitCodeSourceType">
		<union memberTypes="mc160:DrugStrengthUnitCodePredefinedSourceType mc160:UndefinedSourceType"/>
	</simpleType>
	<simpleType name="DrugStrengthUnitCodePredefinedSourceType">
		<restriction base="mc160:UndefinedSourceType">
			<enumeration value="Medicinpriser"/>
            <enumeration value="Magistrel"/>
		</restriction>
	</simpleType>
</schema>
