etc/schemas/2022/01/01/DrugPart.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="Substance.xsd"/>
	<include schemaLocation="DrugPartType.xsd"/>
	<include schemaLocation="Drug.xsd"/>
	<include schemaLocation="Substance.xsd"/>
	<include schemaLocation="DrugValueUnit.xsd"/>

	<element name="DrugPart" type="mc160:DrugPartType">
		<annotation>
			<documentation xml:lang="en-GB">Which parts a drug is composed by</documentation>
			<documentation xml:lang="da-DK">Definition af de enkelte bestanddele som udgør et lægemiddel</documentation>
		</annotation>
	</element>
	<complexType name="DrugPartType">
		<sequence>
			<element name="Type" type="mc160:DrugPartTypeType"/>
			<choice>
				<element name="Drug" type="mc160:DrugType"/>
				<element name="Substance" type="mc160:SubstanceType" maxOccurs="100"/>
			</choice>
			<choice minOccurs="0">
				<element name="Amount" type="mc160:DrugValueUnitType"/>
				<element name="Ratio" type="mc160:DrugValueUnitType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
