etc/schemas/2022/01/01/DrugPartType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<simpleType name="DrugPartTypeType">
		<annotation>
			<documentation xml:lang="en-GB">The type of a drug part (active or different kinds inactive)</documentation>
			<documentation xml:lang="da-DK">Typen af bestanddelen (aktiv, eller forskellige typer af inaktiv) </documentation>
		</annotation>
		<union memberTypes="mc160:UndefinedDrugPartTypeType mc160:PredefinedDrugPartTypeType"/>
	</simpleType>
	<simpleType name="PredefinedDrugPartTypeType">
		<restriction base="mc160:UndefinedDrugPartTypeType">
			<enumeration value="Aktiv"/>
			<enumeration value="Solvens"/>
            <enumeration value="Andet"/>
        </restriction>
	</simpleType>
	<simpleType name="UndefinedDrugPartTypeType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="100"/>
		</restriction>
	</simpleType>
</schema>
