etc/schemas/2022/01/01/EffectuationsOnWarrant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="WarrantIdentifier.xsd"/>
	<include schemaLocation="EffectuationOnWarrant.xsd"/>
	<include schemaLocation="InvalidEffectuation.xsd"/>
	
	<complexType name="EffectuationsOnWarrantType">
		<annotation>
			<documentation xml:lang="en-GB">Grouping effectuations on a warrant</documentation>
			<documentation xml:lang="da-DK">Grupperer effektueringer på et udleveringsgrundlag</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="mc160:WarrantIdentifierType"/>
			<element name="Effectuation" type="mc160:EffectuationOnWarrantType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="InvalidEffectuation" type="mc160:InvalidEffectuationType" minOccurs="0" maxOccurs="unbounded"/>			
		</sequence>
	</complexType>
</schema>
