etc/schemas/2022/01/01/EffectuateOrderRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="EffectuateOrder.xsd"/>

	<element name="EffectuateOrderRequest" type="mc160:EffectuateOrderRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request for effectuating one or more orders on warrants by a pharmacy</documentation>
			<documentation xml:lang="da-DK">Request til effektuere en eller flere bestillinger på udleveringsgrundlag</documentation>
		</annotation>
	</element>
	<complexType name="EffectuateOrderRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="CreatedBy" type="mc160:ModificatorType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="Order" type="mc160:EffectuateOrderType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
