etc/schemas/2022/01/01/EffectuateOrderResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="WarrantOrderHandoverIdentifierForResponse.xsd"/>
	<include schemaLocation="OrderIdentifier.xsd"/>
	<include schemaLocation="HandoverIdentifier.xsd"/>

	<element name="EffectuateOrderResponse" type="mc160:EffectuateOrderResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response for effectuating one or more orders on warrants</documentation>
			<documentation xml:lang="da-DK">Svar på effektuering af en eller flere bestillinger på udleveringsgrundlag</documentation>
		</annotation>
	</element>
	<complexType name="EffectuateOrderResponseType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="Handover" type="mc160:WarrantOrderIdentifierWithHandoverForResponseType" maxOccurs="unbounded" />
		</sequence>
	</complexType>

</schema>
