etc/schemas/2022/01/01/EffectuateDispensingPeriodResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationEffectuation.xsd"/>

	<element name="EffectuateDispensingPeriodResponse" type="mc160:EffectuateDispensingPeriodResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response for creating effectuations for a dispensingperiod</documentation>
			<documentation xml:lang="da-DK">Svar på oprettelse af udleveringer for en dispenseringsperiode</documentation>
		</annotation>
	</element>
	<complexType name="EffectuateDispensingPeriodResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="DrugMedication" type="mc160:DrugMedicationEffectuationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
