etc/schemas/2022/01/01/Effectuation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="EffectuationIdentifier.xsd"/>
	<include schemaLocation="EffectuationDateTime.xsd"/>
	<include schemaLocation="EffectuationMethod.xsd"/>
	<include schemaLocation="Created.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="DoseQuantity.xsd"/>
	<include schemaLocation="DosageQuantityUnitText.xsd"/>
	<include schemaLocation="Drug.xsd"/>
	<include schemaLocation="PackageQuantity.xsd"/>
	<include schemaLocation="PackageNumber.xsd"/>
	<include schemaLocation="PackageSize.xsd"/>
	<include schemaLocation="IsEffectuatedAccordingToDrugMedication.xsd"/>
	
	<complexType name="EffectuationType">
		<annotation>
			<documentation xml:lang="en-GB">The actual effectuation of the drug medication. It could be to administer the drug into the patient or that a doctor hands medication out to the patient</documentation>
			<documentation xml:lang="da-DK">Den faktiske udførelse af lægemiddelordination. Det kan f.eks. være at indgive medicin i patienten, eller at en læge eller apoteket udleverer medicin til patienten</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="mc160:EffectuationIdentifierType"/>
			<element name="DateTime" type="mc160:EffectuationDateTimeType"/>
			<element name="EffectuationMethod" type="mc160:EffectuationMethodType" minOccurs="0"/>
			<element name="Created" type="mc160:CreatedType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<choice>
				<sequence>
					<!-- A drug was effectuated, with the dose and unit below. This overrides whatever is stated as drug and dosage on the warrant or drug medication -->
					<element name="DoseQuantity" type="mc160:DoseQuantityType"/>
					<element name="DosageQuantityUnitText" type="mc160:DosageQuantityUnitTextType"/>
					<element name="Drug" type="mc160:DrugType"/>
				</sequence>
				<sequence>
					<!-- A drug was effectuated, with a drug substituted as below. This overrides whatever is stated as drug on the warrant or drug medication -->
					<element name="Drug" type="mc160:DrugType"/>
				</sequence>
				<sequence>
					<!-- A drug was effectuated, one or more packages was given to the patient -->
					<element name="PackageQuantity" type="mc160:PackageQuantityType" minOccurs="0"/>
					<element name="PackageNumber" type="mc160:PackageNumberType"/>
					<element name="PackageSize" type="mc160:PackageSizeType" minOccurs="0"/>
					<element name="Drug" type="mc160:DrugType" minOccurs="0"/>
				</sequence>
				<!-- A drug was effectuated, the drug and dosage was given as stated on the drug medication -->
				<element name="IsEffectuatedAccordingToDrugMedication" type="mc160:IsEffectuatedAccordingToDrugMedicationType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
