etc/schemas/2022/01/01/EntityWithDispensing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified"
        attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="Patient.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="Organisation.xsd"/>
	<include schemaLocation="PatientRegistration.xsd"/>
	<include schemaLocation="DispensingCardSummary.xsd"/>

	<complexType name="EntityWithDispensingType">
		<annotation>
			<documentation xml:lang="en-GB">Overview of dosedispensingcards and dispensingperiods for a person</documentation>
			<documentation xml:lang="da-DK">Overblik over en persons dispenseringskort og perioder</documentation>
		</annotation>
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="Patient" type="mc160:PatientType"/>
				<element name="Organisation" type="mc160:OrganisationType"/>
			</choice>
			<element name="PatientRegistration" type="mc160:PatientRegistrationType" minOccurs="0"/>
			<element name="DispensingCard" type="mc160:DispensingCardSummaryType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
