etc/schemas/2022/01/01/EpisodicTreatment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="DurationDays.xsd"/>

    <element name="EpisodicTreatment" type="mc160:EpisodicTreatmentType">
        <annotation>
            <documentation xml:lang="en-GB">Indicates a dosage as belonging to an episodic treatment and describes conditions for the treatment to be triggered.</documentation>
            <documentation xml:lang="da-DK">Angiver at en dosering tilhører en PN-kur og angiver betingelser for at den enkelte kur må påbegyndes.</documentation>
        </annotation>
    </element>

    <complexType name="EpisodicTreatmentType">
        <sequence>
            <element name="Trigger" type="mc160:TriggerTextType"/>
            <element name="MinimumDaysBetweenEpisodes" type="mc160:DurationDaysType" minOccurs="0"/>
        </sequence>
    </complexType>

    <simpleType name="TriggerTextType">
        <restriction base="string">
            <maxLength value="200"/>
        </restriction>
    </simpleType>

</schema>
