etc/schemas/2022/01/01/EpisodeRegistrationsForResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="EpisodicTreatmentStartDate.xsd"/>

	<element name="EpisodeRegistrationsForResponse" type="mc160:EpisodeRegistrationsForResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Registered start dates for an episodic treatment (PN-kur) with the given drug medication identifier</documentation>
			<documentation xml:lang="da-DK">Registrerede startdatoer for en PN-kur med det givne ID</documentation>
		</annotation>
	</element>

	<complexType name="EpisodeRegistrationsForResponseType">
		<sequence>
			<element name="DrugMedicationIdentifier" type="mc160:DrugMedicationIdentifierType"/>
			<element name="EpisodeStart" type="mc160:EpisodicTreatmentStartDateType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
