etc/schemas/2022/01/01/ExplicitDoseDispensingCard.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="DoseDispensingCardIdentifier.xsd"/>
    <include schemaLocation="DoseDispensingCardDescription.xsd"/>
    <include schemaLocation="MedicineCardIsInvalid.xsd"/>
    <include schemaLocation="DoseDispensingCardClosed.xsd"/>
    <include schemaLocation="DoseDispensingWarning.xsd"/>
    <include schemaLocation="DeliveryText.xsd"/>
    <include schemaLocation="PackingGroupIdentifier.xsd"/>
    <include schemaLocation="PackingGroup.xsd"/>
    <include schemaLocation="Organisation.xsd"/>
    <include schemaLocation="DoseDispensingPeriodDuration.xsd"/>
    <include schemaLocation="DoseDispensableUnitLabel.xsd"/>
    <include schemaLocation="ExplicitDoseDispensingPeriod.xsd"/>
    <include schemaLocation="AnyDoseDispensingPeriod.xsd"/>

    <element name="ExplicitDoseDispensingCard" type="mc160:ExplicitDoseDispensingCardType">
        <annotation>
            <documentation xml:lang="en-GB">Dose dispensing card for a specific person, which can contain one or more dose dispensing periods</documentation>
            <documentation xml:lang="da-DK">Dosisdispenseringskort for en given person, der kan indeholde en eller flere dosisdispenseringsperioder</documentation>
        </annotation>
    </element>
    <complexType name="ExplicitDoseDispensingCardType">
        <sequence>
        	<element name="Identifier" type="mc160:DoseDispensingCardIdentifierType"/>
        	<element name="Description" type="mc160:DoseDispensingCardDescriptionType"/>
			<element name="IsInvalid" type="mc160:MedicineCardIsInvalidType" minOccurs="0"/>
            <element name="IsClosed" type="mc160:DoseDispensingCardClosedType" minOccurs="0"/>
            <element name="Warning" type="mc160:DoseDispensingWarningType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="Delivery" type="mc160:DeliveryTextType" minOccurs="0"/>
            <element name="PackingGroupIdentifier" type="mc160:PackingGroupIdentifierType" minOccurs="0"/>
            <element name="PackingGroupName" type="mc160:PackingGroupType" minOccurs="0"/>
            <element name="OrderedAtPharmacy" type="mc160:OrganisationType"/>
            <element name="PackedAtOrganisation" type="mc160:OrganisationType"/>
            <element name="NormalPeriodDuration" type="mc160:DoseDispensingPeriodDurationType" minOccurs="0"/>
            <element name="DoseDispensableUnitLabel" type="mc160:DoseDispensableUnitLabelType" minOccurs="0"/>
            <choice>
	            <element name="Period" type="mc160:ExplicitDoseDispensingPeriodType" maxOccurs="unbounded"/>
	            <element name="AnyPeriod" type="mc160:AnyDoseDispensingPeriodType" />
            </choice>
        </sequence>
    </complexType>
</schema>
