etc/schemas/2022/01/01/ExplicitPlannedDispensing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <include schemaLocation="PlannedDispensingIdentifier.xsd"/>
    <include schemaLocation="PlannedDispensingVersion.xsd"/>
    <include schemaLocation="DrugMedication.xsd"/>
    <include schemaLocation="ValidWarrant.xsd"/>
    <include schemaLocation="DrugShortName.xsd"/>
    <include schemaLocation="DrugDescriptionText.xsd"/>
    <include schemaLocation="DoseDispensingWarning.xsd"/>
    <include schemaLocation="DrugSubstitution.xsd"/>
    <include schemaLocation="AdministrationInstruction.xsd"/>
    <include schemaLocation="PlannedAdministration.xsd"/>
    <include schemaLocation="DoseQuantity.xsd"/>
    <include schemaLocation="DoseDispensingEndDate.xsd"/>

    <complexType name="ExplicitPlannedDispensingType">
        <annotation>
            <documentation xml:lang="en-GB">Planned Dose Dispensed Medication</documentation>
            <documentation xml:lang="da-DK">Planlagt Dispensering af dosisdispenseret lægemiddelordination</documentation>
        </annotation>
        <sequence>
        	<element name="Identifier" type="mc160:PlannedDispensingIdentifierType"/>
            <element name="Version" type="mc160:PlannedDispensingVersionType"/>
          	<element name="DrugMedication" type="mc160:DrugMedicationType"/>
          	<element name="ValidWarrant" type="mc160:ValidWarrantType" minOccurs="0"/>
            <element name="ShortName" type="mc160:DrugShortNameType" minOccurs="0"/>
            <element name="Description" type="mc160:DrugDescriptionTextType" minOccurs="0"/>
            <element name="Warning" type="mc160:DoseDispensingWarningType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="Substitution" type="mc160:DrugSubstitutionType" minOccurs="0"/>
            <element name="AdministrationInstruction" type="mc160:AdministrationInstructionType" minOccurs="0" />
            <element name="PlannedAdministration" type="mc160:PlannedAdministrationType" minOccurs="0"/>
            <element name="TotalNumberOfDoseDispensedQuantity" type="mc160:DoseQuantityType" minOccurs="0"/>
            <element name="DoseDispensingEndDate" type="mc160:DoseDispensingEndDateType" minOccurs="0"/>     
        </sequence>
    </complexType>
</schema>
