etc/schemas/2022/01/01/FaultDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="KeyValueSet.xsd"/>

    <element name="FaultDetails" type="mc160:FaultDetailsType">
        <annotation>
            <documentation xml:lang="en-GB">Set of keys and values</documentation>
            <documentation xml:lang="da-DK">Liste af key value par som beskriver detaljer for fejlen</documentation>
        </annotation>
    </element>
    <complexType name="FaultDetailsType">
        <sequence>
            <element name="KeyValueSet" type="mc160:KeyValueSetType" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
