etc/schemas/2022/01/01/FixedStartedPRN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="DayDuration.xsd"/>

    <element name="FixedStartedPRN" type="mc160:FixedStartedPRNType">
        <annotation>
            <documentation xml:lang="en-GB">TODO</documentation>
            <documentation xml:lang="da-DK">TODO</documentation>
        </annotation>
    </element>

    <complexType name="FixedStartedPRNType">
        <sequence>
            <element name="TriggerFreeText" type="mc160:TriggerFreeTextType" minOccurs="0"/>
            <element name="MinimumDurationBetweenDosagePeriod" type="mc160:DayDurationType" minOccurs="0"/>
        </sequence>
    </complexType>

    <simpleType name="TriggerFreeTextType">
        <restriction base="string">
            <maxLength value="200"/>
        </restriction>
    </simpleType>
</schema>
