etc/schemas/2022/01/01/FMKRequestHeader.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="OnBehalfOf.xsd"/>
	<include schemaLocation="ConsentHeader.xsd"/>
	<include schemaLocation="WhitelistingHeader.xsd"/>
	<include schemaLocation="PagingRequest.xsd"/>
	<include schemaLocation="MinLogSessionIdType.xsd"/>
	<include schemaLocation="PreflightFlag.xsd"/>
	<include schemaLocation="PartOfBatchOperationFlag.xsd"/>
	<include schemaLocation="ExtendedValidationRequestHeader.xsd"/>

	<element name="FMKRequestHeader" type="mc160:FMKRequestHeaderType"> 
		<annotation>
			<documentation xml:lang="en-GB">Generic request header to be used for common request parameters</documentation>
			<documentation xml:lang="da-DK">Fælles request header indeholdende fælles parametre på tværs af requests</documentation>
		</annotation>
	</element>
	<complexType name="FMKRequestHeaderType">
		<sequence>
			<element name="OnBehalfOfHeader" type="mc160:OnBehalfOfType" minOccurs="0"/>
			<element name="WhitelistingHeader" type="mc160:WhitelistingHeaderType"/>
			<element name="ConsentHeader" type="mc160:ConsentHeaderType" minOccurs="0"/>
			<element name="MinLogSessionId" type="mc160:MinLogSessionIdType" minOccurs="0"/>
			<element name="Paging" type="mc160:PagingRequestType" minOccurs="0"/>
			<element name="ExtendedValidationHeader" type="mc160:ExtendedValidationRequestHeaderType" minOccurs="0"/>
            <element name="FMKConfigurationLastUpdated" type="mc160:FMKConfigurationLastUpdatedType" minOccurs="0"/>
			<element name="PreflightOnly" type="mc160:PreflightFlagType" minOccurs="0"/>
			<element name="PartOfBatchOperation" type="mc160:PartOfBatchOperationFlagType" minOccurs="0"/>
		</sequence>
	</complexType>

    <simpleType name="FMKConfigurationLastUpdatedType">
        <restriction base="dateTime">
            <minInclusive value="2000-01-01T00:00:00Z"/>
        </restriction>
    </simpleType>
</schema>
