etc/schemas/2022/01/01/FMKResponseHeader.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="MedicineCardIsInvalid.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<include schemaLocation="HiddenData.xsd"/>
	<include schemaLocation="PagingResponse.xsd"/>
	<include schemaLocation="FMKDetail.xsd"/>
	<include schemaLocation="MinLogSessionIdType.xsd"/>

	<element name="FMKResponseHeader" type="mc160:FMKResponseHeaderType">
		<annotation>
			<documentation xml:lang="en-GB">Generic response header to be used for common response values</documentation>
			<documentation xml:lang="da-DK">Fælles response header indeholdende fælles værdier på tværs af svar</documentation>
		</annotation>
	</element>
	<complexType name="FMKResponseHeaderType">
		<sequence>
			<element name="MedicinecardInvalid" type="mc160:MedicineCardIsInvalidType" minOccurs="0"/>
			<element name="VersionMismatchWarning" type="mc160:VersionMismatchWarningType" minOccurs="0"/>
			<element name="HiddenData" type="mc160:HiddenDataType" minOccurs="0"/>
			<!-- TODO: bulk status ?? -->
			<element name="Paging" type="mc160:PagingResponseType" minOccurs="0"/>
			<element name="Warnings" type="mc160:FMKDetailType" minOccurs="0" maxOccurs="unbounded" />
			<!-- TODO: <any minOccurs="0" maxOccurs="unbounded"/> ? -->
		</sequence>
	</complexType>
</schema>
