etc/schemas/2022/01/01/FMKResponseHeader.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<include schemaLocation="HiddenData.xsd"/>
	<include schemaLocation="PagingResponse.xsd"/>
	<include schemaLocation="FMKDetail.xsd"/>
	<include schemaLocation="MinLogSessionIdType.xsd"/>
	<include schemaLocation="MedicineCardIsInvalid.xsd"/>
	<include schemaLocation="KnownPersonIdentifiers.xsd"/>
	<include schemaLocation="ResponseInformation.xsd"/>
    <include schemaLocation="FMKConfigurationLastUpdatedType.xsd"/>

	<element name="FMKResponseHeader" type="mc160:FMKResponseHeaderType">
		<annotation>
			<documentation xml:lang="en-GB">Generic response header to be used for common response values</documentation>
			<documentation xml:lang="da-DK">Fælles response header indeholdende fælles værdier på tværs af svar</documentation>
		</annotation>
	</element>
	<complexType name="FMKResponseHeaderType">
		<sequence>
			<element name="KnownPersonIdentifiers" type="mc160:KnownPersonIdentifiersType" minOccurs="0"/>
			<element name="MedicinecardInvalid" type="mc160:MedicineCardIsInvalidType" minOccurs="0"/>
			<element name="VersionMismatchWarning" type="mc160:VersionMismatchWarningType" minOccurs="0"/>
			<element name="HiddenData" type="mc160:HiddenDataType" minOccurs="0"/>
			<element name="Paging" type="mc160:PagingResponseType" minOccurs="0"/>
			<element name="Warnings" type="mc160:WarningsType" minOccurs="0" />
			<element name="FMKConfigurationUpdatedWarning" type="mc160:FMKConfigurationLastUpdatedType" minOccurs="0"/>
			<element name="Informations" type="mc160:ResponseInformationsType" minOccurs="0"/>
		</sequence>
	</complexType>

	<complexType name="WarningsType">
		<sequence>
			<element name="Warning" type="mc160:FMKDetailType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<complexType name="ResponseInformationsType">
		<sequence>
			<element name="Information" type="mc160:ResponseInformationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
