etc/schemas/2022/01/01/FocesWhitelisting.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="OrganisationIdentifier.xsd"/>
    <include schemaLocation="FocesId.xsd"/>
    <include schemaLocation="CertHash.xsd"/>

    <complexType name="FocesWhitelistingType">
        <annotation>
            <documentation xml:lang="en-GB">Element for a foces whitelisting</documentation>
            <documentation xml:lang="da-DK">Element med en foces whitelisting</documentation>
        </annotation>
        <sequence>
			<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
        	<element name="FocesId" type="mc160:FocesIdType"/>
            <element name="CertHash" type="mc160:CertHashType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
