etc/schemas/2022/01/01/ForwardedPrescriptionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="PrescriptionRequestIdentifier.xsd"/>
	<include schemaLocation="PrescriptionRequestVersion.xsd"/>

	<complexType name="ForwardedPrescriptionRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Response to forwarding a prescription request</documentation>
			<documentation xml:lang="da-DK">Svar viderestilling af en receptanmodning </documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="mc160:PrescriptionRequestIdentifierType"/>
			<element name="Version" type="mc160:PrescriptionRequestVersionType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
