etc/schemas/2022/01/01/ForwardPrescriptionRequestResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<include schemaLocation="ForwardedPrescriptionRequest.xsd"/>

	<element name="ForwardPrescriptionRequestResponse" type="mc160:ForwardPrescriptionRequestResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response for forwarding prescription requests</documentation>
			<documentation xml:lang="da-DK">Svar på viderestilling af receptanmodninger</documentation>
		</annotation>
	</element>
	<complexType name="ForwardPrescriptionRequestResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
            <element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
            <element name="VersionMismatchWarning" type="mc160:VersionMismatchWarningType" minOccurs="0"/>
			<element name="PrescriptionRequest" type="mc160:ForwardedPrescriptionRequestType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
