etc/schemas/2022/01/01/ForwardRequestForWarrantResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<include schemaLocation="ForwardedRequestForWarrant.xsd"/>

	<element name="ForwardRequestForWarrantResponse" type="mc160:ForwardRequestForWarrantResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response for forwarding a request for warrant</documentation>
			<documentation xml:lang="da-DK">Svar på viderestilling af en anmodning om udleveringsgrundlag</documentation>
		</annotation>
	</element>
	<complexType name="ForwardRequestForWarrantResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
            <element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
            <element name="VersionMismatchWarning" type="mc160:VersionMismatchWarningType" minOccurs="0"/>
			<element name="RequestForWarrant" type="mc160:ForwardedRequestForWarrantType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
