etc/schemas/2022/01/01/ForwardedRequestForWarrant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="RequestForWarrantIdentifier.xsd"/>
	<include schemaLocation="RequestForWarrantVersion.xsd"/>

	<complexType name="ForwardedRequestForWarrantType">
		<annotation>
			<documentation xml:lang="en-GB">Response to forwarding a request for warrant</documentation>
			<documentation xml:lang="da-DK">Svar viderestilling af en anmodning om udleveringsgrundlag</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="mc160:RequestForWarrantIdentifierType"/>
			<element name="Version" type="mc160:RequestForWarrantVersionType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
