etc/schemas/2022/01/01/ForwardPrescriptionRequestRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="ForwardPrescriptionRequest.xsd"/>

	<element name="ForwardPrescriptionRequestRequest" type="mc160:ForwardPrescriptionRequestRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Forward a prescription request</documentation>
			<documentation xml:lang="da-DK">Viderestil en receptanmodning</documentation>
		</annotation>
	</element>
	<complexType name="ForwardPrescriptionRequestRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
			<element name="ModifiedBy" type="mc160:ModificatorType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="PrescriptionRequest" type="mc160:ForwardPrescriptionRequestType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
