etc/schemas/2022/01/01/ForwardRequestForWarrant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="RequestForWarrantIdentifier.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="Organisation.xsd"/>
	<include schemaLocation="PatientDoctorFlag.xsd"/>

	<complexType name="ForwardRequestForWarrantType">
		<annotation>
			<documentation xml:lang="en-GB">Element which forwards a request for warrant to another organisation</documentation>
			<documentation xml:lang="da-DK">Element der viderestiller en anmodning om udleveringsgrundlag til en anden udsteder</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="mc160:RequestForWarrantIdentifierType" />
			<element name="PatientOwnDoctor" type="mc160:PatientDoctorFlagType" minOccurs="0"/>
			<element name="IssuerOrganisation" type="mc160:OrganisationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
