etc/schemas/2022/01/01/FractionDrugStrength.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="SimpleDrugStrength.xsd"/>

	<element name="FractionDrugStrength" type="mc160:FractionDrugStrengthType">
		<annotation>
			<documentation xml:lang="en-GB">Strength for composed substances/drugs defined by fraction</documentation>
			<documentation xml:lang="da-DK">Styrke for sammensat lægemiddel defineret som brøk</documentation>
		</annotation>
	</element>
	<complexType name="FractionDrugStrengthType">
		<sequence>
			<element name="Counter" type="mc160:SimpleDrugStrengthType" maxOccurs="10"/>
			<element name="Denominator" type="mc160:SimpleDrugStrengthType"/>
			<element name="Text" type="mc160:DrugStrengthTextType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
