etc/schemas/2022/01/01/GenerateShipmentIdentifiersRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="Organisation.xsd"/>

	<element name="GenerateShipmentIdentifiersRequest" type="mc160:GenerateShipmentIdentifiersRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request to generate new unique shipment identifiers for TrackAndTrace</documentation>
			<documentation xml:lang="da-DK">Forespørgsel for at generere nye unikke forsendelsesID'er til brug i TrackAndTrace</documentation>
		</annotation>
	</element>
	<complexType name="GenerateShipmentIdentifiersRequestType">
		<sequence>
			<element name="OrderedAtPharmacyIdentifier" type="mc160:OrganisationIdentifierType"/>
			<element name="RequestedNumberOfShipmentIdentifiers" type="mc160:RequestedNumberOfShipmentIdentifiersType"/>
		</sequence>
	</complexType>

	<simpleType name="RequestedNumberOfShipmentIdentifiersType">
		<restriction base="integer">
			<minInclusive value="1"/>
			<maxInclusive value="100"/>
		</restriction>
	</simpleType>
</schema>
