etc/schemas/2022/01/01/GenerateShipmentIdentifiersResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified"
        attributeFormDefault="unqualified">

	<include schemaLocation="Organisation.xsd"/>
	<include schemaLocation="ShipmentIdentifier.xsd"/>


	<element name="GenerateShipmentIdentifiersResponse" type="mc160:GenerateShipmentIdentifiersResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response containing a number of newly generated TrackAndTrace shipment identifiers</documentation>
			<documentation xml:lang="da-DK">Svar indeholdende et antal nyligt genereret TrackAndTrace-forsendelsesID'er</documentation>
		</annotation>
	</element>
	<complexType name="GenerateShipmentIdentifiersResponseType">
		<sequence>
			<element name="OrderedAtPharmacyIdentifier" type="mc160:OrganisationIdentifierType"/>
			<element name="ShipmentIdentifier" type="mc160:ShipmentIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
