etc/schemas/2022/01/01/GetAcutePeriodsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="ProductionDateTime.xsd"/>

	<element name="GetAcutePeriodsRequest" type="mc160:GetAcutePeriodsRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request to get acute dosedispensingperiods</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel på hent akutte dosisdispenseringsperioder</documentation>
		</annotation>
	</element>
	<complexType name="GetAcutePeriodsRequestType">
		<sequence>
			<choice>
				<sequence>
					<element name="OrderedAtPharmacyIdentifier" type="mc160:OrganisationIdentifierType"/>
					<element name="PackedAtOrganisationIdentifier" type="mc160:OrganisationIdentifierType" minOccurs="0"/>
				</sequence>
				<element name="PackedAtOrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="ProductionDateTime" type="mc160:ProductionDateTimeType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
