etc/schemas/2022/01/01/GetAuthorisationDateForNewestOpenWarrantRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>

	<element name="GetAuthorisationDateForNewestOpenWarrantRequest" type="mc160:GetAuthorisationDateForNewestOpenWarrantRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request for getting the authorisation date of the newest open warrant</documentation>
			<documentation xml:lang="da-DK">Forespørgsel til at hente udstedelsesdato for nyeste åbne udleveringsgrundlag</documentation>
		</annotation>
	</element>
	<complexType name="GetAuthorisationDateForNewestOpenWarrantRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
		</sequence>
	</complexType>
</schema>
