etc/schemas/2022/01/01/GetDoseDispensingPeriodsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonWithDoseDispensing.xsd"/>

	<element name="GetDoseDispensingPeriodsResponse" type="mc160:GetDoseDispensingPeriodsResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response with an overview of dosedispensingperiods for a person</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar med overblik over en persons dosisdispenseringsperioder</documentation>
		</annotation>
	</element>
	<complexType name="GetDoseDispensingPeriodsResponseType">
		<sequence>
			<element name="PersonWithDoseDispensing" type="mc160:PersonWithDoseDispensingType"/>
		</sequence>
	</complexType>
</schema>
