etc/schemas/2022/01/01/GetDispensingCardRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="CurrentDispensingPeriodFlag.xsd"/>
	<include schemaLocation="CurrentAndPendingDispensingPeriodsFlag.xsd"/>
	<include schemaLocation="PendingDispensingPeriodsFlag.xsd"/>
	<include schemaLocation="AdministrationOverviewFlag.xsd"/>
	<include schemaLocation="DispensingPeriodIdentifier.xsd"/>
	<include schemaLocation="DispensingRequestedDate.xsd"/>
	<include schemaLocation="IncludeDetailedSpecificationFlag.xsd"/>

	<element name="GetDispensingCardRequest" type="mc160:GetDispensingCardRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a requesting explicit dispensing card(s) for a patient</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel efter dispenseringskort for en patient</documentation>
		</annotation>
	</element>
	<complexType name="GetDispensingCardRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="RequestedPeriod">
				<complexType>
					<choice>
						<element name="CurrentPeriod" type="mc160:CurrentDispensingPeriodFlagType"/>
						<element name="CurrentAndPendingPeriods" type="mc160:CurrentAndPendingDispensingPeriodsFlagType"/>
						<element name="PendingPeriods" type="mc160:PendingDispensingPeriodsFlagType"/>
						<element name="AdministrationOverview" type="mc160:AdministrationOverviewFlagType"/>
						<element name="Identifier" type="mc160:DispensingPeriodIdentifierType"/>
						<element name="RequestedDate" type="mc160:DispensingRequestedDateType"/>
					</choice>
				</complexType>
			</element>
		</sequence>
	</complexType>
</schema>
