etc/schemas/2022/01/01/GetDrugMedicationHistoryResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationHistory.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>

	<element name="GetDrugMedicationHistoryResponse" type="mc160:GetDrugMedicationHistoryResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a response with the history of a drug medcination</documentation>
			<documentation xml:lang="da-DK">Element for et svar med en eller flere lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="GetDrugMedicationHistoryResponseType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="Identifier" type="mc160:DrugMedicationIdentifierType"/>
      <element name="History" type="mc160:DrugMedicationHistoryType"/>
		</sequence>
	</complexType>
</schema>
