etc/schemas/2022/01/01/GetDetailedDispensingRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="DispensingIdentifier.xsd"/>

	<element name="GetDetailedDispensingRequest" type="mc160:GetDetailedDispensingRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request element for detailed dispensing</documentation>
			<documentation xml:lang="da-DK">Element til forespørgsel for detaljer om dispensering</documentation>
		</annotation>
	</element>
	<complexType name="GetDetailedDispensingRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="DispensingIdentifier" type="mc160:DispensingIdentifierType"/>
		</sequence>
	</complexType>
</schema>
