etc/schemas/2022/01/01/GetDispensingSummaryRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>

	<element name="GetDispensingSummaryRequest" type="mc160:GetDispensingSummaryRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for requesting dispensing information for a patient or organisation</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel efter dispenserings informationer for en patient eller organisation</documentation>
		</annotation>
	</element>
	<complexType name="GetDispensingSummaryRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
