etc/schemas/2022/01/01/GetDispensingPeriodsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="DispensingCardIdentifier.xsd"/>
	<include schemaLocation="DispensingPeriodStartDate.xsd"/>

	<element name="GetDispensingPeriodsRequest" type="mc160:GetDispensingPeriodsRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request to receive the periods defined for a dispensing card</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel der henter en oversigt over perioderne for et dispenseringskort</documentation>
		</annotation>
	</element>
	<complexType name="GetDispensingPeriodsRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
        	<element name="DispensingCardIdentifier" type="mc160:DispensingCardIdentifierType" minOccurs="0"/>
            <element name="IncludePeriodsSince" type="mc160:DispensingPeriodStartDateType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
