etc/schemas/2022/01/01/GetDrugMedicationEffectuationsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="Effectuation.xsd"/>
	<include schemaLocation="MoreEffectuationsAvailable.xsd"/>

	<element name="GetDrugMedicationEffectuationsResponse" type="mc160:GetDrugMedicationEffectuationsResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response to get more drug medication effectuations</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar for at hente flere lægemiddelseffektueringer</documentation>
		</annotation>
	</element>
	<complexType name="GetDrugMedicationEffectuationsResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="Identifier" type="mc160:DrugMedicationIdentifierType"/>
			<element name="Effectuation" type="mc160:EffectuationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MoreEffectuationsAvailable" type="mc160:MoreEffectuationsAvailableType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
