etc/schemas/2022/01/01/GetDispensingPeriodChangelogRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

    <include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="OrganisationIdentifier.xsd"/>
    <include schemaLocation="DispensingCardIdentifier.xsd"/>
    <include schemaLocation="DispensingPeriodIdentifier.xsd"/>

	<element name="GetDispensingPeriodChangelogRequest" type="mc160:GetDispensingPeriodChangelogRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document to get a list of changes between two different dispensing periods</documentation>
			<documentation xml:lang="da-DK">Request-dokument for at hente en liste af ændringer mellem to forskellige dispenseringsperioder</documentation>
		</annotation>
	</element>
	<complexType name="GetDispensingPeriodChangelogRequestType">
		<sequence>
            <choice>
                <element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
                <element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
            </choice>
            <element name="DispensingCardIdentifier" type="mc160:DispensingCardIdentifierType"/>
            <element name="PreviousDispensingPeriodIdentifier" type="mc160:DispensingPeriodIdentifierType"/>
            <element name="CurrentDispensingPeriodIdentifier" type="mc160:DispensingPeriodIdentifierType"/>
		</sequence>
	</complexType>
</schema>
