etc/schemas/2022/01/01/GetDoseDispensingPeriodHistoryResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="DoseDispensingPeriodSummary.xsd"/>

    <element name="GetDoseDispensingPeriodHistoryResponse" type="mc160:GetDoseDispensingPeriodHistoryResponseType">
        <annotation>
            <documentation xml:lang="en-GB">Response type with one or more dose dispensing period versions</documentation>
            <documentation xml:lang="da-DK">Type for et svar med en eller flere historiske dosisdispenseringsperiode versioner</documentation>
        </annotation>
    </element>
    <complexType name="GetDoseDispensingPeriodHistoryResponseType">
        <sequence>
            <element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
            <element name="DoseDispensingPeriod" type="mc160:DoseDispensingPeriodSummaryType" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
