etc/schemas/2022/01/01/GetDispensingCardResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="Patient.xsd"/>
    <include schemaLocation="RequestDateTime.xsd"/>
    <include schemaLocation="DoseDispensingOnHold.xsd"/>
    <include schemaLocation="DispensingCard.xsd"/>

    <element name="GetDispensingCardResponse" type="mc160:GetDispensingCardResponseType">
        <annotation>
            <documentation xml:lang="en-GB">Response type with one or more dispensing cards for a specific person</documentation>
            <documentation xml:lang="da-DK">Type for et svar med en eller flere dispenseringskort for en given person</documentation>
        </annotation>
    </element>
    <complexType name="GetDispensingCardResponseType">
        <sequence>
            <element name="Patient" type="mc160:PatientType"/>
            <element name="RequestDateTime" type="mc160:RequestDateTimeType"/>
            <element name="DoseDispensingOnHold" type="mc160:DoseDispensingOnHoldType" minOccurs="0"/>
            <element name="DispensingCard" type="mc160:DispensingCardType" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
