etc/schemas/2022/01/01/GetDispensingPlanResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="DispensingPeriodStatusChange.xsd"/>
	<include schemaLocation="MedicationDispensingPlan.xsd"/>
	<include schemaLocation="DispensingWarning.xsd"/>

	<element name="GetDispensingPlanResponse" type="mc160:GetDispensingPlanResponseType"/>

	<complexType name="GetDispensingPlanResponseType">
		<annotation>
			<documentation xml:lang="en-GB">A request to abort effectuation for an entire dispensing period</documentation>
			<documentation xml:lang="da-DK">Et request som afbryder ekspedition af alt i en dispensing periode</documentation>
		</annotation>
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="MedicationDispensingPlan" type="mc160:MedicationDispensingPlanType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Warning" type="mc160:DispensingWarningType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
