etc/schemas/2022/01/01/GetDetailedPlannedAdministrationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="DetailedPlannedAdministration.xsd"/>

    <element name="GetDetailedPlannedAdministrationResponse" type="mc160:GetDetailedPlannedAdministrationResponseType">
        <annotation>
            <documentation xml:lang="en-GB">Outer container element for a response with details for a planned administration</documentation>
            <documentation xml:lang="da-DK">Ydre container-element for et svar på en forespørgsel efter detailjer for en planlagt administration</documentation>
        </annotation>
    </element>
    <complexType name="GetDetailedPlannedAdministrationResponseType">
        <sequence>
            <choice>
                <element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
                <element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
            </choice>
            <element name="DetailedPlannedAdministration" type="mc160:DetailedPlannedAdministrationType"/>
        </sequence>
    </complexType>
</schema>
