etc/schemas/2022/01/01/GetDrugMedicationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="PrivateDrugMedication.xsd"/>
	<include schemaLocation="DrugMedication.xsd"/>
	<include schemaLocation="InvalidDrugMedication.xsd"/>

	<element name="GetDrugMedicationResponse" type="mc160:GetDrugMedicationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a response with one or more drug medications</documentation>
			<documentation xml:lang="da-DK">Element for et svar med en eller flere lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="GetDrugMedicationResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="PrivateDrugMedication" type="mc160:PrivateDrugMedicationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="DrugMedication" type="mc160:DrugMedicationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="InvalidDrugMedication" type="mc160:InvalidDrugMedicationType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
