etc/schemas/2022/01/01/GetDispensingDetailedSpecificationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="OrganisationIdentifier.xsd"/>
    <include schemaLocation="DispensingCardIdentifier.xsd"/>
    <include schemaLocation="DispensingPeriodIdentifier.xsd"/>
    <include schemaLocation="DispensingPeriodStartDate.xsd"/>
    <include schemaLocation="DispensingPeriodEndDate.xsd"/>
    <include schemaLocation="Dispensing.xsd"/>
    <include schemaLocation="DispensingCardIdentifier.xsd"/>
    <include schemaLocation="DispensingDispensableUnit.xsd"/>
    
	<element name="GetDispensingDetailedSpecificationResponse" type="mc160:GetDispensingDetailedSpecificationResponse">
        <annotation>
            <documentation xml:lang="en-GB">Detailed specification for a specific dispensing period.</documentation>
            <documentation xml:lang="da-DK">Detaljeret specifikation af en dispenseringsperiode.</documentation>
        </annotation>
    </element>
    <complexType name="GetDispensingDetailedSpecificationResponse">
        <sequence>
            <choice>
                <element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
                <element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
            </choice>
            <element name="DispensingCardIdentifier" type="mc160:DispensingCardIdentifierType"/>
            <element name="DispensingPeriodIdentifier" type="mc160:DispensingPeriodIdentifierType"/>
            <element name="StartDate" type="mc160:DispensingPeriodStartDateType"/>
            <element name="EndDate" type="mc160:DispensingPeriodEndDateType"/>
            <element name="Dispensing" type="mc160:DispensingType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="DispensableUnit" type="mc160:DispensingDispensableUnitType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
