etc/schemas/2022/01/01/GetDrugMedicationsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="DrugMedication.xsd"/>
	<include schemaLocation="InvalidDrugMedication.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>

	<element name="GetDrugMedicationsResponse" type="mc160:GetDrugMedicationsResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a response with one or more drug medications</documentation>
			<documentation xml:lang="da-DK">Element for et svar med en eller flere lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="GetDrugMedicationsResponseType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="DrugMedication" type="mc160:DrugMedicationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="InvalidDrugMedication" type="mc160:InvalidDrugMedicationType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
