etc/schemas/2022/01/01/GetDoseDispensingCardHistoryRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="DoseDispensingCardIdentifier.xsd"/>

	<element name="GetDoseDispensingCardHistoryRequest" type="mc160:GetDoseDispensingCardHistoryRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a requesting history for a dose dispensing card</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel efter historik for et dosisdispenseringskort</documentation>
		</annotation>
	</element>
	<complexType name="GetDoseDispensingCardHistoryRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
        	<element name="DoseDispensingCardIdentifier" type="mc160:DoseDispensingCardIdentifierType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
