etc/schemas/2022/01/01/GetDispensingPeriodsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="EntityWithDispensing.xsd"/>

	<element name="GetDispensingPeriodsResponse" type="mc160:GetDispensingPeriodsResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response with an overview of dispensingperiods for a person</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar med overblik over en persons dispenseringsperioder</documentation>
		</annotation>
	</element>
	<complexType name="GetDispensingPeriodsResponseType">
		<sequence>
			<element name="EntityWithDispensing" type="mc160:EntityWithDispensingType"/>
		</sequence>
	</complexType>
</schema>
