etc/schemas/2022/01/01/GetDrugMedicationVersionsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationVersionInfo.xsd"/>

	<element name="GetDrugMedicationVersionsResponse" type="mc160:GetDrugMedicationVersionsResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response for all the versionnumbers of a drug medication</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar på en forespørgsel efter alle versionsnumre for en lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="GetDrugMedicationVersionsResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
            <element name="DrugMedicationVersionInfo" type="mc160:DrugMedicationVersionInfoType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
