etc/schemas/2022/01/01/GetDispensingCardHistoryRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="DispensingCardIdentifier.xsd"/>

	<element name="GetDispensingCardHistoryRequest" type="mc160:GetDispensingCardHistoryRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a requesting history for a dispensing card</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel efter historik for et dispenseringskort</documentation>
		</annotation>
	</element>
	<complexType name="GetDispensingCardHistoryRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
        	<element name="DispensingCardIdentifier" type="mc160:DispensingCardIdentifierType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
