etc/schemas/2022/01/01/GetDoseDispensingPeriodHistoryRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="DoseDispensingPeriodIdentifier.xsd"/>

	<element name="GetDoseDispensingPeriodHistoryRequest" type="mc160:GetDoseDispensingPeriodHistoryRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a requesting history information for dose dispensing period</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel efter historik for dosisdispenseringsperioder</documentation>
		</annotation>
	</element>
	<complexType name="GetDoseDispensingPeriodHistoryRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="DoseDispensingPeriodIdentifier" type="mc160:DoseDispensingPeriodIdentifierType"/>
		</sequence>
	</complexType>
</schema>
