etc/schemas/2022/01/01/GetDetailedPlannedDispensingResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="DetailedPlannedDispensing.xsd"/>

    <element name="GetDetailedPlannedDispensingResponse" type="mc160:GetDetailedPlannedDispensingResponseType">
        <annotation>
            <documentation xml:lang="en-GB">Outer container element for a response with a planned dispensing history</documentation>
            <documentation xml:lang="da-DK">Ydre container-element for et svar på en forespørgsel efter planlagt dispenserings historik</documentation>
        </annotation>
    </element>
    <complexType name="GetDetailedPlannedDispensingResponseType">
        <sequence>
            <element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
            <element name="PlannedDispensing" type="mc160:DetailedPlannedDispensingType"/>
        </sequence>
    </complexType>
</schema>
