etc/schemas/2022/01/01/GetDispensingPeriodHistoryRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="DispensingPeriodIdentifier.xsd"/>

	<element name="GetDispensingPeriodHistoryRequest" type="mc160:GetDispensingPeriodHistoryRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a requesting history information for dispensing period</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel efter historik for dispenseringsperioder</documentation>
		</annotation>
	</element>
	<complexType name="GetDispensingPeriodHistoryRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="DispensingPeriodIdentifier" type="mc160:DispensingPeriodIdentifierType"/>
		</sequence>
	</complexType>
</schema>
