etc/schemas/2022/01/01/GetDrugMedicationVersionsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>

	<element name="GetDrugMedicationVersionsRequest" type="mc160:GetDrugMedicationVersionsRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request for all the versionnumbers of a drug medication</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel efter alle versionsnumre for en lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="GetDrugMedicationVersionsRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="Identifier" type="mc160:DrugMedicationIdentifierType"/>
		</sequence>
	</complexType>
</schema>
