etc/schemas/2022/01/01/GetDoseDispensingSummaryRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>

	<element name="GetDoseDispensingSummaryRequest" type="mc160:GetDoseDispensingSummaryRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for requesting dose dispensing information for a patient</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel efter dosisdispenserings informationer for en patient</documentation>
		</annotation>
	</element>
	<complexType name="GetDoseDispensingSummaryRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
		</sequence>
	</complexType>
</schema>
