etc/schemas/2022/01/01/GetDeliverySitesForPharmacyRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<include schemaLocation="OrganisationIdentifier.xsd"/>

	<element name="GetDeliverySitesForPharmacyRequest" type="mc160:GetDeliverySitesForPharmacyRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document to get the delivery sites associated with a given pharmacy</documentation>
			<documentation xml:lang="da-DK">Request-dokument for at hente et givet apoteks tilknyttede udleveringssteder</documentation>
		</annotation>
	</element>
	<complexType name="GetDeliverySitesForPharmacyRequestType">
		<sequence>
			<element name="PharmacyIdentifier" type="mc160:OrganisationIdentifierType" />
		</sequence>
	</complexType>
</schema>
