etc/schemas/2022/01/01/GetDispensingPeriodHistoryResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="OrganisationIdentifier.xsd"/>
    <include schemaLocation="DispensingPeriodSummary.xsd"/>

    <element name="GetDispensingPeriodHistoryResponse" type="mc160:GetDispensingPeriodHistoryResponseType">
        <annotation>
            <documentation xml:lang="en-GB">Response type with one or more dispensing period versions</documentation>
            <documentation xml:lang="da-DK">Type for et svar med en eller flere historiske dispenseringsperiode versioner</documentation>
        </annotation>
    </element>
    <complexType name="GetDispensingPeriodHistoryResponseType">
        <sequence>
            <choice>
                <element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
                <element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
            </choice>
            <element name="DispensingPeriodVersion" type="mc160:DispensingPeriodSummaryType" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
