etc/schemas/2022/01/01/GetDispensingDetailedSpecificationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="OrganisationIdentifier.xsd"/>
    <include schemaLocation="DispensingCardIdentifier.xsd"/>
    <include schemaLocation="DispensingPeriodIdentifier.xsd"/>
    
	<element name="GetDispensingDetailedSpecificationRequest" type="mc160:GetDispensingDetailedSpecificationRequest">
        <annotation>
            <documentation xml:lang="en-GB">Outer container element for a request to get a detailed specification for a specific dispensing period.</documentation>
            <documentation xml:lang="da-DK">Ydre container-element for en forespørgsel til at hente detaljeret specifikation af en dispenseringsperiode.</documentation>
        </annotation>
    </element>
    <complexType name="GetDispensingDetailedSpecificationRequest">
        <sequence>
            <choice>
                <element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
                <element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
            </choice>
            <element name="DispensingCardIdentifier" type="mc160:DispensingCardIdentifierType"/>
            <element name="DispensingPeriodIdentifier" type="mc160:DispensingPeriodIdentifierType"/>
        </sequence>
    </complexType>
</schema>
