etc/schemas/2022/01/01/GetFocesWhitelistingsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="OrganisationIdentifier.xsd"/>

	<element name="GetFocesWhitelistingsRequest" type="mc160:GetFocesWhitelistingsRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request to get the foces whitelistings for an organisation</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel der henter foces whitelistings for en organisation</documentation>
		</annotation>
	</element>
	<complexType name="GetFocesWhitelistingsRequestType">
		<sequence>
			<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
		</sequence>
	</complexType>
</schema>
