etc/schemas/2022/01/01/GetFMKConfigurationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="KeyValueSet.xsd"/>

	<element name="GetFMKConfigurationResponse" type="mc160:GetFMKConfigurationResponseType"/>

	<complexType name="GetFMKConfigurationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">A response from the service to get the configuration status of FMK</documentation>
			<documentation xml:lang="da-DK">Et svar fra servicen som henter konfigurationen af FMK</documentation>
		</annotation>
		<sequence>
            <element name="Configuration" type="mc160:KeyValueSetType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="LastUpdated" type="mc160:LastUpdatedType"/>
		</sequence>
	</complexType>

    <simpleType name="LastUpdatedType">
        <restriction base="dateTime">
            <minInclusive value="2000-01-01T00:00:00Z"/>
        </restriction>
    </simpleType>
</schema>
