etc/schemas/2022/01/01/GetHandoversResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="HandoversOnDrugMedication.xsd"/>
	<include schemaLocation="Handovers.xsd"/>
	<include schemaLocation="MoreAvailable.xsd"/>

	<element name="GetHandoversResponse" type="mc160:GetHandoversResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response containing handovers</documentation>
			<documentation xml:lang="da-DK">Svar indeholdende udleveringer</documentation>
		</annotation>
	</element>
	<complexType name="GetHandoversResponseType">
		<sequence>
            <choice>
                <element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
                <element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
            </choice>
            <element name="HandoversOnDrugMedication" type="mc160:HandoversOnDrugMedicationType" minOccurs="0" maxOccurs="unbounded"/>
            <choice>
                <element name="HandoversOnLoosePrescription" type="mc160:HandoversType" minOccurs="0" maxOccurs="unbounded"/>
                <element name="HandoversOnPracticePrescription" type="mc160:HandoversType" minOccurs="0" maxOccurs="unbounded"/>
            </choice>
		</sequence>
	</complexType>
</schema>
