etc/schemas/2022/01/01/GetIssuerOrganisationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="IssuerOrganisationEntry.xsd"/>

	<element name="GetIssuerOrganisationResponse" type="mc160:GetIssuerOrganisationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">An element containing the information about an organisation that can receive requests for warrant</documentation>
			<documentation xml:lang="da-DK">Et element indeholdende informationer omkring en organisation, der kan modtage anmodninger om udleveringsgrundlag</documentation>
		</annotation>
	</element>
	<complexType name="GetIssuerOrganisationResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="IssuerOrganisationEntry" type="mc160:IssuerOrganisationEntryType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
