etc/schemas/2022/01/01/GetMedicineCardChangeOverviewResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="MedicineCardInformationChange.xsd"/>

	<element name="GetMedicineCardChangeOverviewResponse" type="mc160:GetMedicineCardChangeOverviewResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response for a medicinecards version</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar på en forespørgsel efter et medicinkorts version</documentation>
		</annotation>
	</element>
	<complexType name="GetMedicineCardChangeOverviewResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
			<element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
			<element name="MedicineCardInformationChange" type="mc160:MedicineCardInformationChangeType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
