etc/schemas/2022/01/01/GetMedicineCardVersionsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersionInfo.xsd"/>

	<element name="GetMedicineCardVersionsResponse" type="mc160:GetMedicineCardVersionsResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response for all the versionnumbers of a medicinecard</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar på en forespørgsel efter alle versionsnumre for et medicinkort</documentation>
		</annotation>
	</element>
	<complexType name="GetMedicineCardVersionsResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
            <element name="MedicineCardVersionInfo" type="mc160:MedicineCardVersionInfoType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
