etc/schemas/2022/01/01/GetMedicineCardVersionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>

	<element name="GetMedicineCardVersionRequest" type="mc160:GetMedicineCardVersionRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request for a medicinecards version</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel efter et medicinkorts version</documentation>
		</annotation>
	</element>
	<complexType name="GetMedicineCardVersionRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
		</sequence>
	</complexType>
</schema>
