etc/schemas/2022/01/01/GetMedicineCardRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="ModifiedDateTime.xsd"/>
	<include schemaLocation="IncludeWarrants.xsd"/>
	<include schemaLocation="IncludeNonRelevantWarrantsFlag.xsd"/>
	<include schemaLocation="IncludeWithdrawnDrugMedications.xsd"/>
	<include schemaLocation="DrugMedicationType.xsd"/>

	<element name="GetMedicineCardRequest" type="mc160:GetMedicineCardRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a request for a medicinecard</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel efter et medicinkort</documentation>
		</annotation>
	</element>
	<complexType name="GetMedicineCardRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="Version" type="mc160:MedicineCardVersionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="DateTime" type="mc160:ModifiedDateTimeType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="IncludeWarrants" type="mc160:IncludeWarrantsType" minOccurs="0"/>
			<element name="IncludeNonRelevantWarrants" type="mc160:IncludeNonRelevantWarrantsFlagType" minOccurs="0"/>
			<element name="IncludeWithdrawnDrugMedications" type="mc160:IncludeWithdrawnDrugMedicationsType" minOccurs="0"/>
			<!-- PlannedAdmin -->
			<!-- Patient Registration? -->
			<element name="IncludeDrugMedicationType" type="mc160:DrugMedicationTypeType" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>
</schema>
