etc/schemas/2022/01/01/GetMedicineCardChangeOverviewListResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="MedicineCardChangeListItem.xsd"/>

	<element name="GetMedicineCardChangeOverviewListResponse" type="mc160:GetMedicineCardChangeOverviewListResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response for a medicinecards versions</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar på en forespørgsel efter et medicinkorts versions</documentation>
		</annotation>
	</element>
	<complexType name="GetMedicineCardChangeOverviewListResponseType">
		<sequence>
			<element name="MedicineCardChangeOverviewListItem" type="mc160:MedicineCardChangeListItemType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

</schema>
