etc/schemas/2022/01/01/GetPrescriptionRequestVersionsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="PrescriptionRequest.xsd"/>

	<element name="GetPrescriptionRequestVersionsResponse" type="mc160:GetPrescriptionRequestVersionsResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response with the versions of a prescriptionrequest</documentation>
			<documentation xml:lang="da-DK">Svar med versioner af en receptanmodning</documentation>
		</annotation>
	</element>
	<complexType name="GetPrescriptionRequestVersionsResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
			<element name="PrescriptionRequest" type="mc160:PrescriptionRequestType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
