etc/schemas/2022/01/01/GetPrescriptionResidualAmountRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="PrescriptionIdentifier.xsd"/>

	<element name="GetPrescriptionResidualAmountRequest" type="mc160:GetPrescriptionResidualAmountRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request for residual effectuation information for a prescription</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel efter information på resterende effektueringer på en recept</documentation>
		</annotation>
	</element>
	<complexType name="GetPrescriptionResidualAmountRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="PrescriptionIdentifier" type="mc160:PrescriptionIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
