etc/schemas/2022/01/01/GetPrescriptionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="PrescriptionIdentifier.xsd"/>
	<include schemaLocation="IncludeEffectuations.xsd"/>
	<include schemaLocation="IncludeOpenPrescriptions.xsd"/>
	<include schemaLocation="IncludeAllPrescriptions.xsd"/>

	<element name="GetPrescriptionRequest" type="mc160:GetPrescriptionRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a request for a prescription</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel efter en recept</documentation>
		</annotation>
	</element>
	<complexType name="GetPrescriptionRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<choice>
				<element name="Identifier" type="mc160:PrescriptionIdentifierType" maxOccurs="50"/>
				<element name="IncludeOpenPrescriptions" type="mc160:IncludeOpenPrescriptionsType"/>
				<element name="IncludeAllPrescriptions" type="mc160:IncludeAllPrescriptionsType"/>
			</choice>
			<element name="IncludeEffectuations" type="mc160:IncludeEffectuationsType"/>
		</sequence>
	</complexType>
</schema>
