etc/schemas/2022/01/01/GetPlannedDispensingHistoryResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="PlannedDispensing.xsd"/>

    <element name="GetPlannedDispensingHistoryResponse" type="mc160:GetPlannedDispensingHistoryResponseType">
        <annotation>
            <documentation xml:lang="en-GB">Outer container element for a response with a planned dispensing history</documentation>
            <documentation xml:lang="da-DK">Ydre container-element for et svar på en forespørgsel efter planlagt dispenserings historik</documentation>
        </annotation>
    </element>
    <complexType name="GetPlannedDispensingHistoryResponseType">
        <sequence>
            <element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
            <element name="PlannedDispensing" type="mc160:PlannedDispensingType" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
