etc/schemas/2022/01/01/GetPatientRegistrationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="PatientRegistration.xsd"/>

	<element name="GetPatientRegistrationResponse" type="mc160:GetPatientRegistrationResponseType">
        <annotation>
            <documentation xml:lang="en-GB">Registrations for the patient</documentation>
            <documentation xml:lang="da-DK">Patient-registreringer</documentation>
        </annotation>
    </element>
    <complexType name="GetPatientRegistrationResponseType">
        <sequence>
            <element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
            <element name="Registration" type="mc160:PatientRegistrationType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
