etc/schemas/2022/01/01/GetPatientOrganisationRelationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="PatientOrganisationRelationIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="PatientOrganisationRelationType.xsd"/>
	<include schemaLocation="IncludeRemovedRelations.xsd"/>

	<element name="GetPatientOrganisationRelationRequest" type="mc160:GetPatientOrganisationRelationRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document to get relations between a patient and an organisation</documentation>
			<documentation xml:lang="da-DK">Request-dokument for at hente relationer mellem en patient og en organisation</documentation>
		</annotation>
	</element>
	<complexType name="GetPatientOrganisationRelationRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
			<choice>
				<element name="Identifier" type="mc160:PatientOrganisationRelationIdentifierType" maxOccurs="unbounded"/>
				<sequence>
					<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="Type" type="mc160:PatientOrganisationRelationTypeType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</choice>
			<element name="IncludeRemovedRelations" type="mc160:IncludeRemovedRelationsType"/>
		</sequence>
	</complexType>
</schema>
