etc/schemas/2022/01/01/GetPrescribingOrganisationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="PrescribingOrganisationEntry.xsd"/>

	<element name="GetPrescribingOrganisationResponse" type="mc160:GetPrescribingOrganisationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">An element containing the information for sending prescription renewals to a specific organisation</documentation>
			<documentation xml:lang="da-DK">Et element indeholdende informationer omkring receptfornyende organisation</documentation>
		</annotation>
	</element>
	<complexType name="GetPrescribingOrganisationResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="PrescribingOrganisationEntry" type="mc160:PrescribingOrganisationEntryType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
