etc/schemas/2022/01/01/GetPlannedDispensingResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="PlannedDispensing.xsd"/>

	<element name="GetPlannedDispensingResponse" type="mc160:GetPlannedDispensingResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response from requesting a planned dispensing</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar på hentning af en planlagt dispensering</documentation>
		</annotation>
	</element>
	<complexType name="GetPlannedDispensingResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="PlannedDispensing" type="mc160:PlannedDispensingType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
