etc/schemas/2022/01/01/GetPrescriptionRequestsAndDetailsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<include schemaLocation="PersonWithPrescriptionRequest.xsd"/>
	<include schemaLocation="PrescriptionIdentifier.xsd"/>
	<include schemaLocation="MoreAvailable.xsd"/>
	<element name="GetPrescriptionRequestsAndDetailsResponse" type="mc160:GetPrescriptionRequestsAndDetailsResponseType">
		<annotation>
			<documentation xml:lang="en-GB">An element containing the information on a list of patients which has active prescription requests</documentation>
			<documentation xml:lang="da-DK">Et element indeholdende informationer på en liste af patienter som har aktive recept anmodninger</documentation>
		</annotation>
	</element>

	<complexType name="GetPrescriptionRequestsAndDetailsResponseType">
		<sequence>
			<element name="PersonWithPrescriptionRequest" type="mc160:PersonWithPrescriptionRequestType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="LastReceived" type="mc160:PrescriptionRequestIdentifierType" minOccurs="0"/>
			<element name="MoreAvailable" type="mc160:MoreAvailableType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
