etc/schemas/2022/01/01/GetPackingOverviewDetailsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PackingGroupIdentifier.xsd"/>
	<include schemaLocation="DispensingPeriodIdentifier.xsd"/>

	<element name="GetPackingOverviewDetailsRequest" type="mc160:GetPackingOverviewDetailsRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request to retrive an overview of packaged dispensing periods</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel efter paknings overblik for dispenserings perioder</documentation>
		</annotation>
	</element>
	<complexType name="GetPackingOverviewDetailsRequestType">
		<sequence>
			<choice>
				<element name="PackingGroupIdentifier" type="mc160:PackingGroupIdentifierType"/>
				<element name="DispensingPeriodIdentifier" type="mc160:DispensingPeriodIdentifierType" maxOccurs="unbounded"/>
			</choice>
		</sequence>
	</complexType>
</schema>
