etc/schemas/2022/01/01/GetPrescriptionRequestsAndDetailsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<include schemaLocation="SearchPrescriptionRequestsOrganisation.xsd"/>
	<include schemaLocation="SubOrganisationsIncluded.xsd"/>
	<include schemaLocation="CreatedDateTime.xsd"/>
	<include schemaLocation="PrescriptionRequestIdentifier.xsd"/>

	<element name="GetPrescriptionRequestsAndDetailsRequest" type="mc160:GetPrescriptionRequestsAndDetailsRequestType">
		<annotation>
			<documentation xml:lang="en-GB">An element for requesting prescription requests given an organisation which is the prescribing organisation</documentation>
			<documentation xml:lang="da-DK">Et element til forespørgsel efter receptanmodninger givet den anmodede organisation</documentation>
		</annotation>
	</element>

	<complexType name="GetPrescriptionRequestsAndDetailsRequestType">
		<sequence>
			<element name="PrescribingOrganisation" type="mc160:SearchPrescriptionRequestsOrganisationType"/>
			<element name="IncludeSubOrganisations" type="mc160:SubOrganisationsIncludedType"/>
			<element name="RequestNotOlderThan" type="mc160:CreatedDateTimeType" minOccurs="0"/>
			<element name="LastReceived" type="mc160:PrescriptionRequestIdentifierType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
