etc/schemas/2022/01/01/GetPlannedDispensingRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="PlannedDispensingIdentifier.xsd"/>

	<element name="GetPlannedDispensingRequest" type="mc160:GetPlannedDispensingRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request to receive a planned dispensing</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel der henter en planlagt dispensering</documentation>
		</annotation>
	</element>
	<complexType name="GetPlannedDispensingRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="PlannedDispensingIdentifier" type="mc160:PlannedDispensingIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
