etc/schemas/2022/01/01/GetPlannedAdministrationHistoryResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="PlannedAdministrationHistory.xsd"/>

    <element name="GetPlannedAdministrationHistoryResponse" type="mc160:GetPlannedAdministrationHistoryResponseType">
        <annotation>
            <documentation xml:lang="en-GB">Outer container element for a response with a planned administration history</documentation>
            <documentation xml:lang="da-DK">Ydre container-element for et svar på en forespørgsel efter planlagt administration historik</documentation>
        </annotation>
    </element>
    <complexType name="GetPlannedAdministrationHistoryResponseType">
        <sequence>
            <element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
            <element name="PlannedAdministration" type="mc160:PlannedAdministrationHistoryType" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
