etc/schemas/2022/01/01/GetPlannedAdministrationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="PlannedAdministrationIdentifier.xsd"/>

	<element name="GetPlannedAdministrationRequest" type="mc160:GetPlannedAdministrationRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request to receive a planned administration</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel der henter en planlagt administration</documentation>
		</annotation>
	</element>
	<complexType name="GetPlannedAdministrationRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<choice>
				<element name="DrugMedicationIdentifier" type="mc160:DrugMedicationIdentifierType" maxOccurs="unbounded"/>
				<element name="PlannedAdministrationIdentifier" type="mc160:PlannedAdministrationIdentifierType" maxOccurs="unbounded"/>
			</choice>
		</sequence>
	</complexType>
</schema>
