etc/schemas/2022/01/01/GetPatientOrganisationRelationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="PatientOrganisationRelation.xsd"/>

	<element name="GetPatientOrganisationRelationResponse" type="mc160:GetPatientOrganisationRelationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">A set of relations between a patient and an organisation</documentation>
			<documentation xml:lang="da-DK">Et antal relationer mellem en patient og en organisation</documentation>
		</annotation>
	</element>
	<complexType name="GetPatientOrganisationRelationResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
			<element name="Relation" type="mc160:PatientOrganisationRelationType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
