etc/schemas/2022/01/01/GetPrescriptionResidualAmountResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="ResidualPrescriptionMedication.xsd"/>

	<element name="GetPrescriptionResidualAmountResponse" type="mc160:GetPrescriptionResidualAmountResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response with residual effectuation information for a prescription</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar med information om resterende effektueringer for en recept</documentation>
		</annotation>
	</element>
	<complexType name="GetPrescriptionResidualAmountResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="PrescriptionMedication" type="mc160:ResidualPrescriptionMedicationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
