etc/schemas/2022/01/01/GetPlannedAdministrationHistoryRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="PlannedAdministrationIdentifier.xsd"/>
	<include schemaLocation="VersionCreatedDateTime.xsd"/>

	<element name="GetPlannedAdministrationHistoryRequest" type="mc160:GetPlannedAdministrationHistoryRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request element for planned administration history</documentation>
			<documentation xml:lang="da-DK">Element til forespørgsel for historik på planlagt administration</documentation>
		</annotation>
	</element>
	<complexType name="GetPlannedAdministrationHistoryRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="PlannedAdministrationIdentifier" type="mc160:PlannedAdministrationIdentifierType"/>
			<element name="HistorySince" type="mc160:VersionCreatedDateTimeType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
