etc/schemas/2022/01/01/GetPackingGroupRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PackingGroupIdentifier.xsd"/>
	<include schemaLocation="IncludeContents.xsd"/>

	<element name="GetPackingGroupRequest" type="mc160:GetPackingGroupRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request to get the contents of a packing group</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel på indholdet af en pakkegruppe</documentation>
		</annotation>
	</element>
	<complexType name="GetPackingGroupRequestType">
		<sequence>
            <element name="PackingGroupIdentifier" type="mc160:PackingGroupIdentifierType"/>
			<element name="FilterDate" type="mc160:ProductionDateTimeType" maxOccurs="2"/>
            <element name="IncludeContents" type="mc160:IncludeContentsType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
