etc/schemas/2022/01/01/GetPrescriptionRequestsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="PrescriptionRequest.xsd"/>
	<include schemaLocation="PageNumber.xsd"/>
	<include schemaLocation="MoreAvailable.xsd"/>

	<element name="GetPrescriptionRequestsResponse" type="mc160:GetPrescriptionRequestsResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response with one or more prescriptions</documentation>
			<documentation xml:lang="da-DK">Resultat af hentning af receptanmodninger for CPR nummer</documentation>
		</annotation>
	</element>
	<complexType name="GetPrescriptionRequestsResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
			<element name="PrescriptionRequest" type="mc160:PrescriptionRequestType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="PageNumber" type="mc160:PageNumberType" />
			<element name="MoreAvailable" type="mc160:MoreAvailableType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
