etc/schemas/2022/01/01/GetPackingGroupContentsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="PackingGroupIdentifier.xsd"/>
	<include schemaLocation="DoseDispensingPeriodDate.xsd"/>
	<include schemaLocation="IncludeCardsWithoutPeriod.xsd"/>

	<element name="GetPackingGroupContentsRequest" type="mc160:GetPackingGroupContentsRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request to get the contents of a packing group</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel på indholdet af en pakkegruppe</documentation>
		</annotation>
	</element>
	<complexType name="GetPackingGroupContentsRequestType">
		<sequence>
            <element name="PackingGroupIdentifier" type="mc160:PackingGroupIdentifierType"/>
			<element name="PeriodDate" type="mc160:DoseDispensingPeriodDateType" minOccurs="0"/>
            <element name="IncludeCardsWithoutPeriod" type="mc160:IncludeCardsWithoutPeriodType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
