etc/schemas/2022/01/01/GetPackingOverviewRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="PackingGroupIdentifier.xsd"/>
	<include schemaLocation="DoseDispensingPeriodIdentifier.xsd"/>

	<element name="GetPackingOverviewRequest" type="mc160:GetPackingOverviewRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request to retrive an overview of packaged dose dispensing periods</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel efter paknings overblik for dosisdispenserings perioder</documentation>
		</annotation>
	</element>
	<complexType name="GetPackingOverviewRequestType">
		<sequence>
			<choice>
				<element name="PackingGroupIdentifier" type="mc160:PackingGroupIdentifierType"/>
				<element name="DoseDispensingPeriodIdentifier" type="mc160:DoseDispensingPeriodIdentifierType" maxOccurs="unbounded"/>
			</choice>
		</sequence>
	</complexType>
</schema>
