etc/schemas/2022/01/01/GetPrescriptionRequestsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="GetPrescriptionRequestsFromDateTime.xsd"/>
	<include schemaLocation="GetPrescriptionRequestsToDateTime.xsd"/>
	<include schemaLocation="PageNumber.xsd"/>

	<element name="GetPrescriptionRequestsRequest" type="mc160:GetPrescriptionRequestsRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a request for one or more prescriptionrequests for a personidentifier</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel efter en eller flere receptanmodninger til et CPR nummer</documentation>
		</annotation>
	</element>
	<complexType name="GetPrescriptionRequestsRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="FromDateTime" type="mc160:GetPrescriptionRequestsFromDateTimeType" minOccurs="0"/>
			<element name="ToDateTime" type="mc160:GetPrescriptionRequestsToDateTimeType" minOccurs="0"/>
			<element name="PageNumber" type="mc160:PageNumberType" minOccurs="0" />
		</sequence>
	</complexType>
</schema>
