etc/schemas/2022/01/01/GetPackingGroupResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PackingGroupDetails.xsd"/>
	<include schemaLocation="PersonWithDoseDispensing.xsd"/>

	<element name="GetPackingGroupResponse" type="mc160:GetPackingGroupResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response with the contents of a packing group</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar på en forespørgsel på en pakkegruppes indhold</documentation>
		</annotation>
	</element>
	<complexType name="GetPackingGroupResponseType">
		<sequence>
			<element name="PackingGroup" type="mc160:PackingGroupDetailsType"/>
			<element name="PersonWithDoseDispensing" type="mc160:PersonWithDoseDispensingType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
