etc/schemas/2022/01/01/GetPatientOrganisationRelationsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="PatientOrganisationRelationType.xsd"/>
	<include schemaLocation="SubOrganisationsIncluded.xsd"/>
	<include schemaLocation="PatientOrganisationRelationIdentifier.xsd"/>

	<element name="GetPatientOrganisationRelationsRequest" type="mc160:GetPatientOrganisationRelationsRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document containing information to be used for searching for patient organisation relations</documentation>
			<documentation xml:lang="da-DK">Request-dokument der indeholder information til brug i søgning efter patient organisations relationer</documentation>
		</annotation>
	</element>
	<complexType name="GetPatientOrganisationRelationsRequestType">
		<sequence>
			<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			<element name="Type" type="mc160:PatientOrganisationRelationTypeType"/>
			<element name="SubOrganisationsIncluded" type="mc160:SubOrganisationsIncludedType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
