etc/schemas/2022/01/01/GetRequestsForWarrantAndDetailsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<include schemaLocation="SearchRequestsForWarrantOrganisation.xsd"/>
	<include schemaLocation="SubOrganisationsIncluded.xsd"/>
	<include schemaLocation="CreatedDateTime.xsd"/>
	<include schemaLocation="RequestForWarrantIdentifier.xsd"/>

	<element name="GetRequestsForWarrantAndDetailsRequest" type="mc160:GetRequestsForWarrantAndDetailsRequestType">
		<annotation>
			<documentation xml:lang="en-GB">An element for requesting requests for warrants given an organisation which is the prescribing organisation</documentation>
			<documentation xml:lang="da-DK">Et element til forespørgsel efter anmodninger om udleveringsgrundlag givet den anmodede organisation</documentation>
		</annotation>
	</element>

	<complexType name="GetRequestsForWarrantAndDetailsRequestType">
		<sequence>
			<element name="PrescribingOrganisation" type="mc160:SearchRequestsForWarrantOrganisationType"/>
			<element name="IncludeSubOrganisations" type="mc160:SubOrganisationsIncludedType"/>
			<element name="RequestNotOlderThan" type="mc160:CreatedDateTimeType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
