etc/schemas/2022/01/01/GetRequestForWarrantVersionsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="RequestForWarrantIdentifier.xsd"/>

	<element name="GetRequestForWarrantVersionsRequest" type="mc160:GetRequestForWarrantVersionsRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request to retrieve versions of a request for warrant</documentation>
			<documentation xml:lang="da-DK">Forespørgsel, der henter alle versioner af en anmodning om udleveringsgrundlag</documentation>
		</annotation>
	</element>
	<complexType name="GetRequestForWarrantVersionsRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="RequestForWarrantIdentifier" type="mc160:RequestForWarrantIdentifierType" />
		</sequence>
	</complexType>
</schema>
