etc/schemas/2022/01/01/GetRequestsForWarrantRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="GetRequestsForWarrantFromDateTime.xsd"/>
	<include schemaLocation="GetRequestsForWarrantToDateTime.xsd"/>
	<include schemaLocation="PageNumber.xsd"/>

	<element name="GetRequestsForWarrantRequest" type="mc160:GetRequestsForWarrantRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a request for one or more requests for warrant for a personidentifier</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel efter en eller flere anmodninger om udleveringsgrundlag til en person</documentation>
		</annotation>
	</element>
	<complexType name="GetRequestsForWarrantRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="FromDateTime" type="mc160:GetRequestsForWarrantFromDateTimeType" minOccurs="0"/>
			<element name="ToDateTime" type="mc160:GetRequestsForWarrantToDateTimeType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
