etc/schemas/2022/01/01/GetRequestsForWarrantAndDetailsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<include schemaLocation="PersonWithRequestsForWarrant.xsd"/>
	<include schemaLocation="WarrantIdentifier.xsd"/>
	<include schemaLocation="MoreAvailable.xsd"/>
	<element name="GetRequestsForWarrantAndDetailsResponse" type="mc160:GetRequestsForWarrantAndDetailsResponseType">
		<annotation>
			<documentation xml:lang="en-GB">An element containing the information on a list of patients which has active requests for warrant</documentation>
			<documentation xml:lang="da-DK">Et element indeholdende informationer på en liste af patienter som har aktive anmodninger om udleveringsgrundlag</documentation>
		</annotation>
	</element>

	<complexType name="GetRequestsForWarrantAndDetailsResponseType">
		<sequence>
			<element name="PersonWithRequestsForWarrant" type="mc160:PersonWithRequestsForWarrantType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="LastReceived" type="mc160:RequestForWarrantIdentifierType" minOccurs="0"/>
			<element name="MoreAvailable" type="mc160:MoreAvailableType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
