etc/schemas/2022/01/01/GetRequestForWarrantVersionsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="RequestForWarrant.xsd"/>

	<element name="GetRequestForWarrantVersionsResponse" type="mc160:GetRequestForWarrantVersionsResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response with the versions of a request for warrant</documentation>
			<documentation xml:lang="da-DK">Svar med versioner af en anmodning om udleveringsgrundlag</documentation>
		</annotation>
	</element>
	<complexType name="GetRequestForWarrantVersionsResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
			<element name="RequestForWarrant" type="mc160:RequestForWarrantType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
