etc/schemas/2022/01/01/GetTrackAndTraceDetailsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="TrackAndTraceEventDateTime.xsd"/>
	<include schemaLocation="TrackAndTraceEventType.xsd"/>
	<include schemaLocation="PageNumber.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="DispensingPeriodIdentifier.xsd"/>

	<element name="GetTrackAndTraceDetailsRequest" type="mc160:GetTrackAndTraceDetailsRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a request for returning TrackAndTrace events on a person or organisation</documentation>
			<documentation xml:lang="da-DK">Element for et request til at hente TrackAndTrace-events på en person eller organisation</documentation>
		</annotation>
	</element>
	<complexType name="GetTrackAndTraceDetailsRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="IncludeAllEventsCreatedSince" type="mc160:TrackAndTraceEventDateTimeType" minOccurs="0"/>
			<choice minOccurs="0">
				<element name="IncludeType" type="mc160:TrackAndTraceEventTypeType" maxOccurs="unbounded"/>
				<element name="ExcludeType" type="mc160:TrackAndTraceEventTypeType" maxOccurs="unbounded"/>
			</choice>
			<element name="DrugMedicationIdentifier" type="mc160:DrugMedicationIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="DispensingPeriodIdentifier" type="mc160:DispensingPeriodIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
