etc/schemas/2022/01/01/GetTrackAndTraceDetailsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="TrackAndTraceEventDateTime.xsd"/>
	<include schemaLocation="PageNumber.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>

	<element name="GetTrackAndTraceDetailsRequest" type="mc160:GetTrackAndTraceDetailsRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a request for searching for TrackAndTrace events</documentation>
			<documentation xml:lang="da-DK">Element for en søgning efter TrackAndTrace-events</documentation>
		</annotation>
	</element>
	<complexType name="GetTrackAndTraceDetailsRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="FromDateTime" type="mc160:TrackAndTraceEventDateTimeType" minOccurs="0"/>
			<element name="ToDateTime" type="mc160:TrackAndTraceEventDateTimeType" minOccurs="0"/>
			<element name="DrugMedicationIdentifier" type="mc160:DrugMedicationIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
