etc/schemas/2022/01/01/GetTrackAndTraceDetailsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="TrackAndTraceEventDetails.xsd"/>
	<include schemaLocation="RequestForWarrant.xsd"/>

	<element name="GetTrackAndTraceDetailsResponse" type="mc160:GetTrackAndTraceDetailsResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a response for searching TrackAndTrace events</documentation>
			<documentation xml:lang="da-DK">Element for et svar for søgning efter TrackAndTrace-events</documentation>
		</annotation>
	</element>
	<complexType name="GetTrackAndTraceDetailsResponseType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="TrackAndTraceEvent" type="mc160:TrackAndTraceEventDetailsType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="RequestForWarrant" type="mc160:RequestForWarrantType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
