etc/schemas/2022/01/01/GetWarrantResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="Patient.xsd"/>
	<include schemaLocation="Organisation.xsd"/>
	<include schemaLocation="Warrant.xsd"/>
	<include schemaLocation="InvalidWarrant.xsd"/>

	<element name="GetWarrantResponse" type="mc160:GetWarrantResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response with one or more warrants</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar med et eller flere udleveringsgrundlag</documentation>
		</annotation>
	</element>
	<complexType name="GetWarrantResponseType">
		<sequence>
			<choice>
				<element name="Patient" type="mc160:PatientType"/>
				<element name="Organisation" type="mc160:OrganisationType"/>
			</choice>
			<element name="Warrant" type="mc160:WarrantType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="InvalidWarrant" type="mc160:InvalidWarrantType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
