etc/schemas/2022/01/01/GetWarrantResidualAmountRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="WarrantIdentifier.xsd"/>

	<element name="GetWarrantResidualAmountRequest" type="mc160:GetWarrantResidualAmountRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request for residual handover amount information for a warrant</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel efter information på resterende udleverings mængde på et udleveringsgrundlag</documentation>
		</annotation>
	</element>
	<complexType name="GetWarrantResidualAmountRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="WarrantIdentifier" type="mc160:WarrantIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
