etc/schemas/2022/01/01/GetWarrantRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="WarrantIdentifier.xsd"/>
	<include schemaLocation="IncludeEffectuationsFlag.xsd"/>
	<include schemaLocation="IncludeOpenWarrants.xsd"/>
	<include schemaLocation="IncludeAllWarrants.xsd"/>

	<element name="GetWarrantRequest" type="mc160:GetWarrantRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a request for one or more warrants</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel efter et eller flere udleveringsgrundlag</documentation>
		</annotation>
	</element>
	<complexType name="GetWarrantRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<choice>
				<element name="Identifier" type="mc160:WarrantIdentifierType" maxOccurs="50"/>
				<element name="IncludeOpenWarrants" type="mc160:IncludeOpenWarrantsType"/>
				<element name="IncludeAllWarrants" type="mc160:IncludeAllWarrantsType"/>
			</choice>
			<element name="IncludeEffectuations" type="mc160:IncludeEffectuationsFlagType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
