etc/schemas/2022/01/01/GiveConsentRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="MedicineCardVersion.xsd"/>
    <include schemaLocation="Modificator.xsd"/>
    <include schemaLocation="GiveConsentDrugMedication.xsd"/>

	<element name="GiveConsentRequest" type="mc160:GiveConsentRequestType">
		<annotation>
            <documentation xml:lang="en-GB">Request for removing negative consent on one or more drugmedications</documentation>
            <documentation xml:lang="da-DK">Request til at fjerne privarmarkering af en eller flere lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="GiveConsentRequestType">
        <sequence>
            <element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
            <element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
            <element name="ModifiedBy" type="mc160:ModificatorType"/>
            <element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
            <element name="DrugMedication" type="mc160:GiveConsentDrugMedicationType" maxOccurs="unbounded"/>
        </sequence>
	</complexType>
</schema>
