etc/schemas/2022/01/01/HandoversOnDrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="InvalidHandover.xsd"/>
	<include schemaLocation="Handovers.xsd"/>
	
	<complexType name="HandoversOnDrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Grouping handovers on warrants attached to a drug medication</documentation>
			<documentation xml:lang="da-DK">Grupperer udleveringer på udleveringsgrundlag tilknyttet en lægemiddelordination</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="mc160:DrugMedicationIdentifierType"/>
			<element name="Handovers" type="mc160:HandoversType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
