etc/schemas/2022/01/01/HandOvers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="WarrantIdentifier.xsd"/>
	<include schemaLocation="HandOver.xsd"/>
	<include schemaLocation="InvalidHandOver.xsd"/>
	
	<complexType name="HandOversType">
		<annotation>
			<documentation xml:lang="en-GB">Grouping hand overs on a warrant</documentation>
			<documentation xml:lang="da-DK">Grupperer udleveringer på et udleveringsgrundlag</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="mc160:WarrantIdentifierType"/>
			<element name="HandOver" type="mc160:HandOverType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="InvalidHandOver" type="mc160:InvalidHandOverType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
