etc/schemas/2022/01/01/Handovers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="WarrantIdentifier.xsd"/>
	<include schemaLocation="Handover.xsd"/>
	<include schemaLocation="InvalidHandover.xsd"/>
    <include schemaLocation="SecondaryHandover.xsd"/>
	
	<complexType name="HandoversType">
		<annotation>
			<documentation xml:lang="en-GB">Grouping handovers on a warrant</documentation>
			<documentation xml:lang="da-DK">Grupperer udleveringer på et udleveringsgrundlag</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="mc160:WarrantIdentifierType"/>
			<element name="Handover" type="mc160:HandoverType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="InvalidHandover" type="mc160:InvalidHandoverType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="SecondaryHandover" type="mc160:SecondaryHandoverType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
