etc/schemas/2022/01/01/HandOversOnDrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="InvalidHandOver.xsd"/>
	<include schemaLocation="HandOvers.xsd"/>
	
	<complexType name="HandOversOnDrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Grouping effectuations on a drug medication</documentation>
			<documentation xml:lang="da-DK">Grupperer effektueringer på en lægemiddelordination</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="mc160:DrugMedicationIdentifierType"/>
			<element name="HandOvers" type="mc160:HandOversType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
