etc/schemas/2022/01/01/HiddenData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="HasNegativeConsent.xsd"/>

	<element name="HiddenData" type="mc160:HiddenDataType">
		<annotation>
			<documentation xml:lang="en-GB">Specification of the reason, in case of hidden data</documentation>
			<documentation xml:lang="da-DK">Angiver årsagen til evt. skjulte data</documentation>
		</annotation>
	</element>

	<simpleType name="HiddenDataType">
		<restriction base="string" />
	</simpleType>
<!--	TODO CHSK: below was replaced with above. NegativeConsentType does not exist so this was done to proceed with current task. Fix this! -->
<!--	<complexType name="HiddenDataType">-->
<!--		<sequence>-->
<!--			<element name="NegativeConsent" type="mc160:NegativeConsentType" />-->
<!--		</sequence>-->
<!--	</complexType>-->
</schema>
