etc/schemas/2022/01/01/IncludeContents.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="IncludePatientDetails.xsd"/>
    <include schemaLocation="IncludeStatus.xsd"/>

    <complexType name="IncludeContentsType">
        <annotation>
            <documentation xml:lang="en-GB">Indication that an overview of dispensing cards in a packing group should be included</documentation>
            <documentation xml:lang="da-DK">Markering for at overblik over pakkegruppens dispensingskort ønskes returneret</documentation>
        </annotation>
        <sequence>
             <element name="IncludePatientDetails" type="mc160:IncludePatientDetailsType" minOccurs="0"/>
             <element name="IncludeStatus" type="mc160:IncludeStatusType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
