etc/schemas/2022/01/01/IncludeWarrants.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="IncludeEffectuationsFlag.xsd"/>
	
	<element name="IncludeWarrants" type="mc160:IncludeWarrantsType">
		<annotation>
			<documentation xml:lang="en-GB">Indicates if the medicine card or the drug medication is to be returned with warrants</documentation>
			<documentation xml:lang="da-DK">Angiver hvorvidt medicinkortet eller lægemiddelordinationen skal returneres med udleveringsgrundlag</documentation>
		</annotation>
	</element>
	<complexType name="IncludeWarrantsType">
		<sequence>
			<element name="IncludeEffectuations" type="mc160:IncludeEffectuationsFlagType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
