etc/schemas/2022/01/01/IndicationCode.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="Source.xsd"/>
	<include schemaLocation="SourceDate.xsd"/>
	<include schemaLocation="SourceYearAndWeek.xsd"/>
	
	<element name="IndicationCode" type="mc160:IndicationCodeType">
		<annotation>
			<documentation xml:lang="en-GB">Indication code (LMS26 field 1)</documentation>
			<documentation xml:lang="da-DK">Indikationskode (LMS26 felt 1)</documentation>
		</annotation>
	</element>
	<complexType name="IndicationCodeType">
		<simpleContent>
			<extension base="mc160:IndicationCodeValueType">
				<attribute name="source" type="mc160:IndicationCodeSourceType" use="required"/>
				<attribute name="date" type="mc160:SourceDateType" use="optional"/>
				<attribute name="yearAndWeek" type="mc160:SourceYearAndWeekType" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="IndicationCodeValueType">
		<restriction base="int">
			<minInclusive value="1"/>
			<maxInclusive value="9999999"/>
		</restriction>
	</simpleType>
	<simpleType name="IndicationCodeSourceType">
		<union memberTypes="mc160:IndicationCodePredefinedSourceType mc160:UndefinedSourceType"/>
	</simpleType>
	<simpleType name="IndicationCodePredefinedSourceType">
		<restriction base="mc160:UndefinedSourceType">
			<enumeration value="Medicinpriser"/>
		</restriction>
	</simpleType>
</schema>
