etc/schemas/2022/01/01/InvalidWarrant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="WarrantIdentifier.xsd"/>

	<element name="InvalidWarrant" type="mc160:InvalidWarrantType"/>

	<complexType name="InvalidWarrantType">
		<annotation>
			<documentation xml:lang="en-GB">An invalid warrant. Is delivered so that the client can delete a possible local copy.</documentation>
			<documentation xml:lang="da-DK">Et ugyldigt udleveringsgrundlag. Leveres mhp. at klienten kan slette evt. lokal kopi.</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="mc160:WarrantIdentifierType"/>
		</sequence>
	</complexType>
</schema>
