etc/schemas/2022/01/01/InvalidHandover.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="HandoverIdentifier.xsd"/>
	<element name="InvalidHandover" type="mc160:InvalidHandoverType">
		<annotation>
			<documentation xml:lang="en-GB">An invalid handover</documentation>
			<documentation xml:lang="da-DK">En ugyldig udlevering</documentation>
		</annotation>
	</element>
	<complexType name="InvalidHandoverType">
		<sequence>
			<element name="Identifier" type="mc160:HandoverIdentifierType"/>
		</sequence>
	</complexType>
</schema>
