etc/schemas/2022/01/01/InvalidateWarrant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="WarrantIdentifier.xsd"/>
	<include schemaLocation="InvalidationReasonText.xsd"/>
	
	<complexType name="InvalidateWarrantType">
		<annotation>
			<documentation xml:lang="en-GB">For use in bulk service: Mark one or more warrants as invalid</documentation>
			<documentation xml:lang="da-DK">Til brug i bulk service: Marker at et eller flere udleveringsgrundlag er ugyldige</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="mc160:WarrantIdentifierType"/>
			<element name="InvalidationReasonText" type="mc160:InvalidationReasonTextType"/>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
