etc/schemas/2022/01/01/InvalidPrescription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="PrescriptionIdentifier.xsd"/>

	<element name="InvalidPrescription" type="mc160:InvalidPrescriptionType"/>

	<complexType name="InvalidPrescriptionType">
		<annotation>
			<documentation xml:lang="en-GB">An invalid prescription. Is delivered so that the client can delete a possible local copy.</documentation>
			<documentation xml:lang="da-DK">En ugyldig recept. Leveres mhp. at klienten kan slette evt. lokal kopi.</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="mc160:PrescriptionIdentifierType"/>
		</sequence>
	</complexType>
</schema>
