etc/schemas/2022/01/01/InvalidateWarrantResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="WarrantIdentifier.xsd"/>

	<element name="InvalidateWarrantResponse" type="mc160:InvalidateWarrantResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Service response on successfully invalidating a warrant </documentation>
			<documentation xml:lang="da-DK">Service svar ved en gennemført ugyldiggørelse af et udleveringsgrundlag</documentation>
		</annotation>
	</element>
	<complexType name="InvalidateWarrantResponseType">
		<sequence>
			<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
				<element name="WarrantIdentifier" type="mc160:WarrantIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</sequence>
	</complexType>
</schema>
