etc/schemas/2022/01/01/InvalidDrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	
	<element name="InvalidDrugMedication" type="mc160:InvalidDrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">An invalid drug medication</documentation>
			<documentation xml:lang="da-DK">En ugyldig lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="InvalidDrugMedicationType">
		<sequence>
			<element name="Identifier" type="mc160:DrugMedicationIdentifierType"/>
		</sequence>
	</complexType>
</schema>
