etc/schemas/2022/01/01/InvalidHandOver.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="HandOverIdentifier.xsd"/>
	<element name="InvalidHandOver" type="mc160:InvalidHandOverType">
		<annotation>
			<documentation xml:lang="en-GB">An invalid effectuation</documentation>
			<documentation xml:lang="da-DK">En ugyldig effektuering</documentation>
		</annotation>
	</element>
	<complexType name="InvalidHandOverType">
		<sequence>
			<element name="Identifier" type="mc160:HandOverIdentifierType"/>
		</sequence>
	</complexType>
</schema>
