etc/schemas/2022/01/01/IssuerOrganisationEntry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <include schemaLocation="WarrantIdentifier.xsd"/>
    <include schemaLocation="DrugMedicationIdentifier.xsd"/>
    <include schemaLocation="Organisation.xsd"/>
    <include schemaLocation="RenewalReason.xsd"/>
    <include schemaLocation="CreatedDateTime.xsd"/>

    <complexType name="IssuerOrganisationEntryType">
        <annotation>
            <documentation xml:lang="en-GB">Element containing information on a issuing organisation for a specific warrant</documentation>
            <documentation xml:lang="da-DK">Element som indeholder informationer omkring udstedende organisation for et udleveringsgrundlag</documentation>
        </annotation>
        <sequence>
            <element name="WarrantIdentifier" type="mc160:WarrantIdentifierType"/>
            <element name="AttachedToDrugMedicationIdentifier" type="mc160:DrugMedicationIdentifierType" minOccurs="0"/>
            <element name="CreatedDateTime" type="mc160:CreatedDateTimeType"/>
            <element name="Entry" maxOccurs="unbounded">
                <complexType>
                    <sequence>
                        <element name="Organisation" type="mc160:OrganisationType"/>
                        <element name="Reason" type="mc160:RenewalReasonType"/>
                    </sequence>
                </complexType>
            </element>
        </sequence>
    </complexType>
</schema>
