etc/schemas/2022/01/01/KnownPersonIdentifiers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
<include schemaLocation="KnownPersonIdentifier.xsd"/>

	<element name="KnownPersonIdentifiers" type="mc160:KnownPersonIdentifiersType">
		<annotation>
			<documentation xml:lang="en-GB">List of all known person identifiers (for example CPR, X-eCPR) for a specific person.</documentation>
			<documentation xml:lang="da-DK">Liste af alle kendte person id'er (f.eks. CPR, X-eCPR) for en specifik person</documentation>
		</annotation>
	</element>
	<complexType name="KnownPersonIdentifiersType">
		<sequence>
			<element name="KnownPersonIdentifier" type="mc160:KnownPersonIdentifierType"  maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
