etc/schemas/2022/01/01/KnownPersonIdentifier.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>

	<element name="KnownPersonIdentifier" type="mc160:KnownPersonIdentifierType">
		<annotation>
			<documentation xml:lang="en-GB">Alternative person identifier for a specific person, including name and date</documentation>
			<documentation xml:lang="da-DK">Alternative person id'er, inkl. navn og gyldighedsdata, som den pågældende person har</documentation>
		</annotation>
	</element>
	<complexType name="KnownPersonIdentifierType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="Name" type="string"/>
			<element name="ValidSince" type="date"/>
		</sequence>
	</complexType>
</schema>
