etc/schemas/2022/01/01/LastReceivedType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <complexType name="LastReceivedType">
        <sequence>
            <element name="Field" type="mc160:PagingFieldType"/>
        </sequence>
    </complexType>

    <complexType name="PagingFieldType">
        <simpleContent>
            <extension base="long">
                <attribute name="name" type="string" use="required"/>
            </extension>
        </simpleContent>
    </complexType>
</schema>