etc/schemas/2022/01/01/ListEpisodeRegistrationsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="EpisodeRegistrationsForResponse.xsd"/>

	<element name="ListEpisodeRegistrationsResponse" type="mc160:ListEpisodeRegistrationsResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response containing registered start dates for episodic treatments (PN-kur) for a person, grouped by drug medication identifier</documentation>
			<documentation xml:lang="da-DK">Svar der indeholder registrerede startdatoer for PN-kure for en person, grupperet pr lægemiddelordination</documentation>
		</annotation>
	</element>

	<complexType name="ListEpisodeRegistrationsResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="Registrations" type="mc160:EpisodeRegistrationsForResponseType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
