etc/schemas/2022/01/01/ListDoseDispensingPatientsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">


    <include schemaLocation="IncludePatientDetails.xsd"/>
    <include schemaLocation="IncludeManualDispensingPatients.xsd"/>
    <include schemaLocation="IncludeDoseDispensingPatients.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>

	<element name="ListDoseDispensingPatientsRequest" type="mc160:ListDoseDispensingPatientsRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document to list all patients with active dose dispensing associated with a doctor</documentation>
			<documentation xml:lang="da-DK">Request-dokument til listning af alle en læges patienter med aktiv dosisdispenserings</documentation>
		</annotation>
	</element>
	<complexType name="ListDoseDispensingPatientsRequestType">
		<sequence>
			<element name="IncludePatientDetails" type="mc160:IncludePatientDetailsType"/>
            <element name="IncludeManualDispensingPatients" type="mc160:IncludeManualDispensingPatientsType" minOccurs="0"/>
            <element name="IncludeDoseDispensingPatients" type="mc160:IncludeDoseDispensingPatientsType" minOccurs="0"/>
			<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
