etc/schemas/2022/01/01/ListDispensingPatientsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">


	<include schemaLocation="DoctorWithDispensingPatients.xsd"/>

	<element name="ListDispensingPatientsResponse" type="mc160:ListDispensingPatientsResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response document containing information about dosedispensing patients asociated with doctor organisations</documentation>
			<documentation xml:lang="da-DK">Response-dokument der indeholder information om DD patienter tilknyttet lægehuse</documentation>
		</annotation>
	</element>
	<complexType name="ListDispensingPatientsResponseType">
		<sequence>
			<element name="Organisation" type="mc160:DoctorWithDispensingPatientsType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
