etc/schemas/2022/01/01/ListPackingGroupsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PackingGroupElement.xsd"/>

	<element name="ListPackingGroupsResponse" type="mc160:ListPackingGroupsResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response with a list of  packing groups</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar med en liste af pakkegrupper</documentation>
		</annotation>
	</element>
	<complexType name="ListPackingGroupsResponseType">
		<sequence>
            <element name="PackingGroup" type="mc160:PackingGroupElementType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
