etc/schemas/2022/01/01/ListPRNStartDatesRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>

	<element name="ListPRNStartDatesRequest" type="mc160:ListPRNStartDatesRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request type to search for all start-registrations of PRN treatments</documentation>
			<documentation xml:lang="da-DK">Request type til fremsøgning af alle start registreringer af PN-kurer</documentation>
		</annotation>
	</element>

	<complexType name="ListPRNStartDatesRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="DrugMedicationIdentifier" type="mc160:DrugMedicationIdentifierType" minOccurs="0" maxOccurs="100"/>
		</sequence>
	</complexType>


</schema>
