etc/schemas/2022/01/01/ListEnumerationValuesForTypeResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="EnumerationEntry.xsd"/>

	<element name="ListEnumerationValuesForTypeResponse" type="mc160:ListEnumerationValuesForTypeResponseType"/>

	<complexType name="ListEnumerationValuesForTypeResponseType">
		<annotation>
			<documentation xml:lang="en-GB">A response to get a list of possible enumeration values for a given type</documentation>
			<documentation xml:lang="da-DK">Et response om at få en liste of mulige værdier for en given type</documentation>
		</annotation>
		<sequence>
			<element name="EnumerationEntry" type="mc160:EnumerationEntryType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
