etc/schemas/2022/01/01/ListEpisodeRegistrationsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="EpisodeRegistrationsForResponse.xsd"/>

	<element name="ListEpisodeRegistrationsResponse" type="mc160:ListEpisodeRegistrationsResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response type for listing all start-registrations of episodic treatments (PN-kur)</documentation>
			<documentation xml:lang="da-DK">Svar type til at liste alle start registreringer af PN-kure</documentation>
		</annotation>
	</element>

	<complexType name="ListEpisodeRegistrationsResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="Registrations" type="mc160:EpisodeForResponseType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
