etc/schemas/2022/01/01/MarkWarrantDeprecated.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>	
	<include schemaLocation="WarrantIdentifier.xsd"/>
	
	<element name="MarkWarrantDeprecated" type="mc160:MarkWarrantDeprecatedType">
		<annotation>
			<documentation xml:lang="en-GB">For use in bulk service: Mark one or more warrants as no longer relevant</documentation>
			<documentation xml:lang="da-DK">Til brug i bulk service: Marker at et eller flere udleveringsgrundlag ikke længere er relevante</documentation>
		</annotation>
	</element>
	<complexType name="MarkWarrantDeprecatedType">
		<sequence>
			<element name="Identifier" type="mc160:WarrantIdentifierType"/>
			<element name="ModifiedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
