etc/schemas/2022/01/01/MarkWarrantDeprecatedResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<include schemaLocation="WarrantIdentifier.xsd"/>

	<element name="MarkWarrantDeprecatedResponse" type="mc160:MarkWarrantDeprecatedResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Mark the warrant as deprecated</documentation>
			<documentation xml:lang="da-DK">Marker udleveringsgrundlaget som ikke aktuel</documentation>
		</annotation>
	</element>
	<complexType name="MarkWarrantDeprecatedResponseType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
			<element name="VersionMismatchWarning" type="mc160:VersionMismatchWarningType" minOccurs="0"/>
			<element name="WarrantIdentifier" type="mc160:WarrantIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
