etc/schemas/2022/01/01/MedicineCardIsInvalid.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>

	<element name="MedicineCardIsInvalid" type="mc160:MedicineCardIsInvalidType">
		<annotation>
			<documentation xml:lang="en-GB">Marks that the medicine card is invalid</documentation>
			<documentation xml:lang="da-DK">Markerer at medicinkortet er ugyldigt.</documentation>
		</annotation>
	</element>
	<complexType name="MedicineCardIsInvalidType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
		</sequence>
	</complexType>
</schema>
