etc/schemas/2022/01/01/MedicineCardVersionInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">
    
    <include schemaLocation="MedicineCardVersion.xsd"/>
    <include schemaLocation="VersionCreatedDateTime.xsd"/>
    <element name="MedicineCardVersionInfo" type="mc160:MedicineCardVersionInfoType">
        <annotation>
            <documentation xml:lang="en-GB">Versionnumber and created datetime for a specific medicinecard version</documentation>
            <documentation xml:lang="da-DK">Versionsnummer og oprettet dato og tid for en specifik medicinkort version</documentation>
        </annotation>
    </element>
    <complexType name="MedicineCardVersionInfoType">
        <sequence>
            <element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
            <element name="VersionCreatedDateTime" type="mc160:VersionCreatedDateTimeType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
