etc/schemas/2022/01/01/MedicationDispensingPlan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="DrugMedicationIdentifierAndVersion.xsd"/>
	<include schemaLocation="PlannedAdministrationIdentifier.xsd"/>
	<include schemaLocation="PlannedDosageDay.xsd"/>
	<include schemaLocation="DispensingWarning.xsd"/>

	<element name="MedicationDispensingPlan" type="mc160:MedicationDispensingPlanType"/>

	<complexType name="MedicationDispensingPlanType">
		<annotation>
			<documentation xml:lang="en-GB">Element containing the dispensing plan for a given planned administration</documentation>
			<documentation xml:lang="da-DK">Element som indeholder et ophældningsskema for en given planlagt administration</documentation>
		</annotation>
		<sequence>
			<element name="DrugMedication" type="mc160:DrugMedicationIdentifierAndVersionType"/>
			<element name="PlannedAdministrationIdentifier" type="mc160:PlannedAdministrationIdentifierType"/>
			<element name="PlannedDosageDay" type="mc160:PlannedDosageDayType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Warning" type="mc160:DispensingWarningType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
