etc/schemas/2022/01/01/MedicineCardChangeListItem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="MedicineCardInformationChange.xsd"/>

	<complexType name="MedicineCardChangeListItemType">
		<annotation>
			<documentation xml:lang="en-GB">Medicine card version information for a patient.</documentation>
			<documentation xml:lang="da-DK">Medicinkortinformation for en patient.</documentation>
		</annotation>
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
			<element name="MedicineCardInformationChange" type="mc160:MedicineCardInformationChangeType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
