etc/schemas/2022/01/01/ModificationMetadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<attribute name="ModificationMetadata" type="mc160:ModificationMetadataType">
		<annotation>
			<documentation xml:lang="en-GB">Modification medtadata</documentation>
		</annotation>
	</attribute>
	<simpleType name="ModificationMetadataType">
		<union memberTypes="mc160:PredefinedModificationMetadataType mc160:BaseModificationMetadataType"/>
	</simpleType>
	<simpleType name="PredefinedModificationMetadataType">
		<restriction base="mc160:BaseModificationMetadataType">
			<enumeration value="Override clinical validation"/>
		</restriction>
	</simpleType>
	<simpleType name="BaseModificationMetadataType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="200"/>
		</restriction>
	</simpleType>
</schema>
