etc/schemas/2022/01/01/ModificatorPerson.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="PersonName.xsd"/>

	<element name="ModificatorPerson" type="mc160:ModificatorPersonType">
		<annotation>
			<documentation xml:lang="en-GB">A FMK user that is not an authorised healthchare professional</documentation>
			<documentation xml:lang="da-DK">En FMK aktør, der ikke er en autoriseret sundhedsperson</documentation>
		</annotation>
	</element>
	<complexType name="ModificatorPersonType">
		<sequence>
			<element name="Name" type="mc160:PersonNameType"/>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
