etc/schemas/2022/01/01/ModificatorWithOptionalAuthorisationIdentifier.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="AuthorisedHealthcareProfessionalWithOptionalAuthorisationIdentifier.xsd"/>
	<include schemaLocation="Organisation.xsd"/>
	<include schemaLocation="PatientFlag.xsd"/>
	<include schemaLocation="RequestedRole.xsd"/>
	<include schemaLocation="ModificatorPerson.xsd"/>
	
	<element name="ModificatorWithOptionalAuthorisationIdentifier" type="mc160:ModificatorWithOptionalAuthorisationIdentifierType">
		<annotation>
			<documentation xml:lang="en-GB">Information about a person who modified data</documentation>
			<documentation xml:lang="da-DK">Indeholder information omkring en person der ændrede data</documentation>
		</annotation>
	</element>
	<complexType name="ModificatorWithOptionalAuthorisationIdentifierType">
		<sequence>
			<choice>
				<sequence>
					<element name="AuthorisedHealthcareProfessional" type="mc160:AuthorisedHealthcareProfessionalWithOptionalAuthorisationIdentifierType"/>
					<element name="Organisation" type="mc160:OrganisationType"/>
				</sequence>
				<element name="Patient" type="mc160:PatientFlagType"/>
				<sequence>
					<element name="Other" type="mc160:ModificatorPersonType"/>
					<element name="Role" type="mc160:RequestedRoleType"/>
					<element name="Organisation" type="mc160:OrganisationType" minOccurs="0"/>
				</sequence>
			</choice>
		</sequence>
	</complexType>
</schema>
