etc/schemas/2022/01/01/ModifiedNonclinical.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="ModifiedNonclinicalDateTime.xsd"/>
	
	<element name="ModifiedNonclinical" type="mc160:ModifiedNonclinicalType">
		<annotation>
			<documentation xml:lang="en-GB">Element containing information about which organisation and possibly doctor who last modified the document this element is in (e.g. medicine card, drug medication) as well as the date it ocurred.</documentation>
			<documentation xml:lang="da-DK">Element der indeholder information omkring hvilken organisation og muligvis læge som sidst har ændret dokumentet elementet befinder sig i (f.eks. medicnkort, lægemiddelordination), desuden datoen dette er sket.</documentation>
		</annotation>
	</element>
	<complexType name="ModifiedNonclinicalType">
		<sequence>
			<element name="By" type="mc160:ModificatorType"/>
			<element name="DateTime" type="mc160:ModifiedNonclinicalDateTimeType"/>
		</sequence>
	</complexType>
</schema>
