etc/schemas/2022/01/01/NegativeConsent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="Modified.xsd"/>

	<element name="NegativeConsent" type="mc160:NegativeConsentType">
		<annotation>
			<documentation xml:lang="en-GB">This element indicates that the patent has given negative consent (privacy-marking).</documentation>
			<documentation xml:lang="da-DK">Dette element indikerer at patienten har givet negativ samtykke (privatmarkering).</documentation>
		</annotation>
	</element>
	<complexType name="NegativeConsentType" >
		<sequence>
			<element name="Modified" type="mc160:ModifiedType"/>
		</sequence>
	</complexType>
</schema>
