etc/schemas/2022/01/01/NegativeConsent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="Modified.xsd"/>

	<element name="NegativeConsent" type="mc160:NegativeConsentType">
		<annotation>
			<documentation xml:lang="en-GB">Information about who changed the negative consent (private marking) on a drug medication and whether they added or removed it.</documentation>
			<documentation xml:lang="da-DK">Information om hvem der har ændret privatmarkering på en lægemiddelordination og om de har tilføjet eller fjernet den.</documentation>
		</annotation>
	</element>
	<complexType name="NegativeConsentType">
		<sequence>
			<element name="Modified" type="mc160:ModifiedType"/>
			<element name="ReportedBy" type="mc160:ModifiedType" minOccurs="0"/>
			<element name="Removed" type="mc160:NegativeConsentRemovedType" minOccurs="0"/>
		</sequence>
	</complexType>

	<complexType name="NegativeConsentRemovedType"/>
</schema>
