etc/schemas/2022/01/01/OrderCancellationReason.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">
    <simpleType name="OrderCancellationReasonType">
        <annotation>
            <documentation xml:lang="en-GB">The reason for the cancellation of an order</documentation>
            <documentation xml:lang="da-DK">Årsagen til annullering af en bestilling</documentation>
        </annotation>
        <union memberTypes="mc160:UndefinedOrderCancellationReasonType mc160:PredefinedOrderCancellationReasonType"/>
    </simpleType>
    <simpleType name="PredefinedOrderCancellationReasonType">
        <restriction base="mc160:UndefinedOrderCancellationReasonType">
            <enumeration value="Årsag ikke angivet"/>
            <enumeration value="Fejl i leveringsoplysninger"/>
            <enumeration value="Udleveringsgrundlaget er lukket"/>
            <enumeration value="Ny bestilling overtager"/>
        </restriction>
    </simpleType>
    <simpleType name="UndefinedOrderCancellationReasonType">
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="100"/>
        </restriction>
    </simpleType>
</schema>
