etc/schemas/2022/01/01/Order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="OrderIdentifier.xsd"/>
	<include schemaLocation="CreatedWithoutPerson.xsd"/>
	<include schemaLocation="Created.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="Modified.xsd"/>
	<include schemaLocation="OrderStatus.xsd"/>
	<include schemaLocation="DoseDispensing.xsd"/>
	<include schemaLocation="DeliveryInstructionText.xsd"/>
	<include schemaLocation="Delivery.xsd"/>
	<include schemaLocation="EffectuationOnWarrant.xsd"/>
	<include schemaLocation="InvalidEffectuation.xsd"/>

	<complexType name="OrderType">
        <annotation>
            <documentation xml:lang="en-GB">Order of an effectuation on a warrant</documentation>
            <documentation xml:lang="da-DK">Bestilling af en udlevering på et udleveringsgrundlag</documentation>
        </annotation>
		<sequence>
			<element name="Identifier" type="mc160:OrderIdentifierType"/>
			<choice>
				<element name="CreatedWithoutPerson" type="mc160:CreatedWithoutPersonType"/>
				<element name="Created" type="mc160:CreatedType"/>
			</choice>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="Modified" type="mc160:ModifiedType" minOccurs="0"/>
			<element name="OrderedAtPharmacy" type="mc160:OrganisationType"/>
			<element name="Status" type="mc160:OrderStatusType"/>
			<element name="DoseDispensing" type="mc160:DoseDispensingType" minOccurs="0"/>
			<element name="DeliveryInstructionText" type="mc160:DeliveryInstructionTextType" minOccurs="0" maxOccurs="3"/>
			<element name="Delivery" type="mc160:DeliveryType" minOccurs="0"/>
			<choice minOccurs="0">
				<element name="Effectuation" type="mc160:EffectuationOnWarrantType"/>
				<element name="InvalidEffectuation" type="mc160:InvalidEffectuationType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
