etc/schemas/2022/01/01/OrderStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<simpleType name="OrderStatusType">
		<annotation>
			<documentation xml:lang="en-GB">Status of an order of an effectuation on a prescription</documentation>
			<documentation xml:lang="da-DK">Status på en bestilling af en udlevering på en recept</documentation>
		</annotation>
		<union memberTypes="mc160:OrderStatusPredefinedType mc160:OrderStatusUndefinedType"/>
	</simpleType>
	<simpleType name="OrderStatusPredefinedType">
		<restriction base="mc160:OrderStatusUndefinedType">
			<enumeration value="Bestilt"/>
			<enumeration value="Ekspedition påbegyndt"/>
			<enumeration value="Udført"/>
			<enumeration value="Annulleret"/>
			<enumeration value="Dosisdispenseret"/>
		</restriction>
	</simpleType>
	<simpleType name="OrderStatusUndefinedType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="25"/>
		</restriction>
	</simpleType>
</schema>
