etc/schemas/2022/01/01/PackageSizeUnitCode.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="Source.xsd"/>
	<include schemaLocation="SourceDate.xsd"/>
	<include schemaLocation="SourceYearAndWeek.xsd"/>
	
	<element name="PackageSizeUnitCode" type="mc160:PackageSizeUnitCodeType">
		<annotation>
			<documentation xml:lang="en-GB">Unit for package size, code (LMS15 field 2)</documentation>
			<documentation xml:lang="da-DK">Enhed for pakningsstørrelse, kode (LMS15 felt 2)</documentation>
		</annotation>
	</element>
	<complexType name="PackageSizeUnitCodeType">
		<simpleContent>
			<extension base="mc160:PackageSizeUnitCodeValueType">
				<attribute name="source" type="mc160:PackageSizeUnitCodeSourceType" use="required"/>
				<attribute name="date" type="mc160:SourceDateType" use="optional"/>
				<attribute name="yearAndWeek" type="mc160:SourceYearAndWeekType" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="PackageSizeUnitCodeValueType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="3"/>
		</restriction>
	</simpleType>
	<simpleType name="PackageSizeUnitCodeSourceType">
		<union memberTypes="mc160:PackageSizeUnitCodePredefinedSourceType mc160:UndefinedSourceType"/>
	</simpleType>
	<simpleType name="PackageSizeUnitCodePredefinedSourceType">
		<restriction base="mc160:UndefinedSourceType">
			<enumeration value="Medicinpriser"/>
			<enumeration value="Magistrel"/>
		</restriction>
	</simpleType>
</schema>
