etc/schemas/2022/01/01/PackageHandOver.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PackageQuantity.xsd"/>
	<include schemaLocation="PackageNumber.xsd"/>
	<include schemaLocation="PackageSize.xsd"/>
	<include schemaLocation="Drug.xsd"/>

	<complexType name="PackageHandOverType">
		<annotation>
			<documentation xml:lang="en-GB">Details for package handover, e.g. at a pharmacy</documentation>
			<documentation xml:lang="da-DK">Detaljer for pakke udlevering, f.eks. på et apotek</documentation>
		</annotation>
		<sequence>
			<element name="PackageQuantity" type="mc160:PackageQuantityType" minOccurs="0"/>
			<element name="PackageNumber" type="mc160:PackageNumberType"/>
			<element name="PackageSize" type="mc160:PackageSizeType" minOccurs="0"/>
			<element name="SubstitutedDrug" type="mc160:DrugType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
