etc/schemas/2022/01/01/PackagedDrugSubstitution.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

	<include schemaLocation="DispensingPeriodIdentifier.xsd"/>
	<include schemaLocation="PlannedDispensingIdentifier.xsd"/>

	<element name="PackagedDrugSubstitution" type="mc160:PackagedDrugSubstitutionType">
		<annotation>
			<documentation xml:lang="en-GB">Selection of packaged drugs for a dispensing period</documentation>
			<documentation xml:lang="da-DK">Valg af lægemidler der skal pakkes i en given dispenserings periode</documentation>
		</annotation>
	</element>
	<complexType name="PackagedDrugSubstitutionType">
		<sequence>
			<element name="PeriodIdentifier" type="mc160:DispensingPeriodIdentifierType"/>
			<element name="PlannedDispensingIdentifier" type="mc160:PlannedDispensingIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
