etc/schemas/2022/01/01/PackagedPeriodOverview.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="Patient.xsd"/>
	<include schemaLocation="DispensingCardIdentifier.xsd"/>
	<include schemaLocation="DispensingPeriodIdentifier.xsd"/>
	<include schemaLocation="DispensingPeriodStartDate.xsd"/>
	<include schemaLocation="DispensingPeriodEndDate.xsd"/>
	<include schemaLocation="PackagedDateTime.xsd"/>
	<include schemaLocation="DispensingProductionIdentifier.xsd"/>
	<include schemaLocation="PackagedDispensingOverview.xsd"/>

	<complexType name="PackagedPeriodOverviewType">
		<annotation>
			<documentation xml:lang="en-GB">Overview of a packaged dispensing period</documentation>
			<documentation xml:lang="da-DK">Overblik over en pakket dispenseringsperiode</documentation>
		</annotation>
		<sequence>
			<choice>
				<element name="Patient" type="mc160:PatientType"/>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			</choice>
			<element name="DispensingCardIdentifier" type="mc160:DispensingCardIdentifierType"/>
			<element name="DispensingPeriodIdentifier" type="mc160:DispensingPeriodIdentifierType"/>
			<element name="StartDate" type="mc160:DispensingPeriodStartDateType"/>
			<element name="EndDate" type="mc160:DispensingPeriodEndDateType"/>
			<element name="PackagedDateTime" type="mc160:PackagedDateTimeType"/>
			<element name="ProductionIdentifier" type="mc160:DispensingProductionIdentifierType" minOccurs="0"/>
			<element name="PlannedDispensingOverview" type="mc160:PackagedDispensingOverviewType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
