etc/schemas/2022/01/01/PackingGroupElement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <include schemaLocation="PackingGroupIdentifier.xsd"/>
    <include schemaLocation="PackingGroup.xsd"/>
    <include schemaLocation="Organisation.xsd"/>

    <complexType name="PackingGroupElementType">
        <annotation>
            <documentation xml:lang="en-GB">Packing group</documentation>
            <documentation xml:lang="da-DK">Pakkegruppe</documentation>
        </annotation>
        <sequence>
        	<element name="Identifier" type="mc160:PackingGroupIdentifierType"/>
        	<element name="Name" type="mc160:PackingGroupType"/>
            <element name="OrderedAtPharmacy" type="mc160:OrganisationType"/>
            <element name="PackedAtOrganisation" type="mc160:OrganisationType"/>
        </sequence>
    </complexType>
</schema>
