etc/schemas/2022/01/01/PackingGroupDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <include schemaLocation="PackingGroupIdentifier.xsd"/>
    <include schemaLocation="Created.xsd"/>
    <include schemaLocation="Modificator.xsd"/>
    <include schemaLocation="Modified.xsd"/>
    <include schemaLocation="PackingGroup.xsd"/>
    <include schemaLocation="Organisation.xsd"/>

    <complexType name="PackingGroupDetailsType">
        <annotation>
            <documentation xml:lang="en-GB">Packing group details</documentation>
            <documentation xml:lang="da-DK">Pakkegruppe detaljer</documentation>
        </annotation>
        <sequence>
        	<element name="Identifier" type="mc160:PackingGroupIdentifierType"/>
			<element name="Created" type="mc160:CreatedType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="Modified" type="mc160:ModifiedType" minOccurs="0"/>
        	<element name="Name" type="mc160:PackingGroupType"/>
			<element name="OrderedAtPharmacy" type="mc160:OrganisationType"/>
            <element name="PackedAtOrganisation" type="mc160:OrganisationType"/>
        </sequence>
    </complexType>
</schema>
