etc/schemas/2022/01/01/PackagedDrug.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <include schemaLocation="DispensingIdentifier.xsd"/>
    <include schemaLocation="ModificationMetadata.xsd"/>
    <include schemaLocation="Drug.xsd"/>
    <include schemaLocation="PackageNumber.xsd"/>

    <complexType name="PackagedDrugType">
        <annotation>
            <documentation xml:lang="en-GB">Element for substituting the drug for a dispensing</documentation>
            <documentation xml:lang="da-DK">Opdatering af det substituerede lægemiddel for en  dispensering</documentation>
        </annotation>
        <sequence>
            <element name="DispensingIdentifier" type="mc160:DispensingIdentifierType"/>
            <element name="Drug" type="mc160:DrugType"/>
            <element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
