etc/schemas/2022/01/01/PagingRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PagingObject.xsd"/>
	<include schemaLocation="LastReceivedType.xsd"/>

	<element name="PagingRequest" type="mc160:PagingRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Paging parameters for a request</documentation>
			<documentation xml:lang="da-DK">Paginerings parametre for et request</documentation>
		</annotation>
	</element>
	<complexType name="PagingRequestType">
		<sequence>
			<element name="PagingObject" type="mc160:PagingObjectType"/>
			<element name="PageSize" type="int"/>
			<element name="LastReceived" type="mc160:LastReceivedType"/>
		</sequence>
	</complexType>
</schema>
