etc/schemas/2022/01/01/PagingResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PagingObject.xsd"/>
	<include schemaLocation="PagingObjectParent.xsd"/>
	<include schemaLocation="LastReceivedType.xsd"/>

	<element name="PagingResponse" type="mc160:PagingResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Paging values for a response</documentation>
			<documentation xml:lang="da-DK">Paginerings værdier for et response</documentation>
		</annotation>
	</element>
	<complexType name="PagingResponseType">
		<sequence>
			<element name="PagingObject" type="mc160:PagingObjectType"/>
			<element name="ParentObjectIdentifier" type="mc160:PagingObjectParentType"/>
			<element name="PageSize" type="int"/>
			<element name="TotalSize" type="int"/>
			<element name="LastReceived" type="mc160:LastReceivedType"/>
		</sequence>
	</complexType>
</schema>
