etc/schemas/2022/01/01/PagingObjectParent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PagingObject.xsd"/>

	<element name="PagingObjectParent" type="mc160:PagingObjectParentType">
		<annotation>
			<documentation xml:lang="en-GB">The object that the paged object belongs to</documentation>
			<documentation xml:lang="da-DK">Information om det objekt, som et pagineret objekt tilhører.</documentation>
		</annotation>
	</element>

	<complexType name="PagingObjectParentType">
		<simpleContent>
			<extension base="long">
				<attribute name="type" type="mc160:PagingObjectType" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
</schema>
