etc/schemas/2022/01/01/PatientRelationMetadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="PreferredDeliverySite.xsd"/>

    <element name="PatientRelationMetadata" type="mc160:PatientRelationMetadataType">
        <annotation>
            <documentation xml:lang="en-GB">Metadata for a relation between a patient and an organisation</documentation>
            <documentation xml:lang="da-DK">Metadata for en registrering af en relation mellem en patient og en organisation</documentation>
        </annotation>
    </element>
    <complexType name="PatientRelationMetadataType">
        <choice>
            <element name="PreferredDeliverySite" type="mc160:PreferredDeliverySiteType"/>
        </choice>
	</complexType>
</schema>
