etc/schemas/2022/01/01/PatientOrders.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="OrderedDateTime.xsd"/>
    <include schemaLocation="OrderIdentifier.xsd"/>

	<element name="PatientOrders" type="mc160:PatientOrdersType">
		<annotation>
			<documentation xml:lang="en-GB">Patient orders</documentation>
			<documentation xml:lang="da-DK">Patient bestillinger</documentation>
		</annotation>
	</element>
	<complexType name="PatientOrdersType">
		<sequence>
			<element name="OldestCreatedDateTime" type="mc160:OrderedDateTimeType"/>
			<element name="Identifier" type="mc160:OrderIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
