etc/schemas/2022/01/01/PatientOrganisationRelation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="Created.xsd"/>
	<include schemaLocation="PatientOrganisationRelationType.xsd"/>
	<include schemaLocation="Organisation.xsd"/>
	<include schemaLocation="PatientOrganisationRelationIdentifier.xsd"/>
    <include schemaLocation="PatientRelationMetadata.xsd"/>
    <include schemaLocation="PatientRelationValidityPeriod.xsd"/>

    <element name="PatientOrganisationRelation" type="mc160:PatientOrganisationRelationType">
		<annotation>
			<documentation xml:lang="en-GB">A relation between a patient and an organisation</documentation>
			<documentation xml:lang="da-DK">Registrering af en relation mellem en patient og en organisation</documentation>
		</annotation>
	</element>
	<complexType name="PatientOrganisationRelationType">
		<sequence>
			<element name="Identifier" type="mc160:PatientOrganisationRelationIdentifierType"/>
			<element name="Created" type="mc160:CreatedType"/>
			<element name="Removed" type="mc160:CreatedType" minOccurs="0"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="Organisation" type="mc160:OrganisationType"/>
			<element name="Type" type="mc160:PatientOrganisationRelationTypeType"/>
            <element name="ValidityPeriod" type="mc160:PatientRelationValidityPeriodType" minOccurs="0"/>
            <element name="PatientRelationMetadata" type="mc160:PatientRelationMetadataType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
