etc/schemas/2022/01/01/PatientRegistrationExpirationReason.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<element name="PatientRegistrationExpirationReason" type="mc160:PatientRegistrationExpirationReasonType">
		<annotation>
			<documentation xml:lang="en-GB">Reason why patient registration automatically expires</documentation>
			<documentation xml:lang="da-DK">Årsag til patient registreringen automatisk udløber</documentation>
		</annotation>
	</element>
	<simpleType name="PatientRegistrationExpirationReasonType">
		<union memberTypes="mc160:PredefinedPatientRegistrationExpirationReasonType mc160:UndefinedPatientRegistrationExpirationReasonType"/>
	</simpleType>
	<simpleType name="PredefinedPatientRegistrationExpirationReasonType">
		<restriction base="mc160:UndefinedPatientRegistrationExpirationReasonType">
			<enumeration value="Ikke i stabil medicinering"/>
		</restriction>
	</simpleType>
	<simpleType name="UndefinedPatientRegistrationExpirationReasonType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="200"/>
		</restriction>
	</simpleType>
</schema>
