etc/schemas/2022/01/01/PatientRegistrationIdentification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<include schemaLocation="PatientRegistrationType.xsd"/>
	<include schemaLocation="PatientRegistrationIdentifier.xsd"/>

	<element name="PatientRegistrationIdentification" type="mc160:PatientRegistrationIdentificationType">
		<annotation>
			<documentation xml:lang="en-GB">Identifies registrations to retrieve in a GetPatientRegistrationsRequest</documentation>
			<documentation xml:lang="da-DK">Identificerer hvilke registreringer der skal returneres i et GetPatientRegistrationsRequest</documentation>
		</annotation>
	</element>
    <complexType name="PatientRegistrationIdentificationType">
        <choice>
            <element name="Type" type="mc160:PatientRegistrationTypeType" maxOccurs="unbounded"/>
            <element name="Identifier" type="mc160:PatientRegistrationIdentifierType" maxOccurs="unbounded"/>
        </choice>
    </complexType>
</schema>
