etc/schemas/2022/01/01/PatientRelationValidityPeriod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<element name="PatientRelationValidityPeriod" type="mc160:PatientRelationValidityPeriodType">
		<annotation>
			<documentation xml:lang="en-GB">Date and time for start and expiration of a patient-organisation-relation</documentation>
			<documentation xml:lang="da-DK">Dato og tid for start og udløb for en patient-organisation-relation</documentation>
		</annotation>
	</element>

	<complexType name="PatientRelationValidityPeriodType">
		<sequence>
			<element name="FromDateTime" type="mc160:RelationValidityDateTimeType"/>
			<element name="ToDateTime" type="mc160:RelationValidityDateTimeType"/>
		</sequence>
	</complexType>

	<simpleType name="RelationValidityDateTimeType">
		<restriction base="dateTime">
			<minInclusive value="2000-01-01T00:00:00Z"/>
		</restriction>
	</simpleType>
</schema>
