etc/schemas/2022/01/01/PatientRegistrationReason.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<element name="PatientRegistrationReason" type="mc160:PatientRegistrationReasonType">
		<annotation>
			<documentation xml:lang="en-GB">Reason why patient registration was created</documentation>
			<documentation xml:lang="da-DK">Årsag til patient registreringen blev oprettet</documentation>
		</annotation>
	</element>
	<simpleType name="PatientRegistrationReasonType">
		<union memberTypes="mc160:PredefinedPatientRegistrationReasonType mc160:UndefinedPatientRegistrationReasonType"/>
	</simpleType>
	<simpleType name="PredefinedPatientRegistrationReasonType">
		<restriction base="mc160:UndefinedPatientRegistrationReasonType">
			<enumeration value="Ikke i stabil medicinering"/>
		</restriction>
	</simpleType>
	<simpleType name="UndefinedPatientRegistrationReasonType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="200"/>
		</restriction>
	</simpleType>
</schema>
