etc/schemas/2022/01/01/PatientRegistrationType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<element name="PatientRegistrationType" type="mc160:PatientRegistrationTypeType">
		<annotation>
			<documentation xml:lang="da-DK">Typen af  mellem patient og organisation</documentation>
		</annotation>
	</element>
	<simpleType name="PatientRegistrationTypeType">
		<union memberTypes="mc160:PredefinedPatientRegistrationTypeType mc160:UndefinedPatientRegistrationTypeType"/>
	</simpleType>
	<simpleType name="PredefinedPatientRegistrationTypeType">
		<restriction base="string">
			<enumeration value="SetDoseDispensingOnHold"/>
			<enumeration value="NotSuitedForDoseDispensing"/>
		</restriction>
	</simpleType>
	<simpleType name="UndefinedPatientRegistrationTypeType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="200"/>
		</restriction>
	</simpleType>
</schema>
