etc/schemas/2022/01/01/Pause.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="PausedFromDate.xsd"/>
	<include schemaLocation="PausedFromDateTime.xsd"/>
	<include schemaLocation="PausedToDate.xsd"/>
	<include schemaLocation="PausedToDateTime.xsd"/>
	
	<element name="Pause" type="mc160:PauseType">
		<annotation>
			<documentation xml:lang="en-GB">Flagging the drug medication is paused</documentation>
			<documentation xml:lang="da-DK">Flag der angiver at lægemiddelordinationen er pauseret</documentation>
		</annotation>
	</element>
	<complexType name="PauseType">
		<sequence>
			<choice minOccurs="0">
				<element name="FromDate" type="mc160:PausedFromDateType"/>
				<element name="FromDateTime" type="mc160:PausedFromDateTimeType"/>
			</choice>
			<choice minOccurs="0">
				<element name="ToDate" type="mc160:PausedToDateType"/>
				<element name="ToDateTime" type="mc160:PausedToDateTimeType"/>
			</choice>
		</sequence>
	</complexType>
</schema>
