etc/schemas/2022/01/01/PauseDrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="PausedFromDate.xsd"/>
	<include schemaLocation="PausedFromDateTime.xsd"/>
	<include schemaLocation="PausedToDate.xsd"/>
	<include schemaLocation="PausedToDateTime.xsd"/>
	
	<element name="PauseDrugMedication" type="mc160:PauseDrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a request to pause a drugmedication</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel der pauserer en lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="PauseDrugMedicationType">
		<sequence>
			<element name="Identifier" type="mc160:DrugMedicationIdentifierType"/>
			<choice minOccurs="0">
				<element name="FromDate" type="mc160:PausedFromDateType"/>
				<element name="FromDateTime" type="mc160:PausedFromDateTimeType"/>
			</choice>
			<choice minOccurs="0">
				<element name="ToDate" type="mc160:PausedToDateType"/>
				<element name="ToDateTime" type="mc160:PausedToDateTimeType"/>
			</choice>
			<element name="PausedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
