etc/schemas/2022/01/01/PauseDrugMedicationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<include schemaLocation="PausedDrugMedication.xsd"/>

	<element name="PauseDrugMedicationResponse" type="mc160:PauseDrugMedicationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response on a request to pause a drug medication</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar på en forespørgsel der pauserer en lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="PauseDrugMedicationResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
			<element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
			<element name="DrugMedication" type="mc160:PausedDrugMedicationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
