etc/schemas/2022/01/01/Paused.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PausedFromDate.xsd"/>
	<include schemaLocation="PausedFromDateTime.xsd"/>
	<include schemaLocation="PausedToDate.xsd"/>
	<include schemaLocation="PausedToDateTime.xsd"/>
	<include schemaLocation="Modificator.xsd"/>

	<element name="Paused" type="mc160:PausedType">
		<annotation>
			<documentation xml:lang="en-GB">Element containing information about which organisation and possibly doctor who paused the document this element is in (e.g. drug medication) as well as the date it ocurred.</documentation>
			<documentation xml:lang="da-DK">Element der indeholder information omkring hvilken organisation og muligvis læge som har pauseret dokumentet elementet befinder sig i (f.eks. lægemiddelordination), desuden datoen dette er sket.</documentation>
		</annotation>
	</element>
	<complexType name="PausedType">
		<sequence>
			<choice minOccurs="0">
				<element name="FromDate" type="mc160:PausedFromDateType"/>
				<element name="FromDateTime" type="mc160:PausedFromDateTimeType"/>
			</choice>
			<choice minOccurs="0">
				<element name="ToDate" type="mc160:PausedToDateType"/>
				<element name="ToDateTime" type="mc160:PausedToDateTimeType"/>
			</choice>
			<element name="By" type="mc160:ModificatorType"/>
			<element name="DateTime" type="dateTime"/>
		</sequence>
	</complexType>
</schema>
