etc/schemas/2022/01/01/PersonModificator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="PatientFlag.xsd"/>
    <include schemaLocation="PersonIdentifier.xsd"/>

    <element name="PersonModificator" type="mc160:PersonModificatorType">
        <annotation>
            <documentation xml:lang="en-GB">Contains a name, which meaning is defined by the chosen modificator role. Example: for the System role, the name can describe the system/functionality that generated the service request ("Indkøbskurv, Bostedet Mellemvang, bestilling")
            </documentation>
            <documentation xml:lang="da-DK">Indeholder et navn hvis indhold er givet ud fra den valgte rolle. F.eks. for System rollen, kan navnet beskrive det system/den funktionalitet der har genereret service request'et ("Indkøbskurv, Bostedet Mellemvang, bestilling")
            </documentation>
        </annotation>
    </element>
    <complexType name="PersonModificatorType">
        <choice>
            <element name="Patient" type="mc160:PatientFlagType"/>
            <sequence>
                <element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
                <element name="Name" type="mc160:SimpleNameType"/>
            </sequence>
        </choice>

    </complexType>

    <simpleType name="SimpleNameType">
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="130"/>
        </restriction>
    </simpleType>
</schema>
