etc/schemas/2022/01/01/PersonName.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonGivenName.xsd"/>
	<include schemaLocation="PersonMiddleName.xsd"/>
	<include schemaLocation="PersonSurname.xsd"/>

	<element name="PersonName" type="mc160:PersonNameType">
		<annotation>
			<documentation xml:lang="en-GB">Structured name of a person</documentation>
			<documentation xml:lang="da-DK">Struktureret navn på en person</documentation>
		</annotation>
	</element>
	<complexType name="PersonNameType">
		<sequence>
			<element name="GivenName" type="mc160:PersonGivenNameType" minOccurs="0"/>
			<element name="MiddleName" type="mc160:PersonMiddleNameType" minOccurs="0"/>
			<element name="Surname" type="mc160:PersonSurnameType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
