etc/schemas/2022/01/01/PersonWithRequestsForWarrant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="RequestForWarrantWithOrganisationDetails.xsd"/>
	<include schemaLocation="CreatedDateTime.xsd"/>
	<include schemaLocation="NumberOfUnhandledRequestsForWarrant.xsd"/>



	<element name="PersonWithRequestsForWarrant" type="mc160:PersonWithRequestsForWarrantType">
		<annotation>
			<documentation xml:lang="en-GB">A patients person identifier, and a list of active requests for warrant</documentation>
			<documentation xml:lang="da-DK">En patients personlige identifikation, og en liste af aktive anmodninger om udleveringsgrundlag</documentation>
		</annotation>
	</element>
	<complexType name="PersonWithRequestsForWarrantType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<choice>
				<element name="RequestForWarrant" type="mc160:RequestForWarrantWithOrganisationDetailsType" minOccurs="0" maxOccurs="unbounded"/>
				<sequence>
					<element name="OldestUnhandledCreatedDateTime" type="mc160:CreatedDateTimeType"/>
					<element name="NumberOfUnhandled" type="mc160:NumberOfUnhandledRequestsForWarrantType"/>
				</sequence>
			</choice>
		</sequence>
	</complexType>
</schema>
