etc/schemas/2022/01/01/PersonWithPlannedDispensing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="Patient.xsd"/>
	<include schemaLocation="PlannedDispensingSummary.xsd"/>

	<!-- TODO: Part of service under eval -->
	<element name="PersonWithPlannedDispensing" type="mc160:PersonWithPlannedDispensingType">
		<annotation>
			<documentation xml:lang="en-GB">Search result element containing ids for a planned dispensing</documentation>
			<documentation xml:lang="da-DK">Element i søgeresultat indeholdende id'er for en planlagt dispensering</documentation>
		</annotation>
	</element>
	<complexType name="PersonWithPlannedDispensingType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="Patient" type="mc160:PatientType"/>
			</choice>
			<element name="PlannedDispensingSummary" type="mc160:PlannedDispensingSummaryType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
