etc/schemas/2022/01/01/PersonWithDoseDispensing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified"
        attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="Patient.xsd"/>
	<include schemaLocation="IsDoseDispensingOnHold.xsd"/>
	<include schemaLocation="DoseDispensingCardSummary.xsd"/>

	<complexType name="PersonWithDoseDispensingType">
		<annotation>
			<documentation xml:lang="en-GB">Overview of dosedispensingcards and dosedispensingperiods for a person</documentation>
			<documentation xml:lang="da-DK">Overblik over en persons dosisdispenseringskort og perioder</documentation>
		</annotation>
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="Patient" type="mc160:PatientType"/>
			</choice>
			<element name="DoseDispensingOnHold" type="mc160:IsDoseDispensingOnHoldType" minOccurs="0"/>
			<element name="DoseDispensingCard" type="mc160:DoseDispensingCardSummaryType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
