etc/schemas/2022/01/01/PlannedAdministrationOnDrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PlannedAdministrationIdentifier.xsd"/>
	<include schemaLocation="PlannedAdministrationVersion.xsd"/>
	<include schemaLocation="Created.xsd"/>
	<include schemaLocation="Modified.xsd"/>
	<include schemaLocation="DispensingCardIdentifier.xsd"/>
	<include schemaLocation="DispensingType.xsd"/>
	<include schemaLocation="PlannedAdministrationStructures.xsd"/>
	<include schemaLocation="AdministrationInstruction.xsd"/>
	<include schemaLocation="DosageUnit.xsd"/>

	<complexType name="PlannedAdministrationOnDrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">How often and when the drug is planned to be given</documentation>
			<documentation xml:lang="da-DK">Angivelse af hvor ofte og hvornår et lægemiddel planlægges til indtagelse</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="mc160:PlannedAdministrationIdentifierType"/>
			<element name="Version" type="mc160:PlannedAdministrationVersionType"/>
			<element name="Created" type="mc160:CreatedType"/>
			<element name="Modified" type="mc160:ModifiedType"/>
			<element name="DispensingCardIdentifier" type="mc160:DispensingCardIdentifierType" minOccurs="0"/>
			<element name="DispensingType" type="mc160:DispensingTypeType" minOccurs="0"/>
			<element name="DosageUnit" type="mc160:DosageUnitType" minOccurs="0"/>
			<element name="AdministrationInstruction" type="mc160:AdministrationInstructionType" minOccurs="0"/>
			<element name="PlannedAdministrationFixed" type="mc160:PlannedAdministrationStructuresType" minOccurs="0"/>
			<element name="PlannedAdministrationAccordingToNeed" type="mc160:PlannedAdministrationStructuresType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
