etc/schemas/2022/01/01/PlannedAdministrationToCreate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="DosageUnit.xsd"/>
    <include schemaLocation="DosageTimesStartDate.xsd"/>
    <include schemaLocation="PlannedAdministrationStructures.xsd"/>

	<complexType name="PlannedAdministrationToCreateType">
		<annotation>
			<documentation xml:lang="en-GB">How often and when the drug is planned to be given</documentation>
			<documentation xml:lang="da-DK">Angivelse af hvor ofte og hvornår et lægemiddel planlægges til indtagelse</documentation>
		</annotation>
		<sequence>
			<element name="DosageUnit" type="mc160:DosageUnitType" minOccurs="0"/>
            <element name="ValidFrom" type="mc160:DosageTimesStartDateType"/>
			<element name="PlannedAdministrationFixed" type="mc160:PlannedAdministrationStructuresType" minOccurs="0"/>
			<element name="PlannedAdministrationPRN" type="mc160:PlannedAdministrationStructuresType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
