etc/schemas/2022/01/01/PlannedAdministrationHistory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PlannedAdministrationIdentifier.xsd"/>
	<include schemaLocation="PlannedAdministrationVersion.xsd"/>
	<include schemaLocation="DrugMedication.xsd"/>
	<include schemaLocation="ValidWarrant.xsd"/>
	<include schemaLocation="DispensingWarning.xsd"/>
	<include schemaLocation="DosageQuantityUnitText.xsd"/>
	<include schemaLocation="DosageQuantityUnitTexts.xsd"/>
	<include schemaLocation="PlannedAdministrationStructures.xsd"/>
	<include schemaLocation="AdministrationInstruction.xsd"/>

	<complexType name="PlannedAdministrationHistoryType">
		<annotation>
			<documentation xml:lang="en-GB">Historic version of a planned administration</documentation>
			<documentation xml:lang="da-DK">Historisk version af en planlagt administration</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="mc160:PlannedAdministrationIdentifierType"/>
			<element name="Version" type="mc160:PlannedAdministrationVersionType"/>
			<element name="Created" type="mc160:CreatedType"/>
			<element name="Modified" type="mc160:ModifiedType" minOccurs="0"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="DrugMedication" type="mc160:DrugMedicationType"/>
			<element name="AdministrationInstruction" type="mc160:AdministrationInstructionType" minOccurs="0"/>
			<choice minOccurs="0">
				<element name="UnitText" type="mc160:DosageQuantityUnitTextType"/>
				<element name="UnitTexts" type="mc160:DosageQuantityUnitTextsType"/>
			</choice>
			<element name="PlannedAdministrationFixed" type="mc160:PlannedAdministrationStructuresType" minOccurs="0"/>
			<element name="PlannedAdministrationAccordingToNeed" type="mc160:PlannedAdministrationStructuresType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
