etc/schemas/2022/01/01/PlannedAdministrationIdentifierAndVersion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <include schemaLocation="PlannedAdministrationIdentifier.xsd"/>
    <include schemaLocation="PlannedAdministrationVersion.xsd"/>
    <include schemaLocation="DispensingWarning.xsd"/>

    <complexType name="PlannedAdministrationIdentifierAndVersionType">
        <annotation>
            <documentation xml:lang="en-GB">Element with result for updating a planned Administration</documentation>
            <documentation xml:lang="da-DK">Resultat af opdatering af en planlagt administration</documentation>
        </annotation>
        <sequence>
        	<element name="Identifier" type="mc160:PlannedAdministrationIdentifierType"/>
        	<element name="Version" type="mc160:PlannedAdministrationVersionType"/>
        	<element name="Warning" type="mc160:DispensingWarningType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
