etc/schemas/2022/01/01/PlannedAdministrationStructure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="RepeatAfter.xsd"/>
	<include schemaLocation="DosageIsNotIterated.xsd"/>
    <include schemaLocation="DosagePeriodLength.xsd"/>
	<include schemaLocation="PlannedDosageDay.xsd"/>

	<complexType name="PlannedAdministrationStructureType">
		<annotation>
			<documentation xml:lang="en-GB">Structure for a period in the planned Administration</documentation>
			<documentation xml:lang="da-DK">En Periode i den planlagte administration</documentation>
		</annotation>
		<sequence>
			<choice minOccurs="0">
				<element name="IterationInterval" type="mc160:RepeatAfterType"/>
				<element name="NotIterated" type="mc160:DosageIsNotIteratedType"/>
			</choice>
            <element name="PeriodLength" type="mc160:DosagePeriodLengthType" minOccurs="0"/>
			<element name="Day" type="mc160:PlannedDosageDayType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
