etc/schemas/2022/01/01/PlannedAdministrationToCreate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PlannedAdministrationIdentifier.xsd"/>
	<include schemaLocation="PlannedAdministrationVersion.xsd"/>
	<include schemaLocation="DrugMedication.xsd"/>
	<include schemaLocation="ValidWarrant.xsd"/>
	<include schemaLocation="DispensingWarning.xsd"/>
	<include schemaLocation="PlannedAdministrationStructures.xsd"/>
	<include schemaLocation="AdministrationInstruction.xsd"/>
	<include schemaLocation="DosageUnit.xsd"/>

	<complexType name="PlannedAdministrationToCreateType">
		<annotation>
			<documentation xml:lang="en-GB">How often and when the drug is planned to be given</documentation>
			<documentation xml:lang="da-DK">Angivelse af hvor ofte og hvornår et lægemiddel planlægges til indtagelse</documentation>
		</annotation>
		<sequence>
			<element name="DosageUnit" type="mc160:DosageUnitType" minOccurs="0"/>
			<element name="PlannedAdministrationFixed" type="mc160:PlannedAdministrationStructuresType" minOccurs="0"/>
			<element name="PlannedAdministrationAccordingToNeed" type="mc160:PlannedAdministrationStructuresType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
