etc/schemas/2022/01/01/PlannedAdministrationSubstitution.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PlannedAdministrationIdentifier.xsd"/>
	<include schemaLocation="Drug.xsd"/>
	<include schemaLocation="SubstitutionChosenByPatient.xsd"/>

	<element name="PlannedAdministrationSubstitution" type="mc160:PlannedAdministrationSubstitutionType">
		<annotation>
			<documentation xml:lang="en-GB">A element defining the substitution to a given planned administration</documentation>
			<documentation xml:lang="da-DK">Et element som definere en substitution til en given planlagt administration</documentation>
		</annotation>
	</element>
	<complexType name="PlannedAdministrationSubstitutionType">
		<sequence>
			<element name="PlannedAdministrationIdentifier" type="mc160:PlannedAdministrationIdentifierType"/>
			<element name="Substitution" type="mc160:DrugType"/>
			<element name="SubstitutionChosenByPatient" type="mc160:SubstitutionChosenByPatientType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
