etc/schemas/2022/01/01/PlannedDispensingIdentifierAndVersion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <include schemaLocation="PlannedDispensingIdentifier.xsd"/>
    <include schemaLocation="PlannedDispensingVersion.xsd"/>
    <include schemaLocation="DoseDispensingWarning.xsd"/>

    <complexType name="PlannedDispensingIdentifierAndVersionType">
        <annotation>
            <documentation xml:lang="en-GB">Element with result for updating a planned dispensing</documentation>
            <documentation xml:lang="da-DK">Resultat af opdatering af en planlagt dispensering</documentation>
        </annotation>
        <sequence>
        	<element name="Identifier" type="mc160:PlannedDispensingIdentifierType"/>
        	<element name="Version" type="mc160:PlannedDispensingVersionType"/> 
        	<element name="Warning" type="mc160:DoseDispensingWarningType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
