etc/schemas/2022/01/01/Precondition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="DosageTimesStartDate.xsd"/>

	<element name="Precondition" type="mc160:PreconditionType">
		<annotation>
			<documentation xml:lang="en-GB">Define a precondition that must be fulfilled, before the dosage can be considered active</documentation>
			<documentation xml:lang="da-DK">Beskriver en betingelse der beskriver, hvornår doseringen kan anses som værende aktiv.</documentation>
		</annotation>
	</element>
	<complexType name="PreconditionType">
		<choice>
			<element name="ValidFrom" type="mc160:DosageTimesStartDateType"/>
			<element name="PredefinedCondition" type="mc160:PredefinedValidFromType"/>
			<element name="FreeText" type="mc160:PreconditionFreeTextType"/>
		</choice>
	</complexType>

	<simpleType name="PredefinedValidFromType">
		<restriction base="mc160:UndefinedValidFromType">
			<enumeration value="Medicine in possession"/>
		</restriction>
	</simpleType>

	<simpleType name="UndefinedValidFromType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="100"/>
		</restriction>
	</simpleType>

	<simpleType name="PreconditionFreeTextType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="200"/>
		</restriction>
	</simpleType>

</schema>
