etc/schemas/2022/01/01/PreferredDeliverySite.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="Organisation.xsd"/>
    <include schemaLocation="DeliveryInstructionText.xsd"/>

    <element name="PreferredDeliverySite" type="mc160:PreferredDeliverySiteType">
        <annotation>
            <documentation xml:lang="en-GB">Unit for dosage quantity, singular and plural</documentation>
            <documentation xml:lang="da-DK">Enhed for dosismængde, ental og flertal</documentation>
        </annotation>
    </element>
    <complexType name="PreferredDeliverySiteType">
        <sequence>
            <element name="PreferredDeliverySite" type="mc160:OrganisationType" minOccurs="0"/>
            <element name="DeliveryInstructionText" type="mc160:DeliveryInstructionTextType" minOccurs="0" maxOccurs="3"/>
        </sequence>
    </complexType>
</schema>