etc/schemas/2022/01/01/PrescriptionRenewalReason.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<simpleType name="PrescriptionRenewalReasonType">
		<annotation>
			<documentation xml:lang="en-GB">Indicated a reason a doctor was picked for prescription renewal</documentation>
			<documentation xml:lang="da-DK">Indikere en grund til hvorfor en læge var valgt til receptudstedelse</documentation>
		</annotation>
		<union memberTypes="mc160:PredefinedPrescriptionRenewalReasonType mc160:UndefinedPrescriptionRenewalReasonType"/>
	</simpleType>
	<simpleType name="PredefinedPrescriptionRenewalReasonType">
		<restriction base="mc160:UndefinedPrescriptionRenewalReasonType">
			<enumeration value="Seneste receptudsteder"/>
			<enumeration value="Patientens egen læge"/>
		</restriction>
	</simpleType>
	<simpleType name="UndefinedPrescriptionRenewalReasonType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="100"/>
		</restriction>
	</simpleType>
</schema>
