etc/schemas/2022/01/01/PrescribingOrganisationRetrievalContext.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<simpleType name="PrescribingOrganisationRetrievalContext">
		<annotation>
			<documentation xml:lang="en-GB">Element describing the context requesting from</documentation>
			<documentation xml:lang="da-DK">Element beskrivende den kontekst man spørger fra</documentation>
		</annotation>
		<union memberTypes="mc160:PrescribingOrganisationRetrievalContextType mc160:UndefinedPrescribingOrganisationRetrievalContextType"/>
	</simpleType>
	<simpleType name="PrescribingOrganisationRetrievalContextType">
		<restriction base="mc160:UndefinedPrescribingOrganisationRetrievalContextType">
			<enumeration value="Borger"/>
			<enumeration value="Hjemmeplejen"/>
		</restriction>
	</simpleType>
	<simpleType name="UndefinedPrescribingOrganisationRetrievalContextType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="100"/>
		</restriction>
	</simpleType>
</schema>
