etc/schemas/2022/01/01/PrescriptionRequestToCancel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">
    
    <include schemaLocation="PrescriptionRequestIdentifier.xsd"/>
    <include schemaLocation="ModificationMetadata.xsd"/>
    <include schemaLocation="PrescriptionRequestCancellationReason.xsd"/>
    
    <complexType name="PrescriptionRequestToCancelType">
        <annotation>
            <documentation xml:lang="en-GB">References to prescription requests to be cancelled</documentation>
            <documentation xml:lang="da-DK">Referencer til receptanmodninger der skal annulleres</documentation>
        </annotation>
        <sequence>
            <element name="Identifier" type="mc160:PrescriptionRequestIdentifierType"/>
            <element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="CancellationReason" type="mc160:PrescriptionRequestCancellationReasonType"/>
        </sequence>
    </complexType>
</schema>
