etc/schemas/2022/01/01/Prescription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="PackageNumber.xsd"/>
	<include schemaLocation="PackageSize.xsd"/>
	<include schemaLocation="PackageQuantity.xsd"/>
	<include schemaLocation="IterationNumber.xsd"/>
	<include schemaLocation="IterationInterval.xsd"/>
	<include schemaLocation="IterationIntervalUnit.xsd"/>

	<complexType name="PrescriptionType">
		<annotation>
			<documentation xml:lang="en-GB">Specification by the doctor on a warrant that it can be handed over by a pharmacy, and indication of the package and amounts, the pharmacy is allowed to hand out</documentation>
			<documentation xml:lang="da-DK">Anvisning fra lægen på udleveringsgrundlaget, at det kan udleveres fra et apotek, og angivelse af hvilken vare og i hvilke mængder apoteket må udlevere</documentation>
		</annotation>
		<sequence>
			<element name="PackageNumber" type="mc160:PackageNumberType"/>
			<element name="PackageSize" type="mc160:PackageSizeType" minOccurs="0"/>
			<element name="PackageQuantity" type="mc160:PackageQuantityType"/>
			<sequence minOccurs="0">
				<element name="IterationNumber" type="mc160:IterationNumberType"/>
				<element name="IterationInterval" type="mc160:IterationIntervalType"/>
				<element name="IterationIntervalUnit" type="mc160:IterationIntervalUnitType"/>
			</sequence>
		</sequence>
	</complexType>
</schema>
