etc/schemas/2022/01/01/PrescribingDoctor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="Organisation.xsd"/>
    <include schemaLocation="WarrantRenewalReason.xsd"/>

    <complexType name="PrescribingDoctorType">
        <annotation>
            <documentation xml:lang="en-GB">Details on a doctor to request for warrants</documentation>
            <documentation xml:lang="da-DK">Detaljer på en læge som kan anmodes om udleveringsgrundlag</documentation>
        </annotation>
        <sequence>
			<element name="Doctor" type="mc160:OrganisationType"/>
			<element name="Reason" type="mc160:WarrantRenewalReasonType"/>
        </sequence>
    </complexType>
</schema>
