etc/schemas/2022/01/01/PrescriptionRequestWithOrganisationDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">
	<include schemaLocation="PrescriptionRequestIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="CreatedDateTime.xsd"/>
	<element name="PrescriptionRequestWithOrganisationDetails" type="mc160:PrescriptionRequestWithOrganisationDetailsType">
		<annotation>
			<documentation xml:lang="en-GB">Details on an active prescription request and which organisation it was requested at</documentation>
			<documentation xml:lang="da-DK">Detaljer omkring en aktive receptanmodning, og hvilken organisation den er anmodet hos</documentation>
		</annotation>
	</element>
	<complexType name="PrescriptionRequestWithOrganisationDetailsType">
		<sequence>
			<element name="PrescriptionRequestIdentifier" type="mc160:PrescriptionRequestIdentifierType" />
			<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType" maxOccurs="unbounded"/>
			<element name="CreatedDateTime" type="mc160:CreatedDateTimeType"/>
		</sequence>
	</complexType>
</schema>
