etc/schemas/2022/01/01/PrescriptionRequestToCreate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="Organisation.xsd"/>
	<include schemaLocation="PackageRestriction.xsd"/>
	<include schemaLocation="CreateDoseDispensedRestriction.xsd"/>
	<include schemaLocation="CreateOrder.xsd"/>

	<complexType name="PrescriptionRequestToCreateType">
		<annotation>
			<documentation xml:lang="en-GB">Element which describes a prescriptionrequest to be created</documentation>
			<documentation xml:lang="da-DK">Element der beskriver en receptanmodning til oprettelse</documentation>
		</annotation>
		<sequence>
			<element name="DrugMedicationIdentifier" type="mc160:DrugMedicationIdentifierType" />
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="PrescribingOrganisation" type="mc160:OrganisationType" minOccurs="0" maxOccurs="unbounded"/>
			<choice minOccurs="0">
				<element name="PackageRestriction" type="mc160:PackageRestrictionType"/>
				<element name="DoseDispensedRestriction" type="mc160:CreateDoseDispensedRestrictionType"/>
			</choice>
			<element name="Order" type="mc160:CreateOrderType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
