etc/schemas/2022/01/01/PrescriptionSearchResult.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="Patient.xsd"/>
	<include schemaLocation="Created.xsd"/>
	
	<element name="PrescriptionSearchResult" type="mc160:PrescriptionSearchResultType">
		<annotation>
			<documentation xml:lang="en-GB">Contains information about who a prescription is issued to, and by whom</documentation>
			<documentation xml:lang="da-DK">Indeholder information om hvem en recept er udstedt til, og af hvem</documentation>
		</annotation>
	</element>
	<complexType name="PrescriptionSearchResultType">
		<sequence>
			<element name="Patient" type="mc160:PatientType" />
			<element name="Created" type="mc160:CreatedType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
