etc/schemas/2022/01/01/PrintType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<element name="PrintType" type="mc160:PrintTypeType">
		<annotation>
			<documentation xml:lang="en-GB">Type of print to return</documentation>
			<documentation xml:lang="da-DK">Type af udskrift der skal returneres</documentation>
		</annotation>
	</element>
	<simpleType name="PrintTypeType">
		<union memberTypes="mc160:PredefinedPrintType mc160:UndefinedPrintType"/>
	</simpleType>

	<simpleType name="PredefinedPrintType">
		<restriction base="mc160:UndefinedPrintType">
			<enumeration value="medicinkortet"/>
			<enumeration value="dispenseringskort"/>
			<enumeration value="dispenseringskort med ændringsliste"/>
		</restriction>
	</simpleType>

	<simpleType name="UndefinedPrintType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="30"/>
		</restriction>
	</simpleType>
</schema>
