etc/schemas/2022/01/01/PrivatePlannedAdministration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
    
    <include schemaLocation="DrugMedicationIdentifier.xsd"/>
    <include schemaLocation="DrugMedicationVersion.xsd"/>
    
    <element name="PrivatePlannedAdministration" type="mc160:PrivatePlannedAdministrationType">
        <annotation>
            <documentation xml:lang="en-GB">Dispensing medication which has been marked private.</documentation>
            <documentation xml:lang="da-DK">Dispenseret lægemiddel som er privatmarkeret.</documentation>
        </annotation>
    </element>
    <complexType name="PrivatePlannedAdministrationType">
        <sequence>
			<element name="DrugMedicationIdentifier" type="mc160:DrugMedicationIdentifierType"/>
            <element name="Version" type="mc160:DrugMedicationVersionType"/>
        </sequence>
    </complexType>
</schema>
