etc/schemas/2022/01/01/PRNDrugMedicationStartDate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="PRNStartDate.xsd"/>

	<element name="PRNDrugMedicationStartDate" type="mc160:PRNDrugMedicationStartDateType">
		<annotation>
			<documentation xml:lang="en-GB">Type for representing a start date of a PRN treatment</documentation>
			<documentation xml:lang="da-DK">Type til repræsentation af dato for start af PN-kur</documentation>
		</annotation>
	</element>

	<complexType name="PRNDrugMedicationStartDateType">
		<sequence>
			<element name="DrugMedicationIdentifier" type="mc160:DrugMedicationIdentifierType"/>
			<element name="Start" type="mc160:PRNStartDateType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
