etc/schemas/2022/01/01/PRNFixed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="DayDuration.xsd"/>

    <element name="PRNFixed" type="mc160:PRNFixedType">
        <annotation>
            <documentation xml:lang="en-GB">Condition for triggering the PRN treatment (PN-kur) and restriction on dosage</documentation>
            <documentation xml:lang="da-DK">Betingelse for at starte PN-kur behandling og begrænsning af dosering</documentation>
        </annotation>
    </element>

    <complexType name="PRNFixedType">
        <sequence>
            <element name="Trigger" type="mc160:TriggerTextType" minOccurs="1"/>
            <element name="MinimumDurationBetweenDosagePeriod" type="mc160:DurationDaysType" minOccurs="0"/>
        </sequence>
    </complexType>

    <simpleType name="TriggerTextType">
        <restriction base="string">
            <maxLength value="200"/>
        </restriction>
    </simpleType>
</schema>
