etc/schemas/2022/01/01/RegisteredDrugAdministrations.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="DrugAdministration.xsd"/>
    <include schemaLocation="WarrantError.xsd"/>

    <element name="RegisteredDrugAdministrations" type="mc160:RegisteredDrugAdministrationsType">
        <annotation>
            <documentation xml:lang="en-GB">For use in bulk service: Result of marking one or more warrant as invalid</documentation>
            <documentation xml:lang="da-DK">Til brug i bulk service: Resultat af at markere et eller flere udleveringsgrundlag som ugyldige</documentation>
        </annotation>
    </element>
    <complexType name="RegisteredDrugAdministrationsType">
        <sequence>
            <element name="DrugMedicationIdentifier" type="mc160:DrugMedicationIdentifierType"/>
            <element name="DrugAdministrationIdentifier" type="mc160:DrugAdministrationIdentifierType" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
