etc/schemas/2022/01/01/RegisterDraftSubstitutionResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>

	<element name="RegisterDraftSubstitutionResponse" type="mc160:RegisterDraftSubstitutionResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Element containing the response from registering a substitution template</documentation>
			<documentation xml:lang="da-DK">Element indeholdene svaret fra registreringen af en substitutions kladde</documentation>
		</annotation>
	</element>
	<complexType name="RegisterDraftSubstitutionResponseType">
		<choice>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
		</choice>
	</complexType>
</schema>
