etc/schemas/2022/01/01/RegisterHandoverResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<include schemaLocation="CreatedTreatmentHandover.xsd"/>

	<element name="RegisterHandoverResponse" type="mc160:RegisterHandoverResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response for registering a treatment handover</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for svaret fraen forespørgsel for at registrere en udlevering ved behandling</documentation>
		</annotation>
	</element>
	<complexType name="RegisterHandoverResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
			<element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
			<element name="Handover" type="mc160:CreatedTreatmentHandoverType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
