etc/schemas/2022/01/01/RegisterDrugAdministrationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="DrugAdministrationIdentifier.xsd"/>

	<element name="RegisterDrugAdministrationResponse" type="mc160:RegisterDrugAdministrationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">A response to the registration of a drug administration</documentation>
			<documentation xml:lang="da-DK">Et response til registrering af en medicinadministration</documentation>
		</annotation>
	</element>
	<complexType name="RegisterDrugAdministrationResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
            <element name="DrugAdministrationIdentifier" type="mc160:DrugAdministrationIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
