etc/schemas/2022/01/01/RegisterDrugAdministrationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
    <include schemaLocation="EffectuationIdentifier.xsd"/>
    <include schemaLocation="CreateDrugAdministration.xsd"/>

	<element name="RegisterDrugAdministrationRequest" type="mc160:RegisterDrugAdministrationRequestType">
		<annotation>
			<documentation xml:lang="en-GB">A request to register a drug administration</documentation>
			<documentation xml:lang="da-DK">Et request til at registrere medicinadministration</documentation>
		</annotation>
	</element>
	<complexType name="RegisterDrugAdministrationRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="CreatedBy" type="mc160:ModificatorType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
            <element name="CreatedDrugAdministration" type="mc160:CreateDrugAdministrationType" maxOccurs="unbounded"/>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
