etc/schemas/2022/01/01/RegisterDispensingPeriodHandoverRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="HandoverDispensingPeriod.xsd"/>

	<element name="RegisterDispensingPeriodHandoverRequest" type="mc160:RegisterDispensingPeriodHandoverRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request to create pharmacy handovers for an entire dispensing period</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel til at oprette udleveringer for alt i en dispensing periode</documentation>
		</annotation>
	</element>
	<complexType name="RegisterDispensingPeriodHandoverRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="CreatedBy" type="mc160:ModificatorType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="DispensingPeriod" type="mc160:HandoverDispensingPeriodType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
