etc/schemas/2022/01/01/RegisterPatientOrganisationRelationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PatientOrganisationRelationIdentifier.xsd"/>

	<element name="RegisterPatientOrganisationRelationResponse" type="mc160:RegisterPatientOrganisationRelationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Request document to register at relation between a patient and an organisation</documentation>
			<documentation xml:lang="da-DK">Request-dokument for at registrere en relation mellem en patient og en organisation</documentation>
		</annotation>
	</element>
	<complexType name="RegisterPatientOrganisationRelationResponseType">
		<sequence>
			<element name="Identifier" type="mc160:PatientOrganisationRelationIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
