etc/schemas/2022/01/01/RegisterDispensingRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="IsPreflight.xsd"/>
	<include schemaLocation="DispensingPeriodStartDate.xsd"/>
	<include schemaLocation="DispensingPeriodEndDate.xsd"/>
	<include schemaLocation="DispensingCardIdentifier.xsd"/>
	<include schemaLocation="PlannedAdministrationSubstitution.xsd"/>

	<element name="RegisterDispensingRequest" type="mc160:RegisterDispensingRequestType">
		<annotation>
			<documentation xml:lang="en-GB">A request to register the manual dispensing for a defined period</documentation>
			<documentation xml:lang="da-DK">Et request til at registere the manuelle dispensinger for en given periode</documentation>
		</annotation>
	</element>
	<complexType name="RegisterDispensingRequestType">
		<sequence>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded" />
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="CreatedBy" type="mc160:ModificatorType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="DispensingCardIdentifier" type="mc160:DispensingCardIdentifierType"/>
			<element name="StartDate" type="mc160:DispensingPeriodStartDateType" minOccurs="0"/>
			<element name="EndDate" type="mc160:DispensingPeriodEndDateType"/>
			<element name="PlannedAdministrationSubstitutions" type="mc160:PlannedAdministrationSubstitutionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="IsPreflight" type="mc160:IsPreflightType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
