etc/schemas/2022/01/01/RegisterEpisodesResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>

	<element name="RegisterEpisodesResponse" type="mc160:RegisterEpisodesResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response type for registering the start of episodic treatments</documentation>
			<documentation xml:lang="da-DK">Svar type til registrering af start af PN-kure</documentation>
		</annotation>
	</element>

	<complexType name="RegisterEpisodesResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="DrugMedicationIdentifier" type="mc160:DrugMedicationIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
