etc/schemas/2022/01/01/RegisterLoosePrescriptionAndHandoverResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="WarrantIdentifier.xsd"/>
	<include schemaLocation="OrderIdentifier.xsd"/>
	<include schemaLocation="HandoverIdentifier.xsd"/>

	<element name="RegisterLoosePrescriptionAndHandoverResponse" type="mc160:RegisterLoosePrescriptionAndHandoverResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response for registering one or more loose prescriptions together with handovers</documentation>
			<documentation xml:lang="da-DK">Svar på oprettelse af en eller flere løse recepter med tilhørende udleveringer </documentation>
		</annotation>
	</element>
	<complexType name="RegisterLoosePrescriptionAndHandoverResponseType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="WarrantAndHandover" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="WarrantIdentifier" type="mc160:WarrantIdentifierType"/>
						<element name="OrderIdentifier" type="mc160:OrderIdentifierType"/>
						<element name="HandoverIdentifier" type="mc160:HandoverIdentifierType"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
</schema>
