etc/schemas/2022/01/01/RegisterEpisodesRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="EpisodeForRequest.xsd"/>

	<element name="RegisterEpisodesRequest" type="mc160:RegisterEpisodesRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Type for registering the start of one or more episodic treatments (PN-kur) for a person</documentation>
			<documentation xml:lang="da-DK">Type til registrering af start af en eller flere PN-kure</documentation>
		</annotation>
	</element>

	<complexType name="RegisterEpisodesRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="ModifiedBy" type="mc160:ModificatorType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>

			<element name="Registrations" type="mc160:EpisodeRegistrationsForRequestType" maxOccurs="100"/>
		</sequence>
	</complexType>

</schema>
