etc/schemas/2022/01/01/RegisterPatientOrganisationRelationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="RegisterPatientOrganisationRelation.xsd"/>

	<element name="RegisterPatientOrganisationRelationRequest" type="mc160:RegisterPatientOrganisationRelationRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document to register a relation between a patient and an organisation</documentation>
			<documentation xml:lang="da-DK">Request-dokument for at registrere en relation mellem en patient og en organisation</documentation>
		</annotation>
	</element>
	<complexType name="RegisterPatientOrganisationRelationRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
			<element name="CreatedBy" type="mc160:ModificatorType" minOccurs="0"/>
            <element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="Relation" type="mc160:RegisterPatientOrganisationRelationType" maxOccurs="unbounded"/>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
