etc/schemas/2022/01/01/RegisterHandoverRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="CreateEffectuationOnWarrant.xsd"/>

	<element name="RegisterHandoverRequest" type="mc160:RegisterHandoverRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request to add a effecutation</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel for at tilføje en effektuering</documentation>
		</annotation>
	</element>
	<complexType name="RegisterHandoverRequestType">
		<sequence>
			<!-- TODO, this service probably need to change to fit the new Warrants! -->
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
			<element name="CreatedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="Warrant" type="mc160:CreateEffectuationOnWarrantType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
