etc/schemas/2022/01/01/RegistrationValidityPeriod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<element name="RegistrationValidityPeriod" type="mc160:RegistrationValidityPeriodType">
		<annotation>
			<documentation xml:lang="en-GB">Date and time for expiration</documentation>
			<documentation xml:lang="da-DK">Dato og tid for udløb</documentation>
		</annotation>
	</element>

	<complexType name="RegistrationValidityPeriodType">
		<sequence>
			<element name="FromDateTime" type="mc160:RegistrationValidityDateTimeType"/>
			<element name="ToDateTime" type="mc160:RegistrationValidityDateTimeType"/>
		</sequence>
	</complexType>

	<simpleType name="RegistrationValidityDateTimeType">
		<restriction base="dateTime">
			<minInclusive value="2000-01-01T00:00:00Z"/>
		</restriction>
	</simpleType>
</schema>
