etc/schemas/2022/01/01/RegisterDispensingResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

  <include schemaLocation="PersonIdentifier.xsd"/>
  <include schemaLocation="DispensingCardIdentifier.xsd"/>
  <include schemaLocation="PlannedAdministrationSubstitution.xsd"/>
  <include schemaLocation="DispensingPeriodIdentifier.xsd"/>
  <include schemaLocation="DispensingPeriodVersion.xsd"/>
  <include schemaLocation="PlannedAdministrationIdentifierAndVersion.xsd"/>
  <include schemaLocation="DispensingIdentifier.xsd"/>
  <include schemaLocation="DispensingWarning.xsd"/>

  <element name="RegisterDispensingResponse" type="mc160:RegisterDispensingResponseType">
    <annotation>
      <documentation xml:lang="en-GB">A response to the registration of a manual dispensing</documentation>
      <documentation xml:lang="da-DK">Et response til registrering af en manuel dispensering</documentation>
    </annotation>
  </element>
  <complexType name="RegisterDispensingResponseType">
    <sequence>
      <element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
      <element name="DispensingCardIdentifier" type="mc160:DispensingCardIdentifierType"/>
      <element name="DispensingPeriodIdentifier" type="mc160:DispensingPeriodIdentifierType" minOccurs="0"/>
      <element name="DispensingPeriodVersion" type="mc160:DispensingPeriodVersionType" minOccurs="0"/>
      <element name="Warning" type="mc160:DispensingWarningType" minOccurs="0" maxOccurs="unbounded"/>
      <element name="Dispensing" type="mc160:PlannedAdmForDispensingType" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <complexType name="PlannedAdmForDispensingType">
    <sequence>
      <element name="PlannedAdministration" type="mc160:PlannedAdministrationIdentifierAndVersionType"/>
      <element name="DispensingIdentifier" type="mc160:DispensingIdentifierType" minOccurs="0"/> <!-- Dispensings are only created if call succeeds -->
      <!-- Warnings that relate to the individual dispensing -->
      <element name="Warning" type="mc160:DispensingWarningType" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
</schema>
