etc/schemas/2022/01/01/ReimbursementClause.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<element name="ReimbursementCode" type="mc160:ReimbursementCodeType">
		<annotation>
			<documentation xml:lang="en-GB">Reimbursement code</documentation>
			<documentation xml:lang="da-DK">Tilskudskode på ordinationen</documentation>
		</annotation>
	</element>

	<simpleType name="ReimbursementCodeType">
		<union memberTypes="mc160:ReimbursementCodeStringType mc160:PredefinedReimbursementEnumeration"/>
	</simpleType>

	<simpleType name="PredefinedReimbursementEnumeration">
		<restriction base="string">
			<enumeration value="Unknown"/>
		</restriction>
	</simpleType>

	<simpleType name="ReimbursementCodeStringType">
		<restriction base="string">
			<maxLength value="50"/>
			<minLength value="1"/>
		</restriction>
	</simpleType>

</schema>
