etc/schemas/2022/01/01/ReimbursementClause.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<element name="ReimbursementCode" type="mc160:ReimbursementCodeType">
		<annotation>
			<documentation xml:lang="en-GB">Reimbursement code for drug medication</documentation>
			<documentation xml:lang="da-DK">Tilskudskode på ordinationen</documentation>
		</annotation>
	</element>

	<simpleType name="ReimbursementCodeType">
		<union memberTypes="mc160:ReimbursementCodeStringType mc160:BackwardsCompatibilityReimbursementEnumeration mc160:PredefinedReimbursementEnumeration"/>
	</simpleType>

	<simpleType name="BackwardsCompatibilityReimbursementEnumeration">
		<annotation>
			<documentation xml:lang="en-GB">Reimbursement code that's only used on older drug medications before the code could be reported to FMK</documentation>
			<documentation xml:lang="da-DK">Tilskudskode på ordinationen som kun benyttes for ældre ordinationer fra før den fulde tilskudskode kunne angives på FMK</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="Unknown"/>
		</restriction>
	</simpleType>

	<simpleType name="PredefinedReimbursementEnumeration">
		<annotation>
			<documentation xml:lang="en-GB">Reimbursement code that are known to FMK, but might hold a special meaning compared to regular reimbursement codes</documentation>
			<documentation xml:lang="da-DK">Tilskudskode på ordinationen som er kendt af FMK, men som har en speciel betydning i forhold til normale tilskudskoder</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="NoChoiceMade"/>
		</restriction>
	</simpleType>

	<simpleType name="ReimbursementCodeStringType">
		<restriction base="string">
			<maxLength value="50"/>
			<minLength value="1"/>
		</restriction>
	</simpleType>

</schema>
