etc/schemas/2022/01/01/RemoveConsentResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="MedicineCardVersion.xsd"/>
    <include schemaLocation="VersionMismatchWarning.xsd"/>
    <include schemaLocation="UpdatedDrugMedication.xsd"/>

	<element name="RemoveConsentResponse" type="mc160:RemoveConsentResponseType">
        <annotation>
            <documentation xml:lang="en-GB">Response for removing negative consent on one or more drugmedications</documentation>
            <documentation xml:lang="da-DK">Svar på at fjerne privarmarkering af en eller flere lægemiddelordinationer</documentation>
        </annotation>
    </element>
    <complexType name="RemoveConsentResponseType">
        <sequence>
            <sequence>
                <element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
                <element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
                <element name="DrugMedication" type="mc160:UpdatedDrugMedicationType" maxOccurs="unbounded"/>
            </sequence>
        </sequence>
    </complexType>
</schema>
