etc/schemas/2022/01/01/RemovePatientRegistration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="PatientRegistrationIdentifier.xsd"/>

	<element name="RemovePatientRegistration" type="mc160:RemovePatientRegistrationType">
		<annotation>
			<documentation xml:lang="en-GB">Inner element for patient registration removal requests</documentation>
			<documentation xml:lang="da-DK">Indre element til forespørgsel til sletning af patient registreringer</documentation>
		</annotation>
	</element>
	<complexType name="RemovePatientRegistrationType">
		<sequence>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ModifiedBy" type="mc160:ModificatorType" minOccurs="0"/>
            <element name="Identifier" type="mc160:PatientRegistrationIdentifierType"/>
		</sequence>
	</complexType>
</schema>
