etc/schemas/2022/01/01/RemovePatientRegistrationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="Modificator.xsd"/>
    <include schemaLocation="RemovePatientRegistration.xsd"/>


	<element name="RemovePatientRegistrationRequest" type="mc160:RemovePatientRegistrationRequestType">
        <annotation>
            <documentation xml:lang="en-GB">Request for removing patient registration</documentation>
            <documentation xml:lang="da-DK">Request til at fjerne en patient registrering</documentation>
        </annotation>
    </element>
    <complexType name="RemovePatientRegistrationRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
			<element name="ModifiedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
            <element name="Registration" type="mc160:RemovePatientRegistrationType" maxOccurs="unbounded"/>
        </sequence>
	</complexType>
</schema>
