etc/schemas/2022/01/01/RemovePatientOrganisationRelationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="RemovePatientOrganisationRelation.xsd"/>

	<element name="RemovePatientOrganisationRelationRequest" type="mc160:RemovePatientOrganisationRelationRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Remove document to remove at relation between a patient and an organisation</documentation>
			<documentation xml:lang="da-DK">Remove-dokument for at ophæve en relation mellem en patient og en organisation</documentation>
		</annotation>
	</element>
	<complexType name="RemovePatientOrganisationRelationRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType" minOccurs="0"/>
			<element name="ModifiedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="Relation" type="mc160:RemovePatientOrganisationRelationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
