etc/schemas/2022/01/01/RemovePatientRegistrationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="PatientRegistrationIdentifier.xsd"/>

    <element name="RemovePatientRegistrationResponse" type="mc160:RemovePatientRegistrationResponseType">
        <annotation>
            <documentation xml:lang="en-GB">Outer container element for a response from a for a request to remove a patient registration</documentation>
            <documentation xml:lang="da-DK">Ydre container-element for et svar på en request som fjerner en patient registrering</documentation>
        </annotation>
    </element>
    <complexType name="RemovePatientRegistrationResponseType">
        <sequence>
            <element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
            <element name="RemovedRegistration" type="mc160:PatientRegistrationIdentifierType" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
