etc/schemas/2022/01/01/RenewalReason.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<simpleType name="RenewalReasonType">
		<annotation>
			<documentation xml:lang="en-GB">Indicated a reason a doctor was picked for receiving request for warrant</documentation>
			<documentation xml:lang="da-DK">Indikere en grund til hvorfor en læge var valgt som modtager af anmodning om udleveringsgrundlag</documentation>
		</annotation>
		<union memberTypes="mc160:PredefinedRenewalReasonType mc160:UndefinedRenewalReasonType"/>
	</simpleType>
	<simpleType name="PredefinedRenewalReasonType">
		<restriction base="mc160:UndefinedRenewalReasonType">
			<enumeration value="Recept udsteder"/>
			<enumeration value="Egen læge"/>
		</restriction>
	</simpleType>
	<simpleType name="UndefinedRenewalReasonType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="100"/>
		</restriction>
	</simpleType>
</schema>
