etc/schemas/2022/01/01/ReopenPrescription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">
    
    <include schemaLocation="ModificationMetadata.xsd"/>
    <include schemaLocation="PrescriptionIdentifier.xsd"/>
    
    <complexType name="ReopenPrescriptionType">
        <annotation>
            <documentation xml:lang="en-GB">Referenced to prescriptions to reopen</documentation>
            <documentation xml:lang="da-DK">Referencer til recepter der skal genåbnes</documentation>
        </annotation>
        <sequence>
            <element name="Identifier" type="mc160:PrescriptionIdentifierType"/>
            <element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
