etc/schemas/2022/01/01/ReplaceWarrant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

	<include schemaLocation="WarrantIdentifier.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="AuthorisationDateTime.xsd"/>
	<include schemaLocation="ReimbursementClause.xsd"/>
	<include schemaLocation="SystemName.xsd"/>
	<include schemaLocation="ValidFromDate.xsd"/>
	<include schemaLocation="ValidToDate.xsd"/>
	<include schemaLocation="Prescription.xsd"/>
	<include schemaLocation="HospitalPharmacyPrescription.xsd"/>
	<include schemaLocation="DoseDispensed.xsd"/>
	<include schemaLocation="Indication.xsd"/>
	<include schemaLocation="DosageText.xsd"/>
	<include schemaLocation="SubstitutionAllowed.xsd"/>
	<include schemaLocation="SupplementaryInformation.xsd"/>
	<include schemaLocation="CreateOrder.xsd"/>
	<include schemaLocation="InvalidateReplacedWarrant.xsd"/>
	<include schemaLocation="CloseReplacedWarrant.xsd"/>

	<complexType name="ReplaceWarrantType">
		<annotation>
			<documentation xml:lang="en-GB">Element for replacing a warrant with a new one</documentation>
			<documentation xml:lang="da-DK">Element til at angive at et udleveringsgrundlag skal erstattes af et nyt</documentation>
		</annotation>
		<sequence>
			<element name="ReplaceWarrantIdentifier" type="mc160:WarrantIdentifierType"/>
			<element name="AuthorisationDateTime" type="mc160:AuthorisationDateTimeType"/>
			<element name="ValidFromDate" type="mc160:ValidFromDateType" minOccurs="0"/>
			<element name="ValidToDate" type="mc160:ValidToDateType"/>
			<choice>
				<element name="Prescription" type="mc160:PrescriptionType"/>
				<element name="HospitalPharmacyPrescription" type="mc160:HospitalPharmacyPrescriptionType"/>
				<element name="DoseDispensed" type="mc160:DoseDispensedType"/>
			</choice>
			<element name="Order" type="mc160:CreateOrderType" minOccurs="0"/>
			<choice>
				<element name="InvalidateReplacedWarrant" type="mc160:InvalidateReplacedWarrantType"/>
				<element name="CloseReplacedWarrant" type="mc160:CloseReplacedWarrantType"/>
			</choice>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
