etc/schemas/2022/01/01/ReplaceWarrantResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

  <include schemaLocation="PersonIdentifier.xsd"/>
  <include schemaLocation="OrganisationIdentifier.xsd"/>
  <include schemaLocation="WarrantIdentifier.xsd"/>

  <element name="ReplaceWarrantResponse" type="mc160:ReplaceWarrantResponseType">
    <annotation>
      <documentation xml:lang="en-GB">Response from replacing warrants</documentation>
      <documentation xml:lang="da-DK">Svar på erstatning af udleveringsgrundlag</documentation>
    </annotation>
  </element>
  <complexType name="ReplaceWarrantResponseType">
    <sequence>
      <choice>
        <element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
        <element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
      </choice>
      <element name="Warrant" type="mc160:WarrantIdentifiersForReplaceType" maxOccurs="unbounded" />
    </sequence>
  </complexType>
  <complexType name="WarrantIdentifiersForReplaceType">
    <sequence>
      <element name="NewWarrantIdentifier" type="mc160:WarrantIdentifierType"/>
      <element name="ReplacedWarrantIdentifier" type="mc160:WarrantIdentifierType"/>
    </sequence>
  </complexType>
</schema>


