etc/schemas/2022/01/01/ReplaceWarrantRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="ReplaceWarrant.xsd"/>

	<element name="ReplaceWarrantRequest" type="mc160:ReplaceWarrantRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document containing one or more elements for replacing warrants</documentation>
			<documentation xml:lang="da-DK">Request-dokument der indeholder en eller flere elementer til at erstatte udleveringsgrundlag</documentation>
		</annotation>
	</element>
	<complexType name="ReplaceWarrantRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="CreatedBy" type="mc160:ModificatorType"/>
			<element name="ReportedBy" type="mc160:ModificatorType"/>
			<element name="Warrant" type="mc160:ReplaceWarrantType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
