etc/schemas/2022/01/01/ReplaceWarrant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

	<include schemaLocation="WarrantIdentifier.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="AuthorisationDateTime.xsd"/>
	<include schemaLocation="ReimbursementClause.xsd"/>
	<include schemaLocation="SystemName.xsd"/>
	<include schemaLocation="ValidFromDate.xsd"/>
	<include schemaLocation="UnspecifiedValidFrom.xsd"/>
	<include schemaLocation="ValidToDate.xsd"/>
	<include schemaLocation="Prescription.xsd"/>
	<include schemaLocation="PracticePrescription.xsd"/>
	<include schemaLocation="HospitalPharmacyHandover.xsd"/>
	<include schemaLocation="DoseDispensed.xsd"/>
	<include schemaLocation="Indication.xsd"/>
	<include schemaLocation="DosageText.xsd"/>
	<include schemaLocation="CreateOrder.xsd"/>
	<include schemaLocation="InvalidateReplacedWarrant.xsd"/>
	<include schemaLocation="CloseReplacedWarrant.xsd"/>
    <include schemaLocation="DrugMedicationIdentifier.xsd"/>

	<complexType name="ReplaceWarrantType">
		<annotation>
			<documentation xml:lang="en-GB">Element for replacing a warrant with a new one</documentation>
			<documentation xml:lang="da-DK">Element til at angive at et udleveringsgrundlag skal erstattes af et nyt</documentation>
		</annotation>
		<sequence>
			<element name="ReplaceWarrantIdentifier" type="mc160:WarrantIdentifierType" maxOccurs="unbounded"/>
			<element name="AuthorisationDateTime" type="mc160:AuthorisationDateTimeType"/>
			<choice minOccurs="0">
				<element name="ValidFromDate" type="mc160:ValidFromDateType"/>
				<element name="UnspecifiedValidFrom" type="mc160:UnspecifiedValidFromType"/>
			</choice>
			<element name="ValidToDate" type="mc160:ValidToDateType"/>
            <element name="Warrant" type="mc160:WarrantWithOptionalDrugMedicationIdentifier" maxOccurs="unbounded"/>
			<element name="Order" type="mc160:CreateOrderType" minOccurs="0"/>
			<choice>
				<element name="InvalidateReplacedWarrant" type="mc160:InvalidateReplacedWarrantType"/>
				<element name="CloseReplacedWarrant" type="mc160:CloseReplacedWarrantType"/>
			</choice>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

    <complexType name="WarrantWithOptionalDrugMedicationIdentifier">
        <sequence>
            <element name="DrugMedicationIdentifier" type="mc160:DrugMedicationIdentifierType" minOccurs="0"/>
            <choice>
                <element name="Prescription" type="mc160:PrescriptionType"/>
                <element name="HospitalPharmacyHandover" type="mc160:HospitalPharmacyHandoverType"/>
                <element name="DoseDispensed" type="mc160:DoseDispensedType"/>
				<element name="PracticePrescription" type="mc160:PracticePrescriptionType"/>
            </choice>
        </sequence>
    </complexType>
</schema>
