etc/schemas/2022/01/01/RequestForWarrantToCreate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="Organisation.xsd"/>
	<include schemaLocation="Prescription.xsd"/>
	<include schemaLocation="HospitalPharmacyHandover.xsd"/>
	<include schemaLocation="DoseDispensed.xsd"/>
	<include schemaLocation="CreateOrder.xsd"/>
	<include schemaLocation="WithoutOrder.xsd"/>

	<complexType name="RequestForWarrantToCreateType">
		<annotation>
			<documentation xml:lang="en-GB">Element which describes a request for warrant to be created</documentation>
			<documentation xml:lang="da-DK">Element der beskriver en anmodning om et udleveringsgrundlag til oprettelse</documentation>
		</annotation>
		<sequence>
			<element name="DrugMedicationIdentifier" type="mc160:DrugMedicationIdentifierType" />
			<element name="IssuerOrganisation" type="mc160:OrganisationType" maxOccurs="unbounded"/>
			<choice minOccurs="0">
				<element name="Prescription" type="mc160:PrescriptionType"/>
				<element name="HospitalPharmacyHandover" type="mc160:HospitalPharmacyHandoverType"/>
				<element name="DoseDispensed" type="mc160:DoseDispensedType"/>
			</choice>
			<choice minOccurs="0">
				<element name="Order" type="mc160:CreateOrderType"/>
				<element name="WithoutOrder" type="mc160:WithoutOrderType"/>
			</choice>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
