etc/schemas/2022/01/01/RequestForWarrantStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<attribute name="RequestForWarrantStatus" type="mc160:RequestForWarrantStatusType">
		<annotation>
			<documentation xml:lang="en-GB">The status of a request for warrant</documentation>
			<documentation xml:lang="da-DK">Status på en anmodning om udleveringsgrundlag</documentation>
		</annotation>
	</attribute>
	<simpleType name="RequestForWarrantStatusType">
		<union memberTypes="mc160:PredefinedRequestForWarrantStatusType mc160:UndefinedRequestForWarrantStatusType"/>
	</simpleType>
	<simpleType name="PredefinedRequestForWarrantStatusType">
		<restriction base="mc160:UndefinedRequestForWarrantStatusType">
			<enumeration value="unhandled"/>
			<enumeration value="prescribed"/>
			<enumeration value="cancelled"/>
        </restriction>
	</simpleType>
	<simpleType name="UndefinedRequestForWarrantStatusType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="200"/>
		</restriction>
	</simpleType>
</schema>
