etc/schemas/2022/01/01/RequestForWarrant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="RequestForWarrantIdentifier.xsd"/>
	<include schemaLocation="RequestForWarrantVersion.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="Created.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="Modified.xsd"/>
	<include schemaLocation="Prescription.xsd"/>
	<include schemaLocation="HospitalPharmacyPrescription.xsd"/>
	<include schemaLocation="DoseDispensed.xsd"/>
	<include schemaLocation="CreateOrder.xsd"/>
	<include schemaLocation="RequestForWarrantStatus.xsd"/>
	<include schemaLocation="WarrantIdentifier.xsd"/>
	<include schemaLocation="RequestForWarrantCancellationReason.xsd"/>

	<complexType name="RequestForWarrantType">
		<annotation>
			<documentation xml:lang="en-GB">Element which describes a request for warrant</documentation>
			<documentation xml:lang="da-DK">Element der beskriver en anmodning om udleveringsgrundlag</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="mc160:RequestForWarrantIdentifierType" />
			<element name="Version" type="mc160:RequestForWarrantVersionType" minOccurs="0"/>
			<element name="DrugMedicationIdentifier" type="mc160:DrugMedicationIdentifierType" />
			<element name="Created" type="mc160:CreatedType" />
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="Modified" type="mc160:ModifiedType" minOccurs="0"/>
			<element name="PrescribingOrganisation" type="mc160:OrganisationType" minOccurs="0" maxOccurs="unbounded"/>
			<choice minOccurs="0">
				<element name="Prescription" type="mc160:PrescriptionType"/>
				<element name="HospitalPharmacyPrescription" type="mc160:HospitalPharmacyPrescriptionType"/>
				<element name="DoseDispensed" type="mc160:DoseDispensedType"/>
			</choice>
			<element name="Order" type="mc160:CreateOrderType" minOccurs="0"/>
			<element name="Status" type="mc160:RequestForWarrantStatusType" />
			<element name="WarrantIdentifier" type="mc160:WarrantIdentifierType" minOccurs="0"/>
			<element name="CancelledBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="CancellationReason" type="mc160:RequestForWarrantCancellationReasonType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
