etc/schemas/2022/01/01/ResidualPrescriptionMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PrescriptionIdentifier.xsd"/>
	<include schemaLocation="PackageSizeUnitCode.xsd"/>
	<include schemaLocation="PackageSizeUnitText.xsd"/>
	<include schemaLocation="EffectuatedAmount.xsd"/>
	<include schemaLocation="ResidualAmount.xsd"/>

	<element name="ResidualPrescriptionMedication" type="mc160:ResidualPrescriptionMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">The residual and effectuated amount for a prescription including unit</documentation>
			<documentation xml:lang="da-DK">Den resterende og effektuerede mængde for en recept inclusiv enhed</documentation>
		</annotation>
	</element>

	<complexType name="ResidualPrescriptionMedicationType">
		<sequence>
			<element name="Identifier" type="mc160:PrescriptionIdentifierType"/>
			<element name="UnitCode" type="mc160:PackageSizeUnitCodeType"/>
			<element name="UnitText" type="mc160:PackageSizeUnitTextType"/>
			<element name="EffectuatedAmount" type="mc160:EffectuatedAmountType"/>
			<element name="ResidualAmount" type="mc160:ResidualAmountType"/>
		</sequence>
	</complexType>
</schema>
