etc/schemas/2022/01/01/Reviewed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="ReviewedDateTime.xsd"/>
	
	<element name="Reviewed" type="mc160:ReviewedType">
		<annotation>
			<documentation xml:lang="en-GB">Information about who Reviewed the medicine card, at admission to hospital, including a timestamp when this occurred</documentation>
			<documentation xml:lang="da-DK">Information hvem der evaluerede medicinkortet, ved indlæggelse på sygehus, inklusiv tidspunktet</documentation>
		</annotation>
	</element>
	<complexType name="ReviewedType">
		<sequence>
			<element name="By" type="mc160:ModificatorType"/>
			<element name="DateTime" type="mc160:ReviewedDateTimeType"/>
		</sequence>
	</complexType>
</schema>
