etc/schemas/2022/01/01/RolespecificModificator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">


    <element name="RolespecificModificator" type="mc160:RoleSpecificModificatorType">
        <annotation>
            <documentation xml:lang="en-GB">Contains a name, which meaning is defined by the chosen modificator role. Example: for the System role, the name can describe the system/functionality that generated the service request ("Indkøbskurv, Bostedet Mellemvang, bestilling")
            </documentation>
            <documentation xml:lang="da-DK">Indeholder et navn hvis indhold er givet ud fra den valgte rolle. F.eks. for System rollen, kan navnet beskrive det system/den funktionalitet der har genereret service request'et ("Indkøbskurv, Bostedet Mellemvang, bestilling")
            </documentation>
        </annotation>
    </element>
    <complexType name="RoleSpecificModificatorType">
        <sequence>
            <element name="NameLine" type="mc160:NameLineType" maxOccurs="10"/>
        </sequence>
    </complexType>

    <simpleType name="NameLineType">
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="50"/>
        </restriction>
    </simpleType>
</schema>
