etc/schemas/2022/01/01/SearchWithdrawnDrugMedicationsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="WithdrawnDateTime.xsd"/>

	<element name="SearchWithdrawnDrugMedicationsRequest" type="mc160:SearchWithdrawnDrugMedicationsRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a search request for withdrawn drug medications</documentation>
			<documentation xml:lang="da-DK">Element for en søge-forespørgsel efter seponerede lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="SearchWithdrawnDrugMedicationsRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
			<element name="DateTime" type="dateTime" minOccurs="0"/>
			<element name="WithdrawnAfterDateTime" type="mc160:WithdrawnDateTimeType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
