etc/schemas/2022/01/01/SearchPrescriptionRequestsPatient.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">
    
    <include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="CreatedDateTime.xsd"/>
    <include schemaLocation="NumberOfUnhandledPrescriptionRequests.xsd"/>

    <complexType name="SearchPrescriptionRequestsPatientType">
        <sequence>
            <element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
            <element name="OldestUnhandledCreatedDateTime" type="mc160:CreatedDateTimeType"/>
            <element name="NumberOfUnhandled" type="mc160:NumberOfUnhandledPrescriptionRequestsType"/>
        </sequence>
    </complexType>
</schema>
