etc/schemas/2022/01/01/SearchOrdersResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="PatientWithOrders.xsd"/>

	<element name="SearchOrdersResponse" type="mc160:SearchOrdersResponseType">
		<annotation>
			<documentation xml:lang="en-GB">A response from a request searching for orders for a given organisation</documentation>
			<documentation xml:lang="da-DK">Svar fra en forespørgsel som søger efter bestillinger lavet af en bestemt organisation</documentation>
		</annotation>
	</element>
	<complexType name="SearchOrdersResponseType">
		<sequence>
			<element name="Patient" type="mc160:PatientWithOrdersType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
