etc/schemas/2022/01/01/SearchRequestsForWarrantResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="SearchRequestsForWarrantPatient.xsd"/>

	<element name="SearchRequestsForWarrantResponse" type="mc160:SearchRequestsForWarrantResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response to searching for requests for warrant</documentation>
			<documentation xml:lang="da-DK">Svar på søgning efter anmodninger om udleveringsgrundlag</documentation>
		</annotation>
	</element>
	<complexType name="SearchRequestsForWarrantResponseType">
		<sequence>
			<element name="Patient" type="mc160:SearchRequestsForWarrantPatientType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
