etc/schemas/2022/01/01/SearchTrackAndTraceEventsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="TrackAndTraceEvent.xsd"/>

	<element name="SearchTrackAndTraceEventsRequest" type="mc160:SearchTrackAndTraceEventsRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a response for searching TrackAndTrace events</documentation>
			<documentation xml:lang="da-DK">Element for et svar for søgning efter TrackAndTrace-events</documentation>
		</annotation>
	</element>
	<complexType name="SearchTrackAndTraceEventsRequestType">
		<sequence>
			<element name="TrackAndTraceEvent" type="mc160:TrackAndTraceEventType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
