etc/schemas/2022/01/01/SearchForPersonWithWarrantRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

  <include schemaLocation="PersonGivenName.xsd"/>
  <include schemaLocation="PersonSurname.xsd"/>
  <include schemaLocation="BirthDate.xsd"/>
  <include schemaLocation="IsPersonWithoutCPR.xsd"/>
  <include schemaLocation="AddressSubstring.xsd"/>
  <include schemaLocation="HealthcareProfessionalIdentifier.xsd"/>
  <include schemaLocation="HealthcareProfessionalName.xsd"/>
  <include schemaLocation="OrganisationName.xsd"/>
  <include schemaLocation="OrganisationType.xsd"/>
  <include schemaLocation="OrganisationIdentifier.xsd"/>
  <include schemaLocation="HealthcareProfessional.xsd"/>

  <element name="SearchForPersonWithWarrantRequest" type="mc160:SearchForPersonWithWarrantRequestType">
    <annotation>
      <documentation xml:lang="en-GB">Element for a request for searching for a person with orders matching the input</documentation>
      <documentation xml:lang="da-DK">Element for en søgning efter en person med bestillinger som matcher input</documentation>
    </annotation>
  </element>
  <complexType name="SearchForPersonWithWarrantRequestType">
    <sequence>
      <element name="Person" type="mc160:PersonDetailsType" minOccurs="0"/>
      <element name="AddressSubstring" type="mc160:AddressSubstringType" minOccurs="0" maxOccurs="5"/>
      <element name="IssuedBy" type="mc160:IssuedByType" minOccurs="0"/>
    </sequence>
  </complexType>

  <complexType name="PersonDetailsType">
    <sequence>
      <element name="GivenName" type="mc160:PersonGivenNameType" minOccurs="0"/>
      <element name="Surname" type="mc160:PersonSurnameType" minOccurs="0"/>
      <element name="BirthDate" type="mc160:BirthDateType" minOccurs="0"/>
      <element name="IsPersonWithoutCPR" type="mc160:IsPersonWithoutCPRType" minOccurs="0"/>
    </sequence>
  </complexType>

  <complexType name="HealthcareProfessionelForSearchType">
    <sequence>
      <element name="Identifier" type="mc160:HealthcareProfessionalIdentifierType" minOccurs="0"/>
      <element name="Name" type="mc160:HealthcareProfessionalNameType" minOccurs="0"/>
    </sequence>
  </complexType>

  <complexType name="OrganisationForSearchType">
    <sequence>
      <element name="Identifier" type="mc160:OrganisationIdentifierType" minOccurs="0"/>
      <element name="Name" type="mc160:OrganisationNameType" minOccurs="0"/>
    </sequence>
  </complexType>

  <complexType name="IssuedByType">
    <sequence>
      <element name="HealthcareProfessional" type="mc160:HealthcareProfessionelForSearchType" minOccurs="0"/>
      <element name="Organisation" type="mc160:OrganisationForSearchType" minOccurs="0"/>
    </sequence>
  </complexType>

</schema>
