etc/schemas/2022/01/01/SearchMedicineCardRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonGivenName.xsd"/>
	<include schemaLocation="PersonSurname.xsd"/>
	<include schemaLocation="BirthDate.xsd"/>
	<include schemaLocation="IsPersonWithoutCPR.xsd"/>
	<include schemaLocation="StreetName.xsd"/>
	<include schemaLocation="StreetBuildingIdentifier.xsd"/>
	<include schemaLocation="PostCodeIdentifier.xsd"/>
	<include schemaLocation="DistrictName.xsd"/>
	<include schemaLocation="AuthorisationIdentifier.xsd"/>
	<include schemaLocation="AuthorisedHealthcareProfessionalName.xsd"/>
	<include schemaLocation="OrganisationName.xsd"/>
	<include schemaLocation="OrganisationType.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>

	<element name="SearchMedicineCardRequest" type="mc160:SearchMedicineCardRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a request for searching for a person with a medicinecard/prescription matching the input</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel efter en person med et medicinkort/recepter som matcher input</documentation>
		</annotation>
	</element>
	<complexType name="SearchMedicineCardRequestType">
		<sequence>
			<element name="Person" minOccurs="0">
				<complexType>
					<sequence>
						<element name="GivenName" type="mc160:PersonGivenNameType" minOccurs="0"/>
						<element name="Surname" type="mc160:PersonSurnameType" minOccurs="0"/>
						<element name="BirthDate" type="mc160:BirthDateType"  minOccurs="0"/>
						<element name="IsPersonWithoutCPR" type="mc160:IsPersonWithoutCPRType" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
			<element name="Address" minOccurs="0">
				<complexType>
					<sequence>
						<element name="StreetName" type="mc160:StreetNameType" minOccurs="0"/>
						<element name="StreetBuildingIdentifier" type="mc160:StreetBuildingIdentifierType" minOccurs="0"/>
						<element name="PostCodeIdentifier" type="mc160:PostCodeIdentifierType"  minOccurs="0"/>
						<element name="DistrictName" type="mc160:DistrictNameType" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
			<element name="IssuedBy" minOccurs="0">
				<complexType>
					<sequence>
						<element name="AuthorisedHealthcareProfessional" minOccurs="0">
							<complexType>
								<sequence>
									<element name="AuthorisationIdentifier" type="mc160:AuthorisationIdentifierType" minOccurs="0"/>
									<element name="Name" type="mc160:AuthorisedHealthcareProfessionalNameType" minOccurs="0"/>
								</sequence>
							</complexType>
						</element>
						<element name="Organisation" minOccurs="0">
							<complexType>
								<sequence>
									<element name="Name" type="mc160:OrganisationNameType" minOccurs="0"/>
									<sequence minOccurs="0">
										<element name="Type" type="mc160:OrganisationTypeType"/>
										<element name="Identifier" type="mc160:OrganisationIdentifierType"/>
									</sequence>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
</schema>
