etc/schemas/2022/01/01/SearchEndedDrugMedicationsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>

	<element name="SearchEndedDrugMedicationsResponse" type="mc160:SearchEndedDrugMedicationsResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response from a search request for ended drug medications</documentation>
			<documentation xml:lang="da-DK">Svar på en søge-forespørgsel efter afsluttede lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="SearchEndedDrugMedicationsResponseType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="Identifier" type="mc160:DrugMedicationIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
