etc/schemas/2022/01/01/SearchDeliverySitesResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<include schemaLocation="Organisation.xsd"/>

	<element name="SearchDeliverySitesResponse" type="mc160:SearchDeliverySitesResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response document for search for delivery sites associated with pharmacies</documentation>
			<documentation xml:lang="da-DK">Response-dokument fra søgning efter udleveringssteder tilknyttet apoteker</documentation>
		</annotation>
	</element>
	<complexType name="SearchDeliverySitesResponseType">
		<sequence>
            <element name="DeliverySiteAndAssociatedPharmacy" type="mc160:DeliverySiteAndPharmacy" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

    <complexType name="DeliverySiteAndPharmacy">
        <sequence>
            <element name="DeliverySite" type="mc160:OrganisationType"/>
            <element name="AssociatedPharmacy" type="mc160:OrganisationType"/>
        </sequence>
    </complexType>
</schema>