etc/schemas/2022/01/01/SearchRequestsForWarrantAndDetailsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<include schemaLocation="SearchRequestsForWarrantOrganisation.xsd"/>
	<include schemaLocation="SummarizeResults.xsd"/>
	<include schemaLocation="SubOrganisationsIncluded.xsd"/>
	<include schemaLocation="CreatedDateTime.xsd"/>
	<include schemaLocation="RequestForWarrantIdentifier.xsd"/>

	<element name="SearchRequestsForWarrantAndDetailsRequest" type="mc160:SearchRequestsForWarrantAndDetailsRequestType">
		<annotation>
			<documentation xml:lang="en-GB">An element for requesting requests for warrants given an organisation which is the prescribing organisation</documentation>
			<documentation xml:lang="da-DK">Et element til forespørgsel efter anmodninger om udleveringsgrundlag givet den anmodede organisation</documentation>
		</annotation>
	</element>

	<complexType name="SearchRequestsForWarrantAndDetailsRequestType">
		<sequence>
			<choice>
				<element name="OrderingOrganisation" type="mc160:SearchRequestsForWarrantOrganisationType"/>
				<element name="IssuerOrganisation" type="mc160:SearchRequestsForWarrantOrganisationType"/>
			</choice>
			<element name="SummarizeResults" type="mc160:SummarizeResultsType" minOccurs="0"/>
			<element name="IncludeSubOrganisations" type="mc160:SubOrganisationsIncludedType" minOccurs="0"/>
			<element name="RequestNotOlderThan" type="mc160:CreatedDateTimeType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
