etc/schemas/2022/01/01/SearchDispensingResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="EntityWithDispensing.xsd"/>

	<!-- TODO: Re-evaluate this service, will it be needed when substitutions are chosen at start of period? -->
	<element name="SearchDispensingResponse" type="mc160:SearchDispensingResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response with a list of dispensing</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar med en liste af dispenseringer</documentation>
		</annotation>
	</element>
	<complexType name="SearchDispensingResponseType">
		<sequence>
            <element name="EntityWithDispensing" type="mc160:EntityWithDispensingType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
