etc/schemas/2022/01/01/SearchTrackAndTraceEventsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="TrackAndTraceEventDetails.xsd"/>
	<include schemaLocation="Order.xsd"/>
	<include schemaLocation="DoseDispensingDeliveryStatus.xsd"/>

	<element name="SearchTrackAndTraceEventsResponse" type="mc160:SearchTrackAndTraceEventsResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a response for searching TrackAndTrace events</documentation>
			<documentation xml:lang="da-DK">Element for et svar for søgning efter TrackAndTrace-events</documentation>
		</annotation>
	</element>
	<complexType name="SearchTrackAndTraceEventsResponseType">
		<sequence>
			<element name="TrackAndTraceEvents" type="mc160:TrackAndTraceEventsType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<complexType name="TrackAndTraceEventsType">
		<sequence>
			<choice>
				<element name="Order" type="mc160:OrderType"/>
				<element name="DoseDispensingDeliveryAndStatus" type="mc160:DoseDispensingDeliveryStatusType"/>
			</choice>
			<element name="TrackAndTraceEvent" type="mc160:TrackAndTraceEventDetailsType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
