etc/schemas/2022/01/01/SearchOrdersRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="Organisation.xsd"/>
    <include schemaLocation="OrderedDateTime.xsd"/>
    <include schemaLocation="IncludeUnhandledOrders.xsd"/>
    <include schemaLocation="IncludeEffectuatedOrders.xsd"/>
    <include schemaLocation="IncludeCancelledOrders.xsd"/>

	<element name="SearchOrdersRequest" type="mc160:SearchOrdersRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document containing a documents for searching for orders by a given organisation</documentation>
			<documentation xml:lang="da-DK">Request-dokument et dokumenter til at søge efter bestillinger lavet af en given organisation</documentation>
		</annotation>
	</element>
	<complexType name="SearchOrdersRequestType">
		<sequence>
			<element name="OrderingOrganisation" type="mc160:OrganisationIdentifierType"/>
            <element name="IncludeUnhandledOrders" type="mc160:IncludeUnhandledOrdersType" minOccurs="0"/>
            <element name="IncludeEffectuatedOrders" type="mc160:IncludeEffectuatedOrdersType" minOccurs="0"/>
            <element name="IncludeCancelledOrders" type="mc160:IncludeCancelledOrdersType" minOccurs="0"/>
			<element name="CreatedSince" type="mc160:OrderedDateTimeType"/>
		</sequence>
	</complexType>
</schema>
