etc/schemas/2022/01/01/SearchedPersonWithDispensing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="Patient.xsd"/>
	<include schemaLocation="SearchedDispensingSummary.xsd"/>

	<!-- TODO: Part of service under eval -->
	<element name="SearchedPersonWithDispensing" type="mc160:SearchedPersonWithDispensingType">
		<annotation>
			<documentation xml:lang="en-GB">Search result element containing ids for a dispensing</documentation>
			<documentation xml:lang="da-DK">Element i søgeresultat indeholdende id'er for en dispensering</documentation>
		</annotation>
	</element>
	<complexType name="SearchedPersonWithDispensingType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="Patient" type="mc160:PatientType"/>
			</choice>
			<element name="DispensingSummary" type="mc160:SearchedDispensingSummaryType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
