etc/schemas/2022/01/01/SearchEndedDrugMedicationsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="EndedDateTime.xsd"/>

	<element name="SearchEndedDrugMedicationsRequest" type="mc160:SearchEndedDrugMedicationsRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a search request for ended drug medications</documentation>
			<documentation xml:lang="da-DK">Element for en søge-forespørgsel efter afsluttede lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="SearchEndedDrugMedicationsRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="DateTime" type="dateTime" minOccurs="0"/>
			<element name="EndedAfterDateTime" type="mc160:EndedDateTimeType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
