etc/schemas/2022/01/01/SearchPlannedDispensingResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonWithPlannedDispensing.xsd"/>

	<!-- TODO: Re-evaluate this service, will it be needed when substitutions are chosen at start of period? -->
	<element name="SearchPlannedDispensingResponse" type="mc160:SearchPlannedDispensingResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response with a list of Planned dispensing</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar med en liste af planlagte dispenseringer</documentation>
		</annotation>
	</element>
	<complexType name="SearchPlannedDispensingResponseType">
		<sequence>
            <element name="PersonWithPlannedDispensing" type="mc160:PersonWithPlannedDispensingType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
