etc/schemas/2022/01/01/SearchEffectuationsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="EffectuationDateTime.xsd"/>

	<element name="SearchEffectuationsRequest" type="mc160:SearchEffectuationsRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a request for effectuations</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel efter effektueringer</documentation>
		</annotation>
	</element>
	<complexType name="SearchEffectuationsRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
			<element name="FromDateTime" type="mc160:EffectuationDateTimeType" minOccurs="0"/>
			<element name="ToDateTime" type="mc160:EffectuationDateTimeType" minOccurs="0"/>
			<element name="IncludeEffectuationsOnDrugMedications" type="boolean" minOccurs="0"/>
			<element name="IncludeEffectuationsOnWarrantsOnDrugMedications" type="boolean" minOccurs="0"/>
			<element name="IncludeEffectuationsNotOnDrugMedications" type="boolean" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
