etc/schemas/2022/01/01/SearchEffectuationsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="HandoverDateTime.xsd"/>
	<include schemaLocation="IncludeEffectuationsOnAttachedWarrants.xsd"/>
	<include schemaLocation="IncludeEffectuationsOnLooseWarrants.xsd"/>

	<element name="SearchEffectuationsRequest" type="mc160:SearchEffectuationsRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a request for effectuations</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel efter effektueringer</documentation>
		</annotation>
	</element>
	<complexType name="SearchEffectuationsRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
			<element name="FromDateTime" type="mc160:HandoverDateTimeType" minOccurs="0"/>
			<element name="ToDateTime" type="mc160:HandoverDateTimeType" minOccurs="0"/>
			<element name="IncludeEffectuationsOnAttachedWarrants" type="mc160:IncludeEffectuationsOnAttachedWarrantsType" minOccurs="0"/>
			<element name="IncludeEffectuationsOnLooseWarrants" type="mc160:IncludeEffectuationsOnLooseWarrantsType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
