etc/schemas/2022/01/01/SearchMedicineCardResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PrescriptionSearchResult.xsd"/>

	<element name="SearchMedicineCardResponse" type="mc160:SearchMedicineCardResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a response containing details from a prescription search for a person matching the input</documentation>
			<documentation xml:lang="da-DK">Element for en resultat af en forespørgsel på recepter på en person som matcher det originale input</documentation>
		</annotation>
	</element>
	<complexType name="SearchMedicineCardResponseType">
		<sequence>
			<element name="PrescriptionSearchResult" type="mc160:PrescriptionSearchResultType" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>
</schema>
