etc/schemas/2022/01/01/SearchPrescriptionRequestsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="SearchPrescriptionRequestsMoreAvailable.xsd"/>
	<include schemaLocation="SearchPrescriptionRequestsPatient.xsd"/>

	<element name="SearchPrescriptionRequestsResponse" type="mc160:SearchPrescriptionRequestsResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response to prescription requests request</documentation>
			<documentation xml:lang="da-DK">Svar på forespørgsel efter receptbestillinger</documentation>
		</annotation>
	</element>
	<complexType name="SearchPrescriptionRequestsResponseType">
		<sequence>
			<element name="Patient" type="mc160:SearchPrescriptionRequestsPatientType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MoreAvailable" type="mc160:SearchPrescriptionRequestsMoreAvailableType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
