etc/schemas/2022/01/01/SecondaryHandoverAmount.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="DoseQuantity.xsd"/>
    <include schemaLocation="PackageSizeUnitCode.xsd"/>
    <include schemaLocation="PackageSizeUnitText.xsd"/>

	<element name="SecondaryHandoverAmount" type="mc160:SecondaryHandoverAmountType">
		<annotation>
			<documentation xml:lang="en-GB">The amount that has been handed over in a secondary handover</documentation>
			<documentation xml:lang="da-DK">Den udleverede mængde i en sekundær udlevering</documentation>
		</annotation>
	</element>
	<complexType name="SecondaryHandoverAmountType">
		<sequence>
            <element name="DoseQuantity" type="mc160:DoseQuantityType"/>
            <element name="UnitCode" type="mc160:PackageSizeUnitCodeType"/>
            <element name="UnitText" type="mc160:PackageSizeUnitTextType"/>
		</sequence>
	</complexType>
</schema>
