etc/schemas/2022/01/01/SetPackingFinished.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<include schemaLocation="DoseDispensingPeriodIdentifier.xsd"/>
	<include schemaLocation="DoseDispensingProductionIdentifier.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>

	<element name="SetPackingFinished" type="mc160:SetPackingFinishedType">
		<annotation>
			<documentation xml:lang="en-GB">Element for finishing the packing of a dosedispensed period</documentation>
			<documentation xml:lang="da-DK">Element for afslutning af pakning af en dosisdispenseret periode</documentation>
		</annotation>
	</element>

	<complexType name="SetPackingFinishedType">
		<sequence>
			<element name="DoseDispensingPeriodIdentifier" type="mc160:DoseDispensingPeriodIdentifierType"/>
			<element name="DoseDispensingProductionIdentifier" type="mc160:DoseDispensingProductionIdentifierType" minOccurs="0"/>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
