etc/schemas/2022/01/01/SimpleCPRPerson.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="PersonName.xsd"/>
	<include schemaLocation="PersonNameProtected.xsd"/>
	<include schemaLocation="BirthDate.xsd"/>
	<include schemaLocation="Gender.xsd"/>

	<element name="SimpleCPRPerson" type="mc160:SimpleCPRPersonType"/>
	<complexType name="SimpleCPRPersonType">
		<annotation>
			<documentation xml:lang="en-GB">Information about a person with known CPR</documentation>
			<documentation xml:lang="da-DK">Oplysninger om en person med kendt CPR</documentation>
		</annotation>
		<sequence>
			<element name="Name" type="mc160:PersonNameType" minOccurs="0"/>
			<element name="NameProtected" type="mc160:PersonNameProtectedType" minOccurs="0"/>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="BirthDate" type="mc160:BirthDateType"/>
			<element name="Gender" type="mc160:GenderType"/>
		</sequence>
	</complexType>
</schema>
