etc/schemas/2022/01/01/SimplePersonWithoutCPR.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="PersonName.xsd"/>
	<include schemaLocation="BirthDate.xsd"/>
	<include schemaLocation="Gender.xsd"/>
	
	<element name="SimplePersonWithoutCPR" type="mc160:SimplePersonWithoutCPRType"/>
	<complexType name="SimplePersonWithoutCPRType">
		<annotation>
			<documentation xml:lang="en-GB">Information about a person without known CPR</documentation>
			<documentation xml:lang="da-DK">Oplysninger om en person uden kendt CPR</documentation>
		</annotation>
		<sequence>
			<element name="Name" type="mc160:PersonNameType"/>
			<element name="BirthDate" type="mc160:BirthDateType"/>
			<element name="Gender" type="mc160:GenderType"/>
		</sequence>
	</complexType>
</schema>
