etc/schemas/2022/01/01/SingleDosageHandOver.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="DoseQuantity.xsd"/>
	<include schemaLocation="DosageQuantityUnitText.xsd"/>
	<include schemaLocation="Drug.xsd"/>

	<complexType name="SingleDosageHandOverType">
		<annotation>
			<documentation xml:lang="en-GB">Details for treatment handover via single dosage</documentation>
			<documentation xml:lang="da-DK">Detaljer for udlevering ved behandling i form af enkelt dosis</documentation>
		</annotation>
        <sequence>
            <element name="DoseQuantity" type="mc160:DoseQuantityType"/>
            <element name="DosageQuantityUnitText" type="mc160:DosageQuantityUnitTextType"/>
            <element name="SubstitutedDrug" type="mc160:DrugType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
