etc/schemas/2022/01/01/Source.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<attribute name="Source" type="mc160:UndefinedSourceType">
		<!-- TODO: What is this class for? add to EnumerationValues if need be -->
		<annotation>
			<documentation xml:lang="en-GB">An identification of the source which defines the content</documentation>
			<documentation xml:lang="da-DK">En identifikation af kilden hvor indholdet er defineret</documentation>
		</annotation>
	</attribute>
	<simpleType name="UndefinedSourceType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="200"/>
		</restriction>
	</simpleType>
    <simpleType name="ExtendedLocalSourceType">
        <restriction base="mc160:UndefinedSourceType">
            <pattern value="Local:.*"/>
        </restriction>
    </simpleType>
</schema>
