etc/schemas/2022/01/01/StartEffectuationOfDispensingPeriodRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="IsPreflight.xsd"/>
	<include schemaLocation="StartEffectuationOfDispensingPeriod.xsd"/>
	<include schemaLocation="CreateDispensingPeriod.xsd"/>
	<include schemaLocation="DispensingPeriodStartDate.xsd"/>
	<include schemaLocation="DispensingPeriodEndDate.xsd"/>
	<include schemaLocation="ExpectedDeliveryDateTime.xsd"/>

	<element name="StartEffectuationOfDispensingPeriodRequest" type="mc160:StartEffectuationOfDispensingPeriodRequestType">
		<annotation>
			<documentation xml:lang="en-GB">A request to start effectuation for an entire dispensing period</documentation>
			<documentation xml:lang="da-DK">Et request som påbegynder udlevering for alt i en dispensing periode</documentation>
		</annotation>
	</element>
	<complexType name="StartEffectuationOfDispensingPeriodRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="ModifiedBy" type="mc160:ModificatorType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="IsPreflight" type="mc160:IsPreflightType" minOccurs="0"/>
			<element name="StartEffectuationOfDispensingPeriod" type="mc160:StartEffectuationOfDispensingPeriodType" maxOccurs="unbounded"/>
			<element name="RequestedPeriod" minOccurs="0">
				<complexType>
					<sequence>
						<element name="StartDate" type="mc160:DispensingPeriodStartDateType"/>
						<element name="EndDate" type="mc160:DispensingPeriodEndDateType"/>
						<element name="ExpectedDelivery" type="mc160:ExpectedDeliveryDateTimeType" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>
</schema>
