etc/schemas/2022/01/01/StartEffectuationOfDispensingPeriod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <include schemaLocation="ModificationMetadata.xsd"/>
    <include schemaLocation="DispensingPeriodIdentifier.xsd"/>
    <include schemaLocation="DispensingPeriodVersion.xsd"/>
    <include schemaLocation="PlannedAdministrationSubstitution.xsd"/>
    <include schemaLocation="UseDraftSubstitution.xsd"/>

    <complexType name="StartEffectuationOfDispensingPeriodType">
        <annotation>
            <documentation xml:lang="en-GB">Element used part of a request to start effectuation of a dispensing period</documentation>
            <documentation xml:lang="da-DK">Element benyttet som del af en forespørgsel til at påbegynde effektuering af en dispensingsperiode</documentation>
        </annotation>
        <sequence>
            <element name="DispensingPeriodIdentifier" type="mc160:DispensingPeriodIdentifierType"/>
            <element name="DispensingPeriodVersion" type="mc160:DispensingPeriodVersionType"/>
            <choice>
                <element name="UseDraftSubstitutions" type="mc160:UseDraftSubstitutionsFlagType" minOccurs="0"/>
                <element name="PlannedAdministrationSubstitutions" type="mc160:PlannedAdministrationSubstitutionType" minOccurs="0" maxOccurs="unbounded"/>
            </choice>
            <element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
