etc/schemas/2022/01/01/StartOrderHandlingRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

  <include schemaLocation="PersonIdentifier.xsd"/>
  <include schemaLocation="OrganisationIdentifier.xsd"/>
  <include schemaLocation="Modificator.xsd"/>
  <include schemaLocation="WarrantIdentifier.xsd"/>
  <include schemaLocation="ModificationMetadata.xsd"/>

  <element name="StartOrderHandlingRequest" type="mc160:StartOrderHandlingRequestType">
    <annotation>
      <documentation xml:lang="en-GB">A request to start an order at a pharmacy. Status will change from 'bestilt' to 'ekspedition påbegyndt'.</documentation>
      <documentation xml:lang="da-DK">Et request som påbegynder en bestilling på et apotek. Status ændres fra 'bestilt' til 'ekspedition påbegyndt'.
      </documentation>
    </annotation>
  </element>
  <complexType name="StartOrderHandlingRequestType">
    <sequence>
      <choice>
        <element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
        <element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
      </choice>
      <element name="ModifiedBy" type="mc160:ModificatorType"/>
      <element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
      <element name="OrderedAtPharmacy" type="mc160:OrganisationType"/>
      <element name="Warrant" type="mc160:WarrantIdentifierWithMetadata" maxOccurs="unbounded">
      </element>
    </sequence>
  </complexType>
  <complexType name="WarrantIdentifierWithMetadata">
    <sequence>
      <element name="Identifier" type="mc160:WarrantIdentifierType"/>
      <element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
</schema>
