etc/schemas/2022/01/01/StartEffectuationOfDoseDispensingPeriodRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="IsPreflight.xsd"/>
	<include schemaLocation="DoseDispensingPeriodStatusChange.xsd"/>

	<element name="StartEffectuationOfDoseDispensingPeriodRequest" type="mc160:StartEffectuationOfDoseDispensingPeriodRequestType">
		<annotation>
			<documentation xml:lang="en-GB">A request to start effectuation for an entire DD period</documentation>
			<documentation xml:lang="da-DK">Et request som påbegynder udlevering for alt i en DD periode</documentation>
		</annotation>
	</element>
	<complexType name="StartEffectuationOfDoseDispensingPeriodRequestType">
		<sequence>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded" />
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="ModifiedBy" type="mc160:ModificatorType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="IsPreflight" type="mc160:IsPreflightType" minOccurs="0"/>
			<element name="StartEffectuationOfDoseDispensingPeriod" type="mc160:DoseDispensingPeriodStatusChangeType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
