etc/schemas/2022/01/01/StartEffectuationOfDispensingPeriodResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="StartedEffectuationOfDispensingPeriod.xsd"/>

	<element name="StartEffectuationOfDispensingPeriodResponse" type="mc160:StartEffectuationOfDispensingPeriodResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response from a for a request to start effectuation for an entire dispensing period</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar på en request som påbegynder udlevering for alt i en dispensing periode</documentation>
		</annotation>
	</element>
	<complexType name="StartEffectuationOfDispensingPeriodResponseType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="StartedEffectuationOfDispensingPeriod" type="mc160:StartedEffectuationOfDispensingPeriodType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
