etc/schemas/2022/01/01/StartHandlingOfDispensingPeriodResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="StartedHandlingOfDispensingPeriod.xsd"/>

	<element name="StartHandlingOfDispensingPeriodResponse" type="mc160:StartHandlingOfDispensingPeriodResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response from a for a request to start handling for an entire dispensing period</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar på en request som påbegynder håndteringen for alt i en dispensing periode</documentation>
		</annotation>
	</element>
	<complexType name="StartHandlingOfDispensingPeriodResponseType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="StartedHandlingOfDispensingPeriod" type="mc160:StartedHandlingOfDispensingPeriodType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
