etc/schemas/2022/01/01/StartedEffectuationOfDoseDispensingPeriod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

	<include schemaLocation="DoseDispensingPeriodIdentifier.xsd"/>
	<include schemaLocation="DoseDispensingPeriodStatusChange.xsd"/>
	<include schemaLocation="PlannedDispensingIdentifier.xsd"/>
	<include schemaLocation="DoseDispensingWarning.xsd"/>

	<complexType name="StartedEffectuationOfDoseDispensingPeriodType">
		<annotation>
			<documentation xml:lang="en-GB">Result of starting effectuation for an entire DD period</documentation>
			<documentation xml:lang="da-DK">Resultat af påbegynd ekspedition af dd periode</documentation>
		</annotation>
		<sequence>
			<element name="DoseDispensingPeriodIdentifier" type="mc160:DoseDispensingPeriodIdentifierType"/>
     		<element name="DoseDispensingPeriodStatus" type="mc160:DoseDispensingStatusType" />
     		<element name="PlannedDispensing" minOccurs="0" maxOccurs="unbounded">
     			<complexType>
	     			<sequence>
			        	<element name="Identifier" type="mc160:PlannedDispensingIdentifierType"/>
			        	<!-- Warnings that relate to individual medications for one planned dispensing -->
			            <element name="Warning" type="mc160:DoseDispensingWarningType" minOccurs="0" maxOccurs="unbounded"/>
	     			</sequence>
     			</complexType>
     		</element>
     		<!-- Warnings that relate to the period as a whole -->
            <element name="Warning" type="mc160:DoseDispensingWarningType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
