etc/schemas/2022/01/01/StartOrderHandlingResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="Organisation.xsd"/>
	<include schemaLocation="Warrant.xsd"/>
	<include schemaLocation="WarrantError.xsd"/>
	
	<element name="StartOrderHandlingResponse" type="mc160:StartOrderHandlingResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response for the request to start orders on one or more warrants</documentation>
			<documentation xml:lang="da-DK">Svar på forespørgsel på at påbegynde bestilling af et eller flere udleveringsgrundlag</documentation>
		</annotation>
	</element>
	<complexType name="StartOrderHandlingResponseType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
            <choice>
                <element name="Warrant" type="mc160:WarrantType" minOccurs="0" maxOccurs="unbounded"/>
                <element name="WarrantAndOrderIdentifier" type="mc160:WarrantAndOrderIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
            </choice>
			<element name="StartOrderFailed" type="mc160:WarrantErrorType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

    <complexType name="WarrantAndOrderIdentifierType">
        <annotation>
            <documentation xml:lang="en-GB">A warrant identifier along with any corresponding order identifiers</documentation>
            <documentation xml:lang="da-DK">En identifier på udleveringsgrundlag med eventuelle tilhørende bestillingsidentifiers</documentation>
        </annotation>
        <sequence>
            <element name="WarrantIdentifier" type="mc160:WarrantIdentifierType"/>
            <element name="OrderIdentifier" type="mc160:OrderIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
