etc/schemas/2022/01/01/StartEffectuationOfDispensingPeriod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <include schemaLocation="ModificationMetadata.xsd"/>
    <include schemaLocation="DispensingPeriodIdentifier.xsd"/>
    <include schemaLocation="PlannedAdministrationIdentifier.xsd"/>
    <include schemaLocation="Drug.xsd"/>
    <include schemaLocation="UsePreviousPeriodSubstitutions.xsd"/>

    <complexType name="StartEffectuationOfDispensingPeriodType">
        <annotation>
            <documentation xml:lang="en-GB">Element used part of a request to start effectuation of a dispensing period</documentation>
            <documentation xml:lang="da-DK">Element benyttet som del af en forespørgsel til at påbegynde effektuering af en dispensingsperiode</documentation>
        </annotation>
        <sequence>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded" />
            <element name="DispensingPeriodIdentifier" type="mc160:DispensingPeriodIdentifierType"/>
            <element name="UsePreviousPeriodSubstitutions" type="mc160:UsePreviousPeriodSubstitutionsFlagType" minOccurs="0"/>
            <element name="PlannedAdministrationSubstitutions" minOccurs="0">
                <complexType>
                    <sequence>
                        <element name="PlannedAdministrationIdentifier" type="mc160:PlannedAdministrationIdentifierType"/>
                        <element name="Substitution" type="mc160:DrugType"/>
                    </sequence>
                </complexType>
            </element>

        </sequence>
    </complexType>
</schema>
