etc/schemas/2022/01/01/StructuredDosageForRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="DosagePeriodForRequest.xsd"/>
	<include schemaLocation="EmptyDosageStructure.xsd"/>
	<include schemaLocation="AsSoonAsPossible.xsd"/>
	<include schemaLocation="Precondition.xsd"/>
	<include schemaLocation="DosageUnit.xsd"/>
	<include schemaLocation="DosageParameter.xsd"/>
	<include schemaLocation="IsSelfAdministration.xsd"/>

	<element name="StructuredDosageForRequest" type="mc160:StructuredDosageForRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Description of the dosage times of a treatment</documentation>
			<documentation xml:lang="da-DK">Beskrivelse af doseringstidspunkter for en behandling</documentation>
		</annotation>
	</element>
	<complexType name="StructuredDosageForRequestType">
		<sequence>
			<element name="IsSelfAdministration" type="mc160:IsSelfAdministrationType" minOccurs="0"/>
			<element name="Precondition" type="mc160:PreconditionType"/>

			<element name="DosageUnit" type="mc160:DosageUnitType"/>
			<element name="Parameter" type="mc160:DosageParameterType" minOccurs="0"/>

			<element name="DosagePeriod" type="mc160:DosagePeriodForRequestType" maxOccurs="100"/>
		</sequence>
	</complexType>
</schema>
