etc/schemas/2022/01/01/StructuredDosageForRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="DosagePeriodForRequest.xsd"/>
	<include schemaLocation="EmptyDosageStructure.xsd"/>
	<include schemaLocation="AsSoonAsPossible.xsd"/>
	<include schemaLocation="Precondition.xsd"/>
	<include schemaLocation="DosageUnit.xsd"/>
	<include schemaLocation="DosageParameter.xsd"/>

	<element name="StructuredDosageForRequest" type="mc160:StructuredDosageForRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Description of the dosage times of a treatment</documentation>
			<documentation xml:lang="da-DK">Beskrivelse af doseringstidspunkter for en behandling</documentation>
		</annotation>
	</element>
	<complexType name="StructuredDosageForRequestType">
		<sequence>
			<choice>
				<element name="IsFixedDosage"/>
				<element name="IsAccordingToNeed"/>
			</choice>
			<element name="IsSelfAdministration" minOccurs="0"/>
			<element name="Precondition" type="mc160:PreconditionType"/>

			<element name="DosageUnit" type="mc160:DosageUnitType"/>
			<element name="Parameter" type="mc160:DosageParameterType" minOccurs="0"/>

			<!-- TODO: Hvor placeres EmptyPeriod ?? -->

			<choice minOccurs="1" maxOccurs="100">
				<element name="DosagePeriod" type="mc160:DosagePeriodForRequestType"/>
				<element name="EmptyPeriod" type="mc160:EmptyDosageStructureType"/>
			</choice>
			<element name="AsSoonAsPossible" type="mc160:AsSoonAsPossibleType" minOccurs="0"/>	<!-- TODO: relevant? -->
		</sequence>
	</complexType>
</schema>
