etc/schemas/2022/01/01/StructuredDosageForRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="DosagePeriodForRequest.xsd"/>
	<include schemaLocation="EmptyDosageStructure.xsd"/>
	<include schemaLocation="AsSoonAsPossible.xsd"/>
	<include schemaLocation="Precondition.xsd"/>
	<include schemaLocation="DosageQuantityUnitText.xsd"/>
	<include schemaLocation="DosageQuantityUnitTexts.xsd"/>

	<element name="StructuredDosageForRequest" type="mc160:StructuredDosageForRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Description of the dosage times of a treatment</documentation>
			<documentation xml:lang="da-DK">Beskrivelse af doseringstidspunkter for en behandling</documentation>
		</annotation>
	</element>
	<complexType name="StructuredDosageForRequestType">
		<sequence>
			<choice>
				<element name="IsFixedDosage" type="mc160:IsFixedDosageFlagType"/>
				<element name="IsAccordingToNeed" type="mc160:IsAccordingToNeedFlagType"/>
			</choice>
			<element name="IsSelfAdministration" type="mc160:IsSelfAdministrationFlagType" minOccurs="0"/>
			<element name="Precondition" type="mc160:PreconditionType"/>

			<choice>
				<element name="UnitText" type="mc160:DosageQuantityUnitTextType"/>
				<element name="UnitTexts" type="mc160:DosageQuantityUnitTextsType"/>
			</choice>

			<choice minOccurs="1" maxOccurs="100">
				<element name="DosagePeriod" type="mc160:DosagePeriodForRequestType"/>
				<element name="EmptyPeriod" type="mc160:EmptyDosageStructureType"/>
			</choice>
			<element name="AsSoonAsPossible" type="mc160:AsSoonAsPossibleType" minOccurs="0"/>	<!-- TODO: relevant? -->
		</sequence>
	</complexType>
	<complexType name="IsFixedDosageFlagType"/>
	<complexType name="IsAccordingToNeedFlagType"/>
	<complexType name="IsSelfAdministrationFlagType"/>
</schema>
