etc/schemas/2022/01/01/SubstanceText.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="Source.xsd"/>
	<include schemaLocation="SourceDate.xsd"/>
	<include schemaLocation="SourceYearAndWeek.xsd"/>
	
	<element name="SubstanceText" type="mc160:SubstanceTextType">
		<annotation>
			<documentation xml:lang="en-GB">Contains one active substance text</documentation>
			<documentation xml:lang="da-DK">Indeholder en enkelt aktiv substans tekst</documentation>
		</annotation>
	</element>
	<complexType name="SubstanceTextType">
		<simpleContent>
			<extension base="mc160:SubstanceTextValueType">
				<attribute name="source" type="mc160:SubstanceTextSourceType" use="required"/>
				<attribute name="date" type="mc160:SourceDateType" use="optional"/>
				<attribute name="yearAndWeek" type="mc160:SourceYearAndWeekType" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="SubstanceTextValueType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="150"/>
		</restriction>
	</simpleType>
	<simpleType name="SubstanceTextSourceType">
		<union memberTypes="mc160:SubstanceTextPredefinedSourceType mc160:UndefinedSourceType mc160:ExtendedLocalSourceType"/>
	</simpleType>
	<simpleType name="SubstanceTextPredefinedSourceType">
		<restriction base="mc160:UndefinedSourceType">
			<enumeration value="Medicinpriser"/>
			<enumeration value="Local"/>
            <enumeration value="Magistrel"/>
            <enumeration value="Stærke vitaminer m.v."/>
        </restriction>
	</simpleType>
</schema>
