etc/schemas/2022/01/01/Substance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="SubstanceIdentifier.xsd"/>
	<include schemaLocation="DrugStrength.xsd"/>
	<include schemaLocation="AdditionalDrugName.xsd"/>
	<include schemaLocation="DrugForm.xsd"/>
	<include schemaLocation="DrugName.xsd"/>
	<include schemaLocation="ATC.xsd"/>

	<element name="Substance" type="mc160:SubstanceType">
		<annotation>
			<documentation xml:lang="en-GB">Contains a number of substances</documentation>
			<documentation xml:lang="da-DK">Indeholder et antal substanser</documentation>
		</annotation>
	</element>
	<complexType name="SubstanceType">
		<sequence>
			<element name="Identifier" type="mc160:SubstanceIdentifierType" minOccurs="0"/>
			<element name="Name" type="mc160:DrugNameType"/>
			<element name="AdditionalName" type="mc160:AdditionalDrugNameType" minOccurs="0" maxOccurs="20"/>
			<element name="ATC" type="mc160:ATCType" minOccurs="0"/>
			<element name="Form" type="mc160:DrugFormType" minOccurs="0"/>
			<element name="Strength" type="mc160:DrugStrengthType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
