etc/schemas/2022/01/01/Substance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="SubstanceCode.xsd"/>
    <include schemaLocation="SubstanceTextWithoutSource.xsd"/>
    <include schemaLocation="SubstanceText.xsd"/>
    <include schemaLocation="SubstanceFreeText.xsd"/>

	<element name="Substance" type="mc160:SubstanceType">
		<annotation>
			<documentation xml:lang="en-GB">Contains a number of substances</documentation>
			<documentation xml:lang="da-DK">Indeholder et antal substanser</documentation>
		</annotation>
	</element>
	<complexType name="SubstanceType">
        <choice>
            <sequence>
                <element name="Code" type="mc160:SubstanceCodeType"/>
                <element name="Text" type="mc160:SubstanceTextWithoutSourceType"/>
            </sequence>
            <element name="SubstanceText" type="mc160:SubstanceTextType"/>
            <element name="FreeText" type="mc160:SubstanceFreeTextType"/>
        </choice>
	</complexType>
</schema>
