etc/schemas/2022/01/01/SubstitutePackagedDrugResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="PackagedDrugSubstitution.xsd"/>

	<element name="SubstitutePackagedDrugResponse" type="mc160:SubstitutePackagedDrugResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response from selecting packaged drugs for a dose dispensing period</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar på valg af lægemidler der skal pakkes i en given DD periode</documentation>
		</annotation>
	</element>
	<complexType name="SubstitutePackagedDrugResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
        	<element name="PackagedDrugSubstitution" type="mc160:PackagedDrugSubstitutionType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
