etc/schemas/2022/01/01/TerminateWarrantRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="WarrantToTerminate.xsd"/>

	<element name="TerminateWarrantRequest" type="mc160:TerminateWarrantRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Mark one or more warrants terminated</documentation>
			<documentation xml:lang="da-DK">Marker at et eller flere udleveringsgrundlag er afsluttet</documentation>
		</annotation>
	</element>
	<complexType name="TerminateWarrantRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="ModifiedBy" type="mc160:ModificatorType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="Warrant" type="mc160:WarrantToTerminateType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
