etc/schemas/2022/01/01/TerminatePrescriptionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="PrescriptionToTerminate.xsd"/>

	<element name="TerminatePrescriptionRequest" type="mc160:TerminatePrescriptionRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Mark one or more prescriptions as terminated</documentation>
			<documentation xml:lang="da-DK">Marker at en eller flere recepter er afsluttet</documentation>
		</annotation>
	</element>
	<complexType name="TerminatePrescriptionRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="ModifiedBy" type="mc160:ModificatorType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="Prescription" type="mc160:PrescriptionToTerminateType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
