etc/schemas/2022/01/01/TerminatePrescriptionResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="PrescriptionIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>

	<element name="TerminatePrescriptionResponse" type="mc160:TerminatePrescriptionResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Service response on successfully terminating a Prescription </documentation>
			<documentation xml:lang="da-DK">Service svar ved en gennemført afslutning af en Recept</documentation>
		</annotation>
	</element>
	<complexType name="TerminatePrescriptionResponseType">
		<sequence>
			<sequence>
				<choice>
					<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
					<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
				</choice>
				<element name="PrescriptionIdentifier" type="mc160:PrescriptionIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</sequence>
	</complexType>
</schema>
