etc/schemas/2022/01/01/TimeBetweenDoses.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<element name="TimeBetweenDoses" type="mc160:TimeBetweenDosesType">
		<annotation>
			<documentation xml:lang="en-GB">Dosage quantity, numerical value (DMA01 field 11)</documentation>
			<documentation xml:lang="da-DK">Medicinmængde, numerisk værdi (LMS01 felt 11)</documentation>
		</annotation>
	</element>
<complexType name="TimeBetweenDosesType">
	<sequence>
		<element name="Time" type="mc160:TimeValueBetweenType"/>
		<element name="TimeUnit" type="mc160:TimeUnitBetweenType"/>
	</sequence>
</complexType>

	<simpleType name="TimeValueBetweenType">
		<restriction base="int">
			<minInclusive value="1"/>
		</restriction>
	</simpleType>

	<simpleType name="TimeUnitBetweenType">
		<annotation>
			<documentation xml:lang="en-GB">Indicated a drugmedication has ended</documentation>
			<documentation xml:lang="da-DK">Indikere at ordinationen er udløbet</documentation>
		</annotation>
		<union memberTypes="mc160:PredefinedTimeUnitBetweenType mc160:UndefinedTimeUnitBetweenType"/>
	</simpleType>
	<simpleType name="PredefinedTimeUnitBetweenType">
		<restriction base="mc160:UndefinedTimeUnitBetweenType">
			<enumeration value="sekunder"/>
			<enumeration value="minutter"/>
			<enumeration value="timer"/>
			<enumeration value="døgn"/>
		</restriction>
	</simpleType>
	<simpleType name="UndefinedTimeUnitBetweenType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="100"/>
		</restriction>
	</simpleType>

</schema>
