etc/schemas/2022/01/01/TimedDose.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="DoseQuantity.xsd"/>

	<element name="TimedDose" type="mc160:TimedDoseType">
		<annotation>
			<documentation xml:lang="en-GB">Description of a dose element, that must be applied at a specific time</documentation>
			<documentation xml:lang="da-DK">Beskrivelse af en dosis der skal anvendes på et givet tidspunkt</documentation>
		</annotation>
	</element>
	<complexType name="TimedDoseType">
		<sequence>
			<element name="Time" type="mc160:TimedDoseTimeType"/>
			<choice>
				<element name="Quantity" type="mc160:DoseQuantityType"/>
				<sequence>
					<element name="MinimalQuantity" type="mc160:DoseQuantityType"/>
					<element name="MaximalQuantity" type="mc160:DoseQuantityType"/>
				</sequence>
			</choice>
		</sequence>
	</complexType>
	<simpleType name="TimedDoseTimeType">
		<restriction base="string">
			<pattern value="(([0-1][0-9])|(2[0-3])):[0-5][0-9]"/>
		</restriction>
	</simpleType>
</schema>
