etc/schemas/2022/01/01/TrackAndTraceEventDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="Modificator.xsd"/>
    <include schemaLocation="ShipmentIdentifier.xsd"/>
    <include schemaLocation="OrderIdentifier.xsd"/>
    <include schemaLocation="DispensingPeriodIdentifier.xsd"/>
    <include schemaLocation="DrugMedicationIdentifier.xsd"/>
    <include schemaLocation="TrackAndTraceEventIdentifier.xsd"/>
    <include schemaLocation="TrackAndTraceEventType.xsd"/>
    <include schemaLocation="TrackAndTraceEventDateTime.xsd"/>
    <include schemaLocation="TrackAndTraceEventFreetext.xsd"/>
    <include schemaLocation="ShipmentDeliveryDate.xsd"/>
    <include schemaLocation="Order.xsd"/>
    <include schemaLocation="DoseDispensingDeliveryStatus.xsd"/>

    <element name="TrackAndTraceEventDetails" type="mc160:TrackAndTraceEventDetailsType">
        <annotation>
            <documentation xml:lang="en-GB">Details of an event for TrackAndTrace, optionally including details on orders</documentation>
            <documentation xml:lang="da-DK">Detaljer for et event i TrackAndTrace, valgfrit inkluderende detaljer om bestillinger</documentation>
        </annotation>
    </element>
    <complexType name="TrackAndTraceEventDetailsType">
        <sequence>
            <element name="TrackAndTraceEventIdentifier" type="mc160:TrackAndTraceEventIdentifierType"/>
            <element name="EventDateTime" type="mc160:TrackAndTraceEventDateTimeType"/>
            <element name="OrderedAtPharmacy" type="mc160:OrganisationType"/>
            <choice>
                <element name="ShipmentIdentifier" type="mc160:ShipmentIdentifierType"/>
                <element name="OrderIdentifier" type="mc160:OrderIdentifierType"/>
                <element name="DispensingPeriodIdentifier" type="mc160:DispensingPeriodIdentifierType"/>
            </choice>
            <element name="EventType" type="mc160:TrackAndTraceEventTypeType"/>
            <element name="ExpectedDeliveryDate" type="mc160:ShipmentDeliveryDateType"/>
            <element name="Freetext" type="mc160:TrackAndTraceEventFreetextType" minOccurs="0"/>
            <element name="Order" type="mc160:OrderType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="DoseDispensingDeliveryAndStatus" type="mc160:DoseDispensingDeliveryStatusType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>