etc/schemas/2022/01/01/TrackAndTraceEvent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="Modificator.xsd"/>
    <include schemaLocation="ShipmentIdentifier.xsd"/>
    <include schemaLocation="OrderIdentifier.xsd"/>
    <include schemaLocation="DispensingPeriodIdentifier.xsd"/>
    <include schemaLocation="TrackAndTraceEventIdentifier.xsd"/>
    <include schemaLocation="TrackAndTraceEventType.xsd"/>
    <include schemaLocation="TrackAndTraceEventDateTime.xsd"/>
    <include schemaLocation="TrackAndTraceEventFreetext.xsd"/>

    <element name="TrackAndTraceEvent" type="mc160:TrackAndTraceEventType">
        <annotation>
            <documentation xml:lang="en-GB">An event for TrackAndTrace</documentation>
            <documentation xml:lang="da-DK">Et event i TrackAndTrace</documentation>
        </annotation>
    </element>
    <complexType name="TrackAndTraceEventType">
        <sequence>
            <element name="TrackAndTraceEventIdentifier" type="mc160:TrackAndTraceEventIdentifierType"/>
            <element name="EventDateTime" type="mc160:TrackAndTraceEventDateTimeType"/>
            <element name="OrderedAtPharmacy" type="mc160:OrganisationIdentifierType"/>
            <choice>
                <element name="ShipmentIdentifier" type="mc160:ShipmentIdentifierType"/>
                <element name="OrderIdentifier" type="mc160:OrderIdentifierType"/>
                <element name="DispensingPeriodIdentifier" type="mc160:DispensingPeriodIdentifierType"/>
            </choice>
            <element name="EventType" type="mc160:TrackAndTraceEventTypeType"/>
            <element name="Text" type="mc160:TrackAndTraceEventFreetextType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>