etc/schemas/2022/01/01/TrackAndTraceEventDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="Modificator.xsd"/>
    <include schemaLocation="ShipmentIdentifier.xsd"/>
    <include schemaLocation="DrugMedicationIdentifier.xsd"/>
    <include schemaLocation="TrackAndTraceEventIdentifier.xsd"/>
    <include schemaLocation="TrackAndTraceEventType.xsd"/>
    <include schemaLocation="TrackAndTraceEventDateTime.xsd"/>
    <include schemaLocation="TrackAndTraceEventFreetext.xsd"/>
    <include schemaLocation="TrackAndTraceFinalEvent.xsd"/>
    <include schemaLocation="ShipmentDeliveryDate.xsd"/>
    <include schemaLocation="KeyValueSet.xsd"/>

    <element name="TrackAndTraceEventDetails" type="mc160:TrackAndTraceEventDetailsType">
        <annotation>
            <documentation xml:lang="en-GB">Details of an event for TrackAndTrace</documentation>
            <documentation xml:lang="da-DK">Detaljer for et event i TrackAndTrace</documentation>
        </annotation>
    </element>
    <complexType name="TrackAndTraceEventDetailsType">
        <sequence>
            <element name="TrackAndTraceEventIdentifier" type="mc160:TrackAndTraceEventIdentifierType"/>
            <element name="EventDateTime" type="mc160:TrackAndTraceEventDateTimeType"/>
            <element name="OrderedAtPharmacy" type="mc160:OrganisationType"/>
            <element name="ShipmentIdentifier" type="mc160:ShipmentIdentifierType" minOccurs="0"/>
            <element name="EventType" type="mc160:TrackAndTraceEventTypeType"/>
            <element name="ExpectedDeliveryDate" type="mc160:ShipmentDeliveryDateType" minOccurs="0"/>
            <element name="FreeText" type="mc160:TrackAndTraceEventFreeTextType" minOccurs="0"/>
            <choice minOccurs="0">
                <element name="ExpectedNextEventDateTime" type="mc160:TrackAndTraceEventDateTimeType"/>
                <element name="IsFinalEvent" type="mc160:TrackAndTraceFinalEventType"/>
            </choice>
            <element name="AdditionalInformation" type="mc160:KeyValueSetType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>