etc/schemas/2022/01/01/TreatmentActivePeriod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="DrugMedicationEndedReason.xsd"/>

	<element name="TreatmentActivePeriodForRequest" type="mc160:ActivePeriodForRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Specifies the period during which the treatment is active</documentation>
			<documentation xml:lang="da-DK">Angiver perioden hvor behandlingen er aktiv</documentation>
		</annotation>
	</element>
	<complexType name="ActivePeriodForRequestType">
		<sequence>
			<choice minOccurs="0">
				<element name="TreatmentStartDate" type="mc160:TreatmentStartDateType"/>
				<element name="TreatmentStartedPreviously" type="mc160:TreatmentStartedPreviouslyType"/>
			</choice>
			<choice minOccurs="0">
				<element name="TreatmentEndDate" type="mc160:TreatmentEndDateType"/>
				<element name="TreatmentEndingUndetermined" type="mc160:TreatmentEndingUndeterminedType"/>
			</choice>
		</sequence>
	</complexType>

	<element name="TreatmentActivePeriodForResponse" type="mc160:ActivePeriodForResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Specifies the period during which the drug medication is/was active. If it is no longer active, the reason for ending is also stated</documentation>
			<documentation xml:lang="da-DK">Angiver perioden hvor lægemiddelordinationen er/har været aktiv. Hvis den ikke længere er aktiv, vil årsagen til afslutningen også angives</documentation>
		</annotation>
	</element>
	<complexType name="ActivePeriodForResponseType">
		<sequence>
			<element name="CreatedDateTime" type="mc160:DrugMedicationCreatedDateTimeType"/>
			<choice minOccurs="0">
				<element name="TreatmentStartDate" type="mc160:TreatmentStartDateType"/>
				<element name="TreatmentStartedPreviously" type="mc160:TreatmentStartedPreviouslyType"/>
			</choice>
			<choice minOccurs="0">
				<element name="TreatmentEndDate" type="mc160:TreatmentEndDateType"/>
				<element name="TreatmentEndingUndetermined" type="mc160:TreatmentEndingUndeterminedType"/>
			</choice>
			<element name="EndedReason" type="mc160:EndedReasonType" minOccurs="0"/>
		</sequence>
	</complexType>

	<element name="DrugMedicationCreatedDateTime" type="mc160:DrugMedicationCreatedDateTimeType">
		<annotation>
			<documentation xml:lang="en-GB">Date and time when the drug medication was created in FMK</documentation>
			<documentation xml:lang="da-DK">Dato og tid for, hvornår lægemiddelordinationen blev oprettet i FMK</documentation>
		</annotation>
	</element>
	<simpleType name="DrugMedicationCreatedDateTimeType">
		<restriction base="dateTime">
			<minInclusive value="2000-01-01T00:00:00Z"/>
		</restriction>
	</simpleType>

	<element name="TreatmentStartDate" type="mc160:TreatmentStartDateType">
		<annotation>
			<documentation xml:lang="en-GB">The date a treatment is started</documentation>
			<documentation xml:lang="da-DK">Den dato en behandling påbegyndes</documentation>
		</annotation>
	</element>
	<simpleType name="TreatmentStartDateType">
		<restriction base="date">
			<minInclusive value="1890-01-01"/>
		</restriction>
	</simpleType>

	<element name="TreatmentEndingUndetermined" type="mc160:TreatmentEndingUndeterminedType">
		<annotation>
			<documentation xml:lang="en-GB">Indicates that the drug medication ending i undetermined, e.g. because the treatment is continuous</documentation>
			<documentation xml:lang="da-DK">Angiver at behandlingen afslutning er uafgjort, f.eks. fordi der er tale om en fast behandling</documentation>
		</annotation>
	</element>
	<complexType name="TreatmentEndingUndeterminedType"/>

	<element name="TreatmentStartedPreviously" type="mc160:TreatmentStartedPreviouslyType">
		<annotation>
			<documentation xml:lang="en-GB">Indicates that the treatment was started at some time before the creation of the drug medication in FMK</documentation>
			<documentation xml:lang="da-DK">Angiver at behandling er startet tidligere end selve oprettelsen af lægemiddelordinationen på FMK</documentation>
		</annotation>
	</element>
	<complexType name="TreatmentStartedPreviouslyType"/>

	<element name="TreatmentEndDate" type="mc160:TreatmentEndDateType">
		<annotation>
			<documentation xml:lang="en-GB">The date a treatment ends</documentation>
			<documentation xml:lang="da-DK">Den dato en behandling afsluttes</documentation>
		</annotation>
	</element>
	<simpleType name="TreatmentEndDateType">
		<restriction base="date">
			<minInclusive value="2000-01-01Z"/>
		</restriction>
	</simpleType>

</schema>
