etc/schemas/2022/01/01/UnattachedPrescription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="AuthorisationDateTime.xsd"/>
	<include schemaLocation="SystemName.xsd"/>
	<include schemaLocation="ReimbursementClause.xsd"/>
	<include schemaLocation="ValidFromDate.xsd"/>
	<include schemaLocation="ValidToDate.xsd"/>
	<include schemaLocation="Drug.xsd"/>
	<include schemaLocation="PackageRestriction.xsd"/>
	<include schemaLocation="CreateDoseDispensedRestriction.xsd"/>
	<include schemaLocation="Indication.xsd"/>
	<include schemaLocation="DosageText.xsd"/>
	<include schemaLocation="SubstitutionAllowed.xsd"/>
	<include schemaLocation="SupplementaryInformation.xsd"/>
	<include schemaLocation="CreateOrder.xsd"/>

	<complexType name="UnattachedPrescriptionType">
		<annotation>
			<documentation xml:lang="en-GB">Request document for creating an unattached Prescription.</documentation>
			<documentation xml:lang="da-DK">Request-dokument til at oprette en løs recept.</documentation>
		</annotation>
		<sequence>
			<element name="CreatedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="AuthorisationDateTime" type="mc160:AuthorisationDateTimeType"/>
			<element name="SystemName" type="mc160:SystemNameType"/>
            <element name="ReimbursementClause" type="mc160:ReimbursementClauseType" minOccurs="0"/>
            <element name="ValidFromDate" type="mc160:ValidFromDateType" minOccurs="0"/>
            <element name="ValidToDate" type="mc160:ValidToDateType"/>
			<element name="Drug" type="mc160:DrugType" minOccurs="0"/>
            <choice>
                <element name="PackageRestriction" type="mc160:PackageRestrictionType"/>
                <element name="DoseDispensedRestriction" type="mc160:CreateDoseDispensedRestrictionType"/>
			</choice>
			<element name="Indication" type="mc160:IndicationType" minOccurs="0"/>
            <element name="DosageText" type="mc160:DosageTextType" minOccurs="0"/>
			<element name="SubstitutionAllowed" type="mc160:SubstitutionAllowedType"/>
			<element name="SupplementaryInformation" type="mc160:SupplementaryInformationType" minOccurs="0"/>
            <element name="Order" type="mc160:CreateOrderType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
