etc/schemas/2022/01/01/UndoEffectuationOnOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="OrderIdentifier.xsd"/>
	<include schemaLocation="HandOverIdentifier.xsd"/>

	<complexType name="UndoEffectuationOnOrderType">
		<annotation>
			<documentation xml:lang="en-GB">Element for undoing a single pharmacy effectutation on an order</documentation>
			<documentation xml:lang="da-DK">Element til tilbageførsel af en enkelt apoteks-ekspedition på en bestilling</documentation>
		</annotation>
		<sequence>
			<element name="OrderIdentifier" type="mc160:OrderIdentifierType"/>
			<element name="HandOverIdentifier" type="mc160:HandOverIdentifierType"/>
		</sequence>
	</complexType>
</schema>
