etc/schemas/2022/01/01/UndoDiscardDispensingPeriod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<include schemaLocation="DispensingPeriodIdentifier.xsd"/>
    <include schemaLocation="DispensingPeriodVersion.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>

	<element name="UndoDiscardDispensingPeriod" type="mc160:UndoDiscardDispensingPeriodType">
		<annotation>
			<documentation xml:lang="en-GB">Element for discarding of a packaged dispensed period</documentation>
			<documentation xml:lang="da-DK">Element for kassering af en pakket dispenserings periode</documentation>
		</annotation>
	</element>

	<complexType name="UndoDiscardDispensingPeriodType">
		<sequence>
			<element name="DispensingPeriodIdentifier" type="mc160:DispensingPeriodIdentifierType"/>
            <element name="DispensingPeriodVersion" type="mc160:DispensingPeriodVersionType"/>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
