etc/schemas/2022/01/01/UndoEffectuatedDoseDispensingPeriodResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="UndoneEffectuatedDoseDispensingPeriod.xsd"/>

	<element name="UndoEffectuatedDoseDispensingPeriodResponse" type="mc160:UndoEffectuatedDoseDispensingPeriodResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response for undoing effectuations for a dosedispensingperiod</documentation>
			<documentation xml:lang="da-DK">Svar på tilbageførsel af effektueringer for en dosisdispenseringsperiode </documentation>
		</annotation>
	</element>
	<complexType name="UndoEffectuatedDoseDispensingPeriodResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="DoseDispensingPeriod" type="mc160:UndoneEffectuatedDoseDispensingPeriodType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
