etc/schemas/2022/01/01/UndoHandoverRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="UndoHandoverOnWarrant.xsd"/>

	<element name="UndoHandoverRequest" type="mc160:UndoHandoverRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Service request for undoing a number of existing handovers</documentation>
			<documentation xml:lang="da-DK">Service kald til at tilbageføre et antal eksisterende udleveringer</documentation>
		</annotation>
	</element>
	<complexType name="UndoHandoverRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="ModifiedBy" type="mc160:ModificatorType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="Warrant" type="mc160:UndoHandoverOnWarrantType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
