etc/schemas/2022/01/01/UndoReplacePrescriptionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="PrescriptionIdentifier.xsd"/>

	<element name="UndoReplacePrescriptionRequest" type="mc160:UndoReplacePrescriptionRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document containing one or more elements for reverting the replacement of prescriptions</documentation>
			<documentation xml:lang="da-DK">Request-dokument der indeholder en eller flere elementer til at fortryde erstatningen af recepter</documentation>
		</annotation>
	</element>
	<complexType name="UndoReplacePrescriptionRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="ModifiedBy" type="mc160:ModificatorType"/>
			<element name="Prescription" type="mc160:PrescriptionIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
