etc/schemas/2022/01/01/UndoneEffectuationOfDispensingPeriod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="DispensingPeriodIdentifierAndVersion.xsd"/>
	<include schemaLocation="HandoverIdentifier.xsd"/>

	<complexType name="UndoneEffectuationOfDispensingPeriodType">
		<annotation>
			<documentation xml:lang="en-GB">Element with an undone dispensing period and the deleted handovers</documentation>
			<documentation xml:lang="da-DK">Element med en tilbageført dispenseringsperiode og de slettede udleveringer</documentation>
		</annotation>
		<sequence>
            <element name="DispensingPeriod" type="mc160:DispensingPeriodIdentifierAndVersionType"/>
			<element name="HandoverIdentifier" type="mc160:HandoverIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
