etc/schemas/2022/01/01/UndoDiscardDoseDispensingPeriodRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="UndoDiscardDoseDispensingPeriod.xsd"/>

	<element name="UndoDiscardDoseDispensingPeriodRequest" type="mc160:UndoDiscardDoseDispensingPeriodRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request which cancels the discarded status on a dose dispensing period</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel som fortryder kasseringen af en dosisdispenserings periode</documentation>
		</annotation>
	</element>
	<complexType name="UndoDiscardDoseDispensingPeriodRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="ModifiedBy" type="mc160:ModificatorType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="UndoDiscardDoseDispensingPeriod" type="mc160:UndoDiscardDoseDispensingPeriodType"  maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
