etc/schemas/2022/01/01/UndoRegisterPRNStartDatesResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

  <include schemaLocation="PersonIdentifier.xsd"/>
  <include schemaLocation="DrugMedicationIdentifier.xsd"/>

  <element name="UndoRegisterPRNStartDatesResponse" type="mc160:UndoRegisterPRNStartDatesResponseType">
    <annotation>
      <documentation xml:lang="en-GB">Response type for undoing registration of start of PRN treatment</documentation>
      <documentation xml:lang="da-DK">Svar type til fortrydelse af registrering af start af PN-kur</documentation>
    </annotation>
  </element>

  <complexType name="UndoRegisterPRNStartDatesResponseType">
    <sequence>
      <element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
      <element name="DrugMedicationIdentifier" type="mc160:DrugMedicationIdentifierType" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
</schema>
