etc/schemas/2022/01/01/UndoSecondaryHandoverRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="SecondaryHandoverIdentifier.xsd"/>
    <include schemaLocation="Modificator.xsd"/>

	<element name="UndoSecondaryHandoverRequest" type="mc160:UndoSecondaryHandoverRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request document containing information to be used for undoing a secondary handover</documentation>
			<documentation xml:lang="da-DK">Request-dokument der indeholder information til brug i fjernelsen af en sekundær udlevering</documentation>
		</annotation>
	</element>
	<complexType name="UndoSecondaryHandoverRequestType">
		<sequence>
            <element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
            <element name="CreatedBy" type="mc160:ModificatorType"/>
            <element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="Identifier" type="mc160:SecondaryHandoverIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
