etc/schemas/2022/01/01/UndoHandoverOfDispensingPeriodResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="UndoneHandoverOfDispensingPeriod.xsd"/>

	<element name="UndoHandoverOfDispensingPeriodResponse" type="mc160:UndoHandoverOfDispensingPeriodResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response for undoing handovers for a dispensingperiod</documentation>
			<documentation xml:lang="da-DK">Svar på tilbageførsel af udleveringer for en dispenseringsperiode</documentation>
		</annotation>
	</element>
	<complexType name="UndoHandoverOfDispensingPeriodResponseType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="DispensingPeriod" type="mc160:UndoneHandoverOfDispensingPeriodType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
