etc/schemas/2022/01/01/UndoEffectuatedDispensingPeriodResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="UndoneEffectuatedDispensingPeriod.xsd"/>

	<element name="UndoEffectuatedDispensingPeriodResponse" type="mc160:UndoEffectuatedDispensingPeriodResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response for undoing effectuations for a dispensingperiod</documentation>
			<documentation xml:lang="da-DK">Svar på tilbageførsel af effektueringer for en dispenseringsperiode</documentation>
		</annotation>
	</element>
	<complexType name="UndoEffectuatedDispensingPeriodResponseType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="DispensingPeriod" type="mc160:UndoneEffectuatedDispensingPeriodType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
