etc/schemas/2022/01/01/UndoneEffectuatedDispensingPeriod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="DispensingPeriodIdentifier.xsd"/>
	<include schemaLocation="HandOverIdentifier.xsd"/>

	<complexType name="UndoneEffectuatedDispensingPeriodType">
		<annotation>
			<documentation xml:lang="en-GB">Element with an undone dispensing period and the deleted effectuations</documentation>
			<documentation xml:lang="da-DK">Element med en tilbageført dispenseringsperiode og de slettede effektueringer</documentation>
		</annotation>
		<sequence>
            <element name="DispensingPeriodIdentifier" type="mc160:DispensingPeriodIdentifierType"/>
			<element name="EffectuationIdentifier" type="mc160:HandOverIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
