etc/schemas/2022/01/01/UndoEffectuationOfDispensingPeriodRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="UndoEffectuationOfDispensingPeriod.xsd"/>

	<element name="UndoEffectuationOfDispensingPeriodRequest" type="mc160:UndoEffectuationOfDispensingPeriodRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request for undoing pharmacy handover for an entire dispensing period</documentation>
			<documentation xml:lang="da-DK">Request til at tilbageføre udleveringer for alt i en dispenseringsperiode</documentation>
		</annotation>
	</element>
	<complexType name="UndoEffectuationOfDispensingPeriodRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="ModifiedBy" type="mc160:ModificatorType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
     		<element name="DispensingPeriod" type="mc160:UndoEffectuationOfDispensingPeriodType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
