etc/schemas/2022/01/01/UndoReplacementEntry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="WarrantIdentifier.xsd"/>
	
	<complexType name="UndoReplacementEntryType">
		<annotation>
			<documentation xml:lang="en-GB">Entry containing identifiers for warrant pairs involved with a undo replace warrant result</documentation>
			<documentation xml:lang="da-DK">Element som indeholder et sæt identifiers for udleveringsgrundlag som var involveret i et fortryd erstat udleveringsgrundlag kald</documentation>
		</annotation>
		<sequence>
			<element name="ClosedWarrantIdentifier" type="mc160:WarrantIdentifierType"/>
			<element name="ReopenedWarrantIdentifier" type="mc160:WarrantIdentifierType"/>
		</sequence>
	</complexType>
</schema>
