etc/schemas/2022/01/01/UndoReplaceWarrantResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
    <include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="UndoReplacementEntry.xsd"/>

	<element name="UndoReplaceWarrantResponse" type="mc160:UndoReplaceWarrantResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response document containing one or more result elements for reversing a warrant replacement</documentation>
			<documentation xml:lang="da-DK">Response-dokument der indeholder en eller flere elementer for fortrydelsen af en udleveringsgrundlag erstatning</documentation>
		</annotation>
	</element>
	<complexType name="UndoReplaceWarrantResponseType">
		<sequence>
            <choice>
                <element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
                <element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
            </choice>
			<element name="Warrant" type="mc160:UndoReplacementEntryType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
