etc/schemas/2022/01/01/UndoEffectuatedDoseDispensingPeriod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="DoseDispensingPeriodIdentifier.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>

	<complexType name="UndoEffectuatedDoseDispensingPeriodType">
		<annotation>
			<documentation xml:lang="en-GB">Element for undoing pharmacy effectuations for an entire DD period</documentation>
			<documentation xml:lang="da-DK">Element til at tilbageføre effektueringer for alt i en dosisdispenseringsperiode</documentation>
		</annotation>
		<sequence>
            <element name="DoseDispensingPeriodIdentifier" type="mc160:DoseDispensingPeriodIdentifierType"/>
            <element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
