etc/schemas/2022/01/01/UndoEffectuatedDoseDispensingPeriodRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="UndoEffectuatedDoseDispensingPeriod.xsd"/>

	<element name="UndoEffectuatedDoseDispensingPeriodRequest" type="mc160:UndoEffectuatedDoseDispensingPeriodRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request for undoing pharmacy effectuations for an entire DD period</documentation>
			<documentation xml:lang="da-DK">Request til at tilbageføre effektueringer for alt i en dosisdispenseringsperiode </documentation>
		</annotation>
	</element>
	<complexType name="UndoEffectuatedDoseDispensingPeriodRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="ModifiedBy" type="mc160:ModificatorType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
     		<element name="DoseDispensingPeriod" type="mc160:UndoEffectuatedDoseDispensingPeriodType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
