etc/schemas/2022/01/01/UndoEffectuationOnWarrantAndOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="UndoEffectuationOnOrder.xsd"/>
	<include schemaLocation="WarrantIdentifier.xsd"/>
	<include schemaLocation="TerminateWarrant.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>

	<complexType name="UndoEffectuationOnWarrantAndOrderType">
		<annotation>
			<documentation xml:lang="en-GB">Element for undoing a single effectutation on a warrant</documentation>
			<documentation xml:lang="da-DK">Element til tilbageførsel af en enkelt ekspedition på et udleveringsgrundlag</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="mc160:WarrantIdentifierType"/>
			<element name="OrderAndEffectuation" type="mc160:UndoEffectuationOnOrderType"/>
			<element name="Terminate" type="mc160:TerminateWarrantType"/>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
