etc/schemas/2022/01/01/UndoEffectuationOfDispensingPeriod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="DispensingPeriodIdentifier.xsd"/>
    <include schemaLocation="DispensingPeriodVersion.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>

	<complexType name="UndoEffectuationOfDispensingPeriodType">
		<annotation>
			<documentation xml:lang="en-GB">Element for undoing pharmacy handover for an entire dispensing period</documentation>
			<documentation xml:lang="da-DK">Element til at tilbageføre udleveringen for alt i en dispenseringsperiode</documentation>
		</annotation>
		<sequence>
			<element name="DispensingPeriodIdentifier" type="mc160:DispensingPeriodIdentifierType"/>
            <element name="DispensingPeriodVersion" type="mc160:DispensingPeriodVersionType"/>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
