etc/schemas/2022/01/01/UndoRegisterPRNStartDatesRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="PRNDrugMedicationStartDate.xsd"/>

	<element name="UndoRegisterPRNStartDatesRequest" type="mc160:UndoRegisterPRNStartDatesRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Request type for undoing registration of the start of a PRN treatment</documentation>
			<documentation xml:lang="da-DK">Request type til fortrydelse af registrering af start af en PN-kur</documentation>
		</annotation>
	</element>

	<complexType name="UndoRegisterPRNStartDatesRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="ModifiedBy" type="mc160:ModificatorType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>

			<element name="PRNStart" type="mc160:PRNDrugMedicationStartDateType" maxOccurs="100"/>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>


</schema>
