etc/schemas/2022/01/01/UndoEpisodeRegistrationsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

  <include schemaLocation="PersonIdentifier.xsd"/>
  <include schemaLocation="DrugMedicationIdentifier.xsd"/>

  <element name="UndoEpisodeRegistrationsResponse" type="mc160:UndoEpisodeRegistrationsResponseType">
    <annotation>
      <documentation xml:lang="en-GB">Response confirming undo of registered start dates for episodic treatments (PN-kur) for a person</documentation>
      <documentation xml:lang="da-DK">Svar der bekræfter fortrydelse af registrerede startdatoer for PN-kure for en person</documentation>
    </annotation>
  </element>

  <complexType name="UndoEpisodeRegistrationsResponseType">
    <sequence>
      <element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
      <element name="DrugMedicationIdentifier" type="mc160:DrugMedicationIdentifierType" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
</schema>
