etc/schemas/2022/01/01/UndoRegisterDrugAdministrationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="DrugAdministrationIdentifier.xsd"/>

	<element name="UndoRegisterDrugAdministrationResponse" type="mc160:UndoRegisterDrugAdministrationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response from a request which cancels the registration of a drug administration</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar på en forespørgsel som fortyder registrering af medicinadministration</documentation>
		</annotation>
	</element>
	<complexType name="UndoRegisterDrugAdministrationResponseType">
		<sequence>
            <element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="DrugAdministrationIdentifier" type="mc160:DrugAdministrationIdentifierType"  maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>