etc/schemas/2022/01/01/UnmarkPrescriptionDeprecatedRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="UnmarkPrescriptionDeprecated.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="PrescriptionIdentifier.xsd"/>

	<element name="UnmarkPrescriptionDeprecatedRequest" type="mc160:UnmarkPrescriptionDeprecatedRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Unmark one or more prescriptions as no longer relevant</documentation>
			<documentation xml:lang="da-DK">Fjern markering af at en eller flere recepter ikke længere er relevante</documentation>
		</annotation>
	</element>
	<complexType name="UnmarkPrescriptionDeprecatedRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
			<element name="ModifiedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="Prescription" type="mc160:UnmarkPrescriptionDeprecatedType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
