etc/schemas/2022/01/01/UnmarkWarrantDeprecatedResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<include schemaLocation="WarrantIdentifier.xsd"/>

	<element name="UnmarkWarrantDeprecatedResponse" type="mc160:UnmarkWarrantDeprecatedResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response from service to unmark one or more warrant as no longer relevant</documentation>
			<documentation xml:lang="da-DK">Svar fra service til fjern markering af at et eller flere udleveringsgrundlag ikke længere er relevante</documentation>
		</annotation>
	</element>
	<complexType name="UnmarkWarrantDeprecatedResponseType">
		<sequence>
			<sequence>
				<choice>
					<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
					<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
				</choice>
				<element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
				<element name="WarrantIdentifier" type="mc160:WarrantIdentifierType" maxOccurs="unbounded"/>
			</sequence>
		</sequence>
	</complexType>
</schema>
