etc/schemas/2022/01/01/UnmarkPrescriptionDeprecatedResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<include schemaLocation="PrescriptionIdentifier.xsd"/>

	<element name="UnmarkPrescriptionDeprecatedResponse" type="mc160:UnmarkPrescriptionDeprecatedResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Response from service to unmark one or more prescriptions as no longer relevant</documentation>
			<documentation xml:lang="da-DK">Svar fra service til fjern markering af at en eller flere recepter ikke længere er relevante</documentation>
		</annotation>
	</element>
	<complexType name="UnmarkPrescriptionDeprecatedResponseType">
		<sequence>
			<sequence>
				<choice>
					<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
					<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
				</choice>
				<element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
				<element name="VersionMismatchWarning" type="mc160:VersionMismatchWarningType" minOccurs="0"/>
				<element name="PrescriptionIdentifier" type="mc160:PrescriptionIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</sequence>
	</complexType>
</schema>
