etc/schemas/2022/01/01/UnmarkWarrantDeprecated.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="WarrantIdentifier.xsd"/>
	
	<element name="UnmarkWarrantDeprecated" type="mc160:UnmarkWarrantDeprecatedType">
		<annotation>
			<documentation xml:lang="en-GB">For use in bulk service: Mark a warrant as no longer relevant</documentation>
			<documentation xml:lang="da-DK">Til brug i bulk service: Marker et udleveringsgrundlag ikke længere er relevant</documentation>
		</annotation>
	</element>
	<complexType name="UnmarkWarrantDeprecatedType">
		<sequence>
			<element name="Identifier" type="mc160:WarrantIdentifierType"/>
			<element name="ModifiedBy" type="mc160:ModificatorType"/>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
