etc/schemas/2022/01/01/UnpauseDrugMedicationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="UnpauseDrugMedication.xsd"/>

	<element name="UnpauseDrugMedicationRequest" type="mc160:UnpauseDrugMedicationRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request to remove the pausation of one or more drugmedications</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel der fjerner pauseringen på en eller flere lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="UnpauseDrugMedicationRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
			<element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
			<element name="ModifiedBy" type="mc160:ModificatorType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="DrugMedication" type="mc160:UnpauseDrugMedicationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
