etc/schemas/2022/01/01/UnwithdrawDrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>
	
	<element name="UnwithdrawDrugMedication" type="mc160:UnwithdrawDrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Instructions on undo withdraw of drug medications </documentation>
			<documentation xml:lang="da-DK">Anvisning der fjerner en seponering af en eller flere lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="UnwithdrawDrugMedicationType">
		<sequence>
			<element name="Identifier" type="mc160:DrugMedicationIdentifierType"/>
			<element name="ModifiedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
