etc/schemas/2022/01/01/UnwithdrawDrugMedicationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="UnwithdrawDrugMedication.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>

	<element name="UnwithdrawDrugMedicationRequest" type="mc160:UnwithdrawDrugMedicationRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request for a request which will undo a withdraw of one or more drug medications</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel der fjerner en seponering af en eller flere lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="UnwithdrawDrugMedicationRequestType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
			<element name="ModifiedBy" type="mc160:ModificatorType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="DrugMedication" type="mc160:UnwithdrawDrugMedicationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
