etc/schemas/2022/01/01/UnwithdrawDrugMedicationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<include schemaLocation="UnwithdrawnDrugMedication.xsd"/>
	<include schemaLocation="OrganisationIdentifier.xsd"/>

	<element name="UnwithdrawDrugMedicationResponse" type="mc160:UnwithdrawDrugMedicationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response from an undo a withdraw of drug medications request</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar på en forespørgsel om af-seponering af lægemiddelordinationer</documentation>
		</annotation>
	</element>
	<complexType name="UnwithdrawDrugMedicationResponseType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
				<element name="OrganisationIdentifier" type="mc160:OrganisationIdentifierType"/>
			</choice>
			<element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
			<element name="DrugMedication" type="mc160:UnwithdrawnDrugMedicationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
