etc/schemas/2022/01/01/UnwithdrawnDrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationVersion.xsd"/>
	
	<element name="UnwithdrawnDrugMedication" type="mc160:UnwithdrawnDrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Element with IDs returned when a drug medication has undone a withdrawn</documentation>
			<documentation xml:lang="da-DK">Element med IDer returneret når en lægemiddelinformation er blevet af-seponeret</documentation>
		</annotation>
	</element>
	<complexType name="UnwithdrawnDrugMedicationType">
		<sequence>
			<element name="Identifier" type="mc160:DrugMedicationIdentifierType"/>
			<element name="Version" type="mc160:DrugMedicationVersionType"/>
		</sequence>
	</complexType>
</schema>
