etc/schemas/2022/01/01/UpdateDoseDispensingPeriod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="DoseDispensingPeriodIdentifier.xsd"/>
    <include schemaLocation="ModificationMetadata.xsd"/>
    <include schemaLocation="DoseDispensingPeriodStartDate.xsd"/>
    <include schemaLocation="DoseDispensingPeriodEndDate.xsd"/>
    <include schemaLocation="DoseDispensingDeadline.xsd"/>
    <include schemaLocation="ExpectedDeliveryDateTime.xsd"/>
    <include schemaLocation="DoseDispensingProductionIdentifier.xsd"/>
    <include schemaLocation="AcutePacking.xsd"/>

    <complexType name="UpdateDoseDispensingPeriodType">
        <annotation>
            <documentation xml:lang="en-GB">Element for updating a dose dispensing period</documentation>
            <documentation xml:lang="da-DK">Element, der opdaterer en dosisdispenseringsperiode</documentation>
        </annotation>
        <sequence>
			<element name="Identifier" type="mc160:DoseDispensingPeriodIdentifierType"/>
        	<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="StartDate" type="mc160:DoseDispensingPeriodStartDateType" minOccurs="0" />
            <element name="EndDate" type="mc160:DoseDispensingPeriodEndDateType" minOccurs="0" />
            <element name="Deadline" type="mc160:DoseDispensingDeadlineType" minOccurs="0" />
            <element name="ExpectedDelivery" type="mc160:ExpectedDeliveryDateTimeType" minOccurs="0" />
        	<element name="ProductionIdentifier" type="mc160:DoseDispensingProductionIdentifierType" minOccurs="0"/>
            <element name="AcutePacking" type="mc160:AcutePackingType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
