etc/schemas/2022/01/01/UpdateMedicineCardRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="SetMedicineCardReviewed.xsd"/>
	<include schemaLocation="SetMedicineCardNotReviewed.xsd"/>
	<include schemaLocation="CreateDrugMedication.xsd"/>
	<include schemaLocation="UpdateDrugMedication.xsd"/>
	<include schemaLocation="WithdrawDrugMedication.xsd"/>
	<include schemaLocation="UnwithdrawDrugMedication.xsd"/>
	<include schemaLocation="PauseDrugMedication.xsd"/>
	<include schemaLocation="UnpauseDrugMedication.xsd"/>
	<include schemaLocation="CreateWarrant.xsd"/>
	<include schemaLocation="AttachWarrant.xsd"/>
	<include schemaLocation="DetachWarrant.xsd"/>
	<include schemaLocation="MarkWarrantDeprecated.xsd"/>
	<include schemaLocation="UnmarkWarrantDeprecated.xsd"/>
	<include schemaLocation="CancelWarrant.xsd"/>
	<include schemaLocation="CreateHandoverOfDrugMedication.xsd"/>
    <include schemaLocation="CreateDrugAdministration.xsd"/>
    <include schemaLocation="AbortHandoverOnWarrant.xsd"/>

	<element name="UpdateMedicineCardRequest" type="mc160:UpdateMedicineCardRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a batch request to update a medicine card</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en batchforespørgsel for at opdatere et medicinkort</documentation>
		</annotation>
	</element>
	<complexType name="UpdateMedicineCardRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType" />
			<element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
			<element name="ModifiedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<sequence maxOccurs="unbounded">
				<choice minOccurs="0">
					<element name="SetMedicineCardReviewed" type="mc160:SetMedicineCardReviewedType"/>
					<element name="SetMedicineCardNotReviewed" type="mc160:SetMedicineCardNotReviewedType"/>
				</choice>
				<element name="CreateDrugMedication" type="mc160:CreateDrugMedicationType" minOccurs="0"/>
				<element name="UpdateDrugMedication" type="mc160:UpdateDrugMedicationType" minOccurs="0"/>
				<element name="WithdrawDrugMedication" type="mc160:WithdrawDrugMedicationType" minOccurs="0"/>
				<element name="UnwithdrawDrugMedication" type="mc160:UnwithdrawDrugMedicationType" minOccurs="0"/>
				<element name="PauseDrugMedication" type="mc160:PauseDrugMedicationType" minOccurs="0"/>
				<element name="UnpauseDrugMedication" type="mc160:UnpauseDrugMedicationType" minOccurs="0"/>
				<element name="CreateWarrant" type="mc160:CreateWarrantType" minOccurs="0"/>
				<element name="AttachWarrant" type="mc160:AttachWarrantType" minOccurs="0"/>
				<element name="DetachWarrant" type="mc160:DetachWarrantType" minOccurs="0"/>
				<element name="MarkWarrantDeprecated" type="mc160:MarkWarrantDeprecatedType" minOccurs="0"/>
				<element name="UnmarkWarrantDeprecated" type="mc160:UnmarkWarrantDeprecatedType" minOccurs="0"/>
				<element name="CancelWarrant" type="mc160:CancelWarrantType" minOccurs="0"/>
				<element name="RegisterTreatmentHandover" type="mc160:CreateHandoverOfDrugMedicationType" minOccurs="0"/>
                <element name="RegisterDrugAdministration" type="mc160:CreateDrugAdministrationType" minOccurs="0"/>
				<element name="AbortTreatmentHandover" type="mc160:AbortHandoverOnWarrantType" minOccurs="0"/>
			</sequence>
		</sequence>
	</complexType>
</schema>
