etc/schemas/2022/01/01/UpdatePackingGroup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PackingGroupIdentifier.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="PackingGroup.xsd"/>
	<include schemaLocation="Organisation.xsd"/>
	
	<complexType name="UpdatePackingGroupType">
		<annotation>
			<documentation xml:lang="en-GB">Element for updating a DD packing group</documentation>
			<documentation xml:lang="da-DK">Element der opdaterer en DD pakkegruppe</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="mc160:PackingGroupIdentifierType"/>
    		<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Name" type="mc160:PackingGroupType"/>
			<element name="OrderedAtPharmacy" type="mc160:OrganisationType" minOccurs="0"/>
            <element name="PackedAtOrganisation" type="mc160:OrganisationType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
