etc/schemas/2022/01/01/UpdateDispensingPeriodRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="UpdateDispensingPeriod.xsd"/>

	<element name="UpdateDispensingPeriodRequest" type="mc160:UpdateDispensingPeriodRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request for a request which updates a dispensing period</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel der opdaterer en sdispenseringsperiode</documentation>
		</annotation>
	</element>
	<complexType name="UpdateDispensingPeriodRequestType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="ModifiedBy" type="mc160:ModificatorType"/>
			<element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="DispensingPeriod" type="mc160:UpdateDispensingPeriodType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
