etc/schemas/2022/01/01/UpdateDispensingCard.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="DispensingCardIdentifier.xsd"/>
    <include schemaLocation="ModificationMetadata.xsd"/>
    <include schemaLocation="DispensingCardDescription.xsd"/>
    <include schemaLocation="DeliveryText.xsd"/>
    <include schemaLocation="PackingGroupIdentifier.xsd"/>
    <include schemaLocation="Organisation.xsd"/>
    <include schemaLocation="DispensingOrDeliveryNotes.xsd"/>

    <complexType name="UpdateDispensingCardType">
        <annotation>
            <documentation xml:lang="en-GB">Element for updating a dispensing card for a specific person</documentation>
            <documentation xml:lang="da-DK">Opdatering af et dispenseringskort for en given person</documentation>
        </annotation>
        <sequence>
        	<element name="Identifier" type="mc160:DispensingCardIdentifierType"/>
        	<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
        	<element name="Description" type="mc160:DispensingCardDescriptionType"/>
            <element name="Delivery" type="mc160:DeliveryTextType" minOccurs="0"/>
            <choice>
	            <element name="PackingGroupIdentifier" type="mc160:PackingGroupIdentifierType"/>
	            <sequence>
    	    	    <element name="OrderedAtPharmacy" type="mc160:OrganisationType"/>
        	    	<element name="PackedAtOrganisation" type="mc160:OrganisationType"/>
	            </sequence>
            </choice>
            <element name="DispensingOrDeliveryNotes" type="mc160:DispensingOrDeliveryNotesType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
