etc/schemas/2022/01/01/UpdatePlannedAdministrationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="PlannedAdministrationIdentifierAndVersion.xsd"/>

	<element name="UpdatePlannedAdministrationResponse" type="mc160:UpdatePlannedAdministrationResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response from updating a planned administration</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar på opdatering af en planlagt administration</documentation>
		</annotation>
	</element>
	<complexType name="UpdatePlannedAdministrationResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="PlannedAdministration" type="mc160:PlannedAdministrationIdentifierAndVersionType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
