etc/schemas/2022/01/01/UpdateDoseDispensingCardResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="DoseDispensingCardIdentifier.xsd"/>

	<element name="UpdateDoseDispensingCardResponse" type="mc160:UpdateDoseDispensingCardResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response from a for a request which updated an existing dose dispensing card</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar på en forespørgsel der opdaterer et eksisterende dosisdispenseringskort</documentation>
		</annotation>
	</element>
	<complexType name="UpdateDoseDispensingCardResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="Identifier" type="mc160:DoseDispensingCardIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
