etc/schemas/2022/01/01/UpdateDispensingPeriod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="DispensingPeriodIdentifier.xsd"/>
    <include schemaLocation="DispensingPeriodVersion.xsd"/>
    <include schemaLocation="ModificationMetadata.xsd"/>
    <include schemaLocation="DispensingPeriodStartDate.xsd"/>
    <include schemaLocation="DispensingPeriodEndDate.xsd"/>
    <include schemaLocation="ExpectedDeliveryDateTime.xsd"/>
    <include schemaLocation="DispensingProductionIdentifier.xsd"/>
    <include schemaLocation="AcutePacking.xsd"/>

    <complexType name="UpdateDispensingPeriodType">
        <annotation>
            <documentation xml:lang="en-GB">Element for updating a dispensing period</documentation>
            <documentation xml:lang="da-DK">Element, der opdaterer en dispenseringsperiode</documentation>
        </annotation>
        <sequence>
            <element name="Identifier" type="mc160:DispensingPeriodIdentifierType"/>
            <element name="Version" type="mc160:DispensingPeriodVersionType"/>
            <element name="StartDate" type="mc160:DispensingPeriodStartDateType" minOccurs="0" />
            <element name="EndDate" type="mc160:DispensingPeriodEndDateType" minOccurs="0" />
            <element name="ExpectedDelivery" type="mc160:ExpectedDeliveryDateTimeType" minOccurs="0" />
            <element name="ProductionIdentifier" type="mc160:DispensingProductionIdentifierType" minOccurs="0"/>
            <element name="AcutePacking" type="mc160:AcutePackingType" minOccurs="0"/>
            <element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
