etc/schemas/2022/01/01/UpdateMedicineCardResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="MedicineCardVersion.xsd"/>
	<include schemaLocation="VersionMismatchWarning.xsd"/>
	<include schemaLocation="CreatedDrugMedication.xsd"/>
	<include schemaLocation="UpdatedDrugMedication.xsd"/>
	<include schemaLocation="WithdrawnDrugMedication.xsd"/>
	<include schemaLocation="UnwithdrawnDrugMedication.xsd"/>
	<include schemaLocation="PausedDrugMedication.xsd"/>
	<include schemaLocation="UnpausedDrugMedication.xsd"/>
	<include schemaLocation="CreatedWarrant.xsd"/>
	<include schemaLocation="CreatedEffectuationOnDrugMedication.xsd"/>
	<include schemaLocation="CancelledWarrant.xsd"/>
	<include schemaLocation="ConsentWasGiven.xsd"/>
	<include schemaLocation="ConsentWasRemoved.xsd"/>

	<element name="UpdateMedicineCardResponse" type="mc160:UpdateMedicineCardResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a batch request to update a medicine card</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en batchforespørgsel for at opdatere et medicinkort</documentation>
		</annotation>
	</element>
	<complexType name="UpdateMedicineCardResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="MedicineCardVersion" type="mc160:MedicineCardVersionType"/>
			<sequence maxOccurs="unbounded">
				<element name="CreatedDrugMedication" type="mc160:CreatedDrugMedicationType" minOccurs="0"/>
				<element name="UpdatedDrugMedication" type="mc160:UpdatedDrugMedicationType" minOccurs="0"/>
				<element name="WithdrawnDrugMedication" type="mc160:WithdrawnDrugMedicationType" minOccurs="0"/>
				<element name="UnwithdrawnDrugMedication" type="mc160:UnwithdrawnDrugMedicationType" minOccurs="0"/>
				<element name="PausedDrugMedication" type="mc160:PausedDrugMedicationType" minOccurs="0"/>
				<element name="UnpausedDrugMedication" type="mc160:UnpausedDrugMedicationType" minOccurs="0"/>
				<element name="CreatedWarrant" type="mc160:CreatedWarrantType" minOccurs="0"/>
				<element name="CreatedEffectuationOnDrugMedication" type="mc160:CreatedEffectuationOnDrugMedicationType" minOccurs="0"/>
				<element name="CancelledWarrant" type="mc160:CancelledWarrantType" minOccurs="0"/>
				<element name="ConsentGiven" type="mc160:ConsentWasGivenType" minOccurs="0"/>
				<element name="ConsentRemoved" type="mc160:ConsentWasRemovedType" minOccurs="0"/>
			</sequence>
		</sequence>
	</complexType>
</schema>
