etc/schemas/2022/01/01/UpdateDrugMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="UnwithdrawDrugMedicationOnUpdate.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="FollowUpDates.xsd"/>
	<include schemaLocation="Pause.xsd"/>
	<include schemaLocation="DrugMedicationType.xsd"/>
	<include schemaLocation="HasNegativeConsent.xsd"/>
	<include schemaLocation="CreateOrUpdateDrugMedicationActivePeriod.xsd"/>
	<include schemaLocation="Indication.xsd"/>
	<include schemaLocation="RouteOfAdministration.xsd"/>
	<include schemaLocation="Drug.xsd"/>
	<include schemaLocation="DosageForRequest.xsd"/>
	<include schemaLocation="SubstitutionAllowed.xsd"/>
	<include schemaLocation="ReimbursementClause.xsd"/>
	<include schemaLocation="RequireSecondaryHandover.xsd"/>
	<include schemaLocation="HandoverMethod.xsd"/>
	<include schemaLocation="RequestDrugAdministrationRegistration.xsd"/>
    <include schemaLocation="RelationRequestReferenceNumber.xsd"/>
    <include schemaLocation="CreateDrugMedicationRelation.xsd"/>

	<element name="UpdateDrugMedication" type="mc160:UpdateDrugMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">An overview of the drug medication (a medication on the medicine card), used for update</documentation>
			<documentation xml:lang="da-DK">En oversigt over lægemiddelordination (en ordination på medicinkortet), til brug ved opdatering</documentation>
		</annotation>
	</element>

	<complexType name="UpdateDrugMedicationType">
		<sequence>
			<element name="Identifier" type="mc160:DrugMedicationIdentifierType"/>
			<element name="Unwithdraw" type="mc160:UnwithdrawDrugMedicationOnUpdateType" minOccurs="0"/>
			<element name="ModifiedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="FollowUpDates" type="mc160:FollowUpDatesType" minOccurs="0"/>
			<element name="Pause" type="mc160:PauseType" minOccurs="0"/>
			<element name="Type" type="mc160:DrugMedicationTypeType" minOccurs="0" />
			<element name="HasNegativeConsent" type="mc160:HasNegativeConsentType" minOccurs="0"/>
			<element name="ActivePeriod" type="mc160:CreateOrUpdateDrugMedicationActivePeriodType"/>
			<element name="Indication" type="mc160:IndicationType"/>
			<element name="RouteOfAdministration" type="mc160:RouteOfAdministrationType"/>
			<element name="Drug" type="mc160:DrugType"/>
			<element name="Dosage" type="mc160:DosageForRequestType"/>
			<element name="SubstitutionAllowed" type="mc160:SubstitutionAllowedType" minOccurs="0"/>
			<element name="HandoverPreference" type="mc160:HandoverMethodType"/>
			<element name="ReimbursementApprovedCode" type="mc160:ReimbursementCodeType" minOccurs="0"/>
			<element name="RequireSecondaryHandover" type="mc160:RequireSecondaryHandoverType" minOccurs="0" />
            <element name="DrugAdministrationRegistrationRequested" type="mc160:DrugAdministrationRegistrationRequestedType" minOccurs="0" />
            <sequence minOccurs="0">
                <element name="DrugMedicationReferenceNumber" type="mc160:RelationRequestReferenceNumberType" minOccurs="0"/>
                <element name="Relation" type="mc160:CreateDrugMedicationRelationType" maxOccurs="unbounded"/>
            </sequence>
            <element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
	</complexType>
</schema>
