etc/schemas/2022/01/01/UpdateDispensingPeriodResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="PersonIdentifier.xsd"/>
	<include schemaLocation="DispensingPeriodIdentifier.xsd"/>

	<element name="UpdateDispensingPeriodResponse" type="mc160:UpdateDispensingPeriodResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response from a for a request which updates a new dispensing period</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar på en forespørgsel der opdaterer en dispenseringsperiode</documentation>
		</annotation>
	</element>
	<complexType name="UpdateDispensingPeriodResponseType">
		<sequence>
			<element name="PersonIdentifier" type="mc160:PersonIdentifierType"/>
			<element name="DispensingPeriodIdentifier" type="mc160:DispensingPeriodIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
