etc/schemas/2022/01/01/UseInPractice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="PackageNumber.xsd"/>
	<include schemaLocation="PackageSize.xsd"/>
	<include schemaLocation="PackageQuantity.xsd"/>
	<include schemaLocation="Organisation.xsd"/>

	<complexType name="UseInPracticeType">
		<annotation>
			<documentation xml:lang="en-GB">Detailed Specification of a warrant for use in practice</documentation>
			<documentation xml:lang="da-DK">Detaljer på et udleveringsgrundlag til brug i praksis</documentation>
		</annotation>
		<sequence>
			<element name="OrderingOrganisation" type="mc160:OrganisationType"/>
			<element name="PackageNumber" type="mc160:PackageNumberType"/>
			<element name="PackageSize" type="mc160:PackageSizeType" minOccurs="0"/>
			<element name="PackageQuantity" type="mc160:PackageQuantityType"/>
		</sequence>
	</complexType>
</schema>
