etc/schemas/2022/01/01/ValidWarrant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

	<include schemaLocation="WarrantIdentifier.xsd"/>
	<include schemaLocation="ValidFromDate.xsd"/>
	<include schemaLocation="ValidToDate.xsd"/>

	<complexType name="ValidWarrantType">
		<annotation>
			<documentation xml:lang="en-GB">Indication that a valid warrant exists for a planned dispensing</documentation>
			<documentation xml:lang="da-DK">Information om der findes et gyldigt udleveringsgrundlag for en planlagt dispensering</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="mc160:WarrantIdentifierType"/>
            <element name="ValidFromDate" type="mc160:ValidFromDateType"/>
            <element name="ValidToDate" type="mc160:ValidToDateType"/>
		</sequence>
	</complexType>
</schema>
