etc/schemas/2022/01/01/WarrantsForPersonOrOrganisation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="Patient.xsd"/>
	<include schemaLocation="Organisation.xsd"/>
	<include schemaLocation="Warrant.xsd"/>

	<complexType name="WarrantsForPersonOrOrganisationType">
		<annotation>
			<documentation xml:lang="en-GB">A container for a set of warrants for the same person or organisation (for use in practice)</documentation>
			<documentation xml:lang="da-DK">Gruppering af et antal udleveringsgrundlag til den samme patient eller organisation (til  brug i praksis)</documentation>
		</annotation>
		<sequence>
			<choice>
				<element name="Patient" type="mc160:PatientType"/>
				<element name="Organisation" type="mc160:OrganisationType"/>
			</choice>
			<element name="Warrant" type="mc160:WarrantType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
