etc/schemas/2022/01/01/WarrantForUseInPractice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="ModificationMetadata.xsd"/>
	<include schemaLocation="AuthorisationDateTime.xsd"/>
	<include schemaLocation="ValidFromDate.xsd"/>
	<include schemaLocation="ValidToDate.xsd"/>
	<include schemaLocation="UseInPractice.xsd"/>
	<include schemaLocation="CreateOrder.xsd"/>

	<complexType name="WarrantForUseInPracticeType">
		<annotation>
			<documentation xml:lang="en-GB">Request document for creating a warrant for use in practice</documentation>
			<documentation xml:lang="da-DK">Request-dokument til at oprette et udleveringsgrundlag til brug i praksis</documentation>
		</annotation>
		<sequence>
			<element name="CreatedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="ModificationMetadata" type="mc160:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="AuthorisationDateTime" type="mc160:AuthorisationDateTimeType"/>
            <element name="ValidFromDate" type="mc160:ValidFromDateType" minOccurs="0"/>
            <element name="ValidToDate" type="mc160:ValidToDateType"/>
            <element name="UseInPractice" type="mc160:UseInPracticeType"/>
            <element name="Order" type="mc160:CreateOrderType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
