etc/schemas/2022/01/01/WarrantError.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
    
    <include schemaLocation="WarrantIdentifier.xsd"/>
    <include schemaLocation="OrderIdentifier.xsd"/>
    <include schemaLocation="OrderStatus.xsd"/>
    <include schemaLocation="Organisation.xsd"/>
    <include schemaLocation="HandoverIdentifier.xsd"/>

    <complexType name="WarrantErrorType">
        <annotation>
            <documentation xml:lang="en-GB">Error object that refer to a specific error type and description on a given warrant, and possible also with reference to a specific order and handover.</documentation>
            <documentation xml:lang="da-DK">Fejl-struktur som refererer til en specifik fejltype og beskrivelse på e givet udleveringsgrundlag, og muligvis også med reference til en specifik bestilling og udlevering.</documentation>
        </annotation>
        <sequence>
            <element name="WarrantIdentifier" type="mc160:WarrantIdentifierType"/>
            <element name="ReasonCode" type="mc160:ReasonCodeType"/>
            <element name="ReasonText" type="mc160:ReasonTextType"/>
            <element name="OrderIdentifier" type="mc160:OrderIdentifierType" minOccurs="0"/>
            <element name="OrderStatus" type="mc160:OrderStatusType" minOccurs="0"/>
            <element name="InProgressAtPharmacy" type="mc160:OrganisationType" minOccurs="0"/>
            <element name="HandoverIdentifier" type="mc160:HandoverIdentifierType" minOccurs="0"/>
        </sequence>
    </complexType>

    <simpleType name="ReasonCodeType">
        <restriction base="long"/>
    </simpleType>

    <simpleType name="ReasonTextType">
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="300"/>
        </restriction>
    </simpleType>

</schema>
