etc/schemas/2022/01/01/Warrant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="WarrantIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationVersion.xsd"/>
	<include schemaLocation="DrugMedicationEnded.xsd"/>
	<include schemaLocation="OrderedEffectuationIdentifier.xsd"/>
	<include schemaLocation="AuthorisationDateTime.xsd"/>
	<include schemaLocation="CreatedWithOptionalAuthorisationIdentifier.xsd"/>
	<include schemaLocation="ModificatorWithoutPerson.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="LatestEffectuationDateTime.xsd"/>
	<include schemaLocation="TerminatedDateTime.xsd"/>
	<include schemaLocation="ReimbursementClause.xsd"/>
	<include schemaLocation="ValidFromDate.xsd"/>
	<include schemaLocation="ValidToDate.xsd"/>
	<include schemaLocation="Prescription.xsd"/>
	<include schemaLocation="LoosePrescription.xsd"/>
	<include schemaLocation="HospitalPharmacyPrescription.xsd"/>
	<include schemaLocation="TreatmentHandOver.xsd"/>
	<include schemaLocation="UseInPractice.xsd"/>
	<include schemaLocation="DoseDispensed.xsd"/>
	<include schemaLocation="Indication.xsd"/>
	<include schemaLocation="Drug.xsd"/>
	<include schemaLocation="DosageText.xsd"/>
	<include schemaLocation="SubstitutionAllowed.xsd"/>
	<include schemaLocation="SupplementaryInformation.xsd"/>
	<include schemaLocation="WarrantStatus.xsd"/>
	<include schemaLocation="InvalidationReasonText.xsd"/>
	<include schemaLocation="DeprecatedDateTime.xsd"/>
	<include schemaLocation="Order.xsd"/>
	<include schemaLocation="WarrantVersion.xsd"/>
	<include schemaLocation="IsPrivateWarrant.xsd"/>

	<complexType name="WarrantType">
		<annotation>
			<documentation xml:lang="en-GB">A warrant</documentation>
			<documentation xml:lang="da-DK">Et udleveringsgrundlag</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="mc160:WarrantIdentifierType"/>
            <element name="AttachedToDrugMedicationIdentifier" type="mc160:DrugMedicationIdentifierType" minOccurs="0"/>
            <element name="CreatedFromDrugMedicationVersion" type="mc160:DrugMedicationVersionType" minOccurs="0"/>
			<element name="DrugMedicationEnded" type="mc160:DrugMedicationEndedType" minOccurs="0"/>
			<element name="OrderedEffectuationIdentifier" type="mc160:OrderedEffectuationIdentifierType" minOccurs="0"/>
			<element name="AuthorisationDateTime" type="mc160:AuthorisationDateTimeType"/>
			<element name="Created" type="mc160:CreatedWithOptionalAuthorisationIdentifierType"/>
			<choice minOccurs="0">
				<element name="ReportedByWithoutPerson" type="mc160:ModificatorWithoutPersonType"/>
				<element name="ReportedBy" type="mc160:ModificatorType"/>
			</choice>
			<element name="LatestEffectuationDateTime" type="mc160:LatestEffectuationDateTimeType" minOccurs="0"/>
			<element name="TerminatedDateTime" type="mc160:TerminatedDateTimeType" minOccurs="0"/>
			<element name="ReimbursementClause" type="mc160:ReimbursementClauseType" minOccurs="0"/>
            <element name="ValidFromDate" type="mc160:ValidFromDateType"/>
            <element name="ValidToDate" type="mc160:ValidToDateType"/>
			<choice>
                <element name="Prescription" type="mc160:PrescriptionType"/>
				<element name="LoosePrescription" type="mc160:LoosePrescriptionType"/>
				<element name="HospitalPharmacyPrescription" type="mc160:HospitalPharmacyPrescriptionType"/>
				<element name="TreatmentHandOver" type="mc160:TreatmentHandOverType"/>
                <element name="DoseDispensed" type="mc160:DoseDispensedType"/>
				<element name="UseInPractice" type="mc160:UseInPracticeType"/>
			</choice>
			<element name="Indication" type="mc160:IndicationType" minOccurs="0"/>
			<element name="Drug" type="mc160:DrugType"/>
			<element name="DosageText" type="mc160:DosageTextType" minOccurs="0"/>
			<element name="SubstitutionAllowed" type="mc160:SubstitutionAllowedType"/>
			<element name="SupplementaryInformation" type="mc160:SupplementaryInformationType" minOccurs="0"/>
			<element name="Status" type="mc160:WarrantStatusType"/>
			<element name="InvalidationReasonText" type="mc160:InvalidationReasonTextType" minOccurs="0"/>
			<element name="Deprecated" type="mc160:DeprecatedDateTimeType" minOccurs="0"/>
			<element name="ReplacesWarrantIdentifier" type="mc160:WarrantIdentifierType" minOccurs="0"/>
			<element name="ReplacedByWarrantIdentifier" type="mc160:WarrantIdentifierType" minOccurs="0"/>
            <element name="Order" type="mc160:OrderType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="Version" type="mc160:WarrantVersionType" minOccurs="0"/>
			<element name="IsPrivateWarrant" type="mc160:IsPrivateWarrantType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
