etc/schemas/2022/01/01/Warrant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<include schemaLocation="WarrantIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationIdentifier.xsd"/>
	<include schemaLocation="DrugMedicationVersion.xsd"/>
	<include schemaLocation="OrderedHandoverIdentifier.xsd"/>
	<include schemaLocation="AuthorisationDateTime.xsd"/>
	<include schemaLocation="CreatedWithOptionalAuthorisationIdentifier.xsd"/>
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="LatestHandoverDateTime.xsd"/>
	<include schemaLocation="ValidFromDate.xsd"/>
	<include schemaLocation="ValidToDate.xsd"/>
	<include schemaLocation="Prescription.xsd"/>
	<include schemaLocation="LoosePrescription.xsd"/>
	<include schemaLocation="HospitalPharmacyHandover.xsd"/>
	<include schemaLocation="TreatmentHandOver.xsd"/>
	<include schemaLocation="PracticePrescription.xsd"/>
	<include schemaLocation="DoseDispensed.xsd"/>
	<include schemaLocation="Indication.xsd"/>
	<include schemaLocation="Drug.xsd"/>
	<include schemaLocation="DosageText.xsd"/>
	<include schemaLocation="SubstitutionAllowed.xsd"/>
	<include schemaLocation="InvalidationReasonText.xsd"/>
	<include schemaLocation="DeprecatedDateTime.xsd"/>
	<include schemaLocation="Order.xsd"/>
	<include schemaLocation="WarrantVersion.xsd"/>
	<include schemaLocation="IsPrivateWarrant.xsd"/>
	<include schemaLocation="Handover.xsd"/>
	<include schemaLocation="InvalidHandover.xsd"/>
    <include schemaLocation="WarrantStatus.xsd"/>

	<complexType name="WarrantType">
		<annotation>
			<documentation xml:lang="en-GB">A warrant</documentation>
			<documentation xml:lang="da-DK">Et udleveringsgrundlag</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="mc160:WarrantIdentifierType"/>
			<element name="AttachedToDrugMedicationIdentifier" type="mc160:DrugMedicationIdentifierType" minOccurs="0"/>
			<element name="CreatedFromDrugMedicationVersion" type="mc160:DrugMedicationVersionType" minOccurs="0"/>
			<element name="OrderedHandoverIdentifier" type="mc160:OrderedHandoverIdentifierType" minOccurs="0"/>
			<element name="AuthorisationDateTime" type="mc160:AuthorisationDateTimeType"/>
			<element name="Created" type="mc160:CreatedWithOptionalAuthorisationIdentifierType"/>
            <element name="ReportedBy" type="mc160:ModificatorType" minOccurs="0"/>
			<element name="LatestHandoverDateTime" type="mc160:LatestHandoverDateTimeType" minOccurs="0"/>
			<element name="ReimbursementApprovedCode" type="mc160:ReimbursementCodeType" minOccurs="0"/> <!--Only used in responses -->
			<element name="ValidFromDate" type="mc160:ValidFromDateType"/>
			<element name="ValidToDate" type="mc160:ValidToDateType"/>
			<choice>
				<element name="Prescription" type="mc160:PrescriptionType"/>
				<element name="LoosePrescription" type="mc160:LoosePrescriptionType"/>
				<element name="HospitalPharmacyHandover" type="mc160:HospitalPharmacyHandoverType"/>
				<element name="TreatmentHandOver" type="mc160:TreatmentHandOverType"/>
				<element name="DoseDispensed" type="mc160:DoseDispensedType"/>
				<element name="PracticePrescription" type="mc160:PracticePrescriptionType"/>
			</choice>
			<element name="Indication" type="mc160:IndicationType" minOccurs="0"/>
			<element name="Drug" type="mc160:DrugType"/>
			<element name="DosageText" type="mc160:DosageTextType" minOccurs="0"/>
			<element name="SubstitutionAllowed" type="mc160:SubstitutionAllowedType" minOccurs="0"/>
			<element name="InvalidationReasonText" type="mc160:InvalidationReasonTextType" minOccurs="0"/>
			<element name="Deprecated" type="mc160:DeprecatedDateTimeType" minOccurs="0"/>
			<element name="ReplacesWarrantIdentifier" type="mc160:WarrantIdentifierType" minOccurs="0"/>
			<element name="ReplacedByWarrantIdentifier" type="mc160:WarrantIdentifierType" minOccurs="0"/>
			<element name="Order" type="mc160:OrderType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Handover" type="mc160:HandoverType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="InvalidHandover" type="mc160:InvalidHandoverType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Version" type="mc160:WarrantVersionType" minOccurs="0"/>
			<element name="IsPrivateWarrant" type="mc160:IsPrivateWarrantType" minOccurs="0"/>
            <element name="Status" type="mc160:WarrantStatusType"/>
		</sequence>
	</complexType>
</schema>
