etc/schemas/2022/01/01/WarrantRenewalReason.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<simpleType name="WarrantRenewalReasonType">
		<annotation>
			<documentation xml:lang="en-GB">Indicated a reason a doctor was picked for warrant renewal</documentation>
			<documentation xml:lang="da-DK">Indikere en grund til hvorfor en læge var valgt til udstedelse af udleveringsgrundlag</documentation>
		</annotation>
		<union memberTypes="mc160:PredefinedWarrantRenewalReasonType mc160:UndefinedWarrantRenewalReasonType"/>
	</simpleType>
	<simpleType name="PredefinedWarrantRenewalReasonType">
		<restriction base="mc160:UndefinedWarrantRenewalReasonType">
			<enumeration value="Seneste receptudsteder"/>
			<enumeration value="Patientens egen læge"/>
		</restriction>
	</simpleType>
	<simpleType name="UndefinedWarrantRenewalReasonType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="100"/>
		</restriction>
	</simpleType>
</schema>
