etc/schemas/2022/01/01/WarrantOrderHandoverIdentifierForResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
        elementFormDefault="qualified" attributeFormDefault="unqualified">

  <include schemaLocation="WarrantOrderIdentifierForResponse.xsd"/>
  <include schemaLocation="Handover.xsd"/>

  <element name="WarrantOrderIdentifierWithHandoverForResponse" type="mc160:WarrantOrderIdentifierWithHandoverForResponseType">
    <annotation>
      <documentation xml:lang="en-GB">Type with identifier for Warrant, Order and Handover</documentation>
      <documentation xml:lang="da-DK">Type med identifier for Warrant, Order og Handover</documentation>
    </annotation>
  </element>

  <complexType name="WarrantOrderIdentifierWithHandoverForResponseType">
    <complexContent>
      <extension base="mc160:WarrantOrderIdentifierForResponseType">
        <sequence>
          <element name="HandoverIdentifier" type="mc160:HandoverIdentifierType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>
