etc/schemas/2022/01/01/WarrantStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:mc160="http://fmk-teknik.dk/160"
        targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">

    <include schemaLocation="Source.xsd"/>
    
    <simpleType name="WarrantStatusType">
        <union memberTypes="mc160:PredefinedWarrantStatusType mc160:UndefinedWarrantStatusType"/>
    </simpleType>

    <simpleType name="PredefinedWarrantStatusType">
        <restriction base="string">
            <enumeration value="Open"/>
            <enumeration value="Pending"/>
            <enumeration value="Closed"/>
            <enumeration value="Cancelled"/>
            <enumeration value="Invalid"/>
            <enumeration value="Expired"/>
            <enumeration value="Deferred cancellation"/>
        </restriction>
    </simpleType>

    <simpleType name="UndefinedWarrantStatusType">
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="200"/>
        </restriction>
    </simpleType>

</schema>
