etc/schemas/2022/01/01/Withdrawn.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:mc160="http://fmk-teknik.dk/160"
		targetNamespace="http://fmk-teknik.dk/160"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<include schemaLocation="Modificator.xsd"/>
	<include schemaLocation="WithdrawnDateTime.xsd"/>
	
	<element name="Withdrawn" type="mc160:WithdrawnType">
		<annotation>
			<documentation xml:lang="en-GB">Informations about who, when and why the drug medication was withdrawn</documentation>
			<documentation xml:lang="da-DK">Information om hvem, hvornår og hvorfor lægemiddelordination er seponeret </documentation>
		</annotation>
	</element>
	<complexType name="WithdrawnType">
		<sequence>
			<element name="By" type="mc160:ModificatorType"/>
			<element name="DateTime" type="mc160:WithdrawnDateTimeType"/>
		</sequence>
	</complexType>
</schema>
