etc/schemas/2015/01/01/E4/AdjustDosageChangeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" 
		xmlns:medicinecard20150101E4="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E4" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E4" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<include schemaLocation="importsFrom20150101E4.xsd"/>
	<element name="AdjustDosageChangeRequest" type="medicinecard20150101E4:AdjustDosageChangeRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request which adjusts the dosage dates for an upcoming update of a drug medication</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel der justerer doseringsdatoerne for en kommende opdatering af en lægemiddelordination</documentation>
		</annotation>
	</element>
	<complexType name="AdjustDosageChangeRequestType">
		<sequence>
			<choice>
				<element name="DrugMedicationIdentifier" type="medicinecard20150101:DrugMedicationIdentifierType"/>
				<element name="CreateNewDrugMedication" type="medicinecard20150101E4:CreateNewDrugMedicationType"/>
			</choice>
			<element name="DosageStructures" type="medicinecard20150101E4:DosageStructuresForRequestType"/>
		</sequence>
	</complexType>
</schema>
