etc/schemas/2015/01/01/E4/AnyDoseDispensingPeriod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
        xmlns:medicinecard20150101E4="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E4"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E4"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150101E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"/>
    <include schemaLocation="importsFrom20150101E4.xsd"/>

    <complexType name="AnyDoseDispensingPeriodType">
        <annotation>
            <documentation xml:lang="en-GB">Dose dispensing card contents disregarding periods</documentation>
            <documentation xml:lang="da-DK">Dosisdispenserings kort indhold på tværs af perioder</documentation>
        </annotation>
        <sequence>
            <element name="PrivatePlannedDispensing" type="medicinecard20150101E2:PrivateDoseDispensedMedicationType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="PlannedDispensing" type="medicinecard20150101E4:ExplicitPlannedDispensingType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</schema>
