etc/schemas/2015/01/01/E4/DoseDispensingSummary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" 
		xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2" 
		xmlns:medicinecard20150101E4="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E4" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E4" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
    <import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
    <import schemaLocation="importsFrom20150101E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"/>
    <include schemaLocation="importsFrom20150101E4.xsd"/>

    <complexType name="DoseDispensingSummaryType">
        <annotation>
            <documentation xml:lang="en-GB">Overall information about dose dispensing for a patient</documentation>
            <documentation xml:lang="da-DK">Overordnet information om patientens dosisdispensering</documentation>
        </annotation>
        <sequence>
            <element name="StartDate" type="medicinecard20150101E2:DoseDispensingPeriodStartDateType" minOccurs="0" />
            <element name="EndDate" type="medicinecard20150101E2:DoseDispensingPeriodEndDateType" minOccurs="0" />
            <element name="Deadline" type="medicinecard20150101E2:DoseDispensingDeadlineType" minOccurs="0" />
			<element name="LatestDosageDispensingEffectuation" type="medicinecard20150101E2:LatestDosageDispensingEffectuationType" minOccurs="0"/>
			<element name="HasOpenDosageDispensingPrescriptions" type="medicinecard20150101E1:HasOpenDosageDispensingPrescriptionsType"/>
            <element name="OrderedAtPharmacy" type="medicinecard20150101:OrganisationType" minOccurs="0"/>
			<element name="DoseDispensingOnHold" type="medicinecard20150101E4:IsDoseDispensingOnHoldType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
