etc/schemas/2015/01/01/E4/GetDrugMedicationEffectuationsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150101E4="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E4"
		xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E4"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<import schemaLocation="importsFrom20150101E1.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E1"/>
	<import schemaLocation="importsFrom20150101E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"/>
	<include schemaLocation="importsFrom20150101E4.xsd"/>
	<element name="GetDrugMedicationEffectuationsResponse" type="medicinecard20150101E4:GetDrugMedicationEffectuationsResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response to get more drug medication effectuations</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar for at hente flere lægemiddelseffektueringer</documentation>
		</annotation>
	</element>

	<complexType name="GetDrugMedicationEffectuationsResponseType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150101E2:PersonIdentifierType"/>
			<element name="Identifier" type="medicinecard20150101:DrugMedicationIdentifierType"/>
			<element name="Effectuation" type="medicinecard20150101E2:EffectuationType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MoreEffectuationsAvailable" type="medicinecard20150101E4:MoreEffectuationsAvailableType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
