etc/schemas/2015/01/01/E4/GetPrescriptionResidualAmountResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150101E2="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"
		xmlns:medicinecard20150101E4="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E4"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E4"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<import schemaLocation="importsFrom20150101E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E2"/>
	<include schemaLocation="importsFrom20150101E4.xsd"/>

	<element name="GetPrescriptionResidualAmountResponse" type="medicinecard20150101E4:GetPrescriptionResidualAmountResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response with the effectuated and remaning amount for one or more prescriptions</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar med den effektuerede og resterende mængde på en eller flere recepter</documentation>
		</annotation>
	</element>

	<complexType name="GetPrescriptionResidualAmountResponseType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150101E2:PersonIdentifierType"/>
			<element name="PrescriptionMedication" type="medicinecard20150101E4:ResidualPrescriptionMedicationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
