etc/schemas/2015/01/01/E4/MoreEffectuationsAvailable.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01" 
		xmlns:medicinecard20150101E4="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E4" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E4" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">

	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<include schemaLocation="importsFrom20150101E4.xsd"/>
	<element name="MoreEffectuationsAvailable" type="medicinecard20150101E4:MoreEffectuationsAvailableType">
		<annotation>
			<documentation xml:lang="en-GB">Indicates that there are more effectuations available</documentation>
			<documentation xml:lang="da-DK">Angiver at der er flere effektueringer</documentation>
		</annotation>
	</element>
	<complexType name="MoreEffectuationsAvailableType">
		<sequence>
			<element name="LastReceived" type="medicinecard20150101:EffectuationIdentifierType"/>
			<element name="TotalNb" type="medicinecard20150101E4:TotalNbType"/>
		</sequence>
	</complexType>
</schema>
