etc/schemas/2015/01/01/E4/ResidualPrescriptionMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150101E4="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E4"
		xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E4"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
	<include schemaLocation="importsFrom20150101E4.xsd"/>

	<element name="ResidualPrescriptionMedication" type="medicinecard20150101E4:ResidualPrescriptionMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">The residual and effectuated amount for a prescription including unit</documentation>
			<documentation xml:lang="da-DK">Den resterende og effektuerede mængde for en recept inclusiv enhed</documentation>
		</annotation>
	</element>

	<complexType name="ResidualPrescriptionMedicationType">
		<sequence>
			<element name="Identifier" type="medicinecard20150101:PrescriptionMedicationIdentifierType"/>
			<element name="UnitCode" type="medicinecard20150101:PackageSizeUnitCodeType"/>
			<element name="UnitText" type="medicinecard20150101:PackageSizeUnitTextType"/>
			<element name="EffectuatedAmount" type="medicinecard20150101E4:EffectuatedAmountType"/>
			<element name="ResidualAmount" type="medicinecard20150101E4:ResidualAmountType"/>
		</sequence>
	</complexType>
</schema>
