etc/schemas/2015/01/01/E4/ValidPrescription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150101="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"
        xmlns:medicinecard20150101E4="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E4"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01/E4"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150101.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/01/01"/>
    <include schemaLocation="importsFrom20150101E4.xsd"/>

	<complexType name="ValidPrescriptionType">
		<annotation>
			<documentation xml:lang="en-GB">Indication that a valid prescription exists for a planned dispensing</documentation>
			<documentation xml:lang="da-DK">Information om der findes en gyldig recept for en planlagt dispensering</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="medicinecard20150101:PrescriptionMedicationIdentifierType"/>
            <element name="ValidFromDate" type="medicinecard20150101E4:ValidFromDateType"/>
            <element name="ValidToDate" type="medicinecard20150101E4:ValidToDateType"/>
		</sequence>
	</complexType>
</schema>
