etc/schemas/2019/09/01/DumpRestore.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ssi.dk/nsi/xml.schema/2019/09/01" xmlns:tns="http://www.ssi.dk/nsi/xml.schema/2019/09/01" elementFormDefault="qualified">

	<complexType name="PersonIdentifierType">
		<simpleContent>
			<extension base="tns:PersonIdentifierValueType">
				<attribute name="source" type="tns:PersonIdentifierSourceType" use="required"/>
			</extension>
		</simpleContent>
	</complexType>

	<simpleType name="PersonIdentifierValueType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="50"/>
		</restriction>
	</simpleType>

	<simpleType name="PersonIdentifierSourceType">
		<union memberTypes="tns:PersonIdentifierPredefinedSourceType tns:UndefinedSourceType"/>
	</simpleType>

	<simpleType name="PersonIdentifierPredefinedSourceType">
		<restriction base="tns:UndefinedSourceType">
			<enumeration value="CPR"/>
			<enumeration value="X-eCPR"/>
			<enumeration value="SORPERSON"/>
		</restriction>
	</simpleType>

	<simpleType name="UndefinedSourceType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="200"/>
		</restriction>
	</simpleType>

	<complexType name="OtherIdentifierType">
		<simpleContent>
			<extension base="tns:OtherIdentifierValueType">
				<attribute name="source" type="tns:OtherIdentifierSourceType" use="required"/>
			</extension>
		</simpleContent>
	</complexType>

	<simpleType name="OtherIdentifierValueType">
		<restriction base="string">
	      <minLength value="1"/>
	      <maxLength value="100"/>
		</restriction>
	</simpleType>

	<simpleType name="OtherIdentifierSourceType">
		<union memberTypes="tns:OtherIdentifierPredefinedSourceType tns:UndefinedSourceType"/>
	</simpleType>

	<simpleType name="OtherIdentifierPredefinedSourceType">
		<restriction base="tns:UndefinedSourceType">
		</restriction>
	</simpleType>
	
	<complexType name="IdentifierType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="tns:PersonIdentifierType" maxOccurs="unbounded"/>
				<element name="OtherIdentifier" type="tns:OtherIdentifierType" maxOccurs="unbounded"/>
			</choice>
		</sequence>
	
	</complexType>
	
	<complexType name="DumpDataType">
		<sequence>
			<element name="Identifier" type="tns:IdentifierType" maxOccurs="unbounded"/>
			<element name="DumpData" type="base64Binary" />
			<element name="RestoreAtDate" type="date" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>
	
	<complexType name="DumpPatientsRequestType">
		<sequence>
			<element name="Identifier" type="tns:IdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	
	<complexType name="DumpPatientsReponseType">
		<sequence>
			<element name="Dump" type="tns:DumpDataType" maxOccurs="unbounded" />
		</sequence>
	</complexType>
	
	<complexType name="RestorePatientsRequestType">
		<sequence>
			<element name="Dump" type="tns:DumpDataType" />
		</sequence>
	</complexType>
	
	<complexType name="RestorePatientsReponseType">
		<sequence>
			<element name="Identifier" type="tns:IdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<complexType name="ResetPatientsRequestType">
		<sequence>
			<element name="Identifier" type="tns:IdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	
	<complexType name="ResetPatientsReponseType">
		<sequence>
			<element name="Identifier" type="tns:IdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	
	
	<element name="DumpPatientsRequest" type="tns:DumpPatientsRequestType" />
	<element name="DumpPatientsResponse" type="tns:DumpPatientsReponseType" />

	<element name="RestorePatientsRequest" type="tns:RestorePatientsRequestType" />
	<element name="RestorePatientsResponse" type="tns:RestorePatientsReponseType" />

	<element name="ResetPatientsRequest" type="tns:ResetPatientsRequestType" />
	<element name="ResetPatientsResponse" type="tns:ResetPatientsReponseType" />
</schema>