etc/schemas/2015/06/01/E3/AbortPackingResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
		xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="importsFrom20150601E3.xsd"/>

	<element name="AbortPackingResponse" type="medicinecard20150601E3:AbortPackingResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response from a request which aborts the packing of a dosedispensing period</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar på en forespørgsel som annullerer pakningen af en dosisdispenseret periode</documentation>
		</annotation>
	</element>

	<complexType name="AbortPackingResponseType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
			<element name="DoseDispensingPeriodIdentifier" type="medicinecard20150601E2:DoseDispensingPeriodIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
