etc/schemas/2015/06/01/E3/AcutePacking.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<simpleType name="AcutePackingType">
		<annotation>
			<documentation xml:lang="en-GB">The acute status of a period</documentation>
			<documentation xml:lang="da-DK">Den akutte status for en dosisdispenseringsperiode</documentation>
		</annotation>
		<union memberTypes="medicinecard20150601E3:PredefinedAcutePackingType medicinecard20150601E3:UndefinedAcutePackingType"/>
	</simpleType>
	<simpleType name="PredefinedAcutePackingType">
		<restriction base="medicinecard20150601E3:UndefinedAcutePackingType">
			<enumeration value="Akut ændring af medicinering"/>
			<enumeration value="Akut erstatningspakning for ændret medicinering"/>
			<enumeration value="Akut erstatningspakning for mistet medicin"/>
			<enumeration value="Akut supplerende pakning for tilføjet medicinering"/>
			<enumeration value="Akut fremskudt pakning"/>
		</restriction>
	</simpleType>
	<simpleType name="UndefinedAcutePackingType">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="100"/>
		</restriction>
	</simpleType>
</schema>
