etc/schemas/2015/06/01/E3/CloseDoseDispensingCardRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" 
		xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3" 
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">
	<import  schemaLocation="../PersonIdentifier.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<import  schemaLocation="../Modificator.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="CloseDoseDispensingCard.xsd"/>
	<element name="CloseDoseDispensingCardRequest" type="medicinecard20150601E3:CloseDoseDispensingCardRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request which closes a new dose dispensing card</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel der lukker et dosisdispenseringskort</documentation>
		</annotation>
	</element>
	<complexType name="CloseDoseDispensingCardRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
			<element name="ModifiedBy" type="medicinecard20150601:ModificatorType"/>
			<element name="ReportedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="DoseDispensingCard" type="medicinecard20150601E3:CloseDoseDispensingCardType"/>
		</sequence>
	</complexType>
</schema>
