etc/schemas/2015/06/01/E3/CreatePackingGroupRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
        xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
    <include schemaLocation="importsFrom20150601E3.xsd"/>

	<element name="CreatePackingGroupRequest" type="medicinecard20150601E3:CreatePackingGroupRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request to create a DD packing group</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel der opretter en DD pakkegruppe</documentation>
		</annotation>
	</element>
	<complexType name="CreatePackingGroupRequestType">
		<sequence>
			<element name="CreatedBy" type="medicinecard20150601:ModificatorType"/>
			<element name="ReportedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="PackingGroup" type="medicinecard20150601E3:CreatePackingGroupType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
