etc/schemas/2015/06/01/E3/CreateDoseDispensingCardResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" 
		xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3" 
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">
	<import  schemaLocation="../PersonIdentifier.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="DoseDispensingCardIdentifierAndVersion.xsd"/>
	<element name="CreateDoseDispensingCardResponse" type="medicinecard20150601E3:CreateDoseDispensingCardResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response from a for a request which created a new dose dispensing card</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar på en forespørgsel der opretter et nyt dosisdispenseringskort</documentation>
		</annotation>
	</element>
	<complexType name="CreateDoseDispensingCardResponseType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
			<element name="DoseDispensingCard" type="medicinecard20150601E3:DoseDispensingCardIdentifierAndVersionType"/>
		</sequence>
	</complexType>
</schema>
