etc/schemas/2015/06/01/E3/DeletePlannedDispensing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
    <include schemaLocation="importsFrom20150601E3.xsd"/>

    <complexType name="DeletePlannedDispensingType">
        <annotation>
            <documentation xml:lang="en-GB">Element to delete a planned dispensing</documentation>
            <documentation xml:lang="da-DK">Element til sletning af en planlagt dispensering</documentation>
        </annotation>
        <sequence>
			<element name="ModificationMetadata" type="medicinecard20150601:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
        	<element name="Identifier" type="medicinecard20150601E2:PlannedDispensingIdentifierType"/>
        	<element name="Version" type="medicinecard20150601E3:PlannedDispensingVersionType"/> 
        </sequence>
    </complexType>
</schema>
