etc/schemas/2015/06/01/E3/DoseDispensingPeriodSummary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" 
		xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
    <include schemaLocation="importsFrom20150601E3.xsd"/>

    <complexType name="DoseDispensingPeriodSummaryType">
        <annotation>
            <documentation xml:lang="en-GB">Overall information about a dose dispensing period</documentation>
            <documentation xml:lang="da-DK">Overordnet information om en dosisdispenseringsperiode</documentation>
        </annotation>
        <sequence>
			<element name="Identifier" type="medicinecard20150601E2:DoseDispensingPeriodIdentifierType"/>
			<element name="Created" type="medicinecard20150601:CreatedType"/>
			<element name="ReportedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="Modified" type="medicinecard20150601:ModifiedType" minOccurs="0"/>
            <element name="StartDate" type="medicinecard20150601:DoseDispensingPeriodStartDateType" />
            <element name="EndDate" type="medicinecard20150601:DoseDispensingPeriodEndDateType" />
            <element name="Deadline" type="medicinecard20150601:DoseDispensingDeadlineType" />
            <element name="ExpectedDelivery" type="medicinecard20150601:ExpectedDeliveryDateTimeType" minOccurs="0" />
            <element name="Status" type="medicinecard20150601E2:DoseDispensingStatusType"/>
            <element name="ProductionIdentifier" type="medicinecard20150601E2:DoseDispensingProductionIdentifierType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
