etc/schemas/2015/06/01/E3/DoseDispensingCardSummary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
        xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
    <include schemaLocation="importsFrom20150601E3.xsd"/>

	<complexType name="DoseDispensingCardSummaryType">
		<annotation>
			<documentation xml:lang="en-GB">Overview of dose dispensing periods for a dose dispensing card</documentation>
			<documentation xml:lang="da-DK">Overblik over dosisdispenseringsperioder på et dosisdispenseringskort</documentation>
		</annotation>
		<sequence>
			<element name="Identifier" type="medicinecard20150601E2:DoseDispensingCardIdentifierType"/>
        	<element name="Description" type="medicinecard20150601E2:DoseDispensingCardDescriptionType"/>
			<element name="DoseDispensingPeriod" type="medicinecard20150601E3:DoseDispensingPeriodSummaryType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
