etc/schemas/2015/06/01/E3/DoseDispensingIdentifiers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
		xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3" elementFormDefault="qualified" attributeFormDefault="unqualified">

	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" schemaLocation="../PersonIdentifier.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" schemaLocation="../OrganisationIdentifier.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" schemaLocation="../E2/DoseDispensingCardIdentifier.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" schemaLocation="../E2/PackingGroupIdentifier.xsd"/>
	<import namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" schemaLocation="../E2/DoseDispensingPeriodIdentifier.xsd"/>

	<complexType name="DoseDispensingIdentifiersType">
		<annotation>
			<documentation xml:lang="en-GB">Collection of identifier related to a modification of a patients dose dispensing card</documentation>
			<documentation xml:lang="da-DK">Relevante ID'er i forbindelse med en oprettelse/redigering af patients dosisdispenserings kort</documentation>
		</annotation>
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
			<element name="DoseDispensingCard" type="medicinecard20150601E2:DoseDispensingCardIdentifierType"/>
			<element name="DoseDispensingPeriod" type="medicinecard20150601E2:DoseDispensingPeriodIdentifierType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>