etc/schemas/2015/06/01/E3/DoseDispensingCardIdentifierAndVersion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
        xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import  schemaLocation="../E2/DoseDispensingCardIdentifier.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
    <include schemaLocation="DoseDispensingCardVersion.xsd"/>

    <complexType name="DoseDispensingCardIdentifierAndVersionType">
        <annotation>
            <documentation xml:lang="en-GB">Element with result for updating a Dose dispensing card</documentation>
            <documentation xml:lang="da-DK">Resultat af opdatering af et Dosisdispenseringskort</documentation>
        </annotation>
        <sequence>
        	<element name="Identifier" type="medicinecard20150601E2:DoseDispensingCardIdentifierType"/>
        	<element name="Version" type="medicinecard20150601E3:DoseDispensingCardVersionType"/> 
        </sequence>
    </complexType>
</schema>
