etc/schemas/2015/06/01/E3/DrugMedicationEffectuation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
        xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
    <include schemaLocation="importsFrom20150601E3.xsd"/>

    <complexType name="DrugMedicationEffectuationType">
        <annotation>
            <documentation xml:lang="en-GB">Element with a created effectuation on a dose dispensed medication</documentation>
            <documentation xml:lang="da-DK">Element med en oprettet effektuering på en dosisdispenseret ordination</documentation>
        </annotation>
        <sequence>
        	<element name="Identifier" type="medicinecard20150601:DrugMedicationIdentifierType"/>
            <element name="Effectuation" type="medicinecard20150601E2:EffectuationType" maxOccurs="unbounded"/>
        </sequence>    
    </complexType>
</schema>
