etc/schemas/2015/06/01/E3/EffectuateDoseDispensingPeriodRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
        xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
    <include schemaLocation="importsFrom20150601E3.xsd"/>

	<element name="EffectuateDoseDispensingPeriodRequest" type="medicinecard20150601E3:EffectuateDoseDispensingPeriodRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request to create pharmacy effectuations for an entire DD period</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel til at oprette effektueringer for alt i en DD periode</documentation>
		</annotation>
	</element>
	<complexType name="EffectuateDoseDispensingPeriodRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
			<element name="CreatedBy" type="medicinecard20150601:ModificatorType"/>
			<element name="ReportedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="DoseDispensingPeriod" type="medicinecard20150601E3:EffectuateDoseDispensingPeriodType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
