etc/schemas/2015/06/01/E3/ExplicitPlannedDispensing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
        xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
    <include schemaLocation="importsFrom20150601E3.xsd"/>

    <complexType name="ExplicitPlannedDispensingType">
        <annotation>
            <documentation xml:lang="en-GB">Planned Dose Dispensed Medication</documentation>
            <documentation xml:lang="da-DK">Planlagt Dispensering af dosisdispenseret lægemiddelordination</documentation>
        </annotation>
        <sequence>
        	<element name="Identifier" type="medicinecard20150601E2:PlannedDispensingIdentifierType"/>
            <element name="Version" type="medicinecard20150601E3:PlannedDispensingVersionType"/>
          	<element name="DrugMedication" type="medicinecard20150601E2:DrugMedicationType"/>
          	<element name="ValidPrescription" type="medicinecard20150601E3:ValidPrescriptionType" minOccurs="0"/>
            <element name="ShortName" type="medicinecard20150601E2:DrugShortNameType" minOccurs="0"/>
            <element name="Description" type="medicinecard20150601E2:DrugDescriptionTextType" minOccurs="0"/>
            <element name="Warning" type="medicinecard20150601E2:DoseDispensingWarningType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="Substitution" type="medicinecard20150601E2:DrugSubstitutionType" minOccurs="0"/>
            <element name="AdministrationInstruction" type="medicinecard20150601E2:AdministrationInstructionType" minOccurs="0" />
            <element name="PlannedAdministration" type="medicinecard20150601E2:PlannedAdministrationType" minOccurs="0"/>
            <element name="TotalNumberOfDoseDispensedQuantity" type="medicinecard20150601:DoseQuantityType" minOccurs="0"/>
            <element name="DoseDispensingEndDate" type="medicinecard20150601:DoseDispensingEndDateType" minOccurs="0"/>     
        </sequence>
    </complexType>
</schema>
