etc/schemas/2015/06/01/E3/ExplicitDoseDispensingPeriod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
        xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
    <include schemaLocation="importsFrom20150601E3.xsd"/>

    <complexType name="ExplicitDoseDispensingPeriodType">
        <annotation>
            <documentation xml:lang="en-GB">Explicit Dose dispensing period</documentation>
            <documentation xml:lang="da-DK">Explicit Dosisdispenseringsperiode</documentation>
        </annotation>
        <sequence>
        	<element name="Identifier" type="medicinecard20150601E2:DoseDispensingPeriodIdentifierType"/>
        	<element name="Status" type="medicinecard20150601E2:DoseDispensingStatusType"/>
            <element name="StartDate" type="medicinecard20150601:DoseDispensingPeriodStartDateType"/>
            <element name="EndDate" type="medicinecard20150601:DoseDispensingPeriodEndDateType"/>
            <element name="Deadline" type="medicinecard20150601:DoseDispensingDeadlineType"/>
            <element name="EffectuationDate" type="medicinecard20150601E2:DoseDispensedEffectuationDateType" minOccurs="0"/>
            <element name="ExpectedDelivery" type="medicinecard20150601:ExpectedDeliveryDateTimeType" minOccurs="0" />
        	<element name="ProductionIdentifier" type="medicinecard20150601E2:DoseDispensingProductionIdentifierType" minOccurs="0"/> 
            <element name="PrivatePlannedDispensing" type="medicinecard20150601E2:PrivateDoseDispensedMedicationType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="PlannedDispensing" type="medicinecard20150601E3:ExplicitPlannedDispensingType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="DetailedSpecification" type="medicinecard20150601E2:DoseDispensingDetailedSpecificationType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
