etc/schemas/2015/06/01/E3/GetAcutePeriodsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
    <include schemaLocation="importsFrom20150601E3.xsd"/>

	<element name="GetAcutePeriodsResponse" type="medicinecard20150601E3:GetAcutePeriodsResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response with acute dosedispensingperiods</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en svar men akutte dosisdispenseringsperioder</documentation>
		</annotation>
	</element>
	<complexType name="GetAcutePeriodsResponseType">
		<sequence>
			<element name="PersonWithDoseDispensing" type="medicinecard20150601E3:PersonWithDoseDispensingType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
