etc/schemas/2015/06/01/E3/GetDoseDispensingPeriodsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
        xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
    <include schemaLocation="importsFrom20150601E3.xsd"/>

	<element name="GetDoseDispensingPeriodsRequest" type="medicinecard20150601E3:GetDoseDispensingPeriodsRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request to receive the periods defined for a dose dispensing card</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel der henter en oversigt over perioderne for et dosisdispenseringskort</documentation>
		</annotation>
	</element>
	<complexType name="GetDoseDispensingPeriodsRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
        	<element name="DoseDispensingCardIdentifier" type="medicinecard20150601E2:DoseDispensingCardIdentifierType" minOccurs="0"/>
            <element name="IncludePeriodsSince" type="medicinecard20150601:DoseDispensingPeriodStartDateType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
