etc/schemas/2015/06/01/E3/GetDoseDispensingCardHistoryRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" 
		xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
	<include schemaLocation="importsFrom20150601E3.xsd"/>

	<element name="GetDoseDispensingCardHistoryRequest" type="medicinecard20150601E3:GetDoseDispensingCardHistoryRequestType"/>

	<complexType name="GetDoseDispensingCardHistoryRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Element for a requesting history for a dose dispensing card</documentation>
			<documentation xml:lang="da-DK">Element for en forespørgsel efter historik for et dosisdispenseringskort</documentation>
		</annotation>
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
        	<element name="DoseDispensingCardIdentifier" type="medicinecard20150601E2:DoseDispensingCardIdentifierType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
