etc/schemas/2015/06/01/E3/GetPackingOverviewResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
        xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
    <include schemaLocation="importsFrom20150601E3.xsd"/>

	<element name="GetPackingOverviewResponse" type="medicinecard20150601E3:GetPackingOverviewResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response to a request for a overview of packaged dose dispensing periods</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar på en søgning efter et overblik over pakkede dosisdispenserings perioder</documentation>
		</annotation>
	</element>
	<complexType name="GetPackingOverviewResponseType">
		<sequence>
				<element name="PackagedPeriodOverview" type="medicinecard20150601E3:PackagedPeriodOverviewType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
