etc/schemas/2015/06/01/E3/GetPrescriptionResidualAmountRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="importsFrom20150601E3.xsd"/>

	<element name="GetPrescriptionResidualAmountRequest" type="medicinecard20150601E3:GetPrescriptionResidualAmountRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request for residual effectuation information for a prescription</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel efter information på resterende effektueringer på en recept</documentation>
		</annotation>
	</element>

	<complexType name="GetPrescriptionResidualAmountRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
			<element name="PrescriptionIdentifier" type="medicinecard20150601:PrescriptionIdentifierType"/>
		</sequence>
	</complexType>
</schema>
