etc/schemas/2015/06/01/E3/GetPackingGroupRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" 
		xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3" 
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified">
	<import  schemaLocation="../Organisation.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import  schemaLocation="../PackingGroup.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<element name="GetPackingGroupRequest" type="medicinecard20150601E3:GetPackingGroupRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request to get the contents of a packing group</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel på indholdet af en pakkegruppe</documentation>
		</annotation>
	</element>
	<complexType name="GetPackingGroupRequestType">
		<sequence>
			<element name="OrderedAtPharmacy" type="medicinecard20150601:OrganisationType"/>
            <element name="PackingGroupName" type="medicinecard20150601:PackingGroupType"/>
		</sequence>
	</complexType>
</schema>
