etc/schemas/2015/06/01/E3/GetPackingOverviewRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
        xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
    <include schemaLocation="importsFrom20150601E3.xsd"/>

	<element name="GetPackingOverviewRequest" type="medicinecard20150601E3:GetPackingOverviewRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request to retrive an overview of packaged dose dispensing periods</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel efter paknings overblik for dosisdispenserings perioder</documentation>
		</annotation>
	</element>
	<complexType name="GetPackingOverviewRequestType">
		<sequence>
			<choice>
				<element name="PackingGroupIdentifier" type="medicinecard20150601E2:PackingGroupIdentifierType"/>
				<element name="DoseDispensingPeriodIdentifier" type="medicinecard20150601E2:DoseDispensingPeriodIdentifierType" maxOccurs="unbounded"/>
			</choice>
		</sequence>
	</complexType>
</schema>
