etc/schemas/2015/06/01/E3/PackingGroupDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
        xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
    <include schemaLocation="importsFrom20150601E3.xsd"/>

    <complexType name="PackingGroupDetailsType">
        <annotation>
            <documentation xml:lang="en-GB">Packing group details</documentation>
            <documentation xml:lang="da-DK">Pakkegruppe detaljer</documentation>
        </annotation>
        <sequence>
        	<element name="Identifier" type="medicinecard20150601E2:PackingGroupIdentifierType"/>
			<element name="Created" type="medicinecard20150601:CreatedType"/>
			<element name="ReportedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="Modified" type="medicinecard20150601:ModifiedType" minOccurs="0"/>
        	<element name="Name" type="medicinecard20150601:PackingGroupType"/>
        </sequence>
    </complexType>
</schema>
