etc/schemas/2015/06/01/E3/PackagedDrugSubstitution.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
        xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
    <include schemaLocation="importsFrom20150601E3.xsd"/>

	<element name="PackagedDrugSubstitution" type="medicinecard20150601E3:PackagedDrugSubstitutionType">
		<annotation>
			<documentation xml:lang="en-GB">Selection of packaged drugs for a dose dispensing period</documentation>
			<documentation xml:lang="da-DK">Valg af lægemidler der skal pakkes i en given DD periode</documentation>
		</annotation>
	</element>
	<complexType name="PackagedDrugSubstitutionType">
		<sequence>
			<element name="PeriodIdentifier" type="medicinecard20150601E2:DoseDispensingPeriodIdentifierType"/>
			<element name="PlannedDispensingIdentifier" type="medicinecard20150601E2:PlannedDispensingIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
