etc/schemas/2015/06/01/E3/PackingGroupElement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
        xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
    <include schemaLocation="importsFrom20150601E3.xsd"/>

    <complexType name="PackingGroupElementType">
        <annotation>
            <documentation xml:lang="en-GB">Packing group</documentation>
            <documentation xml:lang="da-DK">Pakkegruppe</documentation>
        </annotation>
        <sequence>
        	<element name="Identifier" type="medicinecard20150601E2:PackingGroupIdentifierType"/>
        	<element name="Name" type="medicinecard20150601:PackingGroupType"/>
            <element name="OrderedAtPharmacy" type="medicinecard20150601:OrganisationType"/>
            <element name="PackedAtOrganisation" type="medicinecard20150601:OrganisationType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
