etc/schemas/2015/06/01/E3/PersonWithPlannedDispensing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
        xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
    <include schemaLocation="importsFrom20150601E3.xsd"/>

	<element name="PersonWithPlannedDispensing" type="medicinecard20150601E3:PersonWithPlannedDispensingType">
		<annotation>
			<documentation xml:lang="en-GB">Search result element containing ids for a planned dispensing</documentation>
			<documentation xml:lang="da-DK">Element i søgeresultat indeholdende id'er for en planlagt dispensering</documentation>
		</annotation>
	</element>
	<complexType name="PersonWithPlannedDispensingType">
		<sequence>
			<choice>
				<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
				<element name="Patient" type="medicinecard20150601:PatientType"/>
			</choice>
			<element name="PlannedDispensingAndSubstitution" type="medicinecard20150601E3:PlannedDispensingAndSubstitutionType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
