etc/schemas/2015/06/01/E3/PlannedDispensing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
        xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
    <include schemaLocation="importsFrom20150601E3.xsd"/>

    <complexType name="PlannedDispensingType">
        <annotation>
            <documentation xml:lang="en-GB">Details for a planned dispensing for a drugmedication</documentation>
            <documentation xml:lang="da-DK">Detaljer vedrørende en planlagt dispensering for en given lægemiddelordination</documentation>
        </annotation>
        <sequence>
        	<element name="Identifier" type="medicinecard20150601E2:PlannedDispensingIdentifierType"/>
        	<element name="Version" type="medicinecard20150601E3:PlannedDispensingVersionType"/>
			<element name="Created" type="medicinecard20150601:CreatedType"/>
			<element name="ReportedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="Modified" type="medicinecard20150601:ModifiedType" minOccurs="0"/>
			<element name="DoseDispensingCardIdentifier" type="medicinecard20150601E2:DoseDispensingCardIdentifierType" minOccurs="0"/>
        	<element name="DrugMedication" type="medicinecard20150601:DrugMedicationIdentifierAndVersionType"/>
            <element name="Substitution" type="medicinecard20150601E2:DrugSubstitutionType" minOccurs="0"/>
            <element name="AdministrationInstruction" type="medicinecard20150601E2:AdministrationInstructionType" minOccurs="0" />
			<choice minOccurs="0">
				<element name="PlannedAdministrationAccordingToDrugMedication" type="medicinecard20150601E3:PlannedAdministrationAccordingToDrugMedicationType"/>
                <element name="PlannedAdministration" type="medicinecard20150601E2:PlannedAdministrationType"/>
			</choice>
        </sequence>
    </complexType>
</schema>
