etc/schemas/2015/06/01/E3/PlannedDispensingSummary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
		xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
	<include schemaLocation="importsFrom20150601E3.xsd"/>
	<complexType name="PlannedDispensingSummaryType">
		<sequence>
			<element name="Identifier" type="medicinecard20150601E2:PlannedDispensingIdentifierType"/>
			<element name="SubstitutionAllowed" type="medicinecard20150601:SubstitutionAllowedType" minOccurs="0"/>
			<element name="Version" type="medicinecard20150601E3:PlannedDispensingVersionType"/>
			<element name="DoseDispensingCardIdentifier" type="medicinecard20150601E2:DoseDispensingCardIdentifierType" minOccurs="0"/>
			<element name="DrugMedication" type="medicinecard20150601:DrugMedicationIdentifierAndVersionType"/>
			<element name="Substitution" type="medicinecard20150601E2:DrugSubstitutionType" minOccurs="0"/>
			<element name="AdministrationInstruction" type="medicinecard20150601E2:AdministrationInstructionType" minOccurs="0" />
		</sequence>
	</complexType>
	<annotation>
		<documentation xml:lang="en-GB">Planned dispensing identifier with information on substitution</documentation>
		<documentation xml:lang="da-DK">Planlagt dispensering med information om substitution</documentation>
	</annotation>
</schema>
