etc/schemas/2015/06/01/E3/PlannedDispensingAndSubstitution.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
        xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
    <include schemaLocation="importsFrom20150601E3.xsd"/>

	<element name="PlannedDispensingAndSubstitution" type="medicinecard20150601E3:PlannedDispensingAndSubstitutionType">
		<annotation>
			<documentation xml:lang="en-GB">Planned dispensing identifier with information on substitution</documentation>
			<documentation xml:lang="da-DK">Planlagt dispensering med information om substitution</documentation>
		</annotation>
	</element>
	<complexType name="PlannedDispensingAndSubstitutionType">
		<sequence>
        	<element name="PlannedDispensingIdentifier" type="medicinecard20150601E2:PlannedDispensingIdentifierType" />
			<element name="SubstitutionAllowed" type="medicinecard20150601:SubstitutionAllowedType" minOccurs="0"/>
			<element name="SubstitutionChosenByPatient" type="medicinecard20150601E2:SubstitutionChosenByPatientType" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
