etc/schemas/2015/06/01/E3/ResidualPrescriptionMedication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="importsFrom20150601E3.xsd"/>

	<element name="ResidualPrescriptionMedication" type="medicinecard20150601E3:ResidualPrescriptionMedicationType">
		<annotation>
			<documentation xml:lang="en-GB">Information on remaining effectuations on a prescription</documentation>
			<documentation xml:lang="da-DK">Information om resterende effektueringer på en recept</documentation>
		</annotation>
	</element>

	<complexType name="ResidualPrescriptionMedicationType">
		<sequence>
			<element name="Identifier" type="medicinecard20150601:PrescriptionIdentifierType"/>
			<element name="UnitCode" type="medicinecard20150601:PackageSizeUnitCodeType"/>
			<element name="UnitText" type="medicinecard20150601:PackageSizeUnitTextType"/>
			<element name="EffectuatedAmount" type="medicinecard20150601E3:EffectuatedAmountType"/>
			<element name="ResidualAmount" type="medicinecard20150601E3:ResidualAmountType"/>
		</sequence>
	</complexType>
</schema>
