etc/schemas/2015/06/01/E3/SearchPlannedDispensingElement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
        xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
    <include schemaLocation="importsFrom20150601E3.xsd"/>

	<element name="SearchPlannedDispensingElement" type="medicinecard20150601E3:SearchPlannedDispensingElementType">
		<annotation>
			<documentation xml:lang="en-GB">Search result element containing ids for a planned dispensing</documentation>
			<documentation xml:lang="da-DK">Element i søgeresultat indeholdende id'er for en planlagt dispensering</documentation>
		</annotation>
	</element>
	<complexType name="SearchPlannedDispensingElementType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
        	<element name="PlannedDispensingIdentifier" type="medicinecard20150601E3:PlannedDispensingIdentifierType"/>
		</sequence>
	</complexType>
</schema>
