etc/schemas/2015/06/01/E3/SearchPlannedDispensingResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
        xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
    <include schemaLocation="importsFrom20150601E3.xsd"/>

	<element name="SearchPlannedDispensingResponse" type="medicinecard20150601E3:SearchPlannedDispensingResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response with a list of Planned dispensing</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar med en liste af planlagte dispenseringer</documentation>
		</annotation>
	</element>
	<complexType name="SearchPlannedDispensingResponseType">
		<sequence>
            <element name="PlannedDispensing" type="medicinecard20150601E3:SearchPlannedDispensingElementType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
