etc/schemas/2015/06/01/E3/SetDoseDispensingStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01" 
		xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2" 
		xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3" 
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
    <include schemaLocation="importsFrom20150601E3.xsd"/>

    <complexType name="SetDoseDispensingStatusType">
        <annotation>
            <documentation xml:lang="en-GB">Element for changing status of a dose dispensing period</documentation>
            <documentation xml:lang="da-DK">Element, der ændrer status for en dosisdispenseringsperiode</documentation>
        </annotation>
        <sequence>
            <element name="Identifier" type="medicinecard20150601E2:DoseDispensingPeriodIdentifierType"/>
            <element name="ModificationMetadata" type="medicinecard20150601:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="Status" type="medicinecard20150601E2:DoseDispensingStatusType"/>
        	<element name="ProductionIdentifier" type="medicinecard20150601E2:DoseDispensingProductionIdentifierType" minOccurs="0"/> 
        </sequence>
    </complexType>
</schema>
