etc/schemas/2015/06/01/E3/SetPackingFinished.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
		xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="importsFrom20150601E3.xsd"/>

	<element name="SetPackingFinished" type="medicinecard20150601E3:SetPackingFinishedType">
		<annotation>
			<documentation xml:lang="en-GB">Element for finishing the packing of a dosedispensed period</documentation>
			<documentation xml:lang="da-DK">Element for afslutning af pakning af en dosisdispenseret periode</documentation>
		</annotation>
	</element>

	<complexType name="SetPackingFinishedType">
		<sequence>
			<element name="DoseDispensingPeriodIdentifier" type="medicinecard20150601E2:DoseDispensingPeriodIdentifierType"/>
			<element name="DoseDispensingProductionIdentifier" type="medicinecard20150601E2:DoseDispensingProductionIdentifierType"/>
			<element name="ModificationMetadata" type="medicinecard20150601:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
