etc/schemas/2015/06/01/E3/StartEffectuationOfDoseDispensingPeriodResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
        xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
    <include schemaLocation="importsFrom20150601E3.xsd"/>

	<element name="StartEffectuationOfDoseDispensingPeriodResponse" type="medicinecard20150601E3:StartEffectuationOfDoseDispensingPeriodResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response from a for a request to start effectuation for an entire DD period</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for et svar på en request som påbegynder udlevering for alt i en DD periode</documentation>
		</annotation>
	</element>
	<complexType name="StartEffectuationOfDoseDispensingPeriodResponseType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
			<element name="DoseDispensingPeriodIdentifier" type="medicinecard20150601E2:DoseDispensingPeriodIdentifierType"/>
     		<element name="DoseDispensingPeriodStatus" type="medicinecard20150601E2:DoseDispensingStatusType" />
     		<element name="PlannedDispensing" maxOccurs="unbounded">
     			<complexType>
	     			<sequence>
			        	<element name="Identifier" type="medicinecard20150601E2:PlannedDispensingIdentifierType"/>
			            <element name="Warning" type="medicinecard20150601E2:DoseDispensingWarningType" minOccurs="0" maxOccurs="unbounded"/>
	     			</sequence>
     			</complexType>
     		</element>
            <element name="Warning" type="medicinecard20150601E2:DoseDispensingWarningType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
