etc/schemas/2015/06/01/E3/StartEffectuationOfDoseDispensingPeriodRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
        xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
    <include schemaLocation="importsFrom20150601E3.xsd"/>

	<element name="StartEffectuationOfDoseDispensingPeriodRequest" type="medicinecard20150601E3:StartEffectuationOfDoseDispensingPeriodRequestType"/>

	<complexType name="StartEffectuationOfDoseDispensingPeriodRequestType">
		<annotation>
			<documentation xml:lang="en-GB">A request to start effectuation for an entire DD period</documentation>
			<documentation xml:lang="da-DK">Et request som påbegynder udlevering for alt i en DD periode</documentation>
		</annotation>
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
			<element name="ModifiedBy" type="medicinecard20150601:ModificatorType"/>
			<element name="ReportedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="IsPreflight" type="medicinecard20150601E3:IsPreflightType" minOccurs="0"/>
			<element name="StartEffectuationOfDoseDispensingPeriod" type="medicinecard20150601E3:DoseDispensingPeriodStatusChangeType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
