etc/schemas/2015/06/01/E3/UndoDiscardDoseDispensingPeriodRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
		xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
		targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
	<include schemaLocation="importsFrom20150601E3.xsd"/>

	<element name="UndoDiscardDoseDispensingPeriodRequest" type="medicinecard20150601E3:UndoDiscardDoseDispensingPeriodRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request which cancels the discarded status on a dose dispensing period</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel som fortryder kasseringen af en dosisdispenserings periode</documentation>
		</annotation>
	</element>

	<complexType name="UndoDiscardDoseDispensingPeriodRequestType">
		<sequence>
			<element name="PersonIdentifier" type="medicinecard20150601:PersonIdentifierType"/>
			<element name="ModifiedBy" type="medicinecard20150601:ModificatorType"/>
			<element name="ReportedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="UndoDiscardDoseDispensingPeriod" type="medicinecard20150601E3:UndoDiscardDoseDispensingPeriodType"  maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
