etc/schemas/2015/06/01/E3/UpdatePackingGroupResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
        xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
    <include schemaLocation="importsFrom20150601E3.xsd"/>

	<element name="UpdatePackingGroupResponse" type="medicinecard20150601E3:UpdatePackingGroupResponseType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a response to updating a DD packing group</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for svaret ved opdateringen af en DD pakkegruppe</documentation>
		</annotation>
	</element>
	<complexType name="UpdatePackingGroupResponseType">
		<sequence>
			<element name="PackingGroupIdentifier" type="medicinecard20150601E2:PackingGroupIdentifierType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
