etc/schemas/2015/06/01/E3/UpdateDoseDispensingCard.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
        xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
    <include schemaLocation="importsFrom20150601E3.xsd"/>

    <complexType name="UpdateDoseDispensingCardType">
        <annotation>
            <documentation xml:lang="en-GB">Element for updating a Dose dispensing card for a specific person</documentation>
            <documentation xml:lang="da-DK">Opdatering af et Dosisdispenseringskort for en given person</documentation>
        </annotation>
        <sequence>
        	<element name="Identifier" type="medicinecard20150601E2:DoseDispensingCardIdentifierType" />
        	<element name="ModificationMetadata" type="medicinecard20150601:ModificationMetadataType" minOccurs="0" maxOccurs="unbounded"/>
        	<element name="Description" type="medicinecard20150601E2:DoseDispensingCardDescriptionType"/>
            <element name="Delivery" type="medicinecard20150601:DeliveryType" minOccurs="0"/>
            <element name="PackingGroupIdentifier" type="medicinecard20150601E2:PackingGroupIdentifierType" minOccurs="0"/>
            <element name="OrderedAtPharmacy" type="medicinecard20150601:OrganisationType" />
            <element name="PackedAtOrganisation" type="medicinecard20150601:OrganisationType" />
            <element name="NormalPeriodDuration" type="medicinecard20150601E2:DoseDispensingPeriodDurationType" minOccurs="0"/>
            <element name="DoseDispensableUnitLabel" type="medicinecard20150601E2:DoseDispensableUnitLabelType" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>
