etc/schemas/2015/06/01/E3/UploadDrugCatalogRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:medicinecard20150601="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"
        xmlns:medicinecard20150601E2="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"
        xmlns:medicinecard20150601E3="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        targetNamespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E3"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <import schemaLocation="importsFrom20150601.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01"/>
    <import schemaLocation="importsFrom20150601E2.xsd" namespace="http://www.dkma.dk/medicinecard/xml.schema/2015/06/01/E2"/>
    <include schemaLocation="importsFrom20150601E3.xsd"/>

	<element name="UploadDrugCatalogRequest" type="medicinecard20150601E3:UploadDrugCatalogRequestType">
		<annotation>
			<documentation xml:lang="en-GB">Outer container element for a request to upload a product catalog from a packing organisation to a ordered-at pharmacy</documentation>
			<documentation xml:lang="da-DK">Ydre container-element for en forespørgsel på at uploade sortiment fra et pakkeapotek til et udleveringsapotek</documentation>
		</annotation>
	</element>
	
	<complexType name="UploadDrugCatalogRequestType">
		<sequence>
			<element name="CreatedBy" type="medicinecard20150601:ModificatorType"/>
			<element name="ReportedBy" type="medicinecard20150601:ModificatorType" minOccurs="0"/>
			<element name="DrugCatalogVersion" type="medicinecard20150601E3:DrugCatalogVersionType" />
			<element name="PackedAtOrganisation" type="medicinecard20150601:OrganisationType" />
			<element name="DrugCatalogEntry" type="medicinecard20150601E3:DrugCatalogEntryType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
